body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-17px;
  width:93px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u11089 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:15px;
  width:93px;
  height:80px;
}
#u11089_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11090 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
}
#u11091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u11091 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  display:flex;
}
#u11091 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11091_img.selected {
}
#u11091.selected {
}
#u11091_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11092_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11092 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:41px;
  height:20px;
  display:flex;
}
#u11092 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11092_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11090_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11093 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:73px;
  height:20px;
}
#u11094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11094 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:51px;
  height:20px;
  display:flex;
}
#u11094 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11094_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11095 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:73px;
  height:20px;
}
#u11096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11096 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:51px;
  height:20px;
  display:flex;
}
#u11096 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11096_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11097 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:73px;
  height:20px;
}
#u11098_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11098 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:51px;
  height:20px;
  display:flex;
}
#u11098 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11098_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
