body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:867px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:704px;
  background:-webkit-linear-gradient(270deg, rgba(118, 166, 195, 1) 0%, rgba(240, 245, 251, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(118, 166, 195, 1) 0%, rgba(240, 245, 251, 1) 100%);
  background:linear-gradient(180deg, rgba(118, 166, 195, 1) 0%, rgba(240, 245, 251, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:46px;
  width:867px;
  height:704px;
  display:flex;
}
#u1475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:46px;
  background:inherit;
  background-color:rgba(250, 253, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Black", "Arial Normal", "Arial", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:46px;
  display:flex;
  font-family:"Arial Black", "Arial Normal", "Arial", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:704px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E6E6E6;
}
#u1477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:46px;
  width:867px;
  height:704px;
  display:flex;
  color:#E6E6E6;
}
#u1477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Arial Black", "Arial Normal", "Arial", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u1478 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:378px;
  width:100px;
  height:40px;
  display:flex;
  font-family:"Arial Black", "Arial Normal", "Arial", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u1478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1478_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Arial Black", "Arial Normal", "Arial", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u1478.mouseOver {
}
#u1478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Arial Black", "Arial Normal", "Arial", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u1479 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:378px;
  width:100px;
  height:40px;
  display:flex;
  font-family:"Arial Black", "Arial Normal", "Arial", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u1479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1479_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Arial Black", "Arial Normal", "Arial", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u1479.mouseOver {
}
#u1479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1480 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:211px;
  width:86px;
  height:31px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1480 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1481 label {
  left:0px;
  width:100%;
}
#u1481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u1481 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:256px;
  width:69px;
  height:15px;
  display:flex;
}
#u1481 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1481_img.selected {
}
#u1481.selected {
}
#u1481_img.disabled {
}
#u1481.disabled {
}
#u1481_img.selected.error {
}
#u1481.selected.error {
}
#u1481_img.selected.hint {
}
#u1481.selected.hint {
}
#u1481_img.selected.error.hint {
}
#u1481.selected.error.hint {
}
#u1481_img.mouseOver.selected {
}
#u1481.mouseOver.selected {
}
#u1481_img.mouseOver.selected.error {
}
#u1481.mouseOver.selected.error {
}
#u1481_img.mouseOver.selected.hint {
}
#u1481.mouseOver.selected.hint {
}
#u1481_img.mouseOver.selected.error.hint {
}
#u1481.mouseOver.selected.error.hint {
}
#u1481_img.mouseDown.selected {
}
#u1481.mouseDown.selected {
}
#u1481_img.mouseDown.selected.error {
}
#u1481.mouseDown.selected.error {
}
#u1481_img.mouseDown.selected.hint {
}
#u1481.mouseDown.selected.hint {
}
#u1481_img.mouseDown.selected.error.hint {
}
#u1481.mouseDown.selected.error.hint {
}
#u1481_img.mouseOver.mouseDown.selected {
}
#u1481.mouseOver.mouseDown.selected {
}
#u1481_img.mouseOver.mouseDown.selected.error {
}
#u1481.mouseOver.mouseDown.selected.error {
}
#u1481_img.mouseOver.mouseDown.selected.hint {
}
#u1481.mouseOver.mouseDown.selected.hint {
}
#u1481_img.mouseOver.mouseDown.selected.error.hint {
}
#u1481.mouseOver.mouseDown.selected.error.hint {
}
#u1481_img.focused.selected {
}
#u1481.focused.selected {
}
#u1481_img.focused.selected.error {
}
#u1481.focused.selected.error {
}
#u1481_img.focused.selected.hint {
}
#u1481.focused.selected.hint {
}
#u1481_img.focused.selected.error.hint {
}
#u1481.focused.selected.error.hint {
}
#u1481_img.selected.disabled {
}
#u1481.selected.disabled {
}
#u1481_img.selected.hint.disabled {
}
#u1481.selected.hint.disabled {
}
#u1481_img.selected.error.disabled {
}
#u1481.selected.error.disabled {
}
#u1481_img.selected.error.hint.disabled {
}
#u1481.selected.error.hint.disabled {
}
#u1481_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:52px;
  word-wrap:break-word;
  text-transform:none;
}
#u1481_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1482 label {
  left:0px;
  width:100%;
}
#u1482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u1482 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:297px;
  width:45px;
  height:15px;
  display:flex;
}
#u1482 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1482_img.selected {
}
#u1482.selected {
}
#u1482_img.disabled {
}
#u1482.disabled {
}
#u1482_img.selected.error {
}
#u1482.selected.error {
}
#u1482_img.selected.hint {
}
#u1482.selected.hint {
}
#u1482_img.selected.error.hint {
}
#u1482.selected.error.hint {
}
#u1482_img.mouseOver.selected {
}
#u1482.mouseOver.selected {
}
#u1482_img.mouseOver.selected.error {
}
#u1482.mouseOver.selected.error {
}
#u1482_img.mouseOver.selected.hint {
}
#u1482.mouseOver.selected.hint {
}
#u1482_img.mouseOver.selected.error.hint {
}
#u1482.mouseOver.selected.error.hint {
}
#u1482_img.mouseDown.selected {
}
#u1482.mouseDown.selected {
}
#u1482_img.mouseDown.selected.error {
}
#u1482.mouseDown.selected.error {
}
#u1482_img.mouseDown.selected.hint {
}
#u1482.mouseDown.selected.hint {
}
#u1482_img.mouseDown.selected.error.hint {
}
#u1482.mouseDown.selected.error.hint {
}
#u1482_img.mouseOver.mouseDown.selected {
}
#u1482.mouseOver.mouseDown.selected {
}
#u1482_img.mouseOver.mouseDown.selected.error {
}
#u1482.mouseOver.mouseDown.selected.error {
}
#u1482_img.mouseOver.mouseDown.selected.hint {
}
#u1482.mouseOver.mouseDown.selected.hint {
}
#u1482_img.mouseOver.mouseDown.selected.error.hint {
}
#u1482.mouseOver.mouseDown.selected.error.hint {
}
#u1482_img.focused.selected {
}
#u1482.focused.selected {
}
#u1482_img.focused.selected.error {
}
#u1482.focused.selected.error {
}
#u1482_img.focused.selected.hint {
}
#u1482.focused.selected.hint {
}
#u1482_img.focused.selected.error.hint {
}
#u1482.focused.selected.error.hint {
}
#u1482_img.selected.disabled {
}
#u1482.selected.disabled {
}
#u1482_img.selected.hint.disabled {
}
#u1482.selected.hint.disabled {
}
#u1482_img.selected.error.disabled {
}
#u1482.selected.error.disabled {
}
#u1482_img.selected.error.hint.disabled {
}
#u1482.selected.error.hint.disabled {
}
#u1482_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:28px;
  word-wrap:break-word;
  text-transform:none;
}
#u1482_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
