body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1156px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9939 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:750px;
}
#u9939_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:750px;
  overflow:auto;
}
#u9940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:606px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9940 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:95px;
  width:618px;
  height:606px;
  display:flex;
}
#u9940 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9940_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9941 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:33px;
}
#u9942 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:7px;
  width:30px;
  height:33px;
  display:flex;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u9942 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9942_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
}
#u9943 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:15px;
  width:21px;
  height:14px;
  display:flex;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u9943 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9943_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9944 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9945 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:606px;
  background:inherit;
  background-color:rgba(234, 237, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9946 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:95px;
  width:618px;
  height:606px;
  display:flex;
}
#u9946 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9946_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:41px;
  display:flex;
}
#u9948 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9948_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9948.mouseOver {
}
#u9948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:41px;
  width:873px;
  height:54px;
  display:flex;
}
#u9949 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9950 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:701px;
  width:873px;
  height:49px;
  display:flex;
}
#u9950 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9950_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9951_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9951_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9951_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9951_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9951 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:706px;
  width:81px;
  height:39px;
  display:flex;
  font-size:14px;
}
#u9951 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9951_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9951.hint {
}
#u9951_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:39px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9951.disabled {
}
#u9951_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:39px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9951.hint.disabled {
}
#u9952_input {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:44px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9952_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:44px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9952_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:44px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9952_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:44px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9952 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:46px;
  width:118px;
  height:44px;
  display:flex;
  font-size:16px;
}
#u9952 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9952_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9952.hint {
}
#u9952_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:44px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9952.disabled {
}
#u9952_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:44px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9952.hint.disabled {
}
#u9953_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9953_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9953_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9953_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:center;
}
#u9953 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:48px;
  width:110px;
  height:39px;
  display:flex;
  font-size:14px;
  text-align:center;
}
#u9953 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9953_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:center;
}
#u9953.hint {
}
#u9953_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:39px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:center;
}
#u9953.disabled {
}
#u9953_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:39px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:center;
}
#u9953.hint.disabled {
}
#u9954 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9955 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:15px;
  width:89px;
  height:28px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9955 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9955_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9955.mouseOver {
}
#u9955_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9956 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:15px;
  width:58px;
  height:32px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9956 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9956_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9956.mouseOver {
}
#u9956_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9957 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:15px;
  width:71px;
  height:28px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9957 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9957_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9957.mouseOver {
}
#u9957_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9958 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:15px;
  width:65px;
  height:28px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9958 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9958_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9958.mouseOver {
}
#u9958_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9959 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:15px;
  width:29px;
  height:18px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9959 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9959_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9959.mouseOver {
}
#u9959_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9960 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:15px;
  width:31px;
  height:18px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9960 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9960_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9960.mouseOver {
}
#u9960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:23px;
}
#u9961 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:56px;
  width:19px;
  height:23px;
  display:flex;
}
#u9961 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u9962 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:15px;
  width:11px;
  height:19px;
  display:flex;
}
#u9962 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:606px;
  background:inherit;
  background-color:rgba(234, 237, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9964 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:95px;
  width:618px;
  height:606px;
  display:flex;
}
#u9964 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9964_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9965_input {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:26px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9965_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:26px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9965_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:26px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9965_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:26px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  font-size:16px;
}
#u9965 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:164px;
  width:113px;
  height:26px;
  display:flex;
  font-size:16px;
}
#u9965 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9965_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  font-size:16px;
}
#u9965.hint {
}
#u9965_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:26px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  font-size:16px;
}
#u9965.disabled {
}
#u9965_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:26px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  font-size:16px;
}
#u9965.hint.disabled {
}
#u9966_input {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:37px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9966_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:37px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9966_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:37px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9966_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:37px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:37px;
  background:inherit;
  background-color:rgba(234, 237, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u9966 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:245px;
  width:167px;
  height:37px;
  display:flex;
  font-size:15px;
}
#u9966 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9966_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:37px;
  background:inherit;
  background-color:rgba(234, 237, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u9966.hint {
}
#u9966_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:37px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u9966.disabled {
}
#u9966_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:37px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u9966.hint.disabled {
}
#u9967_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:31px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9967_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:31px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9967_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:31px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9967_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:31px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  font-size:15px;
}
#u9967 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:282px;
  width:190px;
  height:31px;
  display:flex;
  font-size:15px;
}
#u9967 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9967_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  font-size:15px;
}
#u9967.hint {
}
#u9967_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:31px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  font-size:15px;
}
#u9967.disabled {
}
#u9967_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:31px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  font-size:15px;
}
#u9967.hint.disabled {
}
#u9968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:2px;
}
#u9968 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:120px;
  width:583px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.25853187416945606deg);
  -moz-transform:rotate(0.25853187416945606deg);
  -ms-transform:rotate(0.25853187416945606deg);
  transform:rotate(0.25853187416945606deg);
}
#u9968 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9969_input {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:31px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9969_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:31px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9969_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:31px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9969_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:31px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:31px;
  background:inherit;
  background-color:rgba(234, 237, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9969 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:133px;
  width:118px;
  height:31px;
  display:flex;
  font-size:16px;
}
#u9969 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9969_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:31px;
  background:inherit;
  background-color:rgba(234, 237, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9969.hint {
}
#u9969_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:31px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9969.disabled {
}
#u9969_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:31px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9969.hint.disabled {
}
#u9970_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9970_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9970_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9970_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
  background:inherit;
  background-color:rgba(234, 237, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9970 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:137px;
  width:101px;
  height:27px;
  display:flex;
  font-size:16px;
}
#u9970 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9970_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
  background:inherit;
  background-color:rgba(234, 237, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9970.hint {
}
#u9970_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9970.disabled {
}
#u9970_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9970.hint.disabled {
}
#u9971_input {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:26px;
  padding:2px 2px 2px 2px;
  font-family:"Comic Sans MS Normal", "Comic Sans MS", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9971_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:26px;
  padding:2px 2px 2px 2px;
  font-family:"Comic Sans MS Normal", "Comic Sans MS", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9971_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:26px;
  padding:2px 2px 2px 2px;
  font-family:"Comic Sans MS Normal", "Comic Sans MS", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9971_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:26px;
  padding:2px 2px 2px 2px;
  font-family:"Comic Sans MS Normal", "Comic Sans MS", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Comic Sans MS Normal", "Comic Sans MS", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9971 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:164px;
  width:46px;
  height:26px;
  display:flex;
  font-family:"Comic Sans MS Normal", "Comic Sans MS", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9971 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9971_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Comic Sans MS Normal", "Comic Sans MS", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9971.hint {
}
#u9971_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:26px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Comic Sans MS Normal", "Comic Sans MS", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9971.disabled {
}
#u9971_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:26px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Comic Sans MS Normal", "Comic Sans MS", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9971.hint.disabled {
}
#u9972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:9px;
}
#u9972 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:164px;
  width:18px;
  height:9px;
  display:flex;
}
#u9972 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9972_img.mouseOver {
}
#u9972.mouseOver {
}
#u9972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:9px;
}
#u9973 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:181px;
  width:18px;
  height:9px;
  display:flex;
}
#u9973 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9973_img.mouseOver {
}
#u9973.mouseOver {
}
#u9973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9974_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9974_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9974_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9974_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9974_input.mouseOver.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9974_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  font-size:16px;
  text-align:center;
}
#u9974 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:648px;
  width:64px;
  height:26px;
  display:flex;
  font-size:16px;
  text-align:center;
}
#u9974 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9974_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  background:inherit;
  background-color:rgba(26, 188, 156, 0.8);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  font-size:16px;
  text-align:center;
}
#u9974.mouseOver {
}
#u9974_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  font-size:16px;
  text-align:center;
}
#u9974.hint {
}
#u9974_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  font-size:16px;
  text-align:center;
}
#u9974.disabled {
}
#u9974_div.mouseOver.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  background:inherit;
  background-color:rgba(26, 188, 156, 0.8);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  font-size:16px;
  text-align:center;
}
#u9974.mouseOver.hint {
}
#u9974_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.34901960784313724);
  font-size:16px;
  text-align:center;
}
#u9974.hint.disabled {
}
#u9975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
}
#u9975 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:271px;
  width:114px;
  height:26px;
  display:flex;
}
#u9975 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9976_input {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:606px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9976_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:606px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:606px;
  background:inherit;
  background-color:rgba(234, 237, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9976 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:95px;
  width:255px;
  height:606px;
  display:flex;
}
#u9976 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9976_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:606px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9976.disabled {
}
.u9976_input_option {
  font-size:16px;
}
