body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:739px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:739px;
  height:473px;
  background:-webkit-linear-gradient(270deg, rgba(118, 166, 195, 1) 0%, rgba(240, 245, 251, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(118, 166, 195, 1) 0%, rgba(240, 245, 251, 1) 100%);
  background:linear-gradient(180deg, rgba(118, 166, 195, 1) 0%, rgba(240, 245, 251, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:739px;
  height:473px;
  display:flex;
}
#u6162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:739px;
  height:31px;
  background:-webkit-linear-gradient(270deg, rgba(79, 104, 125, 1) 0%, rgba(26, 35, 56, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(79, 104, 125, 1) 0%, rgba(26, 35, 56, 1) 100%);
  background:linear-gradient(180deg, rgba(79, 104, 125, 1) 0%, rgba(26, 35, 56, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:739px;
  height:31px;
  display:flex;
}
#u6163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:31px;
}
#u6164 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:0px;
  width:29px;
  height:31px;
  display:flex;
}
#u6164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6164_img.mouseOver {
}
#u6164.mouseOver {
}
#u6164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:52px;
}
#u6166 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:48px;
  width:45px;
  height:42px;
  display:flex;
  color:#FFFFFF;
}
#u6166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u6167 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:54px;
  width:31px;
  height:30px;
  display:flex;
  color:#FFFFFF;
}
#u6167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6167_img.mouseOver {
}
#u6167.mouseOver {
}
#u6167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:52px;
}
#u6169 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:120px;
  width:45px;
  height:42px;
  display:flex;
}
#u6169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
}
#u6170 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:125px;
  width:31px;
  height:32px;
  display:flex;
  color:#FACD91;
}
#u6170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6170_img.mouseOver {
}
#u6170.mouseOver {
}
#u6170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:52px;
}
#u6173 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:192px;
  width:45px;
  height:42px;
  display:flex;
}
#u6173 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:28px;
}
#u6174 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:199px;
  width:31px;
  height:28px;
  display:flex;
}
#u6174 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6174_img.mouseOver {
}
#u6174.mouseOver {
  opacity:0.5;
}
#u6174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:52px;
}
#u6176 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:264px;
  width:45px;
  height:42px;
  display:flex;
}
#u6176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:34px;
}
#u6177 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:268px;
  width:31px;
  height:34px;
  display:flex;
}
#u6177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6177_img.mouseOver {
}
#u6177.mouseOver {
}
#u6177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:52px;
}
#u6179 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:336px;
  width:45px;
  height:42px;
  display:flex;
}
#u6179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u6180 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:342px;
  width:31px;
  height:30px;
  display:flex;
}
#u6180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6180_img.mouseOver {
}
#u6180.mouseOver {
}
#u6180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:52px;
}
#u6182 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:408px;
  width:45px;
  height:42px;
  display:flex;
}
#u6182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:35px;
}
#u6183 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:412px;
  width:38px;
  height:35px;
  display:flex;
}
#u6183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6183_img.mouseOver {
}
#u6183.mouseOver {
}
#u6183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
}
#u6184 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:0px;
  width:33px;
  height:31px;
  display:flex;
  color:#EAFEFF;
}
#u6184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u6185 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:0px;
  width:31px;
  height:31px;
  display:flex;
}
#u6185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6185_img.mouseOver {
}
#u6185.mouseOver {
}
#u6185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:31px;
}
#u6186 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:0px;
  width:35px;
  height:31px;
  display:flex;
}
#u6186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6186_img.mouseOver {
}
#u6186.mouseOver {
}
#u6186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6187 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:8px;
  width:29px;
  height:15px;
  display:flex;
  color:#FFFFFF;
}
#u6187 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6187_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Comic Sans MS Negreta", "Comic Sans MS Normal", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  text-align:center;
}
#u6188 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:71px;
  width:548px;
  height:66px;
  display:flex;
  font-family:"Comic Sans MS Negreta", "Comic Sans MS Normal", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  text-align:center;
}
#u6188 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u6189 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:0px;
  width:31px;
  height:31px;
  display:flex;
}
#u6189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6189_img.mouseOver {
}
#u6189.mouseOver {
}
#u6189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6191 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:48px;
  width:115px;
  height:29px;
  display:flex;
}
#u6191 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Cursiva", "Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:italic;
  text-align:center;
}
#u6192 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:48px;
  width:105px;
  height:14px;
  display:flex;
  font-family:"Arial Cursiva", "Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:italic;
  text-align:center;
}
#u6192 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u6193 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:51px;
  width:93px;
  height:36px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u6193 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u6194 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:123px;
  width:117px;
  height:36px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u6194 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u6195 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:195px;
  width:195px;
  height:36px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u6195 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u6196 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:267px;
  width:107px;
  height:36px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u6196 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u6197 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:342px;
  width:107px;
  height:36px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u6197 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u6198 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:414px;
  width:139px;
  height:36px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u6198 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u6199 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:0px;
  width:36px;
  height:31px;
  display:flex;
}
#u6199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6199_img.mouseOver {
}
#u6199.mouseOver {
}
#u6199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6200_input {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6200_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6200_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6200_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6200 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:285px;
  width:185px;
  height:25px;
  display:flex;
}
#u6200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6200_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6200.hint {
}
#u6200_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6200.disabled {
}
#u6200_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6200.hint.disabled {
}
#u6201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6201 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:199px;
  width:140px;
  height:40px;
  display:flex;
}
#u6201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
