body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:738.9988207547248px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u11465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:739px;
  height:473px;
}
#u11465 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:31px;
  width:739px;
  height:473px;
  display:flex;
}
#u11465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:739px;
  height:31px;
  background:-webkit-linear-gradient(270deg, rgba(217, 239, 228, 1) 0%, rgba(52, 191, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(217, 239, 228, 1) 0%, rgba(52, 191, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(217, 239, 228, 1) 0%, rgba(52, 191, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u11466 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:739px;
  height:31px;
  display:flex;
  text-align:left;
}
#u11466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u11467 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:5px;
  width:176px;
  height:21px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u11467 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11467_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:739px;
  height:50px;
}
#u11468 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:31px;
  width:739px;
  height:50px;
  display:flex;
  color:rgba(51, 51, 51, 0.996078431372549);
}
#u11468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u11469 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:42px;
  width:247px;
  height:28px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u11469 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11469_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:423px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11470 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:81px;
  width:192px;
  height:423px;
  display:flex;
}
#u11470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11471 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:81px;
  width:543px;
  height:419px;
}
#u11471_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:419px;
  overflow:auto;
}
#u11472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:29px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11472 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:103px;
  width:192px;
  height:29px;
  display:flex;
}
#u11472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:29px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11473 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:143px;
  width:192px;
  height:29px;
  display:flex;
}
#u11473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:29px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11474 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:183px;
  width:192px;
  height:29px;
  display:flex;
}
#u11474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:29px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:223px;
  width:192px;
  height:29px;
  display:flex;
}
#u11475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u11476 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:107px;
  width:72px;
  height:21px;
  display:flex;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u11476 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11476_img.selected {
}
#u11476.selected {
}
#u11476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:21px;
}
#u11477 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:148px;
  width:54px;
  height:21px;
  display:flex;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u11477 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11477_img.selected {
}
#u11477.selected {
}
#u11477_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:21px;
}
#u11478 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:189px;
  width:36px;
  height:21px;
  display:flex;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u11478 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11478_img.selected {
}
#u11478.selected {
}
#u11478_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u11479 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:230px;
  width:72px;
  height:21px;
  display:flex;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u11479 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11479_img.selected {
}
#u11479.selected {
}
#u11479_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11480 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:477px;
  width:30px;
  height:19px;
  display:flex;
}
#u11480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11480_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:2px;
}
#u11481 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:495px;
  width:30px;
  height:1px;
  display:flex;
}
#u11481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:2px;
}
#u11482 {
  border-width:0px;
  position:absolute;
  left:-211px;
  top:292px;
  width:423px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(90.00031945994198deg);
  -moz-transform:rotate(90.00031945994198deg);
  -ms-transform:rotate(90.00031945994198deg);
  transform:rotate(90.00031945994198deg);
}
#u11482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:2px;
}
#u11483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:503px;
  width:192px;
  height:1px;
  display:flex;
}
#u11483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
