body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:867px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:704px;
  background:-webkit-linear-gradient(270deg, rgba(118, 166, 195, 1) 0%, rgba(240, 245, 251, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(118, 166, 195, 1) 0%, rgba(240, 245, 251, 1) 100%);
  background:linear-gradient(180deg, rgba(118, 166, 195, 1) 0%, rgba(240, 245, 251, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:46px;
  width:867px;
  height:704px;
  display:flex;
}
#u1483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:46px;
  background:inherit;
  background-color:rgba(250, 253, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Black", "Arial Normal", "Arial", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1484 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:46px;
  display:flex;
  font-family:"Arial Black", "Arial Normal", "Arial", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:704px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E6E6E6;
}
#u1485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:46px;
  width:867px;
  height:704px;
  display:flex;
  color:#E6E6E6;
}
#u1485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Arial Black", "Arial Normal", "Arial", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u1486 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:641px;
  width:100px;
  height:40px;
  display:flex;
  font-family:"Arial Black", "Arial Normal", "Arial", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u1486 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1486_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Arial Black", "Arial Normal", "Arial", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u1486.mouseOver {
}
#u1486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:499px;
}
#u1487 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:168px;
  width:518px;
  height:499px;
  display:flex;
}
#u1487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1488 label {
  left:0px;
  width:100%;
}
#u1488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u1488 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:91px;
  width:83px;
  height:15px;
  display:flex;
}
#u1488 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1488_img.selected {
}
#u1488.selected {
}
#u1488_img.disabled {
}
#u1488.disabled {
}
#u1488_img.selected.error {
}
#u1488.selected.error {
}
#u1488_img.selected.hint {
}
#u1488.selected.hint {
}
#u1488_img.selected.error.hint {
}
#u1488.selected.error.hint {
}
#u1488_img.mouseOver.selected {
}
#u1488.mouseOver.selected {
}
#u1488_img.mouseOver.selected.error {
}
#u1488.mouseOver.selected.error {
}
#u1488_img.mouseOver.selected.hint {
}
#u1488.mouseOver.selected.hint {
}
#u1488_img.mouseOver.selected.error.hint {
}
#u1488.mouseOver.selected.error.hint {
}
#u1488_img.mouseDown.selected {
}
#u1488.mouseDown.selected {
}
#u1488_img.mouseDown.selected.error {
}
#u1488.mouseDown.selected.error {
}
#u1488_img.mouseDown.selected.hint {
}
#u1488.mouseDown.selected.hint {
}
#u1488_img.mouseDown.selected.error.hint {
}
#u1488.mouseDown.selected.error.hint {
}
#u1488_img.mouseOver.mouseDown.selected {
}
#u1488.mouseOver.mouseDown.selected {
}
#u1488_img.mouseOver.mouseDown.selected.error {
}
#u1488.mouseOver.mouseDown.selected.error {
}
#u1488_img.mouseOver.mouseDown.selected.hint {
}
#u1488.mouseOver.mouseDown.selected.hint {
}
#u1488_img.mouseOver.mouseDown.selected.error.hint {
}
#u1488.mouseOver.mouseDown.selected.error.hint {
}
#u1488_img.focused.selected {
}
#u1488.focused.selected {
}
#u1488_img.focused.selected.error {
}
#u1488.focused.selected.error {
}
#u1488_img.focused.selected.hint {
}
#u1488.focused.selected.hint {
}
#u1488_img.focused.selected.error.hint {
}
#u1488.focused.selected.error.hint {
}
#u1488_img.selected.disabled {
}
#u1488.selected.disabled {
}
#u1488_img.selected.hint.disabled {
}
#u1488.selected.hint.disabled {
}
#u1488_img.selected.error.disabled {
}
#u1488.selected.error.disabled {
}
#u1488_img.selected.error.hint.disabled {
}
#u1488.selected.error.hint.disabled {
}
#u1488_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:66px;
  word-wrap:break-word;
  text-transform:none;
}
#u1488_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1489_input {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:37px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1489_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:37px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1489 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:83px;
  width:352px;
  height:37px;
  display:flex;
}
#u1489 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1489_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:37px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1489.disabled {
}
.u1489_input_option {
}
