<!DOCTYPE html>
<html>
  <head>
    <title>Compound 9.3</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/compound_9_3/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/compound_9_3/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Group) -->
      <div id="u8073" class="ax_default" data-left="0" data-top="0" data-width="867" data-height="750" layer-opacity="1">

        <!-- 内部框架 (Inline Frame) -->
        <div id="u8074" class="ax_default" data-label="内部框架">
          <iframe id="u8074_input" data-label="内部框架" src="http://127.0.0.1:5000/u8074_input"></iframe>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u8075" class="ax_default" data-left="246" data-top="95" data-width="620" data-height="606" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u8076" class="ax_default box_1">
            <div id="u8076_div" class=""></div>
            <div id="u8076_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u8077" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="257" data-top="101" data-width="576" data-height="336" layer-opacity="1">

            <!-- Unnamed (Text Field) -->
            <div id="u8078" class="ax_default text_field">
              <div id="u8078_div" class=""></div>
              <input id="u8078_input" type="text" value="Weight:" class="u8078_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8079" class="ax_default text_field">
              <div id="u8079_div" class=""></div>
              <input id="u8079_input" type="text" value="Compound Name" class="u8079_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8080" class="ax_default text_field">
              <div id="u8080_div" class=""></div>
              <input id="u8080_input" type="text" value="Modified: 2005 May 13" class="u8080_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8081" class="ax_default text_field">
              <div id="u8081_div" class=""></div>
              <input id="u8081_input" type="text" value="" class="u8081_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8082" class="ax_default text_field">
              <div id="u8082_div" class=""></div>
              <input id="u8082_input" type="text" value="Reference no." class="u8082_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8083" class="ax_default text_field">
              <div id="u8083_div" class=""></div>
              <input id="u8083_input" type="text" value="" class="u8083_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8084" class="ax_default text_field">
              <div id="u8084_div" class=""></div>
              <input id="u8084_input" type="text" value="" class="u8084_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8085" class="ax_default text_field">
              <div id="u8085_div" class=""></div>
              <input id="u8085_input" type="text" value="Comments" class="u8085_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8086" class="ax_default text_field">
              <div id="u8086_div" class=""></div>
              <input id="u8086_input" type="text" value="" class="u8086_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8087" class="ax_default text_field">
              <div id="u8087_div" class=""></div>
              <input id="u8087_input" type="text" value="Mg properties" class="u8087_input" readonly/>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u8088" class="ax_default" data-left="266" data-top="349" data-width="567" data-height="88" layer-opacity="1">

              <!-- Unnamed (Text Field) -->
              <div id="u8089" class="ax_default text_field">
                <div id="u8089_div" class=""></div>
                <input id="u8089_input" type="text" value="" class="u8089_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u8090" class="ax_default text_field">
                <div id="u8090_div" class=""></div>
                <input id="u8090_input" type="text" value="Mg" class="u8090_input" readonly/>
              </div>

              <!-- Unnamed (Line) -->
              <div id="u8091" class="ax_default line">
                <img id="u8091_img" class="img " src="{{ url_for('static', filename='images/compound_11_0______/u6960.svg') }}"/>
                <div id="u8091_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Line) -->
              <div id="u8092" class="ax_default line">
                <img id="u8092_img" class="img " src="{{ url_for('static', filename='images/compound_11_0______/u6960.svg') }}"/>
                <div id="u8092_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Vertical Line) -->
              <div id="u8093" class="ax_default line">
                <img id="u8093_img" class="img " src="{{ url_for('static', filename='images/compound_14_5/u6223.svg') }}"/>
                <div id="u8093_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u8094" class="ax_default text_field">
                <div id="u8094_div" class=""></div>
                <input id="u8094_input" type="text" value="Real Stoichiometry(for advances users only)" class="u8094_input" readonly/>
              </div>

              <!-- Unnamed (Vertical Line) -->
              <div id="u8095" class="ax_default line">
                <img id="u8095_img" class="img " src="{{ url_for('static', filename='images/compound_14_5/u6223.svg') }}"/>
                <div id="u8095_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8096" class="ax_default text_field">
              <div id="u8096_div" class=""></div>
              <input id="u8096_input" type="text" value="" class="u8096_input"/>
            </div>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u8097" class="ax_default" data-left="0" data-top="0" data-width="867" data-height="750" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u8098" class="ax_default box_1">
            <div id="u8098_div" class=""></div>
            <div id="u8098_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u8099" class="ax_default box_1">
            <div id="u8099_div" class=""></div>
            <div id="u8099_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u8100" class="ax_default box_1">
            <div id="u8100_div" class=""></div>
            <div id="u8100_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u8101" class="ax_default text_field">
            <div id="u8101_div" class=""></div>
            <input id="u8101_input" type="text" value="FactSage" class="u8101_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u8102" class="ax_default text_field">
            <div id="u8102_div" class=""></div>
            <input id="u8102_input" type="text" value="C:\FACTSAGE\USERDATA\EXAMPLEBASE.CDB(v5.0) 0 compound(s) read/write" class="u8102_input" readonly/>
          </div>

          <!-- Unnamed (List Box) -->
          <div id="u8103" class="ax_default list_box">
            <div id="u8103_div" class=""></div>
            <select id="u8103_input" size="2" class="u8103_input">
              <option class="u8103_input_option" value="...r    BINSBASE">...r&nbsp; &nbsp; BINSBASE</option>
              <option class="u8103_input_option" value="...r    ELEMBASE  ">...r&nbsp; &nbsp; ELEMBASE&nbsp; </option>
              <option class="u8103_input_option" value="...r/w    EXAMBASE">...r/w&nbsp; &nbsp; EXAMBASE</option>
              <option class="u8103_input_option" value="     ...      Cl[-]">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; Cl[-]</option>
              <option class="u8103_input_option" value="     ...      Cl">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; Cl</option>
              <option class="u8103_input_option" value="     ...      Cl[+]">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; Cl[+]</option>
              <option class="u8103_input_option" value="     ...      Cl2[-]">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; Cl2[-]</option>
              <option class="u8103_input_option" value="     ...      Cl2">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; Cl2</option>
              <option class="u8103_input_option" value="     ...      Cl2[+]">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; Cl2[+]</option>
              <option class="u8103_input_option" value="     ...      Mg">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; Mg</option>
              <option class="u8103_input_option" value="     ...      Mg[+]">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; Mg[+]</option>
              <option class="u8103_input_option" value="     ...      Mg[2+]">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; Mg[2+]</option>
              <option class="u8103_input_option" value="     ...      Mg2 ">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; Mg2 </option>
              <option class="u8103_input_option" value="...r    FACT53BASE  ">...r&nbsp; &nbsp; FACT53BASE&nbsp; </option>
              <option class="u8103_input_option" value="...r    FACTBASE">...r&nbsp; &nbsp; FACTBASE</option>
              <option class="u8103_input_option" value="...r    FScoppBASE">...r&nbsp; &nbsp; FScoppBASE</option>
              <option class="u8103_input_option" value="...r    FSleadBASE">...r&nbsp; &nbsp; FSleadBASE</option>
              <option class="u8103_input_option" value="...r    FSliteBASE">...r&nbsp; &nbsp; FSliteBASE</option>
              <option class="u8103_input_option" value="...r    FSnoblBASE">...r&nbsp; &nbsp; FSnoblBASE</option>
              <option class="u8103_input_option" value="...r    FSstelBASE">...r&nbsp; &nbsp; FSstelBASE</option>
              <option class="u8103_input_option" value="...r    FSupsiBASE">...r&nbsp; &nbsp; FSupsiBASE</option>
              <option class="u8103_input_option" value="...r    FThallBASE">...r&nbsp; &nbsp; FThallBASE</option>
              <option class="u8103_input_option" value="...r    FThelgBASE">...r&nbsp; &nbsp; FThelgBASE</option>
              <option class="u8103_input_option" value="...r/w    FTliBASE">...r/w&nbsp; &nbsp; FTliBASE</option>
              <option class="u8103_input_option" value="...r    FTliteBASE">...r&nbsp; &nbsp; FTliteBASE</option>
              <option class="u8103_input_option" value="...r    FTmiscBASE">...r&nbsp; &nbsp; FTmiscBASE</option>
              <option class="u8103_input_option" value="...r    FToxidBASE">...r&nbsp; &nbsp; FToxidBASE</option>
              <option class="u8103_input_option" value="...r    FTpulpBASE">...r&nbsp; &nbsp; FTpulpBASE</option>
              <option class="u8103_input_option" value="...r    FTsaltBASE">...r&nbsp; &nbsp; FTsaltBASE</option>
              <option class="u8103_input_option" value="...r    USERDATA">...r&nbsp; &nbsp; USERDATA</option>
            </select>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u8104" class="ax_default text_field">
            <div id="u8104_div" class=""></div>
            <input id="u8104_input" type="text" value="Formula" class="u8104_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u8105" class="ax_default text_field">
            <div id="u8105_div" class=""></div>
            <input id="u8105_input" type="text" value="MgCl2" class="u8105_input"/>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u8106" class="ax_default _形状">
            <img id="u8106_img" class="img " src="{{ url_for('static', filename='images/compound_3_1/u6907.svg') }}"/>
            <div id="u8106_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u8107" class="ax_default" data-left="63" data-top="15" data-width="463" data-height="32" layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u8108" class="ax_default _段落">
              <div id="u8108_div" class=""></div>
              <div id="u8108_text" class="text ">
                <p><span>Edit</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8109" class="ax_default _二级标题">
              <div id="u8109_div" class=""></div>
              <div id="u8109_text" class="text ">
                <p><span>ViewData</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8110" class="ax_default _二级标题">
              <div id="u8110_div" class=""></div>
              <div id="u8110_text" class="text ">
                <p><span>Units</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8111" class="ax_default _二级标题">
              <div id="u8111_div" class=""></div>
              <div id="u8111_text" class="text ">
                <p><span>Tools</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8112" class="ax_default _二级标题">
              <div id="u8112_div" class=""></div>
              <div id="u8112_text" class="text ">
                <p><span>Help</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8113" class="ax_default _三级标题">
              <div id="u8113_div" class=""></div>
              <div id="u8113_text" class="text ">
                <p><span>File</span></p>
              </div>
            </div>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u8114" class="ax_default _形状">
          <img id="u8114_img" class="img " src="{{ url_for('static', filename='images/compound_3_1/u6917.svg') }}"/>
          <div id="u8114_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Hot Spot) -->
        <div id="u8115" class="ax_default">
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u8116" class="ax_default _三级标题">
          <div id="u8116_div" class=""></div>
          <div id="u8116_text" class="text ">
            <p><span>View</span></p>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
