<!DOCTYPE html>
<html>
<head>
    <title>Compound 17.1</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/compound_17_1/styles.css') }}" type="text/css" rel="stylesheet"/>

    <script>
        document.oncontextmenu = function (event) {
            event = event || window.event;
            var targetElement = event.target || event.srcElement;
            if (!targetElement) return true;

            if (targetElement.tagName) {
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||
                    targetElement.tagName.toLowerCase() === "textarea") {
                    return true;
                }
            }
            return false;
        }
    </script>
    <script src
                    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/compound_17_1/data.js') }}"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () {
            return 'resources/images/transparent.gif';
        };
        $axure.utils.getOtherPath = function () {
            return 'resources/Other.html';
        };
        $axure.utils.getReloadPath = function () {
            return 'resources/reload.html';
        };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- Unnamed (Group) -->
    <div id="u8513" class="ax_default" data-left="0" data-top="0" data-width="867" data-height="750" layer-opacity="1">

        <!-- 内部框架 (Inline Frame) -->
        <div id="u8514" class="ax_default" data-label="内部框架">
            <iframe id="u8514_input" data-label="内部框架" allowfullscreen ></iframe>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u8515" class="ax_default" data-left="246" data-top="95" data-width="620" data-height="606"
             layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u8516" class="ax_default box_1">
                <div id="u8516_div" class=""></div>
                <div id="u8516_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8517" class="ax_default text_field">
                <div id="u8517_div" class=""></div>
                <input id="u8517_input" type="text" value="Weight : " class="u8517_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8518" class="ax_default text_field">
                <div id="u8518_div" class=""></div>
                <input id="u8518_input" type="text" value="Compound Name" class="u8518_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8519" class="ax_default text_field">
                <div id="u8519_div" class=""></div>
                <input id="u8519_input" type="text" value="Modified: 2009 Mar 05" class="u8519_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8520" class="ax_default text_field">
                <div id="u8520_div" class=""></div>
                <input id="u8520_input" type="text" value="" class="u8520_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8521" class="ax_default text_field">
                <div id="u8521_div" class=""></div>
                <input id="u8521_input" type="text" value="Reference no." class="u8521_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8522" class="ax_default text_field">
                <div id="u8522_div" class=""></div>
                <input id="u8522_input" type="text" value="" class="u8522_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8523" class="ax_default text_field">
                <div id="u8523_div" class=""></div>
                <input id="u8523_input" type="text" value="" class="u8523_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8524" class="ax_default text_field">
                <div id="u8524_div" class=""></div>
                <input id="u8524_input" type="text" value="Comments" class="u8524_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8525" class="ax_default text_field">
                <div id="u8525_div" class=""></div>
                <input id="u8525_input" type="text"
                       value="Properties calculated assuming complete combustion and Cp = 2 J/gK-1"
                       class="u8525_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8526" class="ax_default text_field">
                <div id="u8526_div" class=""></div>
                <input id="u8526_input" type="text" value="SC73H97 properties" class="u8526_input" readonly/>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u8527" class="ax_default" data-left="260" data-top="343" data-width="567" data-height="88"
                 layer-opacity="1">

                <!-- Unnamed (Text Field) -->
                <div id="u8528" class="ax_default text_field">
                    <div id="u8528_div" class=""></div>
                    <input id="u8528_input" type="text" value="72.582996" class="u8528_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u8529" class="ax_default text_field">
                    <div id="u8529_div" class=""></div>
                    <input id="u8529_input" type="text" value="C" class="u8529_input" readonly/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u8530" class="ax_default text_field">
                    <div id="u8530_div" class=""></div>
                    <input id="u8530_input" type="text" value="1" class="u8530_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u8531" class="ax_default text_field">
                    <div id="u8531_div" class=""></div>
                    <input id="u8531_input" type="text" value="S" class="u8531_input" readonly/>
                </div>

                <!-- Unnamed (Line) -->
                <div id="u8532" class="ax_default line">
                    <img id="u8532_img" class="img "
                         src="{{ url_for('static', filename='images/compound_11_0______/u6960.svg') }}"/>
                    <div id="u8532_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Line) -->
                <div id="u8533" class="ax_default line">
                    <img id="u8533_img" class="img "
                         src="{{ url_for('static', filename='images/compound_11_0______/u6960.svg') }}"/>
                    <div id="u8533_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Vertical Line) -->
                <div id="u8534" class="ax_default line">
                    <img id="u8534_img" class="img "
                         src="{{ url_for('static', filename='images/compound_14_5/u6223.svg') }}"/>
                    <div id="u8534_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u8535" class="ax_default text_field">
                    <div id="u8535_div" class=""></div>
                    <input id="u8535_input" type="text" value="Real Stoichiometry(for advances users only)"
                           class="u8535_input" readonly/>
                </div>

                <!-- Unnamed (Vertical Line) -->
                <div id="u8536" class="ax_default line">
                    <img id="u8536_img" class="img "
                         src="{{ url_for('static', filename='images/compound_14_5/u6223.svg') }}"/>
                    <div id="u8536_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u8537" class="ax_default text_field">
                    <div id="u8537_div" class=""></div>
                    <input id="u8537_input" type="text" value="H" class="u8537_input" readonly/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u8538" class="ax_default text_field">
                    <div id="u8538_div" class=""></div>
                    <input id="u8538_input" type="text" value="97.428542" class="u8538_input"/>
                </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8539" class="ax_default text_field">
                <div id="u8539_div" class=""></div>
                <input id="u8539_input" type="text" value="1002.0625 g/mol" class="u8539_input"/>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u8540" class="ax_default" data-left="0" data-top="0" data-width="867" data-height="750"
             layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u8541" class="ax_default box_1">
                <div id="u8541_div" class=""></div>
                <div id="u8541_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8542" class="ax_default box_1">
                <div id="u8542_div" class=""></div>
                <div id="u8542_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8543" class="ax_default box_1">
                <div id="u8543_div" class=""></div>
                <div id="u8543_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8544" class="ax_default text_field">
                <div id="u8544_div" class=""></div>
                <input id="u8544_input" type="text" value="FactSage" class="u8544_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8545" class="ax_default text_field">
                <div id="u8545_div" class=""></div>
                <input id="u8545_input" type="text"
                       value="C:\FACTSAGE\USERDATA\EXAMPLEBASE.CDB(v5.0) 0 compound(s) read/write" class="u8545_input"
                       readonly/>
            </div>

            <!-- Unnamed (List Box) -->
            <div id="u8546" class="ax_default list_box">
                <div id="u8546_div" class=""></div>
                <select id="u8546_input" size="2" class="u8546_input">
                    <option class="u8546_input_option" value="...r    BINSBASE">...r&nbsp; &nbsp; BINSBASE</option>
                    <option class="u8546_input_option" value="...r    ELEMBASE  ">...r&nbsp; &nbsp; ELEMBASE&nbsp;
                    </option>
                    <option class="u8546_input_option" value="...r/w    EXAMBASE">...r/w&nbsp; &nbsp; EXAMBASE</option>
                    <option class="u8546_input_option" value="     ...      CO2">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp;
                        &nbsp; CO2
                    </option>
                    <option class="u8546_input_option" value="     ...      SC73H97">&nbsp;&nbsp; &nbsp; ...&nbsp;
                        &nbsp; &nbsp; SC73H97
                    </option>
                    <option class="u8546_input_option" value="            ...     S1">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp;&nbsp; ...&nbsp; &nbsp;&nbsp; S1
                    </option>
                    <option class="u8546_input_option" value="               ... Cp 2000">&nbsp;&nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; ... Cp 2000
                    </option>
                    <option class="u8546_input_option" value="...r    FScoppBASE">...r&nbsp; &nbsp; FScoppBASE</option>
                    <option class="u8546_input_option" value="...r    FSleadBASE">...r&nbsp; &nbsp; FSleadBASE</option>
                    <option class="u8546_input_option" value="...r    FSliteBASE">...r&nbsp; &nbsp; FSliteBASE</option>
                    <option class="u8546_input_option" value="...r    FSnoblBASE">...r&nbsp; &nbsp; FSnoblBASE</option>
                    <option class="u8546_input_option" value="...r    FSstelBASE">...r&nbsp; &nbsp; FSstelBASE</option>
                    <option class="u8546_input_option" value="...r    FSupsiBASE">...r&nbsp; &nbsp; FSupsiBASE</option>
                    <option class="u8546_input_option" value="...r    FThallBASE">...r&nbsp; &nbsp; FThallBASE</option>
                    <option class="u8546_input_option" value="...r    FThelgBASE">...r&nbsp; &nbsp; FThelgBASE</option>
                    <option class="u8546_input_option" value="...r/w    FTliBASE">...r/w&nbsp; &nbsp; FTliBASE</option>
                    <option class="u8546_input_option" value="...r    FTliteBASE">...r&nbsp; &nbsp; FTliteBASE</option>
                    <option class="u8546_input_option" value="...r    FTmiscBASE">...r&nbsp; &nbsp; FTmiscBASE</option>
                    <option class="u8546_input_option" value="...r    FToxidBASE">...r&nbsp; &nbsp; FToxidBASE</option>
                    <option class="u8546_input_option" value="...r    FTpulpBASE">...r&nbsp; &nbsp; FTpulpBASE</option>
                    <option class="u8546_input_option" value="...r    FTsaltBASE">...r&nbsp; &nbsp; FTsaltBASE</option>
                    <option class="u8546_input_option" value="...r    USERDATA">...r&nbsp; &nbsp; USERDATA</option>
                </select>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8547" class="ax_default text_field">
                <div id="u8547_div" class=""></div>
                <input id="u8547_input" type="text" value="Formula" class="u8547_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8548" class="ax_default text_field">
                <div id="u8548_div" class=""></div>
                <input id="u8548_input" type="text" value="SC73H97" class="u8548_input"/>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u8549" class="ax_default _形状">
                <img id="u8549_img" class="img "
                     src="{{ url_for('static', filename='images/compound_3_1/u6907.svg') }}"/>
                <div id="u8549_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u8550" class="ax_default" data-left="63" data-top="15" data-width="463" data-height="32"
                 layer-opacity="1">

                <!-- Unnamed (Rectangle) -->
                <div id="u8551" class="ax_default _段落">
                    <div id="u8551_div" class=""></div>
                    <div id="u8551_text" class="text ">
                        <p><span>Edit</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u8552" class="ax_default _二级标题">
                    <div id="u8552_div" class=""></div>
                    <div id="u8552_text" class="text ">
                        <p><span>ViewData</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u8553" class="ax_default _二级标题">
                    <div id="u8553_div" class=""></div>
                    <div id="u8553_text" class="text ">
                        <p><span>Units</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u8554" class="ax_default _二级标题">
                    <div id="u8554_div" class=""></div>
                    <div id="u8554_text" class="text ">
                        <p><span>Help</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u8555" class="ax_default _三级标题">
                    <div id="u8555_div" class=""></div>
                    <div id="u8555_text" class="text ">
                        <p><span>File</span></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u8556" class="ax_default _形状">
            <img id="u8556_img" class="img " src="{{ url_for('static', filename='images/compound_3_1/u6917.svg') }}"/>
            <div id="u8556_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u8557" class="ax_default _三级标题">
            <div id="u8557_div" class=""></div>
            <div id="u8557_text" class="text ">
                <p><span>View</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u8558" class="ax_default _三级标题">
            <div id="u8558_div" class=""></div>
            <div id="u8558_text" class="text ">
                <p><span>Tools</span></p>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
</body>
</html>
