<!DOCTYPE html>
<html>
  <head>
    <title>Compound 13.1(remove)</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/compound_13_1_remove_/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/compound_13_1_remove_/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Group) -->
      <div id="u8162" class="ax_default" data-left="0" data-top="0" data-width="867" data-height="750" layer-opacity="1">

        <!-- 内部框架 (Inline Frame) -->
        <div id="u8163" class="ax_default" data-label="内部框架">
          <iframe id="u8163_input" data-label="内部框架" src="http://127.0.0.1:5000/u8163_input"></iframe>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u8164" class="ax_default" data-left="0" data-top="0" data-width="867" data-height="750" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u8165" class="ax_default box_1">
            <div id="u8165_div" class=""></div>
            <div id="u8165_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u8166" class="ax_default box_1">
            <div id="u8166_div" class=""></div>
            <div id="u8166_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u8167" class="ax_default box_1">
            <div id="u8167_div" class=""></div>
            <div id="u8167_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u8168" class="ax_default text_field">
            <div id="u8168_div" class=""></div>
            <input id="u8168_input" type="text" value="FactSage" class="u8168_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u8169" class="ax_default text_field">
            <div id="u8169_div" class=""></div>
            <input id="u8169_input" type="text" value="C:\FACTSAGE\USERDATA\EXAMPLEBASE.CDB(v5.0) 3 compound(s) read/write" class="u8169_input" readonly/>
          </div>

          <!-- Unnamed (List Box) -->
          <div id="u8170" class="ax_default list_box">
            <div id="u8170_div" class=""></div>
            <select id="u8170_input" size="2" class="u8170_input">
              <option class="u8170_input_option" value="...r    BINSBASE">...r&nbsp; &nbsp; BINSBASE</option>
              <option class="u8170_input_option" value="...r    ELEMBASE  ">...r&nbsp; &nbsp; ELEMBASE&nbsp; </option>
              <option class="u8170_input_option" value="...r/w    EXAMBASE">...r/w&nbsp; &nbsp; EXAMBASE</option>
              <option class="u8170_input_option" value="     ...      CO2">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; CO2</option>
              <option class="u8170_input_option" value="...r    FACT53BASE ">...r&nbsp; &nbsp; FACT53BASE </option>
              <option class="u8170_input_option" value="...r    FACTBASE">...r&nbsp; &nbsp; FACTBASE</option>
              <option class="u8170_input_option" value="...r    FSleadBASE">...r&nbsp; &nbsp; FSleadBASE</option>
              <option class="u8170_input_option" value="...r    FSliteBASE">...r&nbsp; &nbsp; FSliteBASE</option>
              <option class="u8170_input_option" value="...r    FSnoblBASE">...r&nbsp; &nbsp; FSnoblBASE</option>
              <option class="u8170_input_option" value="...r    FSstelBASE">...r&nbsp; &nbsp; FSstelBASE</option>
              <option class="u8170_input_option" value="...r    FSupsiBASE">...r&nbsp; &nbsp; FSupsiBASE</option>
              <option class="u8170_input_option" value="...r    FThallBASE">...r&nbsp; &nbsp; FThallBASE</option>
              <option class="u8170_input_option" value="...r    FThelgBASE">...r&nbsp; &nbsp; FThelgBASE</option>
              <option class="u8170_input_option" value="...r/w    FTliBASE">...r/w&nbsp; &nbsp; FTliBASE</option>
              <option class="u8170_input_option" value="...r    FTliteBASE">...r&nbsp; &nbsp; FTliteBASE</option>
              <option class="u8170_input_option" value="...r    FTmiscBASE">...r&nbsp; &nbsp; FTmiscBASE</option>
              <option class="u8170_input_option" value="...r    FToxidBASE">...r&nbsp; &nbsp; FToxidBASE</option>
              <option class="u8170_input_option" value="...r    FTpulpBASE">...r&nbsp; &nbsp; FTpulpBASE</option>
              <option class="u8170_input_option" value="...r    FTsaltBASE">...r&nbsp; &nbsp; FTsaltBASE</option>
              <option class="u8170_input_option" value="...r    USERDATA">...r&nbsp; &nbsp; USERDATA</option>
            </select>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u8171" class="ax_default text_field">
            <div id="u8171_div" class=""></div>
            <input id="u8171_input" type="text" value="Formula" class="u8171_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u8172" class="ax_default text_field">
            <div id="u8172_div" class=""></div>
            <input id="u8172_input" type="text" value="CO2" class="u8172_input"/>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u8173" class="ax_default _形状">
            <img id="u8173_img" class="img " src="{{ url_for('static', filename='images/compound_3_1/u6907.svg') }}"/>
            <div id="u8173_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u8174" class="ax_default" data-left="63" data-top="15" data-width="463" data-height="32" layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u8175" class="ax_default _二级标题">
              <div id="u8175_div" class=""></div>
              <div id="u8175_text" class="text ">
                <p><span>ViewData</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8176" class="ax_default _二级标题">
              <div id="u8176_div" class=""></div>
              <div id="u8176_text" class="text ">
                <p><span>Units</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8177" class="ax_default _二级标题">
              <div id="u8177_div" class=""></div>
              <div id="u8177_text" class="text ">
                <p><span>Tools</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8178" class="ax_default _二级标题">
              <div id="u8178_div" class=""></div>
              <div id="u8178_text" class="text ">
                <p><span>Help</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8179" class="ax_default _三级标题">
              <div id="u8179_div" class=""></div>
              <div id="u8179_text" class="text ">
                <p><span>File</span></p>
              </div>
            </div>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u8180" class="ax_default _形状">
          <img id="u8180_img" class="img " src="{{ url_for('static', filename='images/compound_3_1/u6917.svg') }}"/>
          <div id="u8180_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u8181" class="ax_default _三级标题">
          <div id="u8181_div" class=""></div>
          <div id="u8181_text" class="text ">
            <p><span>View</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u8182" class="ax_default _一级标题">
          <div id="u8182_div" class=""></div>
          <div id="u8182_text" class="text ">
            <p><span>Edit</span></p>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u8183" class="ax_default" data-left="246" data-top="95" data-width="620" data-height="606" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u8184" class="ax_default box_1">
            <div id="u8184_div" class=""></div>
            <div id="u8184_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u8185" class="ax_default" data-left="257" data-top="101" data-width="576" data-height="336" layer-opacity="1">

            <!-- Unnamed (Text Field) -->
            <div id="u8186" class="ax_default text_field">
              <div id="u8186_div" class=""></div>
              <input id="u8186_input" type="text" value="Weight:" class="u8186_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8187" class="ax_default text_field">
              <div id="u8187_div" class=""></div>
              <input id="u8187_input" type="text" value="Compound Name" class="u8187_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8188" class="ax_default text_field">
              <div id="u8188_div" class=""></div>
              <input id="u8188_input" type="text" value="Modified: 1992 Mar 10" class="u8188_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8189" class="ax_default text_field">
              <div id="u8189_div" class=""></div>
              <input id="u8189_input" type="text" value="Carbon Dioxide" class="u8189_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8190" class="ax_default text_field">
              <div id="u8190_div" class=""></div>
              <input id="u8190_input" type="text" value="Reference no." class="u8190_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8191" class="ax_default text_field">
              <div id="u8191_div" class=""></div>
              <input id="u8191_input" type="text" value="" class="u8191_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8192" class="ax_default text_field">
              <div id="u8192_div" class=""></div>
              <input id="u8192_input" type="text" value="" class="u8192_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8193" class="ax_default text_field">
              <div id="u8193_div" class=""></div>
              <input id="u8193_input" type="text" value="Comments" class="u8193_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8194" class="ax_default text_field">
              <div id="u8194_div" class=""></div>
              <input id="u8194_input" type="text" value="" class="u8194_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8195" class="ax_default text_field">
              <div id="u8195_div" class=""></div>
              <input id="u8195_input" type="text" value="CO2 properties" class="u8195_input" readonly/>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u8196" class="ax_default" data-left="266" data-top="349" data-width="567" data-height="88" layer-opacity="1">

              <!-- Unnamed (Text Field) -->
              <div id="u8197" class="ax_default text_field">
                <div id="u8197_div" class=""></div>
                <input id="u8197_input" type="text" value="2" class="u8197_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u8198" class="ax_default text_field">
                <div id="u8198_div" class=""></div>
                <input id="u8198_input" type="text" value="O" class="u8198_input" readonly/>
              </div>

              <!-- Unnamed (Line) -->
              <div id="u8199" class="ax_default line">
                <img id="u8199_img" class="img " src="{{ url_for('static', filename='images/compound_11_0______/u6960.svg') }}"/>
                <div id="u8199_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Line) -->
              <div id="u8200" class="ax_default line">
                <img id="u8200_img" class="img " src="{{ url_for('static', filename='images/compound_11_0______/u6960.svg') }}"/>
                <div id="u8200_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Vertical Line) -->
              <div id="u8201" class="ax_default line">
                <img id="u8201_img" class="img " src="{{ url_for('static', filename='images/compound_14_5/u6223.svg') }}"/>
                <div id="u8201_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u8202" class="ax_default text_field">
                <div id="u8202_div" class=""></div>
                <input id="u8202_input" type="text" value="Real Stoichiometry(for advances users only)" class="u8202_input" readonly/>
              </div>

              <!-- Unnamed (Vertical Line) -->
              <div id="u8203" class="ax_default line">
                <img id="u8203_img" class="img " src="{{ url_for('static', filename='images/compound_14_5/u6223.svg') }}"/>
                <div id="u8203_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u8204" class="ax_default text_field">
                <div id="u8204_div" class=""></div>
                <input id="u8204_input" type="text" value="C" class="u8204_input" readonly/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u8205" class="ax_default text_field">
                <div id="u8205_div" class=""></div>
                <input id="u8205_input" type="text" value="" class="u8205_input"/>
              </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8206" class="ax_default text_field">
              <div id="u8206_div" class=""></div>
              <input id="u8206_input" type="text" value="44.0098 g/mol" class="u8206_input"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
