<!DOCTYPE html>
<html>
  <head>
    <title>Compound 13.0(Erase)</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/compound_13_0_erase_/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/compound_13_0_erase_/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Group) -->
      <div id="u8117" class="ax_default" data-left="0" data-top="0" data-width="867" data-height="750" layer-opacity="1">

        <!-- 内部框架 (Inline Frame) -->
        <div id="u8118" class="ax_default" data-label="内部框架">
          <iframe id="u8118_input" data-label="内部框架" src="http://127.0.0.1:5000/u8118_input"></iframe>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u8119" class="ax_default" data-left="0" data-top="0" data-width="867" data-height="750" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u8120" class="ax_default box_1">
            <div id="u8120_div" class=""></div>
            <div id="u8120_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u8121" class="ax_default box_1">
            <div id="u8121_div" class=""></div>
            <div id="u8121_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u8122" class="ax_default box_1">
            <div id="u8122_div" class=""></div>
            <div id="u8122_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u8123" class="ax_default text_field">
            <div id="u8123_div" class=""></div>
            <input id="u8123_input" type="text" value="FactSage" class="u8123_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u8124" class="ax_default text_field">
            <div id="u8124_div" class=""></div>
            <input id="u8124_input" type="text" value="C:\FACTSAGE\USERDATA\EXAMPLEBASE.CDB(v5.0) 1 compound(s) read/write" class="u8124_input" readonly/>
          </div>

          <!-- Unnamed (List Box) -->
          <div id="u8125" class="ax_default list_box">
            <div id="u8125_div" class=""></div>
            <select id="u8125_input" size="2" class="u8125_input">
              <option class="u8125_input_option" value="...r    BINSBASE">...r&nbsp; &nbsp; BINSBASE</option>
              <option class="u8125_input_option" value="...r    ELEMBASE  ">...r&nbsp; &nbsp; ELEMBASE&nbsp; </option>
              <option class="u8125_input_option" value="...r/w    EXAMBASE">...r/w&nbsp; &nbsp; EXAMBASE</option>
              <option class="u8125_input_option" value="     ...      CO2">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; CO2</option>
              <option class="u8125_input_option" value="...r    FACT53BASE  ">...r&nbsp; &nbsp; FACT53BASE&nbsp; </option>
              <option class="u8125_input_option" value="...r    FACTBASE">...r&nbsp; &nbsp; FACTBASE</option>
              <option class="u8125_input_option" value="...r    FScoppBASE">...r&nbsp; &nbsp; FScoppBASE</option>
              <option class="u8125_input_option" value="...r    FSleadBASE">...r&nbsp; &nbsp; FSleadBASE</option>
              <option class="u8125_input_option" value="...r    FSliteBASE">...r&nbsp; &nbsp; FSliteBASE</option>
              <option class="u8125_input_option" value="...r    FSnoblBASE">...r&nbsp; &nbsp; FSnoblBASE</option>
              <option class="u8125_input_option" value="...r    FSstelBASE">...r&nbsp; &nbsp; FSstelBASE</option>
              <option class="u8125_input_option" value="...r    FSupsiBASE">...r&nbsp; &nbsp; FSupsiBASE</option>
              <option class="u8125_input_option" value="...r    FThallBASE">...r&nbsp; &nbsp; FThallBASE</option>
              <option class="u8125_input_option" value="...r    FThelgBASE">...r&nbsp; &nbsp; FThelgBASE</option>
              <option class="u8125_input_option" value="...r/w    FTliBASE">...r/w&nbsp; &nbsp; FTliBASE</option>
              <option class="u8125_input_option" value="...r    FTliteBASE">...r&nbsp; &nbsp; FTliteBASE</option>
              <option class="u8125_input_option" value="...r    FTmiscBASE">...r&nbsp; &nbsp; FTmiscBASE</option>
              <option class="u8125_input_option" value="...r    FToxidBASE">...r&nbsp; &nbsp; FToxidBASE</option>
              <option class="u8125_input_option" value="...r    FTpulpBASE">...r&nbsp; &nbsp; FTpulpBASE</option>
              <option class="u8125_input_option" value="...r    FTsaltBASE">...r&nbsp; &nbsp; FTsaltBASE</option>
              <option class="u8125_input_option" value="...r    USERDATA">...r&nbsp; &nbsp; USERDATA</option>
            </select>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u8126" class="ax_default text_field">
            <div id="u8126_div" class=""></div>
            <input id="u8126_input" type="text" value="Formula" class="u8126_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u8127" class="ax_default text_field">
            <div id="u8127_div" class=""></div>
            <input id="u8127_input" type="text" value="MgCl2" class="u8127_input"/>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u8128" class="ax_default _形状">
            <img id="u8128_img" class="img " src="{{ url_for('static', filename='images/compound_3_1/u6907.svg') }}"/>
            <div id="u8128_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u8129" class="ax_default" data-left="63" data-top="15" data-width="463" data-height="32" layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u8130" class="ax_default _二级标题">
              <div id="u8130_div" class=""></div>
              <div id="u8130_text" class="text ">
                <p><span>ViewData</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8131" class="ax_default _二级标题">
              <div id="u8131_div" class=""></div>
              <div id="u8131_text" class="text ">
                <p><span>Units</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8132" class="ax_default _二级标题">
              <div id="u8132_div" class=""></div>
              <div id="u8132_text" class="text ">
                <p><span>Tools</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8133" class="ax_default _二级标题">
              <div id="u8133_div" class=""></div>
              <div id="u8133_text" class="text ">
                <p><span>Help</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8134" class="ax_default _三级标题">
              <div id="u8134_div" class=""></div>
              <div id="u8134_text" class="text ">
                <p><span>File</span></p>
              </div>
            </div>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u8135" class="ax_default _形状">
          <img id="u8135_img" class="img " src="{{ url_for('static', filename='images/compound_3_1/u6917.svg') }}"/>
          <div id="u8135_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u8136" class="ax_default _三级标题">
          <div id="u8136_div" class=""></div>
          <div id="u8136_text" class="text ">
            <p><span>View</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u8137" class="ax_default _一级标题">
          <div id="u8137_div" class=""></div>
          <div id="u8137_text" class="text ">
            <p><span>Edit</span></p>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u8138" class="ax_default" data-left="246" data-top="95" data-width="620" data-height="606" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u8139" class="ax_default box_1">
            <div id="u8139_div" class=""></div>
            <div id="u8139_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u8140" class="ax_default" data-left="257" data-top="101" data-width="576" data-height="336" layer-opacity="1">

            <!-- Unnamed (Text Field) -->
            <div id="u8141" class="ax_default text_field">
              <div id="u8141_div" class=""></div>
              <input id="u8141_input" type="text" value="Weight:" class="u8141_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8142" class="ax_default text_field">
              <div id="u8142_div" class=""></div>
              <input id="u8142_input" type="text" value="Compound Name" class="u8142_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8143" class="ax_default text_field">
              <div id="u8143_div" class=""></div>
              <input id="u8143_input" type="text" value="Modified: 1992 Mar 10" class="u8143_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8144" class="ax_default text_field">
              <div id="u8144_div" class=""></div>
              <input id="u8144_input" type="text" value="Carbon Dioxide" class="u8144_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8145" class="ax_default text_field">
              <div id="u8145_div" class=""></div>
              <input id="u8145_input" type="text" value="Reference no." class="u8145_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8146" class="ax_default text_field">
              <div id="u8146_div" class=""></div>
              <input id="u8146_input" type="text" value="" class="u8146_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8147" class="ax_default text_field">
              <div id="u8147_div" class=""></div>
              <input id="u8147_input" type="text" value="" class="u8147_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8148" class="ax_default text_field">
              <div id="u8148_div" class=""></div>
              <input id="u8148_input" type="text" value="Comments" class="u8148_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8149" class="ax_default text_field">
              <div id="u8149_div" class=""></div>
              <input id="u8149_input" type="text" value="" class="u8149_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8150" class="ax_default text_field">
              <div id="u8150_div" class=""></div>
              <input id="u8150_input" type="text" value="CO2 properties" class="u8150_input" readonly/>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u8151" class="ax_default" data-left="266" data-top="349" data-width="567" data-height="88" layer-opacity="1">

              <!-- Unnamed (Text Field) -->
              <div id="u8152" class="ax_default text_field">
                <div id="u8152_div" class=""></div>
                <input id="u8152_input" type="text" value="2" class="u8152_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u8153" class="ax_default text_field">
                <div id="u8153_div" class=""></div>
                <input id="u8153_input" type="text" value="O" class="u8153_input" readonly/>
              </div>

              <!-- Unnamed (Line) -->
              <div id="u8154" class="ax_default line">
                <img id="u8154_img" class="img " src="{{ url_for('static', filename='images/compound_11_0______/u6960.svg') }}"/>
                <div id="u8154_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Line) -->
              <div id="u8155" class="ax_default line">
                <img id="u8155_img" class="img " src="{{ url_for('static', filename='images/compound_11_0______/u6960.svg') }}"/>
                <div id="u8155_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Vertical Line) -->
              <div id="u8156" class="ax_default line">
                <img id="u8156_img" class="img " src="{{ url_for('static', filename='images/compound_14_5/u6223.svg') }}"/>
                <div id="u8156_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u8157" class="ax_default text_field">
                <div id="u8157_div" class=""></div>
                <input id="u8157_input" type="text" value="Real Stoichiometry(for advances users only)" class="u8157_input" readonly/>
              </div>

              <!-- Unnamed (Vertical Line) -->
              <div id="u8158" class="ax_default line">
                <img id="u8158_img" class="img " src="{{ url_for('static', filename='images/compound_14_5/u6223.svg') }}"/>
                <div id="u8158_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u8159" class="ax_default text_field">
                <div id="u8159_div" class=""></div>
                <input id="u8159_input" type="text" value="C" class="u8159_input" readonly/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u8160" class="ax_default text_field">
                <div id="u8160_div" class=""></div>
                <input id="u8160_input" type="text" value="1" class="u8160_input"/>
              </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8161" class="ax_default text_field">
              <div id="u8161_div" class=""></div>
              <input id="u8161_input" type="text" value="44.0098 g/mol" class="u8161_input"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
