<!DOCTYPE html>
<html>
  <head>
    <title>Compound 14.0</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/compound_14_0/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/compound_14_0/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- 内部框架 (Inline Frame) -->
      <div id="u6203" class="ax_default" data-label="内部框架">
        <iframe id="u6203_input" data-label="内部框架" src="http://127.0.0.1:5000/u6203_input"></iframe>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u6204" class="ax_default" data-left="249" data-top="95" data-width="625" data-height="606" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u6205" class="ax_default box_1">
          <div id="u6205_div" class=""></div>
          <div id="u6205_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u6206" class="ax_default image">
        <img id="u6206_img" class="img " src="{{ url_for('static', filename='images/compound_14_5/u5951.png') }}"/>
        <div id="u6206_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u6207" class="ax_default" data-left="265" data-top="105" data-width="608" data-height="188" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u6208" class="ax_default" data-left="340" data-top="130" data-width="533" data-height="16" layer-opacity="1">

          <!-- Unnamed (Radio Button) -->
          <div id="u6209" class="ax_default radio_button">
            <label id="u6209_input_label" for="u6209_input" style="position: absolute; left: 0px;">
              <img id="u6209_img" class="img " src="{{ url_for('static', filename='images/compound_14_4_____/u5991.svg') }}"/>
              <div id="u6209_text" class="text ">
                <p><span>Heat + Temperature of transf.</span></p>
              </div>
            </label>
            <input id="u6209_input" type="radio" value="radio" name="u6209"/>
          </div>

          <!-- Unnamed (Radio Button) -->
          <div id="u6210" class="ax_default radio_button" selectiongroup="energy">
            <label id="u6210_input_label" for="u6210_input" style="position: absolute; left: 0px;">
              <img id="u6210_img" class="img " src="{{ url_for('static', filename='images/compound_14_4_____/u5992.svg') }}"/>
              <div id="u6210_text" class="text ">
                <p><span>Heat of from. + Entropy</span></p>
              </div>
            </label>
            <input id="u6210_input" type="radio" value="radio" name="energy"/>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u6211" class="ax_default" data-left="265" data-top="168" data-width="518" data-height="64" layer-opacity="1">

          <!-- Unnamed (Text Field) -->
          <div id="u6212" class="ax_default text_field">
            <div id="u6212_div" class=""></div>
            <input id="u6212_input" type="text" value="△H 298(Joules)" class="u6212_input"/>
          </div>

          <!-- Unnamed (Vertical Line) -->
          <div id="u6213" class="ax_default line">
            <img id="u6213_img" class="img " src="{{ url_for('static', filename='images/compound_14_4_____/u5995.svg') }}"/>
            <div id="u6213_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Line) -->
          <div id="u6214" class="ax_default line">
            <img id="u6214_img" class="img " src="{{ url_for('static', filename='images/compound_14_4_____/u5996.svg') }}"/>
            <div id="u6214_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Line) -->
          <div id="u6215" class="ax_default line">
            <img id="u6215_img" class="img " src="{{ url_for('static', filename='images/compound_14_4_____/u5996.svg') }}"/>
            <div id="u6215_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Vertical Line) -->
          <div id="u6216" class="ax_default line">
            <img id="u6216_img" class="img " src="{{ url_for('static', filename='images/compound_14_4_____/u5998.svg') }}"/>
            <div id="u6216_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6217" class="ax_default text_field">
          <div id="u6217_div" class=""></div>
          <input id="u6217_input" type="text" value="S298(J/(mol K))" class="u6217_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6218" class="ax_default text_field">
          <div id="u6218_div" class=""></div>
          <input id="u6218_input" type="text" value="" class="u6218_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6219" class="ax_default text_field">
          <div id="u6219_div" class=""></div>
          <input id="u6219_input" type="text" value="" class="u6219_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6220" class="ax_default text_field">
          <div id="u6220_div" class=""></div>
          <input id="u6220_input" type="text" value="From. of S1" class="u6220_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6221" class="ax_default text_field">
          <div id="u6221_div" class=""></div>
          <input id="u6221_input" type="text" value="Phase Name" class="u6221_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6222" class="ax_default text_field">
          <div id="u6222_div" class=""></div>
          <input id="u6222_input" type="text" value="S1 properties" class="u6222_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6223" class="ax_default text_field">
          <div id="u6223_div" class=""></div>
          <input id="u6223_input" type="text" value="" class="u6223_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6224" class="ax_default text_field">
          <div id="u6224_div" class=""></div>
          <input id="u6224_input" type="text" value="Reference no." class="u6224_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6225" class="ax_default text_field">
          <div id="u6225_div" class=""></div>
          <input id="u6225_input" type="text" value="Density g/cc" class="u6225_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6226" class="ax_default text_field">
          <div id="u6226_div" class=""></div>
          <input id="u6226_input" type="text" value="" class="u6226_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6227" class="ax_default text_field">
          <div id="u6227_div" class=""></div>
          <input id="u6227_input" type="text" value="" class="u6227_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6228" class="ax_default text_field">
          <div id="u6228_div" class=""></div>
          <input id="u6228_input" type="text" value="" class="u6228_input"/>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u6229" class="ax_default" data-left="0" data-top="0" data-width="873" data-height="750" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u6230" class="ax_default box_1">
          <div id="u6230_div" class=""></div>
          <div id="u6230_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6231" class="ax_default box_1">
          <div id="u6231_div" class=""></div>
          <div id="u6231_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6232" class="ax_default box_1">
          <div id="u6232_div" class=""></div>
          <div id="u6232_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6233" class="ax_default text_field">
          <div id="u6233_div" class=""></div>
          <input id="u6233_input" type="text" value="FactSage" class="u6233_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6234" class="ax_default text_field">
          <div id="u6234_div" class=""></div>
          <input id="u6234_input" type="text" value="C:\FACTSAGE\USERDATA\EXAMPLEBASE.CDB(v5.0) 0 compound(s) read/write" class="u6234_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6235" class="ax_default text_field">
          <div id="u6235_div" class=""></div>
          <input id="u6235_input" type="text" value="Formula" class="u6235_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6236" class="ax_default text_field">
          <div id="u6236_div" class=""></div>
          <input id="u6236_input" type="text" value="Al2O3" class="u6236_input"/>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u6237" class="ax_default _形状">
          <img id="u6237_img" class="img " src="{{ url_for('static', filename='images/compound_14_5/u5961.svg') }}"/>
          <div id="u6237_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u6238" class="ax_default" data-left="63" data-top="15" data-width="467" data-height="32" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u6239" class="ax_default _段落">
            <div id="u6239_div" class=""></div>
            <div id="u6239_text" class="text ">
              <p><span>Edit</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u6240" class="ax_default _二级标题">
            <div id="u6240_div" class=""></div>
            <div id="u6240_text" class="text ">
              <p><span>ViewData</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u6241" class="ax_default _二级标题">
            <div id="u6241_div" class=""></div>
            <div id="u6241_text" class="text ">
              <p><span>Units</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u6242" class="ax_default _二级标题">
            <div id="u6242_div" class=""></div>
            <div id="u6242_text" class="text ">
              <p><span>Help</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u6243" class="ax_default _三级标题">
            <div id="u6243_div" class=""></div>
            <div id="u6243_text" class="text ">
              <p><span>File</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6244" class="ax_default text_field">
          <div id="u6244_div" class=""></div>
          <input id="u6244_input" type="text" value="Modified" class="u6244_input" readonly/>
        </div>

        <!-- Unnamed (List Box) -->
        <div id="u6245" class="ax_default list_box">
          <div id="u6245_div" class=""></div>
          <select id="u6245_input" size="2" class="u6245_input">
            <option class="u6245_input_option" value="...r    BINSBASE">...r&nbsp; &nbsp; BINSBASE</option>
            <option class="u6245_input_option" value="...r    ELEMBASE  ">...r&nbsp; &nbsp; ELEMBASE&nbsp; </option>
            <option class="u6245_input_option" value="...r/w    EXAMBASE">...r/w&nbsp; &nbsp; EXAMBASE</option>
            <option class="u6245_input_option" value="...r    FACT53BASE  ">...r&nbsp; &nbsp; FACT53BASE&nbsp; </option>
            <option class="u6245_input_option" value="...r    FACTBASE">...r&nbsp; &nbsp; FACTBASE</option>
            <option class="u6245_input_option" value="     ...      Na20">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; Na20</option>
            <option class="u6245_input_option" value="            ...     S1">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ...&nbsp; &nbsp;&nbsp; S1</option>
            <option class="u6245_input_option" value="            ...     S2">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ...&nbsp; &nbsp;&nbsp; S2</option>
            <option class="u6245_input_option" value="            ...     S3">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ...&nbsp; &nbsp;&nbsp; S3</option>
            <option class="u6245_input_option" value="            ...     L1">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ...&nbsp; &nbsp;&nbsp; L1</option>
            <option class="u6245_input_option" value="     ...      AI2O3">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; AI2O3</option>
            <option class="u6245_input_option" value="            ...     S1">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ...&nbsp; &nbsp;&nbsp; S1</option>
            <option class="u6245_input_option" value="            ...     S2">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ...&nbsp; &nbsp;&nbsp; S2</option>
            <option class="u6245_input_option" value="            ...     S3">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ...&nbsp; &nbsp;&nbsp; S3</option>
            <option class="u6245_input_option" value="            ...     S4">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ...&nbsp; &nbsp;&nbsp; S4</option>
            <option class="u6245_input_option" value="            ...     L1">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ...&nbsp; &nbsp;&nbsp; L1</option>
            <option class="u6245_input_option" value="...r    FScoppBASE">...r&nbsp; &nbsp; FScoppBASE</option>
            <option class="u6245_input_option" value="...r    FSleadBASE">...r&nbsp; &nbsp; FSleadBASE</option>
            <option class="u6245_input_option" value="...r    FSliteBASE">...r&nbsp; &nbsp; FSliteBASE</option>
            <option class="u6245_input_option" value="...r    FSnoblBASE">...r&nbsp; &nbsp; FSnoblBASE</option>
            <option class="u6245_input_option" value="...r    FSstelBASE">...r&nbsp; &nbsp; FSstelBASE</option>
            <option class="u6245_input_option" value="...r    FSupsiBASE">...r&nbsp; &nbsp; FSupsiBASE</option>
            <option class="u6245_input_option" value="...r    FThallBASE">...r&nbsp; &nbsp; FThallBASE</option>
            <option class="u6245_input_option" value="...r    FThelgBASE">...r&nbsp; &nbsp; FThelgBASE</option>
            <option class="u6245_input_option" value="...r/w    FTliBASE">...r/w&nbsp; &nbsp; FTliBASE</option>
            <option class="u6245_input_option" value="...r    FTliteBASE">...r&nbsp; &nbsp; FTliteBASE</option>
            <option class="u6245_input_option" value="...r    FTmiscBASE">...r&nbsp; &nbsp; FTmiscBASE</option>
            <option class="u6245_input_option" value="...r    FToxidBASE">...r&nbsp; &nbsp; FToxidBASE</option>
            <option class="u6245_input_option" value="...r    FTpulpBASE">...r&nbsp; &nbsp; FTpulpBASE</option>
            <option class="u6245_input_option" value="...r    FTsaltBASE">...r&nbsp; &nbsp; FTsaltBASE</option>
            <option class="u6245_input_option" value="...r    USERDATA">...r&nbsp; &nbsp; USERDATA</option>
          </select>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u6246" class="ax_default _形状">
        <img id="u6246_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1722.svg') }}"/>
        <div id="u6246_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u6247" class="ax_default _三级标题">
        <div id="u6247_div" class=""></div>
        <div id="u6247_text" class="text ">
          <p><span>View</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u6248" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="306" data-top="350" data-width="454" data-height="277" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u6249" class="ax_default _形状">
          <div id="u6249_div" class=""></div>
          <div id="u6249_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u6250" class="ax_default _形状">
          <img id="u6250_img" class="img " src="{{ url_for('static', filename='images/compound_14_0/u6250.svg') }}"/>
          <div id="u6250_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6251" class="ax_default box_1">
          <div id="u6251_div" class=""></div>
          <div id="u6251_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6252" class="ax_default _段落">
          <div id="u6252_div" class=""></div>
          <div id="u6252_text" class="text ">
            <p><span>Compound Mixer</span></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u6253" class="ax_default _形状">
          <img id="u6253_img" class="img " src="{{ url_for('static', filename='images/compound_14_0/u6253.svg') }}"/>
          <div id="u6253_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6254" class="ax_default box_1">
          <div id="u6254_div" class=""></div>
          <div id="u6254_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6255" class="ax_default box_1">
          <div id="u6255_div" class=""></div>
          <div id="u6255_text" class="text ">
            <p><span>Reactants</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6256" class="ax_default box_1">
          <div id="u6256_div" class=""></div>
          <div id="u6256_text" class="text ">
            <p><span>Phase</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6257" class="ax_default box_1">
          <div id="u6257_div" class=""></div>
          <div id="u6257_text" class="text ">
            <p><span>Database</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6258" class="ax_default box_1">
          <div id="u6258_div" class=""></div>
          <div id="u6258_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u6259" class="ax_default _形状">
          <img id="u6259_img" class="img " src="{{ url_for('static', filename='images/compound_14_0/u6259.svg') }}"/>
          <div id="u6259_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u6260" class="ax_default image">
          <img id="u6260_img" class="img " src="{{ url_for('static', filename='images/compound_14_4_____/u6050.png') }}"/>
          <div id="u6260_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6261" class="ax_default box_1">
          <div id="u6261_div" class=""></div>
          <div id="u6261_text" class="text ">
            <p><span>Product</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6262" class="ax_default box_1">
          <div id="u6262_div" class=""></div>
          <div id="u6262_text" class="text ">
            <p><span>State</span></p>
          </div>
        </div>

        <!-- Unnamed (Droplist) -->
        <div id="u6263" class="ax_default droplist">
          <div id="u6263_div" class=""></div>
          <select id="u6263_input" class="u6263_input">
            <option class="u6263_input_option" value="Solid">Solid</option>
          </select>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u6264" class="ax_default image">
          <img id="u6264_img" class="img " src="{{ url_for('static', filename='images/compound_14_4_____/u6054.png') }}"/>
          <div id="u6264_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u6265" class="ax_default" data-left="326" data-top="480" data-width="23" data-height="24" layer-opacity="1">

          <!-- Unnamed (Shape) -->
          <div id="u6266" class="ax_default _形状">
            <img id="u6266_img" class="img " src="{{ url_for('static', filename='images/compound_14_0/u6266.svg') }}"/>
            <div id="u6266_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u6267" class="ax_default _形状">
            <img id="u6267_img" class="img " src="{{ url_for('static', filename='images/compound_14_0/u6267.svg') }}"/>
            <div id="u6267_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u6268" class="ax_default _形状">
            <img id="u6268_img" class="img " src="{{ url_for('static', filename='images/compound_14_0/u6268.svg') }}"/>
            <div id="u6268_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u6269" class="ax_default _形状">
            <img id="u6269_img" class="img " src="{{ url_for('static', filename='images/compound_14_0/u6269.svg') }}"/>
            <div id="u6269_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u6270" class="ax_default _形状">
            <img id="u6270_img" class="img " src="{{ url_for('static', filename='images/compound_14_0/u6270.svg') }}"/>
            <div id="u6270_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u6271" class="ax_default _形状">
            <img id="u6271_img" class="img " src="{{ url_for('static', filename='images/compound_14_0/u6271.svg') }}"/>
            <div id="u6271_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u6272" class="ax_default _形状">
            <img id="u6272_img" class="img " src="{{ url_for('static', filename='images/compound_14_0/u6272.svg') }}"/>
            <div id="u6272_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u6273" class="ax_default _形状">
            <img id="u6273_img" class="img " src="{{ url_for('static', filename='images/compound_14_0/u6273.svg') }}"/>
            <div id="u6273_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u6274" class="ax_default _形状">
            <img id="u6274_img" class="img " src="{{ url_for('static', filename='images/compound_14_0/u6274.svg') }}"/>
            <div id="u6274_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u6275" class="ax_default _形状">
            <img id="u6275_img" class="img " src="{{ url_for('static', filename='images/compound_14_0/u6275.svg') }}"/>
            <div id="u6275_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u6276" class="ax_default _形状">
            <img id="u6276_img" class="img " src="{{ url_for('static', filename='images/compound_14_0/u6276.svg') }}"/>
            <div id="u6276_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u6277" class="ax_default _形状">
            <img id="u6277_img" class="img " src="{{ url_for('static', filename='images/compound_14_0/u6277.svg') }}"/>
            <div id="u6277_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u6278" class="ax_default">
          <div id="u6278_state0" class="panel_state" data-label="State 1" style="">
            <div id="u6278_state0_content" class="panel_state_content">

              <!-- Unnamed (Text Field) -->
              <div id="u6279" class="ax_default text_field">
                <div id="u6279_div" class=""></div>
                <input id="u6279_input" type="text" value="" class="u6279_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6280" class="ax_default text_field">
                <div id="u6280_div" class=""></div>
                <input id="u6280_input" type="text" value="" class="u6280_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6281" class="ax_default text_field">
                <div id="u6281_div" class=""></div>
                <input id="u6281_input" type="text" value="" class="u6281_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6282" class="ax_default text_field">
                <div id="u6282_div" class=""></div>
                <input id="u6282_input" type="text" value="" class="u6282_input"/>
              </div>
            </div>
          </div>
          <div id="u6278_state1" class="panel_state" data-label="状态 1" style="visibility: hidden;">
            <div id="u6278_state1_content" class="panel_state_content">

              <!-- Unnamed (Text Field) -->
              <div id="u6283" class="ax_default text_field">
                <div id="u6283_div" class=""></div>
                <input id="u6283_input" type="text" value="+1" class="u6283_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6284" class="ax_default text_field">
                <div id="u6284_div" class=""></div>
                <input id="u6284_input" type="text" value="Na2O" class="u6284_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6285" class="ax_default text_field">
                <div id="u6285_div" class=""></div>
                <input id="u6285_input" type="text" value="S1" class="u6285_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6286" class="ax_default text_field">
                <div id="u6286_div" class=""></div>
                <input id="u6286_input" type="text" value="FACT" class="u6286_input"/>
              </div>
            </div>
          </div>
          <div id="u6278_state2" class="panel_state" data-label="状态 2" style="visibility: hidden;">
            <div id="u6278_state2_content" class="panel_state_content">

              <!-- Unnamed (Text Field) -->
              <div id="u6287" class="ax_default text_field">
                <div id="u6287_div" class=""></div>
                <input id="u6287_input" type="text" value="+1" class="u6287_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6288" class="ax_default text_field">
                <div id="u6288_div" class=""></div>
                <input id="u6288_input" type="text" value="Na2O" class="u6288_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6289" class="ax_default text_field">
                <div id="u6289_div" class=""></div>
                <input id="u6289_input" type="text" value="S1" class="u6289_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6290" class="ax_default text_field">
                <div id="u6290_div" class=""></div>
                <input id="u6290_input" type="text" value="FACT" class="u6290_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6291" class="ax_default text_field">
                <div id="u6291_div" class=""></div>
                <input id="u6291_input" type="text" value="+3" class="u6291_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6292" class="ax_default text_field">
                <div id="u6292_div" class=""></div>
                <input id="u6292_input" type="text" value="AI2O3" class="u6292_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6293" class="ax_default text_field">
                <div id="u6293_div" class=""></div>
                <input id="u6293_input" type="text" value="S1" class="u6293_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6294" class="ax_default text_field">
                <div id="u6294_div" class=""></div>
                <input id="u6294_input" type="text" value="FACT" class="u6294_input"/>
              </div>
            </div>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6295" class="ax_default box_1">
          <div id="u6295_div" class=""></div>
          <div id="u6295_text" class="text ">
            <p><span>OK</span></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6296" class="ax_default text_field">
          <div id="u6296_div" class=""></div>
          <input id="u6296_input" type="text" value="AI2Na2O4" class="u6296_input"/>
        </div>
      </div>

      <!-- 模块管理 (Dynamic Panel) -->
      <div id="u6297" class="ax_default" data-label="模块管理">
        <div id="u6297_state0" class="panel_state" data-label="菜单收起" style="">
          <div id="u6297_state0_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u6298" class="ax_default _三级标题">
              <div id="u6298_div" class=""></div>
              <div id="u6298_text" class="text ">
                <p><span>Tools</span></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u6297_state1" class="panel_state" data-label="菜单下拉" style="visibility: hidden;">
          <div id="u6297_state1_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u6299" class="ax_default _三级标题">
              <div id="u6299_div" class=""></div>
              <div id="u6299_text" class="text ">
                <p><span>Tools</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u6300" class="ax_default _段落">
              <img id="u6300_img" class="img " src="{{ url_for('static', filename='images/compound_14_5/u5973.svg') }}"/>
              <div id="u6300_text" class="text ">
                <p><span>Scale Down</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6301" class="ax_default _段落">
              <div id="u6301_div" class=""></div>
              <div id="u6301_text" class="text ">
                <p><span>Scale Up...</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6302" class="ax_default _段落">
              <div id="u6302_div" class=""></div>
              <div id="u6302_text" class="text ">
                <p><span>Copy data to new Compound</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6303" class="ax_default _段落">
              <div id="u6303_div" class=""></div>
              <div id="u6303_text" class="text ">
                <p><span>Fuel</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6304" class="ax_default _段落">
              <div id="u6304_div" class=""></div>
              <div id="u6304_text" class="text ">
                <p><span>Mixer...</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
