<!DOCTYPE html>
<html>
  <head>
    <title>Compound 11.1(粘贴数据)</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/compound_11_1______/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/compound_11_1______/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Group) -->
      <div id="u6976" class="ax_default" data-left="0" data-top="0" data-width="867" data-height="750" layer-opacity="1">

        <!-- 内部框架 (Inline Frame) -->
        <div id="u6977" class="ax_default" data-label="内部框架">
          <iframe id="u6977_input" data-label="内部框架" src="http://127.0.0.1:5000/u6977_input"></iframe>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u6978" class="ax_default" data-left="249" data-top="95" data-width="618" data-height="606" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u6979" class="ax_default box_1">
            <div id="u6979_div" class=""></div>
            <div id="u6979_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u6980" class="ax_default" data-left="254" data-top="110" data-width="242" data-height="31" layer-opacity="1">

            <!-- Unnamed (Text Field) -->
            <div id="u6981" class="ax_default text_field">
              <div id="u6981_div" class=""></div>
              <input id="u6981_input" type="text" value="Information on EXAMBASE" class="u6981_input" readonly/>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u6982" class="ax_default" data-left="268" data-top="141" data-width="213" data-height="31" layer-opacity="1">

            <!-- Unnamed (Text Field) -->
            <div id="u6983" class="ax_default text_field">
              <div id="u6983_div" class=""></div>
              <input id="u6983_input" type="text" value="Nickname (4 chars)" class="u6983_input" readonly/>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u6984" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="296" data-top="270" data-width="457" data-height="281" layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u6985" class="ax_default box_1">
              <div id="u6985_div" class=""></div>
              <div id="u6985_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u6986" class="ax_default text_field">
              <img id="u6986_img" class="img " src="{{ url_for('static', filename='images/compound_11_1______/u6986.svg') }}"/>
              <input id="u6986_input" type="text" value="Input units" class="u6986_input" readonly/>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u6987" class="ax_default _形状">
              <img id="u6987_img" class="img " src="{{ url_for('static', filename='images/compound_11_1______/u6987.svg') }}"/>
              <div id="u6987_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6988" class="ax_default box_1">
              <div id="u6988_div" class=""></div>
              <div id="u6988_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u6989" class="ax_default text_field">
              <div id="u6989_div" class=""></div>
              <input id="u6989_input" type="text" value="Select input units for the compound" class="u6989_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u6990" class="ax_default text_field">
              <div id="u6990_div" class=""></div>
              <input id="u6990_input" type="text" value="Energy" class="u6990_input" readonly/>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u6991" class="ax_default" data-left="350" data-top="425" data-width="110" data-height="45" layer-opacity="1">

              <!-- Unnamed (Radio Button) -->
              <div id="u6992" class="ax_default radio_button" selectiongroup="1">
                <label id="u6992_input_label" for="u6992_input" style="position: absolute; left: 0px;">
                  <img id="u6992_img" class="img " src="{{ url_for('static', filename='images/compound_11_1______/u6992.svg') }}"/>
                  <div id="u6992_text" class="text ">
                    <p><span>calories</span></p>
                  </div>
                </label>
                <input id="u6992_input" type="radio" value="radio" name="1"/>
              </div>

              <!-- Unnamed (Radio Button) -->
              <div id="u6993" class="ax_default radio_button" selectiongroup="1">
                <label id="u6993_input_label" for="u6993_input" style="position: absolute; left: 0px;">
                  <img id="u6993_img" class="img " src="{{ url_for('static', filename='images/compound_11_1______/u6993.svg') }}"/>
                  <div id="u6993_text" class="text ">
                    <p><span>Joules</span></p>
                  </div>
                </label>
                <input id="u6993_input" type="radio" value="radio" name="1"/>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6994" class="ax_default box_1">
              <div id="u6994_div" class=""></div>
              <div id="u6994_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u6995" class="ax_default text_field">
              <div id="u6995_div" class=""></div>
              <input id="u6995_input" type="text" value="Total pressure" class="u6995_input" readonly/>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u6996" class="ax_default" data-left="547" data-top="425" data-width="149" data-height="45" layer-opacity="1">

              <!-- Unnamed (Radio Button) -->
              <div id="u6997" class="ax_default radio_button" selectiongroup="2">
                <label id="u6997_input_label" for="u6997_input" style="position: absolute; left: 0px;">
                  <img id="u6997_img" class="img " src="{{ url_for('static', filename='images/compound_11_1______/u6997.svg') }}"/>
                  <div id="u6997_text" class="text ">
                    <p><span>1 bar</span></p>
                  </div>
                </label>
                <input id="u6997_input" type="radio" value="radio" name="2"/>
              </div>

              <!-- Unnamed (Radio Button) -->
              <div id="u6998" class="ax_default radio_button" selectiongroup="2">
                <label id="u6998_input_label" for="u6998_input" style="position: absolute; left: 0px;">
                  <img id="u6998_img" class="img " src="{{ url_for('static', filename='images/compound_11_1______/u6998.svg') }}"/>
                  <div id="u6998_text" class="text ">
                    <p><span>1 atmosphere</span></p>
                  </div>
                </label>
                <input id="u6998_input" type="radio" value="radio" name="2"/>
              </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u6999" class="ax_default text_field">
              <div id="u6999_div" class=""></div>
              <input id="u6999_input" type="text" value="Finish" class="u6999_input" readonly/>
            </div>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u7000" class="ax_default" data-left="0" data-top="0" data-width="867" data-height="750" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u7001" class="ax_default box_1">
            <div id="u7001_div" class=""></div>
            <div id="u7001_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u7002" class="ax_default box_1">
            <div id="u7002_div" class=""></div>
            <div id="u7002_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u7003" class="ax_default box_1">
            <div id="u7003_div" class=""></div>
            <div id="u7003_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u7004" class="ax_default text_field">
            <div id="u7004_div" class=""></div>
            <input id="u7004_input" type="text" value="FactSage" class="u7004_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u7005" class="ax_default text_field">
            <div id="u7005_div" class=""></div>
            <input id="u7005_input" type="text" value="C:\FACTSAGE\USERDATA\EXAMPLEBASE.CDB(v5.0) 0 compound(s) read/write" class="u7005_input" readonly/>
          </div>

          <!-- Unnamed (List Box) -->
          <div id="u7006" class="ax_default list_box">
            <div id="u7006_div" class=""></div>
            <select id="u7006_input" size="2" class="u7006_input">
              <option class="u7006_input_option" value="...r    BINSBASE">...r&nbsp; &nbsp; BINSBASE</option>
              <option class="u7006_input_option" value="...r    FACT53BASE  ">...r&nbsp; &nbsp; FACT53BASE&nbsp; </option>
              <option class="u7006_input_option" value="...r    FACTBASE">...r&nbsp; &nbsp; FACTBASE</option>
              <option class="u7006_input_option" value="     ...      MgSO4">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; MgSO4</option>
              <option class="u7006_input_option" value="     ...      MgCl2">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; MgCl2</option>
              <option class="u7006_input_option" value="...r    SGPSBASE">...r&nbsp; &nbsp; SGPSBASE</option>
              <option class="u7006_input_option" value="...r    ELEMBASE  ">...r&nbsp; &nbsp; ELEMBASE&nbsp; </option>
              <option class="u7006_input_option" value="...r    SGSLBASE">...r&nbsp; &nbsp; SGSLBASE</option>
              <option class="u7006_input_option" value="...r/w    EXAMBASE">...r/w&nbsp; &nbsp; EXAMBASE</option>
              <option class="u7006_input_option" value="...r    FSleadBASE">...r&nbsp; &nbsp; FSleadBASE</option>
              <option class="u7006_input_option" value="...r    FSliteBASE">...r&nbsp; &nbsp; FSliteBASE</option>
              <option class="u7006_input_option" value="...r    FSnoblBASE">...r&nbsp; &nbsp; FSnoblBASE</option>
              <option class="u7006_input_option" value="...r    FSstelBASE">...r&nbsp; &nbsp; FSstelBASE</option>
              <option class="u7006_input_option" value="...r    FSupsiBASE">...r&nbsp; &nbsp; FSupsiBASE</option>
              <option class="u7006_input_option" value="...r    FThallBASE">...r&nbsp; &nbsp; FThallBASE</option>
              <option class="u7006_input_option" value="...r    FThelgBASE">...r&nbsp; &nbsp; FThelgBASE</option>
              <option class="u7006_input_option" value="...r/w    FTliBASE">...r/w&nbsp; &nbsp; FTliBASE</option>
              <option class="u7006_input_option" value="...r    FTliteBASE">...r&nbsp; &nbsp; FTliteBASE</option>
              <option class="u7006_input_option" value="...r    FTmiscBASE">...r&nbsp; &nbsp; FTmiscBASE</option>
              <option class="u7006_input_option" value="...r    FToxidBASE">...r&nbsp; &nbsp; FToxidBASE</option>
              <option class="u7006_input_option" value="...r    FTpulpBASE">...r&nbsp; &nbsp; FTpulpBASE</option>
              <option class="u7006_input_option" value="...r    FTsaltBASE">...r&nbsp; &nbsp; FTsaltBASE</option>
              <option class="u7006_input_option" value="...r    USERDATA">...r&nbsp; &nbsp; USERDATA</option>
            </select>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u7007" class="ax_default text_field">
            <div id="u7007_div" class=""></div>
            <input id="u7007_input" type="text" value="Formula" class="u7007_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u7008" class="ax_default text_field">
            <div id="u7008_div" class=""></div>
            <input id="u7008_input" type="text" value="MgCl2" class="u7008_input"/>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u7009" class="ax_default _形状">
            <img id="u7009_img" class="img " src="{{ url_for('static', filename='images/compound_3_1/u6907.svg') }}"/>
            <div id="u7009_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u7010" class="ax_default" data-left="63" data-top="15" data-width="463" data-height="32" layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u7011" class="ax_default _二级标题">
              <div id="u7011_div" class=""></div>
              <div id="u7011_text" class="text ">
                <p><span>ViewData</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u7012" class="ax_default _二级标题">
              <div id="u7012_div" class=""></div>
              <div id="u7012_text" class="text ">
                <p><span>Units</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u7013" class="ax_default _二级标题">
              <div id="u7013_div" class=""></div>
              <div id="u7013_text" class="text ">
                <p><span>Tools</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u7014" class="ax_default _二级标题">
              <div id="u7014_div" class=""></div>
              <div id="u7014_text" class="text ">
                <p><span>Help</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u7015" class="ax_default _三级标题">
              <div id="u7015_div" class=""></div>
              <div id="u7015_text" class="text ">
                <p><span>File</span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u7016" class="ax_default text_field">
            <div id="u7016_div" class=""></div>
            <input id="u7016_input" type="text" value="Modified" class="u7016_input" readonly/>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u7017" class="ax_default _形状">
          <img id="u7017_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1722.svg') }}"/>
          <div id="u7017_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u7018" class="ax_default _三级标题">
          <div id="u7018_div" class=""></div>
          <div id="u7018_text" class="text ">
            <p><span>View</span></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u7019" class="ax_default text_field">
          <div id="u7019_div" class=""></div>
          <input id="u7019_input" type="text" value="" class="u7019_input"/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u7020" class="ax_default _一级标题">
          <div id="u7020_div" class=""></div>
          <div id="u7020_text" class="text ">
            <p><span>Edit</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u7021" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">

        <!-- 2 (Group) -->
        <div id="u7022" class="ax_default ax_default_hidden" data-label="2" style="display:none; visibility: hidden" data-left="111" data-top="41" data-width="218" data-height="182" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u7023" class="ax_default box_2">
            <img id="u7023_img" class="img " src="{{ url_for('static', filename='images/compound_11_0______/u6969.svg') }}"/>
            <div id="u7023_text" class="text ">
              <p><span>Add MgCl2 to EXAMBASE</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u7024" class="ax_default box_2">
            <img id="u7024_img" class="img " src="{{ url_for('static', filename='images/compound_11_0______/u6969.svg') }}"/>
            <div id="u7024_text" class="text ">
              <p><span>Remove MgCl2 from list</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u7025" class="ax_default box_2">
            <img id="u7025_img" class="img " src="{{ url_for('static', filename='images/compound_11_0______/u6969.svg') }}"/>
            <div id="u7025_text" class="text ">
              <p><span>Clear list of compounds</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u7026" class="ax_default box_2">
            <img id="u7026_img" class="img " src="{{ url_for('static', filename='images/compound_11_0______/u6969.svg') }}"/>
            <div id="u7026_text" class="text ">
              <p><span>Erase</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u7027" class="ax_default box_2">
            <img id="u7027_img" class="img " src="{{ url_for('static', filename='images/compound_11_0______/u6969.svg') }}"/>
            <div id="u7027_text" class="text ">
              <p><span>Save</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u7028" class="ax_default box_2">
            <img id="u7028_img" class="img " src="{{ url_for('static', filename='images/compound_11_0______/u6969.svg') }}"/>
            <div id="u7028_text" class="text ">
              <p><span>Copy</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u7029" class="ax_default box_2">
            <img id="u7029_img" class="img " src="{{ url_for('static', filename='images/compound_11_0______/u6969.svg') }}"/>
            <div id="u7029_text" class="text ">
              <p><span>Paste MgCl2</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
