<!DOCTYPE html>
<html>
  <head>
    <title>Compound 13.0</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/compound_13_0/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/compound_13_0/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- 内部框架 (Inline Frame) -->
      <div id="u6305" class="ax_default" data-label="内部框架">
        <iframe id="u6305_input" data-label="内部框架" src="http://127.0.0.1:5000/u6305_input"></iframe>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u6306" class="ax_default" data-left="248" data-top="95" data-width="625" data-height="606" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u6307" class="ax_default box_1">
          <div id="u6307_div" class=""></div>
          <div id="u6307_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u6308" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="259" data-top="101" data-width="580" data-height="336" layer-opacity="1">

          <!-- Unnamed (Text Field) -->
          <div id="u6309" class="ax_default text_field">
            <div id="u6309_div" class=""></div>
            <input id="u6309_input" type="text" value="Weight:" class="u6309_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u6310" class="ax_default text_field">
            <div id="u6310_div" class=""></div>
            <input id="u6310_input" type="text" value="Compound Name" class="u6310_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u6311" class="ax_default text_field">
            <div id="u6311_div" class=""></div>
            <input id="u6311_input" type="text" value="Modified: 1992 Mar 10" class="u6311_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u6312" class="ax_default text_field">
            <div id="u6312_div" class=""></div>
            <input id="u6312_input" type="text" value="Carbon Dioxide" class="u6312_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u6313" class="ax_default text_field">
            <div id="u6313_div" class=""></div>
            <input id="u6313_input" type="text" value="Reference no." class="u6313_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u6314" class="ax_default text_field">
            <div id="u6314_div" class=""></div>
            <input id="u6314_input" type="text" value="" class="u6314_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u6315" class="ax_default text_field">
            <div id="u6315_div" class=""></div>
            <input id="u6315_input" type="text" value="" class="u6315_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u6316" class="ax_default text_field">
            <div id="u6316_div" class=""></div>
            <input id="u6316_input" type="text" value="Comments" class="u6316_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u6317" class="ax_default text_field">
            <div id="u6317_div" class=""></div>
            <input id="u6317_input" type="text" value="" class="u6317_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u6318" class="ax_default text_field">
            <div id="u6318_div" class=""></div>
            <input id="u6318_input" type="text" value="CO2 properties" class="u6318_input" readonly/>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u6319" class="ax_default" data-left="268" data-top="349" data-width="571" data-height="88" layer-opacity="1">

            <!-- Unnamed (Text Field) -->
            <div id="u6320" class="ax_default text_field">
              <div id="u6320_div" class=""></div>
              <input id="u6320_input" type="text" value="2" class="u6320_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u6321" class="ax_default text_field">
              <div id="u6321_div" class=""></div>
              <input id="u6321_input" type="text" value="O" class="u6321_input" readonly/>
            </div>

            <!-- Unnamed (Line) -->
            <div id="u6322" class="ax_default line">
              <img id="u6322_img" class="img " src="{{ url_for('static', filename='images/compound_14_5/u5946.svg') }}"/>
              <div id="u6322_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Line) -->
            <div id="u6323" class="ax_default line">
              <img id="u6323_img" class="img " src="{{ url_for('static', filename='images/compound_14_5/u5946.svg') }}"/>
              <div id="u6323_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Vertical Line) -->
            <div id="u6324" class="ax_default line">
              <img id="u6324_img" class="img " src="{{ url_for('static', filename='images/compound_14_5/u5948.svg') }}"/>
              <div id="u6324_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u6325" class="ax_default text_field">
              <div id="u6325_div" class=""></div>
              <input id="u6325_input" type="text" value="Real Stoichiometry(for advances users only)" class="u6325_input" readonly/>
            </div>

            <!-- Unnamed (Vertical Line) -->
            <div id="u6326" class="ax_default line">
              <img id="u6326_img" class="img " src="{{ url_for('static', filename='images/compound_14_5/u5948.svg') }}"/>
              <div id="u6326_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u6327" class="ax_default text_field">
              <div id="u6327_div" class=""></div>
              <input id="u6327_input" type="text" value="C" class="u6327_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u6328" class="ax_default text_field">
              <div id="u6328_div" class=""></div>
              <input id="u6328_input" type="text" value="" class="u6328_input"/>
            </div>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u6329" class="ax_default text_field">
            <div id="u6329_div" class=""></div>
            <input id="u6329_input" type="text" value="44.0098 g/mol" class="u6329_input"/>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u6330" class="ax_default" data-left="0" data-top="0" data-width="873" data-height="750" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u6331" class="ax_default box_1">
          <div id="u6331_div" class=""></div>
          <div id="u6331_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6332" class="ax_default box_1">
          <div id="u6332_div" class=""></div>
          <div id="u6332_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6333" class="ax_default box_1">
          <div id="u6333_div" class=""></div>
          <div id="u6333_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6334" class="ax_default text_field">
          <div id="u6334_div" class=""></div>
          <input id="u6334_input" type="text" value="FactSage" class="u6334_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6335" class="ax_default text_field">
          <div id="u6335_div" class=""></div>
          <input id="u6335_input" type="text" value="C:\FACTSAGE\USERDATA\EXAMPLEBASE.CDB(v5.0) 3 compound(s) read/write" class="u6335_input" readonly/>
        </div>

        <!-- Unnamed (List Box) -->
        <div id="u6336" class="ax_default list_box">
          <div id="u6336_div" class=""></div>
          <select id="u6336_input" size="2" class="u6336_input">
            <option class="u6336_input_option" value="...r    BINSBASE">...r&nbsp; &nbsp; BINSBASE</option>
            <option class="u6336_input_option" value="...r    ELEMBASE  ">...r&nbsp; &nbsp; ELEMBASE&nbsp; </option>
            <option class="u6336_input_option" value="...r/w    EXAMBASE">...r/w&nbsp; &nbsp; EXAMBASE</option>
            <option class="u6336_input_option" value="     ...      MgSO4">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; MgSO4</option>
            <option class="u6336_input_option" value="     ...      MgCl2">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; MgCl2</option>
            <option class="u6336_input_option" value="...r    FACT53BASE ">...r&nbsp; &nbsp; FACT53BASE </option>
            <option class="u6336_input_option" value="...r    FACTBASE">...r&nbsp; &nbsp; FACTBASE</option>
            <option class="u6336_input_option" value="     ...      MgSO4">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; MgSO4</option>
            <option class="u6336_input_option" value="     ...      MgCl2">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; MgCl2</option>
            <option class="u6336_input_option" value="...r    FSleadBASE">...r&nbsp; &nbsp; FSleadBASE</option>
            <option class="u6336_input_option" value="...r    FSliteBASE">...r&nbsp; &nbsp; FSliteBASE</option>
            <option class="u6336_input_option" value="...r    FSnoblBASE">...r&nbsp; &nbsp; FSnoblBASE</option>
            <option class="u6336_input_option" value="...r    FSstelBASE">...r&nbsp; &nbsp; FSstelBASE</option>
            <option class="u6336_input_option" value="...r    FSupsiBASE">...r&nbsp; &nbsp; FSupsiBASE</option>
            <option class="u6336_input_option" value="...r    FThallBASE">...r&nbsp; &nbsp; FThallBASE</option>
            <option class="u6336_input_option" value="...r    FThelgBASE">...r&nbsp; &nbsp; FThelgBASE</option>
            <option class="u6336_input_option" value="...r/w    FTliBASE">...r/w&nbsp; &nbsp; FTliBASE</option>
            <option class="u6336_input_option" value="...r    FTliteBASE">...r&nbsp; &nbsp; FTliteBASE</option>
            <option class="u6336_input_option" value="...r    FTmiscBASE">...r&nbsp; &nbsp; FTmiscBASE</option>
            <option class="u6336_input_option" value="...r    FToxidBASE">...r&nbsp; &nbsp; FToxidBASE</option>
            <option class="u6336_input_option" value="...r    FTpulpBASE">...r&nbsp; &nbsp; FTpulpBASE</option>
            <option class="u6336_input_option" value="...r    FTsaltBASE">...r&nbsp; &nbsp; FTsaltBASE</option>
            <option class="u6336_input_option" value="...r    USERDATA">...r&nbsp; &nbsp; USERDATA</option>
          </select>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6337" class="ax_default text_field">
          <div id="u6337_div" class=""></div>
          <input id="u6337_input" type="text" value="Formula" class="u6337_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6338" class="ax_default text_field">
          <div id="u6338_div" class=""></div>
          <input id="u6338_input" type="text" value="CO2" class="u6338_input"/>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u6339" class="ax_default _形状">
          <img id="u6339_img" class="img " src="{{ url_for('static', filename='images/compound_14_5/u5961.svg') }}"/>
          <div id="u6339_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u6340" class="ax_default" data-left="63" data-top="15" data-width="467" data-height="32" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u6341" class="ax_default _二级标题">
            <div id="u6341_div" class=""></div>
            <div id="u6341_text" class="text ">
              <p><span>ViewData</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u6342" class="ax_default _二级标题">
            <div id="u6342_div" class=""></div>
            <div id="u6342_text" class="text ">
              <p><span>Units</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u6343" class="ax_default _二级标题">
            <div id="u6343_div" class=""></div>
            <div id="u6343_text" class="text ">
              <p><span>Tools</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u6344" class="ax_default _二级标题">
            <div id="u6344_div" class=""></div>
            <div id="u6344_text" class="text ">
              <p><span>Help</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u6345" class="ax_default _三级标题">
            <div id="u6345_div" class=""></div>
            <div id="u6345_text" class="text ">
              <p><span>File</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u6346" class="ax_default _形状">
        <img id="u6346_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1722.svg') }}"/>
        <div id="u6346_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u6347" class="ax_default _三级标题">
        <div id="u6347_div" class=""></div>
        <div id="u6347_text" class="text ">
          <p><span>View</span></p>
        </div>
      </div>

      <!-- Unnamed (Hot Spot) -->
      <div id="u6348" class="ax_default">
      </div>

      <!-- Unnamed (Group) -->
      <div id="u6349" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="330" data-top="349" data-width="392" data-height="241" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u6350" class="ax_default _形状">
          <div id="u6350_div" class=""></div>
          <div id="u6350_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6351" class="ax_default box_1">
          <div id="u6351_div" class=""></div>
          <div id="u6351_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u6352" class="ax_default _形状">
          <img id="u6352_img" class="img " src="{{ url_for('static', filename='images/calphad_optimizer/u2141.svg') }}"/>
          <div id="u6352_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6353" class="ax_default _段落">
          <div id="u6353_div" class=""></div>
          <div id="u6353_text" class="text ">
            <p><span>Erase CO2 from EXAMBASE</span></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6354" class="ax_default text_field">
          <div id="u6354_div" class=""></div>
          <input id="u6354_input" type="text" value="Yes" class="u6354_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6355" class="ax_default text_field">
          <div id="u6355_div" class=""></div>
          <input id="u6355_input" type="text" value="No" class="u6355_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6356" class="ax_default text_field">
          <div id="u6356_div" class=""></div>
          <input id="u6356_input" type="text" value="Cancel" class="u6356_input" readonly/>
        </div>
      </div>

      <!-- edit (Dynamic Panel) -->
      <div id="u6357" class="ax_default" data-label="edit">
        <div id="u6357_state0" class="panel_state" data-label="菜单收起" style="">
          <div id="u6357_state0_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u6358" class="ax_default _一级标题">
              <div id="u6358_div" class=""></div>
              <div id="u6358_text" class="text ">
                <p><span>Edit</span></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u6357_state1" class="panel_state" data-label="菜单下拉" style="visibility: hidden;">
          <div id="u6357_state1_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u6359" class="ax_default _一级标题">
              <div id="u6359_div" class=""></div>
              <div id="u6359_text" class="text ">
                <p><span>Edit</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6360" class="ax_default _段落">
              <div id="u6360_div" class=""></div>
              <div id="u6360_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u6361" class="ax_default _段落">
              <img id="u6361_img" class="img " src="{{ url_for('static', filename='images/compound_13_0/u6361.svg') }}"/>
              <div id="u6361_text" class="text ">
                <p><span>Add</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u6362" class="ax_default _段落">
              <img id="u6362_img" class="img " src="{{ url_for('static', filename='images/compound_13_0/u6362.svg') }}"/>
              <div id="u6362_text" class="text ">
                <p><span>Remove CO2 from list</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u6363" class="ax_default _段落">
              <img id="u6363_img" class="img " src="{{ url_for('static', filename='images/compound_13_0/u6363.svg') }}"/>
              <div id="u6363_text" class="text ">
                <p><span>Clear list of compounds</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u6364" class="ax_default _段落">
              <img id="u6364_img" class="img " src="{{ url_for('static', filename='images/compound_13_0/u6363.svg') }}"/>
              <div id="u6364_text" class="text ">
                <p><span>Erase CO2 from EXAMBASE</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u6365" class="ax_default _段落">
              <img id="u6365_img" class="img " src="{{ url_for('static', filename='images/compound_13_0/u6363.svg') }}"/>
              <div id="u6365_text" class="text ">
                <p><span>Save CO2 to EXAMBASE</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u6366" class="ax_default _段落">
              <img id="u6366_img" class="img " src="{{ url_for('static', filename='images/compound_13_0/u6363.svg') }}"/>
              <div id="u6366_text" class="text ">
                <p><span>Copy</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u6367" class="ax_default _段落">
              <img id="u6367_img" class="img " src="{{ url_for('static', filename='images/compound_13_0/u6363.svg') }}"/>
              <div id="u6367_text" class="text ">
                <p><span>Paste CO2</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
