<!DOCTYPE html>
<html>
<head>
    <title>Compound 4.2</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/compound_4_2/styles.css') }}" type="text/css" rel="stylesheet"/>

    <script>
        document.oncontextmenu = function (event) {
            event = event || window.event;
            var targetElement = event.target || event.srcElement;
            if (!targetElement) return true;

            if (targetElement.tagName) {
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||
                    targetElement.tagName.toLowerCase() === "textarea") {
                    return true;
                }
            }
            return false;
        }
    </script>
    <script src
                    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/compound_4_2/data.js') }}"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () {
            return 'resources/images/transparent.gif';
        };
        $axure.utils.getOtherPath = function () {
            return 'resources/Other.html';
        };
        $axure.utils.getReloadPath = function () {
            return 'resources/reload.html';
        };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- Unnamed (Group) -->
    <div id="u7030" class="ax_default" data-left="0" data-top="0" data-width="867" data-height="750" layer-opacity="1">

        <!-- 内部框架 (Inline Frame) -->
        <div id="u7031" class="ax_default" data-label="内部框架">
            <iframe id="u7031_input" data-label="内部框架" allowfullscreen ></iframe>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u7032" class="ax_default" data-left="255" data-top="95" data-width="612" data-height="606"
             layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u7033" class="ax_default box_1">
                <div id="u7033_div" class=""></div>
                <div id="u7033_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7034" class="ax_default text_field">
                <div id="u7034_div" class=""></div>
                <input id="u7034_input" type="text" value="Compound Name" class="u7034_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7035" class="ax_default text_field">
                <div id="u7035_div" class=""></div>
                <input id="u7035_input" type="text" value="Modified: 2009 Jan 30" class="u7035_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7036" class="ax_default text_field">
                <div id="u7036_div" class=""></div>
                <input id="u7036_input" type="text" value="" class="u7036_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7037" class="ax_default text_field">
                <div id="u7037_div" class=""></div>
                <input id="u7037_input" type="text" value="Reference no." class="u7037_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7038" class="ax_default text_field">
                <div id="u7038_div" class=""></div>
                <input id="u7038_input" type="text" value="" class="u7038_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7039" class="ax_default text_field">
                <div id="u7039_div" class=""></div>
                <input id="u7039_input" type="text" value="" class="u7039_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7040" class="ax_default text_field">
                <div id="u7040_div" class=""></div>
                <input id="u7040_input" type="text" value="Comments" class="u7040_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7041" class="ax_default text_field">
                <div id="u7041_div" class=""></div>
                <input id="u7041_input" type="text" value="" class="u7041_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7042" class="ax_default text_field">
                <div id="u7042_div" class=""></div>
                <input id="u7042_input" type="text" value="MgCl2 properties" class="u7042_input" readonly/>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u7043" class="ax_default" data-left="269" data-top="340" data-width="559" data-height="91"
                 layer-opacity="1">

                <!-- Unnamed (Text Field) -->
                <div id="u7044" class="ax_default text_field">
                    <div id="u7044_div" class=""></div>
                    <input id="u7044_input" type="text" value="" class="u7044_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u7045" class="ax_default text_field">
                    <div id="u7045_div" class=""></div>
                    <input id="u7045_input" type="text" value="Mg" class="u7045_input" readonly/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u7046" class="ax_default text_field">
                    <div id="u7046_div" class=""></div>
                    <input id="u7046_input" type="text" value="" class="u7046_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u7047" class="ax_default text_field">
                    <div id="u7047_div" class=""></div>
                    <input id="u7047_input" type="text" value="Cl" class="u7047_input" readonly/>
                </div>

                <!-- Unnamed (Line) -->
                <div id="u7048" class="ax_default line">
                    <img id="u7048_img" class="img "
                         src="{{ url_for('static', filename='images/compound_4_2/u7048.svg') }}"/>
                    <div id="u7048_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Line) -->
                <div id="u7049" class="ax_default line">
                    <img id="u7049_img" class="img "
                         src="{{ url_for('static', filename='images/compound_4_2/u7048.svg') }}"/>
                    <div id="u7049_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Vertical Line) -->
                <div id="u7050" class="ax_default line">
                    <img id="u7050_img" class="img "
                         src="{{ url_for('static', filename='images/compound_14_5/u6223.svg') }}"/>
                    <div id="u7050_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u7051" class="ax_default text_field">
                    <div id="u7051_div" class=""></div>
                    <input id="u7051_input" type="text" value="Real Stoichiometry(for advances users only)"
                           class="u7051_input" readonly/>
                </div>

                <!-- Unnamed (Vertical Line) -->
                <div id="u7052" class="ax_default line">
                    <img id="u7052_img" class="img "
                         src="{{ url_for('static', filename='images/compound_14_5/u6223.svg') }}"/>
                    <div id="u7052_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7053" class="ax_default text_field">
                <div id="u7053_div" class=""></div>
                <input id="u7053_input" type="text" value="Weight : 95.2104 g/mol " class="u7053_input" readonly/>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u7054" class="ax_default" data-left="0" data-top="0" data-width="867" data-height="750"
             layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u7055" class="ax_default box_1">
                <div id="u7055_div" class=""></div>
                <div id="u7055_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u7056" class="ax_default box_1">
                <div id="u7056_div" class=""></div>
                <div id="u7056_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u7057" class="ax_default box_1">
                <div id="u7057_div" class=""></div>
                <div id="u7057_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7058" class="ax_default text_field">
                <div id="u7058_div" class=""></div>
                <input id="u7058_input" type="text" value="FactSage" class="u7058_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7059" class="ax_default text_field">
                <div id="u7059_div" class=""></div>
                <input id="u7059_input" type="text"
                       value="C:\FACTSAGE\USERDATA\EXAMPLEBASE.CDB(v5.0) 0 compound(s) read/write" class="u7059_input"
                       readonly/>
            </div>

            <!-- Unnamed (List Box) -->
            <div id="u7060" class="ax_default list_box">
                <div id="u7060_div" class=""></div>
                <select id="u7060_input" size="2" class="u7060_input">
                    <option class="u7060_input_option" value="...r    BINSBASE">...r&nbsp; &nbsp; BINSBASE</option>
                    <option class="u7060_input_option" value="...r    ELEMBASE  ">...r&nbsp; &nbsp; ELEMBASE&nbsp;
                    </option>
                    <option class="u7060_input_option" value="...r/w    EXAMBASE">...r/w&nbsp; &nbsp; EXAMBASE</option>
                    <option class="u7060_input_option" value="     ...      MgCl2">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp;
                        &nbsp; MgCl2
                    </option>
                    <option class="u7060_input_option" value="...r    FACT53BASE ">...r&nbsp; &nbsp; FACT53BASE</option>
                    <option class="u7060_input_option" value="...r    FACTBASE">...r&nbsp; &nbsp; FACTBASE</option>
                    <option class="u7060_input_option" value="     ...      MgSO4">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp;
                        &nbsp; MgSO4
                    </option>
                    <option class="u7060_input_option" value="     ...      MgCl2">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp;
                        &nbsp; MgCl2
                    </option>
                    <option class="u7060_input_option" value="...r    FSleadBASE">...r&nbsp; &nbsp; FSleadBASE</option>
                    <option class="u7060_input_option" value="...r    FSliteBASE">...r&nbsp; &nbsp; FSliteBASE</option>
                    <option class="u7060_input_option" value="...r    FSnoblBASE">...r&nbsp; &nbsp; FSnoblBASE</option>
                    <option class="u7060_input_option" value="...r    FSstelBASE">...r&nbsp; &nbsp; FSstelBASE</option>
                    <option class="u7060_input_option" value="...r    FSupsiBASE">...r&nbsp; &nbsp; FSupsiBASE</option>
                    <option class="u7060_input_option" value="...r    FThallBASE">...r&nbsp; &nbsp; FThallBASE</option>
                    <option class="u7060_input_option" value="...r    FThelgBASE">...r&nbsp; &nbsp; FThelgBASE</option>
                    <option class="u7060_input_option" value="...r/w    FTliBASE">...r/w&nbsp; &nbsp; FTliBASE</option>
                    <option class="u7060_input_option" value="...r    FTliteBASE">...r&nbsp; &nbsp; FTliteBASE</option>
                    <option class="u7060_input_option" value="...r    FTmiscBASE">...r&nbsp; &nbsp; FTmiscBASE</option>
                    <option class="u7060_input_option" value="...r    FToxidBASE">...r&nbsp; &nbsp; FToxidBASE</option>
                    <option class="u7060_input_option" value="...r    FTpulpBASE">...r&nbsp; &nbsp; FTpulpBASE</option>
                    <option class="u7060_input_option" value="...r    FTsaltBASE">...r&nbsp; &nbsp; FTsaltBASE</option>
                    <option class="u7060_input_option" value="...r    USERDATA">...r&nbsp; &nbsp; USERDATA</option>
                </select>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7061" class="ax_default text_field">
                <div id="u7061_div" class=""></div>
                <input id="u7061_input" type="text" value="Formula" class="u7061_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7062" class="ax_default text_field">
                <div id="u7062_div" class=""></div>
                <input id="u7062_input" type="text" value="MgCl2" class="u7062_input"/>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u7063" class="ax_default _形状">
                <img id="u7063_img" class="img "
                     src="{{ url_for('static', filename='images/compound_3_1/u6907.svg') }}"/>
                <div id="u7063_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u7064" class="ax_default" data-left="63" data-top="15" data-width="463" data-height="32"
                 layer-opacity="1">

                <!-- Unnamed (Rectangle) -->
                <div id="u7065" class="ax_default _段落">
                    <div id="u7065_div" class=""></div>
                    <div id="u7065_text" class="text ">
                        <p><span>Edit</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u7066" class="ax_default _二级标题">
                    <div id="u7066_div" class=""></div>
                    <div id="u7066_text" class="text ">
                        <p><span>ViewData</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u7067" class="ax_default _二级标题">
                    <div id="u7067_div" class=""></div>
                    <div id="u7067_text" class="text ">
                        <p><span>Units</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u7068" class="ax_default _二级标题">
                    <div id="u7068_div" class=""></div>
                    <div id="u7068_text" class="text ">
                        <p><span>Tools</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u7069" class="ax_default _二级标题">
                    <div id="u7069_div" class=""></div>
                    <div id="u7069_text" class="text ">
                        <p><span>Help</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u7070" class="ax_default _三级标题">
                    <div id="u7070_div" class=""></div>
                    <div id="u7070_text" class="text ">
                        <p><span>File</span></p>
                    </div>
                </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7071" class="ax_default text_field">
                <div id="u7071_div" class=""></div>
                <input id="u7071_input" type="text" value="Modified" class="u7071_input" readonly/>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u7072" class="ax_default _形状">
            <img id="u7072_img" class="img "
                 src="{{ url_for('static', filename='images/compound_new_data_/u6887.svg') }}"/>
            <div id="u7072_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u7073" class="ax_default _三级标题">
            <div id="u7073_div" class=""></div>
            <div id="u7073_text" class="text ">
                <p><span>View</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u7074" class="ax_default" data-left="19" data-top="152" data-width="132" data-height="18"
         layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u7075" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">

            <!-- 2 (Group) -->
            <div id="u7076" class="ax_default ax_default_hidden" data-label="2" style="display:none; visibility: hidden"
                 data-left="104" data-top="165" data-width="325" data-height="156" layer-opacity="1">

                <!-- Unnamed (Rectangle) -->
                <div id="u7077" class="ax_default box_2">
                    <img id="u7077_img" class="img "
                         src="{{ url_for('static', filename='images/compound_4_2/u7077.svg') }}"/>
                    <div id="u7077_text" class="text ">
                        <p><span>Add phase</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u7078" class="ax_default box_2">
                    <img id="u7078_img" class="img "
                         src="{{ url_for('static', filename='images/compound_4_2/u7077.svg') }}"/>
                    <div id="u7078_text" class="text ">
                        <p><span>Add Cp range</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u7079" class="ax_default box_2">
                    <img id="u7079_img" class="img "
                         src="{{ url_for('static', filename='images/compound_4_2/u7077.svg') }}"/>
                    <div id="u7079_text" class="text ">
                        <p><span>Add Phusical property...</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u7080" class="ax_default box_2">
                    <img id="u7080_img" class="img "
                         src="{{ url_for('static', filename='images/compound_4_2/u7077.svg') }}"/>
                    <div id="u7080_text" class="text ">
                        <p><span>Copy toClipBoard</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u7081" class="ax_default box_2">
                    <img id="u7081_img" class="img "
                         src="{{ url_for('static', filename='images/compound_4_2/u7077.svg') }}"/>
                    <div id="u7081_text" class="text ">
                        <p><span>Delete phase</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u7082" class="ax_default box_2">
                    <img id="u7082_img" class="img "
                         src="{{ url_for('static', filename='images/compound_4_2/u7077.svg') }}"/>
                    <div id="u7082_text" class="text ">
                        <p><span>Erase MgCl2 from EXAMBASE</span></p>
                    </div>
                </div>

                <!-- Unnamed (Group) -->
                <div id="u7083" class="ax_default" data-left="416" data-top="172" data-width="6" data-height="12"
                     layer-opacity="1">

                    <!-- Unnamed (Shape) -->
                    <div id="u7084" class="ax_default _形状">
                        <img id="u7084_img" class="img "
                             src="{{ url_for('static', filename='images/compound_4_2/u7084.svg') }}"/>
                        <div id="u7084_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u7085" class="ax_default ax_default_hidden" style="display:none; visibility: hidden"
                 data-left="429" data-top="165" data-width="77" data-height="104" layer-opacity="1">

                <!-- Unnamed (Rectangle) -->
                <div id="u7086" class="ax_default box_2">
                    <img id="u7086_img" class="img "
                         src="{{ url_for('static', filename='images/compound_4_2/u7086.svg') }}"/>
                    <div id="u7086_text" class="text ">
                        <p><span>Solid</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u7087" class="ax_default box_2">
                    <img id="u7087_img" class="img "
                         src="{{ url_for('static', filename='images/compound_4_2/u7086.svg') }}"/>
                    <div id="u7087_text" class="text ">
                        <p><span>Liquid</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u7088" class="ax_default box_2">
                    <img id="u7088_img" class="img "
                         src="{{ url_for('static', filename='images/compound_4_2/u7086.svg') }}"/>
                    <div id="u7088_text" class="text ">
                        <p><span>Gas</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u7089" class="ax_default box_2">
                    <img id="u7089_img" class="img "
                         src="{{ url_for('static', filename='images/compound_4_2/u7086.svg') }}"/>
                    <div id="u7089_text" class="text ">
                        <p><span>Aqueous</span></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Unnamed (Hot Spot) -->
        <div id="u7090" class="ax_default">
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
</body>
</html>
