<!DOCTYPE html>
<html>
  <head>
    <title>Compound(New Data)</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/compound_new_data_/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/compound_new_data_/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Group) -->
      <div id="u6837" class="ax_default" data-left="0" data-top="0" data-width="860" data-height="750" layer-opacity="1">

        <!-- 内部框架 (Inline Frame) -->
        <div id="u6838" class="ax_default" data-label="内部框架">
          <iframe id="u6838_input" data-label="内部框架" src="http://127.0.0.1:5000/u6838_input"></iframe>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u6839" class="ax_default" data-left="0" data-top="0" data-width="860" data-height="750" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u6840" class="ax_default box_1">
            <div id="u6840_div" class=""></div>
            <div id="u6840_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u6841" class="ax_default box_1">
            <div id="u6841_div" class=""></div>
            <div id="u6841_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u6842" class="ax_default box_1">
            <div id="u6842_div" class=""></div>
            <div id="u6842_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u6843" class="ax_default box_1">
            <div id="u6843_div" class=""></div>
            <div id="u6843_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u6844" class="ax_default text_field">
            <div id="u6844_div" class=""></div>
            <input id="u6844_input" type="text" value="FactSage" class="u6844_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u6845" class="ax_default text_field">
            <div id="u6845_div" class=""></div>
            <input id="u6845_input" type="text" value="C:\FACTSAGE\USERDATA\EXAMPLEBASE.CDB(v5.0) 0 compound(s) read/write" class="u6845_input" readonly/>
          </div>

          <!-- Unnamed (List Box) -->
          <div id="u6846" class="ax_default list_box">
            <div id="u6846_div" class=""></div>
            <select id="u6846_input" size="2" class="u6846_input">
              <option class="u6846_input_option" value="...r    BINSBASE">...r&nbsp; &nbsp; BINSBASE</option>
              <option class="u6846_input_option" value="...r    ELEMBASE  ">...r&nbsp; &nbsp; ELEMBASE&nbsp; </option>
              <option class="u6846_input_option" value="...r    FACT53BASE  ">...r&nbsp; &nbsp; FACT53BASE&nbsp; </option>
              <option class="u6846_input_option" value="...r    FACTBASE">...r&nbsp; &nbsp; FACTBASE</option>
              <option class="u6846_input_option" value="...r    FScoppBASE">...r&nbsp; &nbsp; FScoppBASE</option>
              <option class="u6846_input_option" value="...r    FSleadBASE">...r&nbsp; &nbsp; FSleadBASE</option>
              <option class="u6846_input_option" value="...r    FSliteBASE">...r&nbsp; &nbsp; FSliteBASE</option>
              <option class="u6846_input_option" value="...r    FSnoblBASE">...r&nbsp; &nbsp; FSnoblBASE</option>
              <option class="u6846_input_option" value="...r    FSstelBASE">...r&nbsp; &nbsp; FSstelBASE</option>
              <option class="u6846_input_option" value="...r    FSupsiBASE">...r&nbsp; &nbsp; FSupsiBASE</option>
              <option class="u6846_input_option" value="...r    FThallBASE">...r&nbsp; &nbsp; FThallBASE</option>
              <option class="u6846_input_option" value="...r    FThelgBASE">...r&nbsp; &nbsp; FThelgBASE</option>
              <option class="u6846_input_option" value="...r/w    FTliBASE">...r/w&nbsp; &nbsp; FTliBASE</option>
              <option class="u6846_input_option" value="...r    FTliteBASE">...r&nbsp; &nbsp; FTliteBASE</option>
              <option class="u6846_input_option" value="...r    FTmiscBASE">...r&nbsp; &nbsp; FTmiscBASE</option>
              <option class="u6846_input_option" value="...r    FToxidBASE">...r&nbsp; &nbsp; FToxidBASE</option>
              <option class="u6846_input_option" value="...r    FTpulpBASE">...r&nbsp; &nbsp; FTpulpBASE</option>
              <option class="u6846_input_option" value="...r    FTsaltBASE">...r&nbsp; &nbsp; FTsaltBASE</option>
              <option class="u6846_input_option" value="...r    USERDATA">...r&nbsp; &nbsp; USERDATA</option>
            </select>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u6847" class="ax_default text_field">
            <div id="u6847_div" class=""></div>
            <input id="u6847_input" type="text" value="Formula" class="u6847_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u6848" class="ax_default text_field">
            <div id="u6848_div" class=""></div>
            <input id="u6848_input" type="text" value="" class="u6848_input"/>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u6849" class="ax_default _形状">
            <img id="u6849_img" class="img " src="{{ url_for('static', filename='images/compound_new_data_/u6849.svg') }}"/>
            <div id="u6849_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u6850" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="284" data-top="130" data-width="545" data-height="491" layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u6851" class="ax_default box_1">
              <div id="u6851_div" class=""></div>
              <div id="u6851_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u6852" class="ax_default text_field">
              <img id="u6852_img" class="img " src="{{ url_for('static', filename='images/结果/u486.svg') }}"/>
              <input id="u6852_input" type="text" value="Create a new FactSage Commpound DataBase" class="u6852_input" readonly/>
            </div>

            <!-- Unnamed (Droplist) -->
            <div id="u6853" class="ax_default droplist">
              <div id="u6853_div" class=""></div>
              <select id="u6853_input" class="u6853_input">
                <option class="u6853_input_option" selected value="USERDATA">USERDATA</option>
                <option class="u6853_input_option" value="BINSBASE">BINSBASE</option>
                <option class="u6853_input_option" value="ELEMBASE  ">ELEMBASE&nbsp; </option>
                <option class="u6853_input_option" value="FACT53BASE  ">FACT53BASE&nbsp; </option>
                <option class="u6853_input_option" value="FACTBASE">FACTBASE</option>
                <option class="u6853_input_option" value="FScoppBASE">FScoppBASE</option>
                <option class="u6853_input_option" value="FSleadBASE">FSleadBASE</option>
                <option class="u6853_input_option" value="FSliteBASE">FSliteBASE</option>
                <option class="u6853_input_option" value="FSnoblBASE">FSnoblBASE</option>
                <option class="u6853_input_option" value="FSstelBASE">FSstelBASE</option>
                <option class="u6853_input_option" value="FSupsiBASE">FSupsiBASE</option>
                <option class="u6853_input_option" value="FThallBASE">FThallBASE</option>
                <option class="u6853_input_option" value="FThelgBASE">FThelgBASE</option>
                <option class="u6853_input_option" value="FTliBASE">FTliBASE</option>
                <option class="u6853_input_option" value="FTliteBASE">FTliteBASE</option>
                <option class="u6853_input_option" value="FTmiscBASE">FTmiscBASE</option>
                <option class="u6853_input_option" value="FToxidBASE">FToxidBASE</option>
                <option class="u6853_input_option" value="FTpulpBASE">FTpulpBASE</option>
                <option class="u6853_input_option" value="FTsaltBASE">FTsaltBASE</option>
              </select>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u6854" class="ax_default" data-left="707" data-top="171" data-width="96" data-height="25" layer-opacity="1">

              <!-- Unnamed (Group) -->
              <div id="u6855" class="ax_default" data-left="707" data-top="178" data-width="19" data-height="13" layer-opacity="1">

                <!-- Unnamed (Shape) -->
                <div id="u6856" class="ax_default _形状">
                  <img id="u6856_img" class="img " src="{{ url_for('static', filename='images/结果/u490.svg') }}"/>
                  <div id="u6856_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u6857" class="ax_default _形状">
                  <img id="u6857_img" class="img " src="{{ url_for('static', filename='images/结果/u491.svg') }}"/>
                  <div id="u6857_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u6858" class="ax_default _形状">
                  <img id="u6858_img" class="img " src="{{ url_for('static', filename='images/结果/u492.svg') }}"/>
                  <div id="u6858_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </div>

              <!-- Unnamed (Group) -->
              <div id="u6859" class="ax_default" data-left="781" data-top="175" data-width="22" data-height="20" layer-opacity="1">

                <!-- Unnamed (Shape) -->
                <div id="u6860" class="ax_default _形状">
                  <img id="u6860_img" class="img " src="{{ url_for('static', filename='images/结果/u494.svg') }}"/>
                  <div id="u6860_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u6861" class="ax_default _形状">
                  <img id="u6861_img" class="img " src="{{ url_for('static', filename='images/结果/u495.svg') }}"/>
                  <div id="u6861_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u6862" class="ax_default _形状">
                <img id="u6862_img" class="img " src="{{ url_for('static', filename='images/结果/u496.svg') }}"/>
                <div id="u6862_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u6863" class="ax_default _形状">
                <img id="u6863_img" class="img " src="{{ url_for('static', filename='images/结果/u497.svg') }}"/>
                <div id="u6863_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u6864" class="ax_default _形状">
                <img id="u6864_img" class="img " src="{{ url_for('static', filename='images/结果/u498.svg') }}"/>
                <div id="u6864_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u6865" class="ax_default _形状">
                <img id="u6865_img" class="img " src="{{ url_for('static', filename='images/结果/u499.svg') }}"/>
                <div id="u6865_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u6866" class="ax_default _形状">
                <img id="u6866_img" class="img " src="{{ url_for('static', filename='images/结果/u500.svg') }}"/>
                <div id="u6866_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u6867" class="ax_default _形状">
                <img id="u6867_img" class="img " src="{{ url_for('static', filename='images/结果/u501.svg') }}"/>
                <div id="u6867_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6868" class="ax_default box_1">
              <div id="u6868_div" class=""></div>
              <div id="u6868_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u6869" class="ax_default text_field">
              <div id="u6869_div" class=""></div>
              <input id="u6869_input" type="text" value="Save as type:" class="u6869_input" readonly/>
            </div>

            <!-- Unnamed (Droplist) -->
            <div id="u6870" class="ax_default droplist">
              <div id="u6870_div" class=""></div>
              <select id="u6870_input" class="u6870_input">
                <option class="u6870_input_option" selected value="ExampleBASE.CBD">ExampleBASE.CBD</option>
              </select>
            </div>

            <!-- Unnamed (Droplist) -->
            <div id="u6871" class="ax_default droplist">
              <div id="u6871_div" class=""></div>
              <select id="u6871_input" class="u6871_input">
                <option class="u6871_input_option" selected value="Fact-Win Compound DataBase[*.CBD]">Fact-Win Compound DataBase[*.CBD]</option>
              </select>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u6872" class="ax_default text_field">
              <div id="u6872_div" class=""></div>
              <input id="u6872_input" type="text" value="Save" class="u6872_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u6873" class="ax_default text_field">
              <div id="u6873_div" class=""></div>
              <input id="u6873_input" type="text" value="Cancel" class="u6873_input" readonly/>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6874" class="ax_default _段落">
              <div id="u6874_div" class=""></div>
              <div id="u6874_text" class="text ">
                <p><span>Save in:</span></p>
              </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u6875" class="ax_default text_field">
              <div id="u6875_div" class=""></div>
              <input id="u6875_input" type="text" value="File name:" class="u6875_input" readonly/>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u6876" class="ax_default" data-left="63" data-top="15" data-width="460" data-height="32" layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u6877" class="ax_default _段落">
              <div id="u6877_div" class=""></div>
              <div id="u6877_text" class="text ">
                <p><span>Edit</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6878" class="ax_default _二级标题">
              <div id="u6878_div" class=""></div>
              <div id="u6878_text" class="text ">
                <p><span>ViewData</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6879" class="ax_default _二级标题">
              <div id="u6879_div" class=""></div>
              <div id="u6879_text" class="text ">
                <p><span>Units</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6880" class="ax_default _二级标题">
              <div id="u6880_div" class=""></div>
              <div id="u6880_text" class="text ">
                <p><span>Tools</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6881" class="ax_default _二级标题">
              <div id="u6881_div" class=""></div>
              <div id="u6881_text" class="text ">
                <p><span>Help</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6882" class="ax_default _三级标题">
              <div id="u6882_div" class=""></div>
              <div id="u6882_text" class="text ">
                <p><span>View</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6883" class="ax_default _三级标题">
              <div id="u6883_div" class=""></div>
              <div id="u6883_text" class="text ">
                <p><span>File</span></p>
              </div>
            </div>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u6884" class="ax_default _形状">
          <img id="u6884_img" class="img " src="{{ url_for('static', filename='images/compound_new_data_/u6884.svg') }}"/>
          <div id="u6884_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u6885" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">

        <!-- 2 (Group) -->
        <div id="u6886" class="ax_default ax_default_hidden" data-label="2" style="display:none; visibility: hidden" data-left="57" data-top="41" data-width="138" data-height="78" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u6887" class="ax_default box_2">
            <img id="u6887_img" class="img " src="{{ url_for('static', filename='images/compound_new_data_/u6887.svg') }}"/>
            <div id="u6887_text" class="text ">
              <p><span>New Database</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u6888" class="ax_default box_2">
            <img id="u6888_img" class="img " src="{{ url_for('static', filename='images/compound_new_data_/u6887.svg') }}"/>
            <div id="u6888_text" class="text ">
              <p><span>Open Database</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u6889" class="ax_default box_2">
            <img id="u6889_img" class="img " src="{{ url_for('static', filename='images/compound_new_data_/u6887.svg') }}"/>
            <div id="u6889_text" class="text ">
              <p><span>Close Database</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
