<!DOCTYPE html>
<html>
  <head>
    <title>Compound 14.4(示例二)</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/compound_14_4_____/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/compound_14_4_____/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- 内部框架 (Inline Frame) -->
      <div id="u5985" class="ax_default" data-label="内部框架">
        <iframe id="u5985_input" data-label="内部框架" src="http://127.0.0.1:5000/u5985_input"></iframe>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u5986" class="ax_default" data-left="249" data-top="95" data-width="625" data-height="606" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u5987" class="ax_default box_1">
          <div id="u5987_div" class=""></div>
          <div id="u5987_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u5988" class="ax_default image">
        <img id="u5988_img" class="img " src="{{ url_for('static', filename='images/compound_14_5/u5951.png') }}"/>
        <div id="u5988_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u5989" class="ax_default" data-left="265" data-top="105" data-width="608" data-height="188" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u5990" class="ax_default" data-left="340" data-top="130" data-width="533" data-height="16" layer-opacity="1">

          <!-- Unnamed (Radio Button) -->
          <div id="u5991" class="ax_default radio_button">
            <label id="u5991_input_label" for="u5991_input" style="position: absolute; left: 0px;">
              <img id="u5991_img" class="img " src="{{ url_for('static', filename='images/compound_14_4_____/u5991.svg') }}"/>
              <div id="u5991_text" class="text ">
                <p><span>Heat + Temperature of transf.</span></p>
              </div>
            </label>
            <input id="u5991_input" type="radio" value="radio" name="u5991"/>
          </div>

          <!-- Unnamed (Radio Button) -->
          <div id="u5992" class="ax_default radio_button" selectiongroup="energy">
            <label id="u5992_input_label" for="u5992_input" style="position: absolute; left: 0px;">
              <img id="u5992_img" class="img " src="{{ url_for('static', filename='images/compound_14_4_____/u5992.svg') }}"/>
              <div id="u5992_text" class="text ">
                <p><span>Heat of from. + Entropy</span></p>
              </div>
            </label>
            <input id="u5992_input" type="radio" value="radio" name="energy"/>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u5993" class="ax_default" data-left="265" data-top="168" data-width="518" data-height="64" layer-opacity="1">

          <!-- Unnamed (Text Field) -->
          <div id="u5994" class="ax_default text_field">
            <div id="u5994_div" class=""></div>
            <input id="u5994_input" type="text" value="△H 298(Joules)" class="u5994_input"/>
          </div>

          <!-- Unnamed (Vertical Line) -->
          <div id="u5995" class="ax_default line">
            <img id="u5995_img" class="img " src="{{ url_for('static', filename='images/compound_14_4_____/u5995.svg') }}"/>
            <div id="u5995_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Line) -->
          <div id="u5996" class="ax_default line">
            <img id="u5996_img" class="img " src="{{ url_for('static', filename='images/compound_14_4_____/u5996.svg') }}"/>
            <div id="u5996_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Line) -->
          <div id="u5997" class="ax_default line">
            <img id="u5997_img" class="img " src="{{ url_for('static', filename='images/compound_14_4_____/u5996.svg') }}"/>
            <div id="u5997_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Vertical Line) -->
          <div id="u5998" class="ax_default line">
            <img id="u5998_img" class="img " src="{{ url_for('static', filename='images/compound_14_4_____/u5998.svg') }}"/>
            <div id="u5998_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u5999" class="ax_default text_field">
          <div id="u5999_div" class=""></div>
          <input id="u5999_input" type="text" value="S298(J/(mol K))" class="u5999_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6000" class="ax_default text_field">
          <div id="u6000_div" class=""></div>
          <input id="u6000_input" type="text" value="" class="u6000_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6001" class="ax_default text_field">
          <div id="u6001_div" class=""></div>
          <input id="u6001_input" type="text" value="" class="u6001_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6002" class="ax_default text_field">
          <div id="u6002_div" class=""></div>
          <input id="u6002_input" type="text" value="From. of S1" class="u6002_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6003" class="ax_default text_field">
          <div id="u6003_div" class=""></div>
          <input id="u6003_input" type="text" value="Phase Name" class="u6003_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6004" class="ax_default text_field">
          <div id="u6004_div" class=""></div>
          <input id="u6004_input" type="text" value="S1 properties" class="u6004_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6005" class="ax_default text_field">
          <div id="u6005_div" class=""></div>
          <input id="u6005_input" type="text" value="" class="u6005_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6006" class="ax_default text_field">
          <div id="u6006_div" class=""></div>
          <input id="u6006_input" type="text" value="Reference no." class="u6006_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6007" class="ax_default text_field">
          <div id="u6007_div" class=""></div>
          <input id="u6007_input" type="text" value="Density g/cc" class="u6007_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6008" class="ax_default text_field">
          <div id="u6008_div" class=""></div>
          <input id="u6008_input" type="text" value="" class="u6008_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6009" class="ax_default text_field">
          <div id="u6009_div" class=""></div>
          <input id="u6009_input" type="text" value="" class="u6009_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6010" class="ax_default text_field">
          <div id="u6010_div" class=""></div>
          <input id="u6010_input" type="text" value="" class="u6010_input"/>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u6011" class="ax_default" data-left="0" data-top="0" data-width="873" data-height="750" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u6012" class="ax_default box_1">
          <div id="u6012_div" class=""></div>
          <div id="u6012_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6013" class="ax_default box_1">
          <div id="u6013_div" class=""></div>
          <div id="u6013_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6014" class="ax_default box_1">
          <div id="u6014_div" class=""></div>
          <div id="u6014_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6015" class="ax_default text_field">
          <div id="u6015_div" class=""></div>
          <input id="u6015_input" type="text" value="FactSage" class="u6015_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6016" class="ax_default text_field">
          <div id="u6016_div" class=""></div>
          <input id="u6016_input" type="text" value="C:\FACTSAGE\USERDATA\EXAMPLEBASE.CDB(v5.0) 0 compound(s) read/write" class="u6016_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6017" class="ax_default text_field">
          <div id="u6017_div" class=""></div>
          <input id="u6017_input" type="text" value="Formula" class="u6017_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6018" class="ax_default text_field">
          <div id="u6018_div" class=""></div>
          <input id="u6018_input" type="text" value="Li3N" class="u6018_input"/>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u6019" class="ax_default _形状">
          <img id="u6019_img" class="img " src="{{ url_for('static', filename='images/compound_14_5/u5961.svg') }}"/>
          <div id="u6019_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u6020" class="ax_default" data-left="63" data-top="15" data-width="467" data-height="32" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u6021" class="ax_default _段落">
            <div id="u6021_div" class=""></div>
            <div id="u6021_text" class="text ">
              <p><span>Edit</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u6022" class="ax_default _二级标题">
            <div id="u6022_div" class=""></div>
            <div id="u6022_text" class="text ">
              <p><span>ViewData</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u6023" class="ax_default _二级标题">
            <div id="u6023_div" class=""></div>
            <div id="u6023_text" class="text ">
              <p><span>Units</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u6024" class="ax_default _二级标题">
            <div id="u6024_div" class=""></div>
            <div id="u6024_text" class="text ">
              <p><span>Help</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u6025" class="ax_default _三级标题">
            <div id="u6025_div" class=""></div>
            <div id="u6025_text" class="text ">
              <p><span>File</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6026" class="ax_default text_field">
          <div id="u6026_div" class=""></div>
          <input id="u6026_input" type="text" value="Modified" class="u6026_input" readonly/>
        </div>

        <!-- Unnamed (List Box) -->
        <div id="u6027" class="ax_default list_box">
          <div id="u6027_div" class=""></div>
          <select id="u6027_input" size="2" class="u6027_input">
            <option class="u6027_input_option" value="...r    BINSBASE">...r&nbsp; &nbsp; BINSBASE</option>
            <option class="u6027_input_option" value="...r    ELEMBASE  ">...r&nbsp; &nbsp; ELEMBASE&nbsp; </option>
            <option class="u6027_input_option" value="...r/w    EXAMBASE">...r/w&nbsp; &nbsp; EXAMBASE</option>
            <option class="u6027_input_option" value="...r    FACT53BASE  ">...r&nbsp; &nbsp; FACT53BASE&nbsp; </option>
            <option class="u6027_input_option" value="...r    FACTBASE">...r&nbsp; &nbsp; FACTBASE</option>
            <option class="u6027_input_option" value="     ...      Li">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; Li</option>
            <option class="u6027_input_option" value="            ...     S1">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ...&nbsp; &nbsp;&nbsp; S1</option>
            <option class="u6027_input_option" value="            ...     L2">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ...&nbsp; &nbsp;&nbsp; L2</option>
            <option class="u6027_input_option" value="            ...     G1">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ...&nbsp; &nbsp;&nbsp; G1</option>
            <option class="u6027_input_option" value="     ...      Li3N">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; Li3N</option>
            <option class="u6027_input_option" value="            ...     S1">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ...&nbsp; &nbsp;&nbsp; S1</option>
            <option class="u6027_input_option" value="     ...      Na">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; Na</option>
            <option class="u6027_input_option" value="            ...     S1">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ...&nbsp; &nbsp;&nbsp; S1</option>
            <option class="u6027_input_option" value="            ...     L1">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ...&nbsp; &nbsp;&nbsp; L1</option>
            <option class="u6027_input_option" value="            ...     G1">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ...&nbsp; &nbsp;&nbsp; G1</option>
            <option class="u6027_input_option" value="...r    FScoppBASE">...r&nbsp; &nbsp; FScoppBASE</option>
            <option class="u6027_input_option" value="...r    FSleadBASE">...r&nbsp; &nbsp; FSleadBASE</option>
            <option class="u6027_input_option" value="...r    FSliteBASE">...r&nbsp; &nbsp; FSliteBASE</option>
            <option class="u6027_input_option" value="...r    FSnoblBASE">...r&nbsp; &nbsp; FSnoblBASE</option>
            <option class="u6027_input_option" value="...r    FSstelBASE">...r&nbsp; &nbsp; FSstelBASE</option>
            <option class="u6027_input_option" value="...r    FSupsiBASE">...r&nbsp; &nbsp; FSupsiBASE</option>
            <option class="u6027_input_option" value="...r    FThallBASE">...r&nbsp; &nbsp; FThallBASE</option>
            <option class="u6027_input_option" value="...r    FThelgBASE">...r&nbsp; &nbsp; FThelgBASE</option>
            <option class="u6027_input_option" value="...r/w    FTliBASE">...r/w&nbsp; &nbsp; FTliBASE</option>
            <option class="u6027_input_option" value="...r    FTliteBASE">...r&nbsp; &nbsp; FTliteBASE</option>
            <option class="u6027_input_option" value="...r    FTmiscBASE">...r&nbsp; &nbsp; FTmiscBASE</option>
            <option class="u6027_input_option" value="...r    FToxidBASE">...r&nbsp; &nbsp; FToxidBASE</option>
            <option class="u6027_input_option" value="...r    FTpulpBASE">...r&nbsp; &nbsp; FTpulpBASE</option>
            <option class="u6027_input_option" value="...r    FTsaltBASE">...r&nbsp; &nbsp; FTsaltBASE</option>
            <option class="u6027_input_option" value="...r    USERDATA">...r&nbsp; &nbsp; USERDATA</option>
          </select>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u6028" class="ax_default _形状">
        <img id="u6028_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1722.svg') }}"/>
        <div id="u6028_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u6029" class="ax_default _三级标题">
        <div id="u6029_div" class=""></div>
        <div id="u6029_text" class="text ">
          <p><span>View</span></p>
        </div>
      </div>

      <!-- 模块管理 (Dynamic Panel) -->
      <div id="u6030" class="ax_default" data-label="模块管理">
        <div id="u6030_state0" class="panel_state" data-label="菜单收起" style="">
          <div id="u6030_state0_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u6031" class="ax_default _三级标题">
              <div id="u6031_div" class=""></div>
              <div id="u6031_text" class="text ">
                <p><span>Tools</span></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u6030_state1" class="panel_state" data-label="菜单下拉" style="visibility: hidden;">
          <div id="u6030_state1_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u6032" class="ax_default _三级标题">
              <div id="u6032_div" class=""></div>
              <div id="u6032_text" class="text ">
                <p><span>Tools</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u6033" class="ax_default _段落">
              <img id="u6033_img" class="img " src="{{ url_for('static', filename='images/compound_14_5/u5973.svg') }}"/>
              <div id="u6033_text" class="text ">
                <p><span>Scale Down</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6034" class="ax_default _段落">
              <div id="u6034_div" class=""></div>
              <div id="u6034_text" class="text ">
                <p><span>Scale Up...</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6035" class="ax_default _段落">
              <div id="u6035_div" class=""></div>
              <div id="u6035_text" class="text ">
                <p><span>Copy data to new Compound</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6036" class="ax_default _段落">
              <div id="u6036_div" class=""></div>
              <div id="u6036_text" class="text ">
                <p><span>Fuel</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6037" class="ax_default _段落">
              <div id="u6037_div" class=""></div>
              <div id="u6037_text" class="text ">
                <p><span>Mixer...</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u6038" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="300" data-top="331" data-width="483" data-height="295" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u6039" class="ax_default _形状">
          <div id="u6039_div" class=""></div>
          <div id="u6039_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u6040" class="ax_default _形状">
          <img id="u6040_img" class="img " src="{{ url_for('static', filename='images/compound_14_4_____/u6040.svg') }}"/>
          <div id="u6040_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6041" class="ax_default box_1">
          <div id="u6041_div" class=""></div>
          <div id="u6041_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6042" class="ax_default _段落">
          <div id="u6042_div" class=""></div>
          <div id="u6042_text" class="text ">
            <p><span>Compound Mixer</span></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u6043" class="ax_default _形状">
          <img id="u6043_img" class="img " src="{{ url_for('static', filename='images/compound_14_4_____/u6043.svg') }}"/>
          <div id="u6043_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6044" class="ax_default box_1">
          <div id="u6044_div" class=""></div>
          <div id="u6044_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6045" class="ax_default box_1">
          <div id="u6045_div" class=""></div>
          <div id="u6045_text" class="text ">
            <p><span>Reactants</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6046" class="ax_default box_1">
          <div id="u6046_div" class=""></div>
          <div id="u6046_text" class="text ">
            <p><span>Phase</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6047" class="ax_default box_1">
          <div id="u6047_div" class=""></div>
          <div id="u6047_text" class="text ">
            <p><span>Database</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6048" class="ax_default box_1">
          <div id="u6048_div" class=""></div>
          <div id="u6048_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u6049" class="ax_default _形状">
          <img id="u6049_img" class="img " src="{{ url_for('static', filename='images/compound_14_4_____/u6049.svg') }}"/>
          <div id="u6049_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u6050" class="ax_default image">
          <img id="u6050_img" class="img " src="{{ url_for('static', filename='images/compound_14_4_____/u6050.png') }}"/>
          <div id="u6050_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6051" class="ax_default box_1">
          <div id="u6051_div" class=""></div>
          <div id="u6051_text" class="text ">
            <p><span>Product</span></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u6052" class="ax_default box_1">
          <img id="u6052_img" class="img " src="{{ url_for('static', filename='images/compound_14_4_____/u6052.svg') }}"/>
          <div id="u6052_text" class="text ">
            <p><span>State</span></p>
          </div>
        </div>

        <!-- Unnamed (Droplist) -->
        <div id="u6053" class="ax_default droplist">
          <div id="u6053_div" class=""></div>
          <select id="u6053_input" class="u6053_input">
            <option class="u6053_input_option" value="Solid">Solid</option>
          </select>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u6054" class="ax_default image">
          <img id="u6054_img" class="img " src="{{ url_for('static', filename='images/compound_14_4_____/u6054.png') }}"/>
          <div id="u6054_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u6055" class="ax_default" data-left="321" data-top="469" data-width="24" data-height="25" layer-opacity="1">

          <!-- Unnamed (Shape) -->
          <div id="u6056" class="ax_default _形状">
            <img id="u6056_img" class="img " src="{{ url_for('static', filename='images/compound_14_4_____/u6056.svg') }}"/>
            <div id="u6056_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u6057" class="ax_default _形状">
            <img id="u6057_img" class="img " src="{{ url_for('static', filename='images/compound_14_4_____/u6057.svg') }}"/>
            <div id="u6057_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u6058" class="ax_default _形状">
            <img id="u6058_img" class="img " src="{{ url_for('static', filename='images/compound_14_4_____/u6058.svg') }}"/>
            <div id="u6058_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u6059" class="ax_default _形状">
            <img id="u6059_img" class="img " src="{{ url_for('static', filename='images/compound_14_4_____/u6059.svg') }}"/>
            <div id="u6059_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u6060" class="ax_default _形状">
            <img id="u6060_img" class="img " src="{{ url_for('static', filename='images/compound_14_4_____/u6060.svg') }}"/>
            <div id="u6060_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u6061" class="ax_default _形状">
            <img id="u6061_img" class="img " src="{{ url_for('static', filename='images/compound_14_4_____/u6061.svg') }}"/>
            <div id="u6061_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u6062" class="ax_default _形状">
            <img id="u6062_img" class="img " src="{{ url_for('static', filename='images/compound_14_4_____/u6062.svg') }}"/>
            <div id="u6062_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u6063" class="ax_default _形状">
            <img id="u6063_img" class="img " src="{{ url_for('static', filename='images/compound_14_4_____/u6063.svg') }}"/>
            <div id="u6063_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u6064" class="ax_default _形状">
            <img id="u6064_img" class="img " src="{{ url_for('static', filename='images/compound_14_4_____/u6064.svg') }}"/>
            <div id="u6064_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u6065" class="ax_default _形状">
            <img id="u6065_img" class="img " src="{{ url_for('static', filename='images/compound_14_4_____/u6065.svg') }}"/>
            <div id="u6065_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u6066" class="ax_default _形状">
            <img id="u6066_img" class="img " src="{{ url_for('static', filename='images/compound_14_4_____/u6066.svg') }}"/>
            <div id="u6066_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u6067" class="ax_default _形状">
            <img id="u6067_img" class="img " src="{{ url_for('static', filename='images/compound_14_4_____/u6067.svg') }}"/>
            <div id="u6067_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u6068" class="ax_default">
          <div id="u6068_state0" class="panel_state" data-label="State 1" style="">
            <div id="u6068_state0_content" class="panel_state_content">

              <!-- Unnamed (Text Field) -->
              <div id="u6069" class="ax_default text_field">
                <div id="u6069_div" class=""></div>
                <input id="u6069_input" type="text" value="" class="u6069_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6070" class="ax_default text_field">
                <div id="u6070_div" class=""></div>
                <input id="u6070_input" type="text" value="" class="u6070_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6071" class="ax_default text_field">
                <div id="u6071_div" class=""></div>
                <input id="u6071_input" type="text" value="" class="u6071_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6072" class="ax_default text_field">
                <div id="u6072_div" class=""></div>
                <input id="u6072_input" type="text" value="" class="u6072_input"/>
              </div>
            </div>
          </div>
          <div id="u6068_state1" class="panel_state" data-label="状态 1" style="visibility: hidden;">
            <div id="u6068_state1_content" class="panel_state_content">

              <!-- Unnamed (Text Field) -->
              <div id="u6073" class="ax_default text_field">
                <div id="u6073_div" class=""></div>
                <input id="u6073_input" type="text" value="+1" class="u6073_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6074" class="ax_default text_field">
                <div id="u6074_div" class=""></div>
                <input id="u6074_input" type="text" value="Li3N" class="u6074_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6075" class="ax_default text_field">
                <div id="u6075_div" class=""></div>
                <input id="u6075_input" type="text" value="S1" class="u6075_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6076" class="ax_default text_field">
                <div id="u6076_div" class=""></div>
                <input id="u6076_input" type="text" value="FACT" class="u6076_input"/>
              </div>
            </div>
          </div>
          <div id="u6068_state2" class="panel_state" data-label="状态 2" style="visibility: hidden;">
            <div id="u6068_state2_content" class="panel_state_content">

              <!-- Unnamed (Text Field) -->
              <div id="u6077" class="ax_default text_field">
                <div id="u6077_div" class=""></div>
                <input id="u6077_input" type="text" value="+1" class="u6077_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6078" class="ax_default text_field">
                <div id="u6078_div" class=""></div>
                <input id="u6078_input" type="text" value="Li3N" class="u6078_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6079" class="ax_default text_field">
                <div id="u6079_div" class=""></div>
                <input id="u6079_input" type="text" value="S1" class="u6079_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6080" class="ax_default text_field">
                <div id="u6080_div" class=""></div>
                <input id="u6080_input" type="text" value="FACT" class="u6080_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6081" class="ax_default text_field">
                <div id="u6081_div" class=""></div>
                <input id="u6081_input" type="text" value="+3" class="u6081_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6082" class="ax_default text_field">
                <div id="u6082_div" class=""></div>
                <input id="u6082_input" type="text" value="Na" class="u6082_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6083" class="ax_default text_field">
                <div id="u6083_div" class=""></div>
                <input id="u6083_input" type="text" value="S1" class="u6083_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6084" class="ax_default text_field">
                <div id="u6084_div" class=""></div>
                <input id="u6084_input" type="text" value="FACT" class="u6084_input"/>
              </div>
            </div>
          </div>
          <div id="u6068_state3" class="panel_state" data-label="状态 3" style="visibility: hidden;">
            <div id="u6068_state3_content" class="panel_state_content">

              <!-- Unnamed (Text Field) -->
              <div id="u6085" class="ax_default text_field">
                <div id="u6085_div" class=""></div>
                <input id="u6085_input" type="text" value="+1" class="u6085_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6086" class="ax_default text_field">
                <div id="u6086_div" class=""></div>
                <input id="u6086_input" type="text" value="Li3N" class="u6086_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6087" class="ax_default text_field">
                <div id="u6087_div" class=""></div>
                <input id="u6087_input" type="text" value="S1" class="u6087_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6088" class="ax_default text_field">
                <div id="u6088_div" class=""></div>
                <input id="u6088_input" type="text" value="FACT" class="u6088_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6089" class="ax_default text_field">
                <div id="u6089_div" class=""></div>
                <input id="u6089_input" type="text" value="+3" class="u6089_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6090" class="ax_default text_field">
                <div id="u6090_div" class=""></div>
                <input id="u6090_input" type="text" value="Na" class="u6090_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6091" class="ax_default text_field">
                <div id="u6091_div" class=""></div>
                <input id="u6091_input" type="text" value="S1" class="u6091_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6092" class="ax_default text_field">
                <div id="u6092_div" class=""></div>
                <input id="u6092_input" type="text" value="FACT" class="u6092_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6093" class="ax_default text_field">
                <div id="u6093_div" class=""></div>
                <input id="u6093_input" type="text" value="+3" class="u6093_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6094" class="ax_default text_field">
                <div id="u6094_div" class=""></div>
                <input id="u6094_input" type="text" value="Li" class="u6094_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6095" class="ax_default text_field">
                <div id="u6095_div" class=""></div>
                <input id="u6095_input" type="text" value="S1" class="u6095_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u6096" class="ax_default text_field">
                <div id="u6096_div" class=""></div>
                <input id="u6096_input" type="text" value="FACT" class="u6096_input"/>
              </div>
            </div>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6097" class="ax_default box_1">
          <div id="u6097_div" class=""></div>
          <div id="u6097_text" class="text ">
            <p><span>OK</span></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6098" class="ax_default text_field">
          <div id="u6098_div" class=""></div>
          <input id="u6098_input" type="text" value="Na3NLi6" class="u6098_input"/>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
