<!DOCTYPE html>
<html>
  <head>
    <title>Compound 9.3</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/compound_9_3/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/compound_9_3/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Group) -->
      <div id="u8458" class="ax_default" data-left="289" data-top="50" data-width="867" data-height="750" layer-opacity="1">

        <!-- 内部框架 (Inline Frame) -->
        <div id="u8459" class="ax_default" data-label="内部框架">
          <iframe id="u8459_input" data-label="内部框架" src="http://127.0.0.1:5000/u8459_input"></iframe>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u8460" class="ax_default" data-left="535" data-top="145" data-width="620" data-height="606" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u8461" class="ax_default box_1">
            <div id="u8461_div" class=""></div>
            <div id="u8461_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u8462" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="546" data-top="151" data-width="576" data-height="336" layer-opacity="1">

            <!-- Unnamed (Text Field) -->
            <div id="u8463" class="ax_default text_field">
              <div id="u8463_div" class=""></div>
              <input id="u8463_input" type="text" value="Weight:" class="u8463_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8464" class="ax_default text_field">
              <div id="u8464_div" class=""></div>
              <input id="u8464_input" type="text" value="Compound Name" class="u8464_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8465" class="ax_default text_field">
              <div id="u8465_div" class=""></div>
              <input id="u8465_input" type="text" value="Modified: 2005 May 13" class="u8465_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8466" class="ax_default text_field">
              <div id="u8466_div" class=""></div>
              <input id="u8466_input" type="text" value="" class="u8466_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8467" class="ax_default text_field">
              <div id="u8467_div" class=""></div>
              <input id="u8467_input" type="text" value="Reference no." class="u8467_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8468" class="ax_default text_field">
              <div id="u8468_div" class=""></div>
              <input id="u8468_input" type="text" value="" class="u8468_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8469" class="ax_default text_field">
              <div id="u8469_div" class=""></div>
              <input id="u8469_input" type="text" value="" class="u8469_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8470" class="ax_default text_field">
              <div id="u8470_div" class=""></div>
              <input id="u8470_input" type="text" value="Comments" class="u8470_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8471" class="ax_default text_field">
              <div id="u8471_div" class=""></div>
              <input id="u8471_input" type="text" value="" class="u8471_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8472" class="ax_default text_field">
              <div id="u8472_div" class=""></div>
              <input id="u8472_input" type="text" value="Mg properties" class="u8472_input" readonly/>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u8473" class="ax_default" data-left="555" data-top="399" data-width="567" data-height="88" layer-opacity="1">

              <!-- Unnamed (Text Field) -->
              <div id="u8474" class="ax_default text_field">
                <div id="u8474_div" class=""></div>
                <input id="u8474_input" type="text" value="" class="u8474_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u8475" class="ax_default text_field">
                <div id="u8475_div" class=""></div>
                <input id="u8475_input" type="text" value="Mg" class="u8475_input" readonly/>
              </div>

              <!-- Unnamed (Line) -->
              <div id="u8476" class="ax_default line">
                <img id="u8476_img" class="img " src="{{ url_for('static', filename='images/compound_11_0______/u6773.svg') }}"/>
                <div id="u8476_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Line) -->
              <div id="u8477" class="ax_default line">
                <img id="u8477_img" class="img " src="{{ url_for('static', filename='images/compound_11_0______/u6773.svg') }}"/>
                <div id="u8477_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Vertical Line) -->
              <div id="u8478" class="ax_default line">
                <img id="u8478_img" class="img " src="{{ url_for('static', filename='images/compound_14_5/u5948.svg') }}"/>
                <div id="u8478_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u8479" class="ax_default text_field">
                <div id="u8479_div" class=""></div>
                <input id="u8479_input" type="text" value="Real Stoichiometry(for advances users only)" class="u8479_input" readonly/>
              </div>

              <!-- Unnamed (Vertical Line) -->
              <div id="u8480" class="ax_default line">
                <img id="u8480_img" class="img " src="{{ url_for('static', filename='images/compound_14_5/u5948.svg') }}"/>
                <div id="u8480_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8481" class="ax_default text_field">
              <div id="u8481_div" class=""></div>
              <input id="u8481_input" type="text" value="" class="u8481_input"/>
            </div>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u8482" class="ax_default" data-left="289" data-top="50" data-width="867" data-height="750" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u8483" class="ax_default box_1">
            <div id="u8483_div" class=""></div>
            <div id="u8483_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u8484" class="ax_default box_1">
            <div id="u8484_div" class=""></div>
            <div id="u8484_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u8485" class="ax_default box_1">
            <div id="u8485_div" class=""></div>
            <div id="u8485_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u8486" class="ax_default text_field">
            <div id="u8486_div" class=""></div>
            <input id="u8486_input" type="text" value="FactSage" class="u8486_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u8487" class="ax_default text_field">
            <div id="u8487_div" class=""></div>
            <input id="u8487_input" type="text" value="C:\FACTSAGE\USERDATA\EXAMPLEBASE.CDB(v5.0) 0 compound(s) read/write" class="u8487_input" readonly/>
          </div>

          <!-- Unnamed (List Box) -->
          <div id="u8488" class="ax_default list_box">
            <div id="u8488_div" class=""></div>
            <select id="u8488_input" size="2" class="u8488_input">
              <option class="u8488_input_option" value="...r    BINSBASE">...r&nbsp; &nbsp; BINSBASE</option>
              <option class="u8488_input_option" value="...r    ELEMBASE  ">...r&nbsp; &nbsp; ELEMBASE&nbsp; </option>
              <option class="u8488_input_option" value="...r/w    EXAMBASE">...r/w&nbsp; &nbsp; EXAMBASE</option>
              <option class="u8488_input_option" value="     ...      Cl[-]">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; Cl[-]</option>
              <option class="u8488_input_option" value="     ...      Cl">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; Cl</option>
              <option class="u8488_input_option" value="     ...      Cl[+]">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; Cl[+]</option>
              <option class="u8488_input_option" value="     ...      Cl2[-]">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; Cl2[-]</option>
              <option class="u8488_input_option" value="     ...      Cl2">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; Cl2</option>
              <option class="u8488_input_option" value="     ...      Cl2[+]">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; Cl2[+]</option>
              <option class="u8488_input_option" value="     ...      Mg">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; Mg</option>
              <option class="u8488_input_option" value="     ...      Mg[+]">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; Mg[+]</option>
              <option class="u8488_input_option" value="     ...      Mg[2+]">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; Mg[2+]</option>
              <option class="u8488_input_option" value="     ...      Mg2 ">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; Mg2 </option>
              <option class="u8488_input_option" value="...r    FACT53BASE  ">...r&nbsp; &nbsp; FACT53BASE&nbsp; </option>
              <option class="u8488_input_option" value="...r    FACTBASE">...r&nbsp; &nbsp; FACTBASE</option>
              <option class="u8488_input_option" value="...r    FScoppBASE">...r&nbsp; &nbsp; FScoppBASE</option>
              <option class="u8488_input_option" value="...r    FSleadBASE">...r&nbsp; &nbsp; FSleadBASE</option>
              <option class="u8488_input_option" value="...r    FSliteBASE">...r&nbsp; &nbsp; FSliteBASE</option>
              <option class="u8488_input_option" value="...r    FSnoblBASE">...r&nbsp; &nbsp; FSnoblBASE</option>
              <option class="u8488_input_option" value="...r    FSstelBASE">...r&nbsp; &nbsp; FSstelBASE</option>
              <option class="u8488_input_option" value="...r    FSupsiBASE">...r&nbsp; &nbsp; FSupsiBASE</option>
              <option class="u8488_input_option" value="...r    FThallBASE">...r&nbsp; &nbsp; FThallBASE</option>
              <option class="u8488_input_option" value="...r    FThelgBASE">...r&nbsp; &nbsp; FThelgBASE</option>
              <option class="u8488_input_option" value="...r/w    FTliBASE">...r/w&nbsp; &nbsp; FTliBASE</option>
              <option class="u8488_input_option" value="...r    FTliteBASE">...r&nbsp; &nbsp; FTliteBASE</option>
              <option class="u8488_input_option" value="...r    FTmiscBASE">...r&nbsp; &nbsp; FTmiscBASE</option>
              <option class="u8488_input_option" value="...r    FToxidBASE">...r&nbsp; &nbsp; FToxidBASE</option>
              <option class="u8488_input_option" value="...r    FTpulpBASE">...r&nbsp; &nbsp; FTpulpBASE</option>
              <option class="u8488_input_option" value="...r    FTsaltBASE">...r&nbsp; &nbsp; FTsaltBASE</option>
              <option class="u8488_input_option" value="...r    USERDATA">...r&nbsp; &nbsp; USERDATA</option>
            </select>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u8489" class="ax_default text_field">
            <div id="u8489_div" class=""></div>
            <input id="u8489_input" type="text" value="Formula" class="u8489_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u8490" class="ax_default text_field">
            <div id="u8490_div" class=""></div>
            <input id="u8490_input" type="text" value="MgCl2" class="u8490_input"/>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u8491" class="ax_default _形状">
            <img id="u8491_img" class="img " src="{{ url_for('static', filename='images/compound_3_1/u6676.svg') }}"/>
            <div id="u8491_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u8492" class="ax_default" data-left="352" data-top="65" data-width="463" data-height="32" layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u8493" class="ax_default _段落">
              <div id="u8493_div" class=""></div>
              <div id="u8493_text" class="text ">
                <p><span>Edit</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8494" class="ax_default _二级标题">
              <div id="u8494_div" class=""></div>
              <div id="u8494_text" class="text ">
                <p><span>ViewData</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8495" class="ax_default _二级标题">
              <div id="u8495_div" class=""></div>
              <div id="u8495_text" class="text ">
                <p><span>Units</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8496" class="ax_default _二级标题">
              <div id="u8496_div" class=""></div>
              <div id="u8496_text" class="text ">
                <p><span>Tools</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8497" class="ax_default _二级标题">
              <div id="u8497_div" class=""></div>
              <div id="u8497_text" class="text ">
                <p><span>Help</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8498" class="ax_default _三级标题">
              <div id="u8498_div" class=""></div>
              <div id="u8498_text" class="text ">
                <p><span>File</span></p>
              </div>
            </div>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u8499" class="ax_default _形状">
          <img id="u8499_img" class="img " src="{{ url_for('static', filename='images/compound_new_data_/u6609.svg') }}"/>
          <div id="u8499_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Hot Spot) -->
        <div id="u8500" class="ax_default">
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u8501" class="ax_default _三级标题">
          <div id="u8501_div" class=""></div>
          <div id="u8501_text" class="text ">
            <p><span>View</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u8502" class="ax_default" data-left="0" data-top="0" data-width="1156" data-height="800" layer-opacity="1">

        <!-- 左侧一级菜单 (Dynamic Panel) -->
        <div id="u8503" class="ax_default" data-label="左侧一级菜单">
          <div id="u8503_state0" class="panel_state" data-label="框架" style="">
            <div id="u8503_state0_content" class="panel_state_content">

              <!-- Unnamed (Rectangle) -->
              <div id="u8504" class="ax_default box_1" selectiongroup="一级分类">
                <img id="u8504_img" class="img " src="{{ url_for('static', filename='images/模板_1/u19.svg') }}"/>
                <div id="u8504_text" class="text ">
                  <p><span>Database</span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u8505" class="ax_default box_1" selectiongroup="一级分类">
                <img id="u8505_img" class="img " src="{{ url_for('static', filename='images/模板_1/u20.svg') }}"/>
                <div id="u8505_text" class="text ">
                  <p><span>Calculate</span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u8506" class="ax_default box_1 selected" selectiongroup="一级分类">
                <img id="u8506_img" class="img " src="{{ url_for('static', filename='images/模板/u65.svg') }}"/>
                <div id="u8506_text" class="text ">
                  <p><span>Manipulate</span></p>
                </div>
              </div>

              <!-- 三角形 (Shape) -->
              <div id="u8507" class="ax_default box_1" data-label="三角形">
                <img id="u8507_img" class="img " src="{{ url_for('static', filename='images/模板_1/三角形_u22.svg') }}"/>
                <div id="u8507_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- 化学 (Group) -->
              <div id="u8508" class="ax_default" data-label="化学" data-left="6" data-top="12" data-width="30" data-height="28" layer-opacity="1">

                <!-- Unnamed (Ellipse) -->
                <div id="u8509" class="ax_default ellipse">
                  <img id="u8509_img" class="img " src="{{ url_for('static', filename='images/模板_1/u24.svg') }}"/>
                  <div id="u8509_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u8510" class="ax_default icon">
                  <img id="u8510_img" class="img " src="{{ url_for('static', filename='images/模板_1/u25.svg') }}"/>
                  <div id="u8510_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </div>

              <!-- 数据库 (Group) -->
              <div id="u8511" class="ax_default" data-label="数据库" data-left="6" data-top="66" data-width="31" data-height="29" layer-opacity="1">

                <!-- Unnamed (Ellipse) -->
                <div id="u8512" class="ax_default ellipse">
                  <img id="u8512_img" class="img " src="{{ url_for('static', filename='images/模板_1/u27.svg') }}"/>
                  <div id="u8512_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u8513" class="ax_default icon">
                  <img id="u8513_img" class="img " src="{{ url_for('static', filename='images/模板_1/u28.svg') }}"/>
                  <div id="u8513_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </div>

              <!-- Least Square (Group) -->
              <div id="u8514" class="ax_default" data-label="Least Square" data-left="8" data-top="121" data-width="29" data-height="27" layer-opacity="1">

                <!-- Unnamed (Ellipse) -->
                <div id="u8515" class="ax_default ellipse">
                  <img id="u8515_img" class="img " src="{{ url_for('static', filename='images/模板_1/u30.svg') }}"/>
                  <div id="u8515_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u8516" class="ax_default icon">
                  <img id="u8516_img" class="img " src="{{ url_for('static', filename='images/模板_1/u31.svg') }}"/>
                  <div id="u8516_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 背景 (Dynamic Panel) -->
        <div id="u8517" class="ax_default" data-label="背景">
          <div id="u8517_state0" class="panel_state" data-label="1" style="">
            <div id="u8517_state0_content" class="panel_state_content">
            </div>
          </div>
          <div id="u8517_state1" class="panel_state" data-label="2" style="visibility: hidden;">
            <div id="u8517_state1_content" class="panel_state_content">
            </div>
          </div>
          <div id="u8517_state2" class="panel_state" data-label="3" style="visibility: hidden;">
            <div id="u8517_state2_content" class="panel_state_content">
            </div>
          </div>
          <div id="u8517_state3" class="panel_state" data-label="4" style="visibility: hidden;">
            <div id="u8517_state3_content" class="panel_state_content">
            </div>
          </div>
          <div id="u8517_state4" class="panel_state" data-label="5" style="visibility: hidden;">
            <div id="u8517_state4_content" class="panel_state_content">
            </div>
          </div>
          <div id="u8517_state5" class="panel_state" data-label="6" style="visibility: hidden;">
            <div id="u8517_state5_content" class="panel_state_content">
            </div>
          </div>
          <div id="u8517_state6" class="panel_state" data-label="7" style="visibility: hidden;">
            <div id="u8517_state6_content" class="panel_state_content">
            </div>
          </div>
          <div id="u8517_state7" class="panel_state" data-label="8" style="visibility: hidden;">
            <div id="u8517_state7_content" class="panel_state_content">
            </div>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u8518" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

          <!-- Unnamed (Shape) -->
          <div id="u8519" class="ax_default box_1">
            <img id="u8519_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
            <div id="u8519_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u8520" class="ax_default box_1">
            <img id="u8520_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
            <div id="u8520_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u8521" class="ax_default box_1 selected">
          <div id="u8521_div" class="selected"></div>
          <div id="u8521_text" class="text ">
            <p><span>Energy:Joules Pressure:atm Mg</span></p>
          </div>
        </div>

        <!-- 左侧二级菜单 (Dynamic Panel) -->
        <div id="u8522" class="ax_default" data-label="左侧二级菜单">
          <div id="u8522_state0" class="panel_state" data-label="框架" style="">
            <div id="u8522_state0_content" class="panel_state_content">

              <!-- 二级菜单 (Dynamic Panel) -->
              <div id="u8523" class="ax_default" data-label="二级菜单">
                <div id="u8523_state0" class="panel_state" data-label="Manipulate" style="">
                  <div id="u8523_state0_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u8524" class="ax_default box_1 selected" selectiongroup="二级菜单">
                      <div id="u8524_div" class="selected"></div>
                      <div id="u8524_text" class="text ">
                        <p><span>&#149; Results</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u8525" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u8525_div" class=""></div>
                      <div id="u8525_text" class="text ">
                        <p><span>&#149; Mixture</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u8526" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u8526_div" class=""></div>
                      <div id="u8526_text" class="text ">
                        <p><span>&#149; View Figure</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u8527" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u8527_div" class=""></div>
                      <div id="u8527_text" class="text ">
                        <p><span>&#149; Figure</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u8528" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u8528_div" class=""></div>
                      <div id="u8528_text" class="text ">
                        <p><span>&#149; Reset</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u8529" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u8529_div" class=""></div>
                      <div id="u8529_text" class="text ">
                        <p><span>&#149; Quit</span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="u8523_state1" class="panel_state" data-label="Database" style="visibility: hidden;">
                  <div id="u8523_state1_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u8530" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u8530_div" class=""></div>
                      <div id="u8530_text" class="text ">
                        <p><span>&#149; View Data</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u8531" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u8531_div" class=""></div>
                      <div id="u8531_text" class="text ">
                        <p><span>&#149; Compound</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u8532" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u8532_div" class=""></div>
                      <div id="u8532_text" class="text ">
                        <p><span>&#149; Solution</span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="u8523_state2" class="panel_state" data-label="Calculate" style="visibility: hidden;">
                  <div id="u8523_state2_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u8533" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u8533_div" class=""></div>
                      <div id="u8533_text" class="text ">
                        <p><span>&#149; Reaction</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u8534" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u8534_div" class=""></div>
                      <div id="u8534_text" class="text ">
                        <p><span>&#149; Equilib</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u8535" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u8535_div" class=""></div>
                      <div id="u8535_text" class="text ">
                        <p><span>&#149; Phase Diagram</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u8536" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u8536_div" class=""></div>
                      <div id="u8536_text" class="text ">
                        <p><span>&#149; Predom</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u8537" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u8537_div" class=""></div>
                      <div id="u8537_text" class="text ">
                        <p><span>&#149; EpH</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u8538" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u8538_div" class=""></div>
                      <div id="u8538_text" class="text ">
                        <p><span>&#149; Optimize</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u8539" class="ax_default icon">
          <img id="u8539_img" class="img " src="{{ url_for('static', filename='images/模板_1/u43.svg') }}"/>
          <div id="u8539_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u8540" class="ax_default box_1" title="系统消息">
          <img id="u8540_img" class="img " src="{{ url_for('static', filename='images/模板_1/u38.svg') }}"/>
          <div id="u8540_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u8541" class="ax_default box_1" title="退出登录">
          <img id="u8541_img" class="img " src="{{ url_for('static', filename='images/模板_1/u41.svg') }}"/>
          <div id="u8541_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u8542" class="ax_default box_1">
          <img id="u8542_img" class="img " src="{{ url_for('static', filename='images/模板_1/u40.svg') }}"/>
          <div id="u8542_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u8543" class="ax_default box_1" title="更换皮肤">
          <img id="u8543_img" class="img " src="{{ url_for('static', filename='images/模板_1/u39.svg') }}"/>
          <div id="u8543_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u8544" class="ax_default box_1" title="常用菜单">
          <img id="u8544_img" class="img " src="{{ url_for('static', filename='images/模板_1/u38.svg') }}"/>
          <div id="u8544_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u8545" class="ax_default box_1">
          <img id="u8545_img" class="img " src="{{ url_for('static', filename='images/模板_1/u37.svg') }}"/>
          <div id="u8545_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
