<!DOCTYPE html>
<html>
  <head>
    <title>Compound 11.1(粘贴数据)</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/compound_11_1______/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/compound_11_1______/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Group) -->
      <div id="u6833" class="ax_default" data-left="289" data-top="50" data-width="867" data-height="750" layer-opacity="1">

        <!-- 内部框架 (Inline Frame) -->
        <div id="u6834" class="ax_default" data-label="内部框架">
          <iframe id="u6834_input" data-label="内部框架" src="http://127.0.0.1:5000/u6834_input"></iframe>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u6835" class="ax_default" data-left="538" data-top="145" data-width="618" data-height="606" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u6836" class="ax_default box_1">
            <div id="u6836_div" class=""></div>
            <div id="u6836_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u6837" class="ax_default" data-left="543" data-top="160" data-width="242" data-height="31" layer-opacity="1">

            <!-- Unnamed (Text Field) -->
            <div id="u6838" class="ax_default text_field">
              <div id="u6838_div" class=""></div>
              <input id="u6838_input" type="text" value="Information on EXAMBASE" class="u6838_input" readonly/>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u6839" class="ax_default" data-left="557" data-top="191" data-width="213" data-height="31" layer-opacity="1">

            <!-- Unnamed (Text Field) -->
            <div id="u6840" class="ax_default text_field">
              <div id="u6840_div" class=""></div>
              <input id="u6840_input" type="text" value="Nickname (4 chars)" class="u6840_input" readonly/>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u6841" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="585" data-top="320" data-width="457" data-height="281" layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u6842" class="ax_default box_1">
              <div id="u6842_div" class=""></div>
              <div id="u6842_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u6843" class="ax_default text_field">
              <img id="u6843_img" class="img " src="{{ url_for('static', filename='images/compound_11_1______/u6843.svg') }}"/>
              <input id="u6843_input" type="text" value="Input units" class="u6843_input" readonly/>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u6844" class="ax_default _形状">
              <img id="u6844_img" class="img " src="{{ url_for('static', filename='images/compound_11_1______/u6844.svg') }}"/>
              <div id="u6844_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6845" class="ax_default box_1">
              <div id="u6845_div" class=""></div>
              <div id="u6845_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u6846" class="ax_default text_field">
              <div id="u6846_div" class=""></div>
              <input id="u6846_input" type="text" value="Select input units for the compound" class="u6846_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u6847" class="ax_default text_field">
              <div id="u6847_div" class=""></div>
              <input id="u6847_input" type="text" value="Energy" class="u6847_input" readonly/>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u6848" class="ax_default" data-left="639" data-top="475" data-width="110" data-height="45" layer-opacity="1">

              <!-- Unnamed (Radio Button) -->
              <div id="u6849" class="ax_default radio_button" selectiongroup="1">
                <label id="u6849_input_label" for="u6849_input" style="position: absolute; left: 0px;">
                  <img id="u6849_img" class="img " src="{{ url_for('static', filename='images/compound_11_1______/u6849.svg') }}"/>
                  <div id="u6849_text" class="text ">
                    <p><span>calories</span></p>
                  </div>
                </label>
                <input id="u6849_input" type="radio" value="radio" name="1"/>
              </div>

              <!-- Unnamed (Radio Button) -->
              <div id="u6850" class="ax_default radio_button" selectiongroup="1">
                <label id="u6850_input_label" for="u6850_input" style="position: absolute; left: 0px;">
                  <img id="u6850_img" class="img " src="{{ url_for('static', filename='images/compound_11_1______/u6850.svg') }}"/>
                  <div id="u6850_text" class="text ">
                    <p><span>Joules</span></p>
                  </div>
                </label>
                <input id="u6850_input" type="radio" value="radio" name="1"/>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6851" class="ax_default box_1">
              <div id="u6851_div" class=""></div>
              <div id="u6851_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u6852" class="ax_default text_field">
              <div id="u6852_div" class=""></div>
              <input id="u6852_input" type="text" value="Total pressure" class="u6852_input" readonly/>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u6853" class="ax_default" data-left="836" data-top="475" data-width="149" data-height="45" layer-opacity="1">

              <!-- Unnamed (Radio Button) -->
              <div id="u6854" class="ax_default radio_button" selectiongroup="2">
                <label id="u6854_input_label" for="u6854_input" style="position: absolute; left: 0px;">
                  <img id="u6854_img" class="img " src="{{ url_for('static', filename='images/compound_11_1______/u6854.svg') }}"/>
                  <div id="u6854_text" class="text ">
                    <p><span>1 bar</span></p>
                  </div>
                </label>
                <input id="u6854_input" type="radio" value="radio" name="2"/>
              </div>

              <!-- Unnamed (Radio Button) -->
              <div id="u6855" class="ax_default radio_button" selectiongroup="2">
                <label id="u6855_input_label" for="u6855_input" style="position: absolute; left: 0px;">
                  <img id="u6855_img" class="img " src="{{ url_for('static', filename='images/compound_11_1______/u6855.svg') }}"/>
                  <div id="u6855_text" class="text ">
                    <p><span>1 atmosphere</span></p>
                  </div>
                </label>
                <input id="u6855_input" type="radio" value="radio" name="2"/>
              </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u6856" class="ax_default text_field">
              <div id="u6856_div" class=""></div>
              <input id="u6856_input" type="text" value="Finish" class="u6856_input" readonly/>
            </div>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u6857" class="ax_default" data-left="289" data-top="50" data-width="867" data-height="750" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u6858" class="ax_default box_1">
            <div id="u6858_div" class=""></div>
            <div id="u6858_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u6859" class="ax_default box_1">
            <div id="u6859_div" class=""></div>
            <div id="u6859_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u6860" class="ax_default box_1">
            <div id="u6860_div" class=""></div>
            <div id="u6860_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u6861" class="ax_default text_field">
            <div id="u6861_div" class=""></div>
            <input id="u6861_input" type="text" value="FactSage" class="u6861_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u6862" class="ax_default text_field">
            <div id="u6862_div" class=""></div>
            <input id="u6862_input" type="text" value="C:\FACTSAGE\USERDATA\EXAMPLEBASE.CDB(v5.0) 0 compound(s) read/write" class="u6862_input" readonly/>
          </div>

          <!-- Unnamed (List Box) -->
          <div id="u6863" class="ax_default list_box">
            <div id="u6863_div" class=""></div>
            <select id="u6863_input" size="2" class="u6863_input">
              <option class="u6863_input_option" value="...r    BINSBASE">...r&nbsp; &nbsp; BINSBASE</option>
              <option class="u6863_input_option" value="...r    FACT53BASE  ">...r&nbsp; &nbsp; FACT53BASE&nbsp; </option>
              <option class="u6863_input_option" value="...r    FACTBASE">...r&nbsp; &nbsp; FACTBASE</option>
              <option class="u6863_input_option" value="     ...      MgSO4">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; MgSO4</option>
              <option class="u6863_input_option" value="     ...      MgCl2">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; MgCl2</option>
              <option class="u6863_input_option" value="...r    SGPSBASE">...r&nbsp; &nbsp; SGPSBASE</option>
              <option class="u6863_input_option" value="...r    ELEMBASE  ">...r&nbsp; &nbsp; ELEMBASE&nbsp; </option>
              <option class="u6863_input_option" value="...r    SGSLBASE">...r&nbsp; &nbsp; SGSLBASE</option>
              <option class="u6863_input_option" value="...r/w    EXAMBASE">...r/w&nbsp; &nbsp; EXAMBASE</option>
              <option class="u6863_input_option" value="...r    FSleadBASE">...r&nbsp; &nbsp; FSleadBASE</option>
              <option class="u6863_input_option" value="...r    FSliteBASE">...r&nbsp; &nbsp; FSliteBASE</option>
              <option class="u6863_input_option" value="...r    FSnoblBASE">...r&nbsp; &nbsp; FSnoblBASE</option>
              <option class="u6863_input_option" value="...r    FSstelBASE">...r&nbsp; &nbsp; FSstelBASE</option>
              <option class="u6863_input_option" value="...r    FSupsiBASE">...r&nbsp; &nbsp; FSupsiBASE</option>
              <option class="u6863_input_option" value="...r    FThallBASE">...r&nbsp; &nbsp; FThallBASE</option>
              <option class="u6863_input_option" value="...r    FThelgBASE">...r&nbsp; &nbsp; FThelgBASE</option>
              <option class="u6863_input_option" value="...r/w    FTliBASE">...r/w&nbsp; &nbsp; FTliBASE</option>
              <option class="u6863_input_option" value="...r    FTliteBASE">...r&nbsp; &nbsp; FTliteBASE</option>
              <option class="u6863_input_option" value="...r    FTmiscBASE">...r&nbsp; &nbsp; FTmiscBASE</option>
              <option class="u6863_input_option" value="...r    FToxidBASE">...r&nbsp; &nbsp; FToxidBASE</option>
              <option class="u6863_input_option" value="...r    FTpulpBASE">...r&nbsp; &nbsp; FTpulpBASE</option>
              <option class="u6863_input_option" value="...r    FTsaltBASE">...r&nbsp; &nbsp; FTsaltBASE</option>
              <option class="u6863_input_option" value="...r    USERDATA">...r&nbsp; &nbsp; USERDATA</option>
            </select>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u6864" class="ax_default text_field">
            <div id="u6864_div" class=""></div>
            <input id="u6864_input" type="text" value="Formula" class="u6864_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u6865" class="ax_default text_field">
            <div id="u6865_div" class=""></div>
            <input id="u6865_input" type="text" value="MgCl2" class="u6865_input"/>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u6866" class="ax_default _形状">
            <img id="u6866_img" class="img " src="{{ url_for('static', filename='images/compound_3_1/u6676.svg') }}"/>
            <div id="u6866_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u6867" class="ax_default" data-left="352" data-top="65" data-width="463" data-height="32" layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u6868" class="ax_default _二级标题">
              <div id="u6868_div" class=""></div>
              <div id="u6868_text" class="text ">
                <p><span>ViewData</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6869" class="ax_default _二级标题">
              <div id="u6869_div" class=""></div>
              <div id="u6869_text" class="text ">
                <p><span>Units</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6870" class="ax_default _二级标题">
              <div id="u6870_div" class=""></div>
              <div id="u6870_text" class="text ">
                <p><span>Tools</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6871" class="ax_default _二级标题">
              <div id="u6871_div" class=""></div>
              <div id="u6871_text" class="text ">
                <p><span>Help</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6872" class="ax_default _三级标题">
              <div id="u6872_div" class=""></div>
              <div id="u6872_text" class="text ">
                <p><span>File</span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u6873" class="ax_default text_field">
            <div id="u6873_div" class=""></div>
            <input id="u6873_input" type="text" value="Modified" class="u6873_input" readonly/>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u6874" class="ax_default _形状">
          <img id="u6874_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1722.svg') }}"/>
          <div id="u6874_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6875" class="ax_default _三级标题">
          <div id="u6875_div" class=""></div>
          <div id="u6875_text" class="text ">
            <p><span>View</span></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6876" class="ax_default text_field">
          <div id="u6876_div" class=""></div>
          <input id="u6876_input" type="text" value="" class="u6876_input"/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6877" class="ax_default _一级标题">
          <div id="u6877_div" class=""></div>
          <div id="u6877_text" class="text ">
            <p><span>Edit</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u6878" class="ax_default" data-left="0" data-top="0" data-width="1156" data-height="800" layer-opacity="1">

        <!-- 左侧一级菜单 (Dynamic Panel) -->
        <div id="u6879" class="ax_default" data-label="左侧一级菜单">
          <div id="u6879_state0" class="panel_state" data-label="框架" style="">
            <div id="u6879_state0_content" class="panel_state_content">

              <!-- Unnamed (Rectangle) -->
              <div id="u6880" class="ax_default box_1" selectiongroup="一级分类">
                <img id="u6880_img" class="img " src="{{ url_for('static', filename='images/模板_1/u19.svg') }}"/>
                <div id="u6880_text" class="text ">
                  <p><span>Database</span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u6881" class="ax_default box_1" selectiongroup="一级分类">
                <img id="u6881_img" class="img " src="{{ url_for('static', filename='images/模板_1/u20.svg') }}"/>
                <div id="u6881_text" class="text ">
                  <p><span>Calculate</span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u6882" class="ax_default box_1 selected" selectiongroup="一级分类">
                <img id="u6882_img" class="img " src="{{ url_for('static', filename='images/模板/u65.svg') }}"/>
                <div id="u6882_text" class="text ">
                  <p><span>Manipulate</span></p>
                </div>
              </div>

              <!-- 三角形 (Shape) -->
              <div id="u6883" class="ax_default box_1" data-label="三角形">
                <img id="u6883_img" class="img " src="{{ url_for('static', filename='images/模板_1/三角形_u22.svg') }}"/>
                <div id="u6883_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- 化学 (Group) -->
              <div id="u6884" class="ax_default" data-label="化学" data-left="6" data-top="12" data-width="30" data-height="28" layer-opacity="1">

                <!-- Unnamed (Ellipse) -->
                <div id="u6885" class="ax_default ellipse">
                  <img id="u6885_img" class="img " src="{{ url_for('static', filename='images/模板_1/u24.svg') }}"/>
                  <div id="u6885_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u6886" class="ax_default icon">
                  <img id="u6886_img" class="img " src="{{ url_for('static', filename='images/模板_1/u25.svg') }}"/>
                  <div id="u6886_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </div>

              <!-- 数据库 (Group) -->
              <div id="u6887" class="ax_default" data-label="数据库" data-left="6" data-top="66" data-width="31" data-height="29" layer-opacity="1">

                <!-- Unnamed (Ellipse) -->
                <div id="u6888" class="ax_default ellipse">
                  <img id="u6888_img" class="img " src="{{ url_for('static', filename='images/模板_1/u27.svg') }}"/>
                  <div id="u6888_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u6889" class="ax_default icon">
                  <img id="u6889_img" class="img " src="{{ url_for('static', filename='images/模板_1/u28.svg') }}"/>
                  <div id="u6889_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </div>

              <!-- Least Square (Group) -->
              <div id="u6890" class="ax_default" data-label="Least Square" data-left="8" data-top="121" data-width="29" data-height="27" layer-opacity="1">

                <!-- Unnamed (Ellipse) -->
                <div id="u6891" class="ax_default ellipse">
                  <img id="u6891_img" class="img " src="{{ url_for('static', filename='images/模板_1/u30.svg') }}"/>
                  <div id="u6891_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u6892" class="ax_default icon">
                  <img id="u6892_img" class="img " src="{{ url_for('static', filename='images/模板_1/u31.svg') }}"/>
                  <div id="u6892_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 背景 (Dynamic Panel) -->
        <div id="u6893" class="ax_default" data-label="背景">
          <div id="u6893_state0" class="panel_state" data-label="1" style="">
            <div id="u6893_state0_content" class="panel_state_content">
            </div>
          </div>
          <div id="u6893_state1" class="panel_state" data-label="2" style="visibility: hidden;">
            <div id="u6893_state1_content" class="panel_state_content">
            </div>
          </div>
          <div id="u6893_state2" class="panel_state" data-label="3" style="visibility: hidden;">
            <div id="u6893_state2_content" class="panel_state_content">
            </div>
          </div>
          <div id="u6893_state3" class="panel_state" data-label="4" style="visibility: hidden;">
            <div id="u6893_state3_content" class="panel_state_content">
            </div>
          </div>
          <div id="u6893_state4" class="panel_state" data-label="5" style="visibility: hidden;">
            <div id="u6893_state4_content" class="panel_state_content">
            </div>
          </div>
          <div id="u6893_state5" class="panel_state" data-label="6" style="visibility: hidden;">
            <div id="u6893_state5_content" class="panel_state_content">
            </div>
          </div>
          <div id="u6893_state6" class="panel_state" data-label="7" style="visibility: hidden;">
            <div id="u6893_state6_content" class="panel_state_content">
            </div>
          </div>
          <div id="u6893_state7" class="panel_state" data-label="8" style="visibility: hidden;">
            <div id="u6893_state7_content" class="panel_state_content">
            </div>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u6894" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

          <!-- Unnamed (Shape) -->
          <div id="u6895" class="ax_default box_1">
            <img id="u6895_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
            <div id="u6895_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u6896" class="ax_default box_1">
            <img id="u6896_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
            <div id="u6896_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6897" class="ax_default box_1 selected">
          <div id="u6897_div" class="selected"></div>
          <div id="u6897_text" class="text ">
            <p><span>Compound </span></p>
          </div>
        </div>

        <!-- 左侧二级菜单 (Dynamic Panel) -->
        <div id="u6898" class="ax_default" data-label="左侧二级菜单">
          <div id="u6898_state0" class="panel_state" data-label="框架" style="">
            <div id="u6898_state0_content" class="panel_state_content">

              <!-- 二级菜单 (Dynamic Panel) -->
              <div id="u6899" class="ax_default" data-label="二级菜单">
                <div id="u6899_state0" class="panel_state" data-label="Manipulate" style="">
                  <div id="u6899_state0_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u6900" class="ax_default box_1 selected" selectiongroup="二级菜单">
                      <div id="u6900_div" class="selected"></div>
                      <div id="u6900_text" class="text ">
                        <p><span>&#149; Results</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u6901" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u6901_div" class=""></div>
                      <div id="u6901_text" class="text ">
                        <p><span>&#149; Mixture</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u6902" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u6902_div" class=""></div>
                      <div id="u6902_text" class="text ">
                        <p><span>&#149; View Figure</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u6903" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u6903_div" class=""></div>
                      <div id="u6903_text" class="text ">
                        <p><span>&#149; Figure</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u6904" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u6904_div" class=""></div>
                      <div id="u6904_text" class="text ">
                        <p><span>&#149; Reset</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u6905" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u6905_div" class=""></div>
                      <div id="u6905_text" class="text ">
                        <p><span>&#149; Quit</span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="u6899_state1" class="panel_state" data-label="Database" style="visibility: hidden;">
                  <div id="u6899_state1_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u6906" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u6906_div" class=""></div>
                      <div id="u6906_text" class="text ">
                        <p><span>&#149; View Data</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u6907" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u6907_div" class=""></div>
                      <div id="u6907_text" class="text ">
                        <p><span>&#149; Compound</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u6908" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u6908_div" class=""></div>
                      <div id="u6908_text" class="text ">
                        <p><span>&#149; Solution</span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="u6899_state2" class="panel_state" data-label="Calculate" style="visibility: hidden;">
                  <div id="u6899_state2_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u6909" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u6909_div" class=""></div>
                      <div id="u6909_text" class="text ">
                        <p><span>&#149; Reaction</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u6910" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u6910_div" class=""></div>
                      <div id="u6910_text" class="text ">
                        <p><span>&#149; Equilib</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u6911" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u6911_div" class=""></div>
                      <div id="u6911_text" class="text ">
                        <p><span>&#149; Phase Diagram</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u6912" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u6912_div" class=""></div>
                      <div id="u6912_text" class="text ">
                        <p><span>&#149; Predom</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u6913" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u6913_div" class=""></div>
                      <div id="u6913_text" class="text ">
                        <p><span>&#149; EpH</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u6914" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u6914_div" class=""></div>
                      <div id="u6914_text" class="text ">
                        <p><span>&#149; Optimize</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u6915" class="ax_default icon">
          <img id="u6915_img" class="img " src="{{ url_for('static', filename='images/模板_1/u43.svg') }}"/>
          <div id="u6915_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6916" class="ax_default box_1" title="系统消息">
          <img id="u6916_img" class="img " src="{{ url_for('static', filename='images/模板_1/u38.svg') }}"/>
          <div id="u6916_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6917" class="ax_default box_1" title="退出登录">
          <img id="u6917_img" class="img " src="{{ url_for('static', filename='images/模板_1/u41.svg') }}"/>
          <div id="u6917_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u6918" class="ax_default box_1">
          <img id="u6918_img" class="img " src="{{ url_for('static', filename='images/模板_1/u40.svg') }}"/>
          <div id="u6918_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6919" class="ax_default box_1" title="更换皮肤">
          <img id="u6919_img" class="img " src="{{ url_for('static', filename='images/模板_1/u39.svg') }}"/>
          <div id="u6919_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6920" class="ax_default box_1" title="常用菜单">
          <img id="u6920_img" class="img " src="{{ url_for('static', filename='images/模板_1/u38.svg') }}"/>
          <div id="u6920_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u6921" class="ax_default box_1">
          <img id="u6921_img" class="img " src="{{ url_for('static', filename='images/模板_1/u37.svg') }}"/>
          <div id="u6921_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u6922" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">

        <!-- 2 (Group) -->
        <div id="u6923" class="ax_default ax_default_hidden" data-label="2" style="display:none; visibility: hidden" data-left="400" data-top="91" data-width="218" data-height="182" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u6924" class="ax_default box_2">
            <img id="u6924_img" class="img " src="{{ url_for('static', filename='images/compound_11_0______/u6782.svg') }}"/>
            <div id="u6924_text" class="text ">
              <p><span>Add MgCl2 to EXAMBASE</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u6925" class="ax_default box_2">
            <img id="u6925_img" class="img " src="{{ url_for('static', filename='images/compound_11_0______/u6782.svg') }}"/>
            <div id="u6925_text" class="text ">
              <p><span>Remove MgCl2 from list</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u6926" class="ax_default box_2">
            <img id="u6926_img" class="img " src="{{ url_for('static', filename='images/compound_11_0______/u6782.svg') }}"/>
            <div id="u6926_text" class="text ">
              <p><span>Clear list of compounds</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u6927" class="ax_default box_2">
            <img id="u6927_img" class="img " src="{{ url_for('static', filename='images/compound_11_0______/u6782.svg') }}"/>
            <div id="u6927_text" class="text ">
              <p><span>Erase</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u6928" class="ax_default box_2">
            <img id="u6928_img" class="img " src="{{ url_for('static', filename='images/compound_11_0______/u6782.svg') }}"/>
            <div id="u6928_text" class="text ">
              <p><span>Save</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u6929" class="ax_default box_2">
            <img id="u6929_img" class="img " src="{{ url_for('static', filename='images/compound_11_0______/u6782.svg') }}"/>
            <div id="u6929_text" class="text ">
              <p><span>Copy</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u6930" class="ax_default box_2">
            <img id="u6930_img" class="img " src="{{ url_for('static', filename='images/compound_11_0______/u6782.svg') }}"/>
            <div id="u6930_text" class="text ">
              <p><span>Paste MgCl2</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
