<!DOCTYPE html>
<html>
<head>
    <title>Compound 7.2</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/compound_7_2/styles.css') }}" type="text/css" rel="stylesheet"/>

    <script>
        document.oncontextmenu = function (event) {
            event = event || window.event;
            var targetElement = event.target || event.srcElement;
            if (!targetElement) return true;

            if (targetElement.tagName) {
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||
                    targetElement.tagName.toLowerCase() === "textarea") {
                    return true;
                }
            }
            return false;
        }
    </script>
    <script src
                    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/compound_7_2/data.js') }}"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () {
            return 'resources/images/transparent.gif';
        };
        $axure.utils.getOtherPath = function () {
            return 'resources/Other.html';
        };
        $axure.utils.getReloadPath = function () {
            return 'resources/reload.html';
        };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- Unnamed (Group) -->
    <div id="u7546" class="ax_default" data-left="0" data-top="0" data-width="867" data-height="750" layer-opacity="1">

        <!-- 内部框架 (Inline Frame) -->
        <div id="u7547" class="ax_default" data-label="内部框架">
            <iframe id="u7547_input" data-label="内部框架" allowfullscreen ></iframe>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u7548" class="ax_default box_1">
            <div id="u7548_div" class=""></div>
            <div id="u7548_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u7549" class="ax_default" data-left="246" data-top="95" data-width="620" data-height="606"
             layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u7550" class="ax_default box_1">
                <div id="u7550_div" class=""></div>
                <div id="u7550_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u7551" class="ax_default _形状">
                <div id="u7551_div" class=""></div>
                <div id="u7551_text" class="text ">
                    <p><span>OK</span></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u7552" class="ax_default" data-left="95" data-top="100" data-width="571" data-height="275"
             layer-opacity="1">

            <!-- Cp (Group) -->
            <div id="u7553" class="ax_default" data-label="Cp" data-left="95" data-top="136" data-width="571"
                 data-height="239" layer-opacity="1">

                <!-- Unnamed (Text Field) -->
                <div id="u7554" class="ax_default text_field">
                    <div id="u7554_div" class=""></div>
                    <input id="u7554_input" type="text" value="" class="u7554_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u7555" class="ax_default text_field">
                    <div id="u7555_div" class=""></div>
                    <input id="u7555_input" type="text" value="" class="u7555_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u7556" class="ax_default text_field">
                    <div id="u7556_div" class=""></div>
                    <input id="u7556_input" type="text" value="" class="u7556_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u7557" class="ax_default text_field">
                    <div id="u7557_div" class=""></div>
                    <input id="u7557_input" type="text" value="" class="u7557_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u7558" class="ax_default text_field">
                    <div id="u7558_div" class=""></div>
                    <input id="u7558_input" type="text" value="" class="u7558_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u7559" class="ax_default text_field">
                    <div id="u7559_div" class=""></div>
                    <input id="u7559_input" type="text" value="" class="u7559_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u7560" class="ax_default text_field">
                    <div id="u7560_div" class=""></div>
                    <input id="u7560_input" type="text" value="" class="u7560_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u7561" class="ax_default text_field">
                    <div id="u7561_div" class=""></div>
                    <input id="u7561_input" type="text" value="" class="u7561_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u7562" class="ax_default text_field">
                    <div id="u7562_div" class=""></div>
                    <input id="u7562_input" type="text" value="" class="u7562_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u7563" class="ax_default text_field">
                    <div id="u7563_div" class=""></div>
                    <input id="u7563_input" type="text" value="" class="u7563_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u7564" class="ax_default text_field">
                    <div id="u7564_div" class=""></div>
                    <input id="u7564_input" type="text" value="" class="u7564_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u7565" class="ax_default text_field">
                    <div id="u7565_div" class=""></div>
                    <input id="u7565_input" type="text" value="" class="u7565_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u7566" class="ax_default text_field">
                    <div id="u7566_div" class=""></div>
                    <input id="u7566_input" type="text" value="" class="u7566_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u7567" class="ax_default text_field">
                    <div id="u7567_div" class=""></div>
                    <input id="u7567_input" type="text" value="" class="u7567_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u7568" class="ax_default text_field">
                    <div id="u7568_div" class=""></div>
                    <input id="u7568_input" type="text" value="" class="u7568_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u7569" class="ax_default text_field">
                    <div id="u7569_div" class=""></div>
                    <input id="u7569_input" type="text" value="" class="u7569_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u7570" class="ax_default text_field">
                    <div id="u7570_div" class=""></div>
                    <input id="u7570_input" type="text" value="" class="u7570_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u7571" class="ax_default text_field">
                    <div id="u7571_div" class=""></div>
                    <input id="u7571_input" type="text" value="" class="u7571_input"/>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u7572" class="ax_default box_1">
                    <div id="u7572_div" class=""></div>
                    <div id="u7572_text" class="text ">
                        <p><span>S 298: 106.211274831458 J/(mol K)</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u7573" class="ax_default box_1">
                    <div id="u7573_div" class=""></div>
                    <div id="u7573_text" class="text ">
                        <p><span>△H 298: -633619.130104762 J/mol</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u7574" class="ax_default box_1">
                    <div id="u7574_div" class=""></div>
                    <div id="u7574_text" class="text ">
                        <p><span>from</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u7575" class="ax_default box_1">
                    <div id="u7575_div" class=""></div>
                    <div id="u7575_text" class="text ">
                        <p><span>K</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u7576" class="ax_default box_1">
                    <div id="u7576_div" class=""></div>
                    <div id="u7576_text" class="text ">
                        <p><span>K to</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u7577" class="ax_default box_1">
                    <div id="u7577_div" class=""></div>
                    <div id="u7577_text" class="text ">
                        <p><span>Cp(T) = </span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u7578" class="ax_default _段落">
                    <div id="u7578_div" class=""></div>
                    <div id="u7578_text" class="text ">
                        <p><span>6000</span></p>
                    </div>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u7579" class="ax_default box_1">
                <div id="u7579_div" class=""></div>
                <div id="u7579_text" class="text ">
                    <p><span>Cp expression for L1</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u7580" class="ax_default box_1">
                <div id="u7580_div" class=""></div>
                <div id="u7580_text" class="text ">
                    <p><span>G</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u7581" class="ax_default box_1">
                <div id="u7581_div" class=""></div>
                <div id="u7581_text" class="text ">
                    <p><span>S</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u7582" class="ax_default box_1">
                <div id="u7582_div" class=""></div>
                <div id="u7582_text" class="text ">
                    <p><span>Cp</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u7583" class="ax_default box_1">
                <div id="u7583_div" class=""></div>
                <div id="u7583_text" class="text ">
                    <p><span>Edit</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u7584" class="ax_default box_1">
                <div id="u7584_div" class=""></div>
                <div id="u7584_text" class="text ">
                    <p><span>H</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u7585" class="ax_default box_1">
                <div id="u7585_div" class=""></div>
                <div id="u7585_text" class="text ">
                    <p><span>T^</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u7586" class="ax_default box_1">
                <div id="u7586_div" class=""></div>
                <div id="u7586_text" class="text ">
                    <p><span>T^</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u7587" class="ax_default box_1">
                <div id="u7587_div" class=""></div>
                <div id="u7587_text" class="text ">
                    <p><span>T^</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u7588" class="ax_default box_1">
                <div id="u7588_div" class=""></div>
                <div id="u7588_text" class="text ">
                    <p><span>T^</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u7589" class="ax_default box_1">
                <div id="u7589_div" class=""></div>
                <div id="u7589_text" class="text ">
                    <p><span>T^</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u7590" class="ax_default box_1">
                <div id="u7590_div" class=""></div>
                <div id="u7590_text" class="text ">
                    <p><span>T^</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u7591" class="ax_default box_1">
                <div id="u7591_div" class=""></div>
                <div id="u7591_text" class="text ">
                    <p><span>T^</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u7592" class="ax_default box_1">
                <div id="u7592_div" class=""></div>
                <div id="u7592_text" class="text ">
                    <p><span>T^</span></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u7593" class="ax_default" data-left="0" data-top="0" data-width="867" data-height="750"
             layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u7594" class="ax_default box_1">
                <div id="u7594_div" class=""></div>
                <div id="u7594_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u7595" class="ax_default box_1">
                <div id="u7595_div" class=""></div>
                <div id="u7595_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u7596" class="ax_default box_1">
                <div id="u7596_div" class=""></div>
                <div id="u7596_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7597" class="ax_default text_field">
                <div id="u7597_div" class=""></div>
                <input id="u7597_input" type="text" value="FactSage" class="u7597_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7598" class="ax_default text_field">
                <div id="u7598_div" class=""></div>
                <input id="u7598_input" type="text"
                       value="C:\FACTSAGE\USERDATA\EXAMPLEBASE.CDB(v5.0) 0 compound(s) read/write" class="u7598_input"
                       readonly/>
            </div>

            <!-- Unnamed (List Box) -->
            <div id="u7599" class="ax_default list_box">
                <div id="u7599_div" class=""></div>
                <select id="u7599_input" size="2" class="u7599_input">
                    <option class="u7599_input_option" value="...r    BINSBASE">...r&nbsp; &nbsp; BINSBASE</option>
                    <option class="u7599_input_option" value="...r    ELEMBASE  ">...r&nbsp; &nbsp; ELEMBASE&nbsp;
                    </option>
                    <option class="u7599_input_option" value="...r/w    EXAMBASE">...r/w&nbsp; &nbsp; EXAMBASE</option>
                    <option class="u7599_input_option" value="     ...      MgCl2">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp;
                        &nbsp; MgCl2
                    </option>
                    <option class="u7599_input_option" value="            ...     S1">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp;&nbsp; ...&nbsp; &nbsp;&nbsp; S1
                    </option>
                    <option class="u7599_input_option" value="               ... Cp 6000">&nbsp;&nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; ... Cp 6000
                    </option>
                    <option class="u7599_input_option" value="            ...     L1">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp;&nbsp; ...&nbsp; &nbsp;&nbsp; L1
                    </option>
                    <option class="u7599_input_option" value="               ... Cp ">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; ... Cp
                    </option>
                    <option class="u7599_input_option" value="...r    FACT53BASE  ">...r&nbsp; &nbsp; FACT53BASE&nbsp;
                    </option>
                    <option class="u7599_input_option" value="...r    FACTBASE">...r&nbsp; &nbsp; FACTBASE</option>
                    <option class="u7599_input_option" value="...r    FScoppBASE">...r&nbsp; &nbsp; FScoppBASE</option>
                    <option class="u7599_input_option" value="...r    FSleadBASE">...r&nbsp; &nbsp; FSleadBASE</option>
                    <option class="u7599_input_option" value="...r    FSliteBASE">...r&nbsp; &nbsp; FSliteBASE</option>
                    <option class="u7599_input_option" value="...r    FSnoblBASE">...r&nbsp; &nbsp; FSnoblBASE</option>
                    <option class="u7599_input_option" value="...r    FSstelBASE">...r&nbsp; &nbsp; FSstelBASE</option>
                    <option class="u7599_input_option" value="...r    FSupsiBASE">...r&nbsp; &nbsp; FSupsiBASE</option>
                    <option class="u7599_input_option" value="...r    FThallBASE">...r&nbsp; &nbsp; FThallBASE</option>
                    <option class="u7599_input_option" value="...r    FThelgBASE">...r&nbsp; &nbsp; FThelgBASE</option>
                    <option class="u7599_input_option" value="...r/w    FTliBASE">...r/w&nbsp; &nbsp; FTliBASE</option>
                    <option class="u7599_input_option" value="...r    FTliteBASE">...r&nbsp; &nbsp; FTliteBASE</option>
                    <option class="u7599_input_option" value="...r    FTmiscBASE">...r&nbsp; &nbsp; FTmiscBASE</option>
                    <option class="u7599_input_option" value="...r    FToxidBASE">...r&nbsp; &nbsp; FToxidBASE</option>
                    <option class="u7599_input_option" value="...r    FTpulpBASE">...r&nbsp; &nbsp; FTpulpBASE</option>
                    <option class="u7599_input_option" value="...r    FTsaltBASE">...r&nbsp; &nbsp; FTsaltBASE</option>
                    <option class="u7599_input_option" value="...r    USERDATA">...r&nbsp; &nbsp; USERDATA</option>
                </select>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7600" class="ax_default text_field">
                <div id="u7600_div" class=""></div>
                <input id="u7600_input" type="text" value="Formula" class="u7600_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7601" class="ax_default text_field">
                <div id="u7601_div" class=""></div>
                <input id="u7601_input" type="text" value="MgCl2" class="u7601_input"/>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u7602" class="ax_default _形状">
                <img id="u7602_img" class="img "
                     src="{{ url_for('static', filename='images/compound_3_1/u6907.svg') }}"/>
                <div id="u7602_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u7603" class="ax_default" data-left="63" data-top="15" data-width="463" data-height="32"
                 layer-opacity="1">

                <!-- Unnamed (Rectangle) -->
                <div id="u7604" class="ax_default _段落">
                    <div id="u7604_div" class=""></div>
                    <div id="u7604_text" class="text ">
                        <p><span>Edit</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u7605" class="ax_default _二级标题">
                    <div id="u7605_div" class=""></div>
                    <div id="u7605_text" class="text ">
                        <p><span>ViewData</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u7606" class="ax_default _二级标题">
                    <div id="u7606_div" class=""></div>
                    <div id="u7606_text" class="text ">
                        <p><span>Units</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u7607" class="ax_default _二级标题">
                    <div id="u7607_div" class=""></div>
                    <div id="u7607_text" class="text ">
                        <p><span>Tools</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u7608" class="ax_default _二级标题">
                    <div id="u7608_div" class=""></div>
                    <div id="u7608_text" class="text ">
                        <p><span>Help</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u7609" class="ax_default _三级标题">
                    <div id="u7609_div" class=""></div>
                    <div id="u7609_text" class="text ">
                        <p><span>File</span></p>
                    </div>
                </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7610" class="ax_default text_field">
                <div id="u7610_div" class=""></div>
                <input id="u7610_input" type="text" value="Modified" class="u7610_input" readonly/>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u7611" class="ax_default _形状">
            <img id="u7611_img" class="img " src="{{ url_for('static', filename='images/compound_3_1/u6917.svg') }}"/>
            <div id="u7611_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u7612" class="ax_default _三级标题">
            <div id="u7612_div" class=""></div>
            <div id="u7612_text" class="text ">
                <p><span>View</span></p>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
</body>
</html>
