<!DOCTYPE html>
<html>
  <head>
    <title>Compound 13.2(clear)</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/compound_13_2_clear_/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/compound_13_2_clear_/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Group) -->
      <div id="u8207" class="ax_default" data-left="0" data-top="0" data-width="867" data-height="750" layer-opacity="1">

        <!-- 内部框架 (Inline Frame) -->
        <div id="u8208" class="ax_default" data-label="内部框架">
          <iframe id="u8208_input" data-label="内部框架" src="http://127.0.0.1:5000/u8208_input"></iframe>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u8209" class="ax_default" data-left="246" data-top="95" data-width="620" data-height="606" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u8210" class="ax_default box_1">
            <div id="u8210_div" class=""></div>
            <div id="u8210_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u8211" class="ax_default" data-left="258" data-top="110" data-width="241" data-height="31" layer-opacity="1">

            <!-- Unnamed (Text Field) -->
            <div id="u8212" class="ax_default text_field">
              <div id="u8212_div" class=""></div>
              <input id="u8212_input" type="text" value="Information on EXAMBASE" class="u8212_input" readonly/>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u8213" class="ax_default" data-left="272" data-top="141" data-width="211" data-height="123" layer-opacity="1">

            <!-- Unnamed (Text Field) -->
            <div id="u8214" class="ax_default text_field">
              <div id="u8214_div" class=""></div>
              <input id="u8214_input" type="text" value="Nickname (4 chars)" class="u8214_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8215" class="ax_default text_field">
              <div id="u8215_div" class=""></div>
              <input id="u8215_input" type="text" value="Description (79 chars max)" class="u8215_input" readonly/>
            </div>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u8216" class="ax_default text_field">
            <div id="u8216_div" class=""></div>
            <input id="u8216_input" type="text" value="" class="u8216_input"/>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u8217" class="ax_default" data-left="0" data-top="0" data-width="867" data-height="750" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u8218" class="ax_default box_1">
            <div id="u8218_div" class=""></div>
            <div id="u8218_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u8219" class="ax_default box_1">
            <div id="u8219_div" class=""></div>
            <div id="u8219_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u8220" class="ax_default box_1">
            <div id="u8220_div" class=""></div>
            <div id="u8220_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u8221" class="ax_default text_field">
            <div id="u8221_div" class=""></div>
            <input id="u8221_input" type="text" value="FactSage" class="u8221_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u8222" class="ax_default text_field">
            <div id="u8222_div" class=""></div>
            <input id="u8222_input" type="text" value="C:\FACTSAGE\USERDATA\EXAMPLEBASE.CDB(v5.0) 2 compound(s) read/write" class="u8222_input" readonly/>
          </div>

          <!-- Unnamed (List Box) -->
          <div id="u8223" class="ax_default list_box">
            <div id="u8223_div" class=""></div>
            <select id="u8223_input" size="2" class="u8223_input">
              <option class="u8223_input_option" value="...r    BINSBASE">...r&nbsp; &nbsp; BINSBASE</option>
              <option class="u8223_input_option" value="...r    ELEMBASE  ">...r&nbsp; &nbsp; ELEMBASE&nbsp; </option>
              <option class="u8223_input_option" value="...r/w    EXAMBASE">...r/w&nbsp; &nbsp; EXAMBASE</option>
              <option class="u8223_input_option" value="...r    FACT53BASE ">...r&nbsp; &nbsp; FACT53BASE </option>
              <option class="u8223_input_option" value="...r    FACTBASE">...r&nbsp; &nbsp; FACTBASE</option>
              <option class="u8223_input_option" value="...r    FSleadBASE">...r&nbsp; &nbsp; FSleadBASE</option>
              <option class="u8223_input_option" value="...r    FSliteBASE">...r&nbsp; &nbsp; FSliteBASE</option>
              <option class="u8223_input_option" value="...r    FSnoblBASE">...r&nbsp; &nbsp; FSnoblBASE</option>
              <option class="u8223_input_option" value="...r    FSstelBASE">...r&nbsp; &nbsp; FSstelBASE</option>
              <option class="u8223_input_option" value="...r    FSupsiBASE">...r&nbsp; &nbsp; FSupsiBASE</option>
              <option class="u8223_input_option" value="...r    FThallBASE">...r&nbsp; &nbsp; FThallBASE</option>
              <option class="u8223_input_option" value="...r    FThelgBASE">...r&nbsp; &nbsp; FThelgBASE</option>
              <option class="u8223_input_option" value="...r/w    FTliBASE">...r/w&nbsp; &nbsp; FTliBASE</option>
              <option class="u8223_input_option" value="...r    FTliteBASE">...r&nbsp; &nbsp; FTliteBASE</option>
              <option class="u8223_input_option" value="...r    FTmiscBASE">...r&nbsp; &nbsp; FTmiscBASE</option>
              <option class="u8223_input_option" value="...r    FToxidBASE">...r&nbsp; &nbsp; FToxidBASE</option>
              <option class="u8223_input_option" value="...r    FTpulpBASE">...r&nbsp; &nbsp; FTpulpBASE</option>
              <option class="u8223_input_option" value="...r    FTsaltBASE">...r&nbsp; &nbsp; FTsaltBASE</option>
              <option class="u8223_input_option" value="...r    USERDATA">...r&nbsp; &nbsp; USERDATA</option>
            </select>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u8224" class="ax_default text_field">
            <div id="u8224_div" class=""></div>
            <input id="u8224_input" type="text" value="Formula" class="u8224_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u8225" class="ax_default text_field">
            <div id="u8225_div" class=""></div>
            <input id="u8225_input" type="text" value="MgCl2" class="u8225_input"/>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u8226" class="ax_default _形状">
            <img id="u8226_img" class="img " src="{{ url_for('static', filename='images/compound_3_1/u6907.svg') }}"/>
            <div id="u8226_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u8227" class="ax_default" data-left="63" data-top="15" data-width="463" data-height="32" layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u8228" class="ax_default _二级标题">
              <div id="u8228_div" class=""></div>
              <div id="u8228_text" class="text ">
                <p><span>ViewData</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8229" class="ax_default _二级标题">
              <div id="u8229_div" class=""></div>
              <div id="u8229_text" class="text ">
                <p><span>Units</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8230" class="ax_default _二级标题">
              <div id="u8230_div" class=""></div>
              <div id="u8230_text" class="text ">
                <p><span>Tools</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8231" class="ax_default _二级标题">
              <div id="u8231_div" class=""></div>
              <div id="u8231_text" class="text ">
                <p><span>Help</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8232" class="ax_default _三级标题">
              <div id="u8232_div" class=""></div>
              <div id="u8232_text" class="text ">
                <p><span>File</span></p>
              </div>
            </div>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u8233" class="ax_default _形状">
          <img id="u8233_img" class="img " src="{{ url_for('static', filename='images/compound_3_1/u6917.svg') }}"/>
          <div id="u8233_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u8234" class="ax_default _三级标题">
          <div id="u8234_div" class=""></div>
          <div id="u8234_text" class="text ">
            <p><span>View</span></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u8235" class="ax_default text_field">
          <div id="u8235_div" class=""></div>
          <input id="u8235_input" type="text" value="" class="u8235_input"/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u8236" class="ax_default _一级标题">
          <div id="u8236_div" class=""></div>
          <div id="u8236_text" class="text ">
            <p><span>Edit</span></p>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
