<!DOCTYPE html>
<html>
  <head>
    <title>Compound 11.0(传输数据)</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/compound_11_0______/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/compound_11_0______/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Group) -->
      <div id="u6734" class="ax_default" data-left="289" data-top="50" data-width="867" data-height="750" layer-opacity="1">

        <!-- 内部框架 (Inline Frame) -->
        <div id="u6735" class="ax_default" data-label="内部框架">
          <iframe id="u6735_input" data-label="内部框架" src="http://127.0.0.1:5000/u6735_input"></iframe>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u6736" class="ax_default" data-left="289" data-top="50" data-width="867" data-height="750" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u6737" class="ax_default box_1">
            <div id="u6737_div" class=""></div>
            <div id="u6737_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u6738" class="ax_default box_1">
            <div id="u6738_div" class=""></div>
            <div id="u6738_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u6739" class="ax_default box_1">
            <div id="u6739_div" class=""></div>
            <div id="u6739_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u6740" class="ax_default text_field">
            <div id="u6740_div" class=""></div>
            <input id="u6740_input" type="text" value="FactSage" class="u6740_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u6741" class="ax_default text_field">
            <div id="u6741_div" class=""></div>
            <input id="u6741_input" type="text" value="C:\FACTSAGE\USERDATA\EXAMPLEBASE.CDB(v5.0) 0 compound(s) read/write" class="u6741_input" readonly/>
          </div>

          <!-- Unnamed (List Box) -->
          <div id="u6742" class="ax_default list_box">
            <div id="u6742_div" class=""></div>
            <select id="u6742_input" size="2" class="u6742_input">
              <option class="u6742_input_option" value="...r    BINSBASE">...r&nbsp; &nbsp; BINSBASE</option>
              <option class="u6742_input_option" value="...r    FACT53BASE  ">...r&nbsp; &nbsp; FACT53BASE&nbsp; </option>
              <option class="u6742_input_option" value="...r    FACTBASE">...r&nbsp; &nbsp; FACTBASE</option>
              <option class="u6742_input_option" value="     ...      MgSO4">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; MgSO4</option>
              <option class="u6742_input_option" value="     ...      MgCl2">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; MgCl2</option>
              <option class="u6742_input_option" value="...r    SGPSBASE">...r&nbsp; &nbsp; SGPSBASE</option>
              <option class="u6742_input_option" value="...r    ELEMBASE  ">...r&nbsp; &nbsp; ELEMBASE&nbsp; </option>
              <option class="u6742_input_option" value="...r    SGSLBASE">...r&nbsp; &nbsp; SGSLBASE</option>
              <option class="u6742_input_option" value="...r/w    EXAMBASE">...r/w&nbsp; &nbsp; EXAMBASE</option>
              <option class="u6742_input_option" value="...r    FSleadBASE">...r&nbsp; &nbsp; FSleadBASE</option>
              <option class="u6742_input_option" value="...r    FSliteBASE">...r&nbsp; &nbsp; FSliteBASE</option>
              <option class="u6742_input_option" value="...r    FSnoblBASE">...r&nbsp; &nbsp; FSnoblBASE</option>
              <option class="u6742_input_option" value="...r    FSstelBASE">...r&nbsp; &nbsp; FSstelBASE</option>
              <option class="u6742_input_option" value="...r    FSupsiBASE">...r&nbsp; &nbsp; FSupsiBASE</option>
              <option class="u6742_input_option" value="...r    FThallBASE">...r&nbsp; &nbsp; FThallBASE</option>
              <option class="u6742_input_option" value="...r    FThelgBASE">...r&nbsp; &nbsp; FThelgBASE</option>
              <option class="u6742_input_option" value="...r/w    FTliBASE">...r/w&nbsp; &nbsp; FTliBASE</option>
              <option class="u6742_input_option" value="...r    FTliteBASE">...r&nbsp; &nbsp; FTliteBASE</option>
              <option class="u6742_input_option" value="...r    FTmiscBASE">...r&nbsp; &nbsp; FTmiscBASE</option>
              <option class="u6742_input_option" value="...r    FToxidBASE">...r&nbsp; &nbsp; FToxidBASE</option>
              <option class="u6742_input_option" value="...r    FTpulpBASE">...r&nbsp; &nbsp; FTpulpBASE</option>
              <option class="u6742_input_option" value="...r    FTsaltBASE">...r&nbsp; &nbsp; FTsaltBASE</option>
              <option class="u6742_input_option" value="...r    USERDATA">...r&nbsp; &nbsp; USERDATA</option>
            </select>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u6743" class="ax_default text_field">
            <div id="u6743_div" class=""></div>
            <input id="u6743_input" type="text" value="Formula" class="u6743_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u6744" class="ax_default text_field">
            <div id="u6744_div" class=""></div>
            <input id="u6744_input" type="text" value="MgCl2" class="u6744_input"/>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u6745" class="ax_default _形状">
            <img id="u6745_img" class="img " src="{{ url_for('static', filename='images/compound_3_1/u6676.svg') }}"/>
            <div id="u6745_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u6746" class="ax_default" data-left="352" data-top="65" data-width="463" data-height="32" layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u6747" class="ax_default _二级标题">
              <div id="u6747_div" class=""></div>
              <div id="u6747_text" class="text ">
                <p><span>ViewData</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6748" class="ax_default _二级标题">
              <div id="u6748_div" class=""></div>
              <div id="u6748_text" class="text ">
                <p><span>Units</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6749" class="ax_default _二级标题">
              <div id="u6749_div" class=""></div>
              <div id="u6749_text" class="text ">
                <p><span>Tools</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6750" class="ax_default _二级标题">
              <div id="u6750_div" class=""></div>
              <div id="u6750_text" class="text ">
                <p><span>Help</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6751" class="ax_default _三级标题">
              <div id="u6751_div" class=""></div>
              <div id="u6751_text" class="text ">
                <p><span>File</span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u6752" class="ax_default text_field">
            <div id="u6752_div" class=""></div>
            <input id="u6752_input" type="text" value="Modified" class="u6752_input" readonly/>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u6753" class="ax_default _形状">
          <img id="u6753_img" class="img " src="{{ url_for('static', filename='images/compound_new_data_/u6609.svg') }}"/>
          <div id="u6753_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6754" class="ax_default _三级标题">
          <div id="u6754_div" class=""></div>
          <div id="u6754_text" class="text ">
            <p><span>View</span></p>
          </div>
        </div>

        <!-- Unnamed (Hot Spot) -->
        <div id="u6755" class="ax_default">
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6756" class="ax_default box_1">
          <div id="u6756_div" class=""></div>
          <div id="u6756_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u6757" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="540" data-top="145" data-width="576" data-height="336" layer-opacity="1">

          <!-- Unnamed (Text Field) -->
          <div id="u6758" class="ax_default text_field">
            <div id="u6758_div" class=""></div>
            <input id="u6758_input" type="text" value="Weight : 95.2104 g/mol " class="u6758_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u6759" class="ax_default text_field">
            <div id="u6759_div" class=""></div>
            <input id="u6759_input" type="text" value="Compound Name" class="u6759_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u6760" class="ax_default text_field">
            <div id="u6760_div" class=""></div>
            <input id="u6760_input" type="text" value="Modified: 2005 May 13" class="u6760_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u6761" class="ax_default text_field">
            <div id="u6761_div" class=""></div>
            <input id="u6761_input" type="text" value="" class="u6761_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u6762" class="ax_default text_field">
            <div id="u6762_div" class=""></div>
            <input id="u6762_input" type="text" value="Reference no." class="u6762_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u6763" class="ax_default text_field">
            <div id="u6763_div" class=""></div>
            <input id="u6763_input" type="text" value="" class="u6763_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u6764" class="ax_default text_field">
            <div id="u6764_div" class=""></div>
            <input id="u6764_input" type="text" value="" class="u6764_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u6765" class="ax_default text_field">
            <div id="u6765_div" class=""></div>
            <input id="u6765_input" type="text" value="Comments" class="u6765_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u6766" class="ax_default text_field">
            <div id="u6766_div" class=""></div>
            <input id="u6766_input" type="text" value="" class="u6766_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u6767" class="ax_default text_field">
            <div id="u6767_div" class=""></div>
            <input id="u6767_input" type="text" value="MgCl2 properties" class="u6767_input" readonly/>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u6768" class="ax_default" data-left="549" data-top="393" data-width="567" data-height="88" layer-opacity="1">

            <!-- Unnamed (Text Field) -->
            <div id="u6769" class="ax_default text_field">
              <div id="u6769_div" class=""></div>
              <input id="u6769_input" type="text" value="" class="u6769_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u6770" class="ax_default text_field">
              <div id="u6770_div" class=""></div>
              <input id="u6770_input" type="text" value="Mg" class="u6770_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u6771" class="ax_default text_field">
              <div id="u6771_div" class=""></div>
              <input id="u6771_input" type="text" value="" class="u6771_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u6772" class="ax_default text_field">
              <div id="u6772_div" class=""></div>
              <input id="u6772_input" type="text" value="Cl" class="u6772_input" readonly/>
            </div>

            <!-- Unnamed (Line) -->
            <div id="u6773" class="ax_default line">
              <img id="u6773_img" class="img " src="{{ url_for('static', filename='images/compound_11_0______/u6773.svg') }}"/>
              <div id="u6773_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Line) -->
            <div id="u6774" class="ax_default line">
              <img id="u6774_img" class="img " src="{{ url_for('static', filename='images/compound_11_0______/u6773.svg') }}"/>
              <div id="u6774_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Vertical Line) -->
            <div id="u6775" class="ax_default line">
              <img id="u6775_img" class="img " src="{{ url_for('static', filename='images/compound_14_5/u5948.svg') }}"/>
              <div id="u6775_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u6776" class="ax_default text_field">
              <div id="u6776_div" class=""></div>
              <input id="u6776_input" type="text" value="Real Stoichiometry(for advances users only)" class="u6776_input" readonly/>
            </div>

            <!-- Unnamed (Vertical Line) -->
            <div id="u6777" class="ax_default line">
              <img id="u6777_img" class="img " src="{{ url_for('static', filename='images/compound_14_5/u5948.svg') }}"/>
              <div id="u6777_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>
        </div>

        <!-- Unnamed (Hot Spot) -->
        <div id="u6778" class="ax_default">
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6779" class="ax_default _一级标题">
          <div id="u6779_div" class=""></div>
          <div id="u6779_text" class="text ">
            <p><span>Edit</span></p>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u6780" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">

          <!-- 2 (Group) -->
          <div id="u6781" class="ax_default ax_default_hidden" data-label="2" style="display:none; visibility: hidden" data-left="400" data-top="91" data-width="218" data-height="182" layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u6782" class="ax_default box_2">
              <img id="u6782_img" class="img " src="{{ url_for('static', filename='images/compound_11_0______/u6782.svg') }}"/>
              <div id="u6782_text" class="text ">
                <p><span>Add</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6783" class="ax_default box_2">
              <img id="u6783_img" class="img " src="{{ url_for('static', filename='images/compound_11_0______/u6782.svg') }}"/>
              <div id="u6783_text" class="text ">
                <p><span>Remove MgCl2 from list</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6784" class="ax_default box_2">
              <img id="u6784_img" class="img " src="{{ url_for('static', filename='images/compound_11_0______/u6782.svg') }}"/>
              <div id="u6784_text" class="text ">
                <p><span>Clear list of compounds</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6785" class="ax_default box_2">
              <img id="u6785_img" class="img " src="{{ url_for('static', filename='images/compound_11_0______/u6782.svg') }}"/>
              <div id="u6785_text" class="text ">
                <p><span>Erase MgCl2 from EXAMBASE</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6786" class="ax_default box_2">
              <img id="u6786_img" class="img " src="{{ url_for('static', filename='images/compound_11_0______/u6782.svg') }}"/>
              <div id="u6786_text" class="text ">
                <p><span>Save MgCl2 to EXAMBASE</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6787" class="ax_default box_2">
              <img id="u6787_img" class="img " src="{{ url_for('static', filename='images/compound_11_0______/u6782.svg') }}"/>
              <div id="u6787_text" class="text ">
                <p><span>Copy</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6788" class="ax_default box_2">
              <img id="u6788_img" class="img " src="{{ url_for('static', filename='images/compound_11_0______/u6782.svg') }}"/>
              <div id="u6788_text" class="text ">
                <p><span>Paste</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u6789" class="ax_default" data-left="0" data-top="0" data-width="1156" data-height="800" layer-opacity="1">

        <!-- 左侧一级菜单 (Dynamic Panel) -->
        <div id="u6790" class="ax_default" data-label="左侧一级菜单">
          <div id="u6790_state0" class="panel_state" data-label="框架" style="">
            <div id="u6790_state0_content" class="panel_state_content">

              <!-- Unnamed (Rectangle) -->
              <div id="u6791" class="ax_default box_1" selectiongroup="一级分类">
                <img id="u6791_img" class="img " src="{{ url_for('static', filename='images/模板_1/u19.svg') }}"/>
                <div id="u6791_text" class="text ">
                  <p><span>Database</span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u6792" class="ax_default box_1" selectiongroup="一级分类">
                <img id="u6792_img" class="img " src="{{ url_for('static', filename='images/模板_1/u20.svg') }}"/>
                <div id="u6792_text" class="text ">
                  <p><span>Calculate</span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u6793" class="ax_default box_1 selected" selectiongroup="一级分类">
                <img id="u6793_img" class="img " src="{{ url_for('static', filename='images/模板/u65.svg') }}"/>
                <div id="u6793_text" class="text ">
                  <p><span>Manipulate</span></p>
                </div>
              </div>

              <!-- 三角形 (Shape) -->
              <div id="u6794" class="ax_default box_1" data-label="三角形">
                <img id="u6794_img" class="img " src="{{ url_for('static', filename='images/模板_1/三角形_u22.svg') }}"/>
                <div id="u6794_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- 化学 (Group) -->
              <div id="u6795" class="ax_default" data-label="化学" data-left="6" data-top="12" data-width="30" data-height="28" layer-opacity="1">

                <!-- Unnamed (Ellipse) -->
                <div id="u6796" class="ax_default ellipse">
                  <img id="u6796_img" class="img " src="{{ url_for('static', filename='images/模板_1/u24.svg') }}"/>
                  <div id="u6796_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u6797" class="ax_default icon">
                  <img id="u6797_img" class="img " src="{{ url_for('static', filename='images/模板_1/u25.svg') }}"/>
                  <div id="u6797_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </div>

              <!-- 数据库 (Group) -->
              <div id="u6798" class="ax_default" data-label="数据库" data-left="6" data-top="66" data-width="31" data-height="29" layer-opacity="1">

                <!-- Unnamed (Ellipse) -->
                <div id="u6799" class="ax_default ellipse">
                  <img id="u6799_img" class="img " src="{{ url_for('static', filename='images/模板_1/u27.svg') }}"/>
                  <div id="u6799_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u6800" class="ax_default icon">
                  <img id="u6800_img" class="img " src="{{ url_for('static', filename='images/模板_1/u28.svg') }}"/>
                  <div id="u6800_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </div>

              <!-- Least Square (Group) -->
              <div id="u6801" class="ax_default" data-label="Least Square" data-left="8" data-top="121" data-width="29" data-height="27" layer-opacity="1">

                <!-- Unnamed (Ellipse) -->
                <div id="u6802" class="ax_default ellipse">
                  <img id="u6802_img" class="img " src="{{ url_for('static', filename='images/模板_1/u30.svg') }}"/>
                  <div id="u6802_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u6803" class="ax_default icon">
                  <img id="u6803_img" class="img " src="{{ url_for('static', filename='images/模板_1/u31.svg') }}"/>
                  <div id="u6803_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 背景 (Dynamic Panel) -->
        <div id="u6804" class="ax_default" data-label="背景">
          <div id="u6804_state0" class="panel_state" data-label="1" style="">
            <div id="u6804_state0_content" class="panel_state_content">
            </div>
          </div>
          <div id="u6804_state1" class="panel_state" data-label="2" style="visibility: hidden;">
            <div id="u6804_state1_content" class="panel_state_content">
            </div>
          </div>
          <div id="u6804_state2" class="panel_state" data-label="3" style="visibility: hidden;">
            <div id="u6804_state2_content" class="panel_state_content">
            </div>
          </div>
          <div id="u6804_state3" class="panel_state" data-label="4" style="visibility: hidden;">
            <div id="u6804_state3_content" class="panel_state_content">
            </div>
          </div>
          <div id="u6804_state4" class="panel_state" data-label="5" style="visibility: hidden;">
            <div id="u6804_state4_content" class="panel_state_content">
            </div>
          </div>
          <div id="u6804_state5" class="panel_state" data-label="6" style="visibility: hidden;">
            <div id="u6804_state5_content" class="panel_state_content">
            </div>
          </div>
          <div id="u6804_state6" class="panel_state" data-label="7" style="visibility: hidden;">
            <div id="u6804_state6_content" class="panel_state_content">
            </div>
          </div>
          <div id="u6804_state7" class="panel_state" data-label="8" style="visibility: hidden;">
            <div id="u6804_state7_content" class="panel_state_content">
            </div>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u6805" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

          <!-- Unnamed (Shape) -->
          <div id="u6806" class="ax_default box_1">
            <img id="u6806_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
            <div id="u6806_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u6807" class="ax_default box_1">
            <img id="u6807_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
            <div id="u6807_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6808" class="ax_default box_1 selected">
          <div id="u6808_div" class="selected"></div>
          <div id="u6808_text" class="text ">
            <p><span>Compound</span></p>
          </div>
        </div>

        <!-- 左侧二级菜单 (Dynamic Panel) -->
        <div id="u6809" class="ax_default" data-label="左侧二级菜单">
          <div id="u6809_state0" class="panel_state" data-label="框架" style="">
            <div id="u6809_state0_content" class="panel_state_content">

              <!-- 二级菜单 (Dynamic Panel) -->
              <div id="u6810" class="ax_default" data-label="二级菜单">
                <div id="u6810_state0" class="panel_state" data-label="Manipulate" style="">
                  <div id="u6810_state0_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u6811" class="ax_default box_1 selected" selectiongroup="二级菜单">
                      <div id="u6811_div" class="selected"></div>
                      <div id="u6811_text" class="text ">
                        <p><span>&#149; Results</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u6812" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u6812_div" class=""></div>
                      <div id="u6812_text" class="text ">
                        <p><span>&#149; Mixture</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u6813" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u6813_div" class=""></div>
                      <div id="u6813_text" class="text ">
                        <p><span>&#149; View Figure</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u6814" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u6814_div" class=""></div>
                      <div id="u6814_text" class="text ">
                        <p><span>&#149; Figure</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u6815" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u6815_div" class=""></div>
                      <div id="u6815_text" class="text ">
                        <p><span>&#149; Reset</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u6816" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u6816_div" class=""></div>
                      <div id="u6816_text" class="text ">
                        <p><span>&#149; Quit</span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="u6810_state1" class="panel_state" data-label="Database" style="visibility: hidden;">
                  <div id="u6810_state1_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u6817" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u6817_div" class=""></div>
                      <div id="u6817_text" class="text ">
                        <p><span>&#149; View Data</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u6818" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u6818_div" class=""></div>
                      <div id="u6818_text" class="text ">
                        <p><span>&#149; Compound</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u6819" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u6819_div" class=""></div>
                      <div id="u6819_text" class="text ">
                        <p><span>&#149; Solution</span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="u6810_state2" class="panel_state" data-label="Calculate" style="visibility: hidden;">
                  <div id="u6810_state2_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u6820" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u6820_div" class=""></div>
                      <div id="u6820_text" class="text ">
                        <p><span>&#149; Reaction</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u6821" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u6821_div" class=""></div>
                      <div id="u6821_text" class="text ">
                        <p><span>&#149; Equilib</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u6822" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u6822_div" class=""></div>
                      <div id="u6822_text" class="text ">
                        <p><span>&#149; Phase Diagram</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u6823" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u6823_div" class=""></div>
                      <div id="u6823_text" class="text ">
                        <p><span>&#149; Predom</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u6824" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u6824_div" class=""></div>
                      <div id="u6824_text" class="text ">
                        <p><span>&#149; EpH</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u6825" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u6825_div" class=""></div>
                      <div id="u6825_text" class="text ">
                        <p><span>&#149; Optimize</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u6826" class="ax_default icon">
          <img id="u6826_img" class="img " src="{{ url_for('static', filename='images/模板_1/u43.svg') }}"/>
          <div id="u6826_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6827" class="ax_default box_1" title="系统消息">
          <img id="u6827_img" class="img " src="{{ url_for('static', filename='images/模板_1/u38.svg') }}"/>
          <div id="u6827_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6828" class="ax_default box_1" title="退出登录">
          <img id="u6828_img" class="img " src="{{ url_for('static', filename='images/模板_1/u41.svg') }}"/>
          <div id="u6828_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u6829" class="ax_default box_1">
          <img id="u6829_img" class="img " src="{{ url_for('static', filename='images/模板_1/u40.svg') }}"/>
          <div id="u6829_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6830" class="ax_default box_1" title="更换皮肤">
          <img id="u6830_img" class="img " src="{{ url_for('static', filename='images/模板_1/u39.svg') }}"/>
          <div id="u6830_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6831" class="ax_default box_1" title="常用菜单">
          <img id="u6831_img" class="img " src="{{ url_for('static', filename='images/模板_1/u38.svg') }}"/>
          <div id="u6831_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u6832" class="ax_default box_1">
          <img id="u6832_img" class="img " src="{{ url_for('static', filename='images/模板_1/u37.svg') }}"/>
          <div id="u6832_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
