<!DOCTYPE html>
<html>
  <head>
    <title>Compound 14.1（放大）</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/compound_14_1____/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/compound_14_1____/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Group) -->
      <div id="u8237" class="ax_default" data-left="0" data-top="0" data-width="867" data-height="750" layer-opacity="1">

        <!-- 内部框架 (Inline Frame) -->
        <div id="u8238" class="ax_default" data-label="内部框架">
          <iframe id="u8238_input" data-label="内部框架" src="http://127.0.0.1:5000/u8238_input"></iframe>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u8239" class="ax_default" data-left="246" data-top="95" data-width="620" data-height="606" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u8240" class="ax_default box_1">
            <div id="u8240_div" class=""></div>
            <div id="u8240_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u8241" class="ax_default" data-left="257" data-top="101" data-width="576" data-height="336" layer-opacity="1">

            <!-- Unnamed (Text Field) -->
            <div id="u8242" class="ax_default text_field">
              <div id="u8242_div" class=""></div>
              <input id="u8242_input" type="text" value="Weight:" class="u8242_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8243" class="ax_default text_field">
              <div id="u8243_div" class=""></div>
              <input id="u8243_input" type="text" value="Compound Name" class="u8243_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8244" class="ax_default text_field">
              <div id="u8244_div" class=""></div>
              <input id="u8244_input" type="text" value="Modified: 1992 Dec 10" class="u8244_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8245" class="ax_default text_field">
              <div id="u8245_div" class=""></div>
              <input id="u8245_input" type="text" value="" class="u8245_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8246" class="ax_default text_field">
              <div id="u8246_div" class=""></div>
              <input id="u8246_input" type="text" value="Reference no." class="u8246_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8247" class="ax_default text_field">
              <div id="u8247_div" class=""></div>
              <input id="u8247_input" type="text" value="" class="u8247_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8248" class="ax_default text_field">
              <div id="u8248_div" class=""></div>
              <input id="u8248_input" type="text" value="" class="u8248_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8249" class="ax_default text_field">
              <div id="u8249_div" class=""></div>
              <input id="u8249_input" type="text" value="Comments" class="u8249_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8250" class="ax_default text_field">
              <div id="u8250_div" class=""></div>
              <input id="u8250_input" type="text" value="" class="u8250_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8251" class="ax_default text_field">
              <div id="u8251_div" class=""></div>
              <input id="u8251_input" type="text" value="&nbsp;MgCl2O2 properties" class="u8251_input" readonly/>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u8252" class="ax_default" data-left="266" data-top="349" data-width="567" data-height="88" layer-opacity="1">

              <!-- Unnamed (Text Field) -->
              <div id="u8253" class="ax_default text_field">
                <div id="u8253_div" class=""></div>
                <input id="u8253_input" type="text" value="1" class="u8253_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u8254" class="ax_default text_field">
                <div id="u8254_div" class=""></div>
                <input id="u8254_input" type="text" value="Mg" class="u8254_input" readonly/>
              </div>

              <!-- Unnamed (Line) -->
              <div id="u8255" class="ax_default line">
                <img id="u8255_img" class="img " src="{{ url_for('static', filename='images/compound_11_0______/u6960.svg') }}"/>
                <div id="u8255_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Line) -->
              <div id="u8256" class="ax_default line">
                <img id="u8256_img" class="img " src="{{ url_for('static', filename='images/compound_11_0______/u6960.svg') }}"/>
                <div id="u8256_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Vertical Line) -->
              <div id="u8257" class="ax_default line">
                <img id="u8257_img" class="img " src="{{ url_for('static', filename='images/compound_14_5/u6223.svg') }}"/>
                <div id="u8257_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u8258" class="ax_default text_field">
                <div id="u8258_div" class=""></div>
                <input id="u8258_input" type="text" value="Real Stoichiometry(for advances users only)" class="u8258_input" readonly/>
              </div>

              <!-- Unnamed (Vertical Line) -->
              <div id="u8259" class="ax_default line">
                <img id="u8259_img" class="img " src="{{ url_for('static', filename='images/compound_14_5/u6223.svg') }}"/>
                <div id="u8259_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u8260" class="ax_default text_field">
                <div id="u8260_div" class=""></div>
                <input id="u8260_input" type="text" value="Cl" class="u8260_input" readonly/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u8261" class="ax_default text_field">
                <div id="u8261_div" class=""></div>
                <input id="u8261_input" type="text" value="2" class="u8261_input"/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u8262" class="ax_default text_field">
                <div id="u8262_div" class=""></div>
                <input id="u8262_input" type="text" value="O" class="u8262_input" readonly/>
              </div>

              <!-- Unnamed (Text Field) -->
              <div id="u8263" class="ax_default text_field">
                <div id="u8263_div" class=""></div>
                <input id="u8263_input" type="text" value="2" class="u8263_input"/>
              </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8264" class="ax_default text_field">
              <div id="u8264_div" class=""></div>
              <input id="u8264_input" type="text" value="163.940214 g/mol" class="u8264_input"/>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u8265" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="358" data-top="393" data-width="351" data-height="200" layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u8266" class="ax_default box_1">
              <div id="u8266_div" class=""></div>
              <div id="u8266_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8267" class="ax_default box_1">
              <div id="u8267_div" class=""></div>
              <div id="u8267_text" class="text ">
                <p><span>Enter scale factor lower or equal to 127</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8268" class="ax_default box_1">
              <div id="u8268_div" class=""></div>
              <div id="u8268_text" class="text ">
                <p><span>OK</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8269" class="ax_default box_1">
              <div id="u8269_div" class=""></div>
              <div id="u8269_text" class="text ">
                <p><span>Cancel</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8270" class="ax_default box_1">
              <div id="u8270_div" class=""></div>
              <div id="u8270_text" class="text ">
                <p><span>Scaling up compound</span></p>
              </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8271" class="ax_default text_field">
              <div id="u8271_div" class=""></div>
              <input id="u8271_input" type="text" value="4" class="u8271_input"/>
            </div>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u8272" class="ax_default" data-left="0" data-top="0" data-width="867" data-height="750" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u8273" class="ax_default box_1">
            <div id="u8273_div" class=""></div>
            <div id="u8273_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u8274" class="ax_default box_1">
            <div id="u8274_div" class=""></div>
            <div id="u8274_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u8275" class="ax_default box_1">
            <div id="u8275_div" class=""></div>
            <div id="u8275_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u8276" class="ax_default text_field">
            <div id="u8276_div" class=""></div>
            <input id="u8276_input" type="text" value="FactSage" class="u8276_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u8277" class="ax_default text_field">
            <div id="u8277_div" class=""></div>
            <input id="u8277_input" type="text" value="C:\FACTSAGE\USERDATA\EXAMPLEBASE.CDB(v5.0) 0 compound(s) read/write" class="u8277_input" readonly/>
          </div>

          <!-- Unnamed (List Box) -->
          <div id="u8278" class="ax_default list_box">
            <div id="u8278_div" class=""></div>
            <select id="u8278_input" size="2" class="u8278_input">
              <option class="u8278_input_option" value="...r    BINSBASE">...r&nbsp; &nbsp; BINSBASE</option>
              <option class="u8278_input_option" value="...r    ELEMBASE  ">...r&nbsp; &nbsp; ELEMBASE&nbsp; </option>
              <option class="u8278_input_option" value="...r/w    EXAMBASE">...r/w&nbsp; &nbsp; EXAMBASE</option>
              <option class="u8278_input_option" value="     ...      MgCl2">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; MgCl2</option>
              <option class="u8278_input_option" value="     ...      MgCl2O2">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; MgCl2O2</option>
              <option class="u8278_input_option" value="          ...     S1             ">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ...&nbsp; &nbsp;&nbsp; S1&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; </option>
              <option class="u8278_input_option" value="...r    FACT53BASE  ">...r&nbsp; &nbsp; FACT53BASE&nbsp; </option>
              <option class="u8278_input_option" value="...r    FACTBASE">...r&nbsp; &nbsp; FACTBASE</option>
              <option class="u8278_input_option" value="     ...      O2">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; O2</option>
              <option class="u8278_input_option" value="...r    FScoppBASE">...r&nbsp; &nbsp; FScoppBASE</option>
              <option class="u8278_input_option" value="...r    FSleadBASE">...r&nbsp; &nbsp; FSleadBASE</option>
              <option class="u8278_input_option" value="...r    FSliteBASE">...r&nbsp; &nbsp; FSliteBASE</option>
              <option class="u8278_input_option" value="...r    FSnoblBASE">...r&nbsp; &nbsp; FSnoblBASE</option>
              <option class="u8278_input_option" value="...r    FSstelBASE">...r&nbsp; &nbsp; FSstelBASE</option>
              <option class="u8278_input_option" value="...r    FSupsiBASE">...r&nbsp; &nbsp; FSupsiBASE</option>
              <option class="u8278_input_option" value="...r    FThallBASE">...r&nbsp; &nbsp; FThallBASE</option>
              <option class="u8278_input_option" value="...r    FThelgBASE">...r&nbsp; &nbsp; FThelgBASE</option>
              <option class="u8278_input_option" value="...r/w    FTliBASE">...r/w&nbsp; &nbsp; FTliBASE</option>
              <option class="u8278_input_option" value="...r    FTliteBASE">...r&nbsp; &nbsp; FTliteBASE</option>
              <option class="u8278_input_option" value="...r    FTmiscBASE">...r&nbsp; &nbsp; FTmiscBASE</option>
              <option class="u8278_input_option" value="...r    FToxidBASE">...r&nbsp; &nbsp; FToxidBASE</option>
              <option class="u8278_input_option" value="...r    FTpulpBASE">...r&nbsp; &nbsp; FTpulpBASE</option>
              <option class="u8278_input_option" value="...r    FTsaltBASE">...r&nbsp; &nbsp; FTsaltBASE</option>
              <option class="u8278_input_option" value="...r    USERDATA">...r&nbsp; &nbsp; USERDATA</option>
            </select>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u8279" class="ax_default text_field">
            <div id="u8279_div" class=""></div>
            <input id="u8279_input" type="text" value="Formula" class="u8279_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u8280" class="ax_default text_field">
            <div id="u8280_div" class=""></div>
            <input id="u8280_input" type="text" value="MgCl2O2" class="u8280_input"/>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u8281" class="ax_default _形状">
            <img id="u8281_img" class="img " src="{{ url_for('static', filename='images/compound_3_1/u6907.svg') }}"/>
            <div id="u8281_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u8282" class="ax_default" data-left="63" data-top="15" data-width="463" data-height="32" layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u8283" class="ax_default _二级标题">
              <div id="u8283_div" class=""></div>
              <div id="u8283_text" class="text ">
                <p><span>ViewData</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8284" class="ax_default _二级标题">
              <div id="u8284_div" class=""></div>
              <div id="u8284_text" class="text ">
                <p><span>Units</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8285" class="ax_default _二级标题">
              <div id="u8285_div" class=""></div>
              <div id="u8285_text" class="text ">
                <p><span>Help</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8286" class="ax_default _三级标题">
              <div id="u8286_div" class=""></div>
              <div id="u8286_text" class="text ">
                <p><span>File</span></p>
              </div>
            </div>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u8287" class="ax_default _形状">
          <img id="u8287_img" class="img " src="{{ url_for('static', filename='images/compound_3_1/u6917.svg') }}"/>
          <div id="u8287_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u8288" class="ax_default _三级标题">
          <div id="u8288_div" class=""></div>
          <div id="u8288_text" class="text ">
            <p><span>View</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u8289" class="ax_default _一级标题">
          <div id="u8289_div" class=""></div>
          <div id="u8289_text" class="text ">
            <p><span>Edit</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u8290" class="ax_default _三级标题">
          <div id="u8290_div" class=""></div>
          <div id="u8290_text" class="text ">
            <p><span>Tools</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u8291" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">

        <!-- 2 (Group) -->
        <div id="u8292" class="ax_default ax_default_hidden" data-label="2" style="display:none; visibility: hidden" data-left="289" data-top="40" data-width="219" data-height="130" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u8293" class="ax_default box_2">
            <img id="u8293_img" class="img " src="{{ url_for('static', filename='images/compound_9_1/u7852.svg') }}"/>
            <div id="u8293_text" class="text ">
              <p><span>Scale Down</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u8294" class="ax_default box_2">
            <img id="u8294_img" class="img " src="{{ url_for('static', filename='images/compound_9_1/u7852.svg') }}"/>
            <div id="u8294_text" class="text ">
              <p><span>Scale Up...</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u8295" class="ax_default box_2">
            <img id="u8295_img" class="img " src="{{ url_for('static', filename='images/compound_9_1/u7852.svg') }}"/>
            <div id="u8295_text" class="text ">
              <p><span>Copy data to new Compound</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u8296" class="ax_default box_2">
            <img id="u8296_img" class="img " src="{{ url_for('static', filename='images/compound_9_1/u7852.svg') }}"/>
            <div id="u8296_text" class="text ">
              <p><span>Fuel</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u8297" class="ax_default box_2">
            <img id="u8297_img" class="img " src="{{ url_for('static', filename='images/compound_9_1/u7852.svg') }}"/>
            <div id="u8297_text" class="text ">
              <p><span>Mixer...</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
