<!DOCTYPE html>
<html>
  <head>
    <title>Compound (solid)</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/compound__solid_/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/compound__solid_/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Group) -->
      <div id="u7091" class="ax_default" data-left="0" data-top="0" data-width="873" data-height="750" layer-opacity="1">

        <!-- 内部框架 (Inline Frame) -->
        <div id="u7092" class="ax_default" data-label="内部框架">
          <iframe id="u7092_input" data-label="内部框架" src="http://127.0.0.1:5000/u7092_input"></iframe>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u7093" class="ax_default" data-left="249" data-top="93" data-width="624" data-height="595" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u7094" class="ax_default box_1">
            <div id="u7094_div" class=""></div>
            <div id="u7094_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u7095" class="ax_default" data-left="265" data-top="103" data-width="608" data-height="184" layer-opacity="1">

          <!-- Unnamed (Group) -->
          <div id="u7096" class="ax_default" data-left="340" data-top="128" data-width="533" data-height="16" layer-opacity="1">

            <!-- Unnamed (Radio Button) -->
            <div id="u7097" class="ax_default radio_button">
              <label id="u7097_input_label" for="u7097_input" style="position: absolute; left: 0px;">
                <img id="u7097_img" class="img " src="{{ url_for('static', filename='images/compound__solid_/u7097.svg') }}"/>
                <div id="u7097_text" class="text ">
                  <p><span>Heat + Temperature of transf.</span></p>
                </div>
              </label>
              <input id="u7097_input" type="radio" value="radio" name="u7097"/>
            </div>

            <!-- Unnamed (Radio Button) -->
            <div id="u7098" class="ax_default radio_button" selectiongroup="energy">
              <label id="u7098_input_label" for="u7098_input" style="position: absolute; left: 0px;">
                <img id="u7098_img" class="img " src="{{ url_for('static', filename='images/compound__solid_/u7098.svg') }}"/>
                <div id="u7098_text" class="text ">
                  <p><span>Heat of from. + Entropy</span></p>
                </div>
              </label>
              <input id="u7098_input" type="radio" value="radio" name="energy"/>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u7099" class="ax_default" data-left="265" data-top="165" data-width="518" data-height="63" layer-opacity="1">

            <!-- Unnamed (Text Field) -->
            <div id="u7100" class="ax_default text_field">
              <div id="u7100_div" class=""></div>
              <input id="u7100_input" type="text" value="△H 298(Joules)" class="u7100_input"/>
            </div>

            <!-- Unnamed (Vertical Line) -->
            <div id="u7101" class="ax_default line">
              <img id="u7101_img" class="img " src="{{ url_for('static', filename='images/compound__solid_/u7101.svg') }}"/>
              <div id="u7101_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Line) -->
            <div id="u7102" class="ax_default line">
              <img id="u7102_img" class="img " src="{{ url_for('static', filename='images/compound__solid_/u7102.svg') }}"/>
              <div id="u7102_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Line) -->
            <div id="u7103" class="ax_default line">
              <img id="u7103_img" class="img " src="{{ url_for('static', filename='images/compound__solid_/u7102.svg') }}"/>
              <div id="u7103_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Vertical Line) -->
            <div id="u7104" class="ax_default line">
              <img id="u7104_img" class="img " src="{{ url_for('static', filename='images/compound__solid_/u7104.svg') }}"/>
              <div id="u7104_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u7105" class="ax_default text_field">
            <div id="u7105_div" class=""></div>
            <input id="u7105_input" type="text" value="S298(J/(mol K))" class="u7105_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u7106" class="ax_default text_field">
            <div id="u7106_div" class=""></div>
            <input id="u7106_input" type="text" value="" class="u7106_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u7107" class="ax_default text_field">
            <div id="u7107_div" class=""></div>
            <input id="u7107_input" type="text" value="" class="u7107_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u7108" class="ax_default text_field">
            <div id="u7108_div" class=""></div>
            <input id="u7108_input" type="text" value="From. of S1" class="u7108_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u7109" class="ax_default text_field">
            <div id="u7109_div" class=""></div>
            <input id="u7109_input" type="text" value="Phase Name" class="u7109_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u7110" class="ax_default text_field">
            <div id="u7110_div" class=""></div>
            <input id="u7110_input" type="text" value="S1 properties" class="u7110_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u7111" class="ax_default text_field">
            <div id="u7111_div" class=""></div>
            <input id="u7111_input" type="text" value="" class="u7111_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u7112" class="ax_default text_field">
            <div id="u7112_div" class=""></div>
            <input id="u7112_input" type="text" value="Reference no." class="u7112_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u7113" class="ax_default text_field">
            <div id="u7113_div" class=""></div>
            <input id="u7113_input" type="text" value="Density g/cc" class="u7113_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u7114" class="ax_default text_field">
            <div id="u7114_div" class=""></div>
            <input id="u7114_input" type="text" value="" class="u7114_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u7115" class="ax_default text_field">
            <div id="u7115_div" class=""></div>
            <input id="u7115_input" type="text" value="" class="u7115_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u7116" class="ax_default text_field">
            <div id="u7116_div" class=""></div>
            <input id="u7116_input" type="text" value="" class="u7116_input"/>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u7117" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="265" data-top="314" data-width="572" data-height="274" layer-opacity="1">

          <!-- Unnamed (Group) -->
          <div id="u7118" class="ax_default" data-left="265" data-top="330" data-width="572" data-height="258" layer-opacity="1">

            <!-- Unnamed (Vertical Line) -->
            <div id="u7119" class="ax_default line">
              <img id="u7119_img" class="img " src="{{ url_for('static', filename='images/compound__solid_/u7119.svg') }}"/>
              <div id="u7119_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Line) -->
            <div id="u7120" class="ax_default line">
              <img id="u7120_img" class="img " src="{{ url_for('static', filename='images/compound__solid_/u7120.svg') }}"/>
              <div id="u7120_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Line) -->
            <div id="u7121" class="ax_default line">
              <img id="u7121_img" class="img " src="{{ url_for('static', filename='images/compound__solid_/u7120.svg') }}"/>
              <div id="u7121_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Vertical Line) -->
            <div id="u7122" class="ax_default line">
              <img id="u7122_img" class="img " src="{{ url_for('static', filename='images/compound__solid_/u7122.svg') }}"/>
              <div id="u7122_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u7123" class="ax_default text_field">
            <div id="u7123_div" class=""></div>
            <input id="u7123_input" type="text" value="Extened properties(optional)" class="u7123_input"/>
          </div>

          <!-- Unnamed (Droplist) -->
          <div id="u7124" class="ax_default droplist">
            <div id="u7124_div" class=""></div>
            <select id="u7124_input" class="u7124_input">
              <option class="u7124_input_option" value="Birch-Murnaghan">Birch-Murnaghan</option>
            </select>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u7125" class="ax_default" data-left="272" data-top="378" data-width="177" data-height="121" layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u7126" class="ax_default box_1">
              <div id="u7126_div" class=""></div>
              <div id="u7126_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7127" class="ax_default text_field">
              <div id="u7127_div" class=""></div>
              <input id="u7127_input" type="text" value="Therm.expans. (/K)" class="u7127_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7128" class="ax_default text_field">
              <div id="u7128_div" class=""></div>
              <input id="u7128_input" type="text" value="" class="u7128_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7129" class="ax_default text_field">
              <div id="u7129_div" class=""></div>
              <input id="u7129_input" type="text" value="" class="u7129_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7130" class="ax_default text_field">
              <div id="u7130_div" class=""></div>
              <input id="u7130_input" type="text" value="" class="u7130_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7131" class="ax_default text_field">
              <div id="u7131_div" class=""></div>
              <input id="u7131_input" type="text" value="" class="u7131_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7132" class="ax_default text_field">
              <div id="u7132_div" class=""></div>
              <input id="u7132_input" type="text" value="T" class="u7132_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7133" class="ax_default text_field">
              <div id="u7133_div" class=""></div>
              <input id="u7133_input" type="text" value="/T" class="u7133_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7134" class="ax_default text_field">
              <div id="u7134_div" class=""></div>
              <input id="u7134_input" type="text" value="/T^2" class="u7134_input" readonly/>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u7135" class="ax_default" data-left="449" data-top="378" data-width="199" data-height="121" layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u7136" class="ax_default box_1">
              <div id="u7136_div" class=""></div>
              <div id="u7136_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7137" class="ax_default text_field">
              <div id="u7137_div" class=""></div>
              <input id="u7137_input" type="text" value="Compressibilitry(/bar)" class="u7137_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7138" class="ax_default text_field">
              <div id="u7138_div" class=""></div>
              <input id="u7138_input" type="text" value="" class="u7138_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7139" class="ax_default text_field">
              <div id="u7139_div" class=""></div>
              <input id="u7139_input" type="text" value="" class="u7139_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7140" class="ax_default text_field">
              <div id="u7140_div" class=""></div>
              <input id="u7140_input" type="text" value="" class="u7140_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7141" class="ax_default text_field">
              <div id="u7141_div" class=""></div>
              <input id="u7141_input" type="text" value="" class="u7141_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7142" class="ax_default text_field">
              <div id="u7142_div" class=""></div>
              <input id="u7142_input" type="text" value="T" class="u7142_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7143" class="ax_default text_field">
              <div id="u7143_div" class=""></div>
              <input id="u7143_input" type="text" value="T^2" class="u7143_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7144" class="ax_default text_field">
              <div id="u7144_div" class=""></div>
              <input id="u7144_input" type="text" value="T^3" class="u7144_input" readonly/>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u7145" class="ax_default" data-left="647" data-top="378" data-width="178" data-height="80" layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u7146" class="ax_default box_1">
              <div id="u7146_div" class=""></div>
              <div id="u7146_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7147" class="ax_default text_field">
              <div id="u7147_div" class=""></div>
              <input id="u7147_input" type="text" value="Bulk mod. deriv." class="u7147_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7148" class="ax_default text_field">
              <div id="u7148_div" class=""></div>
              <input id="u7148_input" type="text" value="" class="u7148_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7149" class="ax_default text_field">
              <div id="u7149_div" class=""></div>
              <input id="u7149_input" type="text" value="" class="u7149_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u7150" class="ax_default text_field">
              <div id="u7150_div" class=""></div>
              <input id="u7150_input" type="text" value="T In(T)" class="u7150_input" readonly/>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u7151" class="ax_default box_1">
            <div id="u7151_div" class=""></div>
            <div id="u7151_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u7152" class="ax_default text_field">
            <div id="u7152_div" class=""></div>
            <input id="u7152_input" type="text" value="Maqnetic" class="u7152_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u7153" class="ax_default text_field">
            <div id="u7153_div" class=""></div>
            <input id="u7153_input" type="text" value="Moment(D)" class="u7153_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u7154" class="ax_default text_field">
            <div id="u7154_div" class=""></div>
            <input id="u7154_input" type="text" value="" class="u7154_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u7155" class="ax_default text_field">
            <div id="u7155_div" class=""></div>
            <input id="u7155_input" type="text" value="Temperature" class="u7155_input" readonly/>
          </div>

          <!-- Unnamed (Radio Button) -->
          <div id="u7156" class="ax_default radio_button" selectiongroup="energy">
            <label id="u7156_input_label" for="u7156_input" style="position: absolute; left: 0px;">
              <img id="u7156_img" class="img " src="{{ url_for('static', filename='images/compound__solid_/u7156.svg') }}"/>
              <div id="u7156_text" class="text ">
                <p><span>Curie</span></p>
              </div>
            </label>
            <input id="u7156_input" type="radio" value="radio" name="energy"/>
          </div>

          <!-- Unnamed (Radio Button) -->
          <div id="u7157" class="ax_default radio_button" selectiongroup="energy">
            <label id="u7157_input_label" for="u7157_input" style="position: absolute; left: 0px;">
              <img id="u7157_img" class="img " src="{{ url_for('static', filename='images/compound__solid_/u7157.svg') }}"/>
              <div id="u7157_text" class="text ">
                <p><span>Neel</span></p>
              </div>
            </label>
            <input id="u7157_input" type="radio" value="radio" name="energy"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u7158" class="ax_default text_field">
            <div id="u7158_div" class=""></div>
            <input id="u7158_input" type="text" value="" class="u7158_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u7159" class="ax_default text_field">
            <div id="u7159_div" class=""></div>
            <input id="u7159_input" type="text" value="K" class="u7159_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u7160" class="ax_default text_field">
            <div id="u7160_div" class=""></div>
            <input id="u7160_input" type="text" value="P factor" class="u7160_input" readonly/>
          </div>

          <!-- Unnamed (Radio Button) -->
          <div id="u7161" class="ax_default radio_button" selectiongroup="energy">
            <label id="u7161_input_label" for="u7161_input" style="position: absolute; left: 0px;">
              <img id="u7161_img" class="img " src="{{ url_for('static', filename='images/compound__solid_/u7161.svg') }}"/>
              <div id="u7161_text" class="text ">
                <p><span>0.28</span></p>
              </div>
            </label>
            <input id="u7161_input" type="radio" value="radio" name="energy"/>
          </div>

          <!-- Unnamed (Radio Button) -->
          <div id="u7162" class="ax_default radio_button" selectiongroup="energy">
            <label id="u7162_input_label" for="u7162_input" style="position: absolute; left: 0px;">
              <img id="u7162_img" class="img " src="{{ url_for('static', filename='images/compound__solid_/u7162.svg') }}"/>
              <div id="u7162_text" class="text ">
                <p><span>0.40</span></p>
              </div>
            </label>
            <input id="u7162_input" type="radio" value="radio" name="energy"/>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u7163" class="ax_default" data-left="7" data-top="0" data-width="866" data-height="736" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u7164" class="ax_default box_1">
            <div id="u7164_div" class=""></div>
            <div id="u7164_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u7165" class="ax_default box_1">
            <div id="u7165_div" class=""></div>
            <div id="u7165_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u7166" class="ax_default box_1">
            <div id="u7166_div" class=""></div>
            <div id="u7166_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u7167" class="ax_default text_field">
            <div id="u7167_div" class=""></div>
            <input id="u7167_input" type="text" value="FactSage" class="u7167_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u7168" class="ax_default text_field">
            <div id="u7168_div" class=""></div>
            <input id="u7168_input" type="text" value="C:\FACTSAGE\USERDATA\EXAMPLEBASE.CDB(v5.0) 0 compound(s) read/write" class="u7168_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u7169" class="ax_default text_field">
            <div id="u7169_div" class=""></div>
            <input id="u7169_input" type="text" value="Formula" class="u7169_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u7170" class="ax_default text_field">
            <div id="u7170_div" class=""></div>
            <input id="u7170_input" type="text" value="MgCl2" class="u7170_input"/>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u7171" class="ax_default _形状">
            <img id="u7171_img" class="img " src="{{ url_for('static', filename='images/compound__solid_/u7171.svg') }}"/>
            <div id="u7171_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u7172" class="ax_default" data-left="70" data-top="15" data-width="467" data-height="31" layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u7173" class="ax_default _段落">
              <div id="u7173_div" class=""></div>
              <div id="u7173_text" class="text ">
                <p><span>Edit</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u7174" class="ax_default _二级标题">
              <div id="u7174_div" class=""></div>
              <div id="u7174_text" class="text ">
                <p><span>ViewData</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u7175" class="ax_default _二级标题">
              <div id="u7175_div" class=""></div>
              <div id="u7175_text" class="text ">
                <p><span>Units</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u7176" class="ax_default _二级标题">
              <div id="u7176_div" class=""></div>
              <div id="u7176_text" class="text ">
                <p><span>Tools</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u7177" class="ax_default _二级标题">
              <div id="u7177_div" class=""></div>
              <div id="u7177_text" class="text ">
                <p><span>Help</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u7178" class="ax_default _三级标题">
              <div id="u7178_div" class=""></div>
              <div id="u7178_text" class="text ">
                <p><span>File</span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u7179" class="ax_default text_field">
            <div id="u7179_div" class=""></div>
            <input id="u7179_input" type="text" value="Modified" class="u7179_input" readonly/>
          </div>

          <!-- Unnamed (List Box) -->
          <div id="u7180" class="ax_default list_box">
            <div id="u7180_div" class=""></div>
            <select id="u7180_input" size="2" class="u7180_input">
              <option class="u7180_input_option" value="...r    BINSBASE">...r&nbsp; &nbsp; BINSBASE</option>
              <option class="u7180_input_option" value="...r    ELEMBASE  ">...r&nbsp; &nbsp; ELEMBASE&nbsp; </option>
              <option class="u7180_input_option" value="...r/w    EXAMBASE">...r/w&nbsp; &nbsp; EXAMBASE</option>
              <option class="u7180_input_option" value="     ...      MgCl2">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; MgCl2</option>
              <option class="u7180_input_option" value="            ...     S1">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ...&nbsp; &nbsp;&nbsp; S1</option>
              <option class="u7180_input_option" value="               ... Cp 6000">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Cp 6000</option>
              <option class="u7180_input_option" value="...r    FACT53BASE  ">...r&nbsp; &nbsp; FACT53BASE&nbsp; </option>
              <option class="u7180_input_option" value="...r    FACTBASE">...r&nbsp; &nbsp; FACTBASE</option>
              <option class="u7180_input_option" value="...r    FScoppBASE">...r&nbsp; &nbsp; FScoppBASE</option>
              <option class="u7180_input_option" value="...r    FSleadBASE">...r&nbsp; &nbsp; FSleadBASE</option>
              <option class="u7180_input_option" value="...r    FSliteBASE">...r&nbsp; &nbsp; FSliteBASE</option>
              <option class="u7180_input_option" value="...r    FSnoblBASE">...r&nbsp; &nbsp; FSnoblBASE</option>
              <option class="u7180_input_option" value="...r    FSstelBASE">...r&nbsp; &nbsp; FSstelBASE</option>
              <option class="u7180_input_option" value="...r    FSupsiBASE">...r&nbsp; &nbsp; FSupsiBASE</option>
              <option class="u7180_input_option" value="...r    FThallBASE">...r&nbsp; &nbsp; FThallBASE</option>
              <option class="u7180_input_option" value="...r    FThelgBASE">...r&nbsp; &nbsp; FThelgBASE</option>
              <option class="u7180_input_option" value="...r/w    FTliBASE">...r/w&nbsp; &nbsp; FTliBASE</option>
              <option class="u7180_input_option" value="...r    FTliteBASE">...r&nbsp; &nbsp; FTliteBASE</option>
              <option class="u7180_input_option" value="...r    FTmiscBASE">...r&nbsp; &nbsp; FTmiscBASE</option>
              <option class="u7180_input_option" value="...r    FToxidBASE">...r&nbsp; &nbsp; FToxidBASE</option>
              <option class="u7180_input_option" value="...r    FTpulpBASE">...r&nbsp; &nbsp; FTpulpBASE</option>
              <option class="u7180_input_option" value="...r    FTsaltBASE">...r&nbsp; &nbsp; FTsaltBASE</option>
              <option class="u7180_input_option" value="...r    USERDATA">...r&nbsp; &nbsp; USERDATA</option>
            </select>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u7181" class="ax_default _形状">
          <img id="u7181_img" class="img " src="{{ url_for('static', filename='images/compound__solid_/u7181.svg') }}"/>
          <div id="u7181_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Hot Spot) -->
        <div id="u7182" class="ax_default">
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u7183" class="ax_default _三级标题">
          <div id="u7183_div" class=""></div>
          <div id="u7183_text" class="text ">
            <p><span>View</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u7184" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">

        <!-- 1 (Group) -->
        <div id="u7185" class="ax_default ax_default_hidden" data-label="1" style="display:none; visibility: hidden" data-left="220" data-top="40" data-width="146" data-height="130" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u7186" class="ax_default box_2">
            <img id="u7186_img" class="img " src="{{ url_for('static', filename='images/compound__solid_/u7186.svg') }}"/>
            <div id="u7186_text" class="text ">
              <p><span>Extened properties</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u7187" class="ax_default box_2">
            <img id="u7187_img" class="img " src="{{ url_for('static', filename='images/compound__solid_/u7186.svg') }}"/>
            <div id="u7187_text" class="text ">
              <p><span>Real stoichiometry</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u7188" class="ax_default box_2">
            <img id="u7188_img" class="img " src="{{ url_for('static', filename='images/compound__solid_/u7186.svg') }}"/>
            <div id="u7188_text" class="text ">
              <p><span>List of products</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u7189" class="ax_default box_2">
            <img id="u7189_img" class="img " src="{{ url_for('static', filename='images/compound__solid_/u7186.svg') }}"/>
            <div id="u7189_text" class="text ">
              <p><span>Entire EXAMBASE</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u7190" class="ax_default box_2">
            <img id="u7190_img" class="img " src="{{ url_for('static', filename='images/compound__solid_/u7186.svg') }}"/>
            <div id="u7190_text" class="text ">
              <p><span>Plan text</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
