<!DOCTYPE html>
<html>
  <head>
    <title>Compound 14.5</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/compound_14_5/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/compound_14_5/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- 内部框架 (Inline Frame) -->
      <div id="u5928" class="ax_default" data-label="内部框架">
        <iframe id="u5928_input" data-label="内部框架" src="http://127.0.0.1:5000/u5928_input"></iframe>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u5929" class="ax_default" data-left="248" data-top="95" data-width="625" data-height="606" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u5930" class="ax_default box_1">
          <div id="u5930_div" class=""></div>
          <div id="u5930_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u5931" class="ax_default text_field">
          <div id="u5931_div" class=""></div>
          <input id="u5931_input" type="text" value="Weight : 95.2104 g/mol " class="u5931_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u5932" class="ax_default text_field">
          <div id="u5932_div" class=""></div>
          <input id="u5932_input" type="text" value="Compound Name" class="u5932_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u5933" class="ax_default text_field">
          <div id="u5933_div" class=""></div>
          <input id="u5933_input" type="text" value="Modified: 2005 May 13" class="u5933_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u5934" class="ax_default text_field">
          <div id="u5934_div" class=""></div>
          <input id="u5934_input" type="text" value="" class="u5934_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u5935" class="ax_default text_field">
          <div id="u5935_div" class=""></div>
          <input id="u5935_input" type="text" value="Reference no." class="u5935_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u5936" class="ax_default text_field">
          <div id="u5936_div" class=""></div>
          <input id="u5936_input" type="text" value="" class="u5936_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u5937" class="ax_default text_field">
          <div id="u5937_div" class=""></div>
          <input id="u5937_input" type="text" value="" class="u5937_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u5938" class="ax_default text_field">
          <div id="u5938_div" class=""></div>
          <input id="u5938_input" type="text" value="Comments" class="u5938_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u5939" class="ax_default text_field">
          <div id="u5939_div" class=""></div>
          <input id="u5939_input" type="text" value="" class="u5939_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u5940" class="ax_default text_field">
          <div id="u5940_div" class=""></div>
          <input id="u5940_input" type="text" value="MgCl2 properties" class="u5940_input" readonly/>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u5941" class="ax_default" data-left="262" data-top="343" data-width="571" data-height="88" layer-opacity="1">

          <!-- Unnamed (Text Field) -->
          <div id="u5942" class="ax_default text_field">
            <div id="u5942_div" class=""></div>
            <input id="u5942_input" type="text" value="1" class="u5942_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u5943" class="ax_default text_field">
            <div id="u5943_div" class=""></div>
            <input id="u5943_input" type="text" value="Mg" class="u5943_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u5944" class="ax_default text_field">
            <div id="u5944_div" class=""></div>
            <input id="u5944_input" type="text" value="2" class="u5944_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u5945" class="ax_default text_field">
            <div id="u5945_div" class=""></div>
            <input id="u5945_input" type="text" value="Cl" class="u5945_input" readonly/>
          </div>

          <!-- Unnamed (Line) -->
          <div id="u5946" class="ax_default line">
            <img id="u5946_img" class="img " src="{{ url_for('static', filename='images/compound_14_5/u5946.svg') }}"/>
            <div id="u5946_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Line) -->
          <div id="u5947" class="ax_default line">
            <img id="u5947_img" class="img " src="{{ url_for('static', filename='images/compound_14_5/u5946.svg') }}"/>
            <div id="u5947_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Vertical Line) -->
          <div id="u5948" class="ax_default line">
            <img id="u5948_img" class="img " src="{{ url_for('static', filename='images/compound_14_5/u5948.svg') }}"/>
            <div id="u5948_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u5949" class="ax_default text_field">
            <div id="u5949_div" class=""></div>
            <input id="u5949_input" type="text" value="Real Stoichiometry(for advances users only)" class="u5949_input" readonly/>
          </div>

          <!-- Unnamed (Vertical Line) -->
          <div id="u5950" class="ax_default line">
            <img id="u5950_img" class="img " src="{{ url_for('static', filename='images/compound_14_5/u5948.svg') }}"/>
            <div id="u5950_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u5951" class="ax_default image">
        <img id="u5951_img" class="img " src="{{ url_for('static', filename='images/compound_14_5/u5951.png') }}"/>
        <div id="u5951_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u5952" class="ax_default" data-left="0" data-top="0" data-width="873" data-height="750" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u5953" class="ax_default box_1">
          <div id="u5953_div" class=""></div>
          <div id="u5953_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u5954" class="ax_default box_1">
          <div id="u5954_div" class=""></div>
          <div id="u5954_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u5955" class="ax_default box_1">
          <div id="u5955_div" class=""></div>
          <div id="u5955_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u5956" class="ax_default text_field">
          <div id="u5956_div" class=""></div>
          <input id="u5956_input" type="text" value="FactSage" class="u5956_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u5957" class="ax_default text_field">
          <div id="u5957_div" class=""></div>
          <input id="u5957_input" type="text" value="C:\FACTSAGE\USERDATA\EXAMPLEBASE.CDB(v5.0) 1 compound(s) read/write" class="u5957_input" readonly/>
        </div>

        <!-- Unnamed (List Box) -->
        <div id="u5958" class="ax_default list_box">
          <div id="u5958_div" class=""></div>
          <select id="u5958_input" size="2" class="u5958_input">
            <option class="u5958_input_option" value="...r    BINSBASE">...r&nbsp; &nbsp; BINSBASE</option>
            <option class="u5958_input_option" value="...r    ELEMBASE  ">...r&nbsp; &nbsp; ELEMBASE&nbsp; </option>
            <option class="u5958_input_option" value="...r/w    EXAMBASE">...r/w&nbsp; &nbsp; EXAMBASE</option>
            <option class="u5958_input_option" value="     ...      MgCl2">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp; MgCl2</option>
            <option class="u5958_input_option" value="...r    FACT53BASE  ">...r&nbsp; &nbsp; FACT53BASE&nbsp; </option>
            <option class="u5958_input_option" value="...r    FACTBASE">...r&nbsp; &nbsp; FACTBASE</option>
            <option class="u5958_input_option" value="...r    FScoppBASE">...r&nbsp; &nbsp; FScoppBASE</option>
            <option class="u5958_input_option" value="...r    FSleadBASE">...r&nbsp; &nbsp; FSleadBASE</option>
            <option class="u5958_input_option" value="...r    FSliteBASE">...r&nbsp; &nbsp; FSliteBASE</option>
            <option class="u5958_input_option" value="...r    FSnoblBASE">...r&nbsp; &nbsp; FSnoblBASE</option>
            <option class="u5958_input_option" value="...r    FSstelBASE">...r&nbsp; &nbsp; FSstelBASE</option>
            <option class="u5958_input_option" value="...r    FSupsiBASE">...r&nbsp; &nbsp; FSupsiBASE</option>
            <option class="u5958_input_option" value="...r    FThallBASE">...r&nbsp; &nbsp; FThallBASE</option>
            <option class="u5958_input_option" value="...r    FThelgBASE">...r&nbsp; &nbsp; FThelgBASE</option>
            <option class="u5958_input_option" value="...r/w    FTliBASE">...r/w&nbsp; &nbsp; FTliBASE</option>
            <option class="u5958_input_option" value="...r    FTliteBASE">...r&nbsp; &nbsp; FTliteBASE</option>
            <option class="u5958_input_option" value="...r    FTmiscBASE">...r&nbsp; &nbsp; FTmiscBASE</option>
            <option class="u5958_input_option" value="...r    FToxidBASE">...r&nbsp; &nbsp; FToxidBASE</option>
            <option class="u5958_input_option" value="...r    FTpulpBASE">...r&nbsp; &nbsp; FTpulpBASE</option>
            <option class="u5958_input_option" value="...r    FTsaltBASE">...r&nbsp; &nbsp; FTsaltBASE</option>
            <option class="u5958_input_option" value="...r    USERDATA">...r&nbsp; &nbsp; USERDATA</option>
          </select>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u5959" class="ax_default text_field">
          <div id="u5959_div" class=""></div>
          <input id="u5959_input" type="text" value="Formula" class="u5959_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u5960" class="ax_default text_field">
          <div id="u5960_div" class=""></div>
          <input id="u5960_input" type="text" value="MgCl2" class="u5960_input"/>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u5961" class="ax_default _形状">
          <img id="u5961_img" class="img " src="{{ url_for('static', filename='images/compound_14_5/u5961.svg') }}"/>
          <div id="u5961_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u5962" class="ax_default" data-left="63" data-top="15" data-width="467" data-height="32" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u5963" class="ax_default _段落">
            <div id="u5963_div" class=""></div>
            <div id="u5963_text" class="text ">
              <p><span>Edit</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u5964" class="ax_default _二级标题">
            <div id="u5964_div" class=""></div>
            <div id="u5964_text" class="text ">
              <p><span>ViewData</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u5965" class="ax_default _二级标题">
            <div id="u5965_div" class=""></div>
            <div id="u5965_text" class="text ">
              <p><span>Units</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u5966" class="ax_default _二级标题">
            <div id="u5966_div" class=""></div>
            <div id="u5966_text" class="text ">
              <p><span>Help</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u5967" class="ax_default _三级标题">
            <div id="u5967_div" class=""></div>
            <div id="u5967_text" class="text ">
              <p><span>File</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u5968" class="ax_default _形状">
        <img id="u5968_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1722.svg') }}"/>
        <div id="u5968_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u5969" class="ax_default _三级标题">
        <div id="u5969_div" class=""></div>
        <div id="u5969_text" class="text ">
          <p><span>View</span></p>
        </div>
      </div>

      <!-- 模块管理 (Dynamic Panel) -->
      <div id="u5970" class="ax_default" data-label="模块管理">
        <div id="u5970_state0" class="panel_state" data-label="菜单收起" style="">
          <div id="u5970_state0_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u5971" class="ax_default _三级标题">
              <div id="u5971_div" class=""></div>
              <div id="u5971_text" class="text ">
                <p><span>Tools</span></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u5970_state1" class="panel_state" data-label="菜单下拉" style="visibility: hidden;">
          <div id="u5970_state1_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u5972" class="ax_default _三级标题">
              <div id="u5972_div" class=""></div>
              <div id="u5972_text" class="text ">
                <p><span>Tools</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u5973" class="ax_default _段落">
              <img id="u5973_img" class="img " src="{{ url_for('static', filename='images/compound_14_5/u5973.svg') }}"/>
              <div id="u5973_text" class="text ">
                <p><span>Scale Down</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u5974" class="ax_default _段落">
              <div id="u5974_div" class=""></div>
              <div id="u5974_text" class="text ">
                <p><span>Scale Up...</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u5975" class="ax_default _段落">
              <div id="u5975_div" class=""></div>
              <div id="u5975_text" class="text ">
                <p><span>Copy data to new Compound</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u5976" class="ax_default _段落">
              <div id="u5976_div" class=""></div>
              <div id="u5976_text" class="text ">
                <p><span>Fuel</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u5977" class="ax_default _段落">
              <div id="u5977_div" class=""></div>
              <div id="u5977_text" class="text ">
                <p><span>Mixer...</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u5978" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="327" data-top="408" data-width="389" data-height="218" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u5979" class="ax_default box_1">
          <div id="u5979_div" class=""></div>
          <div id="u5979_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u5980" class="ax_default box_1">
          <div id="u5980_div" class=""></div>
          <div id="u5980_text" class="text ">
            <p><span>Copy compound data</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u5981" class="ax_default box_1">
          <div id="u5981_div" class=""></div>
          <div id="u5981_text" class="text ">
            <p><span>Compound which will get MgCl2 data</span></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u5982" class="ax_default text_field">
          <div id="u5982_div" class=""></div>
          <input id="u5982_input" type="text" value="CaCl2" class="u5982_input"/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u5983" class="ax_default box_1">
          <div id="u5983_div" class=""></div>
          <div id="u5983_text" class="text ">
            <p><span>OK</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u5984" class="ax_default box_1">
          <div id="u5984_div" class=""></div>
          <div id="u5984_text" class="text ">
            <p><span>Cancel</span></p>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
