<!DOCTYPE html>
<html>
<head>
    <title>Compound 14.4(示例二)</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/compound_14_4_____/styles.css') }}" type="text/css"
          rel="stylesheet"/>

    <script>
        document.oncontextmenu = function (event) {
            event = event || window.event;
            var targetElement = event.target || event.srcElement;
            if (!targetElement) return true;

            if (targetElement.tagName) {
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||
                    targetElement.tagName.toLowerCase() === "textarea") {
                    return true;
                }
            }
            return false;
        }
    </script>
    <script src
                    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/compound_14_4_____/data.js') }}"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () {
            return 'resources/images/transparent.gif';
        };
        $axure.utils.getOtherPath = function () {
            return 'resources/Other.html';
        };
        $axure.utils.getReloadPath = function () {
            return 'resources/reload.html';
        };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- 内部框架 (Inline Frame) -->
    <div id="u6260" class="ax_default" data-label="内部框架">
        <iframe id="u6260_input" data-label="内部框架" allowfullscreen ></iframe>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u6261" class="ax_default" data-left="249" data-top="95" data-width="625" data-height="606"
         layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u6262" class="ax_default box_1">
            <div id="u6262_div" class=""></div>
            <div id="u6262_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u6263" class="ax_default image">
        <img id="u6263_img" class="img " src="{{ url_for('static', filename='images/compound_14_5/u6226.png') }}"/>
        <div id="u6263_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u6264" class="ax_default" data-left="265" data-top="105" data-width="608" data-height="188"
         layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u6265" class="ax_default" data-left="340" data-top="130" data-width="533" data-height="16"
             layer-opacity="1">

            <!-- Unnamed (Radio Button) -->
            <div id="u6266" class="ax_default radio_button">
                <label id="u6266_input_label" for="u6266_input" style="position: absolute; left: 0px;">
                    <img id="u6266_img" class="img "
                         src="{{ url_for('static', filename='images/compound_14_4_____/u6266.svg') }}"/>
                    <div id="u6266_text" class="text ">
                        <p><span>Heat + Temperature of transf.</span></p>
                    </div>
                </label>
                <input id="u6266_input" type="radio" value="radio" name="u6266"/>
            </div>

            <!-- Unnamed (Radio Button) -->
            <div id="u6267" class="ax_default radio_button" selectiongroup="energy">
                <label id="u6267_input_label" for="u6267_input" style="position: absolute; left: 0px;">
                    <img id="u6267_img" class="img "
                         src="{{ url_for('static', filename='images/compound_14_4_____/u6267.svg') }}"/>
                    <div id="u6267_text" class="text ">
                        <p><span>Heat of from. + Entropy</span></p>
                    </div>
                </label>
                <input id="u6267_input" type="radio" value="radio" name="energy"/>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u6268" class="ax_default" data-left="265" data-top="168" data-width="518" data-height="64"
             layer-opacity="1">

            <!-- Unnamed (Text Field) -->
            <div id="u6269" class="ax_default text_field">
                <div id="u6269_div" class=""></div>
                <input id="u6269_input" type="text" value="△H 298(Joules)" class="u6269_input"/>
            </div>

            <!-- Unnamed (Vertical Line) -->
            <div id="u6270" class="ax_default line">
                <img id="u6270_img" class="img "
                     src="{{ url_for('static', filename='images/compound_14_4_____/u6270.svg') }}"/>
                <div id="u6270_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Line) -->
            <div id="u6271" class="ax_default line">
                <img id="u6271_img" class="img "
                     src="{{ url_for('static', filename='images/compound_14_4_____/u6271.svg') }}"/>
                <div id="u6271_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Line) -->
            <div id="u6272" class="ax_default line">
                <img id="u6272_img" class="img "
                     src="{{ url_for('static', filename='images/compound_14_4_____/u6271.svg') }}"/>
                <div id="u6272_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Vertical Line) -->
            <div id="u6273" class="ax_default line">
                <img id="u6273_img" class="img "
                     src="{{ url_for('static', filename='images/compound_14_4_____/u6273.svg') }}"/>
                <div id="u6273_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6274" class="ax_default text_field">
            <div id="u6274_div" class=""></div>
            <input id="u6274_input" type="text" value="S298(J/(mol K))" class="u6274_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6275" class="ax_default text_field">
            <div id="u6275_div" class=""></div>
            <input id="u6275_input" type="text" value="" class="u6275_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6276" class="ax_default text_field">
            <div id="u6276_div" class=""></div>
            <input id="u6276_input" type="text" value="" class="u6276_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6277" class="ax_default text_field">
            <div id="u6277_div" class=""></div>
            <input id="u6277_input" type="text" value="From. of S1" class="u6277_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6278" class="ax_default text_field">
            <div id="u6278_div" class=""></div>
            <input id="u6278_input" type="text" value="Phase Name" class="u6278_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6279" class="ax_default text_field">
            <div id="u6279_div" class=""></div>
            <input id="u6279_input" type="text" value="S1 properties" class="u6279_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6280" class="ax_default text_field">
            <div id="u6280_div" class=""></div>
            <input id="u6280_input" type="text" value="" class="u6280_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6281" class="ax_default text_field">
            <div id="u6281_div" class=""></div>
            <input id="u6281_input" type="text" value="Reference no." class="u6281_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6282" class="ax_default text_field">
            <div id="u6282_div" class=""></div>
            <input id="u6282_input" type="text" value="Density g/cc" class="u6282_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6283" class="ax_default text_field">
            <div id="u6283_div" class=""></div>
            <input id="u6283_input" type="text" value="" class="u6283_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6284" class="ax_default text_field">
            <div id="u6284_div" class=""></div>
            <input id="u6284_input" type="text" value="" class="u6284_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6285" class="ax_default text_field">
            <div id="u6285_div" class=""></div>
            <input id="u6285_input" type="text" value="" class="u6285_input"/>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u6286" class="ax_default" data-left="0" data-top="0" data-width="873" data-height="750" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u6287" class="ax_default box_1">
            <div id="u6287_div" class=""></div>
            <div id="u6287_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6288" class="ax_default box_1">
            <div id="u6288_div" class=""></div>
            <div id="u6288_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6289" class="ax_default box_1">
            <div id="u6289_div" class=""></div>
            <div id="u6289_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6290" class="ax_default text_field">
            <div id="u6290_div" class=""></div>
            <input id="u6290_input" type="text" value="FactSage" class="u6290_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6291" class="ax_default text_field">
            <div id="u6291_div" class=""></div>
            <input id="u6291_input" type="text"
                   value="C:\FACTSAGE\USERDATA\EXAMPLEBASE.CDB(v5.0) 0 compound(s) read/write" class="u6291_input"
                   readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6292" class="ax_default text_field">
            <div id="u6292_div" class=""></div>
            <input id="u6292_input" type="text" value="Formula" class="u6292_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6293" class="ax_default text_field">
            <div id="u6293_div" class=""></div>
            <input id="u6293_input" type="text" value="Li3N" class="u6293_input"/>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u6294" class="ax_default _形状">
            <img id="u6294_img" class="img " src="{{ url_for('static', filename='images/compound_14_5/u6236.svg') }}"/>
            <div id="u6294_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u6295" class="ax_default" data-left="63" data-top="15" data-width="467" data-height="32"
             layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u6296" class="ax_default _段落">
                <div id="u6296_div" class=""></div>
                <div id="u6296_text" class="text ">
                    <p><span>Edit</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6297" class="ax_default _二级标题">
                <div id="u6297_div" class=""></div>
                <div id="u6297_text" class="text ">
                    <p><span>ViewData</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6298" class="ax_default _二级标题">
                <div id="u6298_div" class=""></div>
                <div id="u6298_text" class="text ">
                    <p><span>Units</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6299" class="ax_default _二级标题">
                <div id="u6299_div" class=""></div>
                <div id="u6299_text" class="text ">
                    <p><span>Help</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6300" class="ax_default _三级标题">
                <div id="u6300_div" class=""></div>
                <div id="u6300_text" class="text ">
                    <p><span>File</span></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6301" class="ax_default text_field">
            <div id="u6301_div" class=""></div>
            <input id="u6301_input" type="text" value="Modified" class="u6301_input" readonly/>
        </div>

        <!-- Unnamed (List Box) -->
        <div id="u6302" class="ax_default list_box">
            <div id="u6302_div" class=""></div>
            <select id="u6302_input" size="2" class="u6302_input">
                <option class="u6302_input_option" value="...r    BINSBASE">...r&nbsp; &nbsp; BINSBASE</option>
                <option class="u6302_input_option" value="...r    ELEMBASE  ">...r&nbsp; &nbsp; ELEMBASE&nbsp;</option>
                <option class="u6302_input_option" value="...r/w    EXAMBASE">...r/w&nbsp; &nbsp; EXAMBASE</option>
                <option class="u6302_input_option" value="...r    FACT53BASE  ">...r&nbsp; &nbsp; FACT53BASE&nbsp;
                </option>
                <option class="u6302_input_option" value="...r    FACTBASE">...r&nbsp; &nbsp; FACTBASE</option>
                <option class="u6302_input_option" value="     ...      Li">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp;
                    Li
                </option>
                <option class="u6302_input_option" value="            ...     S1">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp;&nbsp; ...&nbsp; &nbsp;&nbsp; S1
                </option>
                <option class="u6302_input_option" value="            ...     L2">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp;&nbsp; ...&nbsp; &nbsp;&nbsp; L2
                </option>
                <option class="u6302_input_option" value="            ...     G1">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp;&nbsp; ...&nbsp; &nbsp;&nbsp; G1
                </option>
                <option class="u6302_input_option" value="     ...      Li3N">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp;
                    &nbsp; Li3N
                </option>
                <option class="u6302_input_option" value="            ...     S1">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp;&nbsp; ...&nbsp; &nbsp;&nbsp; S1
                </option>
                <option class="u6302_input_option" value="     ...      Na">&nbsp;&nbsp; &nbsp; ...&nbsp; &nbsp; &nbsp;
                    Na
                </option>
                <option class="u6302_input_option" value="            ...     S1">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp;&nbsp; ...&nbsp; &nbsp;&nbsp; S1
                </option>
                <option class="u6302_input_option" value="            ...     L1">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp;&nbsp; ...&nbsp; &nbsp;&nbsp; L1
                </option>
                <option class="u6302_input_option" value="            ...     G1">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp;&nbsp; ...&nbsp; &nbsp;&nbsp; G1
                </option>
                <option class="u6302_input_option" value="...r    FScoppBASE">...r&nbsp; &nbsp; FScoppBASE</option>
                <option class="u6302_input_option" value="...r    FSleadBASE">...r&nbsp; &nbsp; FSleadBASE</option>
                <option class="u6302_input_option" value="...r    FSliteBASE">...r&nbsp; &nbsp; FSliteBASE</option>
                <option class="u6302_input_option" value="...r    FSnoblBASE">...r&nbsp; &nbsp; FSnoblBASE</option>
                <option class="u6302_input_option" value="...r    FSstelBASE">...r&nbsp; &nbsp; FSstelBASE</option>
                <option class="u6302_input_option" value="...r    FSupsiBASE">...r&nbsp; &nbsp; FSupsiBASE</option>
                <option class="u6302_input_option" value="...r    FThallBASE">...r&nbsp; &nbsp; FThallBASE</option>
                <option class="u6302_input_option" value="...r    FThelgBASE">...r&nbsp; &nbsp; FThelgBASE</option>
                <option class="u6302_input_option" value="...r/w    FTliBASE">...r/w&nbsp; &nbsp; FTliBASE</option>
                <option class="u6302_input_option" value="...r    FTliteBASE">...r&nbsp; &nbsp; FTliteBASE</option>
                <option class="u6302_input_option" value="...r    FTmiscBASE">...r&nbsp; &nbsp; FTmiscBASE</option>
                <option class="u6302_input_option" value="...r    FToxidBASE">...r&nbsp; &nbsp; FToxidBASE</option>
                <option class="u6302_input_option" value="...r    FTpulpBASE">...r&nbsp; &nbsp; FTpulpBASE</option>
                <option class="u6302_input_option" value="...r    FTsaltBASE">...r&nbsp; &nbsp; FTsaltBASE</option>
                <option class="u6302_input_option" value="...r    USERDATA">...r&nbsp; &nbsp; USERDATA</option>
            </select>
        </div>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u6303" class="ax_default _形状">
        <img id="u6303_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1722.svg') }}"/>
        <div id="u6303_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u6304" class="ax_default _三级标题">
        <div id="u6304_div" class=""></div>
        <div id="u6304_text" class="text ">
            <p><span>View</span></p>
        </div>
    </div>

    <!-- 模块管理 (Dynamic Panel) -->
    <div id="u6305" class="ax_default" data-label="模块管理">
        <div id="u6305_state0" class="panel_state" data-label="菜单收起" style="">
            <div id="u6305_state0_content" class="panel_state_content">

                <!-- Unnamed (Rectangle) -->
                <div id="u6306" class="ax_default _三级标题">
                    <div id="u6306_div" class=""></div>
                    <div id="u6306_text" class="text ">
                        <p><span>Tools</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="u6305_state1" class="panel_state" data-label="菜单下拉" style="visibility: hidden;">
            <div id="u6305_state1_content" class="panel_state_content">

                <!-- Unnamed (Rectangle) -->
                <div id="u6307" class="ax_default _三级标题">
                    <div id="u6307_div" class=""></div>
                    <div id="u6307_text" class="text ">
                        <p><span>Tools</span></p>
                    </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u6308" class="ax_default _段落">
                    <img id="u6308_img" class="img "
                         src="{{ url_for('static', filename='images/compound_14_5/u6248.svg') }}"/>
                    <div id="u6308_text" class="text ">
                        <p><span>Scale Down</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u6309" class="ax_default _段落">
                    <div id="u6309_div" class=""></div>
                    <div id="u6309_text" class="text ">
                        <p><span>Scale Up...</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u6310" class="ax_default _段落">
                    <div id="u6310_div" class=""></div>
                    <div id="u6310_text" class="text ">
                        <p><span>Copy data to new Compound</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u6311" class="ax_default _段落">
                    <div id="u6311_div" class=""></div>
                    <div id="u6311_text" class="text ">
                        <p><span>Fuel</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u6312" class="ax_default _段落">
                    <div id="u6312_div" class=""></div>
                    <div id="u6312_text" class="text ">
                        <p><span>Mixer...</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u6313" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="300"
         data-top="331" data-width="483" data-height="295" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u6314" class="ax_default _形状">
            <div id="u6314_div" class=""></div>
            <div id="u6314_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u6315" class="ax_default _形状">
            <img id="u6315_img" class="img "
                 src="{{ url_for('static', filename='images/compound_14_4_____/u6315.svg') }}"/>
            <div id="u6315_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6316" class="ax_default box_1">
            <div id="u6316_div" class=""></div>
            <div id="u6316_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6317" class="ax_default _段落">
            <div id="u6317_div" class=""></div>
            <div id="u6317_text" class="text ">
                <p><span>Compound Mixer</span></p>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u6318" class="ax_default _形状">
            <img id="u6318_img" class="img "
                 src="{{ url_for('static', filename='images/compound_14_4_____/u6318.svg') }}"/>
            <div id="u6318_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6319" class="ax_default box_1">
            <div id="u6319_div" class=""></div>
            <div id="u6319_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6320" class="ax_default box_1">
            <div id="u6320_div" class=""></div>
            <div id="u6320_text" class="text ">
                <p><span>Reactants</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6321" class="ax_default box_1">
            <div id="u6321_div" class=""></div>
            <div id="u6321_text" class="text ">
                <p><span>Phase</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6322" class="ax_default box_1">
            <div id="u6322_div" class=""></div>
            <div id="u6322_text" class="text ">
                <p><span>Database</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6323" class="ax_default box_1">
            <div id="u6323_div" class=""></div>
            <div id="u6323_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u6324" class="ax_default _形状">
            <img id="u6324_img" class="img "
                 src="{{ url_for('static', filename='images/compound_14_4_____/u6324.svg') }}"/>
            <div id="u6324_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u6325" class="ax_default image">
            <img id="u6325_img" class="img "
                 src="{{ url_for('static', filename='images/compound_14_4_____/u6325.png') }}"/>
            <div id="u6325_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6326" class="ax_default box_1">
            <div id="u6326_div" class=""></div>
            <div id="u6326_text" class="text ">
                <p><span>Product</span></p>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u6327" class="ax_default box_1">
            <img id="u6327_img" class="img "
                 src="{{ url_for('static', filename='images/compound_14_4_____/u6327.svg') }}"/>
            <div id="u6327_text" class="text ">
                <p><span>State</span></p>
            </div>
        </div>

        <!-- Unnamed (Droplist) -->
        <div id="u6328" class="ax_default droplist">
            <div id="u6328_div" class=""></div>
            <select id="u6328_input" class="u6328_input">
                <option class="u6328_input_option" value="Solid">Solid</option>
            </select>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u6329" class="ax_default image">
            <img id="u6329_img" class="img "
                 src="{{ url_for('static', filename='images/compound_14_4_____/u6329.png') }}"/>
            <div id="u6329_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u6330" class="ax_default" data-left="321" data-top="469" data-width="24" data-height="25"
             layer-opacity="1">

            <!-- Unnamed (Shape) -->
            <div id="u6331" class="ax_default _形状">
                <img id="u6331_img" class="img "
                     src="{{ url_for('static', filename='images/compound_14_4_____/u6331.svg') }}"/>
                <div id="u6331_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u6332" class="ax_default _形状">
                <img id="u6332_img" class="img "
                     src="{{ url_for('static', filename='images/compound_14_4_____/u6332.svg') }}"/>
                <div id="u6332_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u6333" class="ax_default _形状">
                <img id="u6333_img" class="img "
                     src="{{ url_for('static', filename='images/compound_14_4_____/u6333.svg') }}"/>
                <div id="u6333_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u6334" class="ax_default _形状">
                <img id="u6334_img" class="img "
                     src="{{ url_for('static', filename='images/compound_14_4_____/u6334.svg') }}"/>
                <div id="u6334_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u6335" class="ax_default _形状">
                <img id="u6335_img" class="img "
                     src="{{ url_for('static', filename='images/compound_14_4_____/u6335.svg') }}"/>
                <div id="u6335_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u6336" class="ax_default _形状">
                <img id="u6336_img" class="img "
                     src="{{ url_for('static', filename='images/compound_14_4_____/u6336.svg') }}"/>
                <div id="u6336_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u6337" class="ax_default _形状">
                <img id="u6337_img" class="img "
                     src="{{ url_for('static', filename='images/compound_14_4_____/u6337.svg') }}"/>
                <div id="u6337_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u6338" class="ax_default _形状">
                <img id="u6338_img" class="img "
                     src="{{ url_for('static', filename='images/compound_14_4_____/u6338.svg') }}"/>
                <div id="u6338_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u6339" class="ax_default _形状">
                <img id="u6339_img" class="img "
                     src="{{ url_for('static', filename='images/compound_14_4_____/u6339.svg') }}"/>
                <div id="u6339_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u6340" class="ax_default _形状">
                <img id="u6340_img" class="img "
                     src="{{ url_for('static', filename='images/compound_14_4_____/u6340.svg') }}"/>
                <div id="u6340_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u6341" class="ax_default _形状">
                <img id="u6341_img" class="img "
                     src="{{ url_for('static', filename='images/compound_14_4_____/u6341.svg') }}"/>
                <div id="u6341_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u6342" class="ax_default _形状">
                <img id="u6342_img" class="img "
                     src="{{ url_for('static', filename='images/compound_14_4_____/u6342.svg') }}"/>
                <div id="u6342_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u6343" class="ax_default">
            <div id="u6343_state0" class="panel_state" data-label="State 1" style="">
                <div id="u6343_state0_content" class="panel_state_content">

                    <!-- Unnamed (Text Field) -->
                    <div id="u6344" class="ax_default text_field">
                        <div id="u6344_div" class=""></div>
                        <input id="u6344_input" type="text" value="" class="u6344_input"/>
                    </div>

                    <!-- Unnamed (Text Field) -->
                    <div id="u6345" class="ax_default text_field">
                        <div id="u6345_div" class=""></div>
                        <input id="u6345_input" type="text" value="" class="u6345_input"/>
                    </div>

                    <!-- Unnamed (Text Field) -->
                    <div id="u6346" class="ax_default text_field">
                        <div id="u6346_div" class=""></div>
                        <input id="u6346_input" type="text" value="" class="u6346_input"/>
                    </div>

                    <!-- Unnamed (Text Field) -->
                    <div id="u6347" class="ax_default text_field">
                        <div id="u6347_div" class=""></div>
                        <input id="u6347_input" type="text" value="" class="u6347_input"/>
                    </div>
                </div>
            </div>
            <div id="u6343_state1" class="panel_state" data-label="状态 1" style="visibility: hidden;">
                <div id="u6343_state1_content" class="panel_state_content">

                    <!-- Unnamed (Text Field) -->
                    <div id="u6348" class="ax_default text_field">
                        <div id="u6348_div" class=""></div>
                        <input id="u6348_input" type="text" value="+1" class="u6348_input"/>
                    </div>

                    <!-- Unnamed (Text Field) -->
                    <div id="u6349" class="ax_default text_field">
                        <div id="u6349_div" class=""></div>
                        <input id="u6349_input" type="text" value="Li3N" class="u6349_input"/>
                    </div>

                    <!-- Unnamed (Text Field) -->
                    <div id="u6350" class="ax_default text_field">
                        <div id="u6350_div" class=""></div>
                        <input id="u6350_input" type="text" value="S1" class="u6350_input"/>
                    </div>

                    <!-- Unnamed (Text Field) -->
                    <div id="u6351" class="ax_default text_field">
                        <div id="u6351_div" class=""></div>
                        <input id="u6351_input" type="text" value="FACT" class="u6351_input"/>
                    </div>
                </div>
            </div>
            <div id="u6343_state2" class="panel_state" data-label="状态 2" style="visibility: hidden;">
                <div id="u6343_state2_content" class="panel_state_content">

                    <!-- Unnamed (Text Field) -->
                    <div id="u6352" class="ax_default text_field">
                        <div id="u6352_div" class=""></div>
                        <input id="u6352_input" type="text" value="+1" class="u6352_input"/>
                    </div>

                    <!-- Unnamed (Text Field) -->
                    <div id="u6353" class="ax_default text_field">
                        <div id="u6353_div" class=""></div>
                        <input id="u6353_input" type="text" value="Li3N" class="u6353_input"/>
                    </div>

                    <!-- Unnamed (Text Field) -->
                    <div id="u6354" class="ax_default text_field">
                        <div id="u6354_div" class=""></div>
                        <input id="u6354_input" type="text" value="S1" class="u6354_input"/>
                    </div>

                    <!-- Unnamed (Text Field) -->
                    <div id="u6355" class="ax_default text_field">
                        <div id="u6355_div" class=""></div>
                        <input id="u6355_input" type="text" value="FACT" class="u6355_input"/>
                    </div>

                    <!-- Unnamed (Text Field) -->
                    <div id="u6356" class="ax_default text_field">
                        <div id="u6356_div" class=""></div>
                        <input id="u6356_input" type="text" value="+3" class="u6356_input"/>
                    </div>

                    <!-- Unnamed (Text Field) -->
                    <div id="u6357" class="ax_default text_field">
                        <div id="u6357_div" class=""></div>
                        <input id="u6357_input" type="text" value="Na" class="u6357_input"/>
                    </div>

                    <!-- Unnamed (Text Field) -->
                    <div id="u6358" class="ax_default text_field">
                        <div id="u6358_div" class=""></div>
                        <input id="u6358_input" type="text" value="S1" class="u6358_input"/>
                    </div>

                    <!-- Unnamed (Text Field) -->
                    <div id="u6359" class="ax_default text_field">
                        <div id="u6359_div" class=""></div>
                        <input id="u6359_input" type="text" value="FACT" class="u6359_input"/>
                    </div>
                </div>
            </div>
            <div id="u6343_state3" class="panel_state" data-label="状态 3" style="visibility: hidden;">
                <div id="u6343_state3_content" class="panel_state_content">

                    <!-- Unnamed (Text Field) -->
                    <div id="u6360" class="ax_default text_field">
                        <div id="u6360_div" class=""></div>
                        <input id="u6360_input" type="text" value="+1" class="u6360_input"/>
                    </div>

                    <!-- Unnamed (Text Field) -->
                    <div id="u6361" class="ax_default text_field">
                        <div id="u6361_div" class=""></div>
                        <input id="u6361_input" type="text" value="Li3N" class="u6361_input"/>
                    </div>

                    <!-- Unnamed (Text Field) -->
                    <div id="u6362" class="ax_default text_field">
                        <div id="u6362_div" class=""></div>
                        <input id="u6362_input" type="text" value="S1" class="u6362_input"/>
                    </div>

                    <!-- Unnamed (Text Field) -->
                    <div id="u6363" class="ax_default text_field">
                        <div id="u6363_div" class=""></div>
                        <input id="u6363_input" type="text" value="FACT" class="u6363_input"/>
                    </div>

                    <!-- Unnamed (Text Field) -->
                    <div id="u6364" class="ax_default text_field">
                        <div id="u6364_div" class=""></div>
                        <input id="u6364_input" type="text" value="+3" class="u6364_input"/>
                    </div>

                    <!-- Unnamed (Text Field) -->
                    <div id="u6365" class="ax_default text_field">
                        <div id="u6365_div" class=""></div>
                        <input id="u6365_input" type="text" value="Na" class="u6365_input"/>
                    </div>

                    <!-- Unnamed (Text Field) -->
                    <div id="u6366" class="ax_default text_field">
                        <div id="u6366_div" class=""></div>
                        <input id="u6366_input" type="text" value="S1" class="u6366_input"/>
                    </div>

                    <!-- Unnamed (Text Field) -->
                    <div id="u6367" class="ax_default text_field">
                        <div id="u6367_div" class=""></div>
                        <input id="u6367_input" type="text" value="FACT" class="u6367_input"/>
                    </div>

                    <!-- Unnamed (Text Field) -->
                    <div id="u6368" class="ax_default text_field">
                        <div id="u6368_div" class=""></div>
                        <input id="u6368_input" type="text" value="+3" class="u6368_input"/>
                    </div>

                    <!-- Unnamed (Text Field) -->
                    <div id="u6369" class="ax_default text_field">
                        <div id="u6369_div" class=""></div>
                        <input id="u6369_input" type="text" value="Li" class="u6369_input"/>
                    </div>

                    <!-- Unnamed (Text Field) -->
                    <div id="u6370" class="ax_default text_field">
                        <div id="u6370_div" class=""></div>
                        <input id="u6370_input" type="text" value="S1" class="u6370_input"/>
                    </div>

                    <!-- Unnamed (Text Field) -->
                    <div id="u6371" class="ax_default text_field">
                        <div id="u6371_div" class=""></div>
                        <input id="u6371_input" type="text" value="FACT" class="u6371_input"/>
                    </div>
                </div>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6372" class="ax_default box_1">
            <div id="u6372_div" class=""></div>
            <div id="u6372_text" class="text ">
                <p><span>OK</span></p>
            </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u6373" class="ax_default text_field">
            <div id="u6373_div" class=""></div>
            <input id="u6373_input" type="text" value="Na3NLi6" class="u6373_input"/>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
</body>
</html>
