<!DOCTYPE html>
<html>
  <head>
    <title>save_to Database_page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/save_to_database_page/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/save_to_database_page/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- background (Rectangle) -->
      <div id="u13060" class="ax_default box_2" data-label="background">
        <div id="u13060_div" class=""></div>
        <div id="u13060_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!--  file_name_text (Text Field) -->
      <div id="u13061" class="ax_default text_field" data-label="&nbsp;file_name_text">
        <div id="u13061_div" class=""></div>
        <input id="u13061_input" type="text" value="NaClSr1_base" class="u13061_input"/>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u13062" class="ax_default box_1">
        <img id="u13062_img" class="img " src="{{ url_for('static', filename='images/save_optisage_page/u13002.svg') }}"/>
        <div id="u13062_text" class="text ">
          <p><span>Look in：</span></p>
        </div>
      </div>

      <!-- type_panel (Dynamic Panel) -->
      <div id="u13063" class="ax_default" data-label="type_panel">
        <div id="u13063_state0" class="panel_state" data-label="empty" style="">
          <div id="u13063_state0_content" class="panel_state_content">
          </div>
        </div>
        <div id="u13063_state1" class="panel_state" data-label="Default" style="visibility: hidden;">
          <div id="u13063_state1_content" class="panel_state_content">

            <!-- Type Table Repeater (Repeater) -->
            <div id="u13064" class="ax_default" data-label="Type Table Repeater">
              <script id="u13064_script" type="axure-repeater-template" data-label="Type Table Repeater">

                <!-- file_type (Rectangle) -->
                <div id="u13065" class="ax_default box_1 u13065" data-label="file_type">
                  <div id="u13065_div" class="u13065_div"></div>
                  <div id="u13065_text" class="text u13065_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </script>
              <div id="u13064-1" class="preeval" style="width: 299px; height: 30px;">

                <!-- file_type (Rectangle) -->
                <div id="u13065-1" class="ax_default box_1 u13065" data-label="file_type" style="width: 299px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u13065-1_div" class="u13065_div" style="width: 299px; height: 30px;visibility: inherit"></div>
                  <div id="u13065-1_text" class="text u13065_text" style="visibility: inherit">
                    <p><span>FactSage COMPOUND database-ASCII(*.dat)</span></p>
                  </div>
                </div>
              </div>
              <div id="u13064-2" class="preeval" style="width: 299px; height: 30px;">

                <!-- file_type (Rectangle) -->
                <div id="u13065-2" class="ax_default box_1 u13065" data-label="file_type" style="width: 299px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u13065-2_div" class="u13065_div" style="width: 299px; height: 30px;visibility: inherit"></div>
                  <div id="u13065-2_text" class="text u13065_text" style="visibility: inherit">
                    <p><span>FactSage SOLUTION database-ASCII(*.dat)</span></p>
                  </div>
                </div>
              </div>
              <div id="u13064-3" class="preeval" style="width: 299px; height: 30px;">

                <!-- file_type (Rectangle) -->
                <div id="u13065-3" class="ax_default box_1 u13065" data-label="file_type" style="width: 299px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u13065-3_div" class="u13065_div" style="width: 299px; height: 30px;visibility: inherit"></div>
                  <div id="u13065-3_text" class="text u13065_text" style="visibility: inherit">
                    <p><span>ChemSage thermodynamic data-ASCII(*.dat)</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- file_panel (Dynamic Panel) -->
      <div id="u13066" class="ax_default" data-label="file_panel">
        <div id="u13066_state0" class="panel_state" data-label="chemsage_file" style="">
          <div id="u13066_state0_content" class="panel_state_content">
          </div>
        </div>
        <div id="u13066_state1" class="panel_state" data-label="opti_file" style="visibility: hidden;">
          <div id="u13066_state1_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- file_sign (Shape) -->
      <div id="u13067" class="ax_default icon" data-label="file_sign">
        <img id="u13067_img" class="img " src="{{ url_for('static', filename='images/save_optisage_page/file_sign_u13013.svg') }}"/>
        <div id="u13067_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- search_text (Text Field) -->
      <div id="u13068" class="ax_default text_field" data-label="search_text">
        <div id="u13068_div" class=""></div>
        <input id="u13068_input" type="text" value="Databases" class="u13068_input"/>
      </div>

      <!-- search_panel (Dynamic Panel) -->
      <div id="u13069" class="ax_default ax_default_hidden" data-label="search_panel" style="display:none; visibility: hidden">
        <div id="u13069_state0" class="panel_state" data-label="empty_state" style="">
          <div id="u13069_state0_content" class="panel_state_content">
          </div>
        </div>
        <div id="u13069_state1" class="panel_state" data-label="search_state" style="visibility: hidden;">
          <div id="u13069_state1_content" class="panel_state_content">

            <!-- Search Table Repeater (Repeater) -->
            <div id="u13070" class="ax_default" data-label="Search Table Repeater">
              <script id="u13070_script" type="axure-repeater-template" data-label="Search Table Repeater">

                <!-- file_name (Rectangle) -->
                <div id="u13071" class="ax_default box_1 u13071" data-label="file_name">
                  <div id="u13071_div" class="u13071_div"></div>
                  <div id="u13071_text" class="text u13071_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </script>
              <div id="u13070-1" class="preeval" style="width: 371px; height: 30px;">

                <!-- file_name (Rectangle) -->
                <div id="u13071-1" class="ax_default box_1 u13071" data-label="file_name" style="width: 371px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u13071-1_div" class="u13071_div" style="width: 371px; height: 30px;visibility: inherit"></div>
                  <div id="u13071-1_text" class="text u13071_text" style="visibility: inherit">
                    <p><span>Databases</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- file_type_enum (Rectangle) -->
      <div id="u13072" class="ax_default box_1" data-label="file_type_enum">
        <div id="u13072_div" class=""></div>
        <div id="u13072_text" class="text ">
          <p><span>FactSage COMPOUND database-ASCII(*.dat)</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u13073" class="ax_default box_1">
        <img id="u13073_img" class="img " src="{{ url_for('static', filename='images/save_optisage_page/u13019.svg') }}"/>
        <div id="u13073_text" class="text ">
          <p><span>File name:</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u13074" class="ax_default box_1">
        <img id="u13074_img" class="img " src="{{ url_for('static', filename='images/save_optisage_page/u13019.svg') }}"/>
        <div id="u13074_text" class="text ">
          <p><span>Files of type:</span></p>
        </div>
      </div>

      <!-- Head (Rectangle) -->
      <div id="u13075" class="ax_default box_3" data-label="Head">
        <div id="u13075_div" class=""></div>
        <div id="u13075_text" class="text ">
          <p><span>Save to database</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u13076" class="ax_default box_1">
        <img id="u13076_img" class="img " src="{{ url_for('static', filename='images/save_to_database_page/u13076.svg') }}"/>
        <div id="u13076_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u13077" class="ax_default" data-left="1738" data-top="48" data-width="57" data-height="19" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u13078" class="ax_default box_1">
          <div id="u13078_div" class=""></div>
          <div id="u13078_text" class="text ">
            <p><span>Search</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u13079" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="1718" data-top="53" data-width="9" data-height="9" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u13080" class="ax_default box_1">
          <img id="u13080_img" class="img " src="{{ url_for('static', filename='images/save_optisage_page/u13026.svg') }}"/>
          <div id="u13080_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u13081" class="ax_default box_1">
          <img id="u13081_img" class="img " src="{{ url_for('static', filename='images/save_optisage_page/u13027.svg') }}"/>
          <div id="u13081_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u13082" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="1744" data-top="338" data-width="9" data-height="9" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u13083" class="ax_default box_1">
          <img id="u13083_img" class="img " src="{{ url_for('static', filename='images/save_optisage_page/u13026.svg') }}"/>
          <div id="u13083_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u13084" class="ax_default box_1">
          <img id="u13084_img" class="img " src="{{ url_for('static', filename='images/save_optisage_page/u13027.svg') }}"/>
          <div id="u13084_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- 背景 (Dynamic Panel) -->
      <div id="u13085" class="ax_default" data-label="背景">
        <div id="u13085_state0" class="panel_state" data-label="1" style="">
          <div id="u13085_state0_content" class="panel_state_content">
          </div>
        </div>
        <div id="u13085_state1" class="panel_state" data-label="2" style="visibility: hidden;">
          <div id="u13085_state1_content" class="panel_state_content">
          </div>
        </div>
        <div id="u13085_state2" class="panel_state" data-label="3" style="visibility: hidden;">
          <div id="u13085_state2_content" class="panel_state_content">
          </div>
        </div>
        <div id="u13085_state3" class="panel_state" data-label="4" style="visibility: hidden;">
          <div id="u13085_state3_content" class="panel_state_content">
          </div>
        </div>
        <div id="u13085_state4" class="panel_state" data-label="5" style="visibility: hidden;">
          <div id="u13085_state4_content" class="panel_state_content">
          </div>
        </div>
        <div id="u13085_state5" class="panel_state" data-label="6" style="visibility: hidden;">
          <div id="u13085_state5_content" class="panel_state_content">
          </div>
        </div>
        <div id="u13085_state6" class="panel_state" data-label="7" style="visibility: hidden;">
          <div id="u13085_state6_content" class="panel_state_content">
          </div>
        </div>
        <div id="u13085_state7" class="panel_state" data-label="8" style="visibility: hidden;">
          <div id="u13085_state7_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u13086" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u13087" class="ax_default box_1">
          <img id="u13087_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
          <div id="u13087_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u13088" class="ax_default box_1">
          <img id="u13088_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
          <div id="u13088_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u13089" class="ax_default box_1 selected">
        <div id="u13089_div" class="selected"></div>
        <div id="u13089_text" class="text ">
          <p><span>Save To Database</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u13090" class="ax_default box_1">
        <div id="u13090_div" class=""></div>
        <div id="u13090_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u13091" class="ax_default box_1">
        <div id="u13091_div" class=""></div>
        <div id="u13091_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u13092" class="ax_default line">
        <img id="u13092_img" class="img " src="{{ url_for('static', filename='images/反应物/u2723.svg') }}"/>
        <div id="u13092_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u13093" class="ax_default" data-left="154" data-top="60" data-width="502" data-height="25" layer-opacity="1">

        <!-- Unnamed (Text Field) -->
        <div id="u13094" class="ax_default text_field">
          <div id="u13094_div" class=""></div>
          <input id="u13094_input" type="text" value="Databases" class="u13094_input"/>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u13095" class="ax_default box_1">
          <img id="u13095_img" class="img " src="{{ url_for('static', filename='images/反应物/u2715.svg') }}"/>
          <div id="u13095_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u13096" class="ax_default" data-left="633" data-top="68" data-width="12" data-height="10" layer-opacity="1">

          <!-- Unnamed (Shape) -->
          <div id="u13097" class="ax_default box_1">
            <img id="u13097_img" class="img " src="{{ url_for('static', filename='images/反应物/u2728.svg') }}"/>
            <div id="u13097_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u13098" class="ax_default box_1">
            <img id="u13098_img" class="img " src="{{ url_for('static', filename='images/反应物/u2729.svg') }}"/>
            <div id="u13098_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Right Arrow) -->
      <div id="u13099" class="ax_default _形状">
        <img id="u13099_img" class="img " src="{{ url_for('static', filename='images/反应物/u2730.svg') }}"/>
        <div id="u13099_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u13100" class="ax_default box_1">
        <img id="u13100_img" class="img " src="{{ url_for('static', filename='images/反应物/u2731.svg') }}"/>
        <div id="u13100_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Right Arrow) -->
      <div id="u13101" class="ax_default _形状">
        <img id="u13101_img" class="img " src="{{ url_for('static', filename='images/反应物/u2732.svg') }}"/>
        <div id="u13101_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u13102" class="ax_default" data-left="679" data-top="61" data-width="97" data-height="25" layer-opacity="1">

        <!-- Unnamed (Text Field) -->
        <div id="u13103" class="ax_default text_field">
          <div id="u13103_div" class=""></div>
          <input id="u13103_input" type="text" value="" class="u13103_input"/>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u13104" class="ax_default" data-left="757" data-top="67" data-width="14" data-height="14" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u13105" class="ax_default box_1">
          <img id="u13105_img" class="img " src="{{ url_for('static', filename='images/反应物/u2736.svg') }}"/>
          <div id="u13105_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u13106" class="ax_default box_1">
          <img id="u13106_img" class="img " src="{{ url_for('static', filename='images/反应物/u2737.svg') }}"/>
          <div id="u13106_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Right Arrow) -->
      <div id="u13107" class="ax_default _形状">
        <img id="u13107_img" class="img " src="{{ url_for('static', filename='images/反应物/u2730.svg') }}"/>
        <div id="u13107_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Dynamic Panel) -->
      <div id="u13108" class="ax_default">
        <div id="u13108_state0" class="panel_state" data-label="State 1" style="">
          <div id="u13108_state0_content" class="panel_state_content">

            <!-- Unnamed (Dynamic Panel) -->
            <div id="u13109" class="ax_default">
              <div id="u13109_state0" class="panel_state" data-label="State 1" style="">
                <div id="u13109_state0_content" class="panel_state_content">

                  <!-- Unnamed (Rectangle) -->
                  <div id="u13110" class="ax_default _段落">
                    <div id="u13110_div" class=""></div>
                    <div id="u13110_text" class="text ">
                      <p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span><br></span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- file_name_text_new (Droplist) -->
      <div id="u13111" class="ax_default box_1" data-label="file_name_text_new">
        <div id="u13111_div" class=""></div>
        <select id="u13111_input" class="u13111_input">
          <option class="u13111_input_option" selected value="NaClSr1_base">NaClSr1_base</option>
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u13112" class="ax_default _三级标题">
        <div id="u13112_div" class=""></div>
        <div id="u13112_text" class="text ">
          <p><span>Name:</span></p>
        </div>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u13113" class="ax_default box_1">
        <div id="u13113_div" class=""></div>
        <select id="u13113_input" class="u13113_input">
          <option class="u13113_input_option" selected value="FactSage COMPOUND database-ASCII(*.dat)">FactSage COMPOUND database-ASCII(*.dat)</option>
          <option class="u13113_input_option" value="FactSage SOLUTION database-ASCII(*.dat)">FactSage SOLUTION database-ASCII(*.dat)</option>
          <option class="u13113_input_option" value="ChemSage thermodynamic data-ASCII(*.dat)">ChemSage thermodynamic data-ASCII(*.dat)</option>
        </select>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
