<!DOCTYPE html>
<html>
  <head>
    <title>save_optisage_page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/save_optisage_page/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/save_optisage_page/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- background (Rectangle) -->
      <div id="u13000" class="ax_default box_2" data-label="background">
        <div id="u13000_div" class=""></div>
        <div id="u13000_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!--  file_name_text (Text Field) -->
      <div id="u13001" class="ax_default text_field" data-label="&nbsp;file_name_text">
        <div id="u13001_div" class=""></div>
        <input id="u13001_input" type="text" value="" class="u13001_input"/>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u13002" class="ax_default box_1">
        <img id="u13002_img" class="img " src="{{ url_for('static', filename='images/save_optisage_page/u13002.svg') }}"/>
        <div id="u13002_text" class="text ">
          <p><span>Look in：</span></p>
        </div>
      </div>

      <!-- type_panel (Dynamic Panel) -->
      <div id="u13003" class="ax_default" data-label="type_panel">
        <div id="u13003_state0" class="panel_state" data-label="Default" style="">
          <div id="u13003_state0_content" class="panel_state_content">
          </div>
        </div>
        <div id="u13003_state1" class="panel_state" data-label="Layout_Chem" style="visibility: hidden;">
          <div id="u13003_state1_content" class="panel_state_content">

            <!-- Type Table Repeater (Repeater) -->
            <div id="u13004" class="ax_default" data-label="Type Table Repeater">
              <script id="u13004_script" type="axure-repeater-template" data-label="Type Table Repeater">

                <!-- file_type (Rectangle) -->
                <div id="u13005" class="ax_default box_1 u13005" data-label="file_type">
                  <div id="u13005_div" class="u13005_div"></div>
                  <div id="u13005_text" class="text u13005_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </script>
              <div id="u13004-1" class="preeval" style="width: 299px; height: 30px;">

                <!-- file_type (Rectangle) -->
                <div id="u13005-1" class="ax_default box_1 u13005" data-label="file_type" style="width: 299px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u13005-1_div" class="u13005_div" style="width: 299px; height: 30px;visibility: inherit"></div>
                  <div id="u13005-1_text" class="text u13005_text" style="visibility: inherit">
                    <p><span>ChemSage ASICII files(*.dat)</span></p>
                  </div>
                </div>
              </div>
              <div id="u13004-2" class="preeval" style="width: 299px; height: 30px;">

                <!-- file_type (Rectangle) -->
                <div id="u13005-2" class="ax_default box_1 u13005" data-label="file_type" style="width: 299px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u13005-2_div" class="u13005_div" style="width: 299px; height: 30px;visibility: inherit"></div>
                  <div id="u13005-2_text" class="text u13005_text" style="visibility: inherit">
                    <p><span>ChemSage binary files(*.bin)</span></p>
                  </div>
                </div>
              </div>
              <div id="u13004-3" class="preeval" style="width: 299px; height: 30px;">

                <!-- file_type (Rectangle) -->
                <div id="u13005-3" class="ax_default box_1 u13005" data-label="file_type" style="width: 299px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u13005-3_div" class="u13005_div" style="width: 299px; height: 30px;visibility: inherit"></div>
                  <div id="u13005-3_text" class="text u13005_text" style="visibility: inherit">
                    <p><span>ChemSage transparant files(*.cst)</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="u13003_state2" class="panel_state" data-label="Layout_Opti" style="visibility: hidden;">
          <div id="u13003_state2_content" class="panel_state_content">

            <!-- Table Repeater (Repeater) -->
            <div id="u13006" class="ax_default" data-label="Table Repeater">
              <script id="u13006_script" type="axure-repeater-template" data-label="Table Repeater">

                <!-- Unnamed (Rectangle) -->
                <div id="u13007" class="ax_default box_1 u13007">
                  <div id="u13007_div" class="u13007_div"></div>
                  <div id="u13007_text" class="text u13007_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </script>
              <div id="u13006-1" class="preeval" style="width: 297px; height: 20px;">

                <!-- Unnamed (Rectangle) -->
                <div id="u13007-1" class="ax_default box_1 u13007" style="width: 297px; height: 20px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u13007-1_div" class="u13007_div" style="width: 297px; height: 20px;visibility: inherit"></div>
                  <div id="u13007-1_text" class="text u13007_text" style="visibility: inherit">
                    <p><span>OptiSage files(*.opt)</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- file_panel (Dynamic Panel) -->
      <div id="u13008" class="ax_default" data-label="file_panel">
        <div id="u13008_state0" class="panel_state" data-label="chemsage_file" style="">
          <div id="u13008_state0_content" class="panel_state_content">

            <!-- File Table Repeater (Repeater) -->
            <div id="u13009" class="ax_default" data-label="File Table Repeater">
              <script id="u13009_script" type="axure-repeater-template" data-label="File Table Repeater">

                <!-- file_name (Rectangle) -->
                <div id="u13010" class="ax_default box_1 u13010" data-label="file_name">
                  <div id="u13010_div" class="u13010_div"></div>
                  <div id="u13010_text" class="text u13010_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </script>
              <div id="u13009-1" class="preeval" style="width: 276px; height: 30px;">

                <!-- file_name (Rectangle) -->
                <div id="u13010-1" class="ax_default box_1 u13010" data-label="file_name" style="width: 276px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u13010-1_div" class="u13010_div" style="width: 276px; height: 30px;visibility: inherit"></div>
                  <div id="u13010-1_text" class="text u13010_text" style="visibility: inherit">
                    <p><span>Nacl_SrCl2.dat</span></p>
                  </div>
                </div>
              </div>
              <div id="u13009-2" class="preeval" style="width: 276px; height: 30px;">

                <!-- file_name (Rectangle) -->
                <div id="u13010-2" class="ax_default box_1 u13010" data-label="file_name" style="width: 276px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u13010-2_div" class="u13010_div" style="width: 276px; height: 30px;visibility: inherit"></div>
                  <div id="u13010-2_text" class="text u13010_text" style="visibility: inherit">
                    <p><span>Nacl_SrCl2.bin</span></p>
                  </div>
                </div>
              </div>
              <div id="u13009-3" class="preeval" style="width: 276px; height: 30px;">

                <!-- file_name (Rectangle) -->
                <div id="u13010-3" class="ax_default box_1 u13010" data-label="file_name" style="width: 276px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u13010-3_div" class="u13010_div" style="width: 276px; height: 30px;visibility: inherit"></div>
                  <div id="u13010-3_text" class="text u13010_text" style="visibility: inherit">
                    <p><span>Nacl_SrCl2.cst</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="u13008_state1" class="panel_state" data-label="opti_file" style="visibility: hidden;">
          <div id="u13008_state1_content" class="panel_state_content">

            <!-- Table Repeater (Repeater) -->
            <div id="u13011" class="ax_default" data-label="Table Repeater">
              <script id="u13011_script" type="axure-repeater-template" data-label="Table Repeater">

                <!-- Unnamed (Rectangle) -->
                <div id="u13012" class="ax_default box_1 u13012">
                  <div id="u13012_div" class="u13012_div"></div>
                  <div id="u13012_text" class="text u13012_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </script>
              <div id="u13011-1" class="preeval" style="width: 282px; height: 30px;">

                <!-- Unnamed (Rectangle) -->
                <div id="u13012-1" class="ax_default box_1 u13012" style="width: 282px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u13012-1_div" class="u13012_div" style="width: 282px; height: 30px;visibility: inherit"></div>
                  <div id="u13012-1_text" class="text u13012_text" style="visibility: inherit">
                    <p><span>OptiSageFile.opt</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- file_sign (Shape) -->
      <div id="u13013" class="ax_default icon" data-label="file_sign">
        <img id="u13013_img" class="img " src="{{ url_for('static', filename='images/save_optisage_page/file_sign_u13013.svg') }}"/>
        <div id="u13013_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- search_text (Text Field) -->
      <div id="u13014" class="ax_default text_field" data-label="search_text">
        <div id="u13014_div" class=""></div>
        <input id="u13014_input" type="text" value="ChemSage" class="u13014_input"/>
      </div>

      <!-- search_panel (Dynamic Panel) -->
      <div id="u13015" class="ax_default ax_default_hidden" data-label="search_panel" style="display:none; visibility: hidden">
        <div id="u13015_state0" class="panel_state" data-label="empty_state" style="">
          <div id="u13015_state0_content" class="panel_state_content">
          </div>
        </div>
        <div id="u13015_state1" class="panel_state" data-label="search_state" style="visibility: hidden;">
          <div id="u13015_state1_content" class="panel_state_content">

            <!-- Search Table Repeater (Repeater) -->
            <div id="u13016" class="ax_default" data-label="Search Table Repeater">
              <script id="u13016_script" type="axure-repeater-template" data-label="Search Table Repeater">

                <!-- file_name (Rectangle) -->
                <div id="u13017" class="ax_default box_1 u13017" data-label="file_name">
                  <div id="u13017_div" class="u13017_div"></div>
                  <div id="u13017_text" class="text u13017_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </script>
              <div id="u13016-1" class="preeval" style="width: 371px; height: 30px;">

                <!-- file_name (Rectangle) -->
                <div id="u13017-1" class="ax_default box_1 u13017" data-label="file_name" style="width: 371px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u13017-1_div" class="u13017_div" style="width: 371px; height: 30px;visibility: inherit"></div>
                  <div id="u13017-1_text" class="text u13017_text" style="visibility: inherit">
                    <p><span>ChemSage</span></p>
                  </div>
                </div>
              </div>
              <div id="u13016-2" class="preeval" style="width: 371px; height: 30px;">

                <!-- file_name (Rectangle) -->
                <div id="u13017-2" class="ax_default box_1 u13017" data-label="file_name" style="width: 371px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u13017-2_div" class="u13017_div" style="width: 371px; height: 30px;visibility: inherit"></div>
                  <div id="u13017-2_text" class="text u13017_text" style="visibility: inherit">
                    <p><span>OptiFile</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- file_type_enum (Rectangle) -->
      <div id="u13018" class="ax_default box_1" data-label="file_type_enum">
        <div id="u13018_div" class=""></div>
        <div id="u13018_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u13019" class="ax_default box_1">
        <img id="u13019_img" class="img " src="{{ url_for('static', filename='images/save_optisage_page/u13019.svg') }}"/>
        <div id="u13019_text" class="text ">
          <p><span>File name:</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u13020" class="ax_default box_1">
        <img id="u13020_img" class="img " src="{{ url_for('static', filename='images/save_optisage_page/u13019.svg') }}"/>
        <div id="u13020_text" class="text ">
          <p><span>Files of type:</span></p>
        </div>
      </div>

      <!-- Head (Rectangle) -->
      <div id="u13021" class="ax_default box_3" data-label="Head">
        <div id="u13021_div" class=""></div>
        <div id="u13021_text" class="text ">
          <p><span>Save optisage file</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u13022" class="ax_default box_1">
        <img id="u13022_img" class="img " src="{{ url_for('static', filename='images/save_optisage_page/u13022.svg') }}"/>
        <div id="u13022_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u13023" class="ax_default" data-left="1738" data-top="48" data-width="57" data-height="19" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u13024" class="ax_default box_1">
          <div id="u13024_div" class=""></div>
          <div id="u13024_text" class="text ">
            <p><span>Search</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u13025" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="1718" data-top="53" data-width="9" data-height="9" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u13026" class="ax_default box_1">
          <img id="u13026_img" class="img " src="{{ url_for('static', filename='images/save_optisage_page/u13026.svg') }}"/>
          <div id="u13026_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u13027" class="ax_default box_1">
          <img id="u13027_img" class="img " src="{{ url_for('static', filename='images/save_optisage_page/u13027.svg') }}"/>
          <div id="u13027_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u13028" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="1667" data-top="338" data-width="9" data-height="9" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u13029" class="ax_default box_1">
          <img id="u13029_img" class="img " src="{{ url_for('static', filename='images/save_optisage_page/u13026.svg') }}"/>
          <div id="u13029_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u13030" class="ax_default box_1">
          <img id="u13030_img" class="img " src="{{ url_for('static', filename='images/save_optisage_page/u13027.svg') }}"/>
          <div id="u13030_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- 背景 (Dynamic Panel) -->
      <div id="u13031" class="ax_default" data-label="背景">
        <div id="u13031_state0" class="panel_state" data-label="1" style="">
          <div id="u13031_state0_content" class="panel_state_content">
          </div>
        </div>
        <div id="u13031_state1" class="panel_state" data-label="2" style="visibility: hidden;">
          <div id="u13031_state1_content" class="panel_state_content">
          </div>
        </div>
        <div id="u13031_state2" class="panel_state" data-label="3" style="visibility: hidden;">
          <div id="u13031_state2_content" class="panel_state_content">
          </div>
        </div>
        <div id="u13031_state3" class="panel_state" data-label="4" style="visibility: hidden;">
          <div id="u13031_state3_content" class="panel_state_content">
          </div>
        </div>
        <div id="u13031_state4" class="panel_state" data-label="5" style="visibility: hidden;">
          <div id="u13031_state4_content" class="panel_state_content">
          </div>
        </div>
        <div id="u13031_state5" class="panel_state" data-label="6" style="visibility: hidden;">
          <div id="u13031_state5_content" class="panel_state_content">
          </div>
        </div>
        <div id="u13031_state6" class="panel_state" data-label="7" style="visibility: hidden;">
          <div id="u13031_state6_content" class="panel_state_content">
          </div>
        </div>
        <div id="u13031_state7" class="panel_state" data-label="8" style="visibility: hidden;">
          <div id="u13031_state7_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u13032" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u13033" class="ax_default box_1">
          <img id="u13033_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
          <div id="u13033_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u13034" class="ax_default box_1">
          <img id="u13034_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
          <div id="u13034_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u13035" class="ax_default box_1 selected">
        <div id="u13035_div" class="selected"></div>
        <div id="u13035_text" class="text ">
          <p><span>Save OptiSage File</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u13036" class="ax_default box_1">
        <div id="u13036_div" class=""></div>
        <div id="u13036_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u13037" class="ax_default box_1">
        <div id="u13037_div" class=""></div>
        <div id="u13037_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u13038" class="ax_default line">
        <img id="u13038_img" class="img " src="{{ url_for('static', filename='images/反应物/u2723.svg') }}"/>
        <div id="u13038_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u13039" class="ax_default" data-left="154" data-top="60" data-width="502" data-height="25" layer-opacity="1">

        <!-- Unnamed (Text Field) -->
        <div id="u13040" class="ax_default text_field">
          <div id="u13040_div" class=""></div>
          <input id="u13040_input" type="text" value="" class="u13040_input"/>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u13041" class="ax_default box_1">
          <img id="u13041_img" class="img " src="{{ url_for('static', filename='images/反应物/u2715.svg') }}"/>
          <div id="u13041_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u13042" class="ax_default" data-left="633" data-top="68" data-width="12" data-height="10" layer-opacity="1">

          <!-- Unnamed (Shape) -->
          <div id="u13043" class="ax_default box_1">
            <img id="u13043_img" class="img " src="{{ url_for('static', filename='images/反应物/u2728.svg') }}"/>
            <div id="u13043_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u13044" class="ax_default box_1">
            <img id="u13044_img" class="img " src="{{ url_for('static', filename='images/反应物/u2729.svg') }}"/>
            <div id="u13044_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Right Arrow) -->
      <div id="u13045" class="ax_default _形状">
        <img id="u13045_img" class="img " src="{{ url_for('static', filename='images/反应物/u2730.svg') }}"/>
        <div id="u13045_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u13046" class="ax_default box_1">
        <img id="u13046_img" class="img " src="{{ url_for('static', filename='images/反应物/u2731.svg') }}"/>
        <div id="u13046_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Right Arrow) -->
      <div id="u13047" class="ax_default _形状">
        <img id="u13047_img" class="img " src="{{ url_for('static', filename='images/反应物/u2732.svg') }}"/>
        <div id="u13047_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u13048" class="ax_default" data-left="679" data-top="61" data-width="97" data-height="25" layer-opacity="1">

        <!-- Unnamed (Text Field) -->
        <div id="u13049" class="ax_default text_field">
          <div id="u13049_div" class=""></div>
          <input id="u13049_input" type="text" value="" class="u13049_input"/>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u13050" class="ax_default" data-left="757" data-top="67" data-width="14" data-height="14" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u13051" class="ax_default box_1">
          <img id="u13051_img" class="img " src="{{ url_for('static', filename='images/反应物/u2736.svg') }}"/>
          <div id="u13051_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u13052" class="ax_default box_1">
          <img id="u13052_img" class="img " src="{{ url_for('static', filename='images/反应物/u2737.svg') }}"/>
          <div id="u13052_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Right Arrow) -->
      <div id="u13053" class="ax_default _形状">
        <img id="u13053_img" class="img " src="{{ url_for('static', filename='images/反应物/u2730.svg') }}"/>
        <div id="u13053_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Dynamic Panel) -->
      <div id="u13054" class="ax_default">
        <div id="u13054_state0" class="panel_state" data-label="State 1" style="">
          <div id="u13054_state0_content" class="panel_state_content">

            <!-- Unnamed (Dynamic Panel) -->
            <div id="u13055" class="ax_default">
              <div id="u13055_state0" class="panel_state" data-label="State 1" style="">
                <div id="u13055_state0_content" class="panel_state_content">

                  <!-- Unnamed (Rectangle) -->
                  <div id="u13056" class="ax_default _段落">
                    <div id="u13056_div" class=""></div>
                    <div id="u13056_text" class="text ">
                      <p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span><br></span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- file_name_text_new (Droplist) -->
      <div id="u13057" class="ax_default box_1" data-label="file_name_text_new">
        <div id="u13057_div" class=""></div>
        <select id="u13057_input" class="u13057_input">
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u13058" class="ax_default _三级标题">
        <div id="u13058_div" class=""></div>
        <div id="u13058_text" class="text ">
          <p><span>Name:</span></p>
        </div>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u13059" class="ax_default box_1">
        <div id="u13059_div" class=""></div>
        <select id="u13059_input" class="u13059_input">
          <option class="u13059_input_option" value="OptiSage files(*.opt)">OptiSage files(*.opt)</option>
        </select>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
