<!DOCTYPE html>
<html>
<head>
    <title>section6</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/section6/styles.css') }}" type="text/css" rel="stylesheet"/>

    <script>
        document.oncontextmenu = function (event) {
            event = event || window.event;
            var targetElement = event.target || event.srcElement;
            if (!targetElement) return true;

            if (targetElement.tagName) {
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||
                    targetElement.tagName.toLowerCase() === "textarea") {
                    return true;
                }
            }
            return false;
        }
    </script>
    <script src
                    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/section6/data.js') }}"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () {
            return 'resources/images/transparent.gif';
        };
        $axure.utils.getOtherPath = function () {
            return 'resources/Other.html';
        };
        $axure.utils.getReloadPath = function () {
            return 'resources/reload.html';
        };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- Unnamed (Rectangle) -->
    <div id="u2632" class="ax_default box_1">
        <div id="u2632_div" class=""></div>
        <div id="u2632_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u2633" class="ax_default box_1">
        <div id="u2633_div" class=""></div>
        <div id="u2633_text" class="text ">
            <p><span>&nbsp;&nbsp; &nbsp; Calphad Optimizer</span></p>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u2634" class="ax_default" data-left="206" data-top="12" data-width="51" data-height="22" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u2635" class="ax_default link_button">
            <div id="u2635_div" class=""></div>
            <div id="u2635_text" class="text ">
                <p><span>File</span></p>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u2636" class="ax_default icon">
            <img id="u2636_img" class="img "
                 src="{{ url_for('static', filename='images/calphad_optimizer/u2069.svg') }}"/>
            <div id="u2636_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u2637" class="ax_default" data-left="278" data-top="12" data-width="58" data-height="22" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u2638" class="ax_default link_button">
            <div id="u2638_div" class=""></div>
            <div id="u2638_text" class="text ">
                <p><span>About</span></p>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u2639" class="ax_default icon">
            <img id="u2639_img" class="img "
                 src="{{ url_for('static', filename='images/calphad_optimizer/u2069.svg') }}"/>
            <div id="u2639_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u2640" class="ax_default link_button">
        <img id="u2640_img" class="img " src="{{ url_for('static', filename='images/section5/u2436.svg') }}"/>
        <div id="u2640_text" class="text ">
            <p><span>&nbsp;&nbsp;&nbsp; Optimizaztion</span></p>
        </div>
    </div>

    <!-- Unnamed (Menu) -->
    <div id="u2641" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
        <img id="u2641_menu" class="img "
             src="{{ url_for('static', filename='images/calphad_optimizer/u2081_menu.png') }}" alt="u2641_menu"/>

        <!-- Unnamed (Table) -->
        <div id="u2642" class="ax_default">

            <!-- Unnamed (Menu Item) -->
            <div id="u2643" class="ax_default menu_item">
                <img id="u2643_img" class="img "
                     src="{{ url_for('static', filename='images/calphad_optimizer/u2083.png') }}"/>
                <div id="u2643_text" class="text ">
                    <p><span>New Optimiation</span></p>
                </div>
            </div>

            <!-- Unnamed (Menu Item) -->
            <div id="u2644" class="ax_default menu_item">
                <img id="u2644_img" class="img "
                     src="{{ url_for('static', filename='images/calphad_optimizer/u2084.png') }}"/>
                <div id="u2644_text" class="text ">
                    <p><span>Load Optimization</span></p>
                </div>
            </div>

            <!-- Unnamed (Menu Item) -->
            <div id="u2645" class="ax_default menu_item">
                <img id="u2645_img" class="img "
                     src="{{ url_for('static', filename='images/calphad_optimizer/u2084.png') }}"/>
                <div id="u2645_text" class="text ">
                    <p><span>Save Optimization</span></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u2646" class="ax_default link_button">
        <img id="u2646_img" class="img " src="{{ url_for('static', filename='images/section6/u2646.svg') }}"/>
        <div id="u2646_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u2647" class="ax_default _二级标题">
        <div id="u2647_div" class=""></div>
        <div id="u2647_text" class="text ">
            <p><span
                    style="font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;font-weight:700;">Selected experiments</span>
            </p>
        </div>
    </div>

    <!-- Unnamed (Checkbox) -->
    <div id="u2648" class="ax_default checkbox">
        <label id="u2648_input_label" for="u2648_input" style="position: absolute; left: 0px;">
            <img id="u2648_img" class="img " src="{{ url_for('static', filename='images/section6/u2648.svg') }}"/>
            <div id="u2648_text" class="text ">
                <p><span>Activity of constituents in the liquid solution</span></p>
            </div>
        </label>
        <input id="u2648_input" type="checkbox" value="checkbox"/>
    </div>

    <!-- Unnamed (Checkbox) -->
    <div id="u2649" class="ax_default checkbox">
        <label id="u2649_input_label" for="u2649_input" style="position: absolute; left: 0px;">
            <img id="u2649_img" class="img " src="{{ url_for('static', filename='images/section6/u2649.svg') }}"/>
            <div id="u2649_text" class="text ">
                <p><span>Eutectic Temperature</span></p>
            </div>
        </label>
        <input id="u2649_input" type="checkbox" value="checkbox"/>
    </div>

    <!-- Unnamed (Checkbox) -->
    <div id="u2650" class="ax_default checkbox">
        <label id="u2650_input_label" for="u2650_input" style="position: absolute; left: 0px;">
            <img id="u2650_img" class="img " src="{{ url_for('static', filename='images/section6/u2650.svg') }}"/>
            <div id="u2650_text" class="text ">
                <p><span>Liquidus Temperature (SrCl2)</span></p>
            </div>
        </label>
        <input id="u2650_input" type="checkbox" value="checkbox"/>
    </div>

    <!-- Unnamed (Checkbox) -->
    <div id="u2651" class="ax_default checkbox">
        <label id="u2651_input_label" for="u2651_input" style="position: absolute; left: 0px;">
            <img id="u2651_img" class="img " src="{{ url_for('static', filename='images/section6/u2651.svg') }}"/>
            <div id="u2651_text" class="text ">
                <p><span>Liquidus Temperature (NaCl)</span></p>
            </div>
        </label>
        <input id="u2651_input" type="checkbox" value="checkbox"/>
    </div>

    <!-- Unnamed (Checkbox) -->
    <div id="u2652" class="ax_default checkbox">
        <label id="u2652_input_label" for="u2652_input" style="position: absolute; left: 0px;">
            <img id="u2652_img" class="img " src="{{ url_for('static', filename='images/section6/u2652.svg') }}"/>
            <div id="u2652_text" class="text ">
                <p><span>Heat of mixing of the liquid solution</span></p>
            </div>
        </label>
        <input id="u2652_input" type="checkbox" value="checkbox"/>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u2653" class="ax_default _二级标题">
        <div id="u2653_div" class=""></div>
        <div id="u2653_text" class="text ">
            <p><span>Selected parameters</span></p>
        </div>
    </div>

    <!-- Unnamed (Table) -->
    <div id="u2654" class="ax_default">

        <!-- Unnamed (Table Cell) -->
        <div id="u2655" class="ax_default table_cell">
            <img id="u2655_img" class="img " src="{{ url_for('static', filename='images/section6/u2655.png') }}"/>
            <div id="u2655_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2656" class="ax_default table_cell">
            <img id="u2656_img" class="img " src="{{ url_for('static', filename='images/section6/u2656.png') }}"/>
            <div id="u2656_text" class="text ">
                <p><span>Variable</span></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2657" class="ax_default table_cell">
            <img id="u2657_img" class="img " src="{{ url_for('static', filename='images/section6/u2657.png') }}"/>
            <div id="u2657_text" class="text ">
                <p><span>Identifier</span></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2658" class="ax_default table_cell">
            <img id="u2658_img" class="img " src="{{ url_for('static', filename='images/section6/u2658.png') }}"/>
            <div id="u2658_text" class="text ">
                <p><span>Paramwter</span></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2659" class="ax_default table_cell">
            <img id="u2659_img" class="img " src="{{ url_for('static', filename='images/section6/u2659.png') }}"/>
            <div id="u2659_text" class="text ">
                <p><span>Value</span></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2660" class="ax_default table_cell">
            <img id="u2660_img" class="img " src="{{ url_for('static', filename='images/section6/u2660.png') }}"/>
            <div id="u2660_text" class="text ">
                <p><span>Minimum</span></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2661" class="ax_default table_cell">
            <img id="u2661_img" class="img " src="{{ url_for('static', filename='images/section6/u2661.png') }}"/>
            <div id="u2661_text" class="text ">
                <p><span>Maximum</span></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2662" class="ax_default table_cell">
            <img id="u2662_img" class="img " src="{{ url_for('static', filename='images/section6/u2662.png') }}"/>
            <div id="u2662_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2663" class="ax_default table_cell">
            <img id="u2663_img" class="img " src="{{ url_for('static', filename='images/section6/u2663.png') }}"/>
            <div id="u2663_text" class="text ">
                <p><span>V1</span></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2664" class="ax_default table_cell">
            <img id="u2664_img" class="img " src="{{ url_for('static', filename='images/section6/u2664.png') }}"/>
            <div id="u2664_text" class="text ">
                <p><span>NaCl(S)</span></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2665" class="ax_default table_cell">
            <img id="u2665_img" class="img " src="{{ url_for('static', filename='images/section6/u2665.png') }}"/>
            <div id="u2665_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2666" class="ax_default table_cell">
            <img id="u2666_img" class="img " src="{{ url_for('static', filename='images/section6/u2666.png') }}"/>
            <div id="u2666_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2667" class="ax_default table_cell">
            <img id="u2667_img" class="img " src="{{ url_for('static', filename='images/section6/u2667.png') }}"/>
            <div id="u2667_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2668" class="ax_default table_cell">
            <img id="u2668_img" class="img " src="{{ url_for('static', filename='images/section6/u2668.png') }}"/>
            <div id="u2668_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2669" class="ax_default table_cell">
            <img id="u2669_img" class="img " src="{{ url_for('static', filename='images/section6/u2669.png') }}"/>
            <div id="u2669_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2670" class="ax_default table_cell">
            <img id="u2670_img" class="img " src="{{ url_for('static', filename='images/section6/u2670.png') }}"/>
            <div id="u2670_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; V2</span></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2671" class="ax_default table_cell">
            <img id="u2671_img" class="img " src="{{ url_for('static', filename='images/section6/u2671.png') }}"/>
            <div id="u2671_text" class="text ">
                <p><span>Liquid</span></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2672" class="ax_default table_cell">
            <img id="u2672_img" class="img " src="{{ url_for('static', filename='images/section6/u2672.png') }}"/>
            <div id="u2672_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2673" class="ax_default table_cell">
            <img id="u2673_img" class="img " src="{{ url_for('static', filename='images/section6/u2673.png') }}"/>
            <div id="u2673_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2674" class="ax_default table_cell">
            <img id="u2674_img" class="img " src="{{ url_for('static', filename='images/section6/u2674.png') }}"/>
            <div id="u2674_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2675" class="ax_default table_cell">
            <img id="u2675_img" class="img " src="{{ url_for('static', filename='images/section6/u2675.png') }}"/>
            <div id="u2675_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2676" class="ax_default table_cell">
            <img id="u2676_img" class="img " src="{{ url_for('static', filename='images/section6/u2669.png') }}"/>
            <div id="u2676_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2677" class="ax_default table_cell">
            <img id="u2677_img" class="img " src="{{ url_for('static', filename='images/section6/u2670.png') }}"/>
            <div id="u2677_text" class="text ">
                <p><span>V3</span></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2678" class="ax_default table_cell">
            <img id="u2678_img" class="img " src="{{ url_for('static', filename='images/section6/u2671.png') }}"/>
            <div id="u2678_text" class="text ">
                <p><span>Liquid</span></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2679" class="ax_default table_cell">
            <img id="u2679_img" class="img " src="{{ url_for('static', filename='images/section6/u2672.png') }}"/>
            <div id="u2679_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2680" class="ax_default table_cell">
            <img id="u2680_img" class="img " src="{{ url_for('static', filename='images/section6/u2673.png') }}"/>
            <div id="u2680_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2681" class="ax_default table_cell">
            <img id="u2681_img" class="img " src="{{ url_for('static', filename='images/section6/u2674.png') }}"/>
            <div id="u2681_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2682" class="ax_default table_cell">
            <img id="u2682_img" class="img " src="{{ url_for('static', filename='images/section6/u2675.png') }}"/>
            <div id="u2682_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2683" class="ax_default table_cell">
            <img id="u2683_img" class="img " src="{{ url_for('static', filename='images/section6/u2669.png') }}"/>
            <div id="u2683_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2684" class="ax_default table_cell">
            <img id="u2684_img" class="img " src="{{ url_for('static', filename='images/section6/u2670.png') }}"/>
            <div id="u2684_text" class="text ">
                <p><span>V4</span></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2685" class="ax_default table_cell">
            <img id="u2685_img" class="img " src="{{ url_for('static', filename='images/section6/u2671.png') }}"/>
            <div id="u2685_text" class="text ">
                <p><span>Liquid</span></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2686" class="ax_default table_cell">
            <img id="u2686_img" class="img " src="{{ url_for('static', filename='images/section6/u2672.png') }}"/>
            <div id="u2686_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2687" class="ax_default table_cell">
            <img id="u2687_img" class="img " src="{{ url_for('static', filename='images/section6/u2673.png') }}"/>
            <div id="u2687_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2688" class="ax_default table_cell">
            <img id="u2688_img" class="img " src="{{ url_for('static', filename='images/section6/u2674.png') }}"/>
            <div id="u2688_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2689" class="ax_default table_cell">
            <img id="u2689_img" class="img " src="{{ url_for('static', filename='images/section6/u2675.png') }}"/>
            <div id="u2689_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2690" class="ax_default table_cell">
            <img id="u2690_img" class="img " src="{{ url_for('static', filename='images/section6/u2690.png') }}"/>
            <div id="u2690_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2691" class="ax_default table_cell">
            <img id="u2691_img" class="img " src="{{ url_for('static', filename='images/section6/u2691.png') }}"/>
            <div id="u2691_text" class="text ">
                <p><span>V5</span></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2692" class="ax_default table_cell">
            <img id="u2692_img" class="img " src="{{ url_for('static', filename='images/section6/u2692.png') }}"/>
            <div id="u2692_text" class="text ">
                <p><span>Liquid</span></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2693" class="ax_default table_cell">
            <img id="u2693_img" class="img " src="{{ url_for('static', filename='images/section6/u2693.png') }}"/>
            <div id="u2693_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2694" class="ax_default table_cell">
            <img id="u2694_img" class="img " src="{{ url_for('static', filename='images/section6/u2694.png') }}"/>
            <div id="u2694_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2695" class="ax_default table_cell">
            <img id="u2695_img" class="img " src="{{ url_for('static', filename='images/section6/u2695.png') }}"/>
            <div id="u2695_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2696" class="ax_default table_cell">
            <img id="u2696_img" class="img " src="{{ url_for('static', filename='images/section6/u2696.png') }}"/>
            <div id="u2696_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Checkbox) -->
    <div id="u2697" class="ax_default checkbox selected">
        <label id="u2697_input_label" for="u2697_input" style="position: absolute; left: 0px;">
            <img id="u2697_img" class="img "
                 src="{{ url_for('static', filename='images/section6/u2697_selected.svg') }}"/>
            <div id="u2697_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </label>
        <input id="u2697_input" type="checkbox" value="checkbox" checked/>
    </div>

    <!-- Unnamed (Checkbox) -->
    <div id="u2698" class="ax_default checkbox selected">
        <label id="u2698_input_label" for="u2698_input" style="position: absolute; left: 0px;">
            <img id="u2698_img" class="img "
                 src="{{ url_for('static', filename='images/section6/u2698_selected.svg') }}"/>
            <div id="u2698_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </label>
        <input id="u2698_input" type="checkbox" value="checkbox" checked/>
    </div>

    <!-- Unnamed (Checkbox) -->
    <div id="u2699" class="ax_default checkbox">
        <label id="u2699_input_label" for="u2699_input" style="position: absolute; left: 0px;">
            <img id="u2699_img" class="img " src="{{ url_for('static', filename='images/section6/u2699.svg') }}"/>
            <div id="u2699_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </label>
        <input id="u2699_input" type="checkbox" value="checkbox"/>
    </div>

    <!-- Unnamed (Checkbox) -->
    <div id="u2700" class="ax_default checkbox">
        <label id="u2700_input_label" for="u2700_input" style="position: absolute; left: 0px;">
            <img id="u2700_img" class="img " src="{{ url_for('static', filename='images/section6/u2700.svg') }}"/>
            <div id="u2700_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </label>
        <input id="u2700_input" type="checkbox" value="checkbox"/>
    </div>

    <!-- Unnamed (Checkbox) -->
    <div id="u2701" class="ax_default checkbox">
        <label id="u2701_input_label" for="u2701_input" style="position: absolute; left: 0px;">
            <img id="u2701_img" class="img " src="{{ url_for('static', filename='images/section6/u2701.svg') }}"/>
            <div id="u2701_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </label>
        <input id="u2701_input" type="checkbox" value="checkbox"/>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u2702" class="ax_default _段落">
        <div id="u2702_div" class=""></div>
        <div id="u2702_text" class="text ">
            <p><span>Legend:</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u2703" class="ax_default _段落">
        <div id="u2703_div" class=""></div>
        <div id="u2703_text" class="text ">
            <p><span>Hide</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u2704" class="ax_default _段落">
        <div id="u2704_div" class=""></div>
        <div id="u2704_text" class="text ">
            <p><span>Liquid:</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u2705" class="ax_default _段落">
        <div id="u2705_div" class=""></div>
        <div id="u2705_text" class="text ">
            <p><span>Liquid:</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u2706" class="ax_default _段落">
        <div id="u2706_div" class=""></div>
        <div id="u2706_text" class="text ">
            <p><span>Optimizer settings</span></p>
        </div>
    </div>

    <!-- Unnamed (Droplist) -->
    <div id="u2707" class="ax_default droplist">
        <div id="u2707_div" class=""></div>
        <select id="u2707_input" class="u2707_input">
        </select>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u2708" class="ax_default button">
        <div id="u2708_div" class=""></div>
        <div id="u2708_text" class="text ">
            <p><span>Hyperparameters</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u2709" class="ax_default _段落">
        <div id="u2709_div" class=""></div>
        <div id="u2709_text" class="text ">
            <p><span>Optimization control</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u2710" class="ax_default button">
        <div id="u2710_div" class=""></div>
        <div id="u2710_text" class="text ">
            <p><span>Optimize</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u2711" class="ax_default _段落">
        <div id="u2711_div" class=""></div>
        <div id="u2711_text" class="text ">
            <p><span>·Number of initial points：</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u2712" class="ax_default _段落">
        <div id="u2712_div" class=""></div>
        <div id="u2712_text" class="text ">
            <p><span>·Number of calls：</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u2713" class="ax_default _段落">
        <div id="u2713_div" class=""></div>
        <div id="u2713_text" class="text ">
            <p><span>·Vns search：</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u2714" class="ax_default _段落">
        <div id="u2714_div" class=""></div>
        <div id="u2714_text" class="text ">
            <p><span>·Initial mesh size：</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u2715" class="ax_default _段落">
        <div id="u2715_div" class=""></div>
        <div id="u2715_text" class="text ">
            <p><span>·Punishment coefficient：</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u2716" class="ax_default _段落">
        <div id="u2716_div" class=""></div>
        <div id="u2716_text" class="text ">
            <p><span>·Random state：</span></p>
        </div>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u2717" class="ax_default text_field">
        <div id="u2717_div" class=""></div>
        <input id="u2717_input" type="text" value="" class="u2717_input"/>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u2718" class="ax_default text_field">
        <div id="u2718_div" class=""></div>
        <input id="u2718_input" type="text" value="" class="u2718_input"/>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u2719" class="ax_default text_field">
        <div id="u2719_div" class=""></div>
        <input id="u2719_input" type="text" value="" class="u2719_input"/>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u2720" class="ax_default text_field">
        <div id="u2720_div" class=""></div>
        <input id="u2720_input" type="text" value="" class="u2720_input"/>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u2721" class="ax_default text_field">
        <div id="u2721_div" class=""></div>
        <input id="u2721_input" type="text" value="" class="u2721_input"/>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u2722" class="ax_default text_field">
        <div id="u2722_div" class=""></div>
        <input id="u2722_input" type="text" value="" class="u2722_input"/>
    </div>
</div>
<script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
</body>
</html>
