<!DOCTYPE html>
<html>
  <head>
    <title>section6</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/section6/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/section6/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u2554" class="ax_default box_1">
        <div id="u2554_div" class=""></div>
        <div id="u2554_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2555" class="ax_default box_1">
        <div id="u2555_div" class=""></div>
        <div id="u2555_text" class="text ">
          <p><span>&nbsp;&nbsp; &nbsp; Calphad Optimizer</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u2556" class="ax_default" data-left="206" data-top="12" data-width="51" data-height="22" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u2557" class="ax_default link_button">
          <div id="u2557_div" class=""></div>
          <div id="u2557_text" class="text ">
            <p><span>File</span></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u2558" class="ax_default icon">
          <img id="u2558_img" class="img " src="{{ url_for('static', filename='images/calphad_optimizer/u2069.svg') }}"/>
          <div id="u2558_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u2559" class="ax_default" data-left="278" data-top="12" data-width="58" data-height="22" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u2560" class="ax_default link_button">
          <div id="u2560_div" class=""></div>
          <div id="u2560_text" class="text ">
            <p><span>About</span></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u2561" class="ax_default icon">
          <img id="u2561_img" class="img " src="{{ url_for('static', filename='images/calphad_optimizer/u2069.svg') }}"/>
          <div id="u2561_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2562" class="ax_default link_button">
        <img id="u2562_img" class="img " src="{{ url_for('static', filename='images/section5/u2436.svg') }}"/>
        <div id="u2562_text" class="text ">
          <p><span>&nbsp;&nbsp;&nbsp; Optimizaztion</span></p>
        </div>
      </div>

      <!-- Unnamed (Menu) -->
      <div id="u2563" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
        <img id="u2563_menu" class="img " src="{{ url_for('static', filename='images/calphad_optimizer/u2081_menu.png') }}" alt="u2563_menu"/>

        <!-- Unnamed (Table) -->
        <div id="u2564" class="ax_default">

          <!-- Unnamed (Menu Item) -->
          <div id="u2565" class="ax_default menu_item">
            <img id="u2565_img" class="img " src="{{ url_for('static', filename='images/calphad_optimizer/u2083.png') }}"/>
            <div id="u2565_text" class="text ">
              <p><span>New Optimiation</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u2566" class="ax_default menu_item">
            <img id="u2566_img" class="img " src="{{ url_for('static', filename='images/calphad_optimizer/u2084.png') }}"/>
            <div id="u2566_text" class="text ">
              <p><span>Load Optimization</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u2567" class="ax_default menu_item">
            <img id="u2567_img" class="img " src="{{ url_for('static', filename='images/calphad_optimizer/u2084.png') }}"/>
            <div id="u2567_text" class="text ">
              <p><span>Save Optimization</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2568" class="ax_default link_button">
        <img id="u2568_img" class="img " src="{{ url_for('static', filename='images/section6/u2568.svg') }}"/>
        <div id="u2568_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2569" class="ax_default _二级标题">
        <div id="u2569_div" class=""></div>
        <div id="u2569_text" class="text ">
          <p><span style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">Selected experiments</span></p>
        </div>
      </div>

      <!-- Unnamed (Checkbox) -->
      <div id="u2570" class="ax_default checkbox">
        <label id="u2570_input_label" for="u2570_input" style="position: absolute; left: 0px;">
          <img id="u2570_img" class="img " src="{{ url_for('static', filename='images/section6/u2570.svg') }}"/>
          <div id="u2570_text" class="text ">
            <p><span>Activity of constituents in the liquid solution</span></p>
          </div>
        </label>
        <input id="u2570_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (Checkbox) -->
      <div id="u2571" class="ax_default checkbox">
        <label id="u2571_input_label" for="u2571_input" style="position: absolute; left: 0px;">
          <img id="u2571_img" class="img " src="{{ url_for('static', filename='images/section6/u2571.svg') }}"/>
          <div id="u2571_text" class="text ">
            <p><span>Eutectic Temperature</span></p>
          </div>
        </label>
        <input id="u2571_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (Checkbox) -->
      <div id="u2572" class="ax_default checkbox">
        <label id="u2572_input_label" for="u2572_input" style="position: absolute; left: 0px;">
          <img id="u2572_img" class="img " src="{{ url_for('static', filename='images/section6/u2572.svg') }}"/>
          <div id="u2572_text" class="text ">
            <p><span>Liquidus Temperature (SrCl2)</span></p>
          </div>
        </label>
        <input id="u2572_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (Checkbox) -->
      <div id="u2573" class="ax_default checkbox">
        <label id="u2573_input_label" for="u2573_input" style="position: absolute; left: 0px;">
          <img id="u2573_img" class="img " src="{{ url_for('static', filename='images/section6/u2573.svg') }}"/>
          <div id="u2573_text" class="text ">
            <p><span>Liquidus Temperature (NaCl)</span></p>
          </div>
        </label>
        <input id="u2573_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (Checkbox) -->
      <div id="u2574" class="ax_default checkbox">
        <label id="u2574_input_label" for="u2574_input" style="position: absolute; left: 0px;">
          <img id="u2574_img" class="img " src="{{ url_for('static', filename='images/section6/u2574.svg') }}"/>
          <div id="u2574_text" class="text ">
            <p><span>Heat of mixing of the liquid solution</span></p>
          </div>
        </label>
        <input id="u2574_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2575" class="ax_default _二级标题">
        <div id="u2575_div" class=""></div>
        <div id="u2575_text" class="text ">
          <p><span>Selected parameters</span></p>
        </div>
      </div>

      <!-- Unnamed (Table) -->
      <div id="u2576" class="ax_default">

        <!-- Unnamed (Table Cell) -->
        <div id="u2577" class="ax_default table_cell">
          <img id="u2577_img" class="img " src="{{ url_for('static', filename='images/section6/u2577.png') }}"/>
          <div id="u2577_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2578" class="ax_default table_cell">
          <img id="u2578_img" class="img " src="{{ url_for('static', filename='images/section6/u2578.png') }}"/>
          <div id="u2578_text" class="text ">
            <p><span>Variable</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2579" class="ax_default table_cell">
          <img id="u2579_img" class="img " src="{{ url_for('static', filename='images/section6/u2579.png') }}"/>
          <div id="u2579_text" class="text ">
            <p><span>Identifier</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2580" class="ax_default table_cell">
          <img id="u2580_img" class="img " src="{{ url_for('static', filename='images/section6/u2580.png') }}"/>
          <div id="u2580_text" class="text ">
            <p><span>Paramwter</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2581" class="ax_default table_cell">
          <img id="u2581_img" class="img " src="{{ url_for('static', filename='images/section6/u2581.png') }}"/>
          <div id="u2581_text" class="text ">
            <p><span>Value</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2582" class="ax_default table_cell">
          <img id="u2582_img" class="img " src="{{ url_for('static', filename='images/section6/u2582.png') }}"/>
          <div id="u2582_text" class="text ">
            <p><span>Minimum</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2583" class="ax_default table_cell">
          <img id="u2583_img" class="img " src="{{ url_for('static', filename='images/section6/u2583.png') }}"/>
          <div id="u2583_text" class="text ">
            <p><span>Maximum</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2584" class="ax_default table_cell">
          <img id="u2584_img" class="img " src="{{ url_for('static', filename='images/section6/u2584.png') }}"/>
          <div id="u2584_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2585" class="ax_default table_cell">
          <img id="u2585_img" class="img " src="{{ url_for('static', filename='images/section6/u2585.png') }}"/>
          <div id="u2585_text" class="text ">
            <p><span>V1</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2586" class="ax_default table_cell">
          <img id="u2586_img" class="img " src="{{ url_for('static', filename='images/section6/u2586.png') }}"/>
          <div id="u2586_text" class="text ">
            <p><span>NaCl(S)</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2587" class="ax_default table_cell">
          <img id="u2587_img" class="img " src="{{ url_for('static', filename='images/section6/u2587.png') }}"/>
          <div id="u2587_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2588" class="ax_default table_cell">
          <img id="u2588_img" class="img " src="{{ url_for('static', filename='images/section6/u2588.png') }}"/>
          <div id="u2588_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2589" class="ax_default table_cell">
          <img id="u2589_img" class="img " src="{{ url_for('static', filename='images/section6/u2589.png') }}"/>
          <div id="u2589_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2590" class="ax_default table_cell">
          <img id="u2590_img" class="img " src="{{ url_for('static', filename='images/section6/u2590.png') }}"/>
          <div id="u2590_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2591" class="ax_default table_cell">
          <img id="u2591_img" class="img " src="{{ url_for('static', filename='images/section6/u2591.png') }}"/>
          <div id="u2591_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2592" class="ax_default table_cell">
          <img id="u2592_img" class="img " src="{{ url_for('static', filename='images/section6/u2592.png') }}"/>
          <div id="u2592_text" class="text ">
            <p><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; V2</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2593" class="ax_default table_cell">
          <img id="u2593_img" class="img " src="{{ url_for('static', filename='images/section6/u2593.png') }}"/>
          <div id="u2593_text" class="text ">
            <p><span>Liquid</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2594" class="ax_default table_cell">
          <img id="u2594_img" class="img " src="{{ url_for('static', filename='images/section6/u2594.png') }}"/>
          <div id="u2594_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2595" class="ax_default table_cell">
          <img id="u2595_img" class="img " src="{{ url_for('static', filename='images/section6/u2595.png') }}"/>
          <div id="u2595_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2596" class="ax_default table_cell">
          <img id="u2596_img" class="img " src="{{ url_for('static', filename='images/section6/u2596.png') }}"/>
          <div id="u2596_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2597" class="ax_default table_cell">
          <img id="u2597_img" class="img " src="{{ url_for('static', filename='images/section6/u2597.png') }}"/>
          <div id="u2597_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2598" class="ax_default table_cell">
          <img id="u2598_img" class="img " src="{{ url_for('static', filename='images/section6/u2591.png') }}"/>
          <div id="u2598_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2599" class="ax_default table_cell">
          <img id="u2599_img" class="img " src="{{ url_for('static', filename='images/section6/u2592.png') }}"/>
          <div id="u2599_text" class="text ">
            <p><span>V3</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2600" class="ax_default table_cell">
          <img id="u2600_img" class="img " src="{{ url_for('static', filename='images/section6/u2593.png') }}"/>
          <div id="u2600_text" class="text ">
            <p><span>Liquid</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2601" class="ax_default table_cell">
          <img id="u2601_img" class="img " src="{{ url_for('static', filename='images/section6/u2594.png') }}"/>
          <div id="u2601_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2602" class="ax_default table_cell">
          <img id="u2602_img" class="img " src="{{ url_for('static', filename='images/section6/u2595.png') }}"/>
          <div id="u2602_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2603" class="ax_default table_cell">
          <img id="u2603_img" class="img " src="{{ url_for('static', filename='images/section6/u2596.png') }}"/>
          <div id="u2603_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2604" class="ax_default table_cell">
          <img id="u2604_img" class="img " src="{{ url_for('static', filename='images/section6/u2597.png') }}"/>
          <div id="u2604_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2605" class="ax_default table_cell">
          <img id="u2605_img" class="img " src="{{ url_for('static', filename='images/section6/u2591.png') }}"/>
          <div id="u2605_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2606" class="ax_default table_cell">
          <img id="u2606_img" class="img " src="{{ url_for('static', filename='images/section6/u2592.png') }}"/>
          <div id="u2606_text" class="text ">
            <p><span>V4</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2607" class="ax_default table_cell">
          <img id="u2607_img" class="img " src="{{ url_for('static', filename='images/section6/u2593.png') }}"/>
          <div id="u2607_text" class="text ">
            <p><span>Liquid</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2608" class="ax_default table_cell">
          <img id="u2608_img" class="img " src="{{ url_for('static', filename='images/section6/u2594.png') }}"/>
          <div id="u2608_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2609" class="ax_default table_cell">
          <img id="u2609_img" class="img " src="{{ url_for('static', filename='images/section6/u2595.png') }}"/>
          <div id="u2609_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2610" class="ax_default table_cell">
          <img id="u2610_img" class="img " src="{{ url_for('static', filename='images/section6/u2596.png') }}"/>
          <div id="u2610_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2611" class="ax_default table_cell">
          <img id="u2611_img" class="img " src="{{ url_for('static', filename='images/section6/u2597.png') }}"/>
          <div id="u2611_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2612" class="ax_default table_cell">
          <img id="u2612_img" class="img " src="{{ url_for('static', filename='images/section6/u2612.png') }}"/>
          <div id="u2612_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2613" class="ax_default table_cell">
          <img id="u2613_img" class="img " src="{{ url_for('static', filename='images/section6/u2613.png') }}"/>
          <div id="u2613_text" class="text ">
            <p><span>V5</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2614" class="ax_default table_cell">
          <img id="u2614_img" class="img " src="{{ url_for('static', filename='images/section6/u2614.png') }}"/>
          <div id="u2614_text" class="text ">
            <p><span>Liquid</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2615" class="ax_default table_cell">
          <img id="u2615_img" class="img " src="{{ url_for('static', filename='images/section6/u2615.png') }}"/>
          <div id="u2615_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2616" class="ax_default table_cell">
          <img id="u2616_img" class="img " src="{{ url_for('static', filename='images/section6/u2616.png') }}"/>
          <div id="u2616_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2617" class="ax_default table_cell">
          <img id="u2617_img" class="img " src="{{ url_for('static', filename='images/section6/u2617.png') }}"/>
          <div id="u2617_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u2618" class="ax_default table_cell">
          <img id="u2618_img" class="img " src="{{ url_for('static', filename='images/section6/u2618.png') }}"/>
          <div id="u2618_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Checkbox) -->
      <div id="u2619" class="ax_default checkbox selected">
        <label id="u2619_input_label" for="u2619_input" style="position: absolute; left: 0px;">
          <img id="u2619_img" class="img " src="{{ url_for('static', filename='images/section6/u2619_selected.svg') }}"/>
          <div id="u2619_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </label>
        <input id="u2619_input" type="checkbox" value="checkbox" checked/>
      </div>

      <!-- Unnamed (Checkbox) -->
      <div id="u2620" class="ax_default checkbox selected">
        <label id="u2620_input_label" for="u2620_input" style="position: absolute; left: 0px;">
          <img id="u2620_img" class="img " src="{{ url_for('static', filename='images/section6/u2620_selected.svg') }}"/>
          <div id="u2620_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </label>
        <input id="u2620_input" type="checkbox" value="checkbox" checked/>
      </div>

      <!-- Unnamed (Checkbox) -->
      <div id="u2621" class="ax_default checkbox">
        <label id="u2621_input_label" for="u2621_input" style="position: absolute; left: 0px;">
          <img id="u2621_img" class="img " src="{{ url_for('static', filename='images/section6/u2621.svg') }}"/>
          <div id="u2621_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </label>
        <input id="u2621_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (Checkbox) -->
      <div id="u2622" class="ax_default checkbox">
        <label id="u2622_input_label" for="u2622_input" style="position: absolute; left: 0px;">
          <img id="u2622_img" class="img " src="{{ url_for('static', filename='images/section6/u2622.svg') }}"/>
          <div id="u2622_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </label>
        <input id="u2622_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (Checkbox) -->
      <div id="u2623" class="ax_default checkbox">
        <label id="u2623_input_label" for="u2623_input" style="position: absolute; left: 0px;">
          <img id="u2623_img" class="img " src="{{ url_for('static', filename='images/section6/u2623.svg') }}"/>
          <div id="u2623_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </label>
        <input id="u2623_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2624" class="ax_default _段落">
        <div id="u2624_div" class=""></div>
        <div id="u2624_text" class="text ">
          <p><span>Legend:</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2625" class="ax_default _段落">
        <div id="u2625_div" class=""></div>
        <div id="u2625_text" class="text ">
          <p><span>Hide</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2626" class="ax_default _段落">
        <div id="u2626_div" class=""></div>
        <div id="u2626_text" class="text ">
          <p><span>Liquid:</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2627" class="ax_default _段落">
        <div id="u2627_div" class=""></div>
        <div id="u2627_text" class="text ">
          <p><span>Liquid:</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2628" class="ax_default _段落">
        <div id="u2628_div" class=""></div>
        <div id="u2628_text" class="text ">
          <p><span>Optimizer settings</span></p>
        </div>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u2629" class="ax_default droplist">
        <div id="u2629_div" class=""></div>
        <select id="u2629_input" class="u2629_input">
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2630" class="ax_default button">
        <div id="u2630_div" class=""></div>
        <div id="u2630_text" class="text ">
          <p><span>Hyperparameters</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2631" class="ax_default _段落">
        <div id="u2631_div" class=""></div>
        <div id="u2631_text" class="text ">
          <p><span>Optimization control</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2632" class="ax_default button">
        <div id="u2632_div" class=""></div>
        <div id="u2632_text" class="text ">
          <p><span>Optimize</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2633" class="ax_default _段落">
        <div id="u2633_div" class=""></div>
        <div id="u2633_text" class="text ">
          <p><span>·Number of initial points：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2634" class="ax_default _段落">
        <div id="u2634_div" class=""></div>
        <div id="u2634_text" class="text ">
          <p><span>·Number of calls：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2635" class="ax_default _段落">
        <div id="u2635_div" class=""></div>
        <div id="u2635_text" class="text ">
          <p><span>·Vns search：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2636" class="ax_default _段落">
        <div id="u2636_div" class=""></div>
        <div id="u2636_text" class="text ">
          <p><span>·Initial mesh size：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2637" class="ax_default _段落">
        <div id="u2637_div" class=""></div>
        <div id="u2637_text" class="text ">
          <p><span>·Punishment coefficient：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2638" class="ax_default _段落">
        <div id="u2638_div" class=""></div>
        <div id="u2638_text" class="text ">
          <p><span>·Random state：</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u2639" class="ax_default text_field">
        <div id="u2639_div" class=""></div>
        <input id="u2639_input" type="text" value="" class="u2639_input"/>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u2640" class="ax_default text_field">
        <div id="u2640_div" class=""></div>
        <input id="u2640_input" type="text" value="" class="u2640_input"/>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u2641" class="ax_default text_field">
        <div id="u2641_div" class=""></div>
        <input id="u2641_input" type="text" value="" class="u2641_input"/>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u2642" class="ax_default text_field">
        <div id="u2642_div" class=""></div>
        <input id="u2642_input" type="text" value="" class="u2642_input"/>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u2643" class="ax_default text_field">
        <div id="u2643_div" class=""></div>
        <input id="u2643_input" type="text" value="" class="u2643_input"/>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u2644" class="ax_default text_field">
        <div id="u2644_div" class=""></div>
        <input id="u2644_input" type="text" value="" class="u2644_input"/>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
