<!DOCTYPE html>
<html>
  <head>
    <title>select_chemsage_page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/select_chemsage_page/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/select_chemsage_page/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- background (Rectangle) -->
      <div id="u12368" class="ax_default box_2" data-label="background">
        <div id="u12368_div" class=""></div>
        <div id="u12368_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!--  file_name_text (Text Field) -->
      <div id="u12369" class="ax_default text_field" data-label="&nbsp;file_name_text">
        <div id="u12369_div" class=""></div>
        <input id="u12369_input" type="text" value="" class="u12369_input"/>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u12370" class="ax_default box_1">
        <img id="u12370_img" class="img " src="{{ url_for('static', filename='images/save_optisage_page/u12202.svg') }}"/>
        <div id="u12370_text" class="text ">
          <p><span>Look in：</span></p>
        </div>
      </div>

      <!-- type_panel (Dynamic Panel) -->
      <div id="u12371" class="ax_default" data-label="type_panel">
        <div id="u12371_state0" class="panel_state" data-label="Default" style="">
          <div id="u12371_state0_content" class="panel_state_content">
          </div>
        </div>
        <div id="u12371_state1" class="panel_state" data-label="Layout_Chem" style="visibility: hidden;">
          <div id="u12371_state1_content" class="panel_state_content">

            <!-- Type Table Repeater (Repeater) -->
            <div id="u12372" class="ax_default" data-label="Type Table Repeater">
              <script id="u12372_script" type="axure-repeater-template" data-label="Type Table Repeater">

                <!-- file_type (Rectangle) -->
                <div id="u12373" class="ax_default box_1 u12373" data-label="file_type">
                  <div id="u12373_div" class="u12373_div"></div>
                  <div id="u12373_text" class="text u12373_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </script>
              <div id="u12372-1" class="preeval" style="width: 299px; height: 30px;">

                <!-- file_type (Rectangle) -->
                <div id="u12373-1" class="ax_default box_1 u12373" data-label="file_type" style="width: 299px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u12373-1_div" class="u12373_div" style="width: 299px; height: 30px;visibility: inherit"></div>
                  <div id="u12373-1_text" class="text u12373_text" style="visibility: inherit">
                    <p><span>ChemSage ASICII files(*.dat)</span></p>
                  </div>
                </div>
              </div>
              <div id="u12372-2" class="preeval" style="width: 299px; height: 30px;">

                <!-- file_type (Rectangle) -->
                <div id="u12373-2" class="ax_default box_1 u12373" data-label="file_type" style="width: 299px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u12373-2_div" class="u12373_div" style="width: 299px; height: 30px;visibility: inherit"></div>
                  <div id="u12373-2_text" class="text u12373_text" style="visibility: inherit">
                    <p><span>ChemSage binary files(*.bin)</span></p>
                  </div>
                </div>
              </div>
              <div id="u12372-3" class="preeval" style="width: 299px; height: 30px;">

                <!-- file_type (Rectangle) -->
                <div id="u12373-3" class="ax_default box_1 u12373" data-label="file_type" style="width: 299px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u12373-3_div" class="u12373_div" style="width: 299px; height: 30px;visibility: inherit"></div>
                  <div id="u12373-3_text" class="text u12373_text" style="visibility: inherit">
                    <p><span>ChemSage transparant files(*.cst)</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="u12371_state2" class="panel_state" data-label="Layout_Opti" style="visibility: hidden;">
          <div id="u12371_state2_content" class="panel_state_content">

            <!-- Table Repeater (Repeater) -->
            <div id="u12374" class="ax_default" data-label="Table Repeater">
              <script id="u12374_script" type="axure-repeater-template" data-label="Table Repeater">

                <!-- Unnamed (Rectangle) -->
                <div id="u12375" class="ax_default box_1 u12375">
                  <div id="u12375_div" class="u12375_div"></div>
                  <div id="u12375_text" class="text u12375_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </script>
              <div id="u12374-1" class="preeval" style="width: 297px; height: 20px;">

                <!-- Unnamed (Rectangle) -->
                <div id="u12375-1" class="ax_default box_1 u12375" style="width: 297px; height: 20px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u12375-1_div" class="u12375_div" style="width: 297px; height: 20px;visibility: inherit"></div>
                  <div id="u12375-1_text" class="text u12375_text" style="visibility: inherit">
                    <p><span>OptiSage files(*.opt)</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- file_panel (Dynamic Panel) -->
      <div id="u12376" class="ax_default" data-label="file_panel">
        <div id="u12376_state0" class="panel_state" data-label="chemsage_file" style="">
          <div id="u12376_state0_content" class="panel_state_content">

            <!-- File Table Repeater (Repeater) -->
            <div id="u12377" class="ax_default" data-label="File Table Repeater">
              <script id="u12377_script" type="axure-repeater-template" data-label="File Table Repeater">

                <!-- file_name (Rectangle) -->
                <div id="u12378" class="ax_default box_1 u12378" data-label="file_name">
                  <div id="u12378_div" class="u12378_div"></div>
                  <div id="u12378_text" class="text u12378_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </script>
              <div id="u12377-1" class="preeval" style="width: 276px; height: 30px;">

                <!-- file_name (Rectangle) -->
                <div id="u12378-1" class="ax_default box_1 u12378" data-label="file_name" style="width: 276px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u12378-1_div" class="u12378_div" style="width: 276px; height: 30px;visibility: inherit"></div>
                  <div id="u12378-1_text" class="text u12378_text" style="visibility: inherit">
                    <p><span>Nacl_SrCl2.dat</span></p>
                  </div>
                </div>
              </div>
              <div id="u12377-2" class="preeval" style="width: 276px; height: 30px;">

                <!-- file_name (Rectangle) -->
                <div id="u12378-2" class="ax_default box_1 u12378" data-label="file_name" style="width: 276px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u12378-2_div" class="u12378_div" style="width: 276px; height: 30px;visibility: inherit"></div>
                  <div id="u12378-2_text" class="text u12378_text" style="visibility: inherit">
                    <p><span>Nacl_SrCl2.bin</span></p>
                  </div>
                </div>
              </div>
              <div id="u12377-3" class="preeval" style="width: 276px; height: 30px;">

                <!-- file_name (Rectangle) -->
                <div id="u12378-3" class="ax_default box_1 u12378" data-label="file_name" style="width: 276px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u12378-3_div" class="u12378_div" style="width: 276px; height: 30px;visibility: inherit"></div>
                  <div id="u12378-3_text" class="text u12378_text" style="visibility: inherit">
                    <p><span>Nacl_SrCl2.cst</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="u12376_state1" class="panel_state" data-label="opti_file" style="visibility: hidden;">
          <div id="u12376_state1_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- file_sign (Shape) -->
      <div id="u12379" class="ax_default icon" data-label="file_sign">
        <img id="u12379_img" class="img " src="{{ url_for('static', filename='images/save_optisage_page/file_sign_u12213.svg') }}"/>
        <div id="u12379_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- search_text (Text Field) -->
      <div id="u12380" class="ax_default text_field" data-label="search_text">
        <div id="u12380_div" class=""></div>
        <input id="u12380_input" type="text" value="ChemSage" class="u12380_input"/>
      </div>

      <!-- search_panel (Dynamic Panel) -->
      <div id="u12381" class="ax_default ax_default_hidden" data-label="search_panel" style="display:none; visibility: hidden">
        <div id="u12381_state0" class="panel_state" data-label="empty_state" style="">
          <div id="u12381_state0_content" class="panel_state_content">
          </div>
        </div>
        <div id="u12381_state1" class="panel_state" data-label="search_state" style="visibility: hidden;">
          <div id="u12381_state1_content" class="panel_state_content">

            <!-- Search Table Repeater (Repeater) -->
            <div id="u12382" class="ax_default" data-label="Search Table Repeater">
              <script id="u12382_script" type="axure-repeater-template" data-label="Search Table Repeater">

                <!-- file_name (Rectangle) -->
                <div id="u12383" class="ax_default box_1 u12383" data-label="file_name">
                  <div id="u12383_div" class="u12383_div"></div>
                  <div id="u12383_text" class="text u12383_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </script>
              <div id="u12382-1" class="preeval" style="width: 371px; height: 30px;">

                <!-- file_name (Rectangle) -->
                <div id="u12383-1" class="ax_default box_1 u12383" data-label="file_name" style="width: 371px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u12383-1_div" class="u12383_div" style="width: 371px; height: 30px;visibility: inherit"></div>
                  <div id="u12383-1_text" class="text u12383_text" style="visibility: inherit">
                    <p><span>ChemSage</span></p>
                  </div>
                </div>
              </div>
              <div id="u12382-2" class="preeval" style="width: 371px; height: 30px;">

                <!-- file_name (Rectangle) -->
                <div id="u12383-2" class="ax_default box_1 u12383" data-label="file_name" style="width: 371px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u12383-2_div" class="u12383_div" style="width: 371px; height: 30px;visibility: inherit"></div>
                  <div id="u12383-2_text" class="text u12383_text" style="visibility: inherit">
                    <p><span>OptiFile</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- file_type_enum (Rectangle) -->
      <div id="u12384" class="ax_default box_1" data-label="file_type_enum">
        <div id="u12384_div" class=""></div>
        <div id="u12384_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u12385" class="ax_default box_1">
        <img id="u12385_img" class="img " src="{{ url_for('static', filename='images/save_optisage_page/u12219.svg') }}"/>
        <div id="u12385_text" class="text ">
          <p><span>File name:</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u12386" class="ax_default box_1">
        <img id="u12386_img" class="img " src="{{ url_for('static', filename='images/save_optisage_page/u12219.svg') }}"/>
        <div id="u12386_text" class="text ">
          <p><span>Files of type:</span></p>
        </div>
      </div>

      <!-- Head (Rectangle) -->
      <div id="u12387" class="ax_default box_3" data-label="Head">
        <div id="u12387_div" class=""></div>
        <div id="u12387_text" class="text ">
          <p><span>Add Chemsage file</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u12388" class="ax_default box_1">
        <img id="u12388_img" class="img " src="{{ url_for('static', filename='images/save_optisage_page/u12222.svg') }}"/>
        <div id="u12388_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u12389" class="ax_default" data-left="1738" data-top="48" data-width="57" data-height="19" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u12390" class="ax_default box_1">
          <div id="u12390_div" class=""></div>
          <div id="u12390_text" class="text ">
            <p><span>Search</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u12391" class="ax_default" data-left="1698" data-top="333" data-width="57" data-height="19" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u12392" class="ax_default box_1">
          <div id="u12392_div" class=""></div>
          <div id="u12392_text" class="text ">
            <p><span>Search</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u12393" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="1718" data-top="53" data-width="9" data-height="9" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u12394" class="ax_default box_1">
          <img id="u12394_img" class="img " src="{{ url_for('static', filename='images/save_optisage_page/u12226.svg') }}"/>
          <div id="u12394_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u12395" class="ax_default box_1">
          <img id="u12395_img" class="img " src="{{ url_for('static', filename='images/save_optisage_page/u12227.svg') }}"/>
          <div id="u12395_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u12396" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="1667" data-top="338" data-width="9" data-height="9" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u12397" class="ax_default box_1">
          <img id="u12397_img" class="img " src="{{ url_for('static', filename='images/save_optisage_page/u12226.svg') }}"/>
          <div id="u12397_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u12398" class="ax_default box_1">
          <img id="u12398_img" class="img " src="{{ url_for('static', filename='images/save_optisage_page/u12227.svg') }}"/>
          <div id="u12398_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- 背景 (Dynamic Panel) -->
      <div id="u12399" class="ax_default" data-label="背景">
        <div id="u12399_state0" class="panel_state" data-label="1" style="">
          <div id="u12399_state0_content" class="panel_state_content">
          </div>
        </div>
        <div id="u12399_state1" class="panel_state" data-label="2" style="visibility: hidden;">
          <div id="u12399_state1_content" class="panel_state_content">
          </div>
        </div>
        <div id="u12399_state2" class="panel_state" data-label="3" style="visibility: hidden;">
          <div id="u12399_state2_content" class="panel_state_content">
          </div>
        </div>
        <div id="u12399_state3" class="panel_state" data-label="4" style="visibility: hidden;">
          <div id="u12399_state3_content" class="panel_state_content">
          </div>
        </div>
        <div id="u12399_state4" class="panel_state" data-label="5" style="visibility: hidden;">
          <div id="u12399_state4_content" class="panel_state_content">
          </div>
        </div>
        <div id="u12399_state5" class="panel_state" data-label="6" style="visibility: hidden;">
          <div id="u12399_state5_content" class="panel_state_content">
          </div>
        </div>
        <div id="u12399_state6" class="panel_state" data-label="7" style="visibility: hidden;">
          <div id="u12399_state6_content" class="panel_state_content">
          </div>
        </div>
        <div id="u12399_state7" class="panel_state" data-label="8" style="visibility: hidden;">
          <div id="u12399_state7_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u12400" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u12401" class="ax_default box_1">
          <img id="u12401_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
          <div id="u12401_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u12402" class="ax_default box_1">
          <img id="u12402_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
          <div id="u12402_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u12403" class="ax_default box_1 selected">
        <div id="u12403_div" class="selected"></div>
        <div id="u12403_text" class="text ">
          <p><span>Open ChemSage Files</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u12404" class="ax_default box_1">
        <div id="u12404_div" class=""></div>
        <div id="u12404_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u12405" class="ax_default box_1">
        <div id="u12405_div" class=""></div>
        <div id="u12405_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u12406" class="ax_default line">
        <img id="u12406_img" class="img " src="{{ url_for('static', filename='images/反应物/u2998.svg') }}"/>
        <div id="u12406_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u12407" class="ax_default" data-left="154" data-top="60" data-width="502" data-height="25" layer-opacity="1">

        <!-- Unnamed (Text Field) -->
        <div id="u12408" class="ax_default text_field">
          <div id="u12408_div" class=""></div>
          <input id="u12408_input" type="text" value="ChemSageFile" class="u12408_input"/>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u12409" class="ax_default box_1">
          <img id="u12409_img" class="img " src="{{ url_for('static', filename='images/反应物/u2990.svg') }}"/>
          <div id="u12409_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u12410" class="ax_default" data-left="633" data-top="68" data-width="12" data-height="10" layer-opacity="1">

          <!-- Unnamed (Shape) -->
          <div id="u12411" class="ax_default box_1">
            <img id="u12411_img" class="img " src="{{ url_for('static', filename='images/反应物/u3003.svg') }}"/>
            <div id="u12411_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u12412" class="ax_default box_1">
            <img id="u12412_img" class="img " src="{{ url_for('static', filename='images/反应物/u3004.svg') }}"/>
            <div id="u12412_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Right Arrow) -->
      <div id="u12413" class="ax_default _形状">
        <img id="u12413_img" class="img " src="{{ url_for('static', filename='images/反应物/u3005.svg') }}"/>
        <div id="u12413_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u12414" class="ax_default box_1">
        <img id="u12414_img" class="img " src="{{ url_for('static', filename='images/反应物/u3006.svg') }}"/>
        <div id="u12414_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Right Arrow) -->
      <div id="u12415" class="ax_default _形状">
        <img id="u12415_img" class="img " src="{{ url_for('static', filename='images/反应物/u3007.svg') }}"/>
        <div id="u12415_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u12416" class="ax_default" data-left="679" data-top="61" data-width="97" data-height="25" layer-opacity="1">

        <!-- Unnamed (Text Field) -->
        <div id="u12417" class="ax_default text_field">
          <div id="u12417_div" class=""></div>
          <input id="u12417_input" type="text" value="" class="u12417_input"/>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u12418" class="ax_default" data-left="757" data-top="67" data-width="14" data-height="14" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u12419" class="ax_default box_1">
          <img id="u12419_img" class="img " src="{{ url_for('static', filename='images/反应物/u3011.svg') }}"/>
          <div id="u12419_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u12420" class="ax_default box_1">
          <img id="u12420_img" class="img " src="{{ url_for('static', filename='images/反应物/u3012.svg') }}"/>
          <div id="u12420_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Right Arrow) -->
      <div id="u12421" class="ax_default _形状">
        <img id="u12421_img" class="img " src="{{ url_for('static', filename='images/反应物/u3005.svg') }}"/>
        <div id="u12421_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Dynamic Panel) -->
      <div id="u12422" class="ax_default">
        <div id="u12422_state0" class="panel_state" data-label="State 1" style="">
          <div id="u12422_state0_content" class="panel_state_content">

            <!-- Unnamed (Dynamic Panel) -->
            <div id="u12423" class="ax_default">
              <div id="u12423_state0" class="panel_state" data-label="State 1" style="">
                <div id="u12423_state0_content" class="panel_state_content">

                  <!-- Unnamed (Rectangle) -->
                  <div id="u12424" class="ax_default _段落">
                    <div id="u12424_div" class=""></div>
                    <div id="u12424_text" class="text ">
                      <p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span><br></span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- file_name_text_new (Droplist) -->
      <div id="u12425" class="ax_default box_1" data-label="file_name_text_new">
        <div id="u12425_div" class=""></div>
        <select id="u12425_input" class="u12425_input">
          <option class="u12425_input_option" value="Nacl_SrCl2.dat">Nacl_SrCl2.dat</option>
          <option class="u12425_input_option" value="Nacl_SrCl2.bin">Nacl_SrCl2.bin</option>
          <option class="u12425_input_option" value="Nacl_SrCl2.cst">Nacl_SrCl2.cst</option>
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u12426" class="ax_default _三级标题">
        <div id="u12426_div" class=""></div>
        <div id="u12426_text" class="text ">
          <p><span>Name:</span></p>
        </div>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u12427" class="ax_default box_1">
        <div id="u12427_div" class=""></div>
        <select id="u12427_input" class="u12427_input">
          <option class="u12427_input_option" selected value="ChemSage ASICII files(*.dat)">ChemSage ASICII files(*.dat)</option>
          <option class="u12427_input_option" value="ChemSage binary files(*.bin)">ChemSage binary files(*.bin)</option>
          <option class="u12427_input_option" value="ChemSage transparant files(*.cst)">ChemSage transparant files(*.cst)</option>
        </select>
      </div>

      <!-- file_panel (Dynamic Panel) -->
      <div id="u12428" class="ax_default" data-label="file_panel">
        <div id="u12428_state0" class="panel_state" data-label="chemsage_file" style="">
          <div id="u12428_state0_content" class="panel_state_content">

            <!-- File Table Repeater (Repeater) -->
            <div id="u12429" class="ax_default" data-label="File Table Repeater">
              <script id="u12429_script" type="axure-repeater-template" data-label="File Table Repeater">

                <!-- file_name (Rectangle) -->
                <div id="u12430" class="ax_default box_1 u12430" data-label="file_name">
                  <div id="u12430_div" class="u12430_div"></div>
                  <div id="u12430_text" class="text u12430_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </script>
              <div id="u12429-1" class="preeval" style="width: 276px; height: 30px;">

                <!-- file_name (Rectangle) -->
                <div id="u12430-1" class="ax_default box_1 u12430" data-label="file_name" style="width: 276px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u12430-1_div" class="u12430_div" style="width: 276px; height: 30px;visibility: inherit"></div>
                  <div id="u12430-1_text" class="text u12430_text" style="visibility: inherit">
                    <p><span>Nacl_SrCl2.dat</span></p>
                  </div>
                </div>
              </div>
              <div id="u12429-2" class="preeval" style="width: 276px; height: 30px;">

                <!-- file_name (Rectangle) -->
                <div id="u12430-2" class="ax_default box_1 u12430" data-label="file_name" style="width: 276px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u12430-2_div" class="u12430_div" style="width: 276px; height: 30px;visibility: inherit"></div>
                  <div id="u12430-2_text" class="text u12430_text" style="visibility: inherit">
                    <p><span>Nacl_SrCl2.bin</span></p>
                  </div>
                </div>
              </div>
              <div id="u12429-3" class="preeval" style="width: 276px; height: 30px;">

                <!-- file_name (Rectangle) -->
                <div id="u12430-3" class="ax_default box_1 u12430" data-label="file_name" style="width: 276px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u12430-3_div" class="u12430_div" style="width: 276px; height: 30px;visibility: inherit"></div>
                  <div id="u12430-3_text" class="text u12430_text" style="visibility: inherit">
                    <p><span>Nacl_SrCl2.cst</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
