<!DOCTYPE html>
<html>
  <head>
    <title>select_optisage_page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/select_optisage_page/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/select_optisage_page/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- background (Rectangle) -->
      <div id="u12936" class="ax_default box_2" data-label="background">
        <div id="u12936_div" class=""></div>
        <div id="u12936_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!--  file_name_text (Text Field) -->
      <div id="u12937" class="ax_default text_field" data-label="&nbsp;file_name_text">
        <div id="u12937_div" class=""></div>
        <input id="u12937_input" type="text" value="" class="u12937_input"/>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u12938" class="ax_default box_1">
        <img id="u12938_img" class="img " src="{{ url_for('static', filename='images/select_optisage_page/u12938.svg') }}"/>
        <div id="u12938_text" class="text ">
          <p><span>Look in：</span></p>
        </div>
      </div>

      <!-- type_panel (Dynamic Panel) -->
      <div id="u12939" class="ax_default" data-label="type_panel">
        <div id="u12939_state0" class="panel_state" data-label="Default" style="">
          <div id="u12939_state0_content" class="panel_state_content">
          </div>
        </div>
        <div id="u12939_state1" class="panel_state" data-label="Layout_Chem" style="visibility: hidden;">
          <div id="u12939_state1_content" class="panel_state_content">

            <!-- Type Table Repeater (Repeater) -->
            <div id="u12940" class="ax_default" data-label="Type Table Repeater">
              <script id="u12940_script" type="axure-repeater-template" data-label="Type Table Repeater">

                <!-- file_type (Rectangle) -->
                <div id="u12941" class="ax_default box_1 u12941" data-label="file_type">
                  <div id="u12941_div" class="u12941_div"></div>
                  <div id="u12941_text" class="text u12941_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </script>
              <div id="u12940-1" class="preeval" style="width: 299px; height: 30px;">

                <!-- file_type (Rectangle) -->
                <div id="u12941-1" class="ax_default box_1 u12941" data-label="file_type" style="width: 299px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u12941-1_div" class="u12941_div" style="width: 299px; height: 30px;visibility: inherit"></div>
                  <div id="u12941-1_text" class="text u12941_text" style="visibility: inherit">
                    <p><span>ChemSage ASICII files(*.dat)</span></p>
                  </div>
                </div>
              </div>
              <div id="u12940-2" class="preeval" style="width: 299px; height: 30px;">

                <!-- file_type (Rectangle) -->
                <div id="u12941-2" class="ax_default box_1 u12941" data-label="file_type" style="width: 299px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u12941-2_div" class="u12941_div" style="width: 299px; height: 30px;visibility: inherit"></div>
                  <div id="u12941-2_text" class="text u12941_text" style="visibility: inherit">
                    <p><span>ChemSage binary files(*.bin)</span></p>
                  </div>
                </div>
              </div>
              <div id="u12940-3" class="preeval" style="width: 299px; height: 30px;">

                <!-- file_type (Rectangle) -->
                <div id="u12941-3" class="ax_default box_1 u12941" data-label="file_type" style="width: 299px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u12941-3_div" class="u12941_div" style="width: 299px; height: 30px;visibility: inherit"></div>
                  <div id="u12941-3_text" class="text u12941_text" style="visibility: inherit">
                    <p><span>ChemSage transparant files(*.cst)</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="u12939_state2" class="panel_state" data-label="Layout_Opti" style="visibility: hidden;">
          <div id="u12939_state2_content" class="panel_state_content">

            <!-- Table Repeater (Repeater) -->
            <div id="u12942" class="ax_default" data-label="Table Repeater">
              <script id="u12942_script" type="axure-repeater-template" data-label="Table Repeater">

                <!-- Unnamed (Rectangle) -->
                <div id="u12943" class="ax_default box_1 u12943">
                  <div id="u12943_div" class="u12943_div"></div>
                  <div id="u12943_text" class="text u12943_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </script>
              <div id="u12942-1" class="preeval" style="width: 297px; height: 20px;">

                <!-- Unnamed (Rectangle) -->
                <div id="u12943-1" class="ax_default box_1 u12943" style="width: 297px; height: 20px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u12943-1_div" class="u12943_div" style="width: 297px; height: 20px;visibility: inherit"></div>
                  <div id="u12943-1_text" class="text u12943_text" style="visibility: inherit">
                    <p><span>OptiSage files(*.opt)</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- file_panel (Dynamic Panel) -->
      <div id="u12944" class="ax_default" data-label="file_panel">
        <div id="u12944_state0" class="panel_state" data-label="chemsage_file" style="">
          <div id="u12944_state0_content" class="panel_state_content">

            <!-- File Table Repeater (Repeater) -->
            <div id="u12945" class="ax_default" data-label="File Table Repeater">
              <script id="u12945_script" type="axure-repeater-template" data-label="File Table Repeater">

                <!-- file_name (Rectangle) -->
                <div id="u12946" class="ax_default box_1 u12946" data-label="file_name">
                  <div id="u12946_div" class="u12946_div"></div>
                  <div id="u12946_text" class="text u12946_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </script>
              <div id="u12945-1" class="preeval" style="width: 276px; height: 30px;">

                <!-- file_name (Rectangle) -->
                <div id="u12946-1" class="ax_default box_1 u12946" data-label="file_name" style="width: 276px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u12946-1_div" class="u12946_div" style="width: 276px; height: 30px;visibility: inherit"></div>
                  <div id="u12946-1_text" class="text u12946_text" style="visibility: inherit">
                    <p><span>Nacl_SrCl2.dat</span></p>
                  </div>
                </div>
              </div>
              <div id="u12945-2" class="preeval" style="width: 276px; height: 30px;">

                <!-- file_name (Rectangle) -->
                <div id="u12946-2" class="ax_default box_1 u12946" data-label="file_name" style="width: 276px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u12946-2_div" class="u12946_div" style="width: 276px; height: 30px;visibility: inherit"></div>
                  <div id="u12946-2_text" class="text u12946_text" style="visibility: inherit">
                    <p><span>Nacl_SrCl2.bin</span></p>
                  </div>
                </div>
              </div>
              <div id="u12945-3" class="preeval" style="width: 276px; height: 30px;">

                <!-- file_name (Rectangle) -->
                <div id="u12946-3" class="ax_default box_1 u12946" data-label="file_name" style="width: 276px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u12946-3_div" class="u12946_div" style="width: 276px; height: 30px;visibility: inherit"></div>
                  <div id="u12946-3_text" class="text u12946_text" style="visibility: inherit">
                    <p><span>Nacl_SrCl2.cst</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="u12944_state1" class="panel_state" data-label="opti_file" style="visibility: hidden;">
          <div id="u12944_state1_content" class="panel_state_content">

            <!-- Table Repeater (Repeater) -->
            <div id="u12947" class="ax_default" data-label="Table Repeater">
              <script id="u12947_script" type="axure-repeater-template" data-label="Table Repeater">

                <!-- Unnamed (Rectangle) -->
                <div id="u12948" class="ax_default box_1 u12948">
                  <div id="u12948_div" class="u12948_div"></div>
                  <div id="u12948_text" class="text u12948_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </script>
              <div id="u12947-1" class="preeval" style="width: 282px; height: 30px;">

                <!-- Unnamed (Rectangle) -->
                <div id="u12948-1" class="ax_default box_1 u12948" style="width: 282px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u12948-1_div" class="u12948_div" style="width: 282px; height: 30px;visibility: inherit"></div>
                  <div id="u12948-1_text" class="text u12948_text" style="visibility: inherit">
                    <p><span>OptiSageFile.opt</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- file_sign (Shape) -->
      <div id="u12949" class="ax_default icon" data-label="file_sign">
        <img id="u12949_img" class="img " src="{{ url_for('static', filename='images/select_optisage_page/file_sign_u12949.svg') }}"/>
        <div id="u12949_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- search_text (Text Field) -->
      <div id="u12950" class="ax_default text_field" data-label="search_text">
        <div id="u12950_div" class=""></div>
        <input id="u12950_input" type="text" value="ChemSage" class="u12950_input"/>
      </div>

      <!-- search_panel (Dynamic Panel) -->
      <div id="u12951" class="ax_default ax_default_hidden" data-label="search_panel" style="display:none; visibility: hidden">
        <div id="u12951_state0" class="panel_state" data-label="empty_state" style="">
          <div id="u12951_state0_content" class="panel_state_content">
          </div>
        </div>
        <div id="u12951_state1" class="panel_state" data-label="search_state" style="visibility: hidden;">
          <div id="u12951_state1_content" class="panel_state_content">

            <!-- Search Table Repeater (Repeater) -->
            <div id="u12952" class="ax_default" data-label="Search Table Repeater">
              <script id="u12952_script" type="axure-repeater-template" data-label="Search Table Repeater">

                <!-- file_name (Rectangle) -->
                <div id="u12953" class="ax_default box_1 u12953" data-label="file_name">
                  <div id="u12953_div" class="u12953_div"></div>
                  <div id="u12953_text" class="text u12953_text" style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </script>
              <div id="u12952-1" class="preeval" style="width: 371px; height: 30px;">

                <!-- file_name (Rectangle) -->
                <div id="u12953-1" class="ax_default box_1 u12953" data-label="file_name" style="width: 371px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u12953-1_div" class="u12953_div" style="width: 371px; height: 30px;visibility: inherit"></div>
                  <div id="u12953-1_text" class="text u12953_text" style="visibility: inherit">
                    <p><span>ChemSage</span></p>
                  </div>
                </div>
              </div>
              <div id="u12952-2" class="preeval" style="width: 371px; height: 30px;">

                <!-- file_name (Rectangle) -->
                <div id="u12953-2" class="ax_default box_1 u12953" data-label="file_name" style="width: 371px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                  <div id="u12953-2_div" class="u12953_div" style="width: 371px; height: 30px;visibility: inherit"></div>
                  <div id="u12953-2_text" class="text u12953_text" style="visibility: inherit">
                    <p><span>OptiFile</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- file_type_enum (Rectangle) -->
      <div id="u12954" class="ax_default box_1" data-label="file_type_enum">
        <div id="u12954_div" class=""></div>
        <div id="u12954_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u12955" class="ax_default box_1">
        <img id="u12955_img" class="img " src="{{ url_for('static', filename='images/select_optisage_page/u12955.svg') }}"/>
        <div id="u12955_text" class="text ">
          <p><span>File name:</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u12956" class="ax_default box_1">
        <img id="u12956_img" class="img " src="{{ url_for('static', filename='images/select_optisage_page/u12955.svg') }}"/>
        <div id="u12956_text" class="text ">
          <p><span>Files of type:</span></p>
        </div>
      </div>

      <!-- Head (Rectangle) -->
      <div id="u12957" class="ax_default box_3" data-label="Head">
        <div id="u12957_div" class=""></div>
        <div id="u12957_text" class="text ">
          <p><span>Add optisage file</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u12958" class="ax_default box_1">
        <img id="u12958_img" class="img " src="{{ url_for('static', filename='images/select_optisage_page/u12958.svg') }}"/>
        <div id="u12958_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u12959" class="ax_default" data-left="1961" data-top="48" data-width="92" data-height="19" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u12960" class="ax_default box_1">
          <div id="u12960_div" class=""></div>
          <div id="u12960_text" class="text ">
            <p><span>Search</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u12961" class="ax_default" data-left="1897" data-top="336" data-width="92" data-height="19" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u12962" class="ax_default box_1">
          <div id="u12962_div" class=""></div>
          <div id="u12962_text" class="text ">
            <p><span>Search</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u12963" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="1929" data-top="53" data-width="14" data-height="9" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u12964" class="ax_default box_1">
          <img id="u12964_img" class="img " src="{{ url_for('static', filename='images/select_optisage_page/u12964.svg') }}"/>
          <div id="u12964_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u12965" class="ax_default box_1">
          <img id="u12965_img" class="img " src="{{ url_for('static', filename='images/select_optisage_page/u12965.svg') }}"/>
          <div id="u12965_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u12966" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="1847" data-top="341" data-width="14" data-height="9" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u12967" class="ax_default box_1">
          <img id="u12967_img" class="img " src="{{ url_for('static', filename='images/select_optisage_page/u12967.svg') }}"/>
          <div id="u12967_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u12968" class="ax_default box_1">
          <img id="u12968_img" class="img " src="{{ url_for('static', filename='images/select_optisage_page/u12968.svg') }}"/>
          <div id="u12968_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- 背景 (Dynamic Panel) -->
      <div id="u12969" class="ax_default" data-label="背景">
        <div id="u12969_state0" class="panel_state" data-label="1" style="">
          <div id="u12969_state0_content" class="panel_state_content">
          </div>
        </div>
        <div id="u12969_state1" class="panel_state" data-label="2" style="visibility: hidden;">
          <div id="u12969_state1_content" class="panel_state_content">
          </div>
        </div>
        <div id="u12969_state2" class="panel_state" data-label="3" style="visibility: hidden;">
          <div id="u12969_state2_content" class="panel_state_content">
          </div>
        </div>
        <div id="u12969_state3" class="panel_state" data-label="4" style="visibility: hidden;">
          <div id="u12969_state3_content" class="panel_state_content">
          </div>
        </div>
        <div id="u12969_state4" class="panel_state" data-label="5" style="visibility: hidden;">
          <div id="u12969_state4_content" class="panel_state_content">
          </div>
        </div>
        <div id="u12969_state5" class="panel_state" data-label="6" style="visibility: hidden;">
          <div id="u12969_state5_content" class="panel_state_content">
          </div>
        </div>
        <div id="u12969_state6" class="panel_state" data-label="7" style="visibility: hidden;">
          <div id="u12969_state6_content" class="panel_state_content">
          </div>
        </div>
        <div id="u12969_state7" class="panel_state" data-label="8" style="visibility: hidden;">
          <div id="u12969_state7_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u12970" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u12971" class="ax_default box_1">
          <img id="u12971_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
          <div id="u12971_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u12972" class="ax_default box_1">
          <img id="u12972_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
          <div id="u12972_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u12973" class="ax_default box_1 selected">
        <div id="u12973_div" class="selected"></div>
        <div id="u12973_text" class="text ">
          <p><span>Open OptiSage File</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u12974" class="ax_default box_1">
        <div id="u12974_div" class=""></div>
        <div id="u12974_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u12975" class="ax_default box_1">
        <div id="u12975_div" class=""></div>
        <div id="u12975_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u12976" class="ax_default line">
        <img id="u12976_img" class="img " src="{{ url_for('static', filename='images/反应物/u2723.svg') }}"/>
        <div id="u12976_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u12977" class="ax_default" data-left="154" data-top="60" data-width="502" data-height="25" layer-opacity="1">

        <!-- Unnamed (Text Field) -->
        <div id="u12978" class="ax_default text_field">
          <div id="u12978_div" class=""></div>
          <input id="u12978_input" type="text" value="" class="u12978_input"/>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u12979" class="ax_default box_1">
          <img id="u12979_img" class="img " src="{{ url_for('static', filename='images/反应物/u2715.svg') }}"/>
          <div id="u12979_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u12980" class="ax_default" data-left="633" data-top="68" data-width="12" data-height="10" layer-opacity="1">

          <!-- Unnamed (Shape) -->
          <div id="u12981" class="ax_default box_1">
            <img id="u12981_img" class="img " src="{{ url_for('static', filename='images/反应物/u2728.svg') }}"/>
            <div id="u12981_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u12982" class="ax_default box_1">
            <img id="u12982_img" class="img " src="{{ url_for('static', filename='images/反应物/u2729.svg') }}"/>
            <div id="u12982_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Right Arrow) -->
      <div id="u12983" class="ax_default _形状">
        <img id="u12983_img" class="img " src="{{ url_for('static', filename='images/反应物/u2730.svg') }}"/>
        <div id="u12983_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u12984" class="ax_default box_1">
        <img id="u12984_img" class="img " src="{{ url_for('static', filename='images/反应物/u2731.svg') }}"/>
        <div id="u12984_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Right Arrow) -->
      <div id="u12985" class="ax_default _形状">
        <img id="u12985_img" class="img " src="{{ url_for('static', filename='images/反应物/u2732.svg') }}"/>
        <div id="u12985_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u12986" class="ax_default" data-left="679" data-top="61" data-width="97" data-height="25" layer-opacity="1">

        <!-- Unnamed (Text Field) -->
        <div id="u12987" class="ax_default text_field">
          <div id="u12987_div" class=""></div>
          <input id="u12987_input" type="text" value="" class="u12987_input"/>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u12988" class="ax_default" data-left="757" data-top="67" data-width="14" data-height="14" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u12989" class="ax_default box_1">
          <img id="u12989_img" class="img " src="{{ url_for('static', filename='images/反应物/u2736.svg') }}"/>
          <div id="u12989_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u12990" class="ax_default box_1">
          <img id="u12990_img" class="img " src="{{ url_for('static', filename='images/反应物/u2737.svg') }}"/>
          <div id="u12990_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Right Arrow) -->
      <div id="u12991" class="ax_default _形状">
        <img id="u12991_img" class="img " src="{{ url_for('static', filename='images/反应物/u2730.svg') }}"/>
        <div id="u12991_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Dynamic Panel) -->
      <div id="u12992" class="ax_default">
        <div id="u12992_state0" class="panel_state" data-label="State 1" style="">
          <div id="u12992_state0_content" class="panel_state_content">

            <!-- Unnamed (Dynamic Panel) -->
            <div id="u12993" class="ax_default">
              <div id="u12993_state0" class="panel_state" data-label="State 1" style="">
                <div id="u12993_state0_content" class="panel_state_content">

                  <!-- Unnamed (Rectangle) -->
                  <div id="u12994" class="ax_default _段落">
                    <div id="u12994_div" class=""></div>
                    <div id="u12994_text" class="text ">
                      <p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span>file</span></p><p><span><br></span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- file_name_text_new (Droplist) -->
      <div id="u12995" class="ax_default box_1" data-label="file_name_text_new">
        <div id="u12995_div" class=""></div>
        <select id="u12995_input" class="u12995_input">
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u12996" class="ax_default _三级标题">
        <div id="u12996_div" class=""></div>
        <div id="u12996_text" class="text ">
          <p><span>Name:</span></p>
        </div>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u12997" class="ax_default box_1">
        <div id="u12997_div" class=""></div>
        <select id="u12997_input" class="u12997_input">
          <option class="u12997_input_option" value="OptiSage files(*.opt)">OptiSage files(*.opt)</option>
        </select>
      </div>

      <!-- Table Repeater (Repeater) -->
      <div id="u12998" class="ax_default" data-label="Table Repeater">
        <script id="u12998_script" type="axure-repeater-template" data-label="Table Repeater">

          <!-- Unnamed (Rectangle) -->
          <div id="u12999" class="ax_default box_1 u12999">
            <div id="u12999_div" class="u12999_div"></div>
            <div id="u12999_text" class="text u12999_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </script>
        <div id="u12998-1" class="preeval" style="width: 282px; height: 30px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u12999-1" class="ax_default box_1 u12999" style="width: 282px; height: 30px; left: 0px; top: 0px;visibility: inherit">
            <div id="u12999-1_div" class="u12999_div" style="width: 282px; height: 30px;visibility: inherit"></div>
            <div id="u12999-1_text" class="text u12999_text" style="visibility: inherit">
              <p><span>OptiSageFile.opt</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
