<!DOCTYPE html>
<html>
<head>
    <title>solution2.8</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/solution2_8/styles.css') }}" type="text/css" rel="stylesheet"/>

    <script>
        document.oncontextmenu = function (event) {
            event = event || window.event;
            var targetElement = event.target || event.srcElement;
            if (!targetElement) return true;

            if (targetElement.tagName) {
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||
                    targetElement.tagName.toLowerCase() === "textarea") {
                    return true;
                }
            }
            return false;
        }
    </script>
    <script src
                    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/solution2_8/data.js') }}"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () {
            return 'resources/images/transparent.gif';
        };
        $axure.utils.getOtherPath = function () {
            return 'resources/Other.html';
        };
        $axure.utils.getReloadPath = function () {
            return 'resources/reload.html';
        };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- 内部框架 (Inline Frame) -->
    <div id="u9697" class="ax_default" data-label="内部框架">
        <iframe id="u9697_input" data-label="内部框架" allowfullscreen ></iframe>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u9698" class="ax_default box_1">
        <div id="u9698_div" class=""></div>
        <div id="u9698_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u9699" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u9700" class="ax_default box_1">
            <img id="u9700_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
            <div id="u9700_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9701" class="ax_default box_1">
            <img id="u9701_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
            <div id="u9701_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u9702" class="ax_default" data-left="0" data-top="0" data-width="873" data-height="750" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u9703" class="ax_default box_1">
            <div id="u9703_div" class=""></div>
            <div id="u9703_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9704" class="ax_default box_1">
            <div id="u9704_div" class=""></div>
            <div id="u9704_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9705" class="ax_default box_1">
            <div id="u9705_div" class=""></div>
            <div id="u9705_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9706" class="ax_default text_field">
            <div id="u9706_div" class=""></div>
            <input id="u9706_input" type="text" value="FactSage" class="u9706_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9707" class="ax_default text_field">
            <div id="u9707_div" class=""></div>
            <input id="u9707_input" type="text" value="Function Name" class="u9707_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9708" class="ax_default text_field">
            <div id="u9708_div" class=""></div>
            <input id="u9708_input" type="text" value="" class="u9708_input"/>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u9709" class="ax_default" data-left="51" data-top="15" data-width="411" data-height="32"
             layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u9710" class="ax_default _二级标题">
                <div id="u9710_div" class=""></div>
                <div id="u9710_text" class="text ">
                    <p><span>ViewData</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9711" class="ax_default _二级标题">
                <div id="u9711_div" class=""></div>
                <div id="u9711_text" class="text ">
                    <p><span>Units</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9712" class="ax_default _二级标题">
                <div id="u9712_div" class=""></div>
                <div id="u9712_text" class="text ">
                    <p><span>Tools</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9713" class="ax_default _二级标题">
                <div id="u9713_div" class=""></div>
                <div id="u9713_text" class="text ">
                    <p><span>Help</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9714" class="ax_default _三级标题">
                <div id="u9714_div" class=""></div>
                <div id="u9714_text" class="text ">
                    <p><span>Edit</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9715" class="ax_default _三级标题">
                <div id="u9715_div" class=""></div>
                <div id="u9715_text" class="text ">
                    <p><span>File</span></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9716" class="ax_default _形状">
            <img id="u9716_img" class="img " src="{{ url_for('static', filename='images/solution2_2/u8577.svg') }}"/>
            <div id="u9716_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u9717" class="ax_default _形状">
        <img id="u9717_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1722.svg') }}"/>
        <div id="u9717_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (List Box) -->
    <div id="u9718" class="ax_default list_box">
        <div id="u9718_div" class=""></div>
        <select id="u9718_input" size="2" class="u9718_input">
            <option class="u9718_input_option" value="... Solusoln">... Solusoln</option>
            <option class="u9718_input_option" value="    ... Functions">&nbsp;&nbsp;&nbsp; ... Functions</option>
            <option class="u9718_input_option" value="    ... Solutions(1)">&nbsp;&nbsp;&nbsp; ... Solutions(1)</option>
            <option class="u9718_input_option" value="        ... LiqM(1-1)">&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; ...
                LiqM(1-1)
            </option>
            <option class="u9718_input_option" value="             ... SubLattices">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; ... SubLattices
            </option>
            <option class="u9718_input_option" value="                ... A(4)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp;&nbsp; ... A(4)
            </option>
            <option class="u9718_input_option" value="                     ... Silver">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Silver
            </option>
            <option class="u9718_input_option" value="                     ... Copper">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Copper
            </option>
            <option class="u9718_input_option" value="                     … Gold">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Gold
            </option>
            <option class="u9718_input_option" value="                     … Gemanium(A)">&nbsp;&nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Gemanium(A)
            </option>
            <option class="u9718_input_option" value="             ... End Members(2)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; ... End Members(2)
            </option>
            <option class="u9718_input_option" value="             ... Mixables(0)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; ... Mixables(0)
            </option>
            <option class="u9718_input_option" value="             ... Ternary Interpolations">&nbsp;&nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; ... Ternary Interpolations
            </option>
            <option class="u9718_input_option" selected value="                     … Sliver, Glod, Gemanium">&nbsp;&nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Sliver, Glod, Gemanium
            </option>
            <option class="u9718_input_option" value="             ... Interactions  (15)">&nbsp;&nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; ... Interactions&nbsp; (15)
            </option>
            <option class="u9718_input_option" value="                ... (0)Silver; Copper">&nbsp;&nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (0)Silver; Copper
            </option>
            <option class="u9718_input_option" value="                ... (1)Silver; Copper">&nbsp;&nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (1)Silver; Copper
            </option>
            <option class="u9718_input_option" value="                ... (2)Silver; Copper">&nbsp;&nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (2)Silver; Copper
            </option>
            <option class="u9718_input_option" value="                ... (3)Silver; Gold">&nbsp;&nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (3)Silver; Gold
            </option>
            <option class="u9718_input_option" value="                ... (4)Silver; Gemanium">&nbsp;&nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (4)Silver; Gemanium
            </option>
            <option class="u9718_input_option" value="                ... (5)Silver; Gemanium">&nbsp;&nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (5)Silver; Gemanium
            </option>
        </select>
    </div>

    <!-- 1 (Group) -->
    <div id="u9719" class="ax_default" data-label="1" data-left="274" data-top="175" data-width="565" data-height="489"
         layer-opacity="1">

        <!-- Unnamed (Text Field) -->
        <div id="u9720" class="ax_default text_field">
            <div id="u9720_div" class=""></div>
            <input id="u9720_input" type="text" value="Y= equivalent site fraction" class="u9720_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9721" class="ax_default text_field">
            <div id="u9721_div" class=""></div>
            <input id="u9721_input" type="text" value="A: Silver" class="u9721_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9722" class="ax_default text_field">
            <div id="u9722_div" class=""></div>
            <input id="u9722_input" type="text" value="A" class="u9722_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9723" class="ax_default text_field">
            <div id="u9723_div" class=""></div>
            <input id="u9723_input" type="text" value="B" class="u9723_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9724" class="ax_default text_field">
            <div id="u9724_div" class=""></div>
            <input id="u9724_input" type="text" value="C" class="u9724_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9725" class="ax_default text_field">
            <div id="u9725_div" class=""></div>
            <input id="u9725_input" type="text" value="B: Copper" class="u9725_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9726" class="ax_default text_field">
            <div id="u9726_div" class=""></div>
            <input id="u9726_input" type="text" value="C: Gold" class="u9726_input" readonly/>
        </div>

        <!-- Unnamed (Line) -->
        <div id="u9727" class="ax_default _线段">
            <img id="u9727_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u9727.svg') }}"/>
            <div id="u9727_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Line) -->
        <div id="u9728" class="ax_default _线段">
            <img id="u9728_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u9728.svg') }}"/>
            <div id="u9728_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9729" class="ax_default box_1">
            <img id="u9729_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u9729.svg') }}"/>
            <div id="u9729_text" class="text ">
                <p><span>3000</span></p>
            </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9730" class="ax_default text_field">
            <div id="u9730_div" class=""></div>
            <input id="u9730_input" type="text" value="J/Equiv" class="u9730_input" readonly/>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u9731" class="ax_default image">
            <img id="u9731_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u9731.png') }}"/>
            <div id="u9731_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9732" class="ax_default text_field">
            <div id="u9732_div" class=""></div>
            <input id="u9732_input" type="text" value="1" class="u9732_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9733" class="ax_default text_field">
            <div id="u9733_div" class=""></div>
            <input id="u9733_input" type="text" value="2" class="u9733_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9734" class="ax_default text_field">
            <div id="u9734_div" class=""></div>
            <input id="u9734_input" type="text" value="1" class="u9734_input" readonly/>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u9735" class="ax_default" selectiongroup="#" data-left="809" data-top="437" data-width="30"
             data-height="34" layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u9736" class="ax_default box_1">
                <img id="u9736_img" class="img "
                     src="{{ url_for('static', filename='images/solution2_8/u9736.svg') }}"/>
                <div id="u9736_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u9737" class="ax_default image">
        <img id="u9737_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u9737.png') }}"/>
        <div id="u9737_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Line) -->
    <div id="u9738" class="ax_default _线段">
        <img id="u9738_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u9738.svg') }}"/>
        <div id="u9738_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Vertical Line) -->
    <div id="u9739" class="ax_default line">
        <img id="u9739_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u9739.svg') }}"/>
        <div id="u9739_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Line) -->
    <div id="u9740" class="ax_default line">
        <img id="u9740_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u9740.svg') }}"/>
        <div id="u9740_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Line) -->
    <div id="u9741" class="ax_default _线段">
        <img id="u9741_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u9741.svg') }}"/>
        <div id="u9741_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Ellipse) -->
    <div id="u9742" class="ax_default ellipse">
        <img id="u9742_img" class="img " src="{{ url_for('static', filename='images/solution2_5/u9627.svg') }}"/>
        <div id="u9742_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Ellipse) -->
    <div id="u9743" class="ax_default ellipse">
        <img id="u9743_img" class="img " src="{{ url_for('static', filename='images/solution2_5/u9627.svg') }}"/>
        <div id="u9743_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u9744" class="ax_default image">
        <img id="u9744_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u9744.png') }}"/>
        <div id="u9744_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u9745" class="ax_default image">
        <img id="u9745_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u9744.png') }}"/>
        <div id="u9745_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u9746" class="ax_default" data-left="784" data-top="454" data-width="30" data-height="34"
         layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u9747" class="ax_default box_1">
            <img id="u9747_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u9736.svg') }}"/>
            <div id="u9747_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u9748" class="ax_default box_1">
        <img id="u9748_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u9748.svg') }}"/>
        <div id="u9748_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u9749" class="ax_default box_1">
        <img id="u9749_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u9748.svg') }}"/>
        <div id="u9749_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u9750" class="ax_default image">
        <img id="u9750_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u9750.png') }}"/>
        <div id="u9750_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u9751" class="ax_default image">
        <img id="u9751_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u9751.png') }}"/>
        <div id="u9751_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u9752" class="ax_default box_1">
        <img id="u9752_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u9748.svg') }}"/>
        <div id="u9752_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u9753" class="ax_default box_1">
        <img id="u9753_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u9748.svg') }}"/>
        <div id="u9753_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u9754" class="ax_default image">
        <img id="u9754_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u9750.png') }}"/>
        <div id="u9754_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u9755" class="ax_default image">
        <img id="u9755_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u9751.png') }}"/>
        <div id="u9755_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u9756" class="ax_default box_1">
        <img id="u9756_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u9748.svg') }}"/>
        <div id="u9756_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u9757" class="ax_default box_1">
        <img id="u9757_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u9748.svg') }}"/>
        <div id="u9757_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u9758" class="ax_default image">
        <img id="u9758_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u9750.png') }}"/>
        <div id="u9758_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u9759" class="ax_default image">
        <img id="u9759_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u9751.png') }}"/>
        <div id="u9759_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u9760" class="ax_default image">
        <img id="u9760_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u9760.svg') }}"/>
        <div id="u9760_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u9761" class="ax_default box_1">
        <img id="u9761_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u9761.svg') }}"/>
        <div id="u9761_text" class="text ">
            <p><span>Next</span></p>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
</body>
</html>
