<!DOCTYPE html>
<html>
  <head>
    <title>solution1.14</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/solution1_14/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/solution1_14/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- 内部框架 (Inline Frame) -->
      <div id="u10116" class="ax_default" data-label="内部框架">
        <iframe id="u10116_input" data-label="内部框架" src="http://127.0.0.1:5000/u10116_input"></iframe>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u10117" class="ax_default box_1">
        <div id="u10117_div" class=""></div>
        <div id="u10117_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u10118" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u10119" class="ax_default box_1">
          <img id="u10119_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
          <div id="u10119_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u10120" class="ax_default box_1">
          <img id="u10120_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
          <div id="u10120_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u10121" class="ax_default" data-left="0" data-top="0" data-width="873" data-height="750" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u10122" class="ax_default box_1">
          <div id="u10122_div" class=""></div>
          <div id="u10122_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u10123" class="ax_default box_1">
          <div id="u10123_div" class=""></div>
          <div id="u10123_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u10124" class="ax_default box_1">
          <div id="u10124_div" class=""></div>
          <div id="u10124_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10125" class="ax_default text_field">
          <div id="u10125_div" class=""></div>
          <input id="u10125_input" type="text" value="FactSage" class="u10125_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10126" class="ax_default text_field">
          <div id="u10126_div" class=""></div>
          <input id="u10126_input" type="text" value="Function Name" class="u10126_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10127" class="ax_default text_field">
          <div id="u10127_div" class=""></div>
          <input id="u10127_input" type="text" value="" class="u10127_input"/>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u10128" class="ax_default" data-left="63" data-top="15" data-width="399" data-height="32" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u10129" class="ax_default _二级标题">
            <div id="u10129_div" class=""></div>
            <div id="u10129_text" class="text ">
              <p><span>ViewData</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10130" class="ax_default _二级标题">
            <div id="u10130_div" class=""></div>
            <div id="u10130_text" class="text ">
              <p><span>Units</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10131" class="ax_default _二级标题">
            <div id="u10131_div" class=""></div>
            <div id="u10131_text" class="text ">
              <p><span>Tools</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10132" class="ax_default _二级标题">
            <div id="u10132_div" class=""></div>
            <div id="u10132_text" class="text ">
              <p><span>Help</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10133" class="ax_default _三级标题">
            <div id="u10133_div" class=""></div>
            <div id="u10133_text" class="text ">
              <p><span>File</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10134" class="ax_default _三级标题">
            <div id="u10134_div" class=""></div>
            <div id="u10134_text" class="text ">
              <p><span>Edit</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u10135" class="ax_default _形状">
          <img id="u10135_img" class="img " src="{{ url_for('static', filename='images/solution2_2/u9358.svg') }}"/>
          <div id="u10135_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u10136" class="ax_default _形状">
        <img id="u10136_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1722.svg') }}"/>
        <div id="u10136_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (List Box) -->
      <div id="u10137" class="ax_default list_box">
        <div id="u10137_div" class=""></div>
        <select id="u10137_input" size="2" class="u10137_input">
          <option class="u10137_input_option" value="... Solusoln">... Solusoln</option>
          <option class="u10137_input_option" value="    ... Functions">&nbsp;&nbsp;&nbsp; ... Functions</option>
          <option class="u10137_input_option" value="        ... Cu(1)">&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; ... Cu(1)</option>
          <option class="u10137_input_option" value="        ... Ag(1)">&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; ... Ag(1)</option>
          <option class="u10137_input_option" value="     ... Solutions(0)">&nbsp;&nbsp; &nbsp; ... Solutions(0)</option>
          <option class="u10137_input_option" value="        ... LiqM(1-1)">&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; ... LiqM(1-1)</option>
          <option class="u10137_input_option" value="             ... SubLattices">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... SubLattices</option>
          <option class="u10137_input_option" value="                ... A(2)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... A(2)</option>
          <option class="u10137_input_option" value="                     ... Silver(B)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Silver(B)</option>
          <option class="u10137_input_option" value="                     ... Copper(A)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Copper(A)</option>
          <option class="u10137_input_option" value="             ... End Members(2)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... End Members(2)</option>
          <option class="u10137_input_option" value="             ... Mixables(0)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Mixables(0)</option>
          <option class="u10137_input_option" value="             ... Ternary Interpolations">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Ternary Interpolations</option>
          <option class="u10137_input_option" value="             ... Interactions  (0)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Interactions&nbsp; (0)</option>
        </select>
      </div>

      <!-- Unnamed (Hot Spot) -->
      <div id="u10138" class="ax_default">
      </div>

      <!-- Unnamed (Group) -->
      <div id="u10139" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">

        <!-- 2 (Group) -->
        <div id="u10140" class="ax_default ax_default_hidden" data-label="2" style="display:none; visibility: hidden" data-left="220" data-top="303" data-width="323" data-height="288" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u10141" class="ax_default box_2">
            <img id="u10141_img" class="img " src="{{ url_for('static', filename='images/solution1_14/u10141.svg') }}"/>
            <div id="u10141_text" class="text ">
              <p><span>Add Solution</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10142" class="ax_default box_2">
            <img id="u10142_img" class="img " src="{{ url_for('static', filename='images/solution1_14/u10141.svg') }}"/>
            <div id="u10142_text" class="text ">
              <p><span>End Member</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10143" class="ax_default box_2">
            <img id="u10143_img" class="img " src="{{ url_for('static', filename='images/solution1_14/u10143.svg') }}"/>
            <div id="u10143_text" class="text ">
              <p><span>Add Solution</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10144" class="ax_default box_2">
            <img id="u10144_img" class="img " src="{{ url_for('static', filename='images/solution1_14/u10143.svg') }}"/>
            <div id="u10144_text" class="text ">
              <p><span>End Member</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10145" class="ax_default box_2">
            <img id="u10145_img" class="img " src="{{ url_for('static', filename='images/solution1_14/u10145.svg') }}"/>
            <div id="u10145_text" class="text ">
              <p><span>Add Mixable Silver;Copper;Gold;Germanium</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10146" class="ax_default box_2">
            <img id="u10146_img" class="img " src="{{ url_for('static', filename='images/solution1_14/u10145.svg') }}"/>
            <div id="u10146_text" class="text ">
              <p><span>Quadruplet</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10147" class="ax_default box_2">
            <img id="u10147_img" class="img " src="{{ url_for('static', filename='images/solution1_14/u10145.svg') }}"/>
            <div id="u10147_text" class="text ">
              <p><span>Ternary Interpolation</span></p>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u10148" class="ax_default" data-left="220" data-top="486" data-width="323" data-height="26" layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u10149" class="ax_default box_2">
              <img id="u10149_img" class="img " src="{{ url_for('static', filename='images/solution1_14/u10145.svg') }}"/>
              <div id="u10149_text" class="text ">
                <p><span>Add Bragg-wiliams</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u10150" class="ax_default _形状">
              <img id="u10150_img" class="img " src="{{ url_for('static', filename='images/solution1_14/u10150.svg') }}"/>
              <div id="u10150_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10151" class="ax_default box_2">
            <img id="u10151_img" class="img " src="{{ url_for('static', filename='images/solution1_14/u10145.svg') }}"/>
            <div id="u10151_text" class="text ">
              <p><span>Add Quasichermical</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10152" class="ax_default box_2">
            <img id="u10152_img" class="img " src="{{ url_for('static', filename='images/solution1_14/u10152.svg') }}"/>
            <div id="u10152_text" class="text ">
              <p><span>Add Pair fraction expansion</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10153" class="ax_default box_2">
            <img id="u10153_img" class="img " src="{{ url_for('static', filename='images/solution1_14/u10153.svg') }}"/>
            <div id="u10153_text" class="text ">
              <p><span>Paste Function&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Ctrl+V</span></p>
            </div>
          </div>
        </div>

        <!-- 3 (Group) -->
        <div id="u10154" class="ax_default ax_default_hidden" data-label="3" style="display:none; visibility: hidden" data-left="543" data-top="486" data-width="67" data-height="52" layer-opacity="1">

          <!-- Unnamed (Group) -->
          <div id="u10155" class="ax_default" data-left="543" data-top="486" data-width="67" data-height="26" layer-opacity="1">

            <!-- 3.1 (Rectangle) -->
            <div id="u10156" class="ax_default box_2" data-label="3.1">
              <img id="u10156_img" class="img " src="{{ url_for('static', filename='images/solution1_14/3_1_u10156.svg') }}"/>
              <div id="u10156_text" class="text ">
                <p><span>GE</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u10157" class="ax_default _形状">
              <img id="u10157_img" class="img " src="{{ url_for('static', filename='images/solution1_14/u10157.svg') }}"/>
              <div id="u10157_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u10158" class="ax_default" data-left="543" data-top="512" data-width="67" data-height="26" layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u10159" class="ax_default box_2">
              <img id="u10159_img" class="img " src="{{ url_for('static', filename='images/solution1_14/3_1_u10156.svg') }}"/>
              <div id="u10159_text" class="text ">
                <p><span>VE</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u10160" class="ax_default _形状">
              <img id="u10160_img" class="img " src="{{ url_for('static', filename='images/solution1_14/u10157.svg') }}"/>
              <div id="u10160_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>
        </div>

        <!-- 4 (Group) -->
        <div id="u10161" class="ax_default ax_default_hidden" data-label="4" style="display:none; visibility: hidden" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u10162" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">

        <!-- 1 (Group) -->
        <div id="u10163" class="ax_default ax_default_hidden" data-label="1" style="display:none; visibility: hidden" data-left="610" data-top="485" data-width="158" data-height="78" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u10164" class="ax_default box_2">
            <img id="u10164_img" class="img " src="{{ url_for('static', filename='images/solution1_14/u10164.svg') }}"/>
            <div id="u10164_text" class="text ">
              <p><span>Simple Polynomal</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10165" class="ax_default box_2">
            <img id="u10165_img" class="img " src="{{ url_for('static', filename='images/solution1_14/u10164.svg') }}"/>
            <div id="u10165_text" class="text ">
              <p><span>Redlich-Kister</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10166" class="ax_default box_2">
            <img id="u10166_img" class="img " src="{{ url_for('static', filename='images/solution1_14/u10164.svg') }}"/>
            <div id="u10166_text" class="text ">
              <p><span>Legendre</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
