<!DOCTYPE html>
<html>
  <head>
    <title>solution2.4</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/solution2_4/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/solution2_4/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- 内部框架 (Inline Frame) -->
      <div id="u9548" class="ax_default" data-label="内部框架">
        <iframe id="u9548_input" data-label="内部框架" src="http://127.0.0.1:5000/u9548_input"></iframe>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u9549" class="ax_default box_1">
        <div id="u9549_div" class=""></div>
        <div id="u9549_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9550" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u9551" class="ax_default box_1">
          <img id="u9551_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
          <div id="u9551_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9552" class="ax_default box_1">
          <img id="u9552_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
          <div id="u9552_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9553" class="ax_default" data-left="0" data-top="0" data-width="873" data-height="750" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u9554" class="ax_default box_1">
          <div id="u9554_div" class=""></div>
          <div id="u9554_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9555" class="ax_default box_1">
          <div id="u9555_div" class=""></div>
          <div id="u9555_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9556" class="ax_default box_1">
          <div id="u9556_div" class=""></div>
          <div id="u9556_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9557" class="ax_default text_field">
          <div id="u9557_div" class=""></div>
          <input id="u9557_input" type="text" value="FactSage" class="u9557_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9558" class="ax_default text_field">
          <div id="u9558_div" class=""></div>
          <input id="u9558_input" type="text" value="Function Name" class="u9558_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9559" class="ax_default text_field">
          <div id="u9559_div" class=""></div>
          <input id="u9559_input" type="text" value="" class="u9559_input"/>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u9560" class="ax_default" data-left="113" data-top="15" data-width="349" data-height="32" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u9561" class="ax_default _二级标题">
            <div id="u9561_div" class=""></div>
            <div id="u9561_text" class="text ">
              <p><span>ViewData</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9562" class="ax_default _二级标题">
            <div id="u9562_div" class=""></div>
            <div id="u9562_text" class="text ">
              <p><span>Units</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9563" class="ax_default _二级标题">
            <div id="u9563_div" class=""></div>
            <div id="u9563_text" class="text ">
              <p><span>Tools</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9564" class="ax_default _二级标题">
            <div id="u9564_div" class=""></div>
            <div id="u9564_text" class="text ">
              <p><span>Help</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9565" class="ax_default _三级标题">
            <div id="u9565_div" class=""></div>
            <div id="u9565_text" class="text ">
              <p><span>Edit</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9566" class="ax_default _形状">
          <img id="u9566_img" class="img " src="{{ url_for('static', filename='images/solution2_2/u8577.svg') }}"/>
          <div id="u9566_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u9567" class="ax_default _形状">
        <img id="u9567_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1722.svg') }}"/>
        <div id="u9567_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (List Box) -->
      <div id="u9568" class="ax_default list_box">
        <div id="u9568_div" class=""></div>
        <select id="u9568_input" size="2" class="u9568_input">
          <option class="u9568_input_option" value="... Solusoln">... Solusoln</option>
          <option class="u9568_input_option" value="    ... Functions">&nbsp;&nbsp;&nbsp; ... Functions</option>
          <option class="u9568_input_option" value="    ... Solutions(1)">&nbsp;&nbsp;&nbsp; ... Solutions(1)</option>
          <option class="u9568_input_option" value="        ... LiqM(1-1)">&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; ... LiqM(1-1)</option>
          <option class="u9568_input_option" value="             ... SubLattices">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... SubLattices</option>
          <option class="u9568_input_option" value="                ... A(4)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... A(4)</option>
          <option class="u9568_input_option" value="                     ... Silver">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Silver</option>
          <option class="u9568_input_option" value="                     ... Copper">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Copper</option>
          <option class="u9568_input_option" value="                     … Gold">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Gold</option>
          <option class="u9568_input_option" value="                     … Gemanium(A)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Gemanium(A)</option>
          <option class="u9568_input_option" value="             ... End Members(2)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... End Members(2)</option>
          <option class="u9568_input_option" value="                 ... Mixables(0)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Mixables(0)</option>
          <option class="u9568_input_option" value="                 ... Ternary Interpolations">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Ternary Interpolations</option>
          <option class="u9568_input_option" value="             ... Interactions  (15)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Interactions&nbsp; (15)</option>
          <option class="u9568_input_option" value="                ... (0)Silver; Copper">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (0)Silver; Copper</option>
          <option class="u9568_input_option" value="                ... (1)Silver; Copper">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (1)Silver; Copper</option>
          <option class="u9568_input_option" value="                ... (2)Silver; Copper">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (2)Silver; Copper</option>
          <option class="u9568_input_option" selected value="                ... (3)Silver; Gold">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (3)Silver; Gold</option>
          <option class="u9568_input_option" value="                ... (4)Silver; Gemanium">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (4)Silver; Gemanium</option>
          <option class="u9568_input_option" value="                ... (5)Silver; Gemanium">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (5)Silver; Gemanium</option>
        </select>
      </div>

      <!-- 1 (Group) -->
      <div id="u9569" class="ax_default" data-label="1" data-left="0" data-top="95" data-width="873" data-height="606" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u9570" class="ax_default box_1">
          <img id="u9570_img" class="img " src="{{ url_for('static', filename='images/solution2_3/u9538.svg') }}"/>
          <div id="u9570_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u9571" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">

          <!-- 2 (Group) -->
          <div id="u9572" class="ax_default ax_default_hidden" data-label="2" style="display:none; visibility: hidden" data-left="227" data-top="368" data-width="362" data-height="260" layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u9573" class="ax_default box_2">
              <img id="u9573_img" class="img " src="{{ url_for('static', filename='images/solution2_4/u9573.svg') }}"/>
              <div id="u9573_text" class="text ">
                <p><span>Add Solution</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9574" class="ax_default box_2">
              <img id="u9574_img" class="img " src="{{ url_for('static', filename='images/solution2_4/u9573.svg') }}"/>
              <div id="u9574_text" class="text ">
                <p><span>Add Solution</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9575" class="ax_default box_2">
              <img id="u9575_img" class="img " src="{{ url_for('static', filename='images/solution2_4/u9573.svg') }}"/>
              <div id="u9575_text" class="text ">
                <p><span>End Member</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9576" class="ax_default box_2">
              <img id="u9576_img" class="img " src="{{ url_for('static', filename='images/solution2_4/u9573.svg') }}"/>
              <div id="u9576_text" class="text ">
                <p><span>Add Mixable Silver;Copper;Gold;Germanium</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9577" class="ax_default box_2">
              <img id="u9577_img" class="img " src="{{ url_for('static', filename='images/solution2_4/u9573.svg') }}"/>
              <div id="u9577_text" class="text ">
                <p><span>Quadruplet</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9578" class="ax_default box_2">
              <img id="u9578_img" class="img " src="{{ url_for('static', filename='images/solution2_4/u9573.svg') }}"/>
              <div id="u9578_text" class="text ">
                <p><span style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;">Add Ternary Interpolation Silver</span><span style="font-family:&quot;PingFangSC-Regular&quot;, &quot;PingFang SC&quot;, sans-serif;">;Copper;Germanium</span></p>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u9579" class="ax_default" data-left="227" data-top="524" data-width="362" data-height="26" layer-opacity="1">

              <!-- Unnamed (Rectangle) -->
              <div id="u9580" class="ax_default box_2">
                <img id="u9580_img" class="img " src="{{ url_for('static', filename='images/solution2_4/u9573.svg') }}"/>
                <div id="u9580_text" class="text ">
                  <p><span>Add Bragg-wiliams</span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9581" class="ax_default box_2">
              <img id="u9581_img" class="img " src="{{ url_for('static', filename='images/solution2_4/u9573.svg') }}"/>
              <div id="u9581_text" class="text ">
                <p><span>Add Quasichermical</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9582" class="ax_default box_2">
              <img id="u9582_img" class="img " src="{{ url_for('static', filename='images/solution2_4/u9582.svg') }}"/>
              <div id="u9582_text" class="text ">
                <p><span>Add Pair fraction expansion</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9583" class="ax_default box_2">
              <img id="u9583_img" class="img " src="{{ url_for('static', filename='images/solution2_4/u9583.svg') }}"/>
              <div id="u9583_text" class="text ">
                <p><span>Paste Function&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Ctrl+V</span></p>
              </div>
            </div>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9584" class="ax_default box_1">
          <img id="u9584_img" class="img " src="{{ url_for('static', filename='images/solution2_4/u9584.svg') }}"/>
          <div id="u9584_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- 模块管理 (Dynamic Panel) -->
      <div id="u9585" class="ax_default" data-label="模块管理">
        <div id="u9585_state0" class="panel_state" data-label="菜单收起" style="">
          <div id="u9585_state0_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u9586" class="ax_default _三级标题">
              <div id="u9586_div" class=""></div>
              <div id="u9586_text" class="text ">
                <p><span>File</span></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u9585_state1" class="panel_state" data-label="菜单下拉" style="visibility: hidden;">
          <div id="u9585_state1_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u9587" class="ax_default _三级标题">
              <div id="u9587_div" class=""></div>
              <div id="u9587_text" class="text ">
                <p><span>File</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9588" class="ax_default box_1">
              <div id="u9588_div" class=""></div>
              <div id="u9588_text" class="text ">
                <p><span>New...</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9589" class="ax_default box_1">
              <div id="u9589_div" class=""></div>
              <div id="u9589_text" class="text ">
                <p><span>Open...</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9590" class="ax_default box_1">
              <div id="u9590_div" class=""></div>
              <div id="u9590_text" class="text ">
                <p><span>Save Solusoln</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9591" class="ax_default box_1">
              <div id="u9591_div" class=""></div>
              <div id="u9591_text" class="text ">
                <p><span>Close Solusoln</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
