<!DOCTYPE html>
<html>
  <head>
    <title>solution2.2</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/solution2_2/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/solution2_2/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- 内部框架 (Inline Frame) -->
      <div id="u9340" class="ax_default" data-label="内部框架">
        <iframe id="u9340_input" data-label="内部框架" src="http://127.0.0.1:5000/u9340_input"></iframe>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u9341" class="ax_default box_1">
        <div id="u9341_div" class=""></div>
        <div id="u9341_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9342" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u9343" class="ax_default box_1">
          <img id="u9343_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
          <div id="u9343_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9344" class="ax_default box_1">
          <img id="u9344_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
          <div id="u9344_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9345" class="ax_default" data-left="0" data-top="0" data-width="873" data-height="750" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u9346" class="ax_default box_1">
          <div id="u9346_div" class=""></div>
          <div id="u9346_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9347" class="ax_default box_1">
          <div id="u9347_div" class=""></div>
          <div id="u9347_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9348" class="ax_default box_1">
          <div id="u9348_div" class=""></div>
          <div id="u9348_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9349" class="ax_default text_field">
          <div id="u9349_div" class=""></div>
          <input id="u9349_input" type="text" value="FactSage" class="u9349_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9350" class="ax_default text_field">
          <div id="u9350_div" class=""></div>
          <input id="u9350_input" type="text" value="Function Name" class="u9350_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9351" class="ax_default text_field">
          <div id="u9351_div" class=""></div>
          <input id="u9351_input" type="text" value="" class="u9351_input"/>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u9352" class="ax_default" data-left="113" data-top="15" data-width="349" data-height="32" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u9353" class="ax_default _二级标题">
            <div id="u9353_div" class=""></div>
            <div id="u9353_text" class="text ">
              <p><span>ViewData</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9354" class="ax_default _二级标题">
            <div id="u9354_div" class=""></div>
            <div id="u9354_text" class="text ">
              <p><span>Units</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9355" class="ax_default _二级标题">
            <div id="u9355_div" class=""></div>
            <div id="u9355_text" class="text ">
              <p><span>Tools</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9356" class="ax_default _二级标题">
            <div id="u9356_div" class=""></div>
            <div id="u9356_text" class="text ">
              <p><span>Help</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9357" class="ax_default _三级标题">
            <div id="u9357_div" class=""></div>
            <div id="u9357_text" class="text ">
              <p><span>Edit</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9358" class="ax_default _形状">
          <img id="u9358_img" class="img " src="{{ url_for('static', filename='images/solution2_2/u9358.svg') }}"/>
          <div id="u9358_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u9359" class="ax_default _形状">
        <img id="u9359_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1722.svg') }}"/>
        <div id="u9359_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (List Box) -->
      <div id="u9360" class="ax_default list_box">
        <div id="u9360_div" class=""></div>
        <select id="u9360_input" size="2" class="u9360_input">
          <option class="u9360_input_option" value="... Solusoln">... Solusoln</option>
          <option class="u9360_input_option" value="    ... Functions">&nbsp;&nbsp;&nbsp; ... Functions</option>
          <option class="u9360_input_option" value="    ... Solutions(1)">&nbsp;&nbsp;&nbsp; ... Solutions(1)</option>
          <option class="u9360_input_option" value="        ... LiqM(1-1)">&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; ... LiqM(1-1)</option>
          <option class="u9360_input_option" value="             ... SubLattices">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... SubLattices</option>
          <option class="u9360_input_option" value="                ... A(4)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... A(4)</option>
          <option class="u9360_input_option" value="                     ... Silver">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Silver</option>
          <option class="u9360_input_option" value="                     ... Copper">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Copper</option>
          <option class="u9360_input_option" value="                     … Gold">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Gold</option>
          <option class="u9360_input_option" value="                     … Gemanium">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Gemanium</option>
          <option class="u9360_input_option" value="             ... End Members(2)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... End Members(2)</option>
          <option class="u9360_input_option" value="             ... Mixables(0)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Mixables(0)</option>
          <option class="u9360_input_option" value="             ... Ternary Interpolations">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Ternary Interpolations</option>
          <option class="u9360_input_option" value="             ... Interactions  (15)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Interactions&nbsp; (15)</option>
          <option class="u9360_input_option" value="                ... (0)Silver; Copper">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (0)Silver; Copper</option>
          <option class="u9360_input_option" value="                ... (1)Silver; Copper">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (1)Silver; Copper</option>
          <option class="u9360_input_option" value="                ... (2)Silver; Copper">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (2)Silver; Copper</option>
          <option class="u9360_input_option" value="                ... (3)Silver; Gold">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (3)Silver; Gold</option>
          <option class="u9360_input_option" selected value="                ... (4)Silver; Gemanium">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (4)Silver; Gemanium</option>
          <option class="u9360_input_option" value="                ... (5)Silver; Gemanium">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (5)Silver; Gemanium</option>
        </select>
      </div>

      <!-- 模块管理 (Dynamic Panel) -->
      <div id="u9361" class="ax_default" data-label="模块管理">
        <div id="u9361_state0" class="panel_state" data-label="菜单收起" style="">
          <div id="u9361_state0_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u9362" class="ax_default _三级标题">
              <div id="u9362_div" class=""></div>
              <div id="u9362_text" class="text ">
                <p><span>File</span></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u9361_state1" class="panel_state" data-label="菜单下拉" style="visibility: hidden;">
          <div id="u9361_state1_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u9363" class="ax_default _三级标题">
              <div id="u9363_div" class=""></div>
              <div id="u9363_text" class="text ">
                <p><span>File</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9364" class="ax_default box_1">
              <div id="u9364_div" class=""></div>
              <div id="u9364_text" class="text ">
                <p><span>New...</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9365" class="ax_default box_1">
              <div id="u9365_div" class=""></div>
              <div id="u9365_text" class="text ">
                <p><span>Open...</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9366" class="ax_default box_1">
              <div id="u9366_div" class=""></div>
              <div id="u9366_text" class="text ">
                <p><span>Save Solusoln</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9367" class="ax_default box_1">
              <div id="u9367_div" class=""></div>
              <div id="u9367_text" class="text ">
                <p><span>Close Solusoln</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
