<!DOCTYPE html>
<html>
  <head>
    <title>solution1.17</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/solution1_17/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/solution1_17/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- 内部框架 (Inline Frame) -->
      <div id="u10249" class="ax_default" data-label="内部框架">
        <iframe id="u10249_input" data-label="内部框架" src="http://127.0.0.1:5000/u10249_input"></iframe>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u10250" class="ax_default box_1">
        <div id="u10250_div" class=""></div>
        <div id="u10250_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u10251" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u10252" class="ax_default box_1">
          <img id="u10252_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
          <div id="u10252_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u10253" class="ax_default box_1">
          <img id="u10253_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
          <div id="u10253_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u10254" class="ax_default" data-left="0" data-top="0" data-width="873" data-height="750" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u10255" class="ax_default box_1">
          <div id="u10255_div" class=""></div>
          <div id="u10255_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u10256" class="ax_default box_1">
          <div id="u10256_div" class=""></div>
          <div id="u10256_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u10257" class="ax_default box_1">
          <div id="u10257_div" class=""></div>
          <div id="u10257_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10258" class="ax_default text_field">
          <div id="u10258_div" class=""></div>
          <input id="u10258_input" type="text" value="FactSage" class="u10258_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10259" class="ax_default text_field">
          <div id="u10259_div" class=""></div>
          <input id="u10259_input" type="text" value="Function Name" class="u10259_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10260" class="ax_default text_field">
          <div id="u10260_div" class=""></div>
          <input id="u10260_input" type="text" value="" class="u10260_input"/>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u10261" class="ax_default" data-left="60" data-top="15" data-width="402" data-height="32" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u10262" class="ax_default _二级标题">
            <div id="u10262_div" class=""></div>
            <div id="u10262_text" class="text ">
              <p><span>ViewData</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10263" class="ax_default _二级标题">
            <div id="u10263_div" class=""></div>
            <div id="u10263_text" class="text ">
              <p><span>Units</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10264" class="ax_default _二级标题">
            <div id="u10264_div" class=""></div>
            <div id="u10264_text" class="text ">
              <p><span>Tools</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10265" class="ax_default _二级标题">
            <div id="u10265_div" class=""></div>
            <div id="u10265_text" class="text ">
              <p><span>Help</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10266" class="ax_default _三级标题">
            <div id="u10266_div" class=""></div>
            <div id="u10266_text" class="text ">
              <p><span>Edit</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10267" class="ax_default _三级标题">
            <div id="u10267_div" class=""></div>
            <div id="u10267_text" class="text ">
              <p><span>File</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u10268" class="ax_default _形状">
          <img id="u10268_img" class="img " src="{{ url_for('static', filename='images/solution2_2/u9358.svg') }}"/>
          <div id="u10268_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u10269" class="ax_default _形状">
        <img id="u10269_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1722.svg') }}"/>
        <div id="u10269_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (List Box) -->
      <div id="u10270" class="ax_default list_box">
        <div id="u10270_div" class=""></div>
        <select id="u10270_input" size="2" class="u10270_input">
          <option class="u10270_input_option" value="... Solusoln">... Solusoln</option>
          <option class="u10270_input_option" value="    ... Functions">&nbsp;&nbsp;&nbsp; ... Functions</option>
          <option class="u10270_input_option" value="    ... Solutions(1)">&nbsp;&nbsp;&nbsp; ... Solutions(1)</option>
          <option class="u10270_input_option" value="        ... LiqM(1-1)">&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; ... LiqM(1-1)</option>
          <option class="u10270_input_option" value="             ... SubLattices">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... SubLattices</option>
          <option class="u10270_input_option" value="                ... A(2)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... A(2)</option>
          <option class="u10270_input_option" value="                     ... Silver(B)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Silver(B)</option>
          <option class="u10270_input_option" value="                     ... Copper(A)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Copper(A)</option>
          <option class="u10270_input_option" value="             ... End Members(2)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... End Members(2)</option>
          <option class="u10270_input_option" value="                   ... Mixables(0)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Mixables(0)</option>
          <option class="u10270_input_option" value="                   ... Ternary Interpolations">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Ternary Interpolations</option>
          <option class="u10270_input_option" value="             ... Interactions  (1)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Interactions&nbsp; (1)</option>
          <option class="u10270_input_option" value="                ... (0)Silver; Copper">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (0)Silver; Copper</option>
          <option class="u10270_input_option" value="                ... (1)Silver; Copper">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (1)Silver; Copper</option>
        </select>
      </div>

      <!-- 1 (Group) -->
      <div id="u10271" class="ax_default" data-label="1" data-left="255" data-top="95" data-width="618" data-height="606" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u10272" class="ax_default box_1">
          <div id="u10272_div" class=""></div>
          <div id="u10272_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10273" class="ax_default text_field">
          <div id="u10273_div" class=""></div>
          <input id="u10273_input" type="text" value="Nickname (4 chars)" class="u10273_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10274" class="ax_default text_field">
          <div id="u10274_div" class=""></div>
          <input id="u10274_input" type="text" value="Solu" class="u10274_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10275" class="ax_default text_field">
          <div id="u10275_div" class=""></div>
          <input id="u10275_input" type="text" value="Documentation file" class="u10275_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10276" class="ax_default text_field">
          <div id="u10276_div" class=""></div>
          <input id="u10276_input" type="text" value="" class="u10276_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10277" class="ax_default text_field">
          <div id="u10277_div" class=""></div>
          <input id="u10277_input" type="text" value="Created" class="u10277_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10278" class="ax_default text_field">
          <div id="u10278_div" class=""></div>
          <input id="u10278_input" type="text" value="Last Modified" class="u10278_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10279" class="ax_default text_field">
          <img id="u10279_img" class="img " src="{{ url_for('static', filename='images/solution1_17/u10279.svg') }}"/>
          <input id="u10279_input" type="text" value="2014/05/13" class="u10279_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10280" class="ax_default text_field">
          <img id="u10280_img" class="img " src="{{ url_for('static', filename='images/solution1_17/u10280.svg') }}"/>
          <input id="u10280_input" type="text" value="2014/05/13" class="u10280_input" readonly/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u10281" class="ax_default box_1">
          <img id="u10281_img" class="img " src="{{ url_for('static', filename='images/solution1_17/u10281.svg') }}"/>
          <div id="u10281_text" class="text ">
            <p><span>Database description...</span></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10282" class="ax_default text_field">
          <div id="u10282_div" class=""></div>
          <input id="u10282_input" type="text" value="Solusoln solution database." class="u10282_input" readonly/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u10283" class="ax_default box_1">
          <img id="u10283_img" class="img " src="{{ url_for('static', filename='images/solution1_17/u10283.svg') }}"/>
          <div id="u10283_text" class="text ">
            <p><span>Next</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u10284" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">

        <!-- 1 (Group) -->
        <div id="u10285" class="ax_default ax_default_hidden" data-label="1" style="display:none; visibility: hidden" data-left="51" data-top="36" data-width="146" data-height="104" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u10286" class="ax_default box_2">
            <img id="u10286_img" class="img " src="{{ url_for('static', filename='images/compound__solid_/u7175.svg') }}"/>
            <div id="u10286_text" class="text ">
              <p><span>New…</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10287" class="ax_default box_2">
            <img id="u10287_img" class="img " src="{{ url_for('static', filename='images/compound__solid_/u7175.svg') }}"/>
            <div id="u10287_text" class="text ">
              <p><span>Open…</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10288" class="ax_default box_2">
            <img id="u10288_img" class="img " src="{{ url_for('static', filename='images/compound__solid_/u7175.svg') }}"/>
            <div id="u10288_text" class="text ">
              <p><span>Save SolusoIn</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10289" class="ax_default box_2">
            <img id="u10289_img" class="img " src="{{ url_for('static', filename='images/compound__solid_/u7175.svg') }}"/>
            <div id="u10289_text" class="text ">
              <p><span>Close SolusoIn</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
