<!DOCTYPE html>
<html>
  <head>
    <title>solution1.8</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/solution1_8/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/solution1_8/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- 内部框架 (Inline Frame) -->
      <div id="u9900" class="ax_default" data-label="内部框架">
        <iframe id="u9900_input" data-label="内部框架" src="http://127.0.0.1:5000/u9900_input"></iframe>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u9901" class="ax_default box_1">
        <div id="u9901_div" class=""></div>
        <div id="u9901_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9902" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u9903" class="ax_default box_1">
          <img id="u9903_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
          <div id="u9903_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9904" class="ax_default box_1">
          <img id="u9904_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
          <div id="u9904_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9905" class="ax_default" data-left="95" data-top="95" data-width="778" data-height="606" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u9906" class="ax_default" data-left="255" data-top="95" data-width="618" data-height="606" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u9907" class="ax_default box_1">
            <div id="u9907_div" class=""></div>
            <div id="u9907_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9908" class="ax_default box_1">
          <div id="u9908_div" class=""></div>
          <div id="u9908_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9909" class="ax_default" data-left="0" data-top="0" data-width="873" data-height="750" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u9910" class="ax_default box_1">
          <div id="u9910_div" class=""></div>
          <div id="u9910_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9911" class="ax_default box_1">
          <div id="u9911_div" class=""></div>
          <div id="u9911_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9912" class="ax_default box_1">
          <div id="u9912_div" class=""></div>
          <div id="u9912_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9913" class="ax_default text_field">
          <div id="u9913_div" class=""></div>
          <input id="u9913_input" type="text" value="FactSage" class="u9913_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9914" class="ax_default text_field">
          <div id="u9914_div" class=""></div>
          <input id="u9914_input" type="text" value="Function Name" class="u9914_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9915" class="ax_default text_field">
          <div id="u9915_div" class=""></div>
          <input id="u9915_input" type="text" value="" class="u9915_input"/>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u9916" class="ax_default" data-left="63" data-top="15" data-width="399" data-height="32" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u9917" class="ax_default _二级标题">
            <div id="u9917_div" class=""></div>
            <div id="u9917_text" class="text ">
              <p><span>ViewData</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9918" class="ax_default _二级标题">
            <div id="u9918_div" class=""></div>
            <div id="u9918_text" class="text ">
              <p><span>Units</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9919" class="ax_default _二级标题">
            <div id="u9919_div" class=""></div>
            <div id="u9919_text" class="text ">
              <p><span>Tools</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9920" class="ax_default _二级标题">
            <div id="u9920_div" class=""></div>
            <div id="u9920_text" class="text ">
              <p><span>Help</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9921" class="ax_default _三级标题">
            <div id="u9921_div" class=""></div>
            <div id="u9921_text" class="text ">
              <p><span>File</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9922" class="ax_default _三级标题">
            <div id="u9922_div" class=""></div>
            <div id="u9922_text" class="text ">
              <p><span>Edit</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9923" class="ax_default _形状">
          <img id="u9923_img" class="img " src="{{ url_for('static', filename='images/solution2_2/u9358.svg') }}"/>
          <div id="u9923_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u9924" class="ax_default _形状">
        <img id="u9924_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1722.svg') }}"/>
        <div id="u9924_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (List Box) -->
      <div id="u9925" class="ax_default list_box">
        <div id="u9925_div" class=""></div>
        <select id="u9925_input" size="2" class="u9925_input">
          <option class="u9925_input_option" value="... Solusoln">... Solusoln</option>
          <option class="u9925_input_option" value="    ... Functions">&nbsp;&nbsp;&nbsp; ... Functions</option>
          <option class="u9925_input_option" value="        ... Cu(1)">&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; ... Cu(1)</option>
          <option class="u9925_input_option" value="        ... Ag(1)">&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; ... Ag(1)</option>
          <option class="u9925_input_option" value="     ... Solutions(0)">&nbsp;&nbsp; &nbsp; ... Solutions(0)</option>
          <option class="u9925_input_option" value="        ... LiqM(1-1)">&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; ... LiqM(1-1)</option>
          <option class="u9925_input_option" value="             ... SubLattices">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... SubLattices</option>
          <option class="u9925_input_option" value="                ... A(2)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... A(2)</option>
          <option class="u9925_input_option" value="                     ... Silver(A)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Silver(A)</option>
          <option class="u9925_input_option" value="                     ... A1">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... A1</option>
          <option class="u9925_input_option" value="             ... End Members(0)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... End Members(0)</option>
          <option class="u9925_input_option" value="             ... Mixables(0)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Mixables(0)</option>
          <option class="u9925_input_option" value="             ... Ternary Interpolations">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Ternary Interpolations</option>
          <option class="u9925_input_option" value="             ... Interactions  (0)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Interactions&nbsp; (0)</option>
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u9926" class="ax_default box_1">
        <img id="u9926_img" class="img " src="{{ url_for('static', filename='images/solution1_8/u9926.svg') }}"/>
        <div id="u9926_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9927" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="255" data-top="95" data-width="618" data-height="606" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u9928" class="ax_default box_1">
          <div id="u9928_div" class=""></div>
          <div id="u9928_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9929" class="ax_default text_field">
          <div id="u9929_div" class=""></div>
          <input id="u9929_input" type="text" value="Silver" class="u9929_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9930" class="ax_default text_field">
          <div id="u9930_div" class=""></div>
          <input id="u9930_input" type="text" value="Formula(optional)" class="u9930_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9931" class="ax_default text_field">
          <div id="u9931_div" class=""></div>
          <input id="u9931_input" type="text" value="Ag" class="u9931_input"/>
        </div>

        <!-- Unnamed (Line) -->
        <div id="u9932" class="ax_default line">
          <img id="u9932_img" class="img " src="{{ url_for('static', filename='images/solution1_8/u9932.svg') }}"/>
          <div id="u9932_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9933" class="ax_default text_field">
          <div id="u9933_div" class=""></div>
          <input id="u9933_input" type="text" value="Solution Name" class="u9933_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9934" class="ax_default text_field">
          <div id="u9934_div" class=""></div>
          <input id="u9934_input" type="text" value="Chem. Group" class="u9934_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9935" class="ax_default text_field">
          <div id="u9935_div" class=""></div>
          <input id="u9935_input" type="text" value="1" class="u9935_input"/>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9936" class="ax_default _形状">
          <img id="u9936_img" class="img " src="{{ url_for('static', filename='images/solution1_8/u9936.svg') }}"/>
          <div id="u9936_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9937" class="ax_default _形状">
          <img id="u9937_img" class="img " src="{{ url_for('static', filename='images/solution1_8/u9937.svg') }}"/>
          <div id="u9937_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u9938" class="ax_default box_1">
        <img id="u9938_img" class="img " src="{{ url_for('static', filename='images/solution1_8/u9926.svg') }}"/>
        <div id="u9938_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
