<!DOCTYPE html>
<html>
  <head>
    <title>solution1.7</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/solution1_7/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/solution1_7/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- 内部框架 (Inline Frame) -->
      <div id="u9859" class="ax_default" data-label="内部框架">
        <iframe id="u9859_input" data-label="内部框架" src="http://127.0.0.1:5000/u9859_input"></iframe>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u9860" class="ax_default box_1">
        <div id="u9860_div" class=""></div>
        <div id="u9860_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9861" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u9862" class="ax_default box_1">
          <img id="u9862_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
          <div id="u9862_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9863" class="ax_default box_1">
          <img id="u9863_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
          <div id="u9863_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9864" class="ax_default" data-left="255" data-top="95" data-width="618" data-height="606" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u9865" class="ax_default" data-left="255" data-top="95" data-width="618" data-height="606" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u9866" class="ax_default box_1">
            <div id="u9866_div" class=""></div>
            <div id="u9866_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9867" class="ax_default" data-left="0" data-top="0" data-width="873" data-height="750" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u9868" class="ax_default box_1">
          <div id="u9868_div" class=""></div>
          <div id="u9868_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9869" class="ax_default box_1">
          <div id="u9869_div" class=""></div>
          <div id="u9869_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9870" class="ax_default box_1">
          <div id="u9870_div" class=""></div>
          <div id="u9870_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9871" class="ax_default text_field">
          <div id="u9871_div" class=""></div>
          <input id="u9871_input" type="text" value="FactSage" class="u9871_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9872" class="ax_default text_field">
          <div id="u9872_div" class=""></div>
          <input id="u9872_input" type="text" value="Function Name" class="u9872_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9873" class="ax_default text_field">
          <div id="u9873_div" class=""></div>
          <input id="u9873_input" type="text" value="" class="u9873_input"/>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u9874" class="ax_default" data-left="63" data-top="15" data-width="399" data-height="32" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u9875" class="ax_default _二级标题">
            <div id="u9875_div" class=""></div>
            <div id="u9875_text" class="text ">
              <p><span>ViewData</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9876" class="ax_default _二级标题">
            <div id="u9876_div" class=""></div>
            <div id="u9876_text" class="text ">
              <p><span>Units</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9877" class="ax_default _二级标题">
            <div id="u9877_div" class=""></div>
            <div id="u9877_text" class="text ">
              <p><span>Tools</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9878" class="ax_default _二级标题">
            <div id="u9878_div" class=""></div>
            <div id="u9878_text" class="text ">
              <p><span>Help</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9879" class="ax_default _三级标题">
            <div id="u9879_div" class=""></div>
            <div id="u9879_text" class="text ">
              <p><span>File</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9880" class="ax_default _三级标题">
            <div id="u9880_div" class=""></div>
            <div id="u9880_text" class="text ">
              <p><span>Edit</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9881" class="ax_default _形状">
          <img id="u9881_img" class="img " src="{{ url_for('static', filename='images/solution2_2/u9358.svg') }}"/>
          <div id="u9881_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u9882" class="ax_default _形状">
        <img id="u9882_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1722.svg') }}"/>
        <div id="u9882_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (List Box) -->
      <div id="u9883" class="ax_default list_box">
        <div id="u9883_div" class=""></div>
        <select id="u9883_input" size="2" class="u9883_input">
          <option class="u9883_input_option" value="... Solusoln">... Solusoln</option>
          <option class="u9883_input_option" value="    ... Functions">&nbsp;&nbsp;&nbsp; ... Functions</option>
          <option class="u9883_input_option" value="        ... Cu(1)">&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; ... Cu(1)</option>
          <option class="u9883_input_option" value="        ... Ag(1)">&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; ... Ag(1)</option>
          <option class="u9883_input_option" value="     ... Solutions(0)">&nbsp;&nbsp; &nbsp; ... Solutions(0)</option>
          <option class="u9883_input_option" value="        ... LiqM(1-1)">&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; ... LiqM(1-1)</option>
          <option class="u9883_input_option" value="             ... SubLattices">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... SubLattices</option>
          <option class="u9883_input_option" value="                 ... A(0)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... A(0)</option>
          <option class="u9883_input_option" value="             ... End Members(0)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... End Members(0)</option>
          <option class="u9883_input_option" value="             ... Mixables(0)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Mixables(0)</option>
          <option class="u9883_input_option" value="             ... Ternary Interpolations">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Ternary Interpolations</option>
          <option class="u9883_input_option" value="             ... Interactions  (0)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Interactions&nbsp; (0)</option>
        </select>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9884" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">

        <!-- 2 (Group) -->
        <div id="u9885" class="ax_default ax_default_hidden" data-label="2" style="display:none; visibility: hidden" data-left="205" data-top="219" data-width="325" data-height="78" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u9886" class="ax_default box_2">
            <img id="u9886_img" class="img " src="{{ url_for('static', filename='images/compound_4_2/u7022.svg') }}"/>
            <div id="u9886_text" class="text ">
              <p><span style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;">Add F</span><span style="font-family:&quot;PingFangSC-Regular&quot;, &quot;PingFang SC&quot;, sans-serif;">unction</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9887" class="ax_default box_2">
            <img id="u9887_img" class="img " src="{{ url_for('static', filename='images/compound_4_2/u7022.svg') }}"/>
            <div id="u9887_text" class="text ">
              <p><span>Add Solution</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9888" class="ax_default box_2">
            <img id="u9888_img" class="img " src="{{ url_for('static', filename='images/compound_4_2/u7022.svg') }}"/>
            <div id="u9888_text" class="text ">
              <p><span>Add Species</span></p>
            </div>
          </div>
        </div>

        <!-- 3 (Group) -->
        <div id="u9889" class="ax_default ax_default_hidden" data-label="3" style="display:none; visibility: hidden" data-left="530" data-top="271" data-width="48" data-height="104" layer-opacity="1">

          <!-- Unnamed (Group) -->
          <div id="u9890" class="ax_default" data-left="530" data-top="271" data-width="48" data-height="26" layer-opacity="1">

            <!-- 3.1 (Rectangle) -->
            <div id="u9891" class="ax_default box_2" data-label="3.1">
              <img id="u9891_img" class="img " src="{{ url_for('static', filename='images/solution1_7/3_1_u9891.svg') }}"/>
              <div id="u9891_text" class="text ">
                <p><span>1</span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u9892" class="ax_default" data-left="530" data-top="297" data-width="48" data-height="26" layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u9893" class="ax_default box_2">
              <img id="u9893_img" class="img " src="{{ url_for('static', filename='images/solution1_7/3_1_u9891.svg') }}"/>
              <div id="u9893_text" class="text ">
                <p><span>2</span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u9894" class="ax_default" data-left="530" data-top="323" data-width="48" data-height="26" layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u9895" class="ax_default box_2">
              <img id="u9895_img" class="img " src="{{ url_for('static', filename='images/solution1_7/3_1_u9891.svg') }}"/>
              <div id="u9895_text" class="text ">
                <p><span>3</span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u9896" class="ax_default" data-left="530" data-top="349" data-width="48" data-height="26" layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u9897" class="ax_default box_2">
              <img id="u9897_img" class="img " src="{{ url_for('static', filename='images/solution1_7/3_1_u9891.svg') }}"/>
              <div id="u9897_text" class="text ">
                <p><span>4</span></p>
              </div>
            </div>
          </div>
        </div>

        <!-- 4 (Group) -->
        <div id="u9898" class="ax_default ax_default_hidden" data-label="4" style="display:none; visibility: hidden" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u9899" class="ax_default box_1">
        <img id="u9899_img" class="img " src="{{ url_for('static', filename='images/solution1_7/u9899.svg') }}"/>
        <div id="u9899_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
