<!DOCTYPE html>
<html>
  <head>
    <title>solution3.4</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/solution3_4/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/solution3_4/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- 内部框架 (Inline Frame) -->
      <div id="u10968" class="ax_default" data-label="内部框架">
        <iframe id="u10968_input" data-label="内部框架" src="http://127.0.0.1:5000/u10968_input"></iframe>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u10969" class="ax_default" data-left="289" data-top="50" data-width="867" data-height="750" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u10970" class="ax_default box_1">
          <div id="u10970_div" class=""></div>
          <div id="u10970_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u10971" class="ax_default box_1">
          <div id="u10971_div" class=""></div>
          <div id="u10971_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u10972" class="ax_default box_1">
          <div id="u10972_div" class=""></div>
          <div id="u10972_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10973" class="ax_default text_field">
          <div id="u10973_div" class=""></div>
          <input id="u10973_input" type="text" value="FactSage" class="u10973_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10974" class="ax_default text_field">
          <div id="u10974_div" class=""></div>
          <input id="u10974_input" type="text" value="C:\FACTSAGE\USERDATA\EXAMPLEBASE.CDB(v5.0) 0 compound(s) read/write" class="u10974_input" readonly/>
        </div>

        <!-- Unnamed (List Box) -->
        <div id="u10975" class="ax_default list_box">
          <div id="u10975_div" class=""></div>
          <select id="u10975_input" size="2" class="u10975_input">
            <option class="u10975_input_option" value="... Solusoln">... Solusoln</option>
            <option class="u10975_input_option" value="    ... Functions">&nbsp;&nbsp;&nbsp; ... Functions</option>
            <option class="u10975_input_option" value="    ... Solutions(1)">&nbsp;&nbsp;&nbsp; ... Solutions(1)</option>
            <option class="u10975_input_option" value="        ... LiqM(1-1)">&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; ... LiqM(1-1)</option>
            <option class="u10975_input_option" value="BCT5(7-1)">BCT5(7-1)</option>
            <option class="u10975_input_option" value="             ... SubLattices">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... SubLattices</option>
            <option class="u10975_input_option" value="                ... A(7)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... A(7)</option>
            <option class="u10975_input_option" value="                     ... Bi">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Bi</option>
            <option class="u10975_input_option" value="                     ... Pb">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Pb</option>
            <option class="u10975_input_option" value="                     … Sb">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Sb</option>
            <option class="u10975_input_option" value="                     … Sn">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Sn</option>
            <option class="u10975_input_option" value="                     … Zn">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Zn</option>
            <option class="u10975_input_option" value="                     … Ti">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Ti</option>
            <option class="u10975_input_option" value="                     … Al">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Al</option>
            <option class="u10975_input_option" value="             ... End Members(7)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... End Members(7)</option>
            <option class="u10975_input_option" value="                     … Bi">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Bi</option>
            <option class="u10975_input_option" value="                     … Pb">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Pb</option>
            <option class="u10975_input_option" value="                     … Sb">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Sb</option>
            <option class="u10975_input_option" value="                     … *Sn">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … *Sn</option>
            <option class="u10975_input_option" value="                     … Zn">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Zn</option>
            <option class="u10975_input_option" value="                     … Ti">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Ti</option>
            <option class="u10975_input_option" value="                     … Al">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Al</option>
            <option class="u10975_input_option" value="             ... Mixables(0)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Mixables(0)</option>
            <option class="u10975_input_option" value="             ... Ternary Interpolations">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Ternary Interpolations</option>
            <option class="u10975_input_option" value="                     … Sliver, Gold, Gemanium">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Sliver, Gold, Gemanium</option>
            <option class="u10975_input_option" value="             ... Interactions  (15)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Interactions&nbsp; (15)</option>
            <option class="u10975_input_option" value="                ... (0)Bi;Sn">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (0)Bi;Sn</option>
            <option class="u10975_input_option" value="                ... (1)Bi;Sn">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (1)Bi;Sn</option>
            <option class="u10975_input_option" value="                ... (2)Bi;Zn">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (2)Bi;Zn</option>
            <option class="u10975_input_option" value="                ... (3)Pb;Sn">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (3)Pb;Sn</option>
            <option class="u10975_input_option" value="                ... (4)Pb;Zn">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (4)Pb;Zn</option>
            <option class="u10975_input_option" value="                ... (5)Sb;Sn">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (5)Sb;Sn</option>
            <option class="u10975_input_option" value="                ... (6)Sb;Sn">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (6)Sb;Sn</option>
            <option class="u10975_input_option" value="                ... (7)Sn;Zn">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (7)Sn;Zn</option>
            <option class="u10975_input_option" value="                ... (8)Sn;Zn;Al">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (8)Sn;Zn;Al</option>
            <option class="u10975_input_option" value="                ... (9)Sn;Ti">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (9)Sn;Ti</option>
            <option class="u10975_input_option" value="                ... (10)Sn;Al">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (10)Sn;Al</option>
          </select>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10976" class="ax_default text_field">
          <div id="u10976_div" class=""></div>
          <input id="u10976_input" type="text" value="Formula" class="u10976_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10977" class="ax_default text_field">
          <div id="u10977_div" class=""></div>
          <input id="u10977_input" type="text" value="" class="u10977_input"/>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u10978" class="ax_default _形状">
          <img id="u10978_img" class="img " src="{{ url_for('static', filename='images/compound_3_1/u6676.svg') }}"/>
          <div id="u10978_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u10979" class="ax_default" data-left="398" data-top="65" data-width="371" data-height="32" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u10980" class="ax_default _段落">
            <div id="u10980_div" class=""></div>
            <div id="u10980_text" class="text ">
              <p><span>Edit</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10981" class="ax_default _二级标题">
            <div id="u10981_div" class=""></div>
            <div id="u10981_text" class="text ">
              <p><span>ViewData</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10982" class="ax_default _二级标题">
            <div id="u10982_div" class=""></div>
            <div id="u10982_text" class="text ">
              <p><span>Units</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10983" class="ax_default _二级标题">
            <div id="u10983_div" class=""></div>
            <div id="u10983_text" class="text ">
              <p><span>Tools</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10984" class="ax_default _二级标题">
            <div id="u10984_div" class=""></div>
            <div id="u10984_text" class="text ">
              <p><span>Help</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10985" class="ax_default _三级标题">
            <div id="u10985_div" class=""></div>
            <div id="u10985_text" class="text ">
              <p><span>View</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u10986" class="ax_default _段落">
          <div id="u10986_div" class=""></div>
          <div id="u10986_text" class="text ">
            <p><span>File</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u10987" class="ax_default _形状">
        <img id="u10987_img" class="img " src="{{ url_for('static', filename='images/compound_new_data_/u6609.svg') }}"/>
        <div id="u10987_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u10988" class="ax_default" data-left="0" data-top="0" data-width="1156" data-height="800" layer-opacity="1">

        <!-- 左侧一级菜单 (Dynamic Panel) -->
        <div id="u10989" class="ax_default" data-label="左侧一级菜单">
          <div id="u10989_state0" class="panel_state" data-label="框架" style="">
            <div id="u10989_state0_content" class="panel_state_content">

              <!-- Unnamed (Rectangle) -->
              <div id="u10990" class="ax_default box_1" selectiongroup="一级分类">
                <img id="u10990_img" class="img " src="{{ url_for('static', filename='images/模板_1/u19.svg') }}"/>
                <div id="u10990_text" class="text ">
                  <p><span>Database</span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u10991" class="ax_default box_1" selectiongroup="一级分类">
                <img id="u10991_img" class="img " src="{{ url_for('static', filename='images/模板_1/u20.svg') }}"/>
                <div id="u10991_text" class="text ">
                  <p><span>Calculate</span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u10992" class="ax_default box_1 selected" selectiongroup="一级分类">
                <img id="u10992_img" class="img " src="{{ url_for('static', filename='images/模板/u65.svg') }}"/>
                <div id="u10992_text" class="text ">
                  <p><span>Manipulate</span></p>
                </div>
              </div>

              <!-- 三角形 (Shape) -->
              <div id="u10993" class="ax_default box_1" data-label="三角形">
                <img id="u10993_img" class="img " src="{{ url_for('static', filename='images/模板_1/三角形_u22.svg') }}"/>
                <div id="u10993_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- 化学 (Group) -->
              <div id="u10994" class="ax_default" data-label="化学" data-left="6" data-top="12" data-width="30" data-height="28" layer-opacity="1">

                <!-- Unnamed (Ellipse) -->
                <div id="u10995" class="ax_default ellipse">
                  <img id="u10995_img" class="img " src="{{ url_for('static', filename='images/模板_1/u24.svg') }}"/>
                  <div id="u10995_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u10996" class="ax_default icon">
                  <img id="u10996_img" class="img " src="{{ url_for('static', filename='images/模板_1/u25.svg') }}"/>
                  <div id="u10996_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </div>

              <!-- 数据库 (Group) -->
              <div id="u10997" class="ax_default" data-label="数据库" data-left="6" data-top="66" data-width="31" data-height="29" layer-opacity="1">

                <!-- Unnamed (Ellipse) -->
                <div id="u10998" class="ax_default ellipse">
                  <img id="u10998_img" class="img " src="{{ url_for('static', filename='images/模板_1/u27.svg') }}"/>
                  <div id="u10998_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u10999" class="ax_default icon">
                  <img id="u10999_img" class="img " src="{{ url_for('static', filename='images/模板_1/u28.svg') }}"/>
                  <div id="u10999_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </div>

              <!-- Least Square (Group) -->
              <div id="u11000" class="ax_default" data-label="Least Square" data-left="8" data-top="121" data-width="29" data-height="27" layer-opacity="1">

                <!-- Unnamed (Ellipse) -->
                <div id="u11001" class="ax_default ellipse">
                  <img id="u11001_img" class="img " src="{{ url_for('static', filename='images/模板_1/u30.svg') }}"/>
                  <div id="u11001_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u11002" class="ax_default icon">
                  <img id="u11002_img" class="img " src="{{ url_for('static', filename='images/模板_1/u31.svg') }}"/>
                  <div id="u11002_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 背景 (Dynamic Panel) -->
        <div id="u11003" class="ax_default" data-label="背景">
          <div id="u11003_state0" class="panel_state" data-label="1" style="">
            <div id="u11003_state0_content" class="panel_state_content">
            </div>
          </div>
          <div id="u11003_state1" class="panel_state" data-label="2" style="visibility: hidden;">
            <div id="u11003_state1_content" class="panel_state_content">
            </div>
          </div>
          <div id="u11003_state2" class="panel_state" data-label="3" style="visibility: hidden;">
            <div id="u11003_state2_content" class="panel_state_content">
            </div>
          </div>
          <div id="u11003_state3" class="panel_state" data-label="4" style="visibility: hidden;">
            <div id="u11003_state3_content" class="panel_state_content">
            </div>
          </div>
          <div id="u11003_state4" class="panel_state" data-label="5" style="visibility: hidden;">
            <div id="u11003_state4_content" class="panel_state_content">
            </div>
          </div>
          <div id="u11003_state5" class="panel_state" data-label="6" style="visibility: hidden;">
            <div id="u11003_state5_content" class="panel_state_content">
            </div>
          </div>
          <div id="u11003_state6" class="panel_state" data-label="7" style="visibility: hidden;">
            <div id="u11003_state6_content" class="panel_state_content">
            </div>
          </div>
          <div id="u11003_state7" class="panel_state" data-label="8" style="visibility: hidden;">
            <div id="u11003_state7_content" class="panel_state_content">
            </div>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u11004" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

          <!-- Unnamed (Shape) -->
          <div id="u11005" class="ax_default box_1">
            <img id="u11005_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
            <div id="u11005_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u11006" class="ax_default box_1">
            <img id="u11006_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
            <div id="u11006_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u11007" class="ax_default box_1 selected">
          <div id="u11007_div" class="selected"></div>
          <div id="u11007_text" class="text ">
            <p><span style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">SoluSage </span><span style="font-family:&quot;PingFangSC-Semibold&quot;, &quot;PingFang SC Semibold&quot;, &quot;PingFang SC&quot;, sans-serif;font-weight:650;">(Joules)</span></p>
          </div>
        </div>

        <!-- 左侧二级菜单 (Dynamic Panel) -->
        <div id="u11008" class="ax_default" data-label="左侧二级菜单">
          <div id="u11008_state0" class="panel_state" data-label="框架" style="">
            <div id="u11008_state0_content" class="panel_state_content">

              <!-- 二级菜单 (Dynamic Panel) -->
              <div id="u11009" class="ax_default" data-label="二级菜单">
                <div id="u11009_state0" class="panel_state" data-label="Manipulate" style="">
                  <div id="u11009_state0_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u11010" class="ax_default box_1 selected" selectiongroup="二级菜单">
                      <div id="u11010_div" class="selected"></div>
                      <div id="u11010_text" class="text ">
                        <p><span>&#149; Results</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u11011" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u11011_div" class=""></div>
                      <div id="u11011_text" class="text ">
                        <p><span>&#149; Mixture</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u11012" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u11012_div" class=""></div>
                      <div id="u11012_text" class="text ">
                        <p><span>&#149; View Figure</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u11013" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u11013_div" class=""></div>
                      <div id="u11013_text" class="text ">
                        <p><span>&#149; Figure</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u11014" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u11014_div" class=""></div>
                      <div id="u11014_text" class="text ">
                        <p><span>&#149; Reset</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u11015" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u11015_div" class=""></div>
                      <div id="u11015_text" class="text ">
                        <p><span>&#149; Quit</span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="u11009_state1" class="panel_state" data-label="Database" style="visibility: hidden;">
                  <div id="u11009_state1_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u11016" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u11016_div" class=""></div>
                      <div id="u11016_text" class="text ">
                        <p><span>&#149; View Data</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u11017" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u11017_div" class=""></div>
                      <div id="u11017_text" class="text ">
                        <p><span>&#149; Compound</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u11018" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u11018_div" class=""></div>
                      <div id="u11018_text" class="text ">
                        <p><span>&#149; Solution</span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="u11009_state2" class="panel_state" data-label="Calculate" style="visibility: hidden;">
                  <div id="u11009_state2_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u11019" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u11019_div" class=""></div>
                      <div id="u11019_text" class="text ">
                        <p><span>&#149; Reaction</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u11020" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u11020_div" class=""></div>
                      <div id="u11020_text" class="text ">
                        <p><span>&#149; Equilib</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u11021" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u11021_div" class=""></div>
                      <div id="u11021_text" class="text ">
                        <p><span>&#149; Phase Diagram</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u11022" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u11022_div" class=""></div>
                      <div id="u11022_text" class="text ">
                        <p><span>&#149; Predom</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u11023" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u11023_div" class=""></div>
                      <div id="u11023_text" class="text ">
                        <p><span>&#149; EpH</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u11024" class="ax_default box_1" selectiongroup="二级菜单">
                      <div id="u11024_div" class=""></div>
                      <div id="u11024_text" class="text ">
                        <p><span>&#149; Optimize</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u11025" class="ax_default icon">
          <img id="u11025_img" class="img " src="{{ url_for('static', filename='images/模板_1/u43.svg') }}"/>
          <div id="u11025_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u11026" class="ax_default box_1" title="系统消息">
          <img id="u11026_img" class="img " src="{{ url_for('static', filename='images/模板_1/u38.svg') }}"/>
          <div id="u11026_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u11027" class="ax_default box_1" title="退出登录">
          <img id="u11027_img" class="img " src="{{ url_for('static', filename='images/模板_1/u41.svg') }}"/>
          <div id="u11027_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u11028" class="ax_default box_1">
          <img id="u11028_img" class="img " src="{{ url_for('static', filename='images/模板_1/u40.svg') }}"/>
          <div id="u11028_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u11029" class="ax_default box_1" title="更换皮肤">
          <img id="u11029_img" class="img " src="{{ url_for('static', filename='images/模板_1/u39.svg') }}"/>
          <div id="u11029_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u11030" class="ax_default box_1" title="常用菜单">
          <img id="u11030_img" class="img " src="{{ url_for('static', filename='images/模板_1/u38.svg') }}"/>
          <div id="u11030_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u11031" class="ax_default box_1">
          <img id="u11031_img" class="img " src="{{ url_for('static', filename='images/模板_1/u37.svg') }}"/>
          <div id="u11031_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u11032" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">

        <!-- 1 (Group) -->
        <div id="u11033" class="ax_default ax_default_hidden" data-label="1" style="display:none; visibility: hidden" data-left="369" data-top="91" data-width="146" data-height="78" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u11034" class="ax_default box_2">
            <img id="u11034_img" class="img " src="{{ url_for('static', filename='images/compound__solid_/u7175.svg') }}"/>
            <div id="u11034_text" class="text ">
              <p><span>New Database</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u11035" class="ax_default box_2">
            <img id="u11035_img" class="img " src="{{ url_for('static', filename='images/compound__solid_/u7175.svg') }}"/>
            <div id="u11035_text" class="text ">
              <p><span>Open Database</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u11036" class="ax_default box_2">
            <img id="u11036_img" class="img " src="{{ url_for('static', filename='images/compound__solid_/u7175.svg') }}"/>
            <div id="u11036_text" class="text ">
              <p><span>Close Database</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- 1 (Group) -->
      <div id="u11037" class="ax_default" data-label="1" data-left="542" data-top="145" data-width="614" data-height="606" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u11038" class="ax_default box_1">
          <img id="u11038_img" class="img " src="{{ url_for('static', filename='images/solution3_4/u11038.svg') }}"/>
          <div id="u11038_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u11039" class="ax_default text_field">
          <div id="u11039_div" class=""></div>
          <input id="u11039_input" type="text" value="Y= site fraction" class="u11039_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u11040" class="ax_default text_field">
          <div id="u11040_div" class=""></div>
          <input id="u11040_input" type="text" value="A: Sn" class="u11040_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u11041" class="ax_default text_field">
          <div id="u11041_div" class=""></div>
          <input id="u11041_input" type="text" value="B: Zn" class="u11041_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u11042" class="ax_default text_field">
          <div id="u11042_div" class=""></div>
          <input id="u11042_input" type="text" value="C: Ti" class="u11042_input" readonly/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u11043" class="ax_default box_1">
          <div id="u11043_div" class=""></div>
          <div id="u11043_text" class="text ">
            <p><span>0</span></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u11044" class="ax_default text_field">
          <div id="u11044_div" class=""></div>
          <input id="u11044_input" type="text" value="J/mol" class="u11044_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u11045" class="ax_default text_field">
          <div id="u11045_div" class=""></div>
          <input id="u11045_input" type="text" value="D: Al" class="u11045_input" readonly/>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11046" class="ax_default box_1">
        <div id="u11046_div" class=""></div>
        <div id="u11046_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u11047" class="ax_default image">
        <img id="u11047_img" class="img " src="{{ url_for('static', filename='images/solution3_4/u11047.svg') }}"/>
        <div id="u11047_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u11048" class="ax_default image">
        <img id="u11048_img" class="img " src="{{ url_for('static', filename='images/solution3_4/u11048.svg') }}"/>
        <div id="u11048_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
