<!DOCTYPE html>
<html>
  <head>
    <title>solution1.3</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/solution1_3/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/solution1_3/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- 内部框架 (Inline Frame) -->
      <div id="u9618" class="ax_default" data-label="内部框架">
        <iframe id="u9618_input" data-label="内部框架" src="http://127.0.0.1:5000/u9618_input"></iframe>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u9619" class="ax_default box_1">
        <div id="u9619_div" class=""></div>
        <div id="u9619_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9620" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u9621" class="ax_default box_1">
          <img id="u9621_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
          <div id="u9621_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9622" class="ax_default box_1">
          <img id="u9622_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
          <div id="u9622_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9623" class="ax_default" data-left="255" data-top="95" data-width="618" data-height="606" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u9624" class="ax_default box_1">
          <div id="u9624_div" class=""></div>
          <div id="u9624_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9625" class="ax_default" data-left="0" data-top="0" data-width="873" data-height="750" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u9626" class="ax_default box_1">
          <div id="u9626_div" class=""></div>
          <div id="u9626_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9627" class="ax_default box_1">
          <div id="u9627_div" class=""></div>
          <div id="u9627_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9628" class="ax_default box_1">
          <div id="u9628_div" class=""></div>
          <div id="u9628_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9629" class="ax_default text_field">
          <div id="u9629_div" class=""></div>
          <input id="u9629_input" type="text" value="FactSage" class="u9629_input" readonly/>
        </div>

        <!-- Unnamed (List Box) -->
        <div id="u9630" class="ax_default list_box">
          <div id="u9630_div" class=""></div>
          <select id="u9630_input" size="2" class="u9630_input">
            <option class="u9630_input_option" value="…r    FSupsiBASE">…r&nbsp; &nbsp; FSupsiBASE</option>
            <option class="u9630_input_option" value="…r    FThallBASE">…r&nbsp; &nbsp; FThallBASE</option>
            <option class="u9630_input_option" value="…r    FThelgBASE">…r&nbsp; &nbsp; FThelgBASE</option>
            <option class="u9630_input_option" value="…r/w   FTliBASE">…r/w&nbsp;&nbsp; FTliBASE</option>
            <option class="u9630_input_option" value="…r    FTliteBASE">…r&nbsp; &nbsp; FTliteBASE</option>
            <option class="u9630_input_option" value="     …       Cu">&nbsp;&nbsp; &nbsp; …&nbsp; &nbsp; &nbsp;&nbsp; Cu</option>
            <option class="u9630_input_option" value="           …      S1">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; …&nbsp; &nbsp; &nbsp; S1</option>
            <option class="u9630_input_option" value="           …      S2">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; …&nbsp; &nbsp; &nbsp; S2</option>
            <option class="u9630_input_option" value="           …      S3">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; …&nbsp; &nbsp; &nbsp; S3</option>
            <option class="u9630_input_option" value="           …      S4">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; …&nbsp; &nbsp; &nbsp; S4</option>
            <option class="u9630_input_option" selected value="           …      L1">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; …&nbsp; &nbsp; &nbsp; L1</option>
            <option class="u9630_input_option" value="     …       Ag">&nbsp;&nbsp; &nbsp; …&nbsp; &nbsp; &nbsp;&nbsp; Ag</option>
            <option class="u9630_input_option" value="…r    FTlmiscBASE">…r&nbsp; &nbsp; FTlmiscBASE</option>
            <option class="u9630_input_option" value="…r    FToxidBASE">…r&nbsp; &nbsp; FToxidBASE</option>
            <option class="u9630_input_option" value="…r    FTpulpBASE">…r&nbsp; &nbsp; FTpulpBASE</option>
            <option class="u9630_input_option" value="…r    FTsaltBASE">…r&nbsp; &nbsp; FTsaltBASE</option>
            <option class="u9630_input_option" value="…r/w   HGOKBASE">…r/w&nbsp;&nbsp; HGOKBASE</option>
            <option class="u9630_input_option" value="…r/w   LINDBASE">…r/w&nbsp;&nbsp; LINDBASE</option>
          </select>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9631" class="ax_default text_field">
          <div id="u9631_div" class=""></div>
          <input id="u9631_input" type="text" value="Function Name" class="u9631_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9632" class="ax_default text_field">
          <div id="u9632_div" class=""></div>
          <input id="u9632_input" type="text" value="Ag" class="u9632_input"/>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u9633" class="ax_default" data-left="63" data-top="15" data-width="399" data-height="32" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u9634" class="ax_default _二级标题">
            <div id="u9634_div" class=""></div>
            <div id="u9634_text" class="text ">
              <p><span>ViewData</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9635" class="ax_default _二级标题">
            <div id="u9635_div" class=""></div>
            <div id="u9635_text" class="text ">
              <p><span>Units</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9636" class="ax_default _二级标题">
            <div id="u9636_div" class=""></div>
            <div id="u9636_text" class="text ">
              <p><span>Tools</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9637" class="ax_default _二级标题">
            <div id="u9637_div" class=""></div>
            <div id="u9637_text" class="text ">
              <p><span>Help</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9638" class="ax_default _三级标题">
            <div id="u9638_div" class=""></div>
            <div id="u9638_text" class="text ">
              <p><span>File</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9639" class="ax_default _三级标题">
            <div id="u9639_div" class=""></div>
            <div id="u9639_text" class="text ">
              <p><span>Edit</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9640" class="ax_default _形状">
          <img id="u9640_img" class="img " src="{{ url_for('static', filename='images/solution2_2/u9358.svg') }}"/>
          <div id="u9640_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u9641" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">

          <!-- 2 (Group) -->
          <div id="u9642" class="ax_default ax_default_hidden" data-label="2" style="display:none; visibility: hidden" data-left="79" data-top="35" data-width="195" data-height="182" layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u9643" class="ax_default box_2 selected">
              <img id="u9643_img" class="img " src="{{ url_for('static', filename='images/solution1_3/u9643.svg') }}"/>
              <div id="u9643_text" class="text ">
                <p><span>Add</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9644" class="ax_default box_2 selected">
              <img id="u9644_img" class="img " src="{{ url_for('static', filename='images/solution1_3/u9643.svg') }}"/>
              <div id="u9644_text" class="text ">
                <p><span>Remove from list</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9645" class="ax_default box_2 selected">
              <img id="u9645_img" class="img " src="{{ url_for('static', filename='images/solution1_3/u9643.svg') }}"/>
              <div id="u9645_text" class="text ">
                <p><span>Clear list Mixture</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9646" class="ax_default box_2 selected">
              <img id="u9646_img" class="img " src="{{ url_for('static', filename='images/solution1_3/u9643.svg') }}"/>
              <div id="u9646_text" class="text ">
                <p><span>Erase from EXAMBASE</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9647" class="ax_default box_2 selected">
              <img id="u9647_img" class="img " src="{{ url_for('static', filename='images/solution1_3/u9643.svg') }}"/>
              <div id="u9647_text" class="text ">
                <p><span>Save to EXAMBASE</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9648" class="ax_default box_2 selected">
              <img id="u9648_img" class="img " src="{{ url_for('static', filename='images/solution1_3/u9643.svg') }}"/>
              <div id="u9648_text" class="text ">
                <p><span>Copy</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9649" class="ax_default box_2 selected">
              <img id="u9649_img" class="img " src="{{ url_for('static', filename='images/solution1_3/u9643.svg') }}"/>
              <div id="u9649_text" class="text ">
                <p><span>Paste</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u9650" class="ax_default _形状">
        <img id="u9650_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1722.svg') }}"/>
        <div id="u9650_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9651" class="ax_default" data-left="263" data-top="121" data-width="596" data-height="257" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u9652" class="ax_default" data-left="279" data-top="162" data-width="576" data-height="15" layer-opacity="1">

          <!-- Unnamed (Radio Button) -->
          <div id="u9653" class="ax_default radio_button">
            <label id="u9653_input_label" for="u9653_input" style="position: absolute; left: 0px;">
              <img id="u9653_img" class="img " src="{{ url_for('static', filename='images/solution1_3/u9653.svg') }}"/>
              <div id="u9653_text" class="text ">
                <p><span>Heat + Temperature of transf.</span></p>
              </div>
            </label>
            <input id="u9653_input" type="radio" value="radio" name="u9653"/>
          </div>

          <!-- Unnamed (Radio Button) -->
          <div id="u9654" class="ax_default radio_button" selectiongroup="energy">
            <label id="u9654_input_label" for="u9654_input" style="position: absolute; left: 0px;">
              <img id="u9654_img" class="img " src="{{ url_for('static', filename='images/solution1_2/u9508.svg') }}"/>
              <div id="u9654_text" class="text ">
                <p><span>Heat of from. + Entropy</span></p>
              </div>
            </label>
            <input id="u9654_input" type="radio" value="radio" name="energy"/>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u9655" class="ax_default" data-left="274" data-top="202" data-width="519" data-height="91" layer-opacity="1">

          <!-- Unnamed (Text Field) -->
          <div id="u9656" class="ax_default text_field">
            <div id="u9656_div" class=""></div>
            <input id="u9656_input" type="text" value="△H 298(Joules)" class="u9656_input"/>
          </div>

          <!-- Unnamed (Vertical Line) -->
          <div id="u9657" class="ax_default line">
            <img id="u9657_img" class="img " src="{{ url_for('static', filename='images/solution1_2/u9511.svg') }}"/>
            <div id="u9657_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Line) -->
          <div id="u9658" class="ax_default line">
            <img id="u9658_img" class="img " src="{{ url_for('static', filename='images/solution1_3/u9658.svg') }}"/>
            <div id="u9658_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Line) -->
          <div id="u9659" class="ax_default line">
            <img id="u9659_img" class="img " src="{{ url_for('static', filename='images/solution1_3/u9658.svg') }}"/>
            <div id="u9659_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Vertical Line) -->
          <div id="u9660" class="ax_default line">
            <img id="u9660_img" class="img " src="{{ url_for('static', filename='images/solution1_2/u9514.svg') }}"/>
            <div id="u9660_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9661" class="ax_default text_field">
          <div id="u9661_div" class=""></div>
          <input id="u9661_input" type="text" value="S298(J/(mol K))" class="u9661_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9662" class="ax_default text_field">
          <div id="u9662_div" class=""></div>
          <input id="u9662_input" type="text" value="" class="u9662_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9663" class="ax_default text_field">
          <div id="u9663_div" class=""></div>
          <input id="u9663_input" type="text" value="" class="u9663_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9664" class="ax_default text_field">
          <div id="u9664_div" class=""></div>
          <input id="u9664_input" type="text" value="Form. of S1" class="u9664_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9665" class="ax_default text_field">
          <div id="u9665_div" class=""></div>
          <input id="u9665_input" type="text" value="Phase Name" class="u9665_input" readonly/>
        </div>

        <!-- Unnamed (Line) -->
        <div id="u9666" class="ax_default line">
          <img id="u9666_img" class="img " src="{{ url_for('static', filename='images/solution1_3/u9666.svg') }}"/>
          <div id="u9666_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9667" class="ax_default text_field">
          <div id="u9667_div" class=""></div>
          <input id="u9667_input" type="text" value="L1 properties" class="u9667_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9668" class="ax_default text_field">
          <div id="u9668_div" class=""></div>
          <input id="u9668_input" type="text" value="" class="u9668_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9669" class="ax_default text_field">
          <div id="u9669_div" class=""></div>
          <input id="u9669_input" type="text" value="Reference no." class="u9669_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9670" class="ax_default text_field">
          <div id="u9670_div" class=""></div>
          <input id="u9670_input" type="text" value="Density g/cc" class="u9670_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9671" class="ax_default text_field">
          <div id="u9671_div" class=""></div>
          <input id="u9671_input" type="text" value="" class="u9671_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9672" class="ax_default text_field">
          <div id="u9672_div" class=""></div>
          <input id="u9672_input" type="text" value="" class="u9672_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9673" class="ax_default text_field">
          <div id="u9673_div" class=""></div>
          <input id="u9673_input" type="text" value="" class="u9673_input"/>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9674" class="ax_default" data-left="263" data-top="398" data-width="592" data-height="272" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u9675" class="ax_default" data-left="263" data-top="411" data-width="592" data-height="259" layer-opacity="1">

          <!-- Unnamed (Vertical Line) -->
          <div id="u9676" class="ax_default line">
            <img id="u9676_img" class="img " src="{{ url_for('static', filename='images/solution1_3/u9676.svg') }}"/>
            <div id="u9676_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Line) -->
          <div id="u9677" class="ax_default line">
            <img id="u9677_img" class="img " src="{{ url_for('static', filename='images/solution1_3/u9677.svg') }}"/>
            <div id="u9677_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Line) -->
          <div id="u9678" class="ax_default line">
            <img id="u9678_img" class="img " src="{{ url_for('static', filename='images/solution1_3/u9677.svg') }}"/>
            <div id="u9678_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Vertical Line) -->
          <div id="u9679" class="ax_default line">
            <img id="u9679_img" class="img " src="{{ url_for('static', filename='images/solution1_3/u9679.svg') }}"/>
            <div id="u9679_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9680" class="ax_default text_field">
          <div id="u9680_div" class=""></div>
          <input id="u9680_input" type="text" value="Extened properties(optional)" class="u9680_input"/>
        </div>

        <!-- Unnamed (Droplist) -->
        <div id="u9681" class="ax_default droplist">
          <div id="u9681_div" class=""></div>
          <select id="u9681_input" class="u9681_input">
            <option class="u9681_input_option" value="Birch-Murnaghan">Birch-Murnaghan</option>
          </select>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u9682" class="ax_default" data-left="271" data-top="450" data-width="173" data-height="128" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u9683" class="ax_default box_1">
            <div id="u9683_div" class=""></div>
            <div id="u9683_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9684" class="ax_default text_field">
            <div id="u9684_div" class=""></div>
            <input id="u9684_input" type="text" value="Therm.expans. (/K)" class="u9684_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9685" class="ax_default text_field">
            <div id="u9685_div" class=""></div>
            <input id="u9685_input" type="text" value="" class="u9685_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9686" class="ax_default text_field">
            <div id="u9686_div" class=""></div>
            <input id="u9686_input" type="text" value="" class="u9686_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9687" class="ax_default text_field">
            <div id="u9687_div" class=""></div>
            <input id="u9687_input" type="text" value="" class="u9687_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9688" class="ax_default text_field">
            <div id="u9688_div" class=""></div>
            <input id="u9688_input" type="text" value="" class="u9688_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9689" class="ax_default text_field">
            <div id="u9689_div" class=""></div>
            <input id="u9689_input" type="text" value="T" class="u9689_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9690" class="ax_default text_field">
            <div id="u9690_div" class=""></div>
            <input id="u9690_input" type="text" value="/T" class="u9690_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9691" class="ax_default text_field">
            <div id="u9691_div" class=""></div>
            <input id="u9691_input" type="text" value="/T^2" class="u9691_input" readonly/>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u9692" class="ax_default" data-left="444" data-top="450" data-width="191" data-height="128" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u9693" class="ax_default box_1">
            <div id="u9693_div" class=""></div>
            <div id="u9693_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9694" class="ax_default text_field">
            <div id="u9694_div" class=""></div>
            <input id="u9694_input" type="text" value="Compressibilitry(/bar)" class="u9694_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9695" class="ax_default text_field">
            <div id="u9695_div" class=""></div>
            <input id="u9695_input" type="text" value="" class="u9695_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9696" class="ax_default text_field">
            <div id="u9696_div" class=""></div>
            <input id="u9696_input" type="text" value="" class="u9696_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9697" class="ax_default text_field">
            <div id="u9697_div" class=""></div>
            <input id="u9697_input" type="text" value="" class="u9697_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9698" class="ax_default text_field">
            <div id="u9698_div" class=""></div>
            <input id="u9698_input" type="text" value="" class="u9698_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9699" class="ax_default text_field">
            <div id="u9699_div" class=""></div>
            <input id="u9699_input" type="text" value="T" class="u9699_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9700" class="ax_default text_field">
            <div id="u9700_div" class=""></div>
            <input id="u9700_input" type="text" value="T^2" class="u9700_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9701" class="ax_default text_field">
            <div id="u9701_div" class=""></div>
            <input id="u9701_input" type="text" value="T^3" class="u9701_input" readonly/>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u9702" class="ax_default" data-left="635" data-top="450" data-width="216" data-height="85" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u9703" class="ax_default box_1">
            <div id="u9703_div" class=""></div>
            <div id="u9703_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9704" class="ax_default text_field">
            <div id="u9704_div" class=""></div>
            <input id="u9704_input" type="text" value="Bulk mod. deriv." class="u9704_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9705" class="ax_default text_field">
            <div id="u9705_div" class=""></div>
            <input id="u9705_input" type="text" value="" class="u9705_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9706" class="ax_default text_field">
            <div id="u9706_div" class=""></div>
            <input id="u9706_input" type="text" value="" class="u9706_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9707" class="ax_default text_field">
            <div id="u9707_div" class=""></div>
            <input id="u9707_input" type="text" value="(T-T0)In(T/T0)" class="u9707_input" readonly/>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
