<!DOCTYPE html>
<html>
  <head>
    <title>solution1.14</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/solution1_14/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/solution1_14/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- 内部框架 (Inline Frame) -->
      <div id="u9335" class="ax_default" data-label="内部框架">
        <iframe id="u9335_input" data-label="内部框架" src="http://127.0.0.1:5000/u9335_input"></iframe>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u9336" class="ax_default box_1">
        <div id="u9336_div" class=""></div>
        <div id="u9336_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9337" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u9338" class="ax_default box_1">
          <img id="u9338_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
          <div id="u9338_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9339" class="ax_default box_1">
          <img id="u9339_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
          <div id="u9339_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9340" class="ax_default" data-left="0" data-top="0" data-width="873" data-height="750" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u9341" class="ax_default box_1">
          <div id="u9341_div" class=""></div>
          <div id="u9341_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9342" class="ax_default box_1">
          <div id="u9342_div" class=""></div>
          <div id="u9342_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9343" class="ax_default box_1">
          <div id="u9343_div" class=""></div>
          <div id="u9343_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9344" class="ax_default text_field">
          <div id="u9344_div" class=""></div>
          <input id="u9344_input" type="text" value="FactSage" class="u9344_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9345" class="ax_default text_field">
          <div id="u9345_div" class=""></div>
          <input id="u9345_input" type="text" value="Function Name" class="u9345_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9346" class="ax_default text_field">
          <div id="u9346_div" class=""></div>
          <input id="u9346_input" type="text" value="" class="u9346_input"/>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u9347" class="ax_default" data-left="63" data-top="15" data-width="399" data-height="32" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u9348" class="ax_default _二级标题">
            <div id="u9348_div" class=""></div>
            <div id="u9348_text" class="text ">
              <p><span>ViewData</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9349" class="ax_default _二级标题">
            <div id="u9349_div" class=""></div>
            <div id="u9349_text" class="text ">
              <p><span>Units</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9350" class="ax_default _二级标题">
            <div id="u9350_div" class=""></div>
            <div id="u9350_text" class="text ">
              <p><span>Tools</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9351" class="ax_default _二级标题">
            <div id="u9351_div" class=""></div>
            <div id="u9351_text" class="text ">
              <p><span>Help</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9352" class="ax_default _三级标题">
            <div id="u9352_div" class=""></div>
            <div id="u9352_text" class="text ">
              <p><span>File</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9353" class="ax_default _三级标题">
            <div id="u9353_div" class=""></div>
            <div id="u9353_text" class="text ">
              <p><span>Edit</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9354" class="ax_default _形状">
          <img id="u9354_img" class="img " src="{{ url_for('static', filename='images/solution2_2/u8577.svg') }}"/>
          <div id="u9354_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u9355" class="ax_default _形状">
        <img id="u9355_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1722.svg') }}"/>
        <div id="u9355_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (List Box) -->
      <div id="u9356" class="ax_default list_box">
        <div id="u9356_div" class=""></div>
        <select id="u9356_input" size="2" class="u9356_input">
          <option class="u9356_input_option" value="... Solusoln">... Solusoln</option>
          <option class="u9356_input_option" value="    ... Functions">&nbsp;&nbsp;&nbsp; ... Functions</option>
          <option class="u9356_input_option" value="        ... Cu(1)">&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; ... Cu(1)</option>
          <option class="u9356_input_option" value="        ... Ag(1)">&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; ... Ag(1)</option>
          <option class="u9356_input_option" value="     ... Solutions(0)">&nbsp;&nbsp; &nbsp; ... Solutions(0)</option>
          <option class="u9356_input_option" value="        ... LiqM(1-1)">&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; ... LiqM(1-1)</option>
          <option class="u9356_input_option" value="             ... SubLattices">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... SubLattices</option>
          <option class="u9356_input_option" value="                ... A(2)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... A(2)</option>
          <option class="u9356_input_option" value="                     ... Silver(B)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Silver(B)</option>
          <option class="u9356_input_option" value="                     ... Copper(A)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Copper(A)</option>
          <option class="u9356_input_option" value="             ... End Members(2)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... End Members(2)</option>
          <option class="u9356_input_option" value="             ... Mixables(0)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Mixables(0)</option>
          <option class="u9356_input_option" value="             ... Ternary Interpolations">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Ternary Interpolations</option>
          <option class="u9356_input_option" value="             ... Interactions  (0)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Interactions&nbsp; (0)</option>
        </select>
      </div>

      <!-- Unnamed (Hot Spot) -->
      <div id="u9357" class="ax_default">
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9358" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">

        <!-- 2 (Group) -->
        <div id="u9359" class="ax_default ax_default_hidden" data-label="2" style="display:none; visibility: hidden" data-left="220" data-top="303" data-width="323" data-height="288" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u9360" class="ax_default box_2">
            <img id="u9360_img" class="img " src="{{ url_for('static', filename='images/solution1_14/u9360.svg') }}"/>
            <div id="u9360_text" class="text ">
              <p><span>Add Solution</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9361" class="ax_default box_2">
            <img id="u9361_img" class="img " src="{{ url_for('static', filename='images/solution1_14/u9360.svg') }}"/>
            <div id="u9361_text" class="text ">
              <p><span>End Member</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9362" class="ax_default box_2">
            <img id="u9362_img" class="img " src="{{ url_for('static', filename='images/solution1_14/u9362.svg') }}"/>
            <div id="u9362_text" class="text ">
              <p><span>Add Solution</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9363" class="ax_default box_2">
            <img id="u9363_img" class="img " src="{{ url_for('static', filename='images/solution1_14/u9362.svg') }}"/>
            <div id="u9363_text" class="text ">
              <p><span>End Member</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9364" class="ax_default box_2">
            <img id="u9364_img" class="img " src="{{ url_for('static', filename='images/solution1_14/u9364.svg') }}"/>
            <div id="u9364_text" class="text ">
              <p><span>Add Mixable Silver;Copper;Gold;Germanium</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9365" class="ax_default box_2">
            <img id="u9365_img" class="img " src="{{ url_for('static', filename='images/solution1_14/u9364.svg') }}"/>
            <div id="u9365_text" class="text ">
              <p><span>Quadruplet</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9366" class="ax_default box_2">
            <img id="u9366_img" class="img " src="{{ url_for('static', filename='images/solution1_14/u9364.svg') }}"/>
            <div id="u9366_text" class="text ">
              <p><span>Ternary Interpolation</span></p>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u9367" class="ax_default" data-left="220" data-top="486" data-width="323" data-height="26" layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u9368" class="ax_default box_2">
              <img id="u9368_img" class="img " src="{{ url_for('static', filename='images/solution1_14/u9364.svg') }}"/>
              <div id="u9368_text" class="text ">
                <p><span>Add Bragg-wiliams</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u9369" class="ax_default _形状">
              <img id="u9369_img" class="img " src="{{ url_for('static', filename='images/solution1_14/u9369.svg') }}"/>
              <div id="u9369_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9370" class="ax_default box_2">
            <img id="u9370_img" class="img " src="{{ url_for('static', filename='images/solution1_14/u9364.svg') }}"/>
            <div id="u9370_text" class="text ">
              <p><span>Add Quasichermical</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9371" class="ax_default box_2">
            <img id="u9371_img" class="img " src="{{ url_for('static', filename='images/solution1_14/u9371.svg') }}"/>
            <div id="u9371_text" class="text ">
              <p><span>Add Pair fraction expansion</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9372" class="ax_default box_2">
            <img id="u9372_img" class="img " src="{{ url_for('static', filename='images/solution1_14/u9372.svg') }}"/>
            <div id="u9372_text" class="text ">
              <p><span>Paste Function&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Ctrl+V</span></p>
            </div>
          </div>
        </div>

        <!-- 3 (Group) -->
        <div id="u9373" class="ax_default ax_default_hidden" data-label="3" style="display:none; visibility: hidden" data-left="543" data-top="486" data-width="67" data-height="52" layer-opacity="1">

          <!-- Unnamed (Group) -->
          <div id="u9374" class="ax_default" data-left="543" data-top="486" data-width="67" data-height="26" layer-opacity="1">

            <!-- 3.1 (Rectangle) -->
            <div id="u9375" class="ax_default box_2" data-label="3.1">
              <img id="u9375_img" class="img " src="{{ url_for('static', filename='images/solution1_14/3_1_u9375.svg') }}"/>
              <div id="u9375_text" class="text ">
                <p><span>GE</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u9376" class="ax_default _形状">
              <img id="u9376_img" class="img " src="{{ url_for('static', filename='images/solution1_14/u9376.svg') }}"/>
              <div id="u9376_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u9377" class="ax_default" data-left="543" data-top="512" data-width="67" data-height="26" layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u9378" class="ax_default box_2">
              <img id="u9378_img" class="img " src="{{ url_for('static', filename='images/solution1_14/3_1_u9375.svg') }}"/>
              <div id="u9378_text" class="text ">
                <p><span>VE</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u9379" class="ax_default _形状">
              <img id="u9379_img" class="img " src="{{ url_for('static', filename='images/solution1_14/u9376.svg') }}"/>
              <div id="u9379_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>
        </div>

        <!-- 4 (Group) -->
        <div id="u9380" class="ax_default ax_default_hidden" data-label="4" style="display:none; visibility: hidden" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9381" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">

        <!-- 1 (Group) -->
        <div id="u9382" class="ax_default ax_default_hidden" data-label="1" style="display:none; visibility: hidden" data-left="610" data-top="485" data-width="158" data-height="78" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u9383" class="ax_default box_2">
            <img id="u9383_img" class="img " src="{{ url_for('static', filename='images/solution1_14/u9383.svg') }}"/>
            <div id="u9383_text" class="text ">
              <p><span>Simple Polynomal</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9384" class="ax_default box_2">
            <img id="u9384_img" class="img " src="{{ url_for('static', filename='images/solution1_14/u9383.svg') }}"/>
            <div id="u9384_text" class="text ">
              <p><span>Redlich-Kister</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9385" class="ax_default box_2">
            <img id="u9385_img" class="img " src="{{ url_for('static', filename='images/solution1_14/u9383.svg') }}"/>
            <div id="u9385_text" class="text ">
              <p><span>Legendre</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
