<!DOCTYPE html>
<html>
  <head>
    <title>solution1.13</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/solution1_13/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/solution1_13/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- 内部框架 (Inline Frame) -->
      <div id="u10065" class="ax_default" data-label="内部框架">
        <iframe id="u10065_input" data-label="内部框架" src="http://127.0.0.1:5000/u10065_input"></iframe>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u10066" class="ax_default box_1">
        <div id="u10066_div" class=""></div>
        <div id="u10066_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u10067" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u10068" class="ax_default box_1">
          <img id="u10068_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
          <div id="u10068_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u10069" class="ax_default box_1">
          <img id="u10069_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
          <div id="u10069_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u10070" class="ax_default" data-left="255" data-top="95" data-width="618" data-height="606" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u10071" class="ax_default" data-left="255" data-top="95" data-width="618" data-height="606" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u10072" class="ax_default box_1">
            <div id="u10072_div" class=""></div>
            <div id="u10072_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u10073" class="ax_default" data-left="255" data-top="95" data-width="618" data-height="606" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u10074" class="ax_default box_1">
            <div id="u10074_div" class=""></div>
            <div id="u10074_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u10075" class="ax_default text_field">
            <div id="u10075_div" class=""></div>
            <input id="u10075_input" type="text" value="1" class="u10075_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u10076" class="ax_default text_field">
            <div id="u10076_div" class=""></div>
            <input id="u10076_input" type="text" value="Name" class="u10076_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u10077" class="ax_default text_field">
            <div id="u10077_div" class=""></div>
            <input id="u10077_input" type="text" value="Copper" class="u10077_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u10078" class="ax_default text_field">
            <div id="u10078_div" class=""></div>
            <input id="u10078_input" type="text" value="A1" class="u10078_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u10079" class="ax_default text_field">
            <div id="u10079_div" class=""></div>
            <input id="u10079_input" type="text" value="Z(Copper)" class="u10079_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u10080" class="ax_default text_field">
            <div id="u10080_div" class=""></div>
            <input id="u10080_input" type="text" value="1" class="u10080_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u10081" class="ax_default text_field">
            <div id="u10081_div" class=""></div>
            <input id="u10081_input" type="text" value="Stoic." class="u10081_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u10082" class="ax_default text_field">
            <div id="u10082_div" class=""></div>
            <input id="u10082_input" type="text" value="Formula" class="u10082_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u10083" class="ax_default text_field">
            <div id="u10083_div" class=""></div>
            <input id="u10083_input" type="text" value="Cu" class="u10083_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u10084" class="ax_default text_field">
            <div id="u10084_div" class=""></div>
            <input id="u10084_input" type="text" value="Gibbs Energy Function" class="u10084_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u10085" class="ax_default text_field">
            <div id="u10085_div" class=""></div>
            <input id="u10085_input" type="text" value="Cu#liquid" class="u10085_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u10086" class="ax_default text_field">
            <div id="u10086_div" class=""></div>
            <input id="u10086_input" type="text" value="" class="u10086_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u10087" class="ax_default text_field">
            <div id="u10087_div" class=""></div>
            <input id="u10087_input" type="text" value="Status" class="u10087_input" readonly/>
          </div>

          <!-- Unnamed (Radio Button) -->
          <div id="u10088" class="ax_default radio_button">
            <label id="u10088_input_label" for="u10088_input" style="position: absolute; left: 0px;">
              <img id="u10088_img" class="img " src="{{ url_for('static', filename='images/solution1_13/u10088.svg') }}"/>
              <div id="u10088_text" class="text ">
                <p><span>Normal</span></p>
              </div>
            </label>
            <input id="u10088_input" type="radio" value="radio" name="u10088"/>
          </div>

          <!-- Unnamed (Radio Button) -->
          <div id="u10089" class="ax_default radio_button">
            <label id="u10089_input_label" for="u10089_input" style="position: absolute; left: 0px;">
              <img id="u10089_img" class="img " src="{{ url_for('static', filename='images/solution1_13/u10089.svg') }}"/>
              <div id="u10089_text" class="text ">
                <p><span>Discarded</span></p>
              </div>
            </label>
            <input id="u10089_input" type="radio" value="radio" name="u10089"/>
          </div>

          <!-- Unnamed (Radio Button) -->
          <div id="u10090" class="ax_default radio_button">
            <label id="u10090_input_label" for="u10090_input" style="position: absolute; left: 0px;">
              <img id="u10090_img" class="img " src="{{ url_for('static', filename='images/solution1_13/u10090.svg') }}"/>
              <div id="u10090_text" class="text ">
                <p><span>Main Solvent</span></p>
              </div>
            </label>
            <input id="u10090_input" type="radio" value="radio" name="u10090"/>
          </div>

          <!-- Unnamed (Radio Button) -->
          <div id="u10091" class="ax_default radio_button">
            <label id="u10091_input_label" for="u10091_input" style="position: absolute; left: 0px;">
              <img id="u10091_img" class="img " src="{{ url_for('static', filename='images/solution1_13/u10091.svg') }}"/>
              <div id="u10091_text" class="text ">
                <p><span>Solvent</span></p>
              </div>
            </label>
            <input id="u10091_input" type="radio" value="radio" name="u10091"/>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u10092" class="ax_default" data-left="713" data-top="538" data-width="16" data-height="21" layer-opacity="1">

            <!-- Unnamed (Shape) -->
            <div id="u10093" class="ax_default _形状">
              <img id="u10093_img" class="img " src="{{ url_for('static', filename='images/solution1_13/u10093.svg') }}"/>
              <div id="u10093_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u10094" class="ax_default _形状">
              <img id="u10094_img" class="img " src="{{ url_for('static', filename='images/solution1_13/u10094.svg') }}"/>
              <div id="u10094_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u10095" class="ax_default text_field">
            <div id="u10095_div" class=""></div>
            <input id="u10095_input" type="text" value="Xmax" class="u10095_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u10096" class="ax_default text_field">
            <div id="u10096_div" class=""></div>
            <input id="u10096_input" type="text" value="V298;Therm. expans.;Compress.;Bulk Mod." class="u10096_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u10097" class="ax_default text_field">
            <div id="u10097_div" class=""></div>
            <input id="u10097_input" type="text" value="1" class="u10097_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u10098" class="ax_default text_field">
            <div id="u10098_div" class=""></div>
            <input id="u10098_input" type="text" value="Next" class="u10098_input"/>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u10099" class="ax_default" data-left="0" data-top="0" data-width="873" data-height="750" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u10100" class="ax_default box_1">
          <div id="u10100_div" class=""></div>
          <div id="u10100_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u10101" class="ax_default box_1">
          <div id="u10101_div" class=""></div>
          <div id="u10101_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u10102" class="ax_default box_1">
          <div id="u10102_div" class=""></div>
          <div id="u10102_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10103" class="ax_default text_field">
          <div id="u10103_div" class=""></div>
          <input id="u10103_input" type="text" value="FactSage" class="u10103_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10104" class="ax_default text_field">
          <div id="u10104_div" class=""></div>
          <input id="u10104_input" type="text" value="Function Name" class="u10104_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10105" class="ax_default text_field">
          <div id="u10105_div" class=""></div>
          <input id="u10105_input" type="text" value="" class="u10105_input"/>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u10106" class="ax_default" data-left="63" data-top="15" data-width="399" data-height="32" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u10107" class="ax_default _二级标题">
            <div id="u10107_div" class=""></div>
            <div id="u10107_text" class="text ">
              <p><span>ViewData</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10108" class="ax_default _二级标题">
            <div id="u10108_div" class=""></div>
            <div id="u10108_text" class="text ">
              <p><span>Units</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10109" class="ax_default _二级标题">
            <div id="u10109_div" class=""></div>
            <div id="u10109_text" class="text ">
              <p><span>Tools</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10110" class="ax_default _二级标题">
            <div id="u10110_div" class=""></div>
            <div id="u10110_text" class="text ">
              <p><span>Help</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10111" class="ax_default _三级标题">
            <div id="u10111_div" class=""></div>
            <div id="u10111_text" class="text ">
              <p><span>File</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10112" class="ax_default _三级标题">
            <div id="u10112_div" class=""></div>
            <div id="u10112_text" class="text ">
              <p><span>Edit</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u10113" class="ax_default _形状">
          <img id="u10113_img" class="img " src="{{ url_for('static', filename='images/solution2_2/u9358.svg') }}"/>
          <div id="u10113_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u10114" class="ax_default _形状">
        <img id="u10114_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1722.svg') }}"/>
        <div id="u10114_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (List Box) -->
      <div id="u10115" class="ax_default list_box">
        <div id="u10115_div" class=""></div>
        <select id="u10115_input" size="2" class="u10115_input">
          <option class="u10115_input_option" value="... Solusoln">... Solusoln</option>
          <option class="u10115_input_option" value="    ... Functions">&nbsp;&nbsp;&nbsp; ... Functions</option>
          <option class="u10115_input_option" value="        ... Cu(1)">&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; ... Cu(1)</option>
          <option class="u10115_input_option" value="        ... Ag(1)">&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; ... Ag(1)</option>
          <option class="u10115_input_option" value="     ... Solutions(0)">&nbsp;&nbsp; &nbsp; ... Solutions(0)</option>
          <option class="u10115_input_option" value="        ... LiqM(1-1)">&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; ... LiqM(1-1)</option>
          <option class="u10115_input_option" value="             ... SubLattices">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... SubLattices</option>
          <option class="u10115_input_option" value="                ... A(2)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... A(2)</option>
          <option class="u10115_input_option" value="                     ... Silver">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Silver</option>
          <option class="u10115_input_option" value="                     ... Copper(A)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Copper(A)</option>
          <option class="u10115_input_option" value="             ... End Members(2)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... End Members(2)</option>
          <option class="u10115_input_option" value="                ... Silver">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... Silver</option>
          <option class="u10115_input_option" selected value="                ... Copper">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... Copper</option>
          <option class="u10115_input_option" value="             ... Mixables(0)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Mixables(0)</option>
          <option class="u10115_input_option" value="             ... Ternary Interpolations">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Ternary Interpolations</option>
          <option class="u10115_input_option" value="             ... Interactions  (0)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Interactions&nbsp; (0)</option>
        </select>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
