<!DOCTYPE html>
<html>
  <head>
    <title>solution1.1</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/solution1_1/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/solution1_1/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- 内部框架 (Inline Frame) -->
      <div id="u8648" class="ax_default" data-label="内部框架">
        <iframe id="u8648_input" data-label="内部框架" src="http://127.0.0.1:5000/u8648_input"></iframe>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u8649" class="ax_default box_1">
        <div id="u8649_div" class=""></div>
        <div id="u8649_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u8650" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u8651" class="ax_default box_1">
          <img id="u8651_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
          <div id="u8651_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u8652" class="ax_default box_1">
          <img id="u8652_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
          <div id="u8652_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u8653" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="286" data-top="132" data-width="487" data-height="203" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u8654" class="ax_default box_1 ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u8654_div" class=""></div>
          <div id="u8654_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u8655" class="ax_default box_1">
          <img id="u8655_img" class="img " src="{{ url_for('static', filename='images/solution1_1/u8655.svg') }}"/>
          <div id="u8655_text" class="text ">
            <p><span>Nickname(4 Chars)</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u8656" class="ax_default box_1">
          <div id="u8656_div" class=""></div>
          <div id="u8656_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u8657" class="ax_default box_1">
          <img id="u8657_img" class="img " src="{{ url_for('static', filename='images/solution1_1/u8657.svg') }}"/>
          <div id="u8657_text" class="text ">
            <p><span>Created</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u8658" class="ax_default box_1">
          <div id="u8658_div" class=""></div>
          <div id="u8658_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u8659" class="ax_default box_1">
          <img id="u8659_img" class="img " src="{{ url_for('static', filename='images/solution1_1/u8659.svg') }}"/>
          <div id="u8659_text" class="text ">
            <p><span>2014</span><span>/</span><span>05</span><span>/</span><span>13</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u8660" class="ax_default box_1">
          <img id="u8660_img" class="img " src="{{ url_for('static', filename='images/solution1_1/u8660.svg') }}"/>
          <div id="u8660_text" class="text ">
            <p><span>Last Modified</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u8661" class="ax_default box_1">
          <img id="u8661_img" class="img " src="{{ url_for('static', filename='images/solution1_1/u8661.svg') }}"/>
          <div id="u8661_text" class="text ">
            <p><span style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">2014</span><span style="font-family:&quot;PingFangSC-Semibold&quot;, &quot;PingFang SC Semibold&quot;, &quot;PingFang SC&quot;, sans-serif;font-weight:650;">/</span><span style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">05</span><span style="font-family:&quot;PingFangSC-Semibold&quot;, &quot;PingFang SC Semibold&quot;, &quot;PingFang SC&quot;, sans-serif;font-weight:650;">/</span><span style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">13</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u8662" class="ax_default box_1">
          <img id="u8662_img" class="img " src="{{ url_for('static', filename='images/solution1_1/u8662.svg') }}"/>
          <div id="u8662_text" class="text ">
            <p><span>Documentation file</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u8663" class="ax_default box_1">
          <img id="u8663_img" class="img " src="{{ url_for('static', filename='images/solution1_1/u8663.svg') }}"/>
          <div id="u8663_text" class="text ">
            <p><span>Database description...</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u8664" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u8665" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="353" data-top="348" data-width="457" data-height="240" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u8666" class="ax_default _形状">
            <div id="u8666_div" class=""></div>
            <div id="u8666_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u8667" class="ax_default text_field">
            <img id="u8667_img" class="img " src="{{ url_for('static', filename='images/compound_11_1______/u6986.svg') }}"/>
            <input id="u8667_input" type="text" value="Solution database SolusIon" class="u8667_input" readonly/>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u8668" class="ax_default _形状">
            <img id="u8668_img" class="img " src="{{ url_for('static', filename='images/compound_11_1______/u6987.svg') }}"/>
            <div id="u8668_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u8669" class="ax_default box_1">
            <img id="u8669_img" class="img " src="{{ url_for('static', filename='images/solution1_1/u8669.svg') }}"/>
            <div id="u8669_text" class="text ">
              <p><span>Database Description:</span></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u8670" class="ax_default box_1">
            <img id="u8670_img" class="img " src="{{ url_for('static', filename='images/solution1_1/u8670.svg') }}"/>
            <div id="u8670_text" class="text ">
              <p><span style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">Example for SoluSage</span></p><p><span style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;"><br></span></p><p><span style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;"><br></span></p><p><span style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;"><br></span></p><p><span style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;"><br></span></p><p><span style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;"><br></span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u8671" class="ax_default _形状">
            <div id="u8671_div" class=""></div>
            <div id="u8671_text" class="text ">
              <p><span>OK</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u8672" class="ax_default _形状">
            <div id="u8672_div" class=""></div>
            <div id="u8672_text" class="text ">
              <p><span>Cancel</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u8673" class="ax_default" data-left="0" data-top="0" data-width="873" data-height="750" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u8674" class="ax_default box_1">
          <div id="u8674_div" class=""></div>
          <div id="u8674_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u8675" class="ax_default box_1">
          <div id="u8675_div" class=""></div>
          <div id="u8675_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u8676" class="ax_default box_1">
          <div id="u8676_div" class=""></div>
          <div id="u8676_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u8677" class="ax_default text_field">
          <div id="u8677_div" class=""></div>
          <input id="u8677_input" type="text" value="FactSage" class="u8677_input" readonly/>
        </div>

        <!-- Unnamed (List Box) -->
        <div id="u8678" class="ax_default list_box">
          <div id="u8678_div" class=""></div>
          <select id="u8678_input" size="2" class="u8678_input">
            <option class="u8678_input_option" selected value="…SolusIon">…SolusIon</option>
          </select>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u8679" class="ax_default text_field">
          <div id="u8679_div" class=""></div>
          <input id="u8679_input" type="text" value="Function Name" class="u8679_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u8680" class="ax_default text_field">
          <div id="u8680_div" class=""></div>
          <input id="u8680_input" type="text" value="" class="u8680_input"/>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u8681" class="ax_default" data-left="56" data-top="15" data-width="406" data-height="32" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u8682" class="ax_default _段落">
            <div id="u8682_div" class=""></div>
            <div id="u8682_text" class="text ">
              <p><span>Edit</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u8683" class="ax_default _二级标题">
            <div id="u8683_div" class=""></div>
            <div id="u8683_text" class="text ">
              <p><span>ViewData</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u8684" class="ax_default _二级标题">
            <div id="u8684_div" class=""></div>
            <div id="u8684_text" class="text ">
              <p><span>Units</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u8685" class="ax_default _二级标题">
            <div id="u8685_div" class=""></div>
            <div id="u8685_text" class="text ">
              <p><span>Tools</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u8686" class="ax_default _二级标题">
            <div id="u8686_div" class=""></div>
            <div id="u8686_text" class="text ">
              <p><span>Help</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u8687" class="ax_default _段落">
            <div id="u8687_div" class=""></div>
            <div id="u8687_text" class="text ">
              <p><span>File</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u8688" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">

          <!-- 1 (Group) -->
          <div id="u8689" class="ax_default ax_default_hidden" data-label="1" style="display:none; visibility: hidden" data-left="53" data-top="34" data-width="146" data-height="26" layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u8690" class="ax_default box_2">
              <img id="u8690_img" class="img " src="{{ url_for('static', filename='images/compound__solid_/u7186.svg') }}"/>
              <div id="u8690_text" class="text ">
                <p><span>New</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u8691" class="ax_default _形状">
        <img id="u8691_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1722.svg') }}"/>
        <div id="u8691_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
