<!DOCTYPE html>
<html>
  <head>
    <title>solution1.5</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/solution1_5_1/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/solution1_5_1/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- 内部框架 (Inline Frame) -->
      <div id="u8987" class="ax_default" data-label="内部框架">
        <iframe id="u8987_input" data-label="内部框架" src="http://127.0.0.1:5000/u8987_input"></iframe>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u8988" class="ax_default box_1">
        <div id="u8988_div" class=""></div>
        <div id="u8988_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u8989" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u8990" class="ax_default box_1">
          <img id="u8990_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
          <div id="u8990_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u8991" class="ax_default box_1">
          <img id="u8991_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
          <div id="u8991_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u8992" class="ax_default" data-left="255" data-top="95" data-width="618" data-height="606" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u8993" class="ax_default" data-left="255" data-top="95" data-width="618" data-height="606" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u8994" class="ax_default box_1">
            <div id="u8994_div" class=""></div>
            <div id="u8994_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u8995" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="307" data-top="197" data-width="491" data-height="251" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u8996" class="ax_default box_1">
            <div id="u8996_div" class=""></div>
            <div id="u8996_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u8997" class="ax_default box_1">
            <div id="u8997_div" class=""></div>
            <div id="u8997_text" class="text ">
              <p><span>Model Selection</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u8998" class="ax_default box_1">
            <div id="u8998_div" class=""></div>
            <div id="u8998_text" class="text ">
              <p><span>Solution Name</span></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u8999" class="ax_default box_1">
            <img id="u8999_img" class="img " src="{{ url_for('static', filename='images/solution1_5_1/u8999.svg') }}"/>
            <div id="u8999_text" class="text ">
              <p><span>&nbsp;LiqM</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9000" class="ax_default box_1">
            <div id="u9000_div" class=""></div>
            <div id="u9000_text" class="text ">
              <p><span>State</span></p>
            </div>
          </div>

          <!-- Unnamed (Droplist) -->
          <div id="u9001" class="ax_default droplist">
            <div id="u9001_div" class=""></div>
            <select id="u9001_input" class="u9001_input">
              <option class="u9001_input_option" value="Liquid">Liquid</option>
              <option class="u9001_input_option" value="Solid">Solid</option>
              <option class="u9001_input_option" value="Gaseous">Gaseous</option>
            </select>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9002" class="ax_default box_1">
            <div id="u9002_div" class=""></div>
            <div id="u9002_text" class="text ">
              <p><span>Model</span></p>
            </div>
          </div>

          <!-- Unnamed (Droplist) -->
          <div id="u9003" class="ax_default droplist">
            <div id="u9003_div" class=""></div>
            <select id="u9003_input" class="u9003_input">
              <option class="u9003_input_option" value="One-lattice polynomial">One-lattice polynomial</option>
              <option class="u9003_input_option" value="One-lattice Redlich-Kister Muggianu Only">One-lattice Redlich-Kister Muggianu Only</option>
            </select>
          </div>

          <!-- Unnamed (Checkbox) -->
          <div id="u9004" class="ax_default checkbox">
            <label id="u9004_input_label" for="u9004_input" style="position: absolute; left: 0px;">
              <img id="u9004_img" class="img " src="{{ url_for('static', filename='images/solution1_5_1/u9004.svg') }}"/>
              <div id="u9004_text" class="text ">
                <p><span>Magnetic</span></p>
              </div>
            </label>
            <input id="u9004_input" type="checkbox" value="checkbox"/>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u9005" class="ax_default box_1">
            <img id="u9005_img" class="img " src="{{ url_for('static', filename='images/solution1_5_1/u9005.svg') }}"/>
            <div id="u9005_text" class="text ">
              <p><span>OK</span></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u9006" class="ax_default box_1">
            <img id="u9006_img" class="img " src="{{ url_for('static', filename='images/solution1_5_1/u9005.svg') }}"/>
            <div id="u9006_text" class="text ">
              <p><span>Cancel</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9007" class="ax_default" data-left="0" data-top="0" data-width="873" data-height="750" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u9008" class="ax_default box_1">
          <div id="u9008_div" class=""></div>
          <div id="u9008_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9009" class="ax_default box_1">
          <div id="u9009_div" class=""></div>
          <div id="u9009_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9010" class="ax_default box_1">
          <div id="u9010_div" class=""></div>
          <div id="u9010_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9011" class="ax_default text_field">
          <div id="u9011_div" class=""></div>
          <input id="u9011_input" type="text" value="FactSage" class="u9011_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9012" class="ax_default text_field">
          <div id="u9012_div" class=""></div>
          <input id="u9012_input" type="text" value="Function Name" class="u9012_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9013" class="ax_default text_field">
          <div id="u9013_div" class=""></div>
          <input id="u9013_input" type="text" value="Ag" class="u9013_input"/>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u9014" class="ax_default" data-left="63" data-top="15" data-width="399" data-height="32" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u9015" class="ax_default _二级标题">
            <div id="u9015_div" class=""></div>
            <div id="u9015_text" class="text ">
              <p><span>ViewData</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9016" class="ax_default _二级标题">
            <div id="u9016_div" class=""></div>
            <div id="u9016_text" class="text ">
              <p><span>Units</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9017" class="ax_default _二级标题">
            <div id="u9017_div" class=""></div>
            <div id="u9017_text" class="text ">
              <p><span>Tools</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9018" class="ax_default _二级标题">
            <div id="u9018_div" class=""></div>
            <div id="u9018_text" class="text ">
              <p><span>Help</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9019" class="ax_default _三级标题">
            <div id="u9019_div" class=""></div>
            <div id="u9019_text" class="text ">
              <p><span>File</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9020" class="ax_default _三级标题">
            <div id="u9020_div" class=""></div>
            <div id="u9020_text" class="text ">
              <p><span>Edit</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9021" class="ax_default _形状">
          <img id="u9021_img" class="img " src="{{ url_for('static', filename='images/solution2_2/u8577.svg') }}"/>
          <div id="u9021_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u9022" class="ax_default _形状">
        <img id="u9022_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1722.svg') }}"/>
        <div id="u9022_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (List Box) -->
      <div id="u9023" class="ax_default list_box">
        <div id="u9023_div" class=""></div>
        <select id="u9023_input" size="2" class="u9023_input">
          <option class="u9023_input_option" value="... Solusoln">... Solusoln</option>
          <option class="u9023_input_option" value="     ... Functions">&nbsp;&nbsp; &nbsp; ... Functions</option>
          <option class="u9023_input_option" value="            ... Cu(1)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... Cu(1)</option>
          <option class="u9023_input_option" value="            ... Ag(1)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... Ag(1)</option>
          <option class="u9023_input_option" value="     ... Solutions(0)">&nbsp;&nbsp; &nbsp; ... Solutions(0)</option>
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u9024" class="ax_default box_1">
        <img id="u9024_img" class="img " src="{{ url_for('static', filename='images/solution1_5_1/u9024.svg') }}"/>
        <div id="u9024_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9025" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">

        <!-- 1 (Group) -->
        <div id="u9026" class="ax_default ax_default_hidden" data-label="1" style="display:none; visibility: hidden" data-left="131" data-top="111" data-width="146" data-height="52" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u9027" class="ax_default box_2">
            <img id="u9027_img" class="img " src="{{ url_for('static', filename='images/compound__solid_/u7186.svg') }}"/>
            <div id="u9027_text" class="text ">
              <p><span>Add Function</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9028" class="ax_default box_2">
            <img id="u9028_img" class="img " src="{{ url_for('static', filename='images/compound__solid_/u7186.svg') }}"/>
            <div id="u9028_text" class="text ">
              <p><span>Add Solution</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
