<!DOCTYPE html>
<html>
<head>
    <title>solution3.2</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/solution3_2/styles.css') }}" type="text/css" rel="stylesheet"/>

    <script>
        document.oncontextmenu = function (event) {
            event = event || window.event;
            var targetElement = event.target || event.srcElement;
            if (!targetElement) return true;

            if (targetElement.tagName) {
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||
                    targetElement.tagName.toLowerCase() === "textarea") {
                    return true;
                }
            }
            return false;
        }
    </script>
    <script src
                    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/solution3_2/data.js') }}"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () {
            return 'resources/images/transparent.gif';
        };
        $axure.utils.getOtherPath = function () {
            return 'resources/Other.html';
        };
        $axure.utils.getReloadPath = function () {
            return 'resources/reload.html';
        };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- 内部框架 (Inline Frame) -->
    <div id="u9993" class="ax_default" data-label="内部框架">
        <iframe id="u9993_input" data-label="内部框架" allowfullscreen ></iframe>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u9994" class="ax_default" data-left="289" data-top="50" data-width="867" data-height="750"
         layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u9995" class="ax_default box_1">
            <div id="u9995_div" class=""></div>
            <div id="u9995_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9996" class="ax_default box_1">
            <div id="u9996_div" class=""></div>
            <div id="u9996_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9997" class="ax_default box_1">
            <div id="u9997_div" class=""></div>
            <div id="u9997_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9998" class="ax_default text_field">
            <div id="u9998_div" class=""></div>
            <input id="u9998_input" type="text" value="FactSage" class="u9998_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9999" class="ax_default text_field">
            <div id="u9999_div" class=""></div>
            <input id="u9999_input" type="text"
                   value="C:\FACTSAGE\USERDATA\EXAMPLEBASE.CDB(v5.0) 0 compound(s) read/write" class="u9999_input"
                   readonly/>
        </div>

        <!-- Unnamed (List Box) -->
        <div id="u10000" class="ax_default list_box">
            <div id="u10000_div" class=""></div>
            <select id="u10000_input" size="2" class="u10000_input">
                <option class="u10000_input_option" value="... Solusoln">... Solusoln</option>
                <option class="u10000_input_option" value="    ... Functions">&nbsp;&nbsp;&nbsp; ... Functions</option>
                <option class="u10000_input_option" value="    ... Solutions(1)">&nbsp;&nbsp;&nbsp; ... Solutions(1)
                </option>
                <option class="u10000_input_option" value="        ... LiqM(1-1)">&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; ...
                    LiqM(1-1)
                </option>
                <option class="u10000_input_option" value="BCT5(7-1)">BCT5(7-1)</option>
                <option class="u10000_input_option" value="             ... SubLattices">&nbsp;&nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; ... SubLattices
                </option>
                <option class="u10000_input_option" value="                ... A(7)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp;&nbsp; ... A(7)
                </option>
                <option class="u10000_input_option" value="                     ... Bi">&nbsp;&nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Bi
                </option>
                <option class="u10000_input_option" value="                     ... Pb">&nbsp;&nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Pb
                </option>
                <option class="u10000_input_option" value="                     … Sb">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Sb
                </option>
                <option class="u10000_input_option" value="                     … Sn">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Sn
                </option>
                <option class="u10000_input_option" value="                     … Zn">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Zn
                </option>
                <option class="u10000_input_option" value="                     … Ti">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Ti
                </option>
                <option class="u10000_input_option" value="                     … Al">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Al
                </option>
                <option class="u10000_input_option" value="             ... End Members(7)">&nbsp;&nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; ... End Members(7)
                </option>
                <option class="u10000_input_option" value="                     … Bi">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Bi
                </option>
                <option class="u10000_input_option" value="                     … Pb">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Pb
                </option>
                <option class="u10000_input_option" value="                     … Sb">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Sb
                </option>
                <option class="u10000_input_option" value="                     … *Sn">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … *Sn
                </option>
                <option class="u10000_input_option" value="                     … Zn">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Zn
                </option>
                <option class="u10000_input_option" value="                     … Ti">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Ti
                </option>
                <option class="u10000_input_option" value="                     … Al">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Al
                </option>
                <option class="u10000_input_option" value="             ... Mixables(0)">&nbsp;&nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; ... Mixables(0)
                </option>
                <option class="u10000_input_option" value="             ... Ternary Interpolations">&nbsp;&nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; ... Ternary Interpolations
                </option>
                <option class="u10000_input_option" value="                     … Sliver, Gold, Gemanium">&nbsp;&nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Sliver, Gold, Gemanium
                </option>
                <option class="u10000_input_option" value="             ... Interactions  (15)">&nbsp;&nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; ... Interactions&nbsp; (15)
                </option>
                <option class="u10000_input_option" value="                ... (0)Bi;Sn">&nbsp;&nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (0)Bi;Sn
                </option>
                <option class="u10000_input_option" value="                ... (1)Bi;Sn">&nbsp;&nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (1)Bi;Sn
                </option>
                <option class="u10000_input_option" value="                ... (2)Bi;Zn">&nbsp;&nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (2)Bi;Zn
                </option>
                <option class="u10000_input_option" value="                ... (3)Pb;Sn">&nbsp;&nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (3)Pb;Sn
                </option>
                <option class="u10000_input_option" value="                ... (4)Pb;Zn">&nbsp;&nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (4)Pb;Zn
                </option>
                <option class="u10000_input_option" value="                ... (5)Sb;Sn">&nbsp;&nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (5)Sb;Sn
                </option>
                <option class="u10000_input_option" value="                ... (6)Sb;Sn">&nbsp;&nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (6)Sb;Sn
                </option>
                <option class="u10000_input_option" value="                ... (7)Sn;Zn">&nbsp;&nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (7)Sn;Zn
                </option>
                <option class="u10000_input_option" value="                ... (8)Sn;Zn;Al">&nbsp;&nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (8)Sn;Zn;Al
                </option>
                <option class="u10000_input_option" value="                ... (9)Sn;Ti">&nbsp;&nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (9)Sn;Ti
                </option>
                <option class="u10000_input_option" value="                ... (10)Sn;Al">&nbsp;&nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (10)Sn;Al
                </option>
            </select>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10001" class="ax_default text_field">
            <div id="u10001_div" class=""></div>
            <input id="u10001_input" type="text" value="Formula" class="u10001_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10002" class="ax_default text_field">
            <div id="u10002_div" class=""></div>
            <input id="u10002_input" type="text" value="" class="u10002_input"/>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u10003" class="ax_default _形状">
            <img id="u10003_img" class="img " src="{{ url_for('static', filename='images/solution3_0/u9821.svg') }}"/>
            <div id="u10003_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u10004" class="ax_default" data-left="398" data-top="65" data-width="371" data-height="32"
             layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u10005" class="ax_default _段落">
                <div id="u10005_div" class=""></div>
                <div id="u10005_text" class="text ">
                    <p><span>Edit</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u10006" class="ax_default _二级标题">
                <div id="u10006_div" class=""></div>
                <div id="u10006_text" class="text ">
                    <p><span>ViewData</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u10007" class="ax_default _二级标题">
                <div id="u10007_div" class=""></div>
                <div id="u10007_text" class="text ">
                    <p><span>Units</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u10008" class="ax_default _二级标题">
                <div id="u10008_div" class=""></div>
                <div id="u10008_text" class="text ">
                    <p><span>Tools</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u10009" class="ax_default _二级标题">
                <div id="u10009_div" class=""></div>
                <div id="u10009_text" class="text ">
                    <p><span>Help</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u10010" class="ax_default _三级标题">
                <div id="u10010_div" class=""></div>
                <div id="u10010_text" class="text ">
                    <p><span>View</span></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u10011" class="ax_default _段落">
            <div id="u10011_div" class=""></div>
            <div id="u10011_text" class="text ">
                <p><span>File</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u10012" class="ax_default _形状">
        <img id="u10012_img" class="img " src="{{ url_for('static', filename='images/solution3_0/u9835.svg') }}"/>
        <div id="u10012_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u10013" class="ax_default" data-left="0" data-top="0" data-width="1156" data-height="800"
         layer-opacity="1">

        <!-- 左侧一级菜单 (Dynamic Panel) -->
        <div id="u10014" class="ax_default" data-label="左侧一级菜单">
            <div id="u10014_state0" class="panel_state" data-label="框架" style="">
                <div id="u10014_state0_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u10015" class="ax_default box_1" selectiongroup="一级分类">
                        <img id="u10015_img" class="img "
                             src="{{ url_for('static', filename='images/模板_1/u19.svg') }}"/>
                        <div id="u10015_text" class="text ">
                            <p><span>Database</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u10016" class="ax_default box_1" selectiongroup="一级分类">
                        <img id="u10016_img" class="img "
                             src="{{ url_for('static', filename='images/模板_1/u20.svg') }}"/>
                        <div id="u10016_text" class="text ">
                            <p><span>Calculate</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u10017" class="ax_default box_1 selected" selectiongroup="一级分类">
                        <img id="u10017_img" class="img "
                             src="{{ url_for('static', filename='images/模板/manipulate_u65.svg') }}"/>
                        <div id="u10017_text" class="text ">
                            <p><span>Manipulate</span></p>
                        </div>
                    </div>

                    <!-- 三角形 (Shape) -->
                    <div id="u10018" class="ax_default box_1" data-label="三角形">
                        <img id="u10018_img" class="img "
                             src="{{ url_for('static', filename='images/模板_1/三角形_u22.svg') }}"/>
                        <div id="u10018_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- 化学 (Group) -->
                    <div id="u10019" class="ax_default" data-label="化学" data-left="6" data-top="12" data-width="30"
                         data-height="28" layer-opacity="1">

                        <!-- Unnamed (Ellipse) -->
                        <div id="u10020" class="ax_default ellipse">
                            <img id="u10020_img" class="img "
                                 src="{{ url_for('static', filename='images/模板_1/u24.svg') }}"/>
                            <div id="u10020_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>

                        <!-- Unnamed (Shape) -->
                        <div id="u10021" class="ax_default icon">
                            <img id="u10021_img" class="img "
                                 src="{{ url_for('static', filename='images/模板_1/u25.svg') }}"/>
                            <div id="u10021_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>
                    </div>

                    <!-- 数据库 (Group) -->
                    <div id="u10022" class="ax_default" data-label="数据库" data-left="6" data-top="66" data-width="31"
                         data-height="29" layer-opacity="1">

                        <!-- Unnamed (Ellipse) -->
                        <div id="u10023" class="ax_default ellipse">
                            <img id="u10023_img" class="img "
                                 src="{{ url_for('static', filename='images/模板_1/u27.svg') }}"/>
                            <div id="u10023_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>

                        <!-- Unnamed (Shape) -->
                        <div id="u10024" class="ax_default icon">
                            <img id="u10024_img" class="img "
                                 src="{{ url_for('static', filename='images/模板_1/u28.svg') }}"/>
                            <div id="u10024_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>
                    </div>

                    <!-- Least Square (Group) -->
                    <div id="u10025" class="ax_default" data-label="Least Square" data-left="8" data-top="121"
                         data-width="29" data-height="27" layer-opacity="1">

                        <!-- Unnamed (Ellipse) -->
                        <div id="u10026" class="ax_default ellipse">
                            <img id="u10026_img" class="img "
                                 src="{{ url_for('static', filename='images/模板_1/u30.svg') }}"/>
                            <div id="u10026_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>

                        <!-- Unnamed (Shape) -->
                        <div id="u10027" class="ax_default icon">
                            <img id="u10027_img" class="img "
                                 src="{{ url_for('static', filename='images/模板_1/u31.svg') }}"/>
                            <div id="u10027_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 背景 (Dynamic Panel) -->
        <div id="u10028" class="ax_default" data-label="背景">
            <div id="u10028_state0" class="panel_state" data-label="1" style="">
                <div id="u10028_state0_content" class="panel_state_content">
                </div>
            </div>
            <div id="u10028_state1" class="panel_state" data-label="2" style="visibility: hidden;">
                <div id="u10028_state1_content" class="panel_state_content">
                </div>
            </div>
            <div id="u10028_state2" class="panel_state" data-label="3" style="visibility: hidden;">
                <div id="u10028_state2_content" class="panel_state_content">
                </div>
            </div>
            <div id="u10028_state3" class="panel_state" data-label="4" style="visibility: hidden;">
                <div id="u10028_state3_content" class="panel_state_content">
                </div>
            </div>
            <div id="u10028_state4" class="panel_state" data-label="5" style="visibility: hidden;">
                <div id="u10028_state4_content" class="panel_state_content">
                </div>
            </div>
            <div id="u10028_state5" class="panel_state" data-label="6" style="visibility: hidden;">
                <div id="u10028_state5_content" class="panel_state_content">
                </div>
            </div>
            <div id="u10028_state6" class="panel_state" data-label="7" style="visibility: hidden;">
                <div id="u10028_state6_content" class="panel_state_content">
                </div>
            </div>
            <div id="u10028_state7" class="panel_state" data-label="8" style="visibility: hidden;">
                <div id="u10028_state7_content" class="panel_state_content">
                </div>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u10029" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33"
             layer-opacity="1">

            <!-- Unnamed (Shape) -->
            <div id="u10030" class="ax_default box_1">
                <img id="u10030_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
                <div id="u10030_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u10031" class="ax_default box_1">
                <img id="u10031_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
                <div id="u10031_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u10032" class="ax_default box_1 selected">
            <div id="u10032_div" class="selected"></div>
            <div id="u10032_text" class="text ">
                <p><span
                        style="font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;font-weight:700;">SoluSage </span><span
                        style="font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;font-weight:650;">(Joules)</span>
                </p>
            </div>
        </div>

        <!-- 左侧二级菜单 (Dynamic Panel) -->
        <div id="u10033" class="ax_default" data-label="左侧二级菜单">
            <div id="u10033_state0" class="panel_state" data-label="框架" style="">
                <div id="u10033_state0_content" class="panel_state_content">

                    <!-- 二级菜单 (Dynamic Panel) -->
                    <div id="u10034" class="ax_default" data-label="二级菜单">
                        <div id="u10034_state0" class="panel_state" data-label="Manipulate" style="">
                            <div id="u10034_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u10035" class="ax_default box_1 selected" selectiongroup="二级菜单">
                                    <div id="u10035_div" class="selected"></div>
                                    <div id="u10035_text" class="text ">
                                        <p><span>&#149; Results</span></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Rectangle) -->
                                <div id="u10036" class="ax_default box_1" selectiongroup="二级菜单">
                                    <div id="u10036_div" class=""></div>
                                    <div id="u10036_text" class="text ">
                                        <p><span>&#149; Mixture</span></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Rectangle) -->
                                <div id="u10037" class="ax_default box_1" selectiongroup="二级菜单">
                                    <div id="u10037_div" class=""></div>
                                    <div id="u10037_text" class="text ">
                                        <p><span>&#149; View Figure</span></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Rectangle) -->
                                <div id="u10038" class="ax_default box_1" selectiongroup="二级菜单">
                                    <div id="u10038_div" class=""></div>
                                    <div id="u10038_text" class="text ">
                                        <p><span>&#149; Figure</span></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Rectangle) -->
                                <div id="u10039" class="ax_default box_1" selectiongroup="二级菜单">
                                    <div id="u10039_div" class=""></div>
                                    <div id="u10039_text" class="text ">
                                        <p><span>&#149; Reset</span></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Rectangle) -->
                                <div id="u10040" class="ax_default box_1" selectiongroup="二级菜单">
                                    <div id="u10040_div" class=""></div>
                                    <div id="u10040_text" class="text ">
                                        <p><span>&#149; Quit</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="u10034_state1" class="panel_state" data-label="Database" style="visibility: hidden;">
                            <div id="u10034_state1_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u10041" class="ax_default box_1" selectiongroup="二级菜单">
                                    <div id="u10041_div" class=""></div>
                                    <div id="u10041_text" class="text ">
                                        <p><span>&#149; View Data</span></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Rectangle) -->
                                <div id="u10042" class="ax_default box_1" selectiongroup="二级菜单">
                                    <div id="u10042_div" class=""></div>
                                    <div id="u10042_text" class="text ">
                                        <p><span>&#149; Compound</span></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Rectangle) -->
                                <div id="u10043" class="ax_default box_1" selectiongroup="二级菜单">
                                    <div id="u10043_div" class=""></div>
                                    <div id="u10043_text" class="text ">
                                        <p><span>&#149; Solution</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="u10034_state2" class="panel_state" data-label="Calculate" style="visibility: hidden;">
                            <div id="u10034_state2_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u10044" class="ax_default box_1" selectiongroup="二级菜单">
                                    <div id="u10044_div" class=""></div>
                                    <div id="u10044_text" class="text ">
                                        <p><span>&#149; Reaction</span></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Rectangle) -->
                                <div id="u10045" class="ax_default box_1" selectiongroup="二级菜单">
                                    <div id="u10045_div" class=""></div>
                                    <div id="u10045_text" class="text ">
                                        <p><span>&#149; Equilib</span></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Rectangle) -->
                                <div id="u10046" class="ax_default box_1" selectiongroup="二级菜单">
                                    <div id="u10046_div" class=""></div>
                                    <div id="u10046_text" class="text ">
                                        <p><span>&#149; Phase Diagram</span></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Rectangle) -->
                                <div id="u10047" class="ax_default box_1" selectiongroup="二级菜单">
                                    <div id="u10047_div" class=""></div>
                                    <div id="u10047_text" class="text ">
                                        <p><span>&#149; Predom</span></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Rectangle) -->
                                <div id="u10048" class="ax_default box_1" selectiongroup="二级菜单">
                                    <div id="u10048_div" class=""></div>
                                    <div id="u10048_text" class="text ">
                                        <p><span>&#149; EpH</span></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Rectangle) -->
                                <div id="u10049" class="ax_default box_1" selectiongroup="二级菜单">
                                    <div id="u10049_div" class=""></div>
                                    <div id="u10049_text" class="text ">
                                        <p><span>&#149; Optimize</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u10050" class="ax_default icon">
            <img id="u10050_img" class="img " src="{{ url_for('static', filename='images/模板_1/u43.svg') }}"/>
            <div id="u10050_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u10051" class="ax_default box_1" title="系统消息">
            <img id="u10051_img" class="img " src="{{ url_for('static', filename='images/模板_1/u38.svg') }}"/>
            <div id="u10051_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u10052" class="ax_default box_1" title="退出登录">
            <img id="u10052_img" class="img " src="{{ url_for('static', filename='images/模板_1/u41.svg') }}"/>
            <div id="u10052_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u10053" class="ax_default box_1">
            <img id="u10053_img" class="img " src="{{ url_for('static', filename='images/模板_1/u40.svg') }}"/>
            <div id="u10053_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u10054" class="ax_default box_1" title="更换皮肤">
            <img id="u10054_img" class="img " src="{{ url_for('static', filename='images/模板_1/u39.svg') }}"/>
            <div id="u10054_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u10055" class="ax_default box_1" title="常用菜单">
            <img id="u10055_img" class="img " src="{{ url_for('static', filename='images/模板_1/u38.svg') }}"/>
            <div id="u10055_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u10056" class="ax_default box_1">
            <img id="u10056_img" class="img " src="{{ url_for('static', filename='images/模板_1/u37.svg') }}"/>
            <div id="u10056_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u10057" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">

        <!-- 1 (Group) -->
        <div id="u10058" class="ax_default ax_default_hidden" data-label="1" style="display:none; visibility: hidden"
             data-left="369" data-top="91" data-width="146" data-height="78" layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u10059" class="ax_default box_2">
                <img id="u10059_img" class="img "
                     src="{{ url_for('static', filename='images/compound__solid_/u7186.svg') }}"/>
                <div id="u10059_text" class="text ">
                    <p><span>New Database</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u10060" class="ax_default box_2">
                <img id="u10060_img" class="img "
                     src="{{ url_for('static', filename='images/compound__solid_/u7186.svg') }}"/>
                <div id="u10060_text" class="text ">
                    <p><span>Open Database</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u10061" class="ax_default box_2">
                <img id="u10061_img" class="img "
                     src="{{ url_for('static', filename='images/compound__solid_/u7186.svg') }}"/>
                <div id="u10061_text" class="text ">
                    <p><span>Close Database</span></p>
                </div>
            </div>
        </div>
    </div>

    <!-- 1 (Group) -->
    <div id="u10062" class="ax_default" data-label="1" data-left="542" data-top="145" data-width="614" data-height="606"
         layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u10063" class="ax_default box_1">
            <img id="u10063_img" class="img " src="{{ url_for('static', filename='images/solution3_2/u10063.svg') }}"/>
            <div id="u10063_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10064" class="ax_default text_field">
            <div id="u10064_div" class=""></div>
            <input id="u10064_input" type="text" value="Y= site fraction" class="u10064_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10065" class="ax_default text_field">
            <div id="u10065_div" class=""></div>
            <input id="u10065_input" type="text" value="A: Sn" class="u10065_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10066" class="ax_default text_field">
            <div id="u10066_div" class=""></div>
            <input id="u10066_input" type="text" value="A" class="u10066_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10067" class="ax_default text_field">
            <div id="u10067_div" class=""></div>
            <input id="u10067_input" type="text" value="B" class="u10067_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10068" class="ax_default text_field">
            <div id="u10068_div" class=""></div>
            <input id="u10068_input" type="text" value="C" class="u10068_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10069" class="ax_default text_field">
            <div id="u10069_div" class=""></div>
            <input id="u10069_input" type="text" value="B: Zn" class="u10069_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10070" class="ax_default text_field">
            <div id="u10070_div" class=""></div>
            <input id="u10070_input" type="text" value="C: Al" class="u10070_input" readonly/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u10071" class="ax_default box_1">
            <div id="u10071_div" class=""></div>
            <div id="u10071_text" class="text ">
                <p><span>2000</span></p>
            </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10072" class="ax_default text_field">
            <div id="u10072_div" class=""></div>
            <input id="u10072_input" type="text" value="J/mol" class="u10072_input" readonly/>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u10073" class="ax_default box_1">
        <div id="u10073_div" class=""></div>
        <div id="u10073_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u10074" class="ax_default image">
        <img id="u10074_img" class="img " src="{{ url_for('static', filename='images/solution3_2/u10074.png') }}"/>
        <div id="u10074_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u10075" class="ax_default image">
        <img id="u10075_img" class="img " src="{{ url_for('static', filename='images/solution3_2/u10075.svg') }}"/>
        <div id="u10075_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u10076" class="ax_default image">
        <img id="u10076_img" class="img " src="{{ url_for('static', filename='images/solution3_2/u10076.png') }}"/>
        <div id="u10076_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Vertical Line) -->
    <div id="u10077" class="ax_default line">
        <img id="u10077_img" class="img " src="{{ url_for('static', filename='images/solution3_2/u10077.svg') }}"/>
        <div id="u10077_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Line) -->
    <div id="u10078" class="ax_default line">
        <img id="u10078_img" class="img " src="{{ url_for('static', filename='images/solution3_2/u10078.svg') }}"/>
        <div id="u10078_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Line) -->
    <div id="u10079" class="ax_default _线段">
        <img id="u10079_img" class="img " src="{{ url_for('static', filename='images/solution3_2/u10079.svg') }}"/>
        <div id="u10079_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Line) -->
    <div id="u10080" class="ax_default _线段">
        <img id="u10080_img" class="img " src="{{ url_for('static', filename='images/solution3_2/u10080.svg') }}"/>
        <div id="u10080_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Ellipse) -->
    <div id="u10081" class="ax_default ellipse">
        <img id="u10081_img" class="img " src="{{ url_for('static', filename='images/solution3_2/u10081.svg') }}"/>
        <div id="u10081_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Ellipse) -->
    <div id="u10082" class="ax_default ellipse">
        <img id="u10082_img" class="img " src="{{ url_for('static', filename='images/solution3_2/u10082.svg') }}"/>
        <div id="u10082_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Ellipse) -->
    <div id="u10083" class="ax_default ellipse">
        <img id="u10083_img" class="img " src="{{ url_for('static', filename='images/solution3_2/u10081.svg') }}"/>
        <div id="u10083_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Ellipse) -->
    <div id="u10084" class="ax_default ellipse">
        <img id="u10084_img" class="img " src="{{ url_for('static', filename='images/solution3_2/u10081.svg') }}"/>
        <div id="u10084_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Line) -->
    <div id="u10085" class="ax_default _线段">
        <img id="u10085_img" class="img " src="{{ url_for('static', filename='images/solution3_2/u10085.svg') }}"/>
        <div id="u10085_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Ellipse) -->
    <div id="u10086" class="ax_default ellipse">
        <img id="u10086_img" class="img " src="{{ url_for('static', filename='images/solution3_2/u10081.svg') }}"/>
        <div id="u10086_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Line) -->
    <div id="u10087" class="ax_default _线段">
        <img id="u10087_img" class="img " src="{{ url_for('static', filename='images/solution3_2/u10087.svg') }}"/>
        <div id="u10087_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Ellipse) -->
    <div id="u10088" class="ax_default ellipse">
        <img id="u10088_img" class="img " src="{{ url_for('static', filename='images/solution3_2/u10081.svg') }}"/>
        <div id="u10088_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u10089" class="ax_default image">
        <img id="u10089_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u9744.png') }}"/>
        <div id="u10089_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
</body>
</html>
