<!DOCTYPE html>
<html>
<head>
    <title>solution1.6</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/solution1_6/styles.css') }}" type="text/css" rel="stylesheet"/>

    <script>
        document.oncontextmenu = function (event) {
            event = event || window.event;
            var targetElement = event.target || event.srcElement;
            if (!targetElement) return true;

            if (targetElement.tagName) {
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||
                    targetElement.tagName.toLowerCase() === "textarea") {
                    return true;
                }
            }
            return false;
        }
    </script>
    <script src
                    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/solution1_6/data.js') }}"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () {
            return 'resources/images/transparent.gif';
        };
        $axure.utils.getOtherPath = function () {
            return 'resources/Other.html';
        };
        $axure.utils.getReloadPath = function () {
            return 'resources/reload.html';
        };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- 内部框架 (Inline Frame) -->
    <div id="u9029" class="ax_default" data-label="内部框架">
        <iframe id="u9029_input" data-label="内部框架" allowfullscreen ></iframe>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u9030" class="ax_default box_1">
        <div id="u9030_div" class=""></div>
        <div id="u9030_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u9031" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u9032" class="ax_default box_1">
            <img id="u9032_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
            <div id="u9032_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9033" class="ax_default box_1">
            <img id="u9033_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
            <div id="u9033_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u9034" class="ax_default" data-left="255" data-top="95" data-width="618" data-height="606"
         layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u9035" class="ax_default" data-left="255" data-top="95" data-width="618" data-height="606"
             layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u9036" class="ax_default box_1">
                <div id="u9036_div" class=""></div>
                <div id="u9036_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u9037" class="ax_default" data-left="0" data-top="0" data-width="873" data-height="750" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u9038" class="ax_default box_1">
            <div id="u9038_div" class=""></div>
            <div id="u9038_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9039" class="ax_default box_1">
            <div id="u9039_div" class=""></div>
            <div id="u9039_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9040" class="ax_default box_1">
            <div id="u9040_div" class=""></div>
            <div id="u9040_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9041" class="ax_default text_field">
            <div id="u9041_div" class=""></div>
            <input id="u9041_input" type="text" value="FactSage" class="u9041_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9042" class="ax_default text_field">
            <div id="u9042_div" class=""></div>
            <input id="u9042_input" type="text" value="Function Name" class="u9042_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9043" class="ax_default text_field">
            <div id="u9043_div" class=""></div>
            <input id="u9043_input" type="text" value="" class="u9043_input"/>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u9044" class="ax_default" data-left="63" data-top="15" data-width="399" data-height="32"
             layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u9045" class="ax_default _二级标题">
                <div id="u9045_div" class=""></div>
                <div id="u9045_text" class="text ">
                    <p><span>ViewData</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9046" class="ax_default _二级标题">
                <div id="u9046_div" class=""></div>
                <div id="u9046_text" class="text ">
                    <p><span>Units</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9047" class="ax_default _二级标题">
                <div id="u9047_div" class=""></div>
                <div id="u9047_text" class="text ">
                    <p><span>Tools</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9048" class="ax_default _二级标题">
                <div id="u9048_div" class=""></div>
                <div id="u9048_text" class="text ">
                    <p><span>Help</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9049" class="ax_default _三级标题">
                <div id="u9049_div" class=""></div>
                <div id="u9049_text" class="text ">
                    <p><span>File</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9050" class="ax_default _三级标题">
                <div id="u9050_div" class=""></div>
                <div id="u9050_text" class="text ">
                    <p><span>Edit</span></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9051" class="ax_default _形状">
            <img id="u9051_img" class="img " src="{{ url_for('static', filename='images/solution2_2/u8577.svg') }}"/>
            <div id="u9051_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u9052" class="ax_default _形状">
        <img id="u9052_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1722.svg') }}"/>
        <div id="u9052_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (List Box) -->
    <div id="u9053" class="ax_default list_box">
        <div id="u9053_div" class=""></div>
        <select id="u9053_input" size="2" class="u9053_input">
            <option class="u9053_input_option" value="... Solusoln">... Solusoln</option>
            <option class="u9053_input_option" value="     ... Functions">&nbsp;&nbsp; &nbsp; ... Functions</option>
            <option class="u9053_input_option" value="            ... Cu(1)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                ... Cu(1)
            </option>
            <option class="u9053_input_option" value="            ... Ag(1)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                ... Ag(1)
            </option>
            <option class="u9053_input_option" value="     ... Solutions(0)">&nbsp;&nbsp; &nbsp; ... Solutions(0)
            </option>
            <option class="u9053_input_option" value="            ... LiqM(1-1)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp;&nbsp; ... LiqM(1-1)
            </option>
        </select>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u9054" class="ax_default box_1">
        <img id="u9054_img" class="img " src="{{ url_for('static', filename='images/solution1_6/u9054.svg') }}"/>
        <div id="u9054_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u9055" class="ax_default box_1">
        <img id="u9055_img" class="img " src="{{ url_for('static', filename='images/solution1_6/u9055.svg') }}"/>
        <div id="u9055_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u9056" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u9057" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="255"
             data-top="95" data-width="618" data-height="568" layer-opacity="1">

            <!-- Unnamed (Text Field) -->
            <div id="u9058" class="ax_default text_field">
                <div id="u9058_div" class=""></div>
                <input id="u9058_input" type="text" value="LiqM" class="u9058_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u9059" class="ax_default text_field">
                <div id="u9059_div" class=""></div>
                <input id="u9059_input" type="text" value="Model Name" class="u9059_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u9060" class="ax_default text_field">
                <div id="u9060_div" class=""></div>
                <input id="u9060_input" type="text" value="One-lattice polynomial" class="u9060_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u9061" class="ax_default text_field">
                <div id="u9061_div" class=""></div>
                <input id="u9061_input" type="text" value="Lattice" class="u9061_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u9062" class="ax_default text_field">
                <div id="u9062_div" class=""></div>
                <input id="u9062_input" type="text" value="" class="u9062_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u9063" class="ax_default text_field">
                <div id="u9063_div" class=""></div>
                <input id="u9063_input" type="text" value="Solution description..." class="u9063_input" readonly/>
            </div>

            <!-- Unnamed (Line) -->
            <div id="u9064" class="ax_default line">
                <img id="u9064_img" class="img "
                     src="{{ url_for('static', filename='images/solution1_6/u9064.svg') }}"/>
                <div id="u9064_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u9065" class="ax_default text_field">
                <div id="u9065_div" class=""></div>
                <input id="u9065_input" type="text" value="Solution Name" class="u9065_input" readonly/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u9066" class="ax_default text_field">
                <div id="u9066_div" class=""></div>
                <input id="u9066_input" type="text" value="Created" class="u9066_input" readonly/>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9067" class="ax_default box_1">
                <div id="u9067_div" class=""></div>
                <div id="u9067_text" class="text ">
                    <p><span>This 'Polynomial' solution description has been automatically generated. You can strip this description and replace it by adding any number of lines of your own. </span>
                    </p>
                    <p><span>You may also provide, in the above box the name of file which contain further information about this solution. If the file exists, double clicking the above box will open the file using its associated program.</span>
                    </p>
                </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u9068" class="ax_default text_field">
                <div id="u9068_div" class=""></div>
                <input id="u9068_input" type="text" value="2014/05/13" class="u9068_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u9069" class="ax_default text_field">
                <div id="u9069_div" class=""></div>
                <input id="u9069_input" type="text" value="2014/05/13" class="u9069_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u9070" class="ax_default text_field">
                <div id="u9070_div" class=""></div>
                <input id="u9070_input" type="text" value="Last Modified" class="u9070_input" readonly/>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u9071" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="388"
         data-top="365" data-width="399" data-height="246" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u9072" class="ax_default box_1">
            <div id="u9072_div" class=""></div>
            <div id="u9072_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9073" class="ax_default box_1">
            <div id="u9073_div" class=""></div>
            <div id="u9073_text" class="text ">
                <p><span>Solution LiqM</span></p>
            </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9074" class="ax_default text_field">
            <div id="u9074_div" class=""></div>
            <input id="u9074_input" type="text" value="Solution Description" class="u9074_input" readonly/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9075" class="ax_default box_1">
            <div id="u9075_div" class=""></div>
            <div id="u9075_text" class="text ">
                <p><span>Liquid alloy</span></p>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9076" class="ax_default box_1">
            <img id="u9076_img" class="img " src="{{ url_for('static', filename='images/solution1_6/u9076.svg') }}"/>
            <div id="u9076_text" class="text ">
                <p><span>OK</span></p>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9077" class="ax_default box_1">
            <img id="u9077_img" class="img " src="{{ url_for('static', filename='images/solution1_6/u9076.svg') }}"/>
            <div id="u9077_text" class="text ">
                <p><span>Cancel</span></p>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
</body>
</html>
