<!DOCTYPE html>
<html>
<head>
    <title>solution3.1</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/solution3_1/styles.css') }}" type="text/css" rel="stylesheet"/>

    <script>
        document.oncontextmenu = function (event) {
            event = event || window.event;
            var targetElement = event.target || event.srcElement;
            if (!targetElement) return true;

            if (targetElement.tagName) {
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||
                    targetElement.tagName.toLowerCase() === "textarea") {
                    return true;
                }
            }
            return false;
        }
    </script>
    <script src
                    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/solution3_1/data.js') }}"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () {
            return 'resources/images/transparent.gif';
        };
        $axure.utils.getOtherPath = function () {
            return 'resources/Other.html';
        };
        $axure.utils.getReloadPath = function () {
            return 'resources/reload.html';
        };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- 1 (Group) -->
    <div id="u9895" class="ax_default" data-label="1" data-left="542" data-top="145" data-width="614" data-height="606"
         layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u9896" class="ax_default box_1">
            <img id="u9896_img" class="img " src="{{ url_for('static', filename='images/solution3_1/u9896.svg') }}"/>
            <div id="u9896_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- 内部框架 (Inline Frame) -->
    <div id="u9897" class="ax_default" data-label="内部框架">
        <iframe id="u9897_input" data-label="内部框架" allowfullscreen ></iframe>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u9898" class="ax_default" data-left="289" data-top="50" data-width="867" data-height="750"
         layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u9899" class="ax_default box_1">
            <div id="u9899_div" class=""></div>
            <div id="u9899_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9900" class="ax_default box_1">
            <div id="u9900_div" class=""></div>
            <div id="u9900_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9901" class="ax_default box_1">
            <div id="u9901_div" class=""></div>
            <div id="u9901_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9902" class="ax_default box_1">
            <div id="u9902_div" class=""></div>
            <div id="u9902_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9903" class="ax_default text_field">
            <div id="u9903_div" class=""></div>
            <input id="u9903_input" type="text" value="FactSage" class="u9903_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9904" class="ax_default text_field">
            <div id="u9904_div" class=""></div>
            <input id="u9904_input" type="text"
                   value="C:\FACTSAGE\USERDATA\EXAMPLEBASE.CDB(v5.0) 0 compound(s) read/write" class="u9904_input"
                   readonly/>
        </div>

        <!-- Unnamed (List Box) -->
        <div id="u9905" class="ax_default list_box">
            <div id="u9905_div" class=""></div>
            <select id="u9905_input" size="2" class="u9905_input">
                <option class="u9905_input_option" value="... Solusoln">... Solusoln</option>
                <option class="u9905_input_option" value="    ... Functions">&nbsp;&nbsp;&nbsp; ... Functions</option>
                <option class="u9905_input_option" value="    ... Solutions(1)">&nbsp;&nbsp;&nbsp; ... Solutions(1)
                </option>
                <option class="u9905_input_option" value="        ... LiqM(1-1)">&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; ...
                    LiqM(1-1)
                </option>
                <option class="u9905_input_option" value="        … BCT5(7-1)">&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; …
                    BCT5(7-1)
                </option>
                <option class="u9905_input_option" value="             ... SubLattices">&nbsp;&nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; ... SubLattices
                </option>
                <option class="u9905_input_option" value="                ... A(7)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp;&nbsp; ... A(7)
                </option>
                <option class="u9905_input_option" value="                     ... Bi">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Bi
                </option>
                <option class="u9905_input_option" value="                     ... Pb">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Pb
                </option>
                <option class="u9905_input_option" value="                     … Sb">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Sb
                </option>
                <option class="u9905_input_option" value="                     … Sn">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Sn
                </option>
                <option class="u9905_input_option" value="                     … Zn">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Zn
                </option>
                <option class="u9905_input_option" value="                     … Ti">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Ti
                </option>
                <option class="u9905_input_option" value="                     … Al">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Al
                </option>
                <option class="u9905_input_option" value="             ... End Members(7)">&nbsp;&nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; ... End Members(7)
                </option>
                <option class="u9905_input_option" value="                     … Bi">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Bi
                </option>
                <option class="u9905_input_option" value="                     … Pb">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Pb
                </option>
                <option class="u9905_input_option" value="                     … Sb">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Sb
                </option>
                <option class="u9905_input_option" value="                     … *Sn">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … *Sn
                </option>
                <option class="u9905_input_option" value="                     … Zn">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Zn
                </option>
                <option class="u9905_input_option" value="                     … Ti">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Ti
                </option>
                <option class="u9905_input_option" value="                     … Al">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Al
                </option>
                <option class="u9905_input_option" value="             ... Mixables(0)">&nbsp;&nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; ... Mixables(0)
                </option>
                <option class="u9905_input_option" value="             ... Ternary Interpolations">&nbsp;&nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; ... Ternary Interpolations
                </option>
                <option class="u9905_input_option" value="                     … Sliver, Gold, Gemanium">&nbsp;&nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Sliver, Gold, Gemanium
                </option>
                <option class="u9905_input_option" value="             ... Interactions  (10)">&nbsp;&nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; ... Interactions&nbsp; (10)
                </option>
                <option class="u9905_input_option" value="                ... (0)Bi;Sn">&nbsp;&nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (0)Bi;Sn
                </option>
                <option class="u9905_input_option" value="                ... (1)Bi;Sn">&nbsp;&nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (1)Bi;Sn
                </option>
                <option class="u9905_input_option" value="                ... (2)Bi;Zn">&nbsp;&nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (2)Bi;Zn
                </option>
                <option class="u9905_input_option" value="                ... (3)Pb;Sn">&nbsp;&nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (3)Pb;Sn
                </option>
                <option class="u9905_input_option" value="                ... (4)Pb;Zn">&nbsp;&nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (4)Pb;Zn
                </option>
                <option class="u9905_input_option" value="                ... (5)Sb;Sn">&nbsp;&nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (5)Sb;Sn
                </option>
                <option class="u9905_input_option" value="                ... (6)Sb;Sn">&nbsp;&nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (6)Sb;Sn
                </option>
                <option class="u9905_input_option" value="                ... (7)Sn;Zn">&nbsp;&nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (7)Sn;Zn
                </option>
                <option class="u9905_input_option" value="                ... (8)Sn;Zn;Al">&nbsp;&nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (8)Sn;Zn;Al
                </option>
                <option class="u9905_input_option" value="                ... (9)Sn;Ti">&nbsp;&nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (9)Sn;Ti
                </option>
                <option class="u9905_input_option" value="                ... (10)Sn;Al">&nbsp;&nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (10)Sn;Al
                </option>
            </select>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9906" class="ax_default text_field">
            <div id="u9906_div" class=""></div>
            <input id="u9906_input" type="text" value="Formula" class="u9906_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9907" class="ax_default text_field">
            <div id="u9907_div" class=""></div>
            <input id="u9907_input" type="text" value="" class="u9907_input"/>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9908" class="ax_default _形状">
            <img id="u9908_img" class="img " src="{{ url_for('static', filename='images/compound_3_1/u6907.svg') }}"/>
            <div id="u9908_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u9909" class="ax_default" data-left="398" data-top="65" data-width="417" data-height="32"
             layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u9910" class="ax_default _段落">
                <div id="u9910_div" class=""></div>
                <div id="u9910_text" class="text ">
                    <p><span>Edit</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9911" class="ax_default _二级标题">
                <div id="u9911_div" class=""></div>
                <div id="u9911_text" class="text ">
                    <p><span>ViewData</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9912" class="ax_default _二级标题">
                <div id="u9912_div" class=""></div>
                <div id="u9912_text" class="text ">
                    <p><span>Units</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9913" class="ax_default _二级标题">
                <div id="u9913_div" class=""></div>
                <div id="u9913_text" class="text ">
                    <p><span>Tools</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9914" class="ax_default _二级标题">
                <div id="u9914_div" class=""></div>
                <div id="u9914_text" class="text ">
                    <p><span>Help</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9915" class="ax_default _三级标题">
                <div id="u9915_div" class=""></div>
                <div id="u9915_text" class="text ">
                    <p><span>View</span></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9916" class="ax_default box_1">
            <img id="u9916_img" class="img " src="{{ url_for('static', filename='images/solution3_1/u9916.svg') }}"/>
            <div id="u9916_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9917" class="ax_default _段落">
            <div id="u9917_div" class=""></div>
            <div id="u9917_text" class="text ">
                <p><span>File</span></p>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u9918" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">

            <!-- 1 (Group) -->
            <div id="u9919" class="ax_default ax_default_hidden" data-label="1" style="display:none; visibility: hidden"
                 data-left="369" data-top="91" data-width="146" data-height="78" layer-opacity="1">

                <!-- Unnamed (Rectangle) -->
                <div id="u9920" class="ax_default box_2">
                    <img id="u9920_img" class="img "
                         src="{{ url_for('static', filename='images/compound__solid_/u7186.svg') }}"/>
                    <div id="u9920_text" class="text ">
                        <p><span>New Database</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u9921" class="ax_default box_2">
                    <img id="u9921_img" class="img "
                         src="{{ url_for('static', filename='images/compound__solid_/u7186.svg') }}"/>
                    <div id="u9921_text" class="text ">
                        <p><span>Open Database</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u9922" class="ax_default box_2">
                    <img id="u9922_img" class="img "
                         src="{{ url_for('static', filename='images/compound__solid_/u7186.svg') }}"/>
                    <div id="u9922_text" class="text ">
                        <p><span>Close Database</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u9923" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">

        <!-- 2 (Group) -->
        <div id="u9924" class="ax_default ax_default_hidden" data-label="2" style="display:none; visibility: hidden"
             data-left="529" data-top="586" data-width="323" data-height="286" layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u9925" class="ax_default box_2">
                <img id="u9925_img" class="img "
                     src="{{ url_for('static', filename='images/solution3_1/u9925.svg') }}"/>
                <div id="u9925_text" class="text ">
                    <p><span>Add Solution</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9926" class="ax_default box_2">
                <img id="u9926_img" class="img "
                     src="{{ url_for('static', filename='images/solution3_1/u9925.svg') }}"/>
                <div id="u9926_text" class="text ">
                    <p><span>End Member</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9927" class="ax_default box_2">
                <img id="u9927_img" class="img "
                     src="{{ url_for('static', filename='images/solution3_1/u9925.svg') }}"/>
                <div id="u9927_text" class="text ">
                    <p><span>Add Solution</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9928" class="ax_default box_2">
                <img id="u9928_img" class="img "
                     src="{{ url_for('static', filename='images/solution3_1/u9925.svg') }}"/>
                <div id="u9928_text" class="text ">
                    <p><span>End Member</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9929" class="ax_default box_2">
                <img id="u9929_img" class="img "
                     src="{{ url_for('static', filename='images/solution3_1/u9925.svg') }}"/>
                <div id="u9929_text" class="text ">
                    <p><span>Add Mixable Silver;Copper;Gold;Germanium</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9930" class="ax_default box_2">
                <img id="u9930_img" class="img "
                     src="{{ url_for('static', filename='images/solution3_1/u9925.svg') }}"/>
                <div id="u9930_text" class="text ">
                    <p><span>Quadruplet</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9931" class="ax_default box_2">
                <img id="u9931_img" class="img "
                     src="{{ url_for('static', filename='images/solution3_1/u9925.svg') }}"/>
                <div id="u9931_text" class="text ">
                    <p><span>Ternary Interpolation</span></p>
                </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u9932" class="ax_default" data-left="529" data-top="768" data-width="323" data-height="26"
                 layer-opacity="1">

                <!-- Unnamed (Rectangle) -->
                <div id="u9933" class="ax_default box_2">
                    <img id="u9933_img" class="img "
                         src="{{ url_for('static', filename='images/solution3_1/u9925.svg') }}"/>
                    <div id="u9933_text" class="text ">
                        <p><span>Add Bragg-wiliams</span></p>
                    </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u9934" class="ax_default _形状">
                    <img id="u9934_img" class="img "
                         src="{{ url_for('static', filename='images/solution3_1/u9934.svg') }}"/>
                    <div id="u9934_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9935" class="ax_default box_2">
                <img id="u9935_img" class="img "
                     src="{{ url_for('static', filename='images/solution3_1/u9925.svg') }}"/>
                <div id="u9935_text" class="text ">
                    <p><span>Add Quasichermical</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9936" class="ax_default box_2">
                <img id="u9936_img" class="img "
                     src="{{ url_for('static', filename='images/solution3_1/u9936.svg') }}"/>
                <div id="u9936_text" class="text ">
                    <p><span>Add Pair fraction expansion</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9937" class="ax_default box_2">
                <img id="u9937_img" class="img "
                     src="{{ url_for('static', filename='images/solution3_1/u9937.svg') }}"/>
                <div id="u9937_text" class="text ">
                    <p><span>Paste Function&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Ctrl+V</span>
                    </p>
                </div>
            </div>
        </div>

        <!-- 3 (Group) -->
        <div id="u9938" class="ax_default ax_default_hidden" data-label="3" style="display:none; visibility: hidden"
             data-left="852" data-top="768" data-width="67" data-height="52" layer-opacity="1">

            <!-- Unnamed (Group) -->
            <div id="u9939" class="ax_default" data-left="852" data-top="768" data-width="67" data-height="26"
                 layer-opacity="1">

                <!-- 3.1 (Rectangle) -->
                <div id="u9940" class="ax_default box_2" data-label="3.1">
                    <img id="u9940_img" class="img "
                         src="{{ url_for('static', filename='images/solution3_1/3_1_u9940.svg') }}"/>
                    <div id="u9940_text" class="text ">
                        <p><span>GE</span></p>
                    </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u9941" class="ax_default _形状">
                    <img id="u9941_img" class="img "
                         src="{{ url_for('static', filename='images/solution3_1/u9941.svg') }}"/>
                    <div id="u9941_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u9942" class="ax_default" data-left="852" data-top="794" data-width="67" data-height="26"
                 layer-opacity="1">

                <!-- Unnamed (Rectangle) -->
                <div id="u9943" class="ax_default box_2">
                    <img id="u9943_img" class="img "
                         src="{{ url_for('static', filename='images/solution3_1/3_1_u9940.svg') }}"/>
                    <div id="u9943_text" class="text ">
                        <p><span>VE</span></p>
                    </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u9944" class="ax_default _形状">
                    <img id="u9944_img" class="img "
                         src="{{ url_for('static', filename='images/solution3_1/u9941.svg') }}"/>
                    <div id="u9944_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- 4 (Group) -->
        <div id="u9945" class="ax_default ax_default_hidden" data-label="4" style="display:none; visibility: hidden"
             data-left="919" data-top="768" data-width="158" data-height="26" layer-opacity="1">

            <!-- 4.1 (Group) -->
            <div id="u9946" class="ax_default" data-label="4.1" data-left="919" data-top="768" data-width="158"
                 data-height="26" layer-opacity="1">

                <!-- Unnamed (Rectangle) -->
                <div id="u9947" class="ax_default box_2">
                    <img id="u9947_img" class="img "
                         src="{{ url_for('static', filename='images/solution3_1/u9947.svg') }}"/>
                    <div id="u9947_text" class="text ">
                        <p><span>Redlich-Kister</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u9948" class="ax_default" data-left="0" data-top="0" data-width="1156" data-height="800" layer-opacity="1">

        <!-- 左侧一级菜单 (Dynamic Panel) -->
        <div id="u9949" class="ax_default" data-label="左侧一级菜单">
            <div id="u9949_state0" class="panel_state" data-label="框架" style="">
                <div id="u9949_state0_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u9950" class="ax_default box_1" selectiongroup="一级分类">
                        <img id="u9950_img" class="img "
                             src="{{ url_for('static', filename='images/模板_1/u19.svg') }}"/>
                        <div id="u9950_text" class="text ">
                            <p><span>Database</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u9951" class="ax_default box_1" selectiongroup="一级分类">
                        <img id="u9951_img" class="img "
                             src="{{ url_for('static', filename='images/模板_1/u20.svg') }}"/>
                        <div id="u9951_text" class="text ">
                            <p><span>Calculate</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u9952" class="ax_default box_1 selected" selectiongroup="一级分类">
                        <img id="u9952_img" class="img "
                             src="{{ url_for('static', filename='images/模板/manipulate_u65.svg') }}"/>
                        <div id="u9952_text" class="text ">
                            <p><span>Manipulate</span></p>
                        </div>
                    </div>

                    <!-- 三角形 (Shape) -->
                    <div id="u9953" class="ax_default box_1" data-label="三角形">
                        <img id="u9953_img" class="img "
                             src="{{ url_for('static', filename='images/模板_1/三角形_u22.svg') }}"/>
                        <div id="u9953_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- 化学 (Group) -->
                    <div id="u9954" class="ax_default" data-label="化学" data-left="6" data-top="12" data-width="30"
                         data-height="28" layer-opacity="1">

                        <!-- Unnamed (Ellipse) -->
                        <div id="u9955" class="ax_default ellipse">
                            <img id="u9955_img" class="img "
                                 src="{{ url_for('static', filename='images/模板_1/u24.svg') }}"/>
                            <div id="u9955_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>

                        <!-- Unnamed (Shape) -->
                        <div id="u9956" class="ax_default icon">
                            <img id="u9956_img" class="img "
                                 src="{{ url_for('static', filename='images/模板_1/u25.svg') }}"/>
                            <div id="u9956_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>
                    </div>

                    <!-- 数据库 (Group) -->
                    <div id="u9957" class="ax_default" data-label="数据库" data-left="6" data-top="66" data-width="31"
                         data-height="29" layer-opacity="1">

                        <!-- Unnamed (Ellipse) -->
                        <div id="u9958" class="ax_default ellipse">
                            <img id="u9958_img" class="img "
                                 src="{{ url_for('static', filename='images/模板_1/u27.svg') }}"/>
                            <div id="u9958_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>

                        <!-- Unnamed (Shape) -->
                        <div id="u9959" class="ax_default icon">
                            <img id="u9959_img" class="img "
                                 src="{{ url_for('static', filename='images/模板_1/u28.svg') }}"/>
                            <div id="u9959_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>
                    </div>

                    <!-- Least Square (Group) -->
                    <div id="u9960" class="ax_default" data-label="Least Square" data-left="8" data-top="121"
                         data-width="29" data-height="27" layer-opacity="1">

                        <!-- Unnamed (Ellipse) -->
                        <div id="u9961" class="ax_default ellipse">
                            <img id="u9961_img" class="img "
                                 src="{{ url_for('static', filename='images/模板_1/u30.svg') }}"/>
                            <div id="u9961_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>

                        <!-- Unnamed (Shape) -->
                        <div id="u9962" class="ax_default icon">
                            <img id="u9962_img" class="img "
                                 src="{{ url_for('static', filename='images/模板_1/u31.svg') }}"/>
                            <div id="u9962_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 背景 (Dynamic Panel) -->
        <div id="u9963" class="ax_default" data-label="背景">
            <div id="u9963_state0" class="panel_state" data-label="1" style="">
                <div id="u9963_state0_content" class="panel_state_content">
                </div>
            </div>
            <div id="u9963_state1" class="panel_state" data-label="2" style="visibility: hidden;">
                <div id="u9963_state1_content" class="panel_state_content">
                </div>
            </div>
            <div id="u9963_state2" class="panel_state" data-label="3" style="visibility: hidden;">
                <div id="u9963_state2_content" class="panel_state_content">
                </div>
            </div>
            <div id="u9963_state3" class="panel_state" data-label="4" style="visibility: hidden;">
                <div id="u9963_state3_content" class="panel_state_content">
                </div>
            </div>
            <div id="u9963_state4" class="panel_state" data-label="5" style="visibility: hidden;">
                <div id="u9963_state4_content" class="panel_state_content">
                </div>
            </div>
            <div id="u9963_state5" class="panel_state" data-label="6" style="visibility: hidden;">
                <div id="u9963_state5_content" class="panel_state_content">
                </div>
            </div>
            <div id="u9963_state6" class="panel_state" data-label="7" style="visibility: hidden;">
                <div id="u9963_state6_content" class="panel_state_content">
                </div>
            </div>
            <div id="u9963_state7" class="panel_state" data-label="8" style="visibility: hidden;">
                <div id="u9963_state7_content" class="panel_state_content">
                </div>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u9964" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33"
             layer-opacity="1">

            <!-- Unnamed (Shape) -->
            <div id="u9965" class="ax_default box_1">
                <img id="u9965_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
                <div id="u9965_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u9966" class="ax_default box_1">
                <img id="u9966_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
                <div id="u9966_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9967" class="ax_default box_1 selected">
            <div id="u9967_div" class="selected"></div>
            <div id="u9967_text" class="text ">
                <p><span
                        style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">SoluSage </span><span
                        style="font-family:&quot;PingFangSC-Semibold&quot;, &quot;PingFang SC Semibold&quot;, &quot;PingFang SC&quot;, sans-serif;font-weight:650;">(Joules)</span>
                </p>
            </div>
        </div>

        <!-- 左侧二级菜单 (Dynamic Panel) -->
        <div id="u9968" class="ax_default" data-label="左侧二级菜单">
            <div id="u9968_state0" class="panel_state" data-label="框架" style="">
                <div id="u9968_state0_content" class="panel_state_content">

                    <!-- 二级菜单 (Dynamic Panel) -->
                    <div id="u9969" class="ax_default" data-label="二级菜单">
                        <div id="u9969_state0" class="panel_state" data-label="Manipulate" style="">
                            <div id="u9969_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u9970" class="ax_default box_1 selected" selectiongroup="二级菜单">
                                    <div id="u9970_div" class="selected"></div>
                                    <div id="u9970_text" class="text ">
                                        <p><span>&#149; Results</span></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Rectangle) -->
                                <div id="u9971" class="ax_default box_1" selectiongroup="二级菜单">
                                    <div id="u9971_div" class=""></div>
                                    <div id="u9971_text" class="text ">
                                        <p><span>&#149; Mixture</span></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Rectangle) -->
                                <div id="u9972" class="ax_default box_1" selectiongroup="二级菜单">
                                    <div id="u9972_div" class=""></div>
                                    <div id="u9972_text" class="text ">
                                        <p><span>&#149; View Figure</span></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Rectangle) -->
                                <div id="u9973" class="ax_default box_1" selectiongroup="二级菜单">
                                    <div id="u9973_div" class=""></div>
                                    <div id="u9973_text" class="text ">
                                        <p><span>&#149; Figure</span></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Rectangle) -->
                                <div id="u9974" class="ax_default box_1" selectiongroup="二级菜单">
                                    <div id="u9974_div" class=""></div>
                                    <div id="u9974_text" class="text ">
                                        <p><span>&#149; Reset</span></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Rectangle) -->
                                <div id="u9975" class="ax_default box_1" selectiongroup="二级菜单">
                                    <div id="u9975_div" class=""></div>
                                    <div id="u9975_text" class="text ">
                                        <p><span>&#149; Quit</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="u9969_state1" class="panel_state" data-label="Database" style="visibility: hidden;">
                            <div id="u9969_state1_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u9976" class="ax_default box_1" selectiongroup="二级菜单">
                                    <div id="u9976_div" class=""></div>
                                    <div id="u9976_text" class="text ">
                                        <p><span>&#149; View Data</span></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Rectangle) -->
                                <div id="u9977" class="ax_default box_1" selectiongroup="二级菜单">
                                    <div id="u9977_div" class=""></div>
                                    <div id="u9977_text" class="text ">
                                        <p><span>&#149; Compound</span></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Rectangle) -->
                                <div id="u9978" class="ax_default box_1" selectiongroup="二级菜单">
                                    <div id="u9978_div" class=""></div>
                                    <div id="u9978_text" class="text ">
                                        <p><span>&#149; Solution</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="u9969_state2" class="panel_state" data-label="Calculate" style="visibility: hidden;">
                            <div id="u9969_state2_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u9979" class="ax_default box_1" selectiongroup="二级菜单">
                                    <div id="u9979_div" class=""></div>
                                    <div id="u9979_text" class="text ">
                                        <p><span>&#149; Reaction</span></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Rectangle) -->
                                <div id="u9980" class="ax_default box_1" selectiongroup="二级菜单">
                                    <div id="u9980_div" class=""></div>
                                    <div id="u9980_text" class="text ">
                                        <p><span>&#149; Equilib</span></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Rectangle) -->
                                <div id="u9981" class="ax_default box_1" selectiongroup="二级菜单">
                                    <div id="u9981_div" class=""></div>
                                    <div id="u9981_text" class="text ">
                                        <p><span>&#149; Phase Diagram</span></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Rectangle) -->
                                <div id="u9982" class="ax_default box_1" selectiongroup="二级菜单">
                                    <div id="u9982_div" class=""></div>
                                    <div id="u9982_text" class="text ">
                                        <p><span>&#149; Predom</span></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Rectangle) -->
                                <div id="u9983" class="ax_default box_1" selectiongroup="二级菜单">
                                    <div id="u9983_div" class=""></div>
                                    <div id="u9983_text" class="text ">
                                        <p><span>&#149; EpH</span></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Rectangle) -->
                                <div id="u9984" class="ax_default box_1" selectiongroup="二级菜单">
                                    <div id="u9984_div" class=""></div>
                                    <div id="u9984_text" class="text ">
                                        <p><span>&#149; Optimize</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9985" class="ax_default icon">
            <img id="u9985_img" class="img " src="{{ url_for('static', filename='images/模板_1/u43.svg') }}"/>
            <div id="u9985_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9986" class="ax_default box_1" title="系统消息">
            <img id="u9986_img" class="img " src="{{ url_for('static', filename='images/模板_1/u38.svg') }}"/>
            <div id="u9986_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9987" class="ax_default box_1" title="退出登录">
            <img id="u9987_img" class="img " src="{{ url_for('static', filename='images/模板_1/u41.svg') }}"/>
            <div id="u9987_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9988" class="ax_default box_1">
            <img id="u9988_img" class="img " src="{{ url_for('static', filename='images/模板_1/u40.svg') }}"/>
            <div id="u9988_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9989" class="ax_default box_1" title="更换皮肤">
            <img id="u9989_img" class="img " src="{{ url_for('static', filename='images/模板_1/u39.svg') }}"/>
            <div id="u9989_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9990" class="ax_default box_1" title="常用菜单">
            <img id="u9990_img" class="img " src="{{ url_for('static', filename='images/模板_1/u38.svg') }}"/>
            <div id="u9990_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9991" class="ax_default box_1">
            <img id="u9991_img" class="img " src="{{ url_for('static', filename='images/模板_1/u37.svg') }}"/>
            <div id="u9991_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u9992" class="ax_default _形状">
        <img id="u9992_img" class="img " src="{{ url_for('static', filename='images/solution3_0/u9835.svg') }}"/>
        <div id="u9992_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
</body>
</html>
