<!DOCTYPE html>
<html>
  <head>
    <title>solution2.8</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/solution2_8/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/solution2_8/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- 内部框架 (Inline Frame) -->
      <div id="u10478" class="ax_default" data-label="内部框架">
        <iframe id="u10478_input" data-label="内部框架" src="http://127.0.0.1:5000/u10478_input"></iframe>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u10479" class="ax_default box_1">
        <div id="u10479_div" class=""></div>
        <div id="u10479_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u10480" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u10481" class="ax_default box_1">
          <img id="u10481_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
          <div id="u10481_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u10482" class="ax_default box_1">
          <img id="u10482_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
          <div id="u10482_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u10483" class="ax_default" data-left="0" data-top="0" data-width="873" data-height="750" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u10484" class="ax_default box_1">
          <div id="u10484_div" class=""></div>
          <div id="u10484_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u10485" class="ax_default box_1">
          <div id="u10485_div" class=""></div>
          <div id="u10485_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u10486" class="ax_default box_1">
          <div id="u10486_div" class=""></div>
          <div id="u10486_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10487" class="ax_default text_field">
          <div id="u10487_div" class=""></div>
          <input id="u10487_input" type="text" value="FactSage" class="u10487_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10488" class="ax_default text_field">
          <div id="u10488_div" class=""></div>
          <input id="u10488_input" type="text" value="Function Name" class="u10488_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10489" class="ax_default text_field">
          <div id="u10489_div" class=""></div>
          <input id="u10489_input" type="text" value="" class="u10489_input"/>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u10490" class="ax_default" data-left="51" data-top="15" data-width="411" data-height="32" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u10491" class="ax_default _二级标题">
            <div id="u10491_div" class=""></div>
            <div id="u10491_text" class="text ">
              <p><span>ViewData</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10492" class="ax_default _二级标题">
            <div id="u10492_div" class=""></div>
            <div id="u10492_text" class="text ">
              <p><span>Units</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10493" class="ax_default _二级标题">
            <div id="u10493_div" class=""></div>
            <div id="u10493_text" class="text ">
              <p><span>Tools</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10494" class="ax_default _二级标题">
            <div id="u10494_div" class=""></div>
            <div id="u10494_text" class="text ">
              <p><span>Help</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10495" class="ax_default _三级标题">
            <div id="u10495_div" class=""></div>
            <div id="u10495_text" class="text ">
              <p><span>Edit</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10496" class="ax_default _三级标题">
            <div id="u10496_div" class=""></div>
            <div id="u10496_text" class="text ">
              <p><span>File</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u10497" class="ax_default _形状">
          <img id="u10497_img" class="img " src="{{ url_for('static', filename='images/solution2_2/u9358.svg') }}"/>
          <div id="u10497_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u10498" class="ax_default _形状">
        <img id="u10498_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1722.svg') }}"/>
        <div id="u10498_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (List Box) -->
      <div id="u10499" class="ax_default list_box">
        <div id="u10499_div" class=""></div>
        <select id="u10499_input" size="2" class="u10499_input">
          <option class="u10499_input_option" value="... Solusoln">... Solusoln</option>
          <option class="u10499_input_option" value="    ... Functions">&nbsp;&nbsp;&nbsp; ... Functions</option>
          <option class="u10499_input_option" value="    ... Solutions(1)">&nbsp;&nbsp;&nbsp; ... Solutions(1)</option>
          <option class="u10499_input_option" value="        ... LiqM(1-1)">&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; ... LiqM(1-1)</option>
          <option class="u10499_input_option" value="             ... SubLattices">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... SubLattices</option>
          <option class="u10499_input_option" value="                ... A(4)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... A(4)</option>
          <option class="u10499_input_option" value="                     ... Silver">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Silver</option>
          <option class="u10499_input_option" value="                     ... Copper">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Copper</option>
          <option class="u10499_input_option" value="                     … Gold">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Gold</option>
          <option class="u10499_input_option" value="                     … Gemanium(A)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Gemanium(A)</option>
          <option class="u10499_input_option" value="             ... End Members(2)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... End Members(2)</option>
          <option class="u10499_input_option" value="             ... Mixables(0)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Mixables(0)</option>
          <option class="u10499_input_option" value="             ... Ternary Interpolations">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Ternary Interpolations</option>
          <option class="u10499_input_option" selected value="                     … Sliver, Glod, Gemanium">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; … Sliver, Glod, Gemanium</option>
          <option class="u10499_input_option" value="             ... Interactions  (15)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Interactions&nbsp; (15)</option>
          <option class="u10499_input_option" value="                ... (0)Silver; Copper">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (0)Silver; Copper</option>
          <option class="u10499_input_option" value="                ... (1)Silver; Copper">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (1)Silver; Copper</option>
          <option class="u10499_input_option" value="                ... (2)Silver; Copper">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (2)Silver; Copper</option>
          <option class="u10499_input_option" value="                ... (3)Silver; Gold">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (3)Silver; Gold</option>
          <option class="u10499_input_option" value="                ... (4)Silver; Gemanium">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (4)Silver; Gemanium</option>
          <option class="u10499_input_option" value="                ... (5)Silver; Gemanium">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (5)Silver; Gemanium</option>
        </select>
      </div>

      <!-- 1 (Group) -->
      <div id="u10500" class="ax_default" data-label="1" data-left="274" data-top="175" data-width="565" data-height="489" layer-opacity="1">

        <!-- Unnamed (Text Field) -->
        <div id="u10501" class="ax_default text_field">
          <div id="u10501_div" class=""></div>
          <input id="u10501_input" type="text" value="Y= equivalent site fraction" class="u10501_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10502" class="ax_default text_field">
          <div id="u10502_div" class=""></div>
          <input id="u10502_input" type="text" value="A: Silver" class="u10502_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10503" class="ax_default text_field">
          <div id="u10503_div" class=""></div>
          <input id="u10503_input" type="text" value="A" class="u10503_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10504" class="ax_default text_field">
          <div id="u10504_div" class=""></div>
          <input id="u10504_input" type="text" value="B" class="u10504_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10505" class="ax_default text_field">
          <div id="u10505_div" class=""></div>
          <input id="u10505_input" type="text" value="C" class="u10505_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10506" class="ax_default text_field">
          <div id="u10506_div" class=""></div>
          <input id="u10506_input" type="text" value="B: Copper" class="u10506_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10507" class="ax_default text_field">
          <div id="u10507_div" class=""></div>
          <input id="u10507_input" type="text" value="C: Gold" class="u10507_input" readonly/>
        </div>

        <!-- Unnamed (Line) -->
        <div id="u10508" class="ax_default _线段">
          <img id="u10508_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u10508.svg') }}"/>
          <div id="u10508_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Line) -->
        <div id="u10509" class="ax_default _线段">
          <img id="u10509_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u10509.svg') }}"/>
          <div id="u10509_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u10510" class="ax_default box_1">
          <img id="u10510_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u10510.svg') }}"/>
          <div id="u10510_text" class="text ">
            <p><span>3000</span></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10511" class="ax_default text_field">
          <div id="u10511_div" class=""></div>
          <input id="u10511_input" type="text" value="J/Equiv" class="u10511_input" readonly/>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u10512" class="ax_default image">
          <img id="u10512_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u10512.png') }}"/>
          <div id="u10512_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10513" class="ax_default text_field">
          <div id="u10513_div" class=""></div>
          <input id="u10513_input" type="text" value="1" class="u10513_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10514" class="ax_default text_field">
          <div id="u10514_div" class=""></div>
          <input id="u10514_input" type="text" value="2" class="u10514_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10515" class="ax_default text_field">
          <div id="u10515_div" class=""></div>
          <input id="u10515_input" type="text" value="1" class="u10515_input" readonly/>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u10516" class="ax_default" selectiongroup="#" data-left="809" data-top="437" data-width="30" data-height="34" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u10517" class="ax_default box_1">
            <img id="u10517_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u10517.svg') }}"/>
            <div id="u10517_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u10518" class="ax_default image">
        <img id="u10518_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u10518.png') }}"/>
        <div id="u10518_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u10519" class="ax_default _线段">
        <img id="u10519_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u10519.svg') }}"/>
        <div id="u10519_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Vertical Line) -->
      <div id="u10520" class="ax_default line">
        <img id="u10520_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u10520.svg') }}"/>
        <div id="u10520_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u10521" class="ax_default line">
        <img id="u10521_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u10521.svg') }}"/>
        <div id="u10521_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u10522" class="ax_default _线段">
        <img id="u10522_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u10522.svg') }}"/>
        <div id="u10522_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Ellipse) -->
      <div id="u10523" class="ax_default ellipse">
        <img id="u10523_img" class="img " src="{{ url_for('static', filename='images/solution2_5/u10408.svg') }}"/>
        <div id="u10523_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Ellipse) -->
      <div id="u10524" class="ax_default ellipse">
        <img id="u10524_img" class="img " src="{{ url_for('static', filename='images/solution2_5/u10408.svg') }}"/>
        <div id="u10524_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u10525" class="ax_default image">
        <img id="u10525_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u10525.png') }}"/>
        <div id="u10525_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u10526" class="ax_default image">
        <img id="u10526_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u10525.png') }}"/>
        <div id="u10526_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u10527" class="ax_default" data-left="784" data-top="454" data-width="30" data-height="34" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u10528" class="ax_default box_1">
          <img id="u10528_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u10517.svg') }}"/>
          <div id="u10528_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u10529" class="ax_default box_1">
        <img id="u10529_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u10529.svg') }}"/>
        <div id="u10529_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u10530" class="ax_default box_1">
        <img id="u10530_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u10529.svg') }}"/>
        <div id="u10530_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u10531" class="ax_default image">
        <img id="u10531_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u10531.png') }}"/>
        <div id="u10531_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u10532" class="ax_default image">
        <img id="u10532_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u10532.png') }}"/>
        <div id="u10532_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u10533" class="ax_default box_1">
        <img id="u10533_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u10529.svg') }}"/>
        <div id="u10533_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u10534" class="ax_default box_1">
        <img id="u10534_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u10529.svg') }}"/>
        <div id="u10534_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u10535" class="ax_default image">
        <img id="u10535_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u10531.png') }}"/>
        <div id="u10535_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u10536" class="ax_default image">
        <img id="u10536_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u10532.png') }}"/>
        <div id="u10536_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u10537" class="ax_default box_1">
        <img id="u10537_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u10529.svg') }}"/>
        <div id="u10537_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u10538" class="ax_default box_1">
        <img id="u10538_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u10529.svg') }}"/>
        <div id="u10538_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u10539" class="ax_default image">
        <img id="u10539_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u10531.png') }}"/>
        <div id="u10539_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u10540" class="ax_default image">
        <img id="u10540_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u10532.png') }}"/>
        <div id="u10540_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u10541" class="ax_default image">
        <img id="u10541_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u10541.svg') }}"/>
        <div id="u10541_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u10542" class="ax_default box_1">
        <img id="u10542_img" class="img " src="{{ url_for('static', filename='images/solution2_8/u10542.svg') }}"/>
        <div id="u10542_text" class="text ">
          <p><span>Next</span></p>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
