<!DOCTYPE html>
<html>
  <head>
    <title>solution1.16</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/solution1_16/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/solution1_16/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- 内部框架 (Inline Frame) -->
      <div id="u10208" class="ax_default" data-label="内部框架">
        <iframe id="u10208_input" data-label="内部框架" src="http://127.0.0.1:5000/u10208_input"></iframe>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u10209" class="ax_default box_1">
        <div id="u10209_div" class=""></div>
        <div id="u10209_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u10210" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u10211" class="ax_default box_1">
          <img id="u10211_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
          <div id="u10211_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u10212" class="ax_default box_1">
          <img id="u10212_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
          <div id="u10212_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u10213" class="ax_default" data-left="0" data-top="0" data-width="873" data-height="750" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u10214" class="ax_default box_1">
          <div id="u10214_div" class=""></div>
          <div id="u10214_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u10215" class="ax_default box_1">
          <div id="u10215_div" class=""></div>
          <div id="u10215_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u10216" class="ax_default box_1">
          <div id="u10216_div" class=""></div>
          <div id="u10216_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10217" class="ax_default text_field">
          <div id="u10217_div" class=""></div>
          <input id="u10217_input" type="text" value="FactSage" class="u10217_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10218" class="ax_default text_field">
          <div id="u10218_div" class=""></div>
          <input id="u10218_input" type="text" value="Function Name" class="u10218_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10219" class="ax_default text_field">
          <div id="u10219_div" class=""></div>
          <input id="u10219_input" type="text" value="" class="u10219_input"/>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u10220" class="ax_default" data-left="63" data-top="15" data-width="399" data-height="32" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u10221" class="ax_default _二级标题">
            <div id="u10221_div" class=""></div>
            <div id="u10221_text" class="text ">
              <p><span>ViewData</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10222" class="ax_default _二级标题">
            <div id="u10222_div" class=""></div>
            <div id="u10222_text" class="text ">
              <p><span>Units</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10223" class="ax_default _二级标题">
            <div id="u10223_div" class=""></div>
            <div id="u10223_text" class="text ">
              <p><span>Tools</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10224" class="ax_default _二级标题">
            <div id="u10224_div" class=""></div>
            <div id="u10224_text" class="text ">
              <p><span>Help</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10225" class="ax_default _三级标题">
            <div id="u10225_div" class=""></div>
            <div id="u10225_text" class="text ">
              <p><span>File</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u10226" class="ax_default _三级标题">
            <div id="u10226_div" class=""></div>
            <div id="u10226_text" class="text ">
              <p><span>Edit</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u10227" class="ax_default _形状">
          <img id="u10227_img" class="img " src="{{ url_for('static', filename='images/solution2_2/u9358.svg') }}"/>
          <div id="u10227_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u10228" class="ax_default _形状">
        <img id="u10228_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1722.svg') }}"/>
        <div id="u10228_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u10229" class="ax_default" data-left="255" data-top="95" data-width="618" data-height="606" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u10230" class="ax_default box_1">
          <div id="u10230_div" class=""></div>
          <div id="u10230_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10231" class="ax_default text_field">
          <div id="u10231_div" class=""></div>
          <input id="u10231_input" type="text" value="(Y = equivalent site fraction)" class="u10231_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10232" class="ax_default text_field">
          <div id="u10232_div" class=""></div>
          <input id="u10232_input" type="text" value="A: Silver" class="u10232_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10233" class="ax_default text_field">
          <div id="u10233_div" class=""></div>
          <input id="u10233_input" type="text" value="i" class="u10233_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10234" class="ax_default text_field">
          <div id="u10234_div" class=""></div>
          <input id="u10234_input" type="text" value="1660.8 - 2.31510*T" class="u10234_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10235" class="ax_default text_field">
          <div id="u10235_div" class=""></div>
          <input id="u10235_input" type="text" value="Status" class="u10235_input" readonly/>
        </div>

        <!-- Unnamed (Radio Button) -->
        <div id="u10236" class="ax_default radio_button">
          <label id="u10236_input_label" for="u10236_input" style="position: absolute; left: 0px;">
            <img id="u10236_img" class="img " src="{{ url_for('static', filename='images/solution1_15/u10196.svg') }}"/>
            <div id="u10236_text" class="text ">
              <p><span>Normal</span></p>
            </div>
          </label>
          <input id="u10236_input" type="radio" value="radio" name="u10236"/>
        </div>

        <!-- Unnamed (Radio Button) -->
        <div id="u10237" class="ax_default radio_button">
          <label id="u10237_input_label" for="u10237_input" style="position: absolute; left: 0px;">
            <img id="u10237_img" class="img " src="{{ url_for('static', filename='images/solution1_13/u10089.svg') }}"/>
            <div id="u10237_text" class="text ">
              <p><span>Discarded</span></p>
            </div>
          </label>
          <input id="u10237_input" type="radio" value="radio" name="u10237"/>
        </div>

        <!-- Unnamed (Radio Button) -->
        <div id="u10238" class="ax_default radio_button">
          <label id="u10238_input_label" for="u10238_input" style="position: absolute; left: 0px;">
            <img id="u10238_img" class="img " src="{{ url_for('static', filename='images/solution1_15/u10198.svg') }}"/>
            <div id="u10238_text" class="text ">
              <p><span>Main Solvent</span></p>
            </div>
          </label>
          <input id="u10238_input" type="radio" value="radio" name="u10238"/>
        </div>

        <!-- Unnamed (Radio Button) -->
        <div id="u10239" class="ax_default radio_button">
          <label id="u10239_input_label" for="u10239_input" style="position: absolute; left: 0px;">
            <img id="u10239_img" class="img " src="{{ url_for('static', filename='images/solution1_13/u10091.svg') }}"/>
            <div id="u10239_text" class="text ">
              <p><span>Solvent</span></p>
            </div>
          </label>
          <input id="u10239_input" type="radio" value="radio" name="u10239"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10240" class="ax_default text_field">
          <div id="u10240_div" class=""></div>
          <input id="u10240_input" type="text" value="J/equiv" class="u10240_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10241" class="ax_default text_field">
          <div id="u10241_div" class=""></div>
          <input id="u10241_input" type="text" value="1" class="u10241_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10242" class="ax_default text_field">
          <div id="u10242_div" class=""></div>
          <input id="u10242_input" type="text" value="Next" class="u10242_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10243" class="ax_default text_field">
          <div id="u10243_div" class=""></div>
          <input id="u10243_input" type="text" value="B: Copper" class="u10243_input" readonly/>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u10244" class="ax_default image">
          <img id="u10244_img" class="img " src="{{ url_for('static', filename='images/solution1_15/u10204.png') }}"/>
          <div id="u10244_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u10245" class="ax_default text_field">
          <div id="u10245_div" class=""></div>
          <input id="u10245_input" type="text" value="Binary term" class="u10245_input" readonly/>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u10246" class="ax_default image">
          <img id="u10246_img" class="img " src="{{ url_for('static', filename='images/solution1_15/u10206.png') }}"/>
          <div id="u10246_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u10247" class="ax_default image">
          <img id="u10247_img" class="img " src="{{ url_for('static', filename='images/solution1_15/u10207.png') }}"/>
          <div id="u10247_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (List Box) -->
      <div id="u10248" class="ax_default list_box">
        <div id="u10248_div" class=""></div>
        <select id="u10248_input" size="2" class="u10248_input">
          <option class="u10248_input_option" value="... Solusoln">... Solusoln</option>
          <option class="u10248_input_option" value="    ... Functions">&nbsp;&nbsp;&nbsp; ... Functions</option>
          <option class="u10248_input_option" value="    ... Solutions(1)">&nbsp;&nbsp;&nbsp; ... Solutions(1)</option>
          <option class="u10248_input_option" value="        ... LiqM(1-1)">&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; ... LiqM(1-1)</option>
          <option class="u10248_input_option" value="             ... SubLattices">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... SubLattices</option>
          <option class="u10248_input_option" value="                ... A(2)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... A(2)</option>
          <option class="u10248_input_option" value="                     ... Silver(B)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Silver(B)</option>
          <option class="u10248_input_option" value="                     ... Copper(A)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Copper(A)</option>
          <option class="u10248_input_option" value="             ... End Members(2)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... End Members(2)</option>
          <option class="u10248_input_option" value="             ... Mixables(0)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Mixables(0)</option>
          <option class="u10248_input_option" value="             ... Ternary Interpolations">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Ternary Interpolations</option>
          <option class="u10248_input_option" value="             ... Interactions  (1)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Interactions&nbsp; (1)</option>
          <option class="u10248_input_option" value="                ... (0)Silver; Copper">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (0)Silver; Copper</option>
          <option class="u10248_input_option" selected value="                ... (1)Silver; Copper">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... (1)Silver; Copper</option>
        </select>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
