<!DOCTYPE html>
<html>
<head>
    <title>solution1.2.1</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/solution1_2_1/styles.css') }}" type="text/css" rel="stylesheet"/>

    <script>
        document.oncontextmenu = function (event) {
            event = event || window.event;
            var targetElement = event.target || event.srcElement;
            if (!targetElement) return true;

            if (targetElement.tagName) {
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||
                    targetElement.tagName.toLowerCase() === "textarea") {
                    return true;
                }
            }
            return false;
        }
    </script>
    <script src
                    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/solution1_2_1/data.js') }}"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () {
            return 'resources/images/transparent.gif';
        };
        $axure.utils.getOtherPath = function () {
            return 'resources/Other.html';
        };
        $axure.utils.getReloadPath = function () {
            return 'resources/reload.html';
        };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- 内部框架 (Inline Frame) -->
    <div id="u8781" class="ax_default" data-label="内部框架">
        <iframe id="u8781_input" data-label="内部框架" allowfullscreen ></iframe>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u8782" class="ax_default box_1">
        <div id="u8782_div" class=""></div>
        <div id="u8782_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u8783" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u8784" class="ax_default box_1">
            <img id="u8784_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
            <div id="u8784_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u8785" class="ax_default box_1">
            <img id="u8785_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
            <div id="u8785_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u8786" class="ax_default" data-left="255" data-top="95" data-width="618" data-height="606"
         layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u8787" class="ax_default" data-left="255" data-top="95" data-width="618" data-height="606"
             layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u8788" class="ax_default box_1">
                <div id="u8788_div" class=""></div>
                <div id="u8788_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u8789" class="ax_default" data-left="0" data-top="0" data-width="873" data-height="750" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u8790" class="ax_default box_1">
            <div id="u8790_div" class=""></div>
            <div id="u8790_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u8791" class="ax_default box_1">
            <div id="u8791_div" class=""></div>
            <div id="u8791_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u8792" class="ax_default box_1">
            <div id="u8792_div" class=""></div>
            <div id="u8792_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u8793" class="ax_default text_field">
            <div id="u8793_div" class=""></div>
            <input id="u8793_input" type="text" value="FactSage" class="u8793_input" readonly/>
        </div>

        <!-- Unnamed (List Box) -->
        <div id="u8794" class="ax_default list_box">
            <div id="u8794_div" class=""></div>
            <select id="u8794_input" size="2" class="u8794_input">
                <option class="u8794_input_option" value="… SoulsIon">… SoulsIon</option>
                <option class="u8794_input_option" value="     … Functions">&nbsp;&nbsp; &nbsp; … Functions</option>
                <option class="u8794_input_option" value="            … Ag(1)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                    … Ag(1)
                </option>
                <option class="u8794_input_option" selected value="              … liquid(0)">&nbsp;&nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp;&nbsp; … liquid(0)
                </option>
                <option class="u8794_input_option" value="     … Soultions(0)">&nbsp;&nbsp; &nbsp; … Soultions(0)
                </option>
            </select>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u8795" class="ax_default text_field">
            <div id="u8795_div" class=""></div>
            <input id="u8795_input" type="text" value="Function Name" class="u8795_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u8796" class="ax_default text_field">
            <div id="u8796_div" class=""></div>
            <input id="u8796_input" type="text" value="Ag" class="u8796_input"/>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u8797" class="ax_default" data-left="63" data-top="15" data-width="399" data-height="32"
             layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u8798" class="ax_default _二级标题">
                <div id="u8798_div" class=""></div>
                <div id="u8798_text" class="text ">
                    <p><span>ViewData</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8799" class="ax_default _二级标题">
                <div id="u8799_div" class=""></div>
                <div id="u8799_text" class="text ">
                    <p><span>Units</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8800" class="ax_default _二级标题">
                <div id="u8800_div" class=""></div>
                <div id="u8800_text" class="text ">
                    <p><span>Tools</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8801" class="ax_default _二级标题">
                <div id="u8801_div" class=""></div>
                <div id="u8801_text" class="text ">
                    <p><span>Help</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8802" class="ax_default _三级标题">
                <div id="u8802_div" class=""></div>
                <div id="u8802_text" class="text ">
                    <p><span>File</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8803" class="ax_default _三级标题">
                <div id="u8803_div" class=""></div>
                <div id="u8803_text" class="text ">
                    <p><span>Edit</span></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u8804" class="ax_default _形状">
            <img id="u8804_img" class="img " src="{{ url_for('static', filename='images/solution2_2/u8577.svg') }}"/>
            <div id="u8804_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u8805" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">

            <!-- 2 (Group) -->
            <div id="u8806" class="ax_default ax_default_hidden" data-label="2" style="display:none; visibility: hidden"
                 data-left="83" data-top="33" data-width="219" data-height="52" layer-opacity="1">

                <!-- Unnamed (Rectangle) -->
                <div id="u8807" class="ax_default box_2 selected">
                    <img id="u8807_img" class="img "
                         src="{{ url_for('static', filename='images/compound_9_1/u7852.svg') }}"/>
                    <div id="u8807_text" class="text ">
                        <p><span>Copy</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u8808" class="ax_default box_2 selected">
                    <img id="u8808_img" class="img "
                         src="{{ url_for('static', filename='images/compound_9_1/u7852.svg') }}"/>
                    <div id="u8808_text" class="text ">
                        <p><span>Paste L1</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u8809" class="ax_default _形状">
        <img id="u8809_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1722.svg') }}"/>
        <div id="u8809_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u8810" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u8811" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="255"
             data-top="95" data-width="618" data-height="581" layer-opacity="1">

            <!-- 1 (Group) -->
            <div id="u8812" class="ax_default" data-label="1" data-left="255" data-top="95" data-width="618"
                 data-height="581" layer-opacity="1">

                <!-- Unnamed (Text Field) -->
                <div id="u8813" class="ax_default text_field">
                    <div id="u8813_div" class=""></div>
                    <input id="u8813_input" type="text" value="Function Name" class="u8813_input" readonly/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u8814" class="ax_default text_field">
                    <div id="u8814_div" class=""></div>
                    <input id="u8814_input" type="text" value="liquid" class="u8814_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u8815" class="ax_default text_field">
                    <div id="u8815_div" class=""></div>
                    <input id="u8815_input" type="text" value="Density(g/cc)" class="u8815_input" readonly/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u8816" class="ax_default text_field">
                    <div id="u8816_div" class=""></div>
                    <input id="u8816_input" type="text" value="10.1922" class="u8816_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u8817" class="ax_default text_field">
                    <div id="u8817_div" class=""></div>
                    <input id="u8817_input" type="text" value="11025.0897050652" class="u8817_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u8818" class="ax_default text_field">
                    <div id="u8818_div" class=""></div>
                    <input id="u8818_input" type="text" value="51.4410729655716" class="u8818_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u8819" class="ax_default text_field">
                    <div id="u8819_div" class=""></div>
                    <input id="u8819_input" type="text" value="501.509" class="u8819_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u8820" class="ax_default text_field">
                    <div id="u8820_div" class=""></div>
                    <input id="u8820_input" type="text" value="S298(J/(mol K)" class="u8820_input" readonly/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u8821" class="ax_default text_field">
                    <div id="u8821_div" class=""></div>
                    <input id="u8821_input" type="text" value="Refs(2 max.)" class="u8821_input" readonly/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u8822" class="ax_default text_field">
                    <div id="u8822_div" class=""></div>
                    <input id="u8822_input" type="text" value="298.15" class="u8822_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u8823" class="ax_default text_field">
                    <div id="u8823_div" class=""></div>
                    <input id="u8823_input" type="text" value="1234.93" class="u8823_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u8824" class="ax_default text_field">
                    <div id="u8824_div" class=""></div>
                    <input id="u8824_input" type="text"
                           value="23.8463314+0.00358117*T+24022/T^2+2.391522E-6*T^2+4.342401E-19*T^6"
                           class="u8824_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u8825" class="ax_default text_field">
                    <div id="u8825_div" class=""></div>
                    <input id="u8825_input" type="text" value="9.8E-5" class="u8825_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u8826" class="ax_default text_field">
                    <div id="u8826_div" class=""></div>
                    <input id="u8826_input" type="text" value="" class="u8826_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u8827" class="ax_default text_field">
                    <div id="u8827_div" class=""></div>
                    <input id="u8827_input" type="text" value="" class="u8827_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u8828" class="ax_default text_field">
                    <div id="u8828_div" class=""></div>
                    <input id="u8828_input" type="text" value="Next" class="u8828_input"/>
                </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8829" class="ax_default text_field">
                <div id="u8829_div" class=""></div>
                <input id="u8829_input" type="text" value="△H298(J/mol)" class="u8829_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8830" class="ax_default text_field">
                <div id="u8830_div" class=""></div>
                <input id="u8830_input" type="text" value="TMin(K)" class="u8830_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8831" class="ax_default text_field">
                <div id="u8831_div" class=""></div>
                <input id="u8831_input" type="text" value="TMax(K)" class="u8831_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8832" class="ax_default text_field">
                <div id="u8832_div" class=""></div>
                <input id="u8832_input" type="text" value="Cp(T) J/(mol k)" class="u8832_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8833" class="ax_default text_field">
                <div id="u8833_div" class=""></div>
                <input id="u8833_input" type="text" value="Thermal expansivity(/K)" class="u8833_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8834" class="ax_default text_field">
                <div id="u8834_div" class=""></div>
                <input id="u8834_input" type="text" value="Compressibility(/bar)" class="u8834_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u8835" class="ax_default text_field">
                <div id="u8835_div" class=""></div>
                <input id="u8835_input" type="text" value="Bulk modulus derivative" class="u8835_input"/>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u8836" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
</body>
</html>
