<!DOCTYPE html>
<html>
<head>
    <title>solution1.7</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/solution1_7/styles.css') }}" type="text/css" rel="stylesheet"/>

    <script>
        document.oncontextmenu = function (event) {
            event = event || window.event;
            var targetElement = event.target || event.srcElement;
            if (!targetElement) return true;

            if (targetElement.tagName) {
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||
                    targetElement.tagName.toLowerCase() === "textarea") {
                    return true;
                }
            }
            return false;
        }
    </script>
    <script src
                    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/solution1_7/data.js') }}"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () {
            return 'resources/images/transparent.gif';
        };
        $axure.utils.getOtherPath = function () {
            return 'resources/Other.html';
        };
        $axure.utils.getReloadPath = function () {
            return 'resources/reload.html';
        };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- 内部框架 (Inline Frame) -->
    <div id="u9078" class="ax_default" data-label="内部框架">
        <iframe id="u9078_input" data-label="内部框架" allowfullscreen ></iframe>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u9079" class="ax_default box_1">
        <div id="u9079_div" class=""></div>
        <div id="u9079_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u9080" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u9081" class="ax_default box_1">
            <img id="u9081_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
            <div id="u9081_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9082" class="ax_default box_1">
            <img id="u9082_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
            <div id="u9082_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u9083" class="ax_default" data-left="255" data-top="95" data-width="618" data-height="606"
         layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u9084" class="ax_default" data-left="255" data-top="95" data-width="618" data-height="606"
             layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u9085" class="ax_default box_1">
                <div id="u9085_div" class=""></div>
                <div id="u9085_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u9086" class="ax_default" data-left="0" data-top="0" data-width="873" data-height="750" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u9087" class="ax_default box_1">
            <div id="u9087_div" class=""></div>
            <div id="u9087_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9088" class="ax_default box_1">
            <div id="u9088_div" class=""></div>
            <div id="u9088_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9089" class="ax_default box_1">
            <div id="u9089_div" class=""></div>
            <div id="u9089_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9090" class="ax_default text_field">
            <div id="u9090_div" class=""></div>
            <input id="u9090_input" type="text" value="FactSage" class="u9090_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9091" class="ax_default text_field">
            <div id="u9091_div" class=""></div>
            <input id="u9091_input" type="text" value="Function Name" class="u9091_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9092" class="ax_default text_field">
            <div id="u9092_div" class=""></div>
            <input id="u9092_input" type="text" value="" class="u9092_input"/>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u9093" class="ax_default" data-left="63" data-top="15" data-width="399" data-height="32"
             layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u9094" class="ax_default _二级标题">
                <div id="u9094_div" class=""></div>
                <div id="u9094_text" class="text ">
                    <p><span>ViewData</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9095" class="ax_default _二级标题">
                <div id="u9095_div" class=""></div>
                <div id="u9095_text" class="text ">
                    <p><span>Units</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9096" class="ax_default _二级标题">
                <div id="u9096_div" class=""></div>
                <div id="u9096_text" class="text ">
                    <p><span>Tools</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9097" class="ax_default _二级标题">
                <div id="u9097_div" class=""></div>
                <div id="u9097_text" class="text ">
                    <p><span>Help</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9098" class="ax_default _三级标题">
                <div id="u9098_div" class=""></div>
                <div id="u9098_text" class="text ">
                    <p><span>File</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9099" class="ax_default _三级标题">
                <div id="u9099_div" class=""></div>
                <div id="u9099_text" class="text ">
                    <p><span>Edit</span></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9100" class="ax_default _形状">
            <img id="u9100_img" class="img " src="{{ url_for('static', filename='images/solution2_2/u8577.svg') }}"/>
            <div id="u9100_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u9101" class="ax_default _形状">
        <img id="u9101_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1722.svg') }}"/>
        <div id="u9101_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (List Box) -->
    <div id="u9102" class="ax_default list_box">
        <div id="u9102_div" class=""></div>
        <select id="u9102_input" size="2" class="u9102_input">
            <option class="u9102_input_option" value="... Solusoln">... Solusoln</option>
            <option class="u9102_input_option" value="    ... Functions">&nbsp;&nbsp;&nbsp; ... Functions</option>
            <option class="u9102_input_option" value="        ... Cu(1)">&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; ... Cu(1)
            </option>
            <option class="u9102_input_option" value="        ... Ag(1)">&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; ... Ag(1)
            </option>
            <option class="u9102_input_option" value="     ... Solutions(0)">&nbsp;&nbsp; &nbsp; ... Solutions(0)
            </option>
            <option class="u9102_input_option" value="        ... LiqM(1-1)">&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; ...
                LiqM(1-1)
            </option>
            <option class="u9102_input_option" value="             ... SubLattices">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; ... SubLattices
            </option>
            <option class="u9102_input_option" value="                 ... A(0)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; ... A(0)
            </option>
            <option class="u9102_input_option" value="             ... End Members(0)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; ... End Members(0)
            </option>
            <option class="u9102_input_option" value="             ... Mixables(0)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; ... Mixables(0)
            </option>
            <option class="u9102_input_option" value="             ... Ternary Interpolations">&nbsp;&nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; ... Ternary Interpolations
            </option>
            <option class="u9102_input_option" value="             ... Interactions  (0)">&nbsp;&nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; ... Interactions&nbsp; (0)
            </option>
        </select>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u9103" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">

        <!-- 2 (Group) -->
        <div id="u9104" class="ax_default ax_default_hidden" data-label="2" style="display:none; visibility: hidden"
             data-left="205" data-top="219" data-width="325" data-height="78" layer-opacity="1">

            <!-- Unnamed (Rectangle) -->
            <div id="u9105" class="ax_default box_2">
                <img id="u9105_img" class="img "
                     src="{{ url_for('static', filename='images/compound_4_2/u7077.svg') }}"/>
                <div id="u9105_text" class="text ">
                    <p><span
                            style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;">Add F</span><span
                            style="font-family:&quot;PingFangSC-Regular&quot;, &quot;PingFang SC&quot;, sans-serif;">unction</span>
                    </p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9106" class="ax_default box_2">
                <img id="u9106_img" class="img "
                     src="{{ url_for('static', filename='images/compound_4_2/u7077.svg') }}"/>
                <div id="u9106_text" class="text ">
                    <p><span>Add Solution</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9107" class="ax_default box_2">
                <img id="u9107_img" class="img "
                     src="{{ url_for('static', filename='images/compound_4_2/u7077.svg') }}"/>
                <div id="u9107_text" class="text ">
                    <p><span>Add Species</span></p>
                </div>
            </div>
        </div>

        <!-- 3 (Group) -->
        <div id="u9108" class="ax_default ax_default_hidden" data-label="3" style="display:none; visibility: hidden"
             data-left="530" data-top="271" data-width="48" data-height="104" layer-opacity="1">

            <!-- Unnamed (Group) -->
            <div id="u9109" class="ax_default" data-left="530" data-top="271" data-width="48" data-height="26"
                 layer-opacity="1">

                <!-- 3.1 (Rectangle) -->
                <div id="u9110" class="ax_default box_2" data-label="3.1">
                    <img id="u9110_img" class="img "
                         src="{{ url_for('static', filename='images/solution1_7/3_1_u9110.svg') }}"/>
                    <div id="u9110_text" class="text ">
                        <p><span>1</span></p>
                    </div>
                </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u9111" class="ax_default" data-left="530" data-top="297" data-width="48" data-height="26"
                 layer-opacity="1">

                <!-- Unnamed (Rectangle) -->
                <div id="u9112" class="ax_default box_2">
                    <img id="u9112_img" class="img "
                         src="{{ url_for('static', filename='images/solution1_7/3_1_u9110.svg') }}"/>
                    <div id="u9112_text" class="text ">
                        <p><span>2</span></p>
                    </div>
                </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u9113" class="ax_default" data-left="530" data-top="323" data-width="48" data-height="26"
                 layer-opacity="1">

                <!-- Unnamed (Rectangle) -->
                <div id="u9114" class="ax_default box_2">
                    <img id="u9114_img" class="img "
                         src="{{ url_for('static', filename='images/solution1_7/3_1_u9110.svg') }}"/>
                    <div id="u9114_text" class="text ">
                        <p><span>3</span></p>
                    </div>
                </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u9115" class="ax_default" data-left="530" data-top="349" data-width="48" data-height="26"
                 layer-opacity="1">

                <!-- Unnamed (Rectangle) -->
                <div id="u9116" class="ax_default box_2">
                    <img id="u9116_img" class="img "
                         src="{{ url_for('static', filename='images/solution1_7/3_1_u9110.svg') }}"/>
                    <div id="u9116_text" class="text ">
                        <p><span>4</span></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- 4 (Group) -->
        <div id="u9117" class="ax_default ax_default_hidden" data-label="4" style="display:none; visibility: hidden"
             data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u9118" class="ax_default box_1">
        <img id="u9118_img" class="img " src="{{ url_for('static', filename='images/solution1_7/u9118.svg') }}"/>
        <div id="u9118_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
</body>
</html>
