<!DOCTYPE html>
<html>
  <head>
    <title>solution1.2</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/solution1_2/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/solution1_2/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- 内部框架 (Inline Frame) -->
      <div id="u9473" class="ax_default" data-label="内部框架">
        <iframe id="u9473_input" data-label="内部框架" src="http://127.0.0.1:5000/u9473_input"></iframe>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u9474" class="ax_default box_1">
        <div id="u9474_div" class=""></div>
        <div id="u9474_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9475" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u9476" class="ax_default box_1">
          <img id="u9476_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
          <div id="u9476_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9477" class="ax_default box_1">
          <img id="u9477_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
          <div id="u9477_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9478" class="ax_default" data-left="255" data-top="95" data-width="618" data-height="606" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u9479" class="ax_default box_1">
          <div id="u9479_div" class=""></div>
          <div id="u9479_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9480" class="ax_default" data-left="0" data-top="0" data-width="873" data-height="750" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u9481" class="ax_default box_1">
          <div id="u9481_div" class=""></div>
          <div id="u9481_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9482" class="ax_default box_1">
          <div id="u9482_div" class=""></div>
          <div id="u9482_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9483" class="ax_default box_1">
          <div id="u9483_div" class=""></div>
          <div id="u9483_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9484" class="ax_default text_field">
          <div id="u9484_div" class=""></div>
          <input id="u9484_input" type="text" value="FactSage" class="u9484_input" readonly/>
        </div>

        <!-- Unnamed (List Box) -->
        <div id="u9485" class="ax_default list_box">
          <div id="u9485_div" class=""></div>
          <select id="u9485_input" size="2" class="u9485_input">
            <option class="u9485_input_option" value="…r    FSupsiBASE">…r&nbsp; &nbsp; FSupsiBASE</option>
            <option class="u9485_input_option" value="…r    FThallBASE">…r&nbsp; &nbsp; FThallBASE</option>
            <option class="u9485_input_option" value="…r    FThelgBASE">…r&nbsp; &nbsp; FThelgBASE</option>
            <option class="u9485_input_option" value="…r/w   FTliBASE">…r/w&nbsp;&nbsp; FTliBASE</option>
            <option class="u9485_input_option" value="…r    FTliteBASE">…r&nbsp; &nbsp; FTliteBASE</option>
            <option class="u9485_input_option" value="     …       Ag">&nbsp;&nbsp; &nbsp; …&nbsp; &nbsp; &nbsp;&nbsp; Ag</option>
            <option class="u9485_input_option" value="           …      S1">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; …&nbsp; &nbsp; &nbsp; S1</option>
            <option class="u9485_input_option" value="           …      S2">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; …&nbsp; &nbsp; &nbsp; S2</option>
            <option class="u9485_input_option" value="           …      S3">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; …&nbsp; &nbsp; &nbsp; S3</option>
            <option class="u9485_input_option" value="           …      S4">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; …&nbsp; &nbsp; &nbsp; S4</option>
            <option class="u9485_input_option" value="           …      S5">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; …&nbsp; &nbsp; &nbsp; S5</option>
            <option class="u9485_input_option" value="           …      L1">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; …&nbsp; &nbsp; &nbsp; L1</option>
            <option class="u9485_input_option" value="               …  Cp 1235">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; …&nbsp; Cp 1235</option>
            <option class="u9485_input_option" value="               …  Cp 000">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; …&nbsp; Cp 000</option>
            <option class="u9485_input_option" value="…r    FTlmiscBASE">…r&nbsp; &nbsp; FTlmiscBASE</option>
            <option class="u9485_input_option" value="…r    FToxidBASE">…r&nbsp; &nbsp; FToxidBASE</option>
            <option class="u9485_input_option" value="…r    FTpulpBASE">…r&nbsp; &nbsp; FTpulpBASE</option>
            <option class="u9485_input_option" value="…r    FTsaltBASE">…r&nbsp; &nbsp; FTsaltBASE</option>
            <option class="u9485_input_option" value="…r/w   HGOKBASE">…r/w&nbsp;&nbsp; HGOKBASE</option>
            <option class="u9485_input_option" value="…r/w   LINDBASE">…r/w&nbsp;&nbsp; LINDBASE</option>
          </select>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9486" class="ax_default text_field">
          <div id="u9486_div" class=""></div>
          <input id="u9486_input" type="text" value="Function Name" class="u9486_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9487" class="ax_default text_field">
          <div id="u9487_div" class=""></div>
          <input id="u9487_input" type="text" value="Ag" class="u9487_input"/>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u9488" class="ax_default" data-left="63" data-top="15" data-width="399" data-height="32" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u9489" class="ax_default _二级标题">
            <div id="u9489_div" class=""></div>
            <div id="u9489_text" class="text ">
              <p><span>ViewData</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9490" class="ax_default _二级标题">
            <div id="u9490_div" class=""></div>
            <div id="u9490_text" class="text ">
              <p><span>Units</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9491" class="ax_default _二级标题">
            <div id="u9491_div" class=""></div>
            <div id="u9491_text" class="text ">
              <p><span>Tools</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9492" class="ax_default _二级标题">
            <div id="u9492_div" class=""></div>
            <div id="u9492_text" class="text ">
              <p><span>Help</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9493" class="ax_default _三级标题">
            <div id="u9493_div" class=""></div>
            <div id="u9493_text" class="text ">
              <p><span>File</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9494" class="ax_default _三级标题">
            <div id="u9494_div" class=""></div>
            <div id="u9494_text" class="text ">
              <p><span>Edit</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9495" class="ax_default _形状">
          <img id="u9495_img" class="img " src="{{ url_for('static', filename='images/solution2_2/u9358.svg') }}"/>
          <div id="u9495_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- 2 (Group) -->
        <div id="u9496" class="ax_default ax_default_hidden" data-label="2" style="display:none; visibility: hidden" data-left="55" data-top="41" data-width="200" data-height="182" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u9497" class="ax_default box_2">
            <img id="u9497_img" class="img " src="{{ url_for('static', filename='images/solution1_2/u9497.svg') }}"/>
            <div id="u9497_text" class="text ">
              <p><span>Add</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9498" class="ax_default box_2">
            <img id="u9498_img" class="img " src="{{ url_for('static', filename='images/solution1_2/u9497.svg') }}"/>
            <div id="u9498_text" class="text ">
              <p><span>Remove from list</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9499" class="ax_default box_2">
            <img id="u9499_img" class="img " src="{{ url_for('static', filename='images/solution1_2/u9497.svg') }}"/>
            <div id="u9499_text" class="text ">
              <p><span>Clear list Mixture</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9500" class="ax_default box_2">
            <img id="u9500_img" class="img " src="{{ url_for('static', filename='images/solution1_2/u9497.svg') }}"/>
            <div id="u9500_text" class="text ">
              <p><span>Erase from EXAMBASE</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9501" class="ax_default box_2">
            <img id="u9501_img" class="img " src="{{ url_for('static', filename='images/solution1_2/u9497.svg') }}"/>
            <div id="u9501_text" class="text ">
              <p><span>Save to EXAMBASE</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9502" class="ax_default box_2">
            <img id="u9502_img" class="img " src="{{ url_for('static', filename='images/solution1_2/u9497.svg') }}"/>
            <div id="u9502_text" class="text ">
              <p><span>Copy</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9503" class="ax_default box_2">
            <img id="u9503_img" class="img " src="{{ url_for('static', filename='images/solution1_2/u9497.svg') }}"/>
            <div id="u9503_text" class="text ">
              <p><span>Paste </span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u9504" class="ax_default _形状">
        <img id="u9504_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1722.svg') }}"/>
        <div id="u9504_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9505" class="ax_default" data-left="263" data-top="121" data-width="584" data-height="257" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u9506" class="ax_default" data-left="279" data-top="162" data-width="563" data-height="15" layer-opacity="1">

          <!-- Unnamed (Radio Button) -->
          <div id="u9507" class="ax_default radio_button">
            <label id="u9507_input_label" for="u9507_input" style="position: absolute; left: 0px;">
              <img id="u9507_img" class="img " src="{{ url_for('static', filename='images/solution1_2/u9507.svg') }}"/>
              <div id="u9507_text" class="text ">
                <p><span>Heat + Temperature of transf.</span></p>
              </div>
            </label>
            <input id="u9507_input" type="radio" value="radio" name="u9507"/>
          </div>

          <!-- Unnamed (Radio Button) -->
          <div id="u9508" class="ax_default radio_button" selectiongroup="energy">
            <label id="u9508_input_label" for="u9508_input" style="position: absolute; left: 0px;">
              <img id="u9508_img" class="img " src="{{ url_for('static', filename='images/solution1_2/u9508.svg') }}"/>
              <div id="u9508_text" class="text ">
                <p><span>Heat of from. + Entropy</span></p>
              </div>
            </label>
            <input id="u9508_input" type="radio" value="radio" name="energy"/>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u9509" class="ax_default" data-left="274" data-top="202" data-width="508" data-height="91" layer-opacity="1">

          <!-- Unnamed (Text Field) -->
          <div id="u9510" class="ax_default text_field">
            <div id="u9510_div" class=""></div>
            <input id="u9510_input" type="text" value="△H 298(Joules)" class="u9510_input"/>
          </div>

          <!-- Unnamed (Vertical Line) -->
          <div id="u9511" class="ax_default line">
            <img id="u9511_img" class="img " src="{{ url_for('static', filename='images/solution1_2/u9511.svg') }}"/>
            <div id="u9511_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Line) -->
          <div id="u9512" class="ax_default line">
            <img id="u9512_img" class="img " src="{{ url_for('static', filename='images/solution1_2/u9512.svg') }}"/>
            <div id="u9512_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Line) -->
          <div id="u9513" class="ax_default line">
            <img id="u9513_img" class="img " src="{{ url_for('static', filename='images/solution1_2/u9512.svg') }}"/>
            <div id="u9513_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Vertical Line) -->
          <div id="u9514" class="ax_default line">
            <img id="u9514_img" class="img " src="{{ url_for('static', filename='images/solution1_2/u9514.svg') }}"/>
            <div id="u9514_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9515" class="ax_default text_field">
          <div id="u9515_div" class=""></div>
          <input id="u9515_input" type="text" value="S298(J/(mol K))" class="u9515_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9516" class="ax_default text_field">
          <div id="u9516_div" class=""></div>
          <input id="u9516_input" type="text" value="" class="u9516_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9517" class="ax_default text_field">
          <div id="u9517_div" class=""></div>
          <input id="u9517_input" type="text" value="" class="u9517_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9518" class="ax_default text_field">
          <div id="u9518_div" class=""></div>
          <input id="u9518_input" type="text" value="Form. of L1" class="u9518_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9519" class="ax_default text_field">
          <div id="u9519_div" class=""></div>
          <input id="u9519_input" type="text" value="Phase Name" class="u9519_input" readonly/>
        </div>

        <!-- Unnamed (Line) -->
        <div id="u9520" class="ax_default line">
          <img id="u9520_img" class="img " src="{{ url_for('static', filename='images/solution1_2/u9520.svg') }}"/>
          <div id="u9520_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9521" class="ax_default text_field">
          <div id="u9521_div" class=""></div>
          <input id="u9521_input" type="text" value="L1 properties" class="u9521_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9522" class="ax_default text_field">
          <div id="u9522_div" class=""></div>
          <input id="u9522_input" type="text" value="" class="u9522_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9523" class="ax_default text_field">
          <div id="u9523_div" class=""></div>
          <input id="u9523_input" type="text" value="Reference no." class="u9523_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9524" class="ax_default text_field">
          <div id="u9524_div" class=""></div>
          <input id="u9524_input" type="text" value="Density g/cc" class="u9524_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9525" class="ax_default text_field">
          <div id="u9525_div" class=""></div>
          <input id="u9525_input" type="text" value="" class="u9525_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9526" class="ax_default text_field">
          <div id="u9526_div" class=""></div>
          <input id="u9526_input" type="text" value="" class="u9526_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9527" class="ax_default text_field">
          <div id="u9527_div" class=""></div>
          <input id="u9527_input" type="text" value="" class="u9527_input"/>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9528" class="ax_default" data-left="274" data-top="398" data-width="573" data-height="280" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u9529" class="ax_default" data-left="274" data-top="409" data-width="573" data-height="269" layer-opacity="1">

          <!-- Unnamed (Vertical Line) -->
          <div id="u9530" class="ax_default line">
            <img id="u9530_img" class="img " src="{{ url_for('static', filename='images/solution1_2/u9530.svg') }}"/>
            <div id="u9530_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Line) -->
          <div id="u9531" class="ax_default line">
            <img id="u9531_img" class="img " src="{{ url_for('static', filename='images/solution1_2/u9531.svg') }}"/>
            <div id="u9531_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Line) -->
          <div id="u9532" class="ax_default line">
            <img id="u9532_img" class="img " src="{{ url_for('static', filename='images/solution1_2/u9531.svg') }}"/>
            <div id="u9532_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Vertical Line) -->
          <div id="u9533" class="ax_default line">
            <img id="u9533_img" class="img " src="{{ url_for('static', filename='images/solution1_2/u9533.svg') }}"/>
            <div id="u9533_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9534" class="ax_default text_field">
          <div id="u9534_div" class=""></div>
          <input id="u9534_input" type="text" value="Extened properties(optional)" class="u9534_input"/>
        </div>

        <!-- Unnamed (Droplist) -->
        <div id="u9535" class="ax_default droplist">
          <div id="u9535_div" class=""></div>
          <select id="u9535_input" class="u9535_input">
            <option class="u9535_input_option" value="Birch-Murnaghan">Birch-Murnaghan</option>
          </select>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u9536" class="ax_default" data-left="281" data-top="452" data-width="168" data-height="131" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u9537" class="ax_default box_1">
            <div id="u9537_div" class=""></div>
            <div id="u9537_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9538" class="ax_default text_field">
            <div id="u9538_div" class=""></div>
            <input id="u9538_input" type="text" value="Therm.expans. (/K)" class="u9538_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9539" class="ax_default text_field">
            <div id="u9539_div" class=""></div>
            <input id="u9539_input" type="text" value="" class="u9539_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9540" class="ax_default text_field">
            <div id="u9540_div" class=""></div>
            <input id="u9540_input" type="text" value="" class="u9540_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9541" class="ax_default text_field">
            <div id="u9541_div" class=""></div>
            <input id="u9541_input" type="text" value="" class="u9541_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9542" class="ax_default text_field">
            <div id="u9542_div" class=""></div>
            <input id="u9542_input" type="text" value="" class="u9542_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9543" class="ax_default text_field">
            <div id="u9543_div" class=""></div>
            <input id="u9543_input" type="text" value="T" class="u9543_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9544" class="ax_default text_field">
            <div id="u9544_div" class=""></div>
            <input id="u9544_input" type="text" value="/T" class="u9544_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9545" class="ax_default text_field">
            <div id="u9545_div" class=""></div>
            <input id="u9545_input" type="text" value="/T^2" class="u9545_input" readonly/>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u9546" class="ax_default" data-left="449" data-top="452" data-width="185" data-height="131" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u9547" class="ax_default box_1">
            <div id="u9547_div" class=""></div>
            <div id="u9547_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9548" class="ax_default text_field">
            <div id="u9548_div" class=""></div>
            <input id="u9548_input" type="text" value="Compressibilitry(/bar)" class="u9548_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9549" class="ax_default text_field">
            <div id="u9549_div" class=""></div>
            <input id="u9549_input" type="text" value="" class="u9549_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9550" class="ax_default text_field">
            <div id="u9550_div" class=""></div>
            <input id="u9550_input" type="text" value="" class="u9550_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9551" class="ax_default text_field">
            <div id="u9551_div" class=""></div>
            <input id="u9551_input" type="text" value="" class="u9551_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9552" class="ax_default text_field">
            <div id="u9552_div" class=""></div>
            <input id="u9552_input" type="text" value="" class="u9552_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9553" class="ax_default text_field">
            <div id="u9553_div" class=""></div>
            <input id="u9553_input" type="text" value="T" class="u9553_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9554" class="ax_default text_field">
            <div id="u9554_div" class=""></div>
            <input id="u9554_input" type="text" value="T^2" class="u9554_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9555" class="ax_default text_field">
            <div id="u9555_div" class=""></div>
            <input id="u9555_input" type="text" value="T^3" class="u9555_input" readonly/>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u9556" class="ax_default" data-left="634" data-top="452" data-width="210" data-height="87" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u9557" class="ax_default box_1">
            <div id="u9557_div" class=""></div>
            <div id="u9557_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9558" class="ax_default text_field">
            <div id="u9558_div" class=""></div>
            <input id="u9558_input" type="text" value="Bulk mod. deriv." class="u9558_input" readonly/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9559" class="ax_default text_field">
            <div id="u9559_div" class=""></div>
            <input id="u9559_input" type="text" value="" class="u9559_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9560" class="ax_default text_field">
            <div id="u9560_div" class=""></div>
            <input id="u9560_input" type="text" value="" class="u9560_input"/>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u9561" class="ax_default text_field">
            <div id="u9561_div" class=""></div>
            <input id="u9561_input" type="text" value="(T-T0)In(T/T0)" class="u9561_input" readonly/>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
