<!DOCTYPE html>
<html>
  <head>
    <title>solution1.5</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/solution1_5_1/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/solution1_5_1/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- 内部框架 (Inline Frame) -->
      <div id="u9768" class="ax_default" data-label="内部框架">
        <iframe id="u9768_input" data-label="内部框架" src="http://127.0.0.1:5000/u9768_input"></iframe>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u9769" class="ax_default box_1">
        <div id="u9769_div" class=""></div>
        <div id="u9769_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9770" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u9771" class="ax_default box_1">
          <img id="u9771_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
          <div id="u9771_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9772" class="ax_default box_1">
          <img id="u9772_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
          <div id="u9772_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9773" class="ax_default" data-left="255" data-top="95" data-width="618" data-height="606" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u9774" class="ax_default" data-left="255" data-top="95" data-width="618" data-height="606" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u9775" class="ax_default box_1">
            <div id="u9775_div" class=""></div>
            <div id="u9775_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u9776" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="307" data-top="197" data-width="491" data-height="251" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u9777" class="ax_default box_1">
            <div id="u9777_div" class=""></div>
            <div id="u9777_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9778" class="ax_default box_1">
            <div id="u9778_div" class=""></div>
            <div id="u9778_text" class="text ">
              <p><span>Model Selection</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9779" class="ax_default box_1">
            <div id="u9779_div" class=""></div>
            <div id="u9779_text" class="text ">
              <p><span>Solution Name</span></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u9780" class="ax_default box_1">
            <img id="u9780_img" class="img " src="{{ url_for('static', filename='images/solution1_5_1/u9780.svg') }}"/>
            <div id="u9780_text" class="text ">
              <p><span>&nbsp;LiqM</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9781" class="ax_default box_1">
            <div id="u9781_div" class=""></div>
            <div id="u9781_text" class="text ">
              <p><span>State</span></p>
            </div>
          </div>

          <!-- Unnamed (Droplist) -->
          <div id="u9782" class="ax_default droplist">
            <div id="u9782_div" class=""></div>
            <select id="u9782_input" class="u9782_input">
              <option class="u9782_input_option" value="Liquid">Liquid</option>
              <option class="u9782_input_option" value="Solid">Solid</option>
              <option class="u9782_input_option" value="Gaseous">Gaseous</option>
            </select>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9783" class="ax_default box_1">
            <div id="u9783_div" class=""></div>
            <div id="u9783_text" class="text ">
              <p><span>Model</span></p>
            </div>
          </div>

          <!-- Unnamed (Droplist) -->
          <div id="u9784" class="ax_default droplist">
            <div id="u9784_div" class=""></div>
            <select id="u9784_input" class="u9784_input">
              <option class="u9784_input_option" value="One-lattice polynomial">One-lattice polynomial</option>
              <option class="u9784_input_option" value="One-lattice Redlich-Kister Muggianu Only">One-lattice Redlich-Kister Muggianu Only</option>
            </select>
          </div>

          <!-- Unnamed (Checkbox) -->
          <div id="u9785" class="ax_default checkbox">
            <label id="u9785_input_label" for="u9785_input" style="position: absolute; left: 0px;">
              <img id="u9785_img" class="img " src="{{ url_for('static', filename='images/solution1_5_1/u9785.svg') }}"/>
              <div id="u9785_text" class="text ">
                <p><span>Magnetic</span></p>
              </div>
            </label>
            <input id="u9785_input" type="checkbox" value="checkbox"/>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u9786" class="ax_default box_1">
            <img id="u9786_img" class="img " src="{{ url_for('static', filename='images/solution1_5_1/u9786.svg') }}"/>
            <div id="u9786_text" class="text ">
              <p><span>OK</span></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u9787" class="ax_default box_1">
            <img id="u9787_img" class="img " src="{{ url_for('static', filename='images/solution1_5_1/u9786.svg') }}"/>
            <div id="u9787_text" class="text ">
              <p><span>Cancel</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9788" class="ax_default" data-left="0" data-top="0" data-width="873" data-height="750" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u9789" class="ax_default box_1">
          <div id="u9789_div" class=""></div>
          <div id="u9789_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9790" class="ax_default box_1">
          <div id="u9790_div" class=""></div>
          <div id="u9790_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9791" class="ax_default box_1">
          <div id="u9791_div" class=""></div>
          <div id="u9791_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9792" class="ax_default text_field">
          <div id="u9792_div" class=""></div>
          <input id="u9792_input" type="text" value="FactSage" class="u9792_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9793" class="ax_default text_field">
          <div id="u9793_div" class=""></div>
          <input id="u9793_input" type="text" value="Function Name" class="u9793_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9794" class="ax_default text_field">
          <div id="u9794_div" class=""></div>
          <input id="u9794_input" type="text" value="Ag" class="u9794_input"/>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u9795" class="ax_default" data-left="63" data-top="15" data-width="399" data-height="32" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u9796" class="ax_default _二级标题">
            <div id="u9796_div" class=""></div>
            <div id="u9796_text" class="text ">
              <p><span>ViewData</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9797" class="ax_default _二级标题">
            <div id="u9797_div" class=""></div>
            <div id="u9797_text" class="text ">
              <p><span>Units</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9798" class="ax_default _二级标题">
            <div id="u9798_div" class=""></div>
            <div id="u9798_text" class="text ">
              <p><span>Tools</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9799" class="ax_default _二级标题">
            <div id="u9799_div" class=""></div>
            <div id="u9799_text" class="text ">
              <p><span>Help</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9800" class="ax_default _三级标题">
            <div id="u9800_div" class=""></div>
            <div id="u9800_text" class="text ">
              <p><span>File</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9801" class="ax_default _三级标题">
            <div id="u9801_div" class=""></div>
            <div id="u9801_text" class="text ">
              <p><span>Edit</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9802" class="ax_default _形状">
          <img id="u9802_img" class="img " src="{{ url_for('static', filename='images/solution2_2/u9358.svg') }}"/>
          <div id="u9802_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u9803" class="ax_default _形状">
        <img id="u9803_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1722.svg') }}"/>
        <div id="u9803_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (List Box) -->
      <div id="u9804" class="ax_default list_box">
        <div id="u9804_div" class=""></div>
        <select id="u9804_input" size="2" class="u9804_input">
          <option class="u9804_input_option" value="... Solusoln">... Solusoln</option>
          <option class="u9804_input_option" value="     ... Functions">&nbsp;&nbsp; &nbsp; ... Functions</option>
          <option class="u9804_input_option" value="            ... Cu(1)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... Cu(1)</option>
          <option class="u9804_input_option" value="            ... Ag(1)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... Ag(1)</option>
          <option class="u9804_input_option" value="     ... Solutions(0)">&nbsp;&nbsp; &nbsp; ... Solutions(0)</option>
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u9805" class="ax_default box_1">
        <img id="u9805_img" class="img " src="{{ url_for('static', filename='images/solution1_5_1/u9805.svg') }}"/>
        <div id="u9805_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9806" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">

        <!-- 1 (Group) -->
        <div id="u9807" class="ax_default ax_default_hidden" data-label="1" style="display:none; visibility: hidden" data-left="131" data-top="111" data-width="146" data-height="52" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u9808" class="ax_default box_2">
            <img id="u9808_img" class="img " src="{{ url_for('static', filename='images/compound__solid_/u7175.svg') }}"/>
            <div id="u9808_text" class="text ">
              <p><span>Add Function</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9809" class="ax_default box_2">
            <img id="u9809_img" class="img " src="{{ url_for('static', filename='images/compound__solid_/u7175.svg') }}"/>
            <div id="u9809_text" class="text ">
              <p><span>Add Solution</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
