<!DOCTYPE html>
<html>
  <head>
    <title>solution1.9</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/solution1_9/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/solution1_9/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- 内部框架 (Inline Frame) -->
      <div id="u9158" class="ax_default" data-label="内部框架">
        <iframe id="u9158_input" data-label="内部框架" src="http://127.0.0.1:5000/u9158_input"></iframe>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u9159" class="ax_default box_1">
        <div id="u9159_div" class=""></div>
        <div id="u9159_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9160" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u9161" class="ax_default box_1">
          <img id="u9161_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
          <div id="u9161_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9162" class="ax_default box_1">
          <img id="u9162_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
          <div id="u9162_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9163" class="ax_default" data-left="255" data-top="95" data-width="618" data-height="606" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u9164" class="ax_default" data-left="255" data-top="95" data-width="618" data-height="606" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u9165" class="ax_default box_1">
            <div id="u9165_div" class=""></div>
            <div id="u9165_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9166" class="ax_default" data-left="0" data-top="0" data-width="873" data-height="750" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u9167" class="ax_default box_1">
          <div id="u9167_div" class=""></div>
          <div id="u9167_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9168" class="ax_default box_1">
          <div id="u9168_div" class=""></div>
          <div id="u9168_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9169" class="ax_default box_1">
          <div id="u9169_div" class=""></div>
          <div id="u9169_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9170" class="ax_default text_field">
          <div id="u9170_div" class=""></div>
          <input id="u9170_input" type="text" value="FactSage" class="u9170_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9171" class="ax_default text_field">
          <div id="u9171_div" class=""></div>
          <input id="u9171_input" type="text" value="Function Name" class="u9171_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9172" class="ax_default text_field">
          <div id="u9172_div" class=""></div>
          <input id="u9172_input" type="text" value="" class="u9172_input"/>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u9173" class="ax_default" data-left="63" data-top="15" data-width="399" data-height="32" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u9174" class="ax_default _二级标题">
            <div id="u9174_div" class=""></div>
            <div id="u9174_text" class="text ">
              <p><span>ViewData</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9175" class="ax_default _二级标题">
            <div id="u9175_div" class=""></div>
            <div id="u9175_text" class="text ">
              <p><span>Units</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9176" class="ax_default _二级标题">
            <div id="u9176_div" class=""></div>
            <div id="u9176_text" class="text ">
              <p><span>Tools</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9177" class="ax_default _二级标题">
            <div id="u9177_div" class=""></div>
            <div id="u9177_text" class="text ">
              <p><span>Help</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9178" class="ax_default _三级标题">
            <div id="u9178_div" class=""></div>
            <div id="u9178_text" class="text ">
              <p><span>File</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u9179" class="ax_default _三级标题">
            <div id="u9179_div" class=""></div>
            <div id="u9179_text" class="text ">
              <p><span>Edit</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9180" class="ax_default _形状">
          <img id="u9180_img" class="img " src="{{ url_for('static', filename='images/solution2_2/u8577.svg') }}"/>
          <div id="u9180_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u9181" class="ax_default _形状">
        <img id="u9181_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1722.svg') }}"/>
        <div id="u9181_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9182" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="255" data-top="95" data-width="618" data-height="606" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u9183" class="ax_default box_1">
          <div id="u9183_div" class=""></div>
          <div id="u9183_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9184" class="ax_default text_field">
          <div id="u9184_div" class=""></div>
          <input id="u9184_input" type="text" value="Copper" class="u9184_input"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9185" class="ax_default text_field">
          <div id="u9185_div" class=""></div>
          <input id="u9185_input" type="text" value="Formula(optional)" class="u9185_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9186" class="ax_default text_field">
          <div id="u9186_div" class=""></div>
          <input id="u9186_input" type="text" value="Cu" class="u9186_input"/>
        </div>

        <!-- Unnamed (Line) -->
        <div id="u9187" class="ax_default line">
          <img id="u9187_img" class="img " src="{{ url_for('static', filename='images/solution1_9/u9187.svg') }}"/>
          <div id="u9187_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9188" class="ax_default text_field">
          <div id="u9188_div" class=""></div>
          <input id="u9188_input" type="text" value="Solution Name" class="u9188_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9189" class="ax_default text_field">
          <div id="u9189_div" class=""></div>
          <input id="u9189_input" type="text" value="Chem. Group" class="u9189_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9190" class="ax_default text_field">
          <div id="u9190_div" class=""></div>
          <input id="u9190_input" type="text" value="1" class="u9190_input"/>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9191" class="ax_default _形状">
          <img id="u9191_img" class="img " src="{{ url_for('static', filename='images/solution1_8/u9155.svg') }}"/>
          <div id="u9191_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u9192" class="ax_default _形状">
          <img id="u9192_img" class="img " src="{{ url_for('static', filename='images/solution1_8/u9156.svg') }}"/>
          <div id="u9192_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u9193" class="ax_default text_field">
          <div id="u9193_div" class=""></div>
          <input id="u9193_input" type="text" value="OK" class="u9193_input" readonly/>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u9194" class="ax_default box_1">
        <img id="u9194_img" class="img " src="{{ url_for('static', filename='images/solution1_8/u9145.svg') }}"/>
        <div id="u9194_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (List Box) -->
      <div id="u9195" class="ax_default list_box">
        <div id="u9195_div" class=""></div>
        <select id="u9195_input" size="2" class="u9195_input">
          <option class="u9195_input_option" value="... Solusoln">... Solusoln</option>
          <option class="u9195_input_option" value="    ... Functions">&nbsp;&nbsp;&nbsp; ... Functions</option>
          <option class="u9195_input_option" value="        ... Cu(1)">&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; ... Cu(1)</option>
          <option class="u9195_input_option" value="        ... Ag(1)">&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; ... Ag(1)</option>
          <option class="u9195_input_option" value="     ... Solutions(0)">&nbsp;&nbsp; &nbsp; ... Solutions(0)</option>
          <option class="u9195_input_option" value="        ... LiqM(1-1)">&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; ... LiqM(1-1)</option>
          <option class="u9195_input_option" value="             ... SubLattices">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... SubLattices</option>
          <option class="u9195_input_option" value="                ... A(2)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ... A(2)</option>
          <option class="u9195_input_option" value="                     ... Silver(A)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Silver(A)</option>
          <option class="u9195_input_option" selected value="                     ... Copper">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Copper</option>
          <option class="u9195_input_option" value="             ... End Members(0)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... End Members(0)</option>
          <option class="u9195_input_option" value="             ... Mixables(0)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Mixables(0)</option>
          <option class="u9195_input_option" value="             ... Ternary Interpolations">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Ternary Interpolations</option>
          <option class="u9195_input_option" value="             ... Interactions  (0)">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ... Interactions&nbsp; (0)</option>
        </select>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
