<!DOCTYPE html>
<html>
<head>
    <title>Units</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/units/styles.css') }}" type="text/css" rel="stylesheet"/>

    <script>
        document.oncontextmenu = function (event) {
            event = event || window.event;
            var targetElement = event.target || event.srcElement;
            if (!targetElement) return true;

            if (targetElement.tagName) {
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||
                    targetElement.tagName.toLowerCase() === "textarea") {
                    return true;
                }
            }
            return false;
        }
    </script>
    <script src
                    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/units/data.js') }}"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () {
            return 'resources/images/transparent.gif';
        };
        $axure.utils.getOtherPath = function () {
            return 'resources/Other.html';
        };
        $axure.utils.getReloadPath = function () {
            return 'resources/reload.html';
        };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- Unnamed (Rectangle) -->
    <div id="u19750" class="ax_default box_1">
        <div id="u19750_div" class=""></div>
        <div id="u19750_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- 背景 (Dynamic Panel) -->
    <div id="u19751" class="ax_default" data-label="背景">
        <div id="u19751_state0" class="panel_state" data-label="1" style="">
            <div id="u19751_state0_content" class="panel_state_content">
            </div>
        </div>
        <div id="u19751_state1" class="panel_state" data-label="2" style="visibility: hidden;">
            <div id="u19751_state1_content" class="panel_state_content">
            </div>
        </div>
        <div id="u19751_state2" class="panel_state" data-label="3" style="visibility: hidden;">
            <div id="u19751_state2_content" class="panel_state_content">
            </div>
        </div>
        <div id="u19751_state3" class="panel_state" data-label="4" style="visibility: hidden;">
            <div id="u19751_state3_content" class="panel_state_content">
            </div>
        </div>
        <div id="u19751_state4" class="panel_state" data-label="5" style="visibility: hidden;">
            <div id="u19751_state4_content" class="panel_state_content">
            </div>
        </div>
        <div id="u19751_state5" class="panel_state" data-label="6" style="visibility: hidden;">
            <div id="u19751_state5_content" class="panel_state_content">
            </div>
        </div>
        <div id="u19751_state6" class="panel_state" data-label="7" style="visibility: hidden;">
            <div id="u19751_state6_content" class="panel_state_content">
            </div>
        </div>
        <div id="u19751_state7" class="panel_state" data-label="8" style="visibility: hidden;">
            <div id="u19751_state7_content" class="panel_state_content">
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u19752" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u19753" class="ax_default box_1">
            <img id="u19753_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
            <div id="u19753_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u19754" class="ax_default box_1">
            <img id="u19754_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
            <div id="u19754_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u19755" class="ax_default box_1 selected">
        <div id="u19755_div" class="selected"></div>
        <div id="u19755_text" class="text ">
            <p><span>Reactants - Units</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u19756" class="ax_default box_1">
        <div id="u19756_div" class=""></div>
        <div id="u19756_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Bracket) -->
    <div id="u19757" class="ax_default _流程图形状">
        <img id="u19757_img" class="img " src="{{ url_for('static', filename='images/单位/u778.svg') }}"/>
        <div id="u19757_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u19758" class="ax_default" data-left="164" data-top="115" data-width="199" data-height="98"
         layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u19759" class="ax_default box_1">
            <img id="u19759_img" class="img " src="{{ url_for('static', filename='images/反应物/u3044.svg') }}"/>
            <div id="u19759_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u19760" class="ax_default checkbox">
            <label id="u19760_input_label" for="u19760_input" style="position: absolute; left: 0px;">
                <img id="u19760_img" class="img " src="{{ url_for('static', filename='images/units/u19760.svg') }}"/>
                <div id="u19760_text" class="text ">
                    <p><span>℃</span></p>
                </div>
            </label>
            <input id="u19760_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u19761" class="ax_default checkbox">
            <label id="u19761_input_label" for="u19761_input" style="position: absolute; left: 0px;">
                <img id="u19761_img" class="img " src="{{ url_for('static', filename='images/units/u19761.svg') }}"/>
                <div id="u19761_text" class="text ">
                    <p><span>K</span></p>
                </div>
            </label>
            <input id="u19761_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u19762" class="ax_default checkbox">
            <label id="u19762_input_label" for="u19762_input" style="position: absolute; left: 0px;">
                <img id="u19762_img" class="img " src="{{ url_for('static', filename='images/units/u19762.svg') }}"/>
                <div id="u19762_text" class="text ">
                    <p><span>℉</span></p>
                </div>
            </label>
            <input id="u19762_input" type="checkbox" value="checkbox"/>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u19763" class="ax_default _三级标题">
        <div id="u19763_div" class=""></div>
        <div id="u19763_text" class="text ">
            <p><span>Temperature</span></p>
        </div>
    </div>

    <!-- Unnamed (Bracket) -->
    <div id="u19764" class="ax_default _流程图形状">
        <img id="u19764_img" class="img " src="{{ url_for('static', filename='images/单位/u778.svg') }}"/>
        <div id="u19764_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u19765" class="ax_default" data-left="311" data-top="278" data-width="199" data-height="98"
         layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u19766" class="ax_default box_1">
            <img id="u19766_img" class="img " src="{{ url_for('static', filename='images/反应物/u3044.svg') }}"/>
            <div id="u19766_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u19767" class="ax_default checkbox">
            <label id="u19767_input_label" for="u19767_input" style="position: absolute; left: 0px;">
                <img id="u19767_img" class="img " src="{{ url_for('static', filename='images/units/u19767.svg') }}"/>
                <div id="u19767_text" class="text ">
                    <p><span>bar</span></p>
                </div>
            </label>
            <input id="u19767_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u19768" class="ax_default checkbox">
            <label id="u19768_input_label" for="u19768_input" style="position: absolute; left: 0px;">
                <img id="u19768_img" class="img " src="{{ url_for('static', filename='images/units/u19768.svg') }}"/>
                <div id="u19768_text" class="text ">
                    <p><span>psi</span></p>
                </div>
            </label>
            <input id="u19768_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u19769" class="ax_default checkbox">
            <label id="u19769_input_label" for="u19769_input" style="position: absolute; left: 0px;">
                <img id="u19769_img" class="img " src="{{ url_for('static', filename='images/units/u19769.svg') }}"/>
                <div id="u19769_text" class="text ">
                    <p><span>pa</span></p>
                </div>
            </label>
            <input id="u19769_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u19770" class="ax_default checkbox">
            <label id="u19770_input_label" for="u19770_input" style="position: absolute; left: 0px;">
                <img id="u19770_img" class="img " src="{{ url_for('static', filename='images/units/u19770.svg') }}"/>
                <div id="u19770_text" class="text ">
                    <p><span>Gpa</span></p>
                </div>
            </label>
            <input id="u19770_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u19771" class="ax_default checkbox">
            <label id="u19771_input_label" for="u19771_input" style="position: absolute; left: 0px;">
                <img id="u19771_img" class="img " src="{{ url_for('static', filename='images/units/u19771.svg') }}"/>
                <div id="u19771_text" class="text ">
                    <p><span>atm</span></p>
                </div>
            </label>
            <input id="u19771_input" type="checkbox" value="checkbox"/>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u19772" class="ax_default _三级标题">
        <div id="u19772_div" class=""></div>
        <div id="u19772_text" class="text ">
            <p><span>Pressure</span></p>
        </div>
    </div>

    <!-- Unnamed (Bracket) -->
    <div id="u19773" class="ax_default _流程图形状">
        <img id="u19773_img" class="img " src="{{ url_for('static', filename='images/单位/u778.svg') }}"/>
        <div id="u19773_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u19774" class="ax_default" data-left="46" data-top="278" data-width="199" data-height="98"
         layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u19775" class="ax_default box_1">
            <img id="u19775_img" class="img " src="{{ url_for('static', filename='images/反应物/u3044.svg') }}"/>
            <div id="u19775_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u19776" class="ax_default checkbox">
            <label id="u19776_input_label" for="u19776_input" style="position: absolute; left: 0px;">
                <img id="u19776_img" class="img " src="{{ url_for('static', filename='images/units/u19776.svg') }}"/>
                <div id="u19776_text" class="text ">
                    <p><span>litre(dm3)</span></p>
                </div>
            </label>
            <input id="u19776_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u19777" class="ax_default checkbox">
            <label id="u19777_input_label" for="u19777_input" style="position: absolute; left: 0px;">
                <img id="u19777_img" class="img " src="{{ url_for('static', filename='images/units/u19777.svg') }}"/>
                <div id="u19777_text" class="text ">
                    <p><span>ft3</span></p>
                </div>
            </label>
            <input id="u19777_input" type="checkbox" value="checkbox"/>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u19778" class="ax_default _三级标题">
        <div id="u19778_div" class=""></div>
        <div id="u19778_text" class="text ">
            <p><span>Volume</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u19779" class="ax_default box_1">
        <div id="u19779_div" class=""></div>
        <div id="u19779_text" class="text ">
            <p><span>Cancel</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u19780" class="ax_default box_1">
        <div id="u19780_div" class=""></div>
        <div id="u19780_text" class="text ">
            <p><span>Apply</span></p>
        </div>
    </div>

    <!-- Unnamed (Bracket) -->
    <div id="u19781" class="ax_default _流程图形状">
        <img id="u19781_img" class="img " src="{{ url_for('static', filename='images/单位/u778.svg') }}"/>
        <div id="u19781_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u19782" class="ax_default" data-left="451" data-top="115" data-width="199" data-height="98"
         layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u19783" class="ax_default box_1">
            <img id="u19783_img" class="img " src="{{ url_for('static', filename='images/反应物/u3044.svg') }}"/>
            <div id="u19783_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u19784" class="ax_default checkbox">
            <label id="u19784_input_label" for="u19784_input" style="position: absolute; left: 0px;">
                <img id="u19784_img" class="img " src="{{ url_for('static', filename='images/units/u19784.svg') }}"/>
                <div id="u19784_text" class="text ">
                    <p><span>J</span></p>
                </div>
            </label>
            <input id="u19784_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u19785" class="ax_default checkbox">
            <label id="u19785_input_label" for="u19785_input" style="position: absolute; left: 0px;">
                <img id="u19785_img" class="img " src="{{ url_for('static', filename='images/units/u19785.svg') }}"/>
                <div id="u19785_text" class="text ">
                    <p><span>cal</span></p>
                </div>
            </label>
            <input id="u19785_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u19786" class="ax_default checkbox">
            <label id="u19786_input_label" for="u19786_input" style="position: absolute; left: 0px;">
                <img id="u19786_img" class="img " src="{{ url_for('static', filename='images/units/u19786.svg') }}"/>
                <div id="u19786_text" class="text ">
                    <p><span>Btu</span></p>
                </div>
            </label>
            <input id="u19786_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u19787" class="ax_default checkbox">
            <label id="u19787_input_label" for="u19787_input" style="position: absolute; left: 0px;">
                <img id="u19787_img" class="img " src="{{ url_for('static', filename='images/units/u19787.svg') }}"/>
                <div id="u19787_text" class="text ">
                    <p><span>kwh</span></p>
                </div>
            </label>
            <input id="u19787_input" type="checkbox" value="checkbox"/>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u19788" class="ax_default _三级标题">
        <div id="u19788_div" class=""></div>
        <div id="u19788_text" class="text ">
            <p><span>Energy</span></p>
        </div>
    </div>

    <!-- Unnamed (Bracket) -->
    <div id="u19789" class="ax_default _流程图形状">
        <img id="u19789_img" class="img " src="{{ url_for('static', filename='images/单位/u778.svg') }}"/>
        <div id="u19789_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u19790" class="ax_default" data-left="565" data-top="278" data-width="199" data-height="98"
         layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u19791" class="ax_default box_1">
            <img id="u19791_img" class="img " src="{{ url_for('static', filename='images/反应物/u3044.svg') }}"/>
            <div id="u19791_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u19792" class="ax_default checkbox">
            <label id="u19792_input_label" for="u19792_input" style="position: absolute; left: 0px;">
                <img id="u19792_img" class="img " src="{{ url_for('static', filename='images/units/u19792.svg') }}"/>
                <div id="u19792_text" class="text ">
                    <p><span>mol</span></p>
                </div>
            </label>
            <input id="u19792_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u19793" class="ax_default checkbox">
            <label id="u19793_input_label" for="u19793_input" style="position: absolute; left: 0px;">
                <img id="u19793_img" class="img " src="{{ url_for('static', filename='images/units/u19793.svg') }}"/>
                <div id="u19793_text" class="text ">
                    <p><span>lb</span></p>
                </div>
            </label>
            <input id="u19793_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u19794" class="ax_default checkbox">
            <label id="u19794_input_label" for="u19794_input" style="position: absolute; left: 0px;">
                <img id="u19794_img" class="img " src="{{ url_for('static', filename='images/units/u19794.svg') }}"/>
                <div id="u19794_text" class="text ">
                    <p><span>g</span></p>
                </div>
            </label>
            <input id="u19794_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u19795" class="ax_default checkbox">
            <label id="u19795_input_label" for="u19795_input" style="position: absolute; left: 0px;">
                <img id="u19795_img" class="img " src="{{ url_for('static', filename='images/units/u19795.svg') }}"/>
                <div id="u19795_text" class="text ">
                    <p><span>kg</span></p>
                </div>
            </label>
            <input id="u19795_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u19796" class="ax_default checkbox">
            <label id="u19796_input_label" for="u19796_input" style="position: absolute; left: 0px;">
                <img id="u19796_img" class="img " src="{{ url_for('static', filename='images/units/u19796.svg') }}"/>
                <div id="u19796_text" class="text ">
                    <p><span>tonne</span></p>
                </div>
            </label>
            <input id="u19796_input" type="checkbox" value="checkbox"/>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u19797" class="ax_default _三级标题">
        <div id="u19797_div" class=""></div>
        <div id="u19797_text" class="text ">
            <p><span>Quantity</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u19798" class="ax_default _段落">
        <div id="u19798_div" class=""></div>
        <div id="u19798_text" class="text ">
            <p><span>Volumn units are set by pressure units.</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u19799" class="ax_default box_1">
        <div id="u19799_div" class=""></div>
        <div id="u19799_text" class="text ">
            <p><span>SI</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u19800" class="ax_default box_1">
        <div id="u19800_div" class=""></div>
        <div id="u19800_text" class="text ">
            <p><span>Eng</span></p>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
</body>
</html>
