<!DOCTYPE html>
<html>
  <head>
    <title>Units</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/units/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/units/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u20550" class="ax_default box_1">
        <div id="u20550_div" class=""></div>
        <div id="u20550_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- 背景 (Dynamic Panel) -->
      <div id="u20551" class="ax_default" data-label="背景">
        <div id="u20551_state0" class="panel_state" data-label="1" style="">
          <div id="u20551_state0_content" class="panel_state_content">
          </div>
        </div>
        <div id="u20551_state1" class="panel_state" data-label="2" style="visibility: hidden;">
          <div id="u20551_state1_content" class="panel_state_content">
          </div>
        </div>
        <div id="u20551_state2" class="panel_state" data-label="3" style="visibility: hidden;">
          <div id="u20551_state2_content" class="panel_state_content">
          </div>
        </div>
        <div id="u20551_state3" class="panel_state" data-label="4" style="visibility: hidden;">
          <div id="u20551_state3_content" class="panel_state_content">
          </div>
        </div>
        <div id="u20551_state4" class="panel_state" data-label="5" style="visibility: hidden;">
          <div id="u20551_state4_content" class="panel_state_content">
          </div>
        </div>
        <div id="u20551_state5" class="panel_state" data-label="6" style="visibility: hidden;">
          <div id="u20551_state5_content" class="panel_state_content">
          </div>
        </div>
        <div id="u20551_state6" class="panel_state" data-label="7" style="visibility: hidden;">
          <div id="u20551_state6_content" class="panel_state_content">
          </div>
        </div>
        <div id="u20551_state7" class="panel_state" data-label="8" style="visibility: hidden;">
          <div id="u20551_state7_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u20552" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u20553" class="ax_default box_1">
          <img id="u20553_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
          <div id="u20553_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u20554" class="ax_default box_1">
          <img id="u20554_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
          <div id="u20554_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u20555" class="ax_default box_1 selected">
        <div id="u20555_div" class="selected"></div>
        <div id="u20555_text" class="text ">
          <p><span>Reactants - Units</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u20556" class="ax_default box_1">
        <div id="u20556_div" class=""></div>
        <div id="u20556_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Bracket) -->
      <div id="u20557" class="ax_default _流程图形状">
        <img id="u20557_img" class="img " src="{{ url_for('static', filename='images/单位/u778.svg') }}"/>
        <div id="u20557_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u20558" class="ax_default" data-left="164" data-top="115" data-width="199" data-height="98" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u20559" class="ax_default box_1">
          <img id="u20559_img" class="img " src="{{ url_for('static', filename='images/反应物/u2769.svg') }}"/>
          <div id="u20559_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u20560" class="ax_default checkbox">
          <label id="u20560_input_label" for="u20560_input" style="position: absolute; left: 0px;">
            <img id="u20560_img" class="img " src="{{ url_for('static', filename='images/units/u20560.svg') }}"/>
            <div id="u20560_text" class="text ">
              <p><span>℃</span></p>
            </div>
          </label>
          <input id="u20560_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u20561" class="ax_default checkbox">
          <label id="u20561_input_label" for="u20561_input" style="position: absolute; left: 0px;">
            <img id="u20561_img" class="img " src="{{ url_for('static', filename='images/units/u20561.svg') }}"/>
            <div id="u20561_text" class="text ">
              <p><span>K</span></p>
            </div>
          </label>
          <input id="u20561_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u20562" class="ax_default checkbox">
          <label id="u20562_input_label" for="u20562_input" style="position: absolute; left: 0px;">
            <img id="u20562_img" class="img " src="{{ url_for('static', filename='images/units/u20562.svg') }}"/>
            <div id="u20562_text" class="text ">
              <p><span>℉</span></p>
            </div>
          </label>
          <input id="u20562_input" type="checkbox" value="checkbox"/>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u20563" class="ax_default _三级标题">
        <div id="u20563_div" class=""></div>
        <div id="u20563_text" class="text ">
          <p><span>Temperature</span></p>
        </div>
      </div>

      <!-- Unnamed (Bracket) -->
      <div id="u20564" class="ax_default _流程图形状">
        <img id="u20564_img" class="img " src="{{ url_for('static', filename='images/单位/u778.svg') }}"/>
        <div id="u20564_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u20565" class="ax_default" data-left="311" data-top="278" data-width="199" data-height="98" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u20566" class="ax_default box_1">
          <img id="u20566_img" class="img " src="{{ url_for('static', filename='images/反应物/u2769.svg') }}"/>
          <div id="u20566_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u20567" class="ax_default checkbox">
          <label id="u20567_input_label" for="u20567_input" style="position: absolute; left: 0px;">
            <img id="u20567_img" class="img " src="{{ url_for('static', filename='images/units/u20567.svg') }}"/>
            <div id="u20567_text" class="text ">
              <p><span>bar</span></p>
            </div>
          </label>
          <input id="u20567_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u20568" class="ax_default checkbox">
          <label id="u20568_input_label" for="u20568_input" style="position: absolute; left: 0px;">
            <img id="u20568_img" class="img " src="{{ url_for('static', filename='images/units/u20568.svg') }}"/>
            <div id="u20568_text" class="text ">
              <p><span>psi</span></p>
            </div>
          </label>
          <input id="u20568_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u20569" class="ax_default checkbox">
          <label id="u20569_input_label" for="u20569_input" style="position: absolute; left: 0px;">
            <img id="u20569_img" class="img " src="{{ url_for('static', filename='images/units/u20569.svg') }}"/>
            <div id="u20569_text" class="text ">
              <p><span>pa</span></p>
            </div>
          </label>
          <input id="u20569_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u20570" class="ax_default checkbox">
          <label id="u20570_input_label" for="u20570_input" style="position: absolute; left: 0px;">
            <img id="u20570_img" class="img " src="{{ url_for('static', filename='images/units/u20570.svg') }}"/>
            <div id="u20570_text" class="text ">
              <p><span>Gpa</span></p>
            </div>
          </label>
          <input id="u20570_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u20571" class="ax_default checkbox">
          <label id="u20571_input_label" for="u20571_input" style="position: absolute; left: 0px;">
            <img id="u20571_img" class="img " src="{{ url_for('static', filename='images/units/u20571.svg') }}"/>
            <div id="u20571_text" class="text ">
              <p><span>atm</span></p>
            </div>
          </label>
          <input id="u20571_input" type="checkbox" value="checkbox"/>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u20572" class="ax_default _三级标题">
        <div id="u20572_div" class=""></div>
        <div id="u20572_text" class="text ">
          <p><span>Pressure</span></p>
        </div>
      </div>

      <!-- Unnamed (Bracket) -->
      <div id="u20573" class="ax_default _流程图形状">
        <img id="u20573_img" class="img " src="{{ url_for('static', filename='images/单位/u778.svg') }}"/>
        <div id="u20573_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u20574" class="ax_default" data-left="46" data-top="278" data-width="199" data-height="98" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u20575" class="ax_default box_1">
          <img id="u20575_img" class="img " src="{{ url_for('static', filename='images/反应物/u2769.svg') }}"/>
          <div id="u20575_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u20576" class="ax_default checkbox">
          <label id="u20576_input_label" for="u20576_input" style="position: absolute; left: 0px;">
            <img id="u20576_img" class="img " src="{{ url_for('static', filename='images/units/u20576.svg') }}"/>
            <div id="u20576_text" class="text ">
              <p><span>litre(dm3)</span></p>
            </div>
          </label>
          <input id="u20576_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u20577" class="ax_default checkbox">
          <label id="u20577_input_label" for="u20577_input" style="position: absolute; left: 0px;">
            <img id="u20577_img" class="img " src="{{ url_for('static', filename='images/units/u20577.svg') }}"/>
            <div id="u20577_text" class="text ">
              <p><span>ft3</span></p>
            </div>
          </label>
          <input id="u20577_input" type="checkbox" value="checkbox"/>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u20578" class="ax_default _三级标题">
        <div id="u20578_div" class=""></div>
        <div id="u20578_text" class="text ">
          <p><span>Volume</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u20579" class="ax_default box_1">
        <div id="u20579_div" class=""></div>
        <div id="u20579_text" class="text ">
          <p><span>Cancel</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u20580" class="ax_default box_1">
        <div id="u20580_div" class=""></div>
        <div id="u20580_text" class="text ">
          <p><span>Apply</span></p>
        </div>
      </div>

      <!-- Unnamed (Bracket) -->
      <div id="u20581" class="ax_default _流程图形状">
        <img id="u20581_img" class="img " src="{{ url_for('static', filename='images/单位/u778.svg') }}"/>
        <div id="u20581_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u20582" class="ax_default" data-left="451" data-top="115" data-width="199" data-height="98" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u20583" class="ax_default box_1">
          <img id="u20583_img" class="img " src="{{ url_for('static', filename='images/反应物/u2769.svg') }}"/>
          <div id="u20583_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u20584" class="ax_default checkbox">
          <label id="u20584_input_label" for="u20584_input" style="position: absolute; left: 0px;">
            <img id="u20584_img" class="img " src="{{ url_for('static', filename='images/units/u20584.svg') }}"/>
            <div id="u20584_text" class="text ">
              <p><span>J</span></p>
            </div>
          </label>
          <input id="u20584_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u20585" class="ax_default checkbox">
          <label id="u20585_input_label" for="u20585_input" style="position: absolute; left: 0px;">
            <img id="u20585_img" class="img " src="{{ url_for('static', filename='images/units/u20585.svg') }}"/>
            <div id="u20585_text" class="text ">
              <p><span>cal</span></p>
            </div>
          </label>
          <input id="u20585_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u20586" class="ax_default checkbox">
          <label id="u20586_input_label" for="u20586_input" style="position: absolute; left: 0px;">
            <img id="u20586_img" class="img " src="{{ url_for('static', filename='images/units/u20586.svg') }}"/>
            <div id="u20586_text" class="text ">
              <p><span>Btu</span></p>
            </div>
          </label>
          <input id="u20586_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u20587" class="ax_default checkbox">
          <label id="u20587_input_label" for="u20587_input" style="position: absolute; left: 0px;">
            <img id="u20587_img" class="img " src="{{ url_for('static', filename='images/units/u20587.svg') }}"/>
            <div id="u20587_text" class="text ">
              <p><span>kwh</span></p>
            </div>
          </label>
          <input id="u20587_input" type="checkbox" value="checkbox"/>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u20588" class="ax_default _三级标题">
        <div id="u20588_div" class=""></div>
        <div id="u20588_text" class="text ">
          <p><span>Energy</span></p>
        </div>
      </div>

      <!-- Unnamed (Bracket) -->
      <div id="u20589" class="ax_default _流程图形状">
        <img id="u20589_img" class="img " src="{{ url_for('static', filename='images/单位/u778.svg') }}"/>
        <div id="u20589_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u20590" class="ax_default" data-left="565" data-top="278" data-width="199" data-height="98" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u20591" class="ax_default box_1">
          <img id="u20591_img" class="img " src="{{ url_for('static', filename='images/反应物/u2769.svg') }}"/>
          <div id="u20591_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u20592" class="ax_default checkbox">
          <label id="u20592_input_label" for="u20592_input" style="position: absolute; left: 0px;">
            <img id="u20592_img" class="img " src="{{ url_for('static', filename='images/units/u20592.svg') }}"/>
            <div id="u20592_text" class="text ">
              <p><span>mol</span></p>
            </div>
          </label>
          <input id="u20592_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u20593" class="ax_default checkbox">
          <label id="u20593_input_label" for="u20593_input" style="position: absolute; left: 0px;">
            <img id="u20593_img" class="img " src="{{ url_for('static', filename='images/units/u20593.svg') }}"/>
            <div id="u20593_text" class="text ">
              <p><span>lb</span></p>
            </div>
          </label>
          <input id="u20593_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u20594" class="ax_default checkbox">
          <label id="u20594_input_label" for="u20594_input" style="position: absolute; left: 0px;">
            <img id="u20594_img" class="img " src="{{ url_for('static', filename='images/units/u20594.svg') }}"/>
            <div id="u20594_text" class="text ">
              <p><span>g</span></p>
            </div>
          </label>
          <input id="u20594_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u20595" class="ax_default checkbox">
          <label id="u20595_input_label" for="u20595_input" style="position: absolute; left: 0px;">
            <img id="u20595_img" class="img " src="{{ url_for('static', filename='images/units/u20595.svg') }}"/>
            <div id="u20595_text" class="text ">
              <p><span>kg</span></p>
            </div>
          </label>
          <input id="u20595_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u20596" class="ax_default checkbox">
          <label id="u20596_input_label" for="u20596_input" style="position: absolute; left: 0px;">
            <img id="u20596_img" class="img " src="{{ url_for('static', filename='images/units/u20596.svg') }}"/>
            <div id="u20596_text" class="text ">
              <p><span>tonne</span></p>
            </div>
          </label>
          <input id="u20596_input" type="checkbox" value="checkbox"/>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u20597" class="ax_default _三级标题">
        <div id="u20597_div" class=""></div>
        <div id="u20597_text" class="text ">
          <p><span>Quantity</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u20598" class="ax_default _段落">
        <div id="u20598_div" class=""></div>
        <div id="u20598_text" class="text ">
          <p><span>Volumn units are set by pressure units.</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u20599" class="ax_default box_1">
        <div id="u20599_div" class=""></div>
        <div id="u20599_text" class="text ">
          <p><span>SI</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u20600" class="ax_default box_1">
        <div id="u20600_div" class=""></div>
        <div id="u20600_text" class="text ">
          <p><span>Eng</span></p>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
