<!DOCTYPE html>
<html>
  <head>
    <title>上传1</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/上传1/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/上传1/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u5767" class="ax_default box_1">
        <div id="u5767_div" class=""></div>
        <div id="u5767_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u5768" class="ax_default box_1">
        <div id="u5768_div" class=""></div>
        <div id="u5768_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- 关闭 (Shape) -->
      <div id="u5769" class="ax_default icon" data-label="关闭">
        <img id="u5769_img" class="img " src="{{ url_for('static', filename='images/图片处理/关闭_u2647.svg') }}"/>
        <div id="u5769_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- 菜单 (Group) -->
      <div id="u5770" class="ax_default" data-label="菜单" data-left="19" data-top="48" data-width="45" data-height="42" layer-opacity="1">

        <!-- Unnamed (Ellipse) -->
        <div id="u5771" class="ax_default ellipse">
          <img id="u5771_img" class="img " src="{{ url_for('static', filename='images/图片处理/u2649.svg') }}"/>
          <div id="u5771_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u5772" class="ax_default icon">
          <img id="u5772_img" class="img " src="{{ url_for('static', filename='images/图片处理/u2650.svg') }}"/>
          <div id="u5772_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- 化学 (Group) -->
      <div id="u5773" class="ax_default" data-label="化学" data-left="19" data-top="120" data-width="45" data-height="42" layer-opacity="1">

        <!-- Unnamed (Ellipse) -->
        <div id="u5774" class="ax_default ellipse">
          <img id="u5774_img" class="img " src="{{ url_for('static', filename='images/图片处理/u2652.svg') }}"/>
          <div id="u5774_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u5775" class="ax_default icon">
          <img id="u5775_img" class="img " src="{{ url_for('static', filename='images/图片处理/u2653.svg') }}"/>
          <div id="u5775_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- 图片识别 (Group) -->
      <div id="u5776" class="ax_default" data-label="图片识别" data-left="19" data-top="192" data-width="45" data-height="42" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u5777" class="ax_default" data-left="19" data-top="192" data-width="45" data-height="42" layer-opacity="1">

          <!-- Unnamed (Ellipse) -->
          <div id="u5778" class="ax_default ellipse">
            <img id="u5778_img" class="img " src="{{ url_for('static', filename='images/图片处理/u2652.svg') }}"/>
            <div id="u5778_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u5779" class="ax_default image">
            <img id="u5779_img" class="img " src="{{ url_for('static', filename='images/图片处理/u2657.svg') }}"/>
            <div id="u5779_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <!-- 数据库 (Group) -->
      <div id="u5780" class="ax_default" data-label="数据库" data-left="19" data-top="264" data-width="45" data-height="42" layer-opacity="1">

        <!-- Unnamed (Ellipse) -->
        <div id="u5781" class="ax_default ellipse">
          <img id="u5781_img" class="img " src="{{ url_for('static', filename='images/图片处理/u2652.svg') }}"/>
          <div id="u5781_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u5782" class="ax_default icon">
          <img id="u5782_img" class="img " src="{{ url_for('static', filename='images/图片处理/u2660.svg') }}"/>
          <div id="u5782_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Least Square (Group) -->
      <div id="u5783" class="ax_default" data-label="Least Square" data-left="19" data-top="336" data-width="45" data-height="42" layer-opacity="1">

        <!-- Unnamed (Ellipse) -->
        <div id="u5784" class="ax_default ellipse">
          <img id="u5784_img" class="img " src="{{ url_for('static', filename='images/图片处理/u2652.svg') }}"/>
          <div id="u5784_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u5785" class="ax_default icon">
          <img id="u5785_img" class="img " src="{{ url_for('static', filename='images/图片处理/u2663.svg') }}"/>
          <div id="u5785_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- 爬虫 (Group) -->
      <div id="u5786" class="ax_default" data-label="爬虫" data-left="19" data-top="408" data-width="45" data-height="42" layer-opacity="1">

        <!-- Unnamed (Ellipse) -->
        <div id="u5787" class="ax_default ellipse">
          <img id="u5787_img" class="img " src="{{ url_for('static', filename='images/图片处理/u2652.svg') }}"/>
          <div id="u5787_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u5788" class="ax_default icon">
          <img id="u5788_img" class="img " src="{{ url_for('static', filename='images/图片处理/u2666.svg') }}"/>
          <div id="u5788_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u5789" class="ax_default icon">
        <img id="u5789_img" class="img " src="{{ url_for('static', filename='images/图片处理/u2667.svg') }}"/>
        <div id="u5789_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u5790" class="ax_default icon">
        <img id="u5790_img" class="img " src="{{ url_for('static', filename='images/图片处理/u2668.svg') }}"/>
        <div id="u5790_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u5791" class="ax_default icon">
        <img id="u5791_img" class="img " src="{{ url_for('static', filename='images/图片处理/u2669.svg') }}"/>
        <div id="u5791_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- 时间 (Rectangle) -->
      <div id="u5792" class="ax_default label" data-label="时间">
        <div id="u5792_div" class=""></div>
        <div id="u5792_text" class="text ">
          <p><span>Time</span></p>
        </div>
      </div>

      <!-- tip (Rectangle) -->
      <div id="u5793" class="ax_default _一级标题" data-label="tip">
        <div id="u5793_div" class=""></div>
        <div id="u5793_text" class="text ">
          <p><span>Upload data</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u5794" class="ax_default icon">
        <img id="u5794_img" class="img " src="{{ url_for('static', filename='images/图片处理/u2671.svg') }}"/>
        <div id="u5794_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u5795" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="512" data-top="48" data-width="212" data-height="29" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u5796" class="ax_default label">
          <div id="u5796_div" class=""></div>
          <div id="u5796_text" class="text ">
            <p><span>Account Number：</span></p>
          </div>
        </div>

        <!-- 用户名 (Rectangle) -->
        <div id="u5797" class="ax_default label" data-label="用户名">
          <div id="u5797_div" class=""></div>
          <div id="u5797_text" class="text ">
            <p><span>UserName</span></p>
          </div>
        </div>
      </div>

      <!-- Menu (Rectangle) -->
      <div id="u5798" class="ax_default label ax_default_hidden" data-label="Menu" style="display:none; visibility: hidden">
        <div id="u5798_div" class=""></div>
        <div id="u5798_text" class="text ">
          <p><span>Menu</span></p>
        </div>
      </div>

      <!-- Chemitry (Rectangle) -->
      <div id="u5799" class="ax_default label ax_default_hidden" data-label="Chemitry" style="display:none; visibility: hidden">
        <div id="u5799_div" class=""></div>
        <div id="u5799_text" class="text ">
          <p><span>Chemsitry</span></p>
        </div>
      </div>

      <!-- Pic Processing (Rectangle) -->
      <div id="u5800" class="ax_default label ax_default_hidden" data-label="Pic Processing" style="display:none; visibility: hidden">
        <div id="u5800_div" class=""></div>
        <div id="u5800_text" class="text ">
          <p><span>Picture Processing</span></p>
        </div>
      </div>

      <!-- Database (Rectangle) -->
      <div id="u5801" class="ax_default label ax_default_hidden" data-label="Database" style="display:none; visibility: hidden">
        <div id="u5801_div" class=""></div>
        <div id="u5801_text" class="text ">
          <p><span>Database</span></p>
        </div>
      </div>

      <!-- Stats (Rectangle) -->
      <div id="u5802" class="ax_default label ax_default_hidden" data-label="Stats" style="display:none; visibility: hidden">
        <div id="u5802_div" class=""></div>
        <div id="u5802_text" class="text ">
          <p><span>Statistics</span></p>
        </div>
      </div>

      <!-- Web (Rectangle) -->
      <div id="u5803" class="ax_default label ax_default_hidden" data-label="Web" style="display:none; visibility: hidden">
        <div id="u5803_div" class=""></div>
        <div id="u5803_text" class="text ">
          <p><span>Web Crawler</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u5804" class="ax_default icon">
        <img id="u5804_img" class="img " src="{{ url_for('static', filename='images/图片处理/u2681.svg') }}"/>
        <div id="u5804_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u5805" class="ax_default text_field">
        <div id="u5805_div" class=""></div>
        <input id="u5805_input" type="text" value="" class="u5805_input"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u5806" class="ax_default button">
        <div id="u5806_div" class=""></div>
        <div id="u5806_text" class="text ">
          <p><span>Choose File</span></p>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
