<!DOCTYPE html>
<html>
<head>
    <title>加标签</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/加标签/styles.css') }}" type="text/css" rel="stylesheet"/>

    <script>
        document.oncontextmenu = function (event) {
            event = event || window.event;
            var targetElement = event.target || event.srcElement;
            if (!targetElement) return true;

            if (targetElement.tagName) {
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||
                    targetElement.tagName.toLowerCase() === "textarea") {
                    return true;
                }
            }
            return false;
        }
    </script>
    <script src
                    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/加标签/data.js') }}"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () {
            return 'resources/images/transparent.gif';
        };
        $axure.utils.getOtherPath = function () {
            return 'resources/Other.html';
        };
        $axure.utils.getReloadPath = function () {
            return 'resources/reload.html';
        };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- Unnamed (Rectangle) -->
    <div id="u1385" class="ax_default box_1">
        <div id="u1385_div" class=""></div>
        <div id="u1385_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u1386" class="ax_default box_1">
        <div id="u1386_div" class=""></div>
        <div id="u1386_text" class="text ">
            <p><span>Add label</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u1387" class="ax_default box_1">
        <div id="u1387_div" class=""></div>
        <div id="u1387_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u1388" class="ax_default button">
        <div id="u1388_div" class=""></div>
        <div id="u1388_text" class="text ">
            <p><span>Close</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u1389" class="ax_default button">
        <div id="u1389_div" class=""></div>
        <div id="u1389_text" class="text ">
            <p><span>Continue</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u1390" class="ax_default _三级标题">
        <div id="u1390_div" class=""></div>
        <div id="u1390_text" class="text ">
            <p><span>Text</span></p>
        </div>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u1391" class="ax_default text_field">
        <div id="u1391_div" class=""></div>
        <input id="u1391_input" type="text" value="" class="u1391_input"/>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u1392" class="ax_default button">
        <div id="u1392_div" class=""></div>
        <div id="u1392_text" class="text ">
            <p><span>Symbol</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u1393" class="ax_default _三级标题">
        <div id="u1393_div" class=""></div>
        <div id="u1393_text" class="text ">
            <p><span>Coordinates</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u1394" class="ax_default label">
        <div id="u1394_div" class=""></div>
        <div id="u1394_text" class="text ">
            <p><span>X</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u1395" class="ax_default label">
        <div id="u1395_div" class=""></div>
        <div id="u1395_text" class="text ">
            <p><span>Y</span></p>
        </div>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u1396" class="ax_default text_field">
        <div id="u1396_div" class=""></div>
        <input id="u1396_input" type="text" value="" class="u1396_input"/>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u1397" class="ax_default text_field">
        <div id="u1397_div" class=""></div>
        <input id="u1397_input" type="text" value="" class="u1397_input"/>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u1398" class="ax_default _三级标题">
        <div id="u1398_div" class=""></div>
        <div id="u1398_text" class="text ">
            <p><span>Theme</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u1399" class="ax_default _三级标题">
        <div id="u1399_div" class=""></div>
        <div id="u1399_text" class="text ">
            <p><span>Template</span></p>
        </div>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u1400" class="ax_default text_field">
        <div id="u1400_div" class=""></div>
        <input id="u1400_input" type="text" value="" class="u1400_input"/>
    </div>

    <!-- Unnamed (Droplist) -->
    <div id="u1401" class="ax_default droplist">
        <div id="u1401_div" class=""></div>
        <select id="u1401_input" class="u1401_input">
        </select>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u1402" class="ax_default _三级标题">
        <div id="u1402_div" class=""></div>
        <div id="u1402_text" class="text ">
            <p><span>Angle</span></p>
        </div>
    </div>

    <!-- Unnamed (Droplist) -->
    <div id="u1403" class="ax_default droplist">
        <div id="u1403_div" class=""></div>
        <select id="u1403_input" class="u1403_input">
        </select>
    </div>

    <!-- Unnamed (Droplist) -->
    <div id="u1404" class="ax_default droplist">
        <div id="u1404_div" class=""></div>
        <select id="u1404_input" class="u1404_input">
        </select>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u1405" class="ax_default _三级标题">
        <div id="u1405_div" class=""></div>
        <div id="u1405_text" class="text ">
            <p><span>Alignment</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u1406" class="ax_default _三级标题">
        <div id="u1406_div" class=""></div>
        <div id="u1406_text" class="text ">
            <p><span>Font</span></p>
        </div>
    </div>

    <!-- Unnamed (Droplist) -->
    <div id="u1407" class="ax_default droplist">
        <div id="u1407_div" class=""></div>
        <select id="u1407_input" class="u1407_input">
        </select>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u1408" class="ax_default label">
        <div id="u1408_div" class=""></div>
        <div id="u1408_text" class="text ">
            <p><span>size</span></p>
        </div>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u1409" class="ax_default text_field">
        <div id="u1409_div" class=""></div>
        <input id="u1409_input" type="text" value="" class="u1409_input"/>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u1410" class="ax_default _三级标题">
        <div id="u1410_div" class=""></div>
        <div id="u1410_text" class="text ">
            <p><span>color</span></p>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u1411" class="ax_default" data-left="640" data-top="540" data-width="26" data-height="26"
         layer-opacity="1">

        <!-- Color Select (Group) -->
        <div id="u1412" class="ax_default ax_default_hidden" data-label="Color Select"
             style="display:none; visibility: hidden" data-left="644" data-top="591" data-width="193" data-height="46"
             layer-opacity="1">

            <!-- Background Rectangle (Rectangle) -->
            <div id="u1413" class="ax_default box_1" data-label="Background Rectangle">
                <div id="u1413_div" class=""></div>
                <div id="u1413_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Ellipse) -->
            <div id="u1414" class="ax_default box_2 selected" selectiongroup="colors">
                <img id="u1414_img" class="img "
                     src="{{ url_for('static', filename='images/选项/u256_selected.svg') }}"/>
                <div id="u1414_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Ellipse) -->
            <div id="u1415" class="ax_default box_2" selectiongroup="colors">
                <img id="u1415_img" class="img " src="{{ url_for('static', filename='images/选项/u257.svg') }}"/>
                <div id="u1415_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Ellipse) -->
            <div id="u1416" class="ax_default box_2" selectiongroup="colors">
                <img id="u1416_img" class="img " src="{{ url_for('static', filename='images/选项/u258.svg') }}"/>
                <div id="u1416_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Ellipse) -->
            <div id="u1417" class="ax_default box_2" selectiongroup="colors">
                <img id="u1417_img" class="img " src="{{ url_for('static', filename='images/选项/u259.svg') }}"/>
                <div id="u1417_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>

        <!-- Current Color Dynamic Panel (Dynamic Panel) -->
        <div id="u1418" class="ax_default" data-label="Current Color Dynamic Panel">
            <div id="u1418_state0" class="panel_state" data-label="State2" style="">
                <div id="u1418_state0_content" class="panel_state_content">

                    <!-- Unnamed (Ellipse) -->
                    <div id="u1419" class="ax_default box_2">
                        <img id="u1419_img" class="img "
                             src="{{ url_for('static', filename='images/加标签/u1419.svg') }}"/>
                        <div id="u1419_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="u1418_state1" class="panel_state" data-label="State1" style="visibility: hidden;">
                <div id="u1418_state1_content" class="panel_state_content">

                    <!-- Unnamed (Ellipse) -->
                    <div id="u1420" class="ax_default box_2">
                        <img id="u1420_img" class="img "
                             src="{{ url_for('static', filename='images/加标签/u1420.svg') }}"/>
                        <div id="u1420_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="u1418_state2" class="panel_state" data-label="State3" style="visibility: hidden;">
                <div id="u1418_state2_content" class="panel_state_content">

                    <!-- Unnamed (Ellipse) -->
                    <div id="u1421" class="ax_default box_2">
                        <img id="u1421_img" class="img "
                             src="{{ url_for('static', filename='images/加标签/u1421.svg') }}"/>
                        <div id="u1421_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="u1418_state3" class="panel_state" data-label="State4" style="visibility: hidden;">
                <div id="u1418_state3_content" class="panel_state_content">

                    <!-- Unnamed (Ellipse) -->
                    <div id="u1422" class="ax_default box_2">
                        <img id="u1422_img" class="img "
                             src="{{ url_for('static', filename='images/加标签/u1422.svg') }}"/>
                        <div id="u1422_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Unnamed (Checkbox) -->
    <div id="u1423" class="ax_default checkbox">
        <label id="u1423_input_label" for="u1423_input" style="position: absolute; left: 0px;">
            <img id="u1423_img" class="img " src="{{ url_for('static', filename='images/加标签/u1423.svg') }}"/>
            <div id="u1423_text" class="text ">
                <p><span>bold</span></p>
            </div>
        </label>
        <input id="u1423_input" type="checkbox" value="checkbox"/>
    </div>

    <!-- Unnamed (Checkbox) -->
    <div id="u1424" class="ax_default checkbox">
        <label id="u1424_input_label" for="u1424_input" style="position: absolute; left: 0px;">
            <img id="u1424_img" class="img " src="{{ url_for('static', filename='images/加标签/u1424.svg') }}"/>
            <div id="u1424_text" class="text ">
                <p><span>italic</span></p>
            </div>
        </label>
        <input id="u1424_input" type="checkbox" value="checkbox"/>
    </div>

    <!-- Unnamed (Checkbox) -->
    <div id="u1425" class="ax_default checkbox">
        <label id="u1425_input_label" for="u1425_input" style="position: absolute; left: 0px;">
            <img id="u1425_img" class="img " src="{{ url_for('static', filename='images/加标签/u1425.svg') }}"/>
            <div id="u1425_text" class="text ">
                <p><span>underline</span></p>
            </div>
        </label>
        <input id="u1425_input" type="checkbox" value="checkbox"/>
    </div>

    <!-- Unnamed (Checkbox) -->
    <div id="u1426" class="ax_default checkbox">
        <label id="u1426_input_label" for="u1426_input" style="position: absolute; left: 0px;">
            <img id="u1426_img" class="img " src="{{ url_for('static', filename='images/加标签/u1426.svg') }}"/>
            <div id="u1426_text" class="text ">
                <p><span>strikeout</span></p>
            </div>
        </label>
        <input id="u1426_input" type="checkbox" value="checkbox"/>
    </div>
</div>
<script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
</body>
</html>
