<!DOCTYPE html>
<html>
  <head>
    <title>单位</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/单位/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/单位/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u773" class="ax_default box_1">
        <div id="u773_div" class=""></div>
        <div id="u773_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u774" class="ax_default box_1">
        <div id="u774_div" class=""></div>
        <div id="u774_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u775" class="ax_default button">
        <div id="u775_div" class=""></div>
        <div id="u775_text" class="text ">
          <p><span>Cancel</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u776" class="ax_default button">
        <div id="u776_div" class=""></div>
        <div id="u776_text" class="text ">
          <p><span>Continue</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u777" class="ax_default _三级标题">
        <div id="u777_div" class=""></div>
        <div id="u777_text" class="text ">
          <p><span>Units</span></p>
        </div>
      </div>

      <!-- Unnamed (Bracket) -->
      <div id="u778" class="ax_default _流程图形状">
        <img id="u778_img" class="img " src="{{ url_for('static', filename='images/单位/u778.svg') }}"/>
        <div id="u778_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u779" class="ax_default _三级标题">
        <div id="u779_div" class=""></div>
        <div id="u779_text" class="text ">
          <p><span>Temperature</span></p>
        </div>
      </div>

      <!-- Unnamed (Bracket) -->
      <div id="u780" class="ax_default _流程图形状">
        <img id="u780_img" class="img " src="{{ url_for('static', filename='images/单位/u778.svg') }}"/>
        <div id="u780_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u781" class="ax_default _三级标题">
        <div id="u781_div" class=""></div>
        <div id="u781_text" class="text ">
          <p><span>Pressure</span></p>
        </div>
      </div>

      <!-- Unnamed (Bracket) -->
      <div id="u782" class="ax_default _流程图形状">
        <img id="u782_img" class="img " src="{{ url_for('static', filename='images/单位/u778.svg') }}"/>
        <div id="u782_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u783" class="ax_default _三级标题">
        <div id="u783_div" class=""></div>
        <div id="u783_text" class="text ">
          <p><span>Mass</span></p>
        </div>
      </div>

      <!-- Unnamed (Bracket) -->
      <div id="u784" class="ax_default _流程图形状">
        <img id="u784_img" class="img " src="{{ url_for('static', filename='images/单位/u778.svg') }}"/>
        <div id="u784_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u785" class="ax_default _三级标题">
        <div id="u785_div" class=""></div>
        <div id="u785_text" class="text ">
          <p><span>Volume</span></p>
        </div>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u786" class="ax_default radio_button selected" selectiongroup="温度">
        <label id="u786_input_label" for="u786_input" style="position: absolute; left: 0px;">
          <img id="u786_img" class="img " src="{{ url_for('static', filename='images/单位/u786_selected.svg') }}"/>
          <div id="u786_text" class="text ">
            <p><span>&nbsp;K</span></p>
          </div>
        </label>
        <input id="u786_input" type="radio" value="radio" name="温度" checked/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u787" class="ax_default radio_button" selectiongroup="温度">
        <label id="u787_input_label" for="u787_input" style="position: absolute; left: 0px;">
          <img id="u787_img" class="img " src="{{ url_for('static', filename='images/单位/u787.svg') }}"/>
          <div id="u787_text" class="text ">
            <p><span>&nbsp;℃</span></p>
          </div>
        </label>
        <input id="u787_input" type="radio" value="radio" name="温度"/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u788" class="ax_default radio_button selected" selectiongroup="质量">
        <label id="u788_input_label" for="u788_input" style="position: absolute; left: 0px;">
          <img id="u788_img" class="img " src="{{ url_for('static', filename='images/单位/u788_selected.svg') }}"/>
          <div id="u788_text" class="text ">
            <p><span>&nbsp;mg</span></p>
          </div>
        </label>
        <input id="u788_input" type="radio" value="radio" name="质量" checked/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u789" class="ax_default radio_button" selectiongroup="质量">
        <label id="u789_input_label" for="u789_input" style="position: absolute; left: 0px;">
          <img id="u789_img" class="img " src="{{ url_for('static', filename='images/单位/u789.svg') }}"/>
          <div id="u789_text" class="text ">
            <p><span>&nbsp;mol</span></p>
          </div>
        </label>
        <input id="u789_input" type="radio" value="radio" name="质量"/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u790" class="ax_default radio_button selected" selectiongroup="压力">
        <label id="u790_input_label" for="u790_input" style="position: absolute; left: 0px;">
          <img id="u790_img" class="img " src="{{ url_for('static', filename='images/单位/u790_selected.svg') }}"/>
          <div id="u790_text" class="text ">
            <p><span>&nbsp;atm</span></p>
          </div>
        </label>
        <input id="u790_input" type="radio" value="radio" name="压力" checked/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u791" class="ax_default radio_button" selectiongroup="压力">
        <label id="u791_input_label" for="u791_input" style="position: absolute; left: 0px;">
          <img id="u791_img" class="img " src="{{ url_for('static', filename='images/单位/u791.svg') }}"/>
          <div id="u791_text" class="text ">
            <p><span>&nbsp;psi</span></p>
          </div>
        </label>
        <input id="u791_input" type="radio" value="radio" name="压力"/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u792" class="ax_default radio_button selected" selectiongroup="体积">
        <label id="u792_input_label" for="u792_input" style="position: absolute; left: 0px;">
          <img id="u792_img" class="img " src="{{ url_for('static', filename='images/单位/u792_selected.svg') }}"/>
          <div id="u792_text" class="text ">
            <p><span>&nbsp;mL</span></p>
          </div>
        </label>
        <input id="u792_input" type="radio" value="radio" name="体积" checked/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u793" class="ax_default radio_button" selectiongroup="体积">
        <label id="u793_input_label" for="u793_input" style="position: absolute; left: 0px;">
          <img id="u793_img" class="img " src="{{ url_for('static', filename='images/单位/u793.svg') }}"/>
          <div id="u793_text" class="text ">
            <p><span>&nbsp;L</span></p>
          </div>
        </label>
        <input id="u793_input" type="radio" value="radio" name="体积"/>
      </div>

      <!-- Unnamed (Bracket) -->
      <div id="u794" class="ax_default _流程图形状">
        <img id="u794_img" class="img " src="{{ url_for('static', filename='images/单位/u778.svg') }}"/>
        <div id="u794_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u795" class="ax_default _三级标题">
        <div id="u795_div" class=""></div>
        <div id="u795_text" class="text ">
          <p><span>Energy</span></p>
        </div>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u796" class="ax_default radio_button selected" selectiongroup="单位1">
        <label id="u796_input_label" for="u796_input" style="position: absolute; left: 0px;">
          <img id="u796_img" class="img " src="{{ url_for('static', filename='images/单位/u796_selected.svg') }}"/>
          <div id="u796_text" class="text ">
            <p><span>&nbsp;J</span></p>
          </div>
        </label>
        <input id="u796_input" type="radio" value="radio" name="单位1" checked/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u797" class="ax_default radio_button" selectiongroup="单位1">
        <label id="u797_input_label" for="u797_input" style="position: absolute; left: 0px;">
          <img id="u797_img" class="img " src="{{ url_for('static', filename='images/单位/u797.svg') }}"/>
          <div id="u797_text" class="text ">
            <p><span>Cal</span></p>
          </div>
        </label>
        <input id="u797_input" type="radio" value="radio" name="单位1"/>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
