<!DOCTYPE html>
<html>
  <head>
    <title>帮助</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/帮助/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/帮助/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u11101" class="ax_default box_1">
        <div id="u11101_div" class=""></div>
        <div id="u11101_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11102" class="ax_default box_1">
        <div id="u11102_div" class=""></div>
        <div id="u11102_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- 关闭 (Shape) -->
      <div id="u11103" class="ax_default icon" data-label="关闭">
        <img id="u11103_img" class="img " src="{{ url_for('static', filename='images/图片处理/关闭_u2647.svg') }}"/>
        <div id="u11103_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- 菜单 (Group) -->
      <div id="u11104" class="ax_default" data-label="菜单" data-left="19" data-top="48" data-width="45" data-height="42" layer-opacity="1">

        <!-- Unnamed (Ellipse) -->
        <div id="u11105" class="ax_default ellipse">
          <img id="u11105_img" class="img " src="{{ url_for('static', filename='images/图片处理/u2649.svg') }}"/>
          <div id="u11105_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u11106" class="ax_default icon">
          <img id="u11106_img" class="img " src="{{ url_for('static', filename='images/图片处理/u2650.svg') }}"/>
          <div id="u11106_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- 化学 (Group) -->
      <div id="u11107" class="ax_default" data-label="化学" data-left="19" data-top="120" data-width="45" data-height="42" layer-opacity="1">

        <!-- Unnamed (Ellipse) -->
        <div id="u11108" class="ax_default ellipse">
          <img id="u11108_img" class="img " src="{{ url_for('static', filename='images/图片处理/u2652.svg') }}"/>
          <div id="u11108_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u11109" class="ax_default icon">
          <img id="u11109_img" class="img " src="{{ url_for('static', filename='images/图片处理/u2653.svg') }}"/>
          <div id="u11109_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- 图片识别 (Group) -->
      <div id="u11110" class="ax_default" data-label="图片识别" data-left="19" data-top="192" data-width="45" data-height="42" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u11111" class="ax_default" data-left="19" data-top="192" data-width="45" data-height="42" layer-opacity="1">

          <!-- Unnamed (Ellipse) -->
          <div id="u11112" class="ax_default ellipse">
            <img id="u11112_img" class="img " src="{{ url_for('static', filename='images/图片处理/u2652.svg') }}"/>
            <div id="u11112_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u11113" class="ax_default image">
            <img id="u11113_img" class="img " src="{{ url_for('static', filename='images/图片处理/u2657.svg') }}"/>
            <div id="u11113_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <!-- 数据库 (Group) -->
      <div id="u11114" class="ax_default" data-label="数据库" data-left="19" data-top="264" data-width="45" data-height="42" layer-opacity="1">

        <!-- Unnamed (Ellipse) -->
        <div id="u11115" class="ax_default ellipse">
          <img id="u11115_img" class="img " src="{{ url_for('static', filename='images/图片处理/u2652.svg') }}"/>
          <div id="u11115_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u11116" class="ax_default icon">
          <img id="u11116_img" class="img " src="{{ url_for('static', filename='images/图片处理/u2660.svg') }}"/>
          <div id="u11116_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Least Square (Group) -->
      <div id="u11117" class="ax_default" data-label="Least Square" data-left="19" data-top="336" data-width="45" data-height="42" layer-opacity="1">

        <!-- Unnamed (Ellipse) -->
        <div id="u11118" class="ax_default ellipse">
          <img id="u11118_img" class="img " src="{{ url_for('static', filename='images/图片处理/u2652.svg') }}"/>
          <div id="u11118_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u11119" class="ax_default icon">
          <img id="u11119_img" class="img " src="{{ url_for('static', filename='images/图片处理/u2663.svg') }}"/>
          <div id="u11119_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- 爬虫 (Group) -->
      <div id="u11120" class="ax_default" data-label="爬虫" data-left="19" data-top="408" data-width="45" data-height="42" layer-opacity="1">

        <!-- Unnamed (Ellipse) -->
        <div id="u11121" class="ax_default ellipse">
          <img id="u11121_img" class="img " src="{{ url_for('static', filename='images/图片处理/u2652.svg') }}"/>
          <div id="u11121_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u11122" class="ax_default icon">
          <img id="u11122_img" class="img " src="{{ url_for('static', filename='images/图片处理/u2666.svg') }}"/>
          <div id="u11122_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u11123" class="ax_default icon">
        <img id="u11123_img" class="img " src="{{ url_for('static', filename='images/图片处理/u2667.svg') }}"/>
        <div id="u11123_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u11124" class="ax_default icon">
        <img id="u11124_img" class="img " src="{{ url_for('static', filename='images/加载_1/u11093.svg') }}"/>
        <div id="u11124_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u11125" class="ax_default icon">
        <img id="u11125_img" class="img " src="{{ url_for('static', filename='images/图片处理/u2668.svg') }}"/>
        <div id="u11125_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u11126" class="ax_default icon">
        <img id="u11126_img" class="img " src="{{ url_for('static', filename='images/图片处理/u2669.svg') }}"/>
        <div id="u11126_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- 时间 (Rectangle) -->
      <div id="u11127" class="ax_default label" data-label="时间">
        <div id="u11127_div" class=""></div>
        <div id="u11127_text" class="text ">
          <p><span>Time</span></p>
        </div>
      </div>

      <!-- welcome (Rectangle) -->
      <div id="u11128" class="ax_default _一级标题" data-label="welcome">
        <div id="u11128_div" class=""></div>
        <div id="u11128_text" class="text ">
          <p><span>Help</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11129" class="ax_default button">
        <div id="u11129_div" class=""></div>
        <div id="u11129_text" class="text ">
          <p><span>Back</span></p>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
