<!DOCTYPE html>
<html>
<head>
    <title>帮助信息主页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/帮助信息主页/styles.css') }}" type="text/css" rel="stylesheet"/>

    <script>
        document.oncontextmenu = function (event) {
            event = event || window.event;
            var targetElement = event.target || event.srcElement;
            if (!targetElement) return true;

            if (targetElement.tagName) {
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||
                    targetElement.tagName.toLowerCase() === "textarea") {
                    return true;
                }
            }
            return false;
        }
    </script>
    <script src
                    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/帮助信息主页/data.js') }}"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () {
            return 'resources/images/transparent.gif';
        };
        $axure.utils.getOtherPath = function () {
            return 'resources/Other.html';
        };
        $axure.utils.getReloadPath = function () {
            return 'resources/reload.html';
        };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- 工作区 (Dynamic Panel) -->
    <div id="u10509" class="ax_default" data-label="工作区">
        <div id="u10509_state0" class="panel_state" data-label="State 1" style="">
            <div id="u10509_state0_content" class="panel_state_content">

                <!-- Unnamed (Rectangle) -->
                <div id="u10510" class="ax_default box_1">
                    <div id="u10510_div" class=""></div>
                    <div id="u10510_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u10511" class="ax_default box_1 selected">
                    <div id="u10511_div" class="selected"></div>
                    <div id="u10511_text" class="text ">
                        <p><span>Information</span></p>
                        <p><span>&nbsp; Center</span></p>
                    </div>
                </div>

                <!-- Unnamed (Group) -->
                <div id="u10512" class="ax_default" data-left="21" data-top="78" data-width="58" data-height="58"
                     layer-opacity="1">

                    <!-- Unnamed (Shape) -->
                    <div id="u10513" class="ax_default box_1">
                        <img id="u10513_img" class="img "
                             src="{{ url_for('static', filename='images/帮助信息主页/u10513.svg') }}"/>
                        <div id="u10513_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Shape) -->
                    <div id="u10514" class="ax_default box_1">
                        <img id="u10514_img" class="img "
                             src="{{ url_for('static', filename='images/帮助信息主页/u10514.svg') }}"/>
                        <div id="u10514_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Shape) -->
                    <div id="u10515" class="ax_default box_1">
                        <img id="u10515_img" class="img "
                             src="{{ url_for('static', filename='images/帮助信息主页/u10515.svg') }}"/>
                        <div id="u10515_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Shape) -->
                    <div id="u10516" class="ax_default box_1">
                        <img id="u10516_img" class="img "
                             src="{{ url_for('static', filename='images/帮助信息主页/u10516.svg') }}"/>
                        <div id="u10516_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (Group) -->
                <div id="u10517" class="ax_default" data-left="51" data-top="180" data-width="237" data-height="46"
                     layer-opacity="1">

                    <!-- Unnamed (Shape) -->
                    <div id="u10518" class="ax_default _形状">
                        <img id="u10518_img" class="img "
                             src="{{ url_for('static', filename='images/帮助信息主页/u10518.svg') }}"/>
                        <div id="u10518_text" class="text ">
                            <p><span>&nbsp;1. Introduction</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Group) -->
                    <div id="u10519" class="ax_default" data-left="249" data-top="197" data-width="22" data-height="15"
                         layer-opacity="1">

                        <!-- Unnamed (Shape) -->
                        <div id="u10520" class="ax_default box_1">
                            <img id="u10520_img" class="img "
                                 src="{{ url_for('static', filename='images/帮助信息主页/u10520.svg') }}"/>
                            <div id="u10520_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>

                        <!-- Unnamed (Shape) -->
                        <div id="u10521" class="ax_default box_1">
                            <img id="u10521_img" class="img "
                                 src="{{ url_for('static', filename='images/帮助信息主页/u10521.svg') }}"/>
                            <div id="u10521_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>

                        <!-- Unnamed (Shape) -->
                        <div id="u10522" class="ax_default box_1">
                            <img id="u10522_img" class="img "
                                 src="{{ url_for('static', filename='images/帮助信息主页/u10522.svg') }}"/>
                            <div id="u10522_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (Group) -->
                <div id="u10523" class="ax_default" data-left="51" data-top="244" data-width="236" data-height="46"
                     layer-opacity="1">

                    <!-- Unnamed (Shape) -->
                    <div id="u10524" class="ax_default _形状">
                        <img id="u10524_img" class="img "
                             src="{{ url_for('static', filename='images/帮助信息主页/u10524.svg') }}"/>
                        <div id="u10524_text" class="text ">
                            <p><span>&nbsp;2. Applications</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Group) -->
                    <div id="u10525" class="ax_default" data-left="249" data-top="261" data-width="22" data-height="15"
                         layer-opacity="1">

                        <!-- Unnamed (Shape) -->
                        <div id="u10526" class="ax_default box_1">
                            <img id="u10526_img" class="img "
                                 src="{{ url_for('static', filename='images/帮助信息主页/u10526.svg') }}"/>
                            <div id="u10526_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>

                        <!-- Unnamed (Shape) -->
                        <div id="u10527" class="ax_default box_1">
                            <img id="u10527_img" class="img "
                                 src="{{ url_for('static', filename='images/帮助信息主页/u10527.svg') }}"/>
                            <div id="u10527_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>

                        <!-- Unnamed (Shape) -->
                        <div id="u10528" class="ax_default box_1">
                            <img id="u10528_img" class="img "
                                 src="{{ url_for('static', filename='images/帮助信息主页/u10528.svg') }}"/>
                            <div id="u10528_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (Group) -->
                <div id="u10529" class="ax_default" data-left="51" data-top="308" data-width="236" data-height="46"
                     layer-opacity="1">

                    <!-- Unnamed (Shape) -->
                    <div id="u10530" class="ax_default _形状">
                        <img id="u10530_img" class="img "
                             src="{{ url_for('static', filename='images/帮助信息主页/u10524.svg') }}"/>
                        <div id="u10530_text" class="text ">
                            <p><span>&nbsp;3. F&amp;Q</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Group) -->
                    <div id="u10531" class="ax_default" data-left="249" data-top="325" data-width="22" data-height="15"
                         layer-opacity="1">

                        <!-- Unnamed (Shape) -->
                        <div id="u10532" class="ax_default box_1">
                            <img id="u10532_img" class="img "
                                 src="{{ url_for('static', filename='images/帮助信息主页/u10526.svg') }}"/>
                            <div id="u10532_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>

                        <!-- Unnamed (Shape) -->
                        <div id="u10533" class="ax_default box_1">
                            <img id="u10533_img" class="img "
                                 src="{{ url_for('static', filename='images/帮助信息主页/u10527.svg') }}"/>
                            <div id="u10533_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>

                        <!-- Unnamed (Shape) -->
                        <div id="u10534" class="ax_default box_1">
                            <img id="u10534_img" class="img "
                                 src="{{ url_for('static', filename='images/帮助信息主页/u10528.svg') }}"/>
                            <div id="u10534_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 简介-详细介绍 (Dynamic Panel) -->
                <div id="u10535" class="ax_default ax_default_hidden" data-label="简介-详细介绍"
                     style="display:none; visibility: hidden">
                    <div id="u10535_state0" class="panel_state" data-label="State 1" style="">
                        <div id="u10535_state0_content" class="panel_state_content">

                            <!-- Unnamed (Shape) -->
                            <div id="u10536" class="ax_default _形状">
                                <img id="u10536_img" class="img "
                                     src="{{ url_for('static', filename='images/帮助信息主页/u10536.svg') }}"/>
                                <div id="u10536_text" class="text " style="display:none; visibility: hidden">
                                    <p></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10537" class="ax_default _段落">
                                <div id="u10537_div" class=""></div>
                                <div id="u10537_text" class="text ">
                                    <p style="font-size:28px;line-height:normal;"><span
                                            style="font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;font-weight:700;">Introduction</span>
                                    </p>
                                    <p style="font-size:16px;line-height:normal;"><span
                                            style="font-family:'Arial Normal', 'Arial', sans-serif;font-weight:400;"><br></span>
                                    </p>
                                    <p style="font-size:16px;line-height:20px;"><span
                                            style="font-family:'Arial Normal', 'Arial', sans-serif;font-weight:400;">The module introduce the</span>
                                    </p>
                                    <p style="font-size:16px;line-height:20px;"><span
                                            style="font-family:'Arial Normal', 'Arial', sans-serif;font-weight:400;">basics of the program modules to a new user.</span>
                                    </p>
                                </div>
                            </div>

                            <!-- Unnamed (Line) -->
                            <div id="u10538" class="ax_default line">
                                <img id="u10538_img" class="img "
                                     src="{{ url_for('static', filename='images/帮助信息主页/u10538.svg') }}"/>
                                <div id="u10538_text" class="text " style="display:none; visibility: hidden">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 应用-详细介绍 (Dynamic Panel) -->
                <div id="u10539" class="ax_default ax_default_hidden" data-label="应用-详细介绍"
                     style="display:none; visibility: hidden">
                    <div id="u10539_state0" class="panel_state" data-label="State 1" style="">
                        <div id="u10539_state0_content" class="panel_state_content">

                            <!-- Unnamed (Shape) -->
                            <div id="u10540" class="ax_default _形状">
                                <img id="u10540_img" class="img "
                                     src="{{ url_for('static', filename='images/帮助信息主页/u10540.svg') }}"/>
                                <div id="u10540_text" class="text " style="display:none; visibility: hidden">
                                    <p></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10541" class="ax_default _段落">
                                <div id="u10541_div" class=""></div>
                                <div id="u10541_text" class="text ">
                                    <p style="font-size:28px;line-height:normal;"><span
                                            style="font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;font-weight:700;">Applications</span>
                                    </p>
                                    <p style="font-size:16px;line-height:normal;"><span
                                            style="font-family:'Arial Normal', 'Arial', sans-serif;font-weight:400;"><br></span>
                                    </p>
                                    <p style="font-size:16px;line-height:20px;"><span
                                            style="font-family:'Arial Normal', 'Arial', sans-serif;font-weight:400;">The module provides extensive examples of industrial applications for</span>
                                    </p>
                                    <p style="font-size:16px;line-height:20px;"><span
                                            style="font-family:'Arial Normal', 'Arial', sans-serif;font-weight:400;">advanced users</span>
                                    </p>
                                </div>
                            </div>

                            <!-- Unnamed (Line) -->
                            <div id="u10542" class="ax_default line">
                                <img id="u10542_img" class="img "
                                     src="{{ url_for('static', filename='images/帮助信息主页/u10542.svg') }}"/>
                                <div id="u10542_text" class="text " style="display:none; visibility: hidden">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 常见问题-详细介绍 (Dynamic Panel) -->
                <div id="u10543" class="ax_default ax_default_hidden" data-label="常见问题-详细介绍"
                     style="display:none; visibility: hidden">
                    <div id="u10543_state0" class="panel_state" data-label="State 1" style="">
                        <div id="u10543_state0_content" class="panel_state_content">

                            <!-- Unnamed (Shape) -->
                            <div id="u10544" class="ax_default _形状">
                                <img id="u10544_img" class="img "
                                     src="{{ url_for('static', filename='images/帮助信息主页/u10544.svg') }}"/>
                                <div id="u10544_text" class="text " style="display:none; visibility: hidden">
                                    <p></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10545" class="ax_default _段落">
                                <div id="u10545_div" class=""></div>
                                <div id="u10545_text" class="text ">
                                    <p style="font-size:28px;line-height:normal;"><span
                                            style="font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;font-weight:700;">F&amp;Q</span>
                                    </p>
                                    <p style="font-size:16px;line-height:normal;"><span
                                            style="font-family:'Arial Normal', 'Arial', sans-serif;font-weight:400;"><br></span>
                                    </p>
                                    <p style="font-size:16px;line-height:20px;"><span
                                            style="font-family:'Arial Normal', 'Arial', sans-serif;font-weight:400;">The module provides documentation, answers to frequently asked questions (FAQ) and lists of</span>
                                    </p>
                                    <p style="font-size:16px;line-height:20px;"><span
                                            style="font-family:'Arial Normal', 'Arial', sans-serif;font-weight:400;">useful addresses and telephone numbers.</span>
                                    </p>
                                </div>
                            </div>

                            <!-- Unnamed (Line) -->
                            <div id="u10546" class="ax_default line">
                                <img id="u10546_img" class="img "
                                     src="{{ url_for('static', filename='images/帮助信息主页/u10546.svg') }}"/>
                                <div id="u10546_text" class="text " style="display:none; visibility: hidden">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (Line) -->
                <div id="u10547" class="ax_default line">
                    <img id="u10547_img" class="img "
                         src="{{ url_for('static', filename='images/帮助信息主页/u10547.svg') }}"/>
                    <div id="u10547_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u10548" class="ax_default link_button">
                    <div id="u10548_div" class=""></div>
                    <div id="u10548_text" class="text ">
                        <p><span>Back</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 左侧一级菜单 (Dynamic Panel) -->
    <div id="u10549" class="ax_default" data-label="左侧一级菜单">
        <div id="u10549_state0" class="panel_state" data-label="框架" style="">
            <div id="u10549_state0_content" class="panel_state_content">

                <!-- Unnamed (Rectangle) -->
                <div id="u10550" class="ax_default box_1 selected" selectiongroup="一级分类">
                    <img id="u10550_img" class="img " src="{{ url_for('static', filename='images/模板_1/u19.svg') }}"/>
                    <div id="u10550_text" class="text ">
                        <p><span>Database</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u10551" class="ax_default box_1" selectiongroup="一级分类">
                    <img id="u10551_img" class="img " src="{{ url_for('static', filename='images/模板_1/u20.svg') }}"/>
                    <div id="u10551_text" class="text ">
                        <p><span>Calculate</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u10552" class="ax_default box_1" selectiongroup="一级分类">
                    <img id="u10552_img" class="img "
                         src="{{ url_for('static', filename='images/模板/manipulate_u65.svg') }}"/>
                    <div id="u10552_text" class="text ">
                        <p><span>Manipulate</span></p>
                    </div>
                </div>

                <!-- 三角形 (Shape) -->
                <div id="u10553" class="ax_default box_1" data-label="三角形">
                    <img id="u10553_img" class="img "
                         src="{{ url_for('static', filename='images/模板_1/三角形_u22.svg') }}"/>
                    <div id="u10553_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- 化学 (Group) -->
                <div id="u10554" class="ax_default" data-label="化学" data-left="6" data-top="121" data-width="30"
                     data-height="28" layer-opacity="1">

                    <!-- Unnamed (Ellipse) -->
                    <div id="u10555" class="ax_default ellipse">
                        <img id="u10555_img" class="img "
                             src="{{ url_for('static', filename='images/模板_1/u24.svg') }}"/>
                        <div id="u10555_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Shape) -->
                    <div id="u10556" class="ax_default icon">
                        <img id="u10556_img" class="img "
                             src="{{ url_for('static', filename='images/模板_1/u25.svg') }}"/>
                        <div id="u10556_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>

                <!-- 数据库 (Group) -->
                <div id="u10557" class="ax_default" data-label="数据库" data-left="6" data-top="14" data-width="31"
                     data-height="29" layer-opacity="1">

                    <!-- Unnamed (Ellipse) -->
                    <div id="u10558" class="ax_default ellipse">
                        <img id="u10558_img" class="img "
                             src="{{ url_for('static', filename='images/模板_1/u27.svg') }}"/>
                        <div id="u10558_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Shape) -->
                    <div id="u10559" class="ax_default icon">
                        <img id="u10559_img" class="img "
                             src="{{ url_for('static', filename='images/模板_1/u28.svg') }}"/>
                        <div id="u10559_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>

                <!-- Least Square (Group) -->
                <div id="u10560" class="ax_default" data-label="Least Square" data-left="8" data-top="68"
                     data-width="29" data-height="27" layer-opacity="1">

                    <!-- Unnamed (Ellipse) -->
                    <div id="u10561" class="ax_default ellipse">
                        <img id="u10561_img" class="img "
                             src="{{ url_for('static', filename='images/模板_1/u30.svg') }}"/>
                        <div id="u10561_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Shape) -->
                    <div id="u10562" class="ax_default icon">
                        <img id="u10562_img" class="img "
                             src="{{ url_for('static', filename='images/模板_1/u31.svg') }}"/>
                        <div id="u10562_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 背景 (Dynamic Panel) -->
    <div id="u10563" class="ax_default" data-label="背景">
        <div id="u10563_state0" class="panel_state" data-label="1" style="">
            <div id="u10563_state0_content" class="panel_state_content">
            </div>
        </div>
        <div id="u10563_state1" class="panel_state" data-label="2" style="visibility: hidden;">
            <div id="u10563_state1_content" class="panel_state_content">
            </div>
        </div>
        <div id="u10563_state2" class="panel_state" data-label="3" style="visibility: hidden;">
            <div id="u10563_state2_content" class="panel_state_content">
            </div>
        </div>
        <div id="u10563_state3" class="panel_state" data-label="4" style="visibility: hidden;">
            <div id="u10563_state3_content" class="panel_state_content">
            </div>
        </div>
        <div id="u10563_state4" class="panel_state" data-label="5" style="visibility: hidden;">
            <div id="u10563_state4_content" class="panel_state_content">
            </div>
        </div>
        <div id="u10563_state5" class="panel_state" data-label="6" style="visibility: hidden;">
            <div id="u10563_state5_content" class="panel_state_content">
            </div>
        </div>
        <div id="u10563_state6" class="panel_state" data-label="7" style="visibility: hidden;">
            <div id="u10563_state6_content" class="panel_state_content">
            </div>
        </div>
        <div id="u10563_state7" class="panel_state" data-label="8" style="visibility: hidden;">
            <div id="u10563_state7_content" class="panel_state_content">
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u10564" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u10565" class="ax_default box_1">
            <img id="u10565_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
            <div id="u10565_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u10566" class="ax_default box_1">
            <img id="u10566_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
            <div id="u10566_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u10567" class="ax_default box_1 selected">
        <div id="u10567_div" class="selected"></div>
        <div id="u10567_text" class="text ">
            <p><span>Information</span></p>
        </div>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u10568" class="ax_default box_1">
        <img id="u10568_img" class="img " src="{{ url_for('static', filename='images/模板_1/u37.svg') }}"/>
        <div id="u10568_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u10569" class="ax_default box_1" title="常用菜单">
        <img id="u10569_img" class="img " src="{{ url_for('static', filename='images/模板_1/u38.svg') }}"/>
        <div id="u10569_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u10570" class="ax_default box_1" title="更换皮肤">
        <img id="u10570_img" class="img " src="{{ url_for('static', filename='images/模板_1/u39.svg') }}"/>
        <div id="u10570_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u10571" class="ax_default box_1">
        <img id="u10571_img" class="img " src="{{ url_for('static', filename='images/模板_1/u40.svg') }}"/>
        <div id="u10571_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u10572" class="ax_default box_1" title="退出登录">
        <img id="u10572_img" class="img " src="{{ url_for('static', filename='images/模板_1/u41.svg') }}"/>
        <div id="u10572_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u10573" class="ax_default box_1" title="系统消息">
        <img id="u10573_img" class="img " src="{{ url_for('static', filename='images/模板_1/u38.svg') }}"/>
        <div id="u10573_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u10574" class="ax_default icon">
        <img id="u10574_img" class="img " src="{{ url_for('static', filename='images/模板_1/u43.svg') }}"/>
        <div id="u10574_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- 左侧二级菜单 (Dynamic Panel) -->
    <div id="u10575" class="ax_default" data-label="左侧二级菜单">
        <div id="u10575_state0" class="panel_state" data-label="框架" style="">
            <div id="u10575_state0_content" class="panel_state_content">

                <!-- 二级菜单 (Dynamic Panel) -->
                <div id="u10576" class="ax_default" data-label="二级菜单">
                    <div id="u10576_state0" class="panel_state" data-label="Database" style="">
                        <div id="u10576_state0_content" class="panel_state_content">

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10577" class="ax_default box_1" selectiongroup="二级菜单">
                                <div id="u10577_div" class=""></div>
                                <div id="u10577_text" class="text ">
                                    <p><span>&#149; View Data</span></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10578" class="ax_default box_1" selectiongroup="二级菜单">
                                <div id="u10578_div" class=""></div>
                                <div id="u10578_text" class="text ">
                                    <p><span>&#149; Compound</span></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10579" class="ax_default box_1" selectiongroup="二级菜单">
                                <div id="u10579_div" class=""></div>
                                <div id="u10579_text" class="text ">
                                    <p><span>&#149; Solution</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="u10576_state1" class="panel_state" data-label="Calculate" style="visibility: hidden;">
                        <div id="u10576_state1_content" class="panel_state_content">

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10580" class="ax_default box_1" selectiongroup="二级菜单">
                                <div id="u10580_div" class=""></div>
                                <div id="u10580_text" class="text ">
                                    <p><span>&#149; Reaction</span></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10581" class="ax_default box_1" selectiongroup="二级菜单">
                                <div id="u10581_div" class=""></div>
                                <div id="u10581_text" class="text ">
                                    <p><span>&#149; Equilib</span></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10582" class="ax_default box_1" selectiongroup="二级菜单">
                                <div id="u10582_div" class=""></div>
                                <div id="u10582_text" class="text ">
                                    <p><span>&#149; Phase Diagram</span></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10583" class="ax_default box_1" selectiongroup="二级菜单">
                                <div id="u10583_div" class=""></div>
                                <div id="u10583_text" class="text ">
                                    <p><span>&#149; Predom</span></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10584" class="ax_default box_1" selectiongroup="二级菜单">
                                <div id="u10584_div" class=""></div>
                                <div id="u10584_text" class="text ">
                                    <p><span>&#149; EpH</span></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10585" class="ax_default box_1" selectiongroup="二级菜单">
                                <div id="u10585_div" class=""></div>
                                <div id="u10585_text" class="text ">
                                    <p><span>&#149; Optimize</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="u10576_state2" class="panel_state" data-label="Manipulate" style="visibility: hidden;">
                        <div id="u10576_state2_content" class="panel_state_content">

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10586" class="ax_default box_1 selected" selectiongroup="二级菜单">
                                <div id="u10586_div" class="selected"></div>
                                <div id="u10586_text" class="text ">
                                    <p><span>&#149; Results</span></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10587" class="ax_default box_1" selectiongroup="二级菜单">
                                <div id="u10587_div" class=""></div>
                                <div id="u10587_text" class="text ">
                                    <p><span>&#149; Mixture</span></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10588" class="ax_default box_1" selectiongroup="二级菜单">
                                <div id="u10588_div" class=""></div>
                                <div id="u10588_text" class="text ">
                                    <p><span>&#149; View Figure</span></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10589" class="ax_default box_1" selectiongroup="二级菜单">
                                <div id="u10589_div" class=""></div>
                                <div id="u10589_text" class="text ">
                                    <p><span>&#149; Figure</span></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10590" class="ax_default box_1" selectiongroup="二级菜单">
                                <div id="u10590_div" class=""></div>
                                <div id="u10590_text" class="text ">
                                    <p><span>&#149; Reset</span></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10591" class="ax_default box_1" selectiongroup="二级菜单">
                                <div id="u10591_div" class=""></div>
                                <div id="u10591_text" class="text ">
                                    <p><span>&#149; Quit</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
</body>
</html>
