<!DOCTYPE html>
<html>
  <head>
    <title>应用示例-图像处理文档</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/应用示例-图像处理文档/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/应用示例-图像处理文档/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u11419" class="ax_default box_1">
        <div id="u11419_div" class=""></div>
        <div id="u11419_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11420" class="ax_default _二级标题">
        <div id="u11420_div" class=""></div>
        <div id="u11420_text" class="text ">
          <p><span>图像处理</span></p>
        </div>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u11421" class="ax_default line">
        <img id="u11421_img" class="img " src="{{ url_for('static', filename='images/应用示例-数据库文档/u11375.svg') }}"/>
        <div id="u11421_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11422" class="ax_default _三级标题">
        <div id="u11422_div" class=""></div>
        <div id="u11422_text" class="text ">
          <p><span>说明</span></p>
        </div>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u11423" class="ax_default line">
        <img id="u11423_img" class="img " src="{{ url_for('static', filename='images/应用示例-数据库文档/u11377.svg') }}"/>
        <div id="u11423_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11424" class="ax_default _段落">
        <div id="u11424_div" class=""></div>
        <div id="u11424_text" class="text ">
          <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11425" class="ax_default _三级标题">
        <div id="u11425_div" class=""></div>
        <div id="u11425_text" class="text ">
          <p><span>示例</span></p>
        </div>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u11426" class="ax_default line">
        <img id="u11426_img" class="img " src="{{ url_for('static', filename='images/应用示例-数据库文档/u11377.svg') }}"/>
        <div id="u11426_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11427" class="ax_default link_button">
        <div id="u11427_div" class=""></div>
        <div id="u11427_text" class="text ">
          <p><span>-示例1</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11428" class="ax_default link_button">
        <div id="u11428_div" class=""></div>
        <div id="u11428_text" class="text ">
          <p><span>-示例2</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11429" class="ax_default _三级标题">
        <div id="u11429_div" class=""></div>
        <div id="u11429_text" class="text ">
          <p><span>示例1</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11430" class="ax_default box_1">
        <div id="u11430_div" class=""></div>
        <div id="u11430_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11431" class="ax_default _段落">
        <div id="u11431_div" class=""></div>
        <div id="u11431_text" class="text ">
          <p><span>任务说明</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11432" class="ax_default box_1">
        <div id="u11432_div" class=""></div>
        <div id="u11432_text" class="text ">
          <p><span>操作指引</span></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u11433" class="ax_default image">
        <img id="u11433_img" class="img " src="{{ url_for('static', filename='images/应用示例-数据库文档/u11387.svg') }}"/>
        <div id="u11433_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11434" class="ax_default link_button">
        <div id="u11434_div" class=""></div>
        <div id="u11434_text" class="text ">
          <p><span>返回示例</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11435" class="ax_default box_1">
        <div id="u11435_div" class=""></div>
        <div id="u11435_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11436" class="ax_default _三级标题">
        <div id="u11436_div" class=""></div>
        <div id="u11436_text" class="text ">
          <p><span>示例2</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11437" class="ax_default box_1">
        <div id="u11437_div" class=""></div>
        <div id="u11437_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11438" class="ax_default _段落">
        <div id="u11438_div" class=""></div>
        <div id="u11438_text" class="text ">
          <p><span>任务说明</span></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u11439" class="ax_default image">
        <img id="u11439_img" class="img " src="{{ url_for('static', filename='images/应用示例-数据库文档/u11387.svg') }}"/>
        <div id="u11439_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11440" class="ax_default link_button">
        <div id="u11440_div" class=""></div>
        <div id="u11440_text" class="text ">
          <p><span>返回示例</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11441" class="ax_default box_1">
        <div id="u11441_div" class=""></div>
        <div id="u11441_text" class="text ">
          <p><span>操作指引</span></p>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
