<!DOCTYPE html>
<html>
<head>
    <title>忘记密码2</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/忘记密码2/styles.css') }}" type="text/css" rel="stylesheet"/>

    <script>
        document.oncontextmenu = function (event) {
            event = event || window.event;
            var targetElement = event.target || event.srcElement;
            if (!targetElement) return true;

            if (targetElement.tagName) {
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||
                    targetElement.tagName.toLowerCase() === "textarea") {
                    return true;
                }
            }
            return false;
        }
    </script>
    <script src
                    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/忘记密码2/data.js') }}"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () {
            return 'resources/images/transparent.gif';
        };
        $axure.utils.getOtherPath = function () {
            return 'resources/Other.html';
        };
        $axure.utils.getReloadPath = function () {
            return 'resources/reload.html';
        };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- 背景 (Dynamic Panel) -->
    <div id="u10364" class="ax_default" data-label="背景">
        <div id="u10364_state0" class="panel_state" data-label="State1" style="">
            <div id="u10364_state0_content" class="panel_state_content">
            </div>
        </div>
    </div>

    <!-- 登录面板 (Dynamic Panel) -->
    <div id="u10365" class="ax_default" data-label="登录面板">
        <div id="u10365_state0" class="panel_state" data-label="State1" style="">
            <div id="u10365_state0_content" class="panel_state_content">

                <!-- Unnamed (Rectangle) -->
                <div id="u10366" class="ax_default box_1">
                    <div id="u10366_div" class=""></div>
                    <div id="u10366_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u10367" class="ax_default box_1">
                    <div id="u10367_div" class=""></div>
                    <div id="u10367_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- 登录按纽 (Rectangle) -->
                <div id="u10368" class="ax_default box_1" data-label="登录按纽" selectiongroup="按纽组-9">
                    <div id="u10368_div" class=""></div>
                    <div id="u10368_text" class="text ">
                        <p><span>Continue</span></p>
                    </div>
                </div>

                <!-- 输入框 (Group) -->
                <div id="u10369" class="ax_default" data-label="输入框" data-left="25" data-top="175" data-width="300"
                     data-height="50" layer-opacity="1">

                    <!-- 边框 (Rectangle) -->
                    <div id="u10370" class="ax_default box_1" data-label="边框">
                        <img id="u10370_img" class="img "
                             src="{{ url_for('static', filename='images/登录页/边框_u10273.svg') }}"/>
                        <div id="u10370_text" class="text ">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- 密码 (Text Field) -->
                    <div id="u10371" class="ax_default box_1" data-label="密码">
                        <div id="u10371_div" class=""></div>
                        <input id="u10371_input" type="password" value="" class="u10371_input" maxlength="20"/>
                    </div>
                </div>

                <!-- 输入框 (Group) -->
                <div id="u10372" class="ax_default" data-label="输入框" data-left="0" data-top="0" data-width="0"
                     data-height="0" layer-opacity="1">

                    <!-- 清除2 (Shape) -->
                    <div id="u10373" class="ax_default box_1 ax_default_hidden" data-label="清除2"
                         style="display:none; visibility: hidden">
                        <img id="u10373_img" class="img "
                             src="{{ url_for('static', filename='images/登录页/清除1_u10277.svg') }}"/>
                        <div id="u10373_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u10374" class="ax_default box_1">
                    <img id="u10374_img" class="img "
                         src="{{ url_for('static', filename='images/登录页/u10280.svg') }}"/>
                    <div id="u10374_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- 警告提示 (Dynamic Panel) -->
                <div id="u10375" class="ax_default ax_default_hidden" data-label="警告提示"
                     style="display:none; visibility: hidden">
                    <div id="u10375_state0" class="panel_state" data-label="密码不一致" style="">
                        <div id="u10375_state0_content" class="panel_state_content">

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10376" class="ax_default box_1">
                                <div id="u10376_div" class=""></div>
                                <div id="u10376_text" class="text ">
                                    <p><span>Password does not match!</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="u10375_state1" class="panel_state" data-label="请正确填写登录密码"
                         style="visibility: hidden;">
                        <div id="u10375_state1_content" class="panel_state_content">

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10377" class="ax_default box_1">
                                <div id="u10377_div" class=""></div>
                                <div id="u10377_text" class="text ">
                                    <p><span>Password must be at least 6 characters long!</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u10378" class="ax_default _一级标题">
                    <div id="u10378_div" class=""></div>
                    <div id="u10378_text" class="text ">
                        <p><span>Please set password</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u10379" class="ax_default label ax_default_hidden" style="display:none; visibility: hidden">
                    <div id="u10379_div" class=""></div>
                    <div id="u10379_text" class="text ">
                        <p><span>CapsLk</span></p>
                    </div>
                </div>

                <!-- 输入框 (Group) -->
                <div id="u10380" class="ax_default" data-label="输入框" data-left="25" data-top="108" data-width="300"
                     data-height="50" layer-opacity="1">

                    <!-- 边框 (Rectangle) -->
                    <div id="u10381" class="ax_default box_1" data-label="边框">
                        <img id="u10381_img" class="img "
                             src="{{ url_for('static', filename='images/登录页/边框_u10273.svg') }}"/>
                        <div id="u10381_text" class="text ">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- 密码 (Text Field) -->
                    <div id="u10382" class="ax_default box_1" data-label="密码">
                        <div id="u10382_div" class=""></div>
                        <input id="u10382_input" type="password" value="" class="u10382_input" maxlength="20"/>
                    </div>
                </div>

                <!-- 输入框 (Group) -->
                <div id="u10383" class="ax_default" data-label="输入框" data-left="0" data-top="0" data-width="0"
                     data-height="0" layer-opacity="1">

                    <!-- 清除2 (Shape) -->
                    <div id="u10384" class="ax_default box_1 ax_default_hidden" data-label="清除2"
                         style="display:none; visibility: hidden">
                        <img id="u10384_img" class="img "
                             src="{{ url_for('static', filename='images/登录页/清除1_u10277.svg') }}"/>
                        <div id="u10384_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u10385" class="ax_default box_1">
                    <img id="u10385_img" class="img "
                         src="{{ url_for('static', filename='images/登录页/u10280.svg') }}"/>
                    <div id="u10385_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u10386" class="ax_default link_button">
                    <div id="u10386_div" class=""></div>
                    <div id="u10386_text" class="text ">
                        <p><span>Back</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
</body>
</html>
