<!DOCTYPE html>
<html>
<head>
    <title>打开文件</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/打开文件/styles.css') }}" type="text/css" rel="stylesheet"/>

    <script>
        document.oncontextmenu = function (event) {
            event = event || window.event;
            var targetElement = event.target || event.srcElement;
            if (!targetElement) return true;

            if (targetElement.tagName) {
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||
                    targetElement.tagName.toLowerCase() === "textarea") {
                    return true;
                }
            }
            return false;
        }
    </script>
    <script src
                    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/打开文件/data.js') }}"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () {
            return 'resources/images/transparent.gif';
        };
        $axure.utils.getOtherPath = function () {
            return 'resources/Other.html';
        };
        $axure.utils.getReloadPath = function () {
            return 'resources/reload.html';
        };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- Unnamed (Group) -->
    <div id="u1649" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="407"
         data-top="353" data-width="545" data-height="491" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u1650" class="ax_default box_1">
            <div id="u1650_div" class=""></div>
            <div id="u1650_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u1651" class="ax_default text_field">
            <img id="u1651_img" class="img " src="{{ url_for('static', filename='images/结果/u486.svg') }}"/>
            <input id="u1651_input" type="text" value="Create a new FactSage Commpound DataBase" class="u1651_input"
                   readonly/>
        </div>

        <!-- Unnamed (Droplist) -->
        <div id="u1652" class="ax_default droplist">
            <div id="u1652_div" class=""></div>
            <select id="u1652_input" class="u1652_input">
                <option class="u1652_input_option" selected value="USERDATA">USERDATA</option>
                <option class="u1652_input_option" value="BINSBASE">BINSBASE</option>
                <option class="u1652_input_option" value="ELEMBASE  ">ELEMBASE&nbsp;</option>
                <option class="u1652_input_option" value="FACT53BASE  ">FACT53BASE&nbsp;</option>
                <option class="u1652_input_option" value="FACTBASE">FACTBASE</option>
                <option class="u1652_input_option" value="FScoppBASE">FScoppBASE</option>
                <option class="u1652_input_option" value="FSleadBASE">FSleadBASE</option>
                <option class="u1652_input_option" value="FSliteBASE">FSliteBASE</option>
                <option class="u1652_input_option" value="FSnoblBASE">FSnoblBASE</option>
                <option class="u1652_input_option" value="FSstelBASE">FSstelBASE</option>
                <option class="u1652_input_option" value="FSupsiBASE">FSupsiBASE</option>
                <option class="u1652_input_option" value="FThallBASE">FThallBASE</option>
                <option class="u1652_input_option" value="FThelgBASE">FThelgBASE</option>
                <option class="u1652_input_option" value="FTliBASE">FTliBASE</option>
                <option class="u1652_input_option" value="FTliteBASE">FTliteBASE</option>
                <option class="u1652_input_option" value="FTmiscBASE">FTmiscBASE</option>
                <option class="u1652_input_option" value="FToxidBASE">FToxidBASE</option>
                <option class="u1652_input_option" value="FTpulpBASE">FTpulpBASE</option>
                <option class="u1652_input_option" value="FTsaltBASE">FTsaltBASE</option>
            </select>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u1653" class="ax_default" data-left="830" data-top="394" data-width="96" data-height="25"
             layer-opacity="1">

            <!-- Unnamed (Group) -->
            <div id="u1654" class="ax_default" data-left="830" data-top="401" data-width="19" data-height="13"
                 layer-opacity="1">

                <!-- Unnamed (Shape) -->
                <div id="u1655" class="ax_default _形状">
                    <img id="u1655_img" class="img " src="{{ url_for('static', filename='images/结果/u490.svg') }}"/>
                    <div id="u1655_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u1656" class="ax_default _形状">
                    <img id="u1656_img" class="img " src="{{ url_for('static', filename='images/结果/u491.svg') }}"/>
                    <div id="u1656_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u1657" class="ax_default _形状">
                    <img id="u1657_img" class="img " src="{{ url_for('static', filename='images/结果/u492.svg') }}"/>
                    <div id="u1657_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u1658" class="ax_default" data-left="904" data-top="398" data-width="22" data-height="20"
                 layer-opacity="1">

                <!-- Unnamed (Shape) -->
                <div id="u1659" class="ax_default _形状">
                    <img id="u1659_img" class="img " src="{{ url_for('static', filename='images/结果/u494.svg') }}"/>
                    <div id="u1659_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u1660" class="ax_default _形状">
                    <img id="u1660_img" class="img " src="{{ url_for('static', filename='images/结果/u495.svg') }}"/>
                    <div id="u1660_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u1661" class="ax_default _形状">
                <img id="u1661_img" class="img " src="{{ url_for('static', filename='images/结果/u496.svg') }}"/>
                <div id="u1661_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u1662" class="ax_default _形状">
                <img id="u1662_img" class="img " src="{{ url_for('static', filename='images/结果/u497.svg') }}"/>
                <div id="u1662_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u1663" class="ax_default _形状">
                <img id="u1663_img" class="img " src="{{ url_for('static', filename='images/结果/u498.svg') }}"/>
                <div id="u1663_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u1664" class="ax_default _形状">
                <img id="u1664_img" class="img " src="{{ url_for('static', filename='images/结果/u499.svg') }}"/>
                <div id="u1664_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u1665" class="ax_default _形状">
                <img id="u1665_img" class="img " src="{{ url_for('static', filename='images/结果/u500.svg') }}"/>
                <div id="u1665_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u1666" class="ax_default _形状">
                <img id="u1666_img" class="img " src="{{ url_for('static', filename='images/结果/u501.svg') }}"/>
                <div id="u1666_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1667" class="ax_default box_1">
            <div id="u1667_div" class=""></div>
            <div id="u1667_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u1668" class="ax_default text_field">
            <div id="u1668_div" class=""></div>
            <input id="u1668_input" type="text" value="Save as type:" class="u1668_input" readonly/>
        </div>

        <!-- Unnamed (Droplist) -->
        <div id="u1669" class="ax_default droplist">
            <div id="u1669_div" class=""></div>
            <select id="u1669_input" class="u1669_input">
                <option class="u1669_input_option" selected value="ExampleBASE.CBD">ExampleBASE.CBD</option>
            </select>
        </div>

        <!-- Unnamed (Droplist) -->
        <div id="u1670" class="ax_default droplist">
            <div id="u1670_div" class=""></div>
            <select id="u1670_input" class="u1670_input">
                <option class="u1670_input_option" selected value="Fact-Win Compound DataBase[*.CBD]">Fact-Win Compound
                    DataBase[*.CBD]
                </option>
            </select>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u1671" class="ax_default text_field">
            <div id="u1671_div" class=""></div>
            <input id="u1671_input" type="text" value="Save" class="u1671_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u1672" class="ax_default text_field">
            <div id="u1672_div" class=""></div>
            <input id="u1672_input" type="text" value="Cancel" class="u1672_input" readonly/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1673" class="ax_default _段落">
            <div id="u1673_div" class=""></div>
            <div id="u1673_text" class="text ">
                <p><span>Save in:</span></p>
            </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u1674" class="ax_default text_field">
            <div id="u1674_div" class=""></div>
            <input id="u1674_input" type="text" value="File name:" class="u1674_input" readonly/>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
</body>
</html>
