<!DOCTYPE html>
<html>
  <head>
    <title>混合物</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/混合物/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/混合物/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u632" class="ax_default box_1">
        <div id="u632_div" class=""></div>
        <div id="u632_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u633" class="ax_default box_1">
        <div id="u633_div" class=""></div>
        <div id="u633_text" class="text ">
          <p><span>&nbsp;Mixture and Streams</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u634" class="ax_default box_1">
        <div id="u634_div" class=""></div>
        <div id="u634_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u635" class="ax_default button">
        <img id="u635_img" class="img " src="{{ url_for('static', filename='images/混合物/u635.svg') }}"/>
        <div id="u635_text" class="text ">
          <p><span>File</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u636" class="ax_default button">
        <img id="u636_img" class="img " src="{{ url_for('static', filename='images/混合物/u635.svg') }}"/>
        <div id="u636_text" class="text ">
          <p><span>Edit</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u637" class="ax_default button">
        <img id="u637_img" class="img " src="{{ url_for('static', filename='images/混合物/u635.svg') }}"/>
        <div id="u637_text" class="text ">
          <p><span>Units</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u638" class="ax_default button">
        <img id="u638_img" class="img " src="{{ url_for('static', filename='images/混合物/u635.svg') }}"/>
        <div id="u638_text" class="text ">
          <p><span>Help</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u639" class="ax_default button">
        <img id="u639_img" class="img " src="{{ url_for('static', filename='images/混合物/u635.svg') }}"/>
        <div id="u639_text" class="text ">
          <p><span>Table</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u640" class="ax_default button">
        <img id="u640_img" class="img " src="{{ url_for('static', filename='images/混合物/u640.svg') }}"/>
        <div id="u640_text" class="text ">
          <p><span>Data Search</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u641" class="ax_default button">
        <img id="u641_img" class="img " src="{{ url_for('static', filename='images/混合物/u641.svg') }}"/>
        <div id="u641_text" class="text ">
          <p><span>Mixture or Stream</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u642" class="ax_default" data-left="13" data-top="55" data-width="29" data-height="25" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u643" class="ax_default box_1">
          <div id="u643_div" class=""></div>
          <div id="u643_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (File) -->
        <div id="u644" class="ax_default flow_shape">
          <img id="u644_img" class="img " src="{{ url_for('static', filename='images/混合物/u644.svg') }}"/>
          <div id="u644_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u645" class="ax_default" data-left="42" data-top="55" data-width="29" data-height="25" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u646" class="ax_default box_1">
          <div id="u646_div" class=""></div>
          <div id="u646_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u647" class="ax_default icon">
          <img id="u647_img" class="img " src="{{ url_for('static', filename='images/混合物/u647.svg') }}"/>
          <div id="u647_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u648" class="ax_default" data-left="72" data-top="55" data-width="29" data-height="25" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u649" class="ax_default box_1">
          <div id="u649_div" class=""></div>
          <div id="u649_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u650" class="ax_default icon">
          <img id="u650_img" class="img " src="{{ url_for('static', filename='images/混合物/u650.svg') }}"/>
          <div id="u650_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u651" class="ax_default" data-left="140" data-top="55" data-width="29" data-height="25" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u652" class="ax_default box_1">
          <div id="u652_div" class=""></div>
          <div id="u652_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u653" class="ax_default icon">
          <img id="u653_img" class="img " src="{{ url_for('static', filename='images/混合物/u653.svg') }}"/>
          <div id="u653_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u654" class="ax_default box_1">
        <div id="u654_div" class=""></div>
        <div id="u654_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u655" class="ax_default _三级标题">
        <div id="u655_div" class=""></div>
        <div id="u655_text" class="text ">
          <p><span>Mass(mol)</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u656" class="ax_default _三级标题">
        <div id="u656_div" class=""></div>
        <div id="u656_text" class="text ">
          <p><span>Species</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u657" class="ax_default _三级标题">
        <div id="u657_div" class=""></div>
        <div id="u657_text" class="text ">
          <p><span>Phase</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u658" class="ax_default _三级标题">
        <div id="u658_div" class=""></div>
        <div id="u658_text" class="text ">
          <p><span>T(K)</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u659" class="ax_default _三级标题">
        <div id="u659_div" class=""></div>
        <div id="u659_text" class="text ">
          <p><span>P(total)</span></p>
        </div>
      </div>

      <!-- Unnamed (Dynamic Panel) -->
      <div id="u660" class="ax_default">
        <div id="u660_state0" class="panel_state" data-label="状态 1" style="">
          <div id="u660_state0_content" class="panel_state_content">

            <!-- Unnamed (Text Field) -->
            <div id="u661" class="ax_default text_field">
              <div id="u661_div" class=""></div>
              <input id="u661_input" type="text" value="" class="u661_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u662" class="ax_default text_field">
              <div id="u662_div" class=""></div>
              <input id="u662_input" type="text" value="" class="u662_input"/>
            </div>

            <!-- Unnamed (Droplist) -->
            <div id="u663" class="ax_default droplist">
              <div id="u663_div" class=""></div>
              <select id="u663_input" class="u663_input">
                <option class="u663_input_option" value=" ">&nbsp;</option>
                <option class="u663_input_option" value="phase1">phase1</option>
                <option class="u663_input_option" value="phase2">phase2</option>
                <option class="u663_input_option" value="phase3">phase3</option>
              </select>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u664" class="ax_default text_field">
              <div id="u664_div" class=""></div>
              <input id="u664_input" type="text" value="" class="u664_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u665" class="ax_default text_field">
              <div id="u665_div" class=""></div>
              <input id="u665_input" type="text" value="" class="u665_input"/>
            </div>
          </div>
        </div>
        <div id="u660_state1" class="panel_state" data-label="状态 2" style="visibility: hidden;">
          <div id="u660_state1_content" class="panel_state_content">

            <!-- Unnamed (Text Field) -->
            <div id="u666" class="ax_default text_field">
              <div id="u666_div" class=""></div>
              <input id="u666_input" type="text" value="" class="u666_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u667" class="ax_default text_field">
              <div id="u667_div" class=""></div>
              <input id="u667_input" type="text" value="" class="u667_input"/>
            </div>

            <!-- Unnamed (Droplist) -->
            <div id="u668" class="ax_default droplist">
              <div id="u668_div" class=""></div>
              <select id="u668_input" class="u668_input">
                <option class="u668_input_option" value=" ">&nbsp;</option>
                <option class="u668_input_option" value="phase1">phase1</option>
                <option class="u668_input_option" value="phase2">phase2</option>
                <option class="u668_input_option" value="phase3">phase3</option>
              </select>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u669" class="ax_default text_field">
              <div id="u669_div" class=""></div>
              <input id="u669_input" type="text" value="" class="u669_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u670" class="ax_default text_field">
              <div id="u670_div" class=""></div>
              <input id="u670_input" type="text" value="" class="u670_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u671" class="ax_default text_field">
              <div id="u671_div" class=""></div>
              <input id="u671_input" type="text" value="" class="u671_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u672" class="ax_default text_field">
              <div id="u672_div" class=""></div>
              <input id="u672_input" type="text" value="" class="u672_input"/>
            </div>

            <!-- Unnamed (Droplist) -->
            <div id="u673" class="ax_default droplist">
              <div id="u673_div" class=""></div>
              <select id="u673_input" class="u673_input">
                <option class="u673_input_option" value=" ">&nbsp;</option>
                <option class="u673_input_option" value="phase1">phase1</option>
                <option class="u673_input_option" value="phase2">phase2</option>
                <option class="u673_input_option" value="phase3">phase3</option>
              </select>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u674" class="ax_default text_field">
              <div id="u674_div" class=""></div>
              <input id="u674_input" type="text" value="" class="u674_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u675" class="ax_default text_field">
              <div id="u675_div" class=""></div>
              <input id="u675_input" type="text" value="" class="u675_input"/>
            </div>
          </div>
        </div>
        <div id="u660_state2" class="panel_state" data-label="状态 3" style="visibility: hidden;">
          <div id="u660_state2_content" class="panel_state_content">

            <!-- Unnamed (Text Field) -->
            <div id="u676" class="ax_default text_field">
              <div id="u676_div" class=""></div>
              <input id="u676_input" type="text" value="" class="u676_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u677" class="ax_default text_field">
              <div id="u677_div" class=""></div>
              <input id="u677_input" type="text" value="" class="u677_input"/>
            </div>

            <!-- Unnamed (Droplist) -->
            <div id="u678" class="ax_default droplist">
              <div id="u678_div" class=""></div>
              <select id="u678_input" class="u678_input">
                <option class="u678_input_option" value=" ">&nbsp;</option>
                <option class="u678_input_option" value="phase1">phase1</option>
                <option class="u678_input_option" value="phase2">phase2</option>
                <option class="u678_input_option" value="phase3">phase3</option>
              </select>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u679" class="ax_default text_field">
              <div id="u679_div" class=""></div>
              <input id="u679_input" type="text" value="" class="u679_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u680" class="ax_default text_field">
              <div id="u680_div" class=""></div>
              <input id="u680_input" type="text" value="" class="u680_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u681" class="ax_default text_field">
              <div id="u681_div" class=""></div>
              <input id="u681_input" type="text" value="" class="u681_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u682" class="ax_default text_field">
              <div id="u682_div" class=""></div>
              <input id="u682_input" type="text" value="" class="u682_input"/>
            </div>

            <!-- Unnamed (Droplist) -->
            <div id="u683" class="ax_default droplist">
              <div id="u683_div" class=""></div>
              <select id="u683_input" class="u683_input">
                <option class="u683_input_option" value=" ">&nbsp;</option>
                <option class="u683_input_option" value="phase1">phase1</option>
                <option class="u683_input_option" value="phase2">phase2</option>
                <option class="u683_input_option" value="phase3">phase3</option>
              </select>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u684" class="ax_default text_field">
              <div id="u684_div" class=""></div>
              <input id="u684_input" type="text" value="" class="u684_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u685" class="ax_default text_field">
              <div id="u685_div" class=""></div>
              <input id="u685_input" type="text" value="" class="u685_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u686" class="ax_default text_field">
              <div id="u686_div" class=""></div>
              <input id="u686_input" type="text" value="" class="u686_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u687" class="ax_default text_field">
              <div id="u687_div" class=""></div>
              <input id="u687_input" type="text" value="" class="u687_input"/>
            </div>

            <!-- Unnamed (Droplist) -->
            <div id="u688" class="ax_default droplist">
              <div id="u688_div" class=""></div>
              <select id="u688_input" class="u688_input">
                <option class="u688_input_option" value=" ">&nbsp;</option>
                <option class="u688_input_option" value="phase1">phase1</option>
                <option class="u688_input_option" value="phase2">phase2</option>
                <option class="u688_input_option" value="phase3">phase3</option>
              </select>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u689" class="ax_default text_field">
              <div id="u689_div" class=""></div>
              <input id="u689_input" type="text" value="" class="u689_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u690" class="ax_default text_field">
              <div id="u690_div" class=""></div>
              <input id="u690_input" type="text" value="" class="u690_input"/>
            </div>
          </div>
        </div>
        <div id="u660_state3" class="panel_state" data-label="状态 4" style="visibility: hidden;">
          <div id="u660_state3_content" class="panel_state_content">

            <!-- Unnamed (Text Field) -->
            <div id="u691" class="ax_default text_field">
              <div id="u691_div" class=""></div>
              <input id="u691_input" type="text" value="" class="u691_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u692" class="ax_default text_field">
              <div id="u692_div" class=""></div>
              <input id="u692_input" type="text" value="" class="u692_input"/>
            </div>

            <!-- Unnamed (Droplist) -->
            <div id="u693" class="ax_default droplist">
              <div id="u693_div" class=""></div>
              <select id="u693_input" class="u693_input">
                <option class="u693_input_option" value="请选择">请选择</option>
                <option class="u693_input_option" value="phase1">phase1</option>
                <option class="u693_input_option" value="phase2">phase2</option>
                <option class="u693_input_option" value="phase3">phase3</option>
              </select>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u694" class="ax_default text_field">
              <div id="u694_div" class=""></div>
              <input id="u694_input" type="text" value="" class="u694_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u695" class="ax_default text_field">
              <div id="u695_div" class=""></div>
              <input id="u695_input" type="text" value="" class="u695_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u696" class="ax_default text_field">
              <div id="u696_div" class=""></div>
              <input id="u696_input" type="text" value="" class="u696_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u697" class="ax_default text_field">
              <div id="u697_div" class=""></div>
              <input id="u697_input" type="text" value="" class="u697_input"/>
            </div>

            <!-- Unnamed (Droplist) -->
            <div id="u698" class="ax_default droplist">
              <div id="u698_div" class=""></div>
              <select id="u698_input" class="u698_input">
                <option class="u698_input_option" value="请选择">请选择</option>
                <option class="u698_input_option" value="phase1">phase1</option>
                <option class="u698_input_option" value="phase2">phase2</option>
                <option class="u698_input_option" value="phase3">phase3</option>
              </select>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u699" class="ax_default text_field">
              <div id="u699_div" class=""></div>
              <input id="u699_input" type="text" value="" class="u699_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u700" class="ax_default text_field">
              <div id="u700_div" class=""></div>
              <input id="u700_input" type="text" value="" class="u700_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u701" class="ax_default text_field">
              <div id="u701_div" class=""></div>
              <input id="u701_input" type="text" value="" class="u701_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u702" class="ax_default text_field">
              <div id="u702_div" class=""></div>
              <input id="u702_input" type="text" value="" class="u702_input"/>
            </div>

            <!-- Unnamed (Droplist) -->
            <div id="u703" class="ax_default droplist">
              <div id="u703_div" class=""></div>
              <select id="u703_input" class="u703_input">
                <option class="u703_input_option" value="请选择">请选择</option>
                <option class="u703_input_option" value="phase1">phase1</option>
                <option class="u703_input_option" value="phase2">phase2</option>
                <option class="u703_input_option" value="phase3">phase3</option>
              </select>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u704" class="ax_default text_field">
              <div id="u704_div" class=""></div>
              <input id="u704_input" type="text" value="" class="u704_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u705" class="ax_default text_field">
              <div id="u705_div" class=""></div>
              <input id="u705_input" type="text" value="" class="u705_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u706" class="ax_default text_field">
              <div id="u706_div" class=""></div>
              <input id="u706_input" type="text" value="" class="u706_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u707" class="ax_default text_field">
              <div id="u707_div" class=""></div>
              <input id="u707_input" type="text" value="" class="u707_input"/>
            </div>

            <!-- Unnamed (Droplist) -->
            <div id="u708" class="ax_default droplist">
              <div id="u708_div" class=""></div>
              <select id="u708_input" class="u708_input">
                <option class="u708_input_option" value="请选择">请选择</option>
                <option class="u708_input_option" value="phase1">phase1</option>
                <option class="u708_input_option" value="phase2">phase2</option>
                <option class="u708_input_option" value="phase3">phase3</option>
              </select>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u709" class="ax_default text_field">
              <div id="u709_div" class=""></div>
              <input id="u709_input" type="text" value="" class="u709_input"/>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u710" class="ax_default text_field">
              <div id="u710_div" class=""></div>
              <input id="u710_input" type="text" value="" class="u710_input"/>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u711" class="ax_default text_field">
        <div id="u711_div" class=""></div>
        <input id="u711_input" type="text" value="" class="u711_input"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u712" class="ax_default _三级标题">
        <div id="u712_div" class=""></div>
        <div id="u712_text" class="text ">
          <p><span>&nbsp;total moles</span></p>
        </div>
      </div>

      <!-- Unnamed (Menu) -->
      <div id="u713" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
        <img id="u713_menu" class="img " src="{{ url_for('static', filename='images/混合物/u713_menu.png') }}" alt="u713_menu"/>

        <!-- Unnamed (Table) -->
        <div id="u714" class="ax_default">

          <!-- Unnamed (Menu Item) -->
          <div id="u715" class="ax_default menu_item">
            <img id="u715_img" class="img " src="{{ url_for('static', filename='images/混合物/u715.png') }}"/>
            <div id="u715_text" class="text ">
              <p><span>New</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u716" class="ax_default menu_item">
            <img id="u716_img" class="img " src="{{ url_for('static', filename='images/混合物/u716.png') }}"/>
            <div id="u716_text" class="text ">
              <p><span>Open</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u717" class="ax_default menu_item">
            <img id="u717_img" class="img " src="{{ url_for('static', filename='images/混合物/u717.png') }}"/>
            <div id="u717_text" class="text ">
              <p><span>Directory</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u718" class="ax_default menu_item">
            <img id="u718_img" class="img " src="{{ url_for('static', filename='images/混合物/u715.png') }}"/>
            <div id="u718_text" class="text ">
              <p><span>Save</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u719" class="ax_default menu_item">
            <img id="u719_img" class="img " src="{{ url_for('static', filename='images/混合物/u715.png') }}"/>
            <div id="u719_text" class="text ">
              <p><span>Save as</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u720" class="ax_default menu_item">
            <img id="u720_img" class="img " src="{{ url_for('static', filename='images/混合物/u720.png') }}"/>
            <div id="u720_text" class="text ">
              <p><span>Exit</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u721" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="119" data-top="80" data-width="545" data-height="491" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u722" class="ax_default box_1">
          <div id="u722_div" class=""></div>
          <div id="u722_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u723" class="ax_default text_field">
          <img id="u723_img" class="img " src="{{ url_for('static', filename='images/结果/u486.svg') }}"/>
          <input id="u723_input" type="text" value="Open File" class="u723_input" readonly/>
        </div>

        <!-- Unnamed (Droplist) -->
        <div id="u724" class="ax_default droplist">
          <div id="u724_div" class=""></div>
          <select id="u724_input" class="u724_input">
            <option class="u724_input_option" selected value="USERDATA">USERDATA</option>
            <option class="u724_input_option" value="BINSBASE">BINSBASE</option>
            <option class="u724_input_option" value="ELEMBASE  ">ELEMBASE&nbsp; </option>
            <option class="u724_input_option" value="FACT53BASE  ">FACT53BASE&nbsp; </option>
            <option class="u724_input_option" value="FACTBASE">FACTBASE</option>
            <option class="u724_input_option" value="FScoppBASE">FScoppBASE</option>
            <option class="u724_input_option" value="FSleadBASE">FSleadBASE</option>
            <option class="u724_input_option" value="FSliteBASE">FSliteBASE</option>
            <option class="u724_input_option" value="FSnoblBASE">FSnoblBASE</option>
            <option class="u724_input_option" value="FSstelBASE">FSstelBASE</option>
            <option class="u724_input_option" value="FSupsiBASE">FSupsiBASE</option>
            <option class="u724_input_option" value="FThallBASE">FThallBASE</option>
            <option class="u724_input_option" value="FThelgBASE">FThelgBASE</option>
            <option class="u724_input_option" value="FTliBASE">FTliBASE</option>
            <option class="u724_input_option" value="FTliteBASE">FTliteBASE</option>
            <option class="u724_input_option" value="FTmiscBASE">FTmiscBASE</option>
            <option class="u724_input_option" value="FToxidBASE">FToxidBASE</option>
            <option class="u724_input_option" value="FTpulpBASE">FTpulpBASE</option>
            <option class="u724_input_option" value="FTsaltBASE">FTsaltBASE</option>
          </select>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u725" class="ax_default" data-left="542" data-top="121" data-width="96" data-height="25" layer-opacity="1">

          <!-- Unnamed (Group) -->
          <div id="u726" class="ax_default" data-left="542" data-top="128" data-width="19" data-height="13" layer-opacity="1">

            <!-- Unnamed (Shape) -->
            <div id="u727" class="ax_default _形状">
              <img id="u727_img" class="img " src="{{ url_for('static', filename='images/结果/u490.svg') }}"/>
              <div id="u727_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u728" class="ax_default _形状">
              <img id="u728_img" class="img " src="{{ url_for('static', filename='images/结果/u491.svg') }}"/>
              <div id="u728_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u729" class="ax_default _形状">
              <img id="u729_img" class="img " src="{{ url_for('static', filename='images/结果/u492.svg') }}"/>
              <div id="u729_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u730" class="ax_default" data-left="616" data-top="125" data-width="22" data-height="20" layer-opacity="1">

            <!-- Unnamed (Shape) -->
            <div id="u731" class="ax_default _形状">
              <img id="u731_img" class="img " src="{{ url_for('static', filename='images/结果/u494.svg') }}"/>
              <div id="u731_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u732" class="ax_default _形状">
              <img id="u732_img" class="img " src="{{ url_for('static', filename='images/结果/u495.svg') }}"/>
              <div id="u732_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u733" class="ax_default _形状">
            <img id="u733_img" class="img " src="{{ url_for('static', filename='images/结果/u496.svg') }}"/>
            <div id="u733_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u734" class="ax_default _形状">
            <img id="u734_img" class="img " src="{{ url_for('static', filename='images/结果/u497.svg') }}"/>
            <div id="u734_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u735" class="ax_default _形状">
            <img id="u735_img" class="img " src="{{ url_for('static', filename='images/结果/u498.svg') }}"/>
            <div id="u735_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u736" class="ax_default _形状">
            <img id="u736_img" class="img " src="{{ url_for('static', filename='images/结果/u499.svg') }}"/>
            <div id="u736_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u737" class="ax_default _形状">
            <img id="u737_img" class="img " src="{{ url_for('static', filename='images/结果/u500.svg') }}"/>
            <div id="u737_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u738" class="ax_default _形状">
            <img id="u738_img" class="img " src="{{ url_for('static', filename='images/结果/u501.svg') }}"/>
            <div id="u738_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u739" class="ax_default box_1">
          <div id="u739_div" class=""></div>
          <div id="u739_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u740" class="ax_default text_field">
          <div id="u740_div" class=""></div>
          <input id="u740_input" type="text" value="Type:" class="u740_input" readonly/>
        </div>

        <!-- Unnamed (Droplist) -->
        <div id="u741" class="ax_default droplist">
          <div id="u741_div" class=""></div>
          <select id="u741_input" class="u741_input">
            <option class="u741_input_option" selected value="ExampleBASE.CBD">ExampleBASE.CBD</option>
          </select>
        </div>

        <!-- Unnamed (Droplist) -->
        <div id="u742" class="ax_default droplist">
          <div id="u742_div" class=""></div>
          <select id="u742_input" class="u742_input">
            <option class="u742_input_option" selected value="Fact-Win Compound DataBase[*.CBD]">Fact-Win Compound DataBase[*.CBD]</option>
          </select>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u743" class="ax_default text_field">
          <div id="u743_div" class=""></div>
          <input id="u743_input" type="text" value="Open" class="u743_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u744" class="ax_default text_field">
          <div id="u744_div" class=""></div>
          <input id="u744_input" type="text" value="Cancel" class="u744_input" readonly/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u745" class="ax_default _段落">
          <div id="u745_div" class=""></div>
          <div id="u745_text" class="text ">
            <p><span>Open in:</span></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u746" class="ax_default text_field">
          <div id="u746_div" class=""></div>
          <input id="u746_input" type="text" value="File name:" class="u746_input" readonly/>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u747" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="119" data-top="80" data-width="545" data-height="491" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u748" class="ax_default box_1">
          <div id="u748_div" class=""></div>
          <div id="u748_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u749" class="ax_default text_field">
          <img id="u749_img" class="img " src="{{ url_for('static', filename='images/结果/u486.svg') }}"/>
          <input id="u749_input" type="text" value="Save File" class="u749_input" readonly/>
        </div>

        <!-- Unnamed (Droplist) -->
        <div id="u750" class="ax_default droplist">
          <div id="u750_div" class=""></div>
          <select id="u750_input" class="u750_input">
            <option class="u750_input_option" selected value="USERDATA">USERDATA</option>
            <option class="u750_input_option" value="BINSBASE">BINSBASE</option>
            <option class="u750_input_option" value="ELEMBASE  ">ELEMBASE&nbsp; </option>
            <option class="u750_input_option" value="FACT53BASE  ">FACT53BASE&nbsp; </option>
            <option class="u750_input_option" value="FACTBASE">FACTBASE</option>
            <option class="u750_input_option" value="FScoppBASE">FScoppBASE</option>
            <option class="u750_input_option" value="FSleadBASE">FSleadBASE</option>
            <option class="u750_input_option" value="FSliteBASE">FSliteBASE</option>
            <option class="u750_input_option" value="FSnoblBASE">FSnoblBASE</option>
            <option class="u750_input_option" value="FSstelBASE">FSstelBASE</option>
            <option class="u750_input_option" value="FSupsiBASE">FSupsiBASE</option>
            <option class="u750_input_option" value="FThallBASE">FThallBASE</option>
            <option class="u750_input_option" value="FThelgBASE">FThelgBASE</option>
            <option class="u750_input_option" value="FTliBASE">FTliBASE</option>
            <option class="u750_input_option" value="FTliteBASE">FTliteBASE</option>
            <option class="u750_input_option" value="FTmiscBASE">FTmiscBASE</option>
            <option class="u750_input_option" value="FToxidBASE">FToxidBASE</option>
            <option class="u750_input_option" value="FTpulpBASE">FTpulpBASE</option>
            <option class="u750_input_option" value="FTsaltBASE">FTsaltBASE</option>
          </select>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u751" class="ax_default" data-left="542" data-top="121" data-width="96" data-height="25" layer-opacity="1">

          <!-- Unnamed (Group) -->
          <div id="u752" class="ax_default" data-left="542" data-top="128" data-width="19" data-height="13" layer-opacity="1">

            <!-- Unnamed (Shape) -->
            <div id="u753" class="ax_default _形状">
              <img id="u753_img" class="img " src="{{ url_for('static', filename='images/结果/u490.svg') }}"/>
              <div id="u753_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u754" class="ax_default _形状">
              <img id="u754_img" class="img " src="{{ url_for('static', filename='images/结果/u491.svg') }}"/>
              <div id="u754_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u755" class="ax_default _形状">
              <img id="u755_img" class="img " src="{{ url_for('static', filename='images/结果/u492.svg') }}"/>
              <div id="u755_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u756" class="ax_default" data-left="616" data-top="125" data-width="22" data-height="20" layer-opacity="1">

            <!-- Unnamed (Shape) -->
            <div id="u757" class="ax_default _形状">
              <img id="u757_img" class="img " src="{{ url_for('static', filename='images/结果/u494.svg') }}"/>
              <div id="u757_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u758" class="ax_default _形状">
              <img id="u758_img" class="img " src="{{ url_for('static', filename='images/结果/u495.svg') }}"/>
              <div id="u758_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u759" class="ax_default _形状">
            <img id="u759_img" class="img " src="{{ url_for('static', filename='images/结果/u496.svg') }}"/>
            <div id="u759_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u760" class="ax_default _形状">
            <img id="u760_img" class="img " src="{{ url_for('static', filename='images/结果/u497.svg') }}"/>
            <div id="u760_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u761" class="ax_default _形状">
            <img id="u761_img" class="img " src="{{ url_for('static', filename='images/结果/u498.svg') }}"/>
            <div id="u761_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u762" class="ax_default _形状">
            <img id="u762_img" class="img " src="{{ url_for('static', filename='images/结果/u499.svg') }}"/>
            <div id="u762_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u763" class="ax_default _形状">
            <img id="u763_img" class="img " src="{{ url_for('static', filename='images/结果/u500.svg') }}"/>
            <div id="u763_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u764" class="ax_default _形状">
            <img id="u764_img" class="img " src="{{ url_for('static', filename='images/结果/u501.svg') }}"/>
            <div id="u764_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u765" class="ax_default box_1">
          <div id="u765_div" class=""></div>
          <div id="u765_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u766" class="ax_default text_field">
          <div id="u766_div" class=""></div>
          <input id="u766_input" type="text" value="Mixture name:" class="u766_input" readonly/>
        </div>

        <!-- Unnamed (Droplist) -->
        <div id="u767" class="ax_default droplist">
          <div id="u767_div" class=""></div>
          <select id="u767_input" class="u767_input">
            <option class="u767_input_option" selected value="ExampleBASE.CBD">ExampleBASE.CBD</option>
          </select>
        </div>

        <!-- Unnamed (Droplist) -->
        <div id="u768" class="ax_default droplist">
          <div id="u768_div" class=""></div>
          <select id="u768_input" class="u768_input">
            <option class="u768_input_option" selected value="Example">Example</option>
          </select>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u769" class="ax_default text_field">
          <div id="u769_div" class=""></div>
          <input id="u769_input" type="text" value="Save" class="u769_input" readonly/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u770" class="ax_default text_field">
          <div id="u770_div" class=""></div>
          <input id="u770_input" type="text" value="Cancel" class="u770_input" readonly/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u771" class="ax_default _段落">
          <div id="u771_div" class=""></div>
          <div id="u771_text" class="text ">
            <p><span>Save in:</span></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u772" class="ax_default text_field">
          <div id="u772_div" class=""></div>
          <input id="u772_input" type="text" value="File name:" class="u772_input" readonly/>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
