<!DOCTYPE html>
<html>
  <head>
    <title>特性</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/特性/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/特性/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u1837" class="ax_default box_1">
        <div id="u1837_div" class=""></div>
        <div id="u1837_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1838" class="ax_default _段落">
        <div id="u1838_div" class=""></div>
        <div id="u1838_text" class="text ">
          <p><span>Edit</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1839" class="ax_default _二级标题">
        <div id="u1839_div" class=""></div>
        <div id="u1839_text" class="text ">
          <p><span>ViewData</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1840" class="ax_default _二级标题">
        <div id="u1840_div" class=""></div>
        <div id="u1840_text" class="text ">
          <p><span>Units</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1841" class="ax_default _二级标题">
        <div id="u1841_div" class=""></div>
        <div id="u1841_text" class="text ">
          <p><span>Tools</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1842" class="ax_default _二级标题">
        <div id="u1842_div" class=""></div>
        <div id="u1842_text" class="text ">
          <p><span>Help</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1843" class="ax_default _三级标题">
        <div id="u1843_div" class=""></div>
        <div id="u1843_text" class="text ">
          <p><span>View</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1844" class="ax_default _二级标题">
        <div id="u1844_div" class=""></div>
        <div id="u1844_text" class="text ">
          <p><span style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">File</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1845" class="ax_default box_1">
        <div id="u1845_div" class=""></div>
        <div id="u1845_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1846" class="ax_default box_1">
        <div id="u1846_div" class=""></div>
        <div id="u1846_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u1847" class="ax_default _形状">
        <img id="u1847_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1722.svg') }}"/>
        <div id="u1847_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1848" class="ax_default _段落">
        <div id="u1848_div" class=""></div>
        <div id="u1848_text" class="text ">
          <p><span>Properties</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1849" class="ax_default _段落">
        <div id="u1849_div" class=""></div>
        <div id="u1849_text" class="text ">
          <p><span>Variables</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1850" class="ax_default _段落">
        <div id="u1850_div" class=""></div>
        <div id="u1850_text" class="text ">
          <p><span>Constraints</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1851" class="ax_default _段落">
        <div id="u1851_div" class=""></div>
        <div id="u1851_text" class="text ">
          <p><span>Results</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1852" class="ax_default _段落">
        <div id="u1852_div" class=""></div>
        <div id="u1852_text" class="text ">
          <p><span>Parameters</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1853" class="ax_default box_1">
        <div id="u1853_div" class=""></div>
        <div id="u1853_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u1854" class="ax_default radio_button selected" selectiongroup="11">
        <label id="u1854_input_label" for="u1854_input" style="position: absolute; left: 0px;">
          <img id="u1854_img" class="img " src="{{ url_for('static', filename='images/特性/u1854_selected.svg') }}"/>
          <div id="u1854_text" class="text ">
            <p><span>I Property</span></p>
          </div>
        </label>
        <input id="u1854_input" type="radio" value="radio" name="11" checked/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u1855" class="ax_default radio_button selected" selectiongroup="33">
        <label id="u1855_input_label" for="u1855_input" style="position: absolute; left: 0px;">
          <img id="u1855_img" class="img " src="{{ url_for('static', filename='images/特性/u1855_selected.svg') }}"/>
          <div id="u1855_text" class="text ">
            <p><span>minimize使最小化</span></p>
          </div>
        </label>
        <input id="u1855_input" type="radio" value="radio" name="33" checked/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u1856" class="ax_default radio_button" selectiongroup="33">
        <label id="u1856_input_label" for="u1856_input" style="position: absolute; left: 0px;">
          <img id="u1856_img" class="img " src="{{ url_for('static', filename='images/特性/u1856.svg') }}"/>
          <div id="u1856_text" class="text ">
            <p><span>maximize使最大化</span></p>
          </div>
        </label>
        <input id="u1856_input" type="radio" value="radio" name="33"/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u1857" class="ax_default radio_button" selectiongroup="33">
        <label id="u1857_input_label" for="u1857_input" style="position: absolute; left: 0px;">
          <img id="u1857_img" class="img " src="{{ url_for('static', filename='images/特性/u1857.svg') }}"/>
          <div id="u1857_text" class="text ">
            <p><span>target目标</span></p>
          </div>
        </label>
        <input id="u1857_input" type="radio" value="radio" name="33"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1858" class="ax_default button">
        <div id="u1858_div" class=""></div>
        <div id="u1858_text" class="text ">
          <p><span>NEXT</span></p>
        </div>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u1859" class="ax_default radio_button" selectiongroup="11">
        <label id="u1859_input_label" for="u1859_input" style="position: absolute; left: 0px;">
          <img id="u1859_img" class="img " src="{{ url_for('static', filename='images/特性/u1859.svg') }}"/>
          <div id="u1859_text" class="text ">
            <p><span>2nd&nbsp; Property</span></p>
          </div>
        </label>
        <input id="u1859_input" type="radio" value="radio" name="11"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1860" class="ax_default box_1">
        <div id="u1860_div" class=""></div>
        <div id="u1860_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u1861" class="ax_default radio_button selected" selectiongroup="22">
        <label id="u1861_input_label" for="u1861_input" style="position: absolute; left: 0px;">
          <img id="u1861_img" class="img " src="{{ url_for('static', filename='images/特性/u1861_selected.svg') }}"/>
          <div id="u1861_text" class="text ">
            <p><span>minimize使最小化</span></p>
          </div>
        </label>
        <input id="u1861_input" type="radio" value="radio" name="22" checked/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u1862" class="ax_default radio_button" selectiongroup="22">
        <label id="u1862_input_label" for="u1862_input" style="position: absolute; left: 0px;">
          <img id="u1862_img" class="img " src="{{ url_for('static', filename='images/特性/u1862.svg') }}"/>
          <div id="u1862_text" class="text ">
            <p><span>maximize使最大化</span></p>
          </div>
        </label>
        <input id="u1862_input" type="radio" value="radio" name="22"/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u1863" class="ax_default radio_button" selectiongroup="22">
        <label id="u1863_input_label" for="u1863_input" style="position: absolute; left: 0px;">
          <img id="u1863_img" class="img " src="{{ url_for('static', filename='images/特性/u1863.svg') }}"/>
          <div id="u1863_text" class="text ">
            <p><span>target目标</span></p>
          </div>
        </label>
        <input id="u1863_input" type="radio" value="radio" name="22"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1864" class="ax_default _段落">
        <div id="u1864_div" class=""></div>
        <div id="u1864_text" class="text ">
          <p><span>include cost$:</span></p>
        </div>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u1865" class="ax_default radio_button">
        <label id="u1865_input_label" for="u1865_input" style="position: absolute; left: 0px;">
          <img id="u1865_img" class="img " src="{{ url_for('static', filename='images/特性/u1865.svg') }}"/>
          <div id="u1865_text" class="text ">
            <p><span>Yes</span></p>
          </div>
        </label>
        <input id="u1865_input" type="radio" value="radio" name="u1865"/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u1866" class="ax_default radio_button">
        <label id="u1866_input_label" for="u1866_input" style="position: absolute; left: 0px;">
          <img id="u1866_img" class="img " src="{{ url_for('static', filename='images/特性/u1866.svg') }}"/>
          <div id="u1866_text" class="text ">
            <p><span>No</span></p>
          </div>
        </label>
        <input id="u1866_input" type="radio" value="radio" name="u1866"/>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u1867" class="ax_default text_field">
        <div id="u1867_div" class=""></div>
        <input id="u1867_input" type="text" value="" class="u1867_input"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1868" class="ax_default _段落">
        <div id="u1868_div" class=""></div>
        <div id="u1868_text" class="text ">
          <p><span>Target value:</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u1869" class="ax_default text_field">
        <div id="u1869_div" class=""></div>
        <input id="u1869_input" type="text" value="" class="u1869_input"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1870" class="ax_default _段落">
        <div id="u1870_div" class=""></div>
        <div id="u1870_text" class="text ">
          <p><span>Delta(%):</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u1871" class="ax_default text_field">
        <div id="u1871_div" class=""></div>
        <input id="u1871_input" type="text" value="" class="u1871_input"/>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u1872" class="ax_default text_field">
        <div id="u1872_div" class=""></div>
        <input id="u1872_input" type="text" value="" class="u1872_input"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1873" class="ax_default _段落">
        <div id="u1873_div" class=""></div>
        <div id="u1873_text" class="text ">
          <p><span>Target value:</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u1874" class="ax_default text_field">
        <div id="u1874_div" class=""></div>
        <input id="u1874_input" type="text" value="" class="u1874_input"/>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u1875" class="ax_default text_field">
        <div id="u1875_div" class=""></div>
        <input id="u1875_input" type="text" value="" class="u1875_input"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1876" class="ax_default _段落">
        <div id="u1876_div" class=""></div>
        <div id="u1876_text" class="text ">
          <p><span>Delta(%):</span></p>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
