<!DOCTYPE html>
<html>
  <head>
    <title>相图-菜单-参数</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/相图-菜单-参数/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/相图-菜单-参数/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u5382" class="ax_default box_1">
        <div id="u5382_div" class=""></div>
        <div id="u5382_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- 背景 (Dynamic Panel) -->
      <div id="u5383" class="ax_default" data-label="背景">
        <div id="u5383_state0" class="panel_state" data-label="1" style="">
          <div id="u5383_state0_content" class="panel_state_content">
          </div>
        </div>
        <div id="u5383_state1" class="panel_state" data-label="2" style="visibility: hidden;">
          <div id="u5383_state1_content" class="panel_state_content">
          </div>
        </div>
        <div id="u5383_state2" class="panel_state" data-label="3" style="visibility: hidden;">
          <div id="u5383_state2_content" class="panel_state_content">
          </div>
        </div>
        <div id="u5383_state3" class="panel_state" data-label="4" style="visibility: hidden;">
          <div id="u5383_state3_content" class="panel_state_content">
          </div>
        </div>
        <div id="u5383_state4" class="panel_state" data-label="5" style="visibility: hidden;">
          <div id="u5383_state4_content" class="panel_state_content">
          </div>
        </div>
        <div id="u5383_state5" class="panel_state" data-label="6" style="visibility: hidden;">
          <div id="u5383_state5_content" class="panel_state_content">
          </div>
        </div>
        <div id="u5383_state6" class="panel_state" data-label="7" style="visibility: hidden;">
          <div id="u5383_state6_content" class="panel_state_content">
          </div>
        </div>
        <div id="u5383_state7" class="panel_state" data-label="8" style="visibility: hidden;">
          <div id="u5383_state7_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u5384" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u5385" class="ax_default box_1">
          <img id="u5385_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
          <div id="u5385_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u5386" class="ax_default box_1">
          <img id="u5386_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
          <div id="u5386_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u5387" class="ax_default box_1 selected">
        <div id="u5387_div" class="selected"></div>
        <div id="u5387_text" class="text ">
          <p><span>Phase Diagram - Parameters</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u5388" class="ax_default box_1">
        <div id="u5388_div" class=""></div>
        <div id="u5388_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- 工作区 (Dynamic Panel) -->
      <div id="u5389" class="ax_default" data-label="工作区">
        <div id="u5389_state0" class="panel_state" data-label="State 1" style="">
          <div id="u5389_state0_content" class="panel_state_content">

            <!-- Unnamed (Bracket) -->
            <div id="u5390" class="ax_default _流程图形状">
              <img id="u5390_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5390.svg') }}"/>
              <div id="u5390_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Bracket) -->
            <div id="u5391" class="ax_default _流程图形状">
              <img id="u5391_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5391.svg') }}"/>
              <div id="u5391_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Checkbox) -->
            <div id="u5392" class="ax_default checkbox">
              <label id="u5392_input_label" for="u5392_input" style="position: absolute; left: 0px;">
                <img id="u5392_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5392.svg') }}"/>
                <div id="u5392_text" class="text ">
                  <p><span style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">Full screen</span></p>
                </div>
              </label>
              <input id="u5392_input" type="checkbox" value="checkbox"/>
            </div>

            <!-- Unnamed (Checkbox) -->
            <div id="u5393" class="ax_default checkbox">
              <label id="u5393_input_label" for="u5393_input" style="position: absolute; left: 0px;">
                <img id="u5393_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5393.svg') }}"/>
                <div id="u5393_text" class="text ">
                  <p><span style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">Color</span></p>
                </div>
              </label>
              <input id="u5393_input" type="checkbox" value="checkbox"/>
            </div>

            <!-- Unnamed (Checkbox) -->
            <div id="u5394" class="ax_default checkbox">
              <label id="u5394_input_label" for="u5394_input" style="position: absolute; left: 0px;">
                <img id="u5394_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5394.svg') }}"/>
                <div id="u5394_text" class="text ">
                  <p><span style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">Title</span></p>
                </div>
              </label>
              <input id="u5394_input" type="checkbox" value="checkbox"/>
            </div>

            <!-- Unnamed (Checkbox) -->
            <div id="u5395" class="ax_default checkbox">
              <label id="u5395_input_label" for="u5395_input" style="position: absolute; left: 0px;">
                <img id="u5395_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5395.svg') }}"/>
                <div id="u5395_text" class="text ">
                  <p><span style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">sub-title</span></p>
                </div>
              </label>
              <input id="u5395_input" type="checkbox" value="checkbox"/>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u5396" class="ax_default _三级标题">
              <div id="u5396_div" class=""></div>
              <div id="u5396_text" class="text ">
                <p><span>Display</span></p>
              </div>
            </div>

            <!-- Unnamed (Bracket) -->
            <div id="u5397" class="ax_default _流程图形状">
              <img id="u5397_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5397.svg') }}"/>
              <div id="u5397_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Checkbox) -->
            <div id="u5398" class="ax_default checkbox">
              <label id="u5398_input_label" for="u5398_input" style="position: absolute; left: 0px;">
                <img id="u5398_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5398.svg') }}"/>
                <div id="u5398_text" class="text ">
                  <p><span style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">Status</span></p>
                </div>
              </label>
              <input id="u5398_input" type="checkbox" value="checkbox"/>
            </div>

            <!-- Unnamed (Checkbox) -->
            <div id="u5399" class="ax_default checkbox">
              <label id="u5399_input_label" for="u5399_input" style="position: absolute; left: 0px;">
                <img id="u5399_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5399.svg') }}"/>
                <div id="u5399_text" class="text ">
                  <p><span style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">tie-lines</span></p>
                </div>
              </label>
              <input id="u5399_input" type="checkbox" value="checkbox"/>
            </div>

            <!-- Unnamed (Checkbox) -->
            <div id="u5400" class="ax_default checkbox">
              <label id="u5400_input_label" for="u5400_input" style="position: absolute; left: 0px;">
                <img id="u5400_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5400.svg') }}"/>
                <div id="u5400_text" class="text ">
                  <p><span style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">warning</span></p>
                </div>
              </label>
              <input id="u5400_input" type="checkbox" value="checkbox"/>
            </div>

            <!-- Unnamed (Checkbox) -->
            <div id="u5401" class="ax_default checkbox">
              <label id="u5401_input_label" for="u5401_input" style="position: absolute; left: 0px;">
                <img id="u5401_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5401.svg') }}"/>
                <div id="u5401_text" class="text ">
                  <p><span style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">Status</span></p>
                </div>
              </label>
              <input id="u5401_input" type="checkbox" value="checkbox"/>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u5402" class="ax_default _三级标题">
              <div id="u5402_div" class=""></div>
              <div id="u5402_text" class="text ">
                <p><span>Show</span></p>
              </div>
            </div>

            <!-- Unnamed (Checkbox) -->
            <div id="u5403" class="ax_default checkbox">
              <label id="u5403_input_label" for="u5403_input" style="position: absolute; left: 0px;">
                <img id="u5403_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5403.svg') }}"/>
                <div id="u5403_text" class="text ">
                  <p><span style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">labels</span></p>
                </div>
              </label>
              <input id="u5403_input" type="checkbox" value="checkbox"/>
            </div>

            <!-- Unnamed (Bracket) -->
            <div id="u5404" class="ax_default _流程图形状">
              <img id="u5404_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5404.svg') }}"/>
              <div id="u5404_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u5405" class="ax_default _三级标题">
              <div id="u5405_div" class=""></div>
              <div id="u5405_text" class="text ">
                <p><span>Labels</span></p>
              </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u5406" class="ax_default text_field">
              <div id="u5406_div" class=""></div>
              <input id="u5406_input" type="number" value="13" class="u5406_input"/>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u5407" class="ax_default _三级标题">
              <div id="u5407_div" class=""></div>
              <div id="u5407_text" class="text ">
                <p><span>size:</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u5408" class="ax_default _三级标题">
              <div id="u5408_div" class=""></div>
              <div id="u5408_text" class="text ">
                <p><span>color:</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u5409" class="ax_default box_1">
              <div id="u5409_div" class=""></div>
              <div id="u5409_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u5410" class="ax_default text_field">
              <div id="u5410_div" class=""></div>
              <input id="u5410_input" type="text" value="#F59A23" class="u5410_input"/>
            </div>

            <!-- Unnamed (Checkbox) -->
            <div id="u5411" class="ax_default checkbox">
              <label id="u5411_input_label" for="u5411_input" style="position: absolute; left: 0px;">
                <img id="u5411_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5411.svg') }}"/>
                <div id="u5411_text" class="text ">
                  <p><span>&nbsp;bold</span></p>
                </div>
              </label>
              <input id="u5411_input" type="checkbox" value="checkbox"/>
            </div>

            <!-- Unnamed (Checkbox) -->
            <div id="u5412" class="ax_default checkbox">
              <label id="u5412_input_label" for="u5412_input" style="position: absolute; left: 0px;">
                <img id="u5412_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5412.svg') }}"/>
                <div id="u5412_text" class="text ">
                  <p><span>&nbsp;italit</span></p>
                </div>
              </label>
              <input id="u5412_input" type="checkbox" value="checkbox"/>
            </div>

            <!-- Unnamed (Checkbox) -->
            <div id="u5413" class="ax_default checkbox">
              <label id="u5413_input_label" for="u5413_input" style="position: absolute; left: 0px;">
                <img id="u5413_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5413.svg') }}"/>
                <div id="u5413_text" class="text ">
                  <p><span style="text-decoration:underline ;">&nbsp;underline</span></p>
                </div>
              </label>
              <input id="u5413_input" type="checkbox" value="checkbox"/>
            </div>

            <!-- Unnamed (Checkbox) -->
            <div id="u5414" class="ax_default checkbox">
              <label id="u5414_input_label" for="u5414_input" style="position: absolute; left: 0px;">
                <img id="u5414_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5414.svg') }}"/>
                <div id="u5414_text" class="text ">
                  <p><span style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">show '(s)' if pure solid</span></p>
                </div>
              </label>
              <input id="u5414_input" type="checkbox" value="checkbox"/>
            </div>

            <!-- Unnamed (Checkbox) -->
            <div id="u5415" class="ax_default checkbox">
              <label id="u5415_input_label" for="u5415_input" style="position: absolute; left: 0px;">
                <img id="u5415_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5415.svg') }}"/>
                <div id="u5415_text" class="text ">
                  <p><span>&nbsp;chemical</span></p>
                </div>
              </label>
              <input id="u5415_input" type="checkbox" value="checkbox"/>
            </div>

            <!-- Unnamed (Checkbox) -->
            <div id="u5416" class="ax_default checkbox">
              <label id="u5416_input_label" for="u5416_input" style="position: absolute; left: 0px;">
                <img id="u5416_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5416.svg') }}"/>
                <div id="u5416_text" class="text ">
                  <p><span>&nbsp;numerical</span></p>
                </div>
              </label>
              <input id="u5416_input" type="checkbox" value="checkbox"/>
            </div>

            <!-- 化合物来源选择器 (Dynamic Panel) -->
            <div id="u5417" class="ax_default" data-label="化合物来源选择器">
              <div id="u5417_state0" class="panel_state" data-label="State 1" style="">
                <div id="u5417_state0_content" class="panel_state_content">

                  <!-- Unnamed (Ellipse) -->
                  <div id="u5418" class="ax_default _形状">
                    <img id="u5418_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5418.svg') }}"/>
                    <div id="u5418_text" class="text " style="display:none; visibility: hidden">
                      <p></p>
                    </div>
                  </div>

                  <!-- Unnamed (Ellipse) -->
                  <div id="u5419" class="ax_default _形状">
                    <img id="u5419_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5418.svg') }}"/>
                    <div id="u5419_text" class="text " style="display:none; visibility: hidden">
                      <p></p>
                    </div>
                  </div>

                  <!-- Unnamed (Ellipse) -->
                  <div id="u5420" class="ax_default _形状">
                    <img id="u5420_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5418.svg') }}"/>
                    <div id="u5420_text" class="text " style="display:none; visibility: hidden">
                      <p></p>
                    </div>
                  </div>

                  <!-- Unnamed (Group) -->
                  <div id="u5421" class="ax_default" data-left="95" data-top="38" data-width="38" data-height="56" layer-opacity="1">

                    <!-- Unnamed (Triangle) -->
                    <div id="u5422" class="ax_default _流程图形状">
                      <img id="u5422_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5422.svg') }}"/>
                      <div id="u5422_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                      </div>
                    </div>

                    <!-- Unnamed (Triangle) -->
                    <div id="u5423" class="ax_default _流程图形状">
                      <img id="u5423_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5423.svg') }}"/>
                      <div id="u5423_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                      </div>
                    </div>

                    <!-- Unnamed (Ellipse) -->
                    <div id="u5424" class="ax_default _形状">
                      <img id="u5424_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5424.svg') }}"/>
                      <div id="u5424_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                      </div>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u5425" class="ax_default _三级标题">
                    <div id="u5425_div" class=""></div>
                    <div id="u5425_text" class="text ">
                      <p><span>never</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u5426" class="ax_default _三级标题">
                    <div id="u5426_div" class=""></div>
                    <div id="u5426_text" class="text ">
                      <p><span>alaways</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u5427" class="ax_default _三级标题">
                    <div id="u5427_div" class=""></div>
                    <div id="u5427_text" class="text ">
                      <p><span>only multiple data</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Placeholder) -->
                  <div id="u5428" class="ax_default placeholder">
                    <img id="u5428_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5428.svg') }}"/>
                    <div id="u5428_text" class="text " style="display:none; visibility: hidden">
                      <p></p>
                    </div>
                  </div>

                  <!-- Unnamed (Placeholder) -->
                  <div id="u5429" class="ax_default placeholder">
                    <img id="u5429_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5429.svg') }}"/>
                    <div id="u5429_text" class="text " style="display:none; visibility: hidden">
                      <p></p>
                    </div>
                  </div>

                  <!-- Unnamed (Placeholder) -->
                  <div id="u5430" class="ax_default placeholder">
                    <img id="u5430_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5430.svg') }}"/>
                    <div id="u5430_text" class="text " style="display:none; visibility: hidden">
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u5431" class="ax_default _三级标题">
              <div id="u5431_div" class=""></div>
              <div id="u5431_text" class="text ">
                <p><span>Compound Source</span></p>
              </div>
            </div>

            <!-- Unnamed (Bracket) -->
            <div id="u5432" class="ax_default _流程图形状">
              <img id="u5432_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5432.svg') }}"/>
              <div id="u5432_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u5433" class="ax_default _三级标题">
              <div id="u5433_div" class=""></div>
              <div id="u5433_text" class="text ">
                <p><span>Polythermal Projection</span></p>
              </div>
            </div>

            <!-- Unnamed (Checkbox) -->
            <div id="u5434" class="ax_default checkbox">
              <label id="u5434_input_label" for="u5434_input" style="position: absolute; left: 0px;">
                <img id="u5434_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5434.svg') }}"/>
                <div id="u5434_text" class="text ">
                  <p><span style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">T(min) and T(max)</span></p>
                </div>
              </label>
              <input id="u5434_input" type="checkbox" value="checkbox"/>
            </div>

            <!-- Unnamed (Checkbox) -->
            <div id="u5435" class="ax_default checkbox">
              <label id="u5435_input_label" for="u5435_input" style="position: absolute; left: 0px;">
                <img id="u5435_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5435.svg') }}"/>
                <div id="u5435_text" class="text ">
                  <p><span style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">intersection compositions</span></p>
                </div>
              </label>
              <input id="u5435_input" type="checkbox" value="checkbox"/>
            </div>

            <!-- Unnamed (Checkbox) -->
            <div id="u5436" class="ax_default checkbox">
              <label id="u5436_input_label" for="u5436_input" style="position: absolute; left: 0px;">
                <img id="u5436_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5436.svg') }}"/>
                <div id="u5436_text" class="text ">
                  <p><span style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">intersection phases</span></p>
                </div>
              </label>
              <input id="u5436_input" type="checkbox" value="checkbox"/>
            </div>

            <!-- Unnamed (Checkbox) -->
            <div id="u5437" class="ax_default checkbox">
              <label id="u5437_input_label" for="u5437_input" style="position: absolute; left: 0px;">
                <img id="u5437_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5437.svg') }}"/>
                <div id="u5437_text" class="text ">
                  <p><span style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">intersection '#' on figure</span></p>
                </div>
              </label>
              <input id="u5437_input" type="checkbox" value="checkbox"/>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u5438" class="ax_default" data-left="562" data-top="147" data-width="197" data-height="17" layer-opacity="1">

              <!-- Unnamed (Checkbox) -->
              <div id="u5439" class="ax_default checkbox">
                <label id="u5439_input_label" for="u5439_input" style="position: absolute; left: 0px;">
                  <img id="u5439_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5439.svg') }}"/>
                  <div id="u5439_text" class="text ">
                    <p><span style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">intersection&nbsp; &nbsp; &nbsp; on figure</span></p>
                  </div>
                </label>
                <input id="u5439_input" type="checkbox" value="checkbox"/>
              </div>

              <!-- Unnamed (Ellipse) -->
              <div id="u5440" class="ax_default _形状">
                <img id="u5440_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5440.svg') }}"/>
                <div id="u5440_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Bracket) -->
            <div id="u5441" class="ax_default _流程图形状">
              <img id="u5441_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5441.svg') }}"/>
              <div id="u5441_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u5442" class="ax_default _三级标题">
              <div id="u5442_div" class=""></div>
              <div id="u5442_text" class="text ">
                <p><span>Iso-T Section</span></p>
              </div>
            </div>

            <!-- Unnamed (Checkbox) -->
            <div id="u5443" class="ax_default checkbox">
              <label id="u5443_input_label" for="u5443_input" style="position: absolute; left: 0px;">
                <img id="u5443_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5443.svg') }}"/>
                <div id="u5443_text" class="text ">
                  <p><span style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">color</span></p>
                </div>
              </label>
              <input id="u5443_input" type="checkbox" value="checkbox"/>
            </div>

            <!-- Unnamed (Checkbox) -->
            <div id="u5444" class="ax_default checkbox">
              <label id="u5444_input_label" for="u5444_input" style="position: absolute; left: 0px;">
                <img id="u5444_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5444.svg') }}"/>
                <div id="u5444_text" class="text ">
                  <p><span style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">T scale</span></p>
                </div>
              </label>
              <input id="u5444_input" type="checkbox" value="checkbox"/>
            </div>

            <!-- Unnamed (Checkbox) -->
            <div id="u5445" class="ax_default checkbox">
              <label id="u5445_input_label" for="u5445_input" style="position: absolute; left: 0px;">
                <img id="u5445_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5445.svg') }}"/>
                <div id="u5445_text" class="text ">
                  <p><span style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">by phases</span></p>
                </div>
              </label>
              <input id="u5445_input" type="checkbox" value="checkbox"/>
            </div>

            <!-- Unnamed (Checkbox) -->
            <div id="u5446" class="ax_default checkbox">
              <label id="u5446_input_label" for="u5446_input" style="position: absolute; left: 0px;">
                <img id="u5446_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5446.svg') }}"/>
                <div id="u5446_text" class="text ">
                  <p><span style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">T value</span></p>
                </div>
              </label>
              <input id="u5446_input" type="checkbox" value="checkbox"/>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u5447" class="ax_default" data-left="698" data-top="293" data-width="76" data-height="17" layer-opacity="1">

              <!-- Unnamed (Checkbox) -->
              <div id="u5448" class="ax_default checkbox">
                <label id="u5448_input_label" for="u5448_input" style="position: absolute; left: 0px;">
                  <img id="u5448_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5448.svg') }}"/>
                  <div id="u5448_text" class="text ">
                    <p><span style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">T units</span></p>
                  </div>
                </label>
                <input id="u5448_input" type="checkbox" value="checkbox"/>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u5449" class="ax_default _三级标题">
              <div id="u5449_div" class=""></div>
              <div id="u5449_text" class="text ">
                <p><span>Colors</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u5450" class="ax_default _三级标题">
              <div id="u5450_div" class=""></div>
              <div id="u5450_text" class="text ">
                <p><span>Labels</span></p>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u5451" class="ax_default" data-left="698" data-top="317" data-width="76" data-height="17" layer-opacity="1">

              <!-- Unnamed (Checkbox) -->
              <div id="u5452" class="ax_default checkbox">
                <label id="u5452_input_label" for="u5452_input" style="position: absolute; left: 0px;">
                  <img id="u5452_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5452.svg') }}"/>
                  <div id="u5452_text" class="text ">
                    <p><span style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">phases</span></p>
                  </div>
                </label>
                <input id="u5452_input" type="checkbox" value="checkbox"/>
              </div>
            </div>

            <!-- Unnamed (Vertical Line) -->
            <div id="u5453" class="ax_default line">
              <img id="u5453_img" class="img " src="{{ url_for('static', filename='images/相图-菜单-参数/u5453.svg') }}"/>
              <div id="u5453_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u5454" class="ax_default box_1">
        <div id="u5454_div" class=""></div>
        <div id="u5454_text" class="text ">
          <p><span>Cancel</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u5455" class="ax_default box_1">
        <div id="u5455_div" class=""></div>
        <div id="u5455_text" class="text ">
          <p><span>Apply</span></p>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
