<!DOCTYPE html>
<html>
  <head>
    <title>相图-成分添加-单位</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/相图-成分添加-单位/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/相图-成分添加-单位/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u4579" class="ax_default box_1">
        <div id="u4579_div" class=""></div>
        <div id="u4579_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u4580" class="ax_default box_1">
        <div id="u4580_div" class=""></div>
        <div id="u4580_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- 背景 (Dynamic Panel) -->
      <div id="u4581" class="ax_default" data-label="背景">
        <div id="u4581_state0" class="panel_state" data-label="1" style="">
          <div id="u4581_state0_content" class="panel_state_content">
          </div>
        </div>
        <div id="u4581_state1" class="panel_state" data-label="2" style="visibility: hidden;">
          <div id="u4581_state1_content" class="panel_state_content">
          </div>
        </div>
        <div id="u4581_state2" class="panel_state" data-label="3" style="visibility: hidden;">
          <div id="u4581_state2_content" class="panel_state_content">
          </div>
        </div>
        <div id="u4581_state3" class="panel_state" data-label="4" style="visibility: hidden;">
          <div id="u4581_state3_content" class="panel_state_content">
          </div>
        </div>
        <div id="u4581_state4" class="panel_state" data-label="5" style="visibility: hidden;">
          <div id="u4581_state4_content" class="panel_state_content">
          </div>
        </div>
        <div id="u4581_state5" class="panel_state" data-label="6" style="visibility: hidden;">
          <div id="u4581_state5_content" class="panel_state_content">
          </div>
        </div>
        <div id="u4581_state6" class="panel_state" data-label="7" style="visibility: hidden;">
          <div id="u4581_state6_content" class="panel_state_content">
          </div>
        </div>
        <div id="u4581_state7" class="panel_state" data-label="8" style="visibility: hidden;">
          <div id="u4581_state7_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u4582" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u4583" class="ax_default box_1">
          <img id="u4583_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
          <div id="u4583_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u4584" class="ax_default box_1">
          <img id="u4584_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
          <div id="u4584_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u4585" class="ax_default box_1 selected">
        <div id="u4585_div" class="selected"></div>
        <div id="u4585_text" class="text ">
          <p><span>Phase Diagram - Units</span></p>
        </div>
      </div>

      <!-- Unnamed (Bracket) -->
      <div id="u4586" class="ax_default _流程图形状">
        <img id="u4586_img" class="img " src="{{ url_for('static', filename='images/单位/u778.svg') }}"/>
        <div id="u4586_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u4587" class="ax_default _三级标题">
        <div id="u4587_div" class=""></div>
        <div id="u4587_text" class="text ">
          <p><span>Temperature</span></p>
        </div>
      </div>

      <!-- Unnamed (Bracket) -->
      <div id="u4588" class="ax_default _流程图形状">
        <img id="u4588_img" class="img " src="{{ url_for('static', filename='images/单位/u778.svg') }}"/>
        <div id="u4588_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u4589" class="ax_default _三级标题">
        <div id="u4589_div" class=""></div>
        <div id="u4589_text" class="text ">
          <p><span>Pressure</span></p>
        </div>
      </div>

      <!-- Unnamed (Bracket) -->
      <div id="u4590" class="ax_default _流程图形状">
        <img id="u4590_img" class="img " src="{{ url_for('static', filename='images/单位/u778.svg') }}"/>
        <div id="u4590_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u4591" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u4592" class="ax_default _三级标题">
        <div id="u4592_div" class=""></div>
        <div id="u4592_text" class="text ">
          <p><span>Mass</span></p>
        </div>
      </div>

      <!-- Unnamed (Bracket) -->
      <div id="u4593" class="ax_default _流程图形状">
        <img id="u4593_img" class="img " src="{{ url_for('static', filename='images/单位/u778.svg') }}"/>
        <div id="u4593_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u4594" class="ax_default _三级标题">
        <div id="u4594_div" class=""></div>
        <div id="u4594_text" class="text ">
          <p><span>Volume</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u4595" class="ax_default box_1">
        <div id="u4595_div" class=""></div>
        <div id="u4595_text" class="text ">
          <p><span>Cancel</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u4596" class="ax_default box_1">
        <div id="u4596_div" class=""></div>
        <div id="u4596_text" class="text ">
          <p><span>Apply</span></p>
        </div>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u4597" class="ax_default radio_button selected" selectiongroup="温度">
        <label id="u4597_input_label" for="u4597_input" style="position: absolute; left: 0px;">
          <img id="u4597_img" class="img " src="{{ url_for('static', filename='images/反应物/u2868_selected.svg') }}"/>
          <div id="u4597_text" class="text ">
            <p><span>&nbsp;K</span></p>
          </div>
        </label>
        <input id="u4597_input" type="radio" value="radio" name="温度" checked/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u4598" class="ax_default radio_button" selectiongroup="温度">
        <label id="u4598_input_label" for="u4598_input" style="position: absolute; left: 0px;">
          <img id="u4598_img" class="img " src="{{ url_for('static', filename='images/反应物/u2869.svg') }}"/>
          <div id="u4598_text" class="text ">
            <p><span>&nbsp;℃</span></p>
          </div>
        </label>
        <input id="u4598_input" type="radio" value="radio" name="温度"/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u4599" class="ax_default radio_button selected" selectiongroup="质量">
        <label id="u4599_input_label" for="u4599_input" style="position: absolute; left: 0px;">
          <img id="u4599_img" class="img " src="{{ url_for('static', filename='images/反应物/u2870_selected.svg') }}"/>
          <div id="u4599_text" class="text ">
            <p><span>&nbsp;mg</span></p>
          </div>
        </label>
        <input id="u4599_input" type="radio" value="radio" name="质量" checked/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u4600" class="ax_default radio_button" selectiongroup="质量">
        <label id="u4600_input_label" for="u4600_input" style="position: absolute; left: 0px;">
          <img id="u4600_img" class="img " src="{{ url_for('static', filename='images/反应物/u2871.svg') }}"/>
          <div id="u4600_text" class="text ">
            <p><span>&nbsp;mol</span></p>
          </div>
        </label>
        <input id="u4600_input" type="radio" value="radio" name="质量"/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u4601" class="ax_default radio_button selected" selectiongroup="压力">
        <label id="u4601_input_label" for="u4601_input" style="position: absolute; left: 0px;">
          <img id="u4601_img" class="img " src="{{ url_for('static', filename='images/反应物/u2872_selected.svg') }}"/>
          <div id="u4601_text" class="text ">
            <p><span>&nbsp;atm</span></p>
          </div>
        </label>
        <input id="u4601_input" type="radio" value="radio" name="压力" checked/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u4602" class="ax_default radio_button" selectiongroup="压力">
        <label id="u4602_input_label" for="u4602_input" style="position: absolute; left: 0px;">
          <img id="u4602_img" class="img " src="{{ url_for('static', filename='images/反应物/u2873.svg') }}"/>
          <div id="u4602_text" class="text ">
            <p><span>&nbsp;psi</span></p>
          </div>
        </label>
        <input id="u4602_input" type="radio" value="radio" name="压力"/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u4603" class="ax_default radio_button selected" selectiongroup="体积">
        <label id="u4603_input_label" for="u4603_input" style="position: absolute; left: 0px;">
          <img id="u4603_img" class="img " src="{{ url_for('static', filename='images/反应物/u2874_selected.svg') }}"/>
          <div id="u4603_text" class="text ">
            <p><span>&nbsp;mL</span></p>
          </div>
        </label>
        <input id="u4603_input" type="radio" value="radio" name="体积" checked/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u4604" class="ax_default radio_button" selectiongroup="体积">
        <label id="u4604_input_label" for="u4604_input" style="position: absolute; left: 0px;">
          <img id="u4604_img" class="img " src="{{ url_for('static', filename='images/反应物/u2875.svg') }}"/>
          <div id="u4604_text" class="text ">
            <p><span>&nbsp;L</span></p>
          </div>
        </label>
        <input id="u4604_input" type="radio" value="radio" name="体积"/>
      </div>

      <!-- Unnamed (Bracket) -->
      <div id="u4605" class="ax_default _流程图形状">
        <img id="u4605_img" class="img " src="{{ url_for('static', filename='images/单位/u778.svg') }}"/>
        <div id="u4605_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u4606" class="ax_default _三级标题">
        <div id="u4606_div" class=""></div>
        <div id="u4606_text" class="text ">
          <p><span>单位1</span></p>
        </div>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u4607" class="ax_default radio_button selected" selectiongroup="单位1">
        <label id="u4607_input_label" for="u4607_input" style="position: absolute; left: 0px;">
          <img id="u4607_img" class="img " src="{{ url_for('static', filename='images/反应物/u2878_selected.svg') }}"/>
          <div id="u4607_text" class="text ">
            <p><span>&nbsp;标准1</span></p>
          </div>
        </label>
        <input id="u4607_input" type="radio" value="radio" name="单位1" checked/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u4608" class="ax_default radio_button" selectiongroup="单位1">
        <label id="u4608_input_label" for="u4608_input" style="position: absolute; left: 0px;">
          <img id="u4608_img" class="img " src="{{ url_for('static', filename='images/反应物/u2879.svg') }}"/>
          <div id="u4608_text" class="text ">
            <p><span>&nbsp;标准2</span></p>
          </div>
        </label>
        <input id="u4608_input" type="radio" value="radio" name="单位1"/>
      </div>

      <!-- Unnamed (Bracket) -->
      <div id="u4609" class="ax_default _流程图形状">
        <img id="u4609_img" class="img " src="{{ url_for('static', filename='images/单位/u778.svg') }}"/>
        <div id="u4609_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u4610" class="ax_default _三级标题">
        <div id="u4610_div" class=""></div>
        <div id="u4610_text" class="text ">
          <p><span>单位2</span></p>
        </div>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u4611" class="ax_default radio_button selected" selectiongroup="单位2">
        <label id="u4611_input_label" for="u4611_input" style="position: absolute; left: 0px;">
          <img id="u4611_img" class="img " src="{{ url_for('static', filename='images/相图-成分添加-单位/u4611_selected.svg') }}"/>
          <div id="u4611_text" class="text ">
            <p><span>&nbsp;标准1</span></p>
          </div>
        </label>
        <input id="u4611_input" type="radio" value="radio" name="单位2" checked/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u4612" class="ax_default radio_button" selectiongroup="单位2">
        <label id="u4612_input_label" for="u4612_input" style="position: absolute; left: 0px;">
          <img id="u4612_img" class="img " src="{{ url_for('static', filename='images/相图-成分添加-单位/u4612.svg') }}"/>
          <div id="u4612_text" class="text ">
            <p><span>&nbsp;标准2</span></p>
          </div>
        </label>
        <input id="u4612_input" type="radio" value="radio" name="单位2"/>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
