<!DOCTYPE html>
<html>
  <head>
    <title>相图-菜单-单位</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/相图-菜单-单位/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/相图-菜单-单位/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u5690" class="ax_default box_1">
        <div id="u5690_div" class=""></div>
        <div id="u5690_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u5691" class="ax_default box_1">
        <div id="u5691_div" class=""></div>
        <div id="u5691_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- 背景 (Dynamic Panel) -->
      <div id="u5692" class="ax_default" data-label="背景">
        <div id="u5692_state0" class="panel_state" data-label="1" style="">
          <div id="u5692_state0_content" class="panel_state_content">
          </div>
        </div>
        <div id="u5692_state1" class="panel_state" data-label="2" style="visibility: hidden;">
          <div id="u5692_state1_content" class="panel_state_content">
          </div>
        </div>
        <div id="u5692_state2" class="panel_state" data-label="3" style="visibility: hidden;">
          <div id="u5692_state2_content" class="panel_state_content">
          </div>
        </div>
        <div id="u5692_state3" class="panel_state" data-label="4" style="visibility: hidden;">
          <div id="u5692_state3_content" class="panel_state_content">
          </div>
        </div>
        <div id="u5692_state4" class="panel_state" data-label="5" style="visibility: hidden;">
          <div id="u5692_state4_content" class="panel_state_content">
          </div>
        </div>
        <div id="u5692_state5" class="panel_state" data-label="6" style="visibility: hidden;">
          <div id="u5692_state5_content" class="panel_state_content">
          </div>
        </div>
        <div id="u5692_state6" class="panel_state" data-label="7" style="visibility: hidden;">
          <div id="u5692_state6_content" class="panel_state_content">
          </div>
        </div>
        <div id="u5692_state7" class="panel_state" data-label="8" style="visibility: hidden;">
          <div id="u5692_state7_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u5693" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u5694" class="ax_default box_1">
          <img id="u5694_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
          <div id="u5694_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u5695" class="ax_default box_1">
          <img id="u5695_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
          <div id="u5695_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u5696" class="ax_default box_1 selected">
        <div id="u5696_div" class="selected"></div>
        <div id="u5696_text" class="text ">
          <p><span>Phase Diagram - Units</span></p>
        </div>
      </div>

      <!-- Unnamed (Bracket) -->
      <div id="u5697" class="ax_default _流程图形状">
        <img id="u5697_img" class="img " src="{{ url_for('static', filename='images/单位/u778.svg') }}"/>
        <div id="u5697_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u5698" class="ax_default _三级标题">
        <div id="u5698_div" class=""></div>
        <div id="u5698_text" class="text ">
          <p><span>Temperature</span></p>
        </div>
      </div>

      <!-- Unnamed (Bracket) -->
      <div id="u5699" class="ax_default _流程图形状">
        <img id="u5699_img" class="img " src="{{ url_for('static', filename='images/单位/u778.svg') }}"/>
        <div id="u5699_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u5700" class="ax_default _三级标题">
        <div id="u5700_div" class=""></div>
        <div id="u5700_text" class="text ">
          <p><span>Pressure</span></p>
        </div>
      </div>

      <!-- Unnamed (Bracket) -->
      <div id="u5701" class="ax_default _流程图形状">
        <img id="u5701_img" class="img " src="{{ url_for('static', filename='images/单位/u778.svg') }}"/>
        <div id="u5701_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u5702" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u5703" class="ax_default _三级标题">
        <div id="u5703_div" class=""></div>
        <div id="u5703_text" class="text ">
          <p><span>Mass</span></p>
        </div>
      </div>

      <!-- Unnamed (Bracket) -->
      <div id="u5704" class="ax_default _流程图形状">
        <img id="u5704_img" class="img " src="{{ url_for('static', filename='images/单位/u778.svg') }}"/>
        <div id="u5704_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u5705" class="ax_default _三级标题">
        <div id="u5705_div" class=""></div>
        <div id="u5705_text" class="text ">
          <p><span>Volume</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u5706" class="ax_default box_1">
        <div id="u5706_div" class=""></div>
        <div id="u5706_text" class="text ">
          <p><span>Cancel</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u5707" class="ax_default box_1">
        <div id="u5707_div" class=""></div>
        <div id="u5707_text" class="text ">
          <p><span>Apply</span></p>
        </div>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u5708" class="ax_default radio_button selected" selectiongroup="温度">
        <label id="u5708_input_label" for="u5708_input" style="position: absolute; left: 0px;">
          <img id="u5708_img" class="img " src="{{ url_for('static', filename='images/反应物/u2868_selected.svg') }}"/>
          <div id="u5708_text" class="text ">
            <p><span>&nbsp;K</span></p>
          </div>
        </label>
        <input id="u5708_input" type="radio" value="radio" name="温度" checked/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u5709" class="ax_default radio_button" selectiongroup="温度">
        <label id="u5709_input_label" for="u5709_input" style="position: absolute; left: 0px;">
          <img id="u5709_img" class="img " src="{{ url_for('static', filename='images/反应物/u2869.svg') }}"/>
          <div id="u5709_text" class="text ">
            <p><span>&nbsp;℃</span></p>
          </div>
        </label>
        <input id="u5709_input" type="radio" value="radio" name="温度"/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u5710" class="ax_default radio_button selected" selectiongroup="质量">
        <label id="u5710_input_label" for="u5710_input" style="position: absolute; left: 0px;">
          <img id="u5710_img" class="img " src="{{ url_for('static', filename='images/反应物/u2870_selected.svg') }}"/>
          <div id="u5710_text" class="text ">
            <p><span>&nbsp;mg</span></p>
          </div>
        </label>
        <input id="u5710_input" type="radio" value="radio" name="质量" checked/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u5711" class="ax_default radio_button" selectiongroup="质量">
        <label id="u5711_input_label" for="u5711_input" style="position: absolute; left: 0px;">
          <img id="u5711_img" class="img " src="{{ url_for('static', filename='images/反应物/u2871.svg') }}"/>
          <div id="u5711_text" class="text ">
            <p><span>&nbsp;mol</span></p>
          </div>
        </label>
        <input id="u5711_input" type="radio" value="radio" name="质量"/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u5712" class="ax_default radio_button selected" selectiongroup="压力">
        <label id="u5712_input_label" for="u5712_input" style="position: absolute; left: 0px;">
          <img id="u5712_img" class="img " src="{{ url_for('static', filename='images/反应物/u2872_selected.svg') }}"/>
          <div id="u5712_text" class="text ">
            <p><span>&nbsp;atm</span></p>
          </div>
        </label>
        <input id="u5712_input" type="radio" value="radio" name="压力" checked/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u5713" class="ax_default radio_button" selectiongroup="压力">
        <label id="u5713_input_label" for="u5713_input" style="position: absolute; left: 0px;">
          <img id="u5713_img" class="img " src="{{ url_for('static', filename='images/反应物/u2873.svg') }}"/>
          <div id="u5713_text" class="text ">
            <p><span>&nbsp;psi</span></p>
          </div>
        </label>
        <input id="u5713_input" type="radio" value="radio" name="压力"/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u5714" class="ax_default radio_button selected" selectiongroup="体积">
        <label id="u5714_input_label" for="u5714_input" style="position: absolute; left: 0px;">
          <img id="u5714_img" class="img " src="{{ url_for('static', filename='images/反应物/u2874_selected.svg') }}"/>
          <div id="u5714_text" class="text ">
            <p><span>&nbsp;mL</span></p>
          </div>
        </label>
        <input id="u5714_input" type="radio" value="radio" name="体积" checked/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u5715" class="ax_default radio_button" selectiongroup="体积">
        <label id="u5715_input_label" for="u5715_input" style="position: absolute; left: 0px;">
          <img id="u5715_img" class="img " src="{{ url_for('static', filename='images/反应物/u2875.svg') }}"/>
          <div id="u5715_text" class="text ">
            <p><span>&nbsp;L</span></p>
          </div>
        </label>
        <input id="u5715_input" type="radio" value="radio" name="体积"/>
      </div>

      <!-- Unnamed (Bracket) -->
      <div id="u5716" class="ax_default _流程图形状">
        <img id="u5716_img" class="img " src="{{ url_for('static', filename='images/单位/u778.svg') }}"/>
        <div id="u5716_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u5717" class="ax_default _三级标题">
        <div id="u5717_div" class=""></div>
        <div id="u5717_text" class="text ">
          <p><span>单位1</span></p>
        </div>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u5718" class="ax_default radio_button selected" selectiongroup="单位1">
        <label id="u5718_input_label" for="u5718_input" style="position: absolute; left: 0px;">
          <img id="u5718_img" class="img " src="{{ url_for('static', filename='images/反应物/u2878_selected.svg') }}"/>
          <div id="u5718_text" class="text ">
            <p><span>&nbsp;标准1</span></p>
          </div>
        </label>
        <input id="u5718_input" type="radio" value="radio" name="单位1" checked/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u5719" class="ax_default radio_button" selectiongroup="单位1">
        <label id="u5719_input_label" for="u5719_input" style="position: absolute; left: 0px;">
          <img id="u5719_img" class="img " src="{{ url_for('static', filename='images/反应物/u2879.svg') }}"/>
          <div id="u5719_text" class="text ">
            <p><span>&nbsp;标准2</span></p>
          </div>
        </label>
        <input id="u5719_input" type="radio" value="radio" name="单位1"/>
      </div>

      <!-- Unnamed (Bracket) -->
      <div id="u5720" class="ax_default _流程图形状">
        <img id="u5720_img" class="img " src="{{ url_for('static', filename='images/单位/u778.svg') }}"/>
        <div id="u5720_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u5721" class="ax_default _三级标题">
        <div id="u5721_div" class=""></div>
        <div id="u5721_text" class="text ">
          <p><span>单位2</span></p>
        </div>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u5722" class="ax_default radio_button selected" selectiongroup="单位2">
        <label id="u5722_input_label" for="u5722_input" style="position: absolute; left: 0px;">
          <img id="u5722_img" class="img " src="{{ url_for('static', filename='images/相图-成分添加-单位/u4611_selected.svg') }}"/>
          <div id="u5722_text" class="text ">
            <p><span>&nbsp;标准1</span></p>
          </div>
        </label>
        <input id="u5722_input" type="radio" value="radio" name="单位2" checked/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u5723" class="ax_default radio_button" selectiongroup="单位2">
        <label id="u5723_input_label" for="u5723_input" style="position: absolute; left: 0px;">
          <img id="u5723_img" class="img " src="{{ url_for('static', filename='images/相图-成分添加-单位/u4612.svg') }}"/>
          <div id="u5723_text" class="text ">
            <p><span>&nbsp;标准2</span></p>
          </div>
        </label>
        <input id="u5723_input" type="radio" value="radio" name="单位2"/>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
