<!DOCTYPE html>
<html>
<head>
    <title>相图-菜单-参数</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/相图-菜单-参数/styles.css') }}" type="text/css" rel="stylesheet"/>

    <script>
        document.oncontextmenu = function (event) {
            event = event || window.event;
            var targetElement = event.target || event.srcElement;
            if (!targetElement) return true;

            if (targetElement.tagName) {
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||
                    targetElement.tagName.toLowerCase() === "textarea") {
                    return true;
                }
            }
            return false;
        }
    </script>
    <script src
                    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/相图-菜单-参数/data.js') }}"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () {
            return 'resources/images/transparent.gif';
        };
        $axure.utils.getOtherPath = function () {
            return 'resources/Other.html';
        };
        $axure.utils.getReloadPath = function () {
            return 'resources/reload.html';
        };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- Unnamed (Rectangle) -->
    <div id="u5657" class="ax_default box_1">
        <div id="u5657_div" class=""></div>
        <div id="u5657_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- 背景 (Dynamic Panel) -->
    <div id="u5658" class="ax_default" data-label="背景">
        <div id="u5658_state0" class="panel_state" data-label="1" style="">
            <div id="u5658_state0_content" class="panel_state_content">
            </div>
        </div>
        <div id="u5658_state1" class="panel_state" data-label="2" style="visibility: hidden;">
            <div id="u5658_state1_content" class="panel_state_content">
            </div>
        </div>
        <div id="u5658_state2" class="panel_state" data-label="3" style="visibility: hidden;">
            <div id="u5658_state2_content" class="panel_state_content">
            </div>
        </div>
        <div id="u5658_state3" class="panel_state" data-label="4" style="visibility: hidden;">
            <div id="u5658_state3_content" class="panel_state_content">
            </div>
        </div>
        <div id="u5658_state4" class="panel_state" data-label="5" style="visibility: hidden;">
            <div id="u5658_state4_content" class="panel_state_content">
            </div>
        </div>
        <div id="u5658_state5" class="panel_state" data-label="6" style="visibility: hidden;">
            <div id="u5658_state5_content" class="panel_state_content">
            </div>
        </div>
        <div id="u5658_state6" class="panel_state" data-label="7" style="visibility: hidden;">
            <div id="u5658_state6_content" class="panel_state_content">
            </div>
        </div>
        <div id="u5658_state7" class="panel_state" data-label="8" style="visibility: hidden;">
            <div id="u5658_state7_content" class="panel_state_content">
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u5659" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u5660" class="ax_default box_1">
            <img id="u5660_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
            <div id="u5660_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u5661" class="ax_default box_1">
            <img id="u5661_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
            <div id="u5661_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u5662" class="ax_default box_1 selected">
        <div id="u5662_div" class="selected"></div>
        <div id="u5662_text" class="text ">
            <p><span>Phase Diagram - Parameters</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u5663" class="ax_default box_1">
        <div id="u5663_div" class=""></div>
        <div id="u5663_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- 工作区 (Dynamic Panel) -->
    <div id="u5664" class="ax_default" data-label="工作区">
        <div id="u5664_state0" class="panel_state" data-label="State 1" style="">
            <div id="u5664_state0_content" class="panel_state_content">

                <!-- Unnamed (Bracket) -->
                <div id="u5665" class="ax_default _流程图形状">
                    <img id="u5665_img" class="img "
                         src="{{ url_for('static', filename='images/相图-菜单-参数/u5665.svg') }}"/>
                    <div id="u5665_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Bracket) -->
                <div id="u5666" class="ax_default _流程图形状">
                    <img id="u5666_img" class="img "
                         src="{{ url_for('static', filename='images/相图-菜单-参数/u5666.svg') }}"/>
                    <div id="u5666_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Checkbox) -->
                <div id="u5667" class="ax_default checkbox">
                    <label id="u5667_input_label" for="u5667_input" style="position: absolute; left: 0px;">
                        <img id="u5667_img" class="img "
                             src="{{ url_for('static', filename='images/相图-菜单-参数/u5667.svg') }}"/>
                        <div id="u5667_text" class="text ">
                            <p><span
                                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span
                                    style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">Full screen</span>
                            </p>
                        </div>
                    </label>
                    <input id="u5667_input" type="checkbox" value="checkbox"/>
                </div>

                <!-- Unnamed (Checkbox) -->
                <div id="u5668" class="ax_default checkbox">
                    <label id="u5668_input_label" for="u5668_input" style="position: absolute; left: 0px;">
                        <img id="u5668_img" class="img "
                             src="{{ url_for('static', filename='images/相图-菜单-参数/u5668.svg') }}"/>
                        <div id="u5668_text" class="text ">
                            <p><span
                                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span
                                    style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">Color</span>
                            </p>
                        </div>
                    </label>
                    <input id="u5668_input" type="checkbox" value="checkbox"/>
                </div>

                <!-- Unnamed (Checkbox) -->
                <div id="u5669" class="ax_default checkbox">
                    <label id="u5669_input_label" for="u5669_input" style="position: absolute; left: 0px;">
                        <img id="u5669_img" class="img "
                             src="{{ url_for('static', filename='images/相图-菜单-参数/u5669.svg') }}"/>
                        <div id="u5669_text" class="text ">
                            <p><span
                                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span
                                    style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">Title</span>
                            </p>
                        </div>
                    </label>
                    <input id="u5669_input" type="checkbox" value="checkbox"/>
                </div>

                <!-- Unnamed (Checkbox) -->
                <div id="u5670" class="ax_default checkbox">
                    <label id="u5670_input_label" for="u5670_input" style="position: absolute; left: 0px;">
                        <img id="u5670_img" class="img "
                             src="{{ url_for('static', filename='images/相图-菜单-参数/u5670.svg') }}"/>
                        <div id="u5670_text" class="text ">
                            <p><span
                                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span
                                    style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">sub-title</span>
                            </p>
                        </div>
                    </label>
                    <input id="u5670_input" type="checkbox" value="checkbox"/>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u5671" class="ax_default _三级标题">
                    <div id="u5671_div" class=""></div>
                    <div id="u5671_text" class="text ">
                        <p><span>Display</span></p>
                    </div>
                </div>

                <!-- Unnamed (Bracket) -->
                <div id="u5672" class="ax_default _流程图形状">
                    <img id="u5672_img" class="img "
                         src="{{ url_for('static', filename='images/相图-菜单-参数/u5672.svg') }}"/>
                    <div id="u5672_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Checkbox) -->
                <div id="u5673" class="ax_default checkbox">
                    <label id="u5673_input_label" for="u5673_input" style="position: absolute; left: 0px;">
                        <img id="u5673_img" class="img "
                             src="{{ url_for('static', filename='images/相图-菜单-参数/u5673.svg') }}"/>
                        <div id="u5673_text" class="text ">
                            <p><span
                                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span
                                    style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">Status</span>
                            </p>
                        </div>
                    </label>
                    <input id="u5673_input" type="checkbox" value="checkbox"/>
                </div>

                <!-- Unnamed (Checkbox) -->
                <div id="u5674" class="ax_default checkbox">
                    <label id="u5674_input_label" for="u5674_input" style="position: absolute; left: 0px;">
                        <img id="u5674_img" class="img "
                             src="{{ url_for('static', filename='images/相图-菜单-参数/u5674.svg') }}"/>
                        <div id="u5674_text" class="text ">
                            <p><span
                                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span
                                    style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">tie-lines</span>
                            </p>
                        </div>
                    </label>
                    <input id="u5674_input" type="checkbox" value="checkbox"/>
                </div>

                <!-- Unnamed (Checkbox) -->
                <div id="u5675" class="ax_default checkbox">
                    <label id="u5675_input_label" for="u5675_input" style="position: absolute; left: 0px;">
                        <img id="u5675_img" class="img "
                             src="{{ url_for('static', filename='images/相图-菜单-参数/u5675.svg') }}"/>
                        <div id="u5675_text" class="text ">
                            <p><span
                                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span
                                    style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">warning</span>
                            </p>
                        </div>
                    </label>
                    <input id="u5675_input" type="checkbox" value="checkbox"/>
                </div>

                <!-- Unnamed (Checkbox) -->
                <div id="u5676" class="ax_default checkbox">
                    <label id="u5676_input_label" for="u5676_input" style="position: absolute; left: 0px;">
                        <img id="u5676_img" class="img "
                             src="{{ url_for('static', filename='images/相图-菜单-参数/u5676.svg') }}"/>
                        <div id="u5676_text" class="text ">
                            <p><span
                                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span
                                    style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">Status</span>
                            </p>
                        </div>
                    </label>
                    <input id="u5676_input" type="checkbox" value="checkbox"/>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u5677" class="ax_default _三级标题">
                    <div id="u5677_div" class=""></div>
                    <div id="u5677_text" class="text ">
                        <p><span>Show</span></p>
                    </div>
                </div>

                <!-- Unnamed (Checkbox) -->
                <div id="u5678" class="ax_default checkbox">
                    <label id="u5678_input_label" for="u5678_input" style="position: absolute; left: 0px;">
                        <img id="u5678_img" class="img "
                             src="{{ url_for('static', filename='images/相图-菜单-参数/u5678.svg') }}"/>
                        <div id="u5678_text" class="text ">
                            <p><span
                                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span
                                    style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">labels</span>
                            </p>
                        </div>
                    </label>
                    <input id="u5678_input" type="checkbox" value="checkbox"/>
                </div>

                <!-- Unnamed (Bracket) -->
                <div id="u5679" class="ax_default _流程图形状">
                    <img id="u5679_img" class="img "
                         src="{{ url_for('static', filename='images/相图-菜单-参数/u5679.svg') }}"/>
                    <div id="u5679_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u5680" class="ax_default _三级标题">
                    <div id="u5680_div" class=""></div>
                    <div id="u5680_text" class="text ">
                        <p><span>Labels</span></p>
                    </div>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u5681" class="ax_default text_field">
                    <div id="u5681_div" class=""></div>
                    <input id="u5681_input" type="number" value="13" class="u5681_input"/>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u5682" class="ax_default _三级标题">
                    <div id="u5682_div" class=""></div>
                    <div id="u5682_text" class="text ">
                        <p><span>size:</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u5683" class="ax_default _三级标题">
                    <div id="u5683_div" class=""></div>
                    <div id="u5683_text" class="text ">
                        <p><span>color:</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u5684" class="ax_default box_1">
                    <div id="u5684_div" class=""></div>
                    <div id="u5684_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u5685" class="ax_default text_field">
                    <div id="u5685_div" class=""></div>
                    <input id="u5685_input" type="text" value="#F59A23" class="u5685_input"/>
                </div>

                <!-- Unnamed (Checkbox) -->
                <div id="u5686" class="ax_default checkbox">
                    <label id="u5686_input_label" for="u5686_input" style="position: absolute; left: 0px;">
                        <img id="u5686_img" class="img "
                             src="{{ url_for('static', filename='images/相图-菜单-参数/u5686.svg') }}"/>
                        <div id="u5686_text" class="text ">
                            <p><span>&nbsp;bold</span></p>
                        </div>
                    </label>
                    <input id="u5686_input" type="checkbox" value="checkbox"/>
                </div>

                <!-- Unnamed (Checkbox) -->
                <div id="u5687" class="ax_default checkbox">
                    <label id="u5687_input_label" for="u5687_input" style="position: absolute; left: 0px;">
                        <img id="u5687_img" class="img "
                             src="{{ url_for('static', filename='images/相图-菜单-参数/u5687.svg') }}"/>
                        <div id="u5687_text" class="text ">
                            <p><span>&nbsp;italit</span></p>
                        </div>
                    </label>
                    <input id="u5687_input" type="checkbox" value="checkbox"/>
                </div>

                <!-- Unnamed (Checkbox) -->
                <div id="u5688" class="ax_default checkbox">
                    <label id="u5688_input_label" for="u5688_input" style="position: absolute; left: 0px;">
                        <img id="u5688_img" class="img "
                             src="{{ url_for('static', filename='images/相图-菜单-参数/u5688.svg') }}"/>
                        <div id="u5688_text" class="text ">
                            <p><span style="text-decoration:underline ;">&nbsp;underline</span></p>
                        </div>
                    </label>
                    <input id="u5688_input" type="checkbox" value="checkbox"/>
                </div>

                <!-- Unnamed (Checkbox) -->
                <div id="u5689" class="ax_default checkbox">
                    <label id="u5689_input_label" for="u5689_input" style="position: absolute; left: 0px;">
                        <img id="u5689_img" class="img "
                             src="{{ url_for('static', filename='images/相图-菜单-参数/u5689.svg') }}"/>
                        <div id="u5689_text" class="text ">
                            <p><span
                                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span
                                    style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">show '(s)' if pure solid</span>
                            </p>
                        </div>
                    </label>
                    <input id="u5689_input" type="checkbox" value="checkbox"/>
                </div>

                <!-- Unnamed (Checkbox) -->
                <div id="u5690" class="ax_default checkbox">
                    <label id="u5690_input_label" for="u5690_input" style="position: absolute; left: 0px;">
                        <img id="u5690_img" class="img "
                             src="{{ url_for('static', filename='images/相图-菜单-参数/u5690.svg') }}"/>
                        <div id="u5690_text" class="text ">
                            <p><span>&nbsp;chemical</span></p>
                        </div>
                    </label>
                    <input id="u5690_input" type="checkbox" value="checkbox"/>
                </div>

                <!-- Unnamed (Checkbox) -->
                <div id="u5691" class="ax_default checkbox">
                    <label id="u5691_input_label" for="u5691_input" style="position: absolute; left: 0px;">
                        <img id="u5691_img" class="img "
                             src="{{ url_for('static', filename='images/相图-菜单-参数/u5691.svg') }}"/>
                        <div id="u5691_text" class="text ">
                            <p><span>&nbsp;numerical</span></p>
                        </div>
                    </label>
                    <input id="u5691_input" type="checkbox" value="checkbox"/>
                </div>

                <!-- 化合物来源选择器 (Dynamic Panel) -->
                <div id="u5692" class="ax_default" data-label="化合物来源选择器">
                    <div id="u5692_state0" class="panel_state" data-label="State 1" style="">
                        <div id="u5692_state0_content" class="panel_state_content">

                            <!-- Unnamed (Ellipse) -->
                            <div id="u5693" class="ax_default _形状">
                                <img id="u5693_img" class="img "
                                     src="{{ url_for('static', filename='images/相图-菜单-参数/u5693.svg') }}"/>
                                <div id="u5693_text" class="text " style="display:none; visibility: hidden">
                                    <p></p>
                                </div>
                            </div>

                            <!-- Unnamed (Ellipse) -->
                            <div id="u5694" class="ax_default _形状">
                                <img id="u5694_img" class="img "
                                     src="{{ url_for('static', filename='images/相图-菜单-参数/u5693.svg') }}"/>
                                <div id="u5694_text" class="text " style="display:none; visibility: hidden">
                                    <p></p>
                                </div>
                            </div>

                            <!-- Unnamed (Ellipse) -->
                            <div id="u5695" class="ax_default _形状">
                                <img id="u5695_img" class="img "
                                     src="{{ url_for('static', filename='images/相图-菜单-参数/u5693.svg') }}"/>
                                <div id="u5695_text" class="text " style="display:none; visibility: hidden">
                                    <p></p>
                                </div>
                            </div>

                            <!-- Unnamed (Group) -->
                            <div id="u5696" class="ax_default" data-left="95" data-top="38" data-width="38"
                                 data-height="56" layer-opacity="1">

                                <!-- Unnamed (Triangle) -->
                                <div id="u5697" class="ax_default _流程图形状">
                                    <img id="u5697_img" class="img "
                                         src="{{ url_for('static', filename='images/相图-菜单-参数/u5697.svg') }}"/>
                                    <div id="u5697_text" class="text " style="display:none; visibility: hidden">
                                        <p></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Triangle) -->
                                <div id="u5698" class="ax_default _流程图形状">
                                    <img id="u5698_img" class="img "
                                         src="{{ url_for('static', filename='images/相图-菜单-参数/u5698.svg') }}"/>
                                    <div id="u5698_text" class="text " style="display:none; visibility: hidden">
                                        <p></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Ellipse) -->
                                <div id="u5699" class="ax_default _形状">
                                    <img id="u5699_img" class="img "
                                         src="{{ url_for('static', filename='images/相图-菜单-参数/u5699.svg') }}"/>
                                    <div id="u5699_text" class="text " style="display:none; visibility: hidden">
                                        <p></p>
                                    </div>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u5700" class="ax_default _三级标题">
                                <div id="u5700_div" class=""></div>
                                <div id="u5700_text" class="text ">
                                    <p><span>never</span></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u5701" class="ax_default _三级标题">
                                <div id="u5701_div" class=""></div>
                                <div id="u5701_text" class="text ">
                                    <p><span>alaways</span></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u5702" class="ax_default _三级标题">
                                <div id="u5702_div" class=""></div>
                                <div id="u5702_text" class="text ">
                                    <p><span>only multiple data</span></p>
                                </div>
                            </div>

                            <!-- Unnamed (Placeholder) -->
                            <div id="u5703" class="ax_default placeholder">
                                <img id="u5703_img" class="img "
                                     src="{{ url_for('static', filename='images/相图-菜单-参数/u5703.svg') }}"/>
                                <div id="u5703_text" class="text " style="display:none; visibility: hidden">
                                    <p></p>
                                </div>
                            </div>

                            <!-- Unnamed (Placeholder) -->
                            <div id="u5704" class="ax_default placeholder">
                                <img id="u5704_img" class="img "
                                     src="{{ url_for('static', filename='images/相图-菜单-参数/u5704.svg') }}"/>
                                <div id="u5704_text" class="text " style="display:none; visibility: hidden">
                                    <p></p>
                                </div>
                            </div>

                            <!-- Unnamed (Placeholder) -->
                            <div id="u5705" class="ax_default placeholder">
                                <img id="u5705_img" class="img "
                                     src="{{ url_for('static', filename='images/相图-菜单-参数/u5705.svg') }}"/>
                                <div id="u5705_text" class="text " style="display:none; visibility: hidden">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u5706" class="ax_default _三级标题">
                    <div id="u5706_div" class=""></div>
                    <div id="u5706_text" class="text ">
                        <p><span>Compound Source</span></p>
                    </div>
                </div>

                <!-- Unnamed (Bracket) -->
                <div id="u5707" class="ax_default _流程图形状">
                    <img id="u5707_img" class="img "
                         src="{{ url_for('static', filename='images/相图-菜单-参数/u5707.svg') }}"/>
                    <div id="u5707_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u5708" class="ax_default _三级标题">
                    <div id="u5708_div" class=""></div>
                    <div id="u5708_text" class="text ">
                        <p><span>Polythermal Projection</span></p>
                    </div>
                </div>

                <!-- Unnamed (Checkbox) -->
                <div id="u5709" class="ax_default checkbox">
                    <label id="u5709_input_label" for="u5709_input" style="position: absolute; left: 0px;">
                        <img id="u5709_img" class="img "
                             src="{{ url_for('static', filename='images/相图-菜单-参数/u5709.svg') }}"/>
                        <div id="u5709_text" class="text ">
                            <p><span
                                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span
                                    style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">T(min) and T(max)</span>
                            </p>
                        </div>
                    </label>
                    <input id="u5709_input" type="checkbox" value="checkbox"/>
                </div>

                <!-- Unnamed (Checkbox) -->
                <div id="u5710" class="ax_default checkbox">
                    <label id="u5710_input_label" for="u5710_input" style="position: absolute; left: 0px;">
                        <img id="u5710_img" class="img "
                             src="{{ url_for('static', filename='images/相图-菜单-参数/u5710.svg') }}"/>
                        <div id="u5710_text" class="text ">
                            <p><span
                                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span
                                    style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">intersection compositions</span>
                            </p>
                        </div>
                    </label>
                    <input id="u5710_input" type="checkbox" value="checkbox"/>
                </div>

                <!-- Unnamed (Checkbox) -->
                <div id="u5711" class="ax_default checkbox">
                    <label id="u5711_input_label" for="u5711_input" style="position: absolute; left: 0px;">
                        <img id="u5711_img" class="img "
                             src="{{ url_for('static', filename='images/相图-菜单-参数/u5711.svg') }}"/>
                        <div id="u5711_text" class="text ">
                            <p><span
                                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span
                                    style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">intersection phases</span>
                            </p>
                        </div>
                    </label>
                    <input id="u5711_input" type="checkbox" value="checkbox"/>
                </div>

                <!-- Unnamed (Checkbox) -->
                <div id="u5712" class="ax_default checkbox">
                    <label id="u5712_input_label" for="u5712_input" style="position: absolute; left: 0px;">
                        <img id="u5712_img" class="img "
                             src="{{ url_for('static', filename='images/相图-菜单-参数/u5712.svg') }}"/>
                        <div id="u5712_text" class="text ">
                            <p><span
                                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span
                                    style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">intersection '#' on figure</span>
                            </p>
                        </div>
                    </label>
                    <input id="u5712_input" type="checkbox" value="checkbox"/>
                </div>

                <!-- Unnamed (Group) -->
                <div id="u5713" class="ax_default" data-left="562" data-top="147" data-width="197" data-height="17"
                     layer-opacity="1">

                    <!-- Unnamed (Checkbox) -->
                    <div id="u5714" class="ax_default checkbox">
                        <label id="u5714_input_label" for="u5714_input" style="position: absolute; left: 0px;">
                            <img id="u5714_img" class="img "
                                 src="{{ url_for('static', filename='images/相图-菜单-参数/u5714.svg') }}"/>
                            <div id="u5714_text" class="text ">
                                <p><span
                                        style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span
                                        style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">intersection&nbsp; &nbsp; &nbsp; on figure</span>
                                </p>
                            </div>
                        </label>
                        <input id="u5714_input" type="checkbox" value="checkbox"/>
                    </div>

                    <!-- Unnamed (Ellipse) -->
                    <div id="u5715" class="ax_default _形状">
                        <img id="u5715_img" class="img "
                             src="{{ url_for('static', filename='images/相图-菜单-参数/u5715.svg') }}"/>
                        <div id="u5715_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (Bracket) -->
                <div id="u5716" class="ax_default _流程图形状">
                    <img id="u5716_img" class="img "
                         src="{{ url_for('static', filename='images/相图-菜单-参数/u5716.svg') }}"/>
                    <div id="u5716_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u5717" class="ax_default _三级标题">
                    <div id="u5717_div" class=""></div>
                    <div id="u5717_text" class="text ">
                        <p><span>Iso-T Section</span></p>
                    </div>
                </div>

                <!-- Unnamed (Checkbox) -->
                <div id="u5718" class="ax_default checkbox">
                    <label id="u5718_input_label" for="u5718_input" style="position: absolute; left: 0px;">
                        <img id="u5718_img" class="img "
                             src="{{ url_for('static', filename='images/相图-菜单-参数/u5718.svg') }}"/>
                        <div id="u5718_text" class="text ">
                            <p><span
                                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span
                                    style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">color</span>
                            </p>
                        </div>
                    </label>
                    <input id="u5718_input" type="checkbox" value="checkbox"/>
                </div>

                <!-- Unnamed (Checkbox) -->
                <div id="u5719" class="ax_default checkbox">
                    <label id="u5719_input_label" for="u5719_input" style="position: absolute; left: 0px;">
                        <img id="u5719_img" class="img "
                             src="{{ url_for('static', filename='images/相图-菜单-参数/u5719.svg') }}"/>
                        <div id="u5719_text" class="text ">
                            <p><span
                                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span
                                    style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">T scale</span>
                            </p>
                        </div>
                    </label>
                    <input id="u5719_input" type="checkbox" value="checkbox"/>
                </div>

                <!-- Unnamed (Checkbox) -->
                <div id="u5720" class="ax_default checkbox">
                    <label id="u5720_input_label" for="u5720_input" style="position: absolute; left: 0px;">
                        <img id="u5720_img" class="img "
                             src="{{ url_for('static', filename='images/相图-菜单-参数/u5720.svg') }}"/>
                        <div id="u5720_text" class="text ">
                            <p><span
                                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span
                                    style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">by phases</span>
                            </p>
                        </div>
                    </label>
                    <input id="u5720_input" type="checkbox" value="checkbox"/>
                </div>

                <!-- Unnamed (Checkbox) -->
                <div id="u5721" class="ax_default checkbox">
                    <label id="u5721_input_label" for="u5721_input" style="position: absolute; left: 0px;">
                        <img id="u5721_img" class="img "
                             src="{{ url_for('static', filename='images/相图-菜单-参数/u5721.svg') }}"/>
                        <div id="u5721_text" class="text ">
                            <p><span
                                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span
                                    style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">T value</span>
                            </p>
                        </div>
                    </label>
                    <input id="u5721_input" type="checkbox" value="checkbox"/>
                </div>

                <!-- Unnamed (Group) -->
                <div id="u5722" class="ax_default" data-left="698" data-top="293" data-width="76" data-height="17"
                     layer-opacity="1">

                    <!-- Unnamed (Checkbox) -->
                    <div id="u5723" class="ax_default checkbox">
                        <label id="u5723_input_label" for="u5723_input" style="position: absolute; left: 0px;">
                            <img id="u5723_img" class="img "
                                 src="{{ url_for('static', filename='images/相图-菜单-参数/u5723.svg') }}"/>
                            <div id="u5723_text" class="text ">
                                <p><span
                                        style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span
                                        style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">T units</span>
                                </p>
                            </div>
                        </label>
                        <input id="u5723_input" type="checkbox" value="checkbox"/>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u5724" class="ax_default _三级标题">
                    <div id="u5724_div" class=""></div>
                    <div id="u5724_text" class="text ">
                        <p><span>Colors</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u5725" class="ax_default _三级标题">
                    <div id="u5725_div" class=""></div>
                    <div id="u5725_text" class="text ">
                        <p><span>Labels</span></p>
                    </div>
                </div>

                <!-- Unnamed (Group) -->
                <div id="u5726" class="ax_default" data-left="698" data-top="317" data-width="76" data-height="17"
                     layer-opacity="1">

                    <!-- Unnamed (Checkbox) -->
                    <div id="u5727" class="ax_default checkbox">
                        <label id="u5727_input_label" for="u5727_input" style="position: absolute; left: 0px;">
                            <img id="u5727_img" class="img "
                                 src="{{ url_for('static', filename='images/相图-菜单-参数/u5727.svg') }}"/>
                            <div id="u5727_text" class="text ">
                                <p><span
                                        style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">&nbsp;</span><span
                                        style="font-family:&quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:400;">phases</span>
                                </p>
                            </div>
                        </label>
                        <input id="u5727_input" type="checkbox" value="checkbox"/>
                    </div>
                </div>

                <!-- Unnamed (Vertical Line) -->
                <div id="u5728" class="ax_default line">
                    <img id="u5728_img" class="img "
                         src="{{ url_for('static', filename='images/相图-菜单-参数/u5728.svg') }}"/>
                    <div id="u5728_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u5729" class="ax_default box_1">
        <div id="u5729_div" class=""></div>
        <div id="u5729_text" class="text ">
            <p><span>Cancel</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u5730" class="ax_default box_1">
        <div id="u5730_div" class=""></div>
        <div id="u5730_text" class="text ">
            <p><span>Apply</span></p>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
</body>
</html>
