<!DOCTYPE html>
<html>
  <head>
    <title>相图-成分添加-单位</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/相图-成分添加-单位/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/相图-成分添加-单位/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u4854" class="ax_default box_1">
        <div id="u4854_div" class=""></div>
        <div id="u4854_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u4855" class="ax_default box_1">
        <div id="u4855_div" class=""></div>
        <div id="u4855_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- 背景 (Dynamic Panel) -->
      <div id="u4856" class="ax_default" data-label="背景">
        <div id="u4856_state0" class="panel_state" data-label="1" style="">
          <div id="u4856_state0_content" class="panel_state_content">
          </div>
        </div>
        <div id="u4856_state1" class="panel_state" data-label="2" style="visibility: hidden;">
          <div id="u4856_state1_content" class="panel_state_content">
          </div>
        </div>
        <div id="u4856_state2" class="panel_state" data-label="3" style="visibility: hidden;">
          <div id="u4856_state2_content" class="panel_state_content">
          </div>
        </div>
        <div id="u4856_state3" class="panel_state" data-label="4" style="visibility: hidden;">
          <div id="u4856_state3_content" class="panel_state_content">
          </div>
        </div>
        <div id="u4856_state4" class="panel_state" data-label="5" style="visibility: hidden;">
          <div id="u4856_state4_content" class="panel_state_content">
          </div>
        </div>
        <div id="u4856_state5" class="panel_state" data-label="6" style="visibility: hidden;">
          <div id="u4856_state5_content" class="panel_state_content">
          </div>
        </div>
        <div id="u4856_state6" class="panel_state" data-label="7" style="visibility: hidden;">
          <div id="u4856_state6_content" class="panel_state_content">
          </div>
        </div>
        <div id="u4856_state7" class="panel_state" data-label="8" style="visibility: hidden;">
          <div id="u4856_state7_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u4857" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u4858" class="ax_default box_1">
          <img id="u4858_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
          <div id="u4858_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u4859" class="ax_default box_1">
          <img id="u4859_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
          <div id="u4859_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u4860" class="ax_default box_1 selected">
        <div id="u4860_div" class="selected"></div>
        <div id="u4860_text" class="text ">
          <p><span>Phase Diagram - Units</span></p>
        </div>
      </div>

      <!-- Unnamed (Bracket) -->
      <div id="u4861" class="ax_default _流程图形状">
        <img id="u4861_img" class="img " src="{{ url_for('static', filename='images/单位/u778.svg') }}"/>
        <div id="u4861_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u4862" class="ax_default _三级标题">
        <div id="u4862_div" class=""></div>
        <div id="u4862_text" class="text ">
          <p><span>Temperature</span></p>
        </div>
      </div>

      <!-- Unnamed (Bracket) -->
      <div id="u4863" class="ax_default _流程图形状">
        <img id="u4863_img" class="img " src="{{ url_for('static', filename='images/单位/u778.svg') }}"/>
        <div id="u4863_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u4864" class="ax_default _三级标题">
        <div id="u4864_div" class=""></div>
        <div id="u4864_text" class="text ">
          <p><span>Pressure</span></p>
        </div>
      </div>

      <!-- Unnamed (Bracket) -->
      <div id="u4865" class="ax_default _流程图形状">
        <img id="u4865_img" class="img " src="{{ url_for('static', filename='images/单位/u778.svg') }}"/>
        <div id="u4865_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u4866" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u4867" class="ax_default _三级标题">
        <div id="u4867_div" class=""></div>
        <div id="u4867_text" class="text ">
          <p><span>Mass</span></p>
        </div>
      </div>

      <!-- Unnamed (Bracket) -->
      <div id="u4868" class="ax_default _流程图形状">
        <img id="u4868_img" class="img " src="{{ url_for('static', filename='images/单位/u778.svg') }}"/>
        <div id="u4868_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u4869" class="ax_default _三级标题">
        <div id="u4869_div" class=""></div>
        <div id="u4869_text" class="text ">
          <p><span>Volume</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u4870" class="ax_default box_1">
        <div id="u4870_div" class=""></div>
        <div id="u4870_text" class="text ">
          <p><span>Cancel</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u4871" class="ax_default box_1">
        <div id="u4871_div" class=""></div>
        <div id="u4871_text" class="text ">
          <p><span>Apply</span></p>
        </div>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u4872" class="ax_default radio_button selected" selectiongroup="温度">
        <label id="u4872_input_label" for="u4872_input" style="position: absolute; left: 0px;">
          <img id="u4872_img" class="img " src="{{ url_for('static', filename='images/反应物/u3143_selected.svg') }}"/>
          <div id="u4872_text" class="text ">
            <p><span>&nbsp;K</span></p>
          </div>
        </label>
        <input id="u4872_input" type="radio" value="radio" name="温度" checked/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u4873" class="ax_default radio_button" selectiongroup="温度">
        <label id="u4873_input_label" for="u4873_input" style="position: absolute; left: 0px;">
          <img id="u4873_img" class="img " src="{{ url_for('static', filename='images/反应物/u3144.svg') }}"/>
          <div id="u4873_text" class="text ">
            <p><span>&nbsp;℃</span></p>
          </div>
        </label>
        <input id="u4873_input" type="radio" value="radio" name="温度"/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u4874" class="ax_default radio_button selected" selectiongroup="质量">
        <label id="u4874_input_label" for="u4874_input" style="position: absolute; left: 0px;">
          <img id="u4874_img" class="img " src="{{ url_for('static', filename='images/反应物/u3145_selected.svg') }}"/>
          <div id="u4874_text" class="text ">
            <p><span>&nbsp;mg</span></p>
          </div>
        </label>
        <input id="u4874_input" type="radio" value="radio" name="质量" checked/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u4875" class="ax_default radio_button" selectiongroup="质量">
        <label id="u4875_input_label" for="u4875_input" style="position: absolute; left: 0px;">
          <img id="u4875_img" class="img " src="{{ url_for('static', filename='images/反应物/u3146.svg') }}"/>
          <div id="u4875_text" class="text ">
            <p><span>&nbsp;mol</span></p>
          </div>
        </label>
        <input id="u4875_input" type="radio" value="radio" name="质量"/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u4876" class="ax_default radio_button selected" selectiongroup="压力">
        <label id="u4876_input_label" for="u4876_input" style="position: absolute; left: 0px;">
          <img id="u4876_img" class="img " src="{{ url_for('static', filename='images/反应物/u3147_selected.svg') }}"/>
          <div id="u4876_text" class="text ">
            <p><span>&nbsp;atm</span></p>
          </div>
        </label>
        <input id="u4876_input" type="radio" value="radio" name="压力" checked/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u4877" class="ax_default radio_button" selectiongroup="压力">
        <label id="u4877_input_label" for="u4877_input" style="position: absolute; left: 0px;">
          <img id="u4877_img" class="img " src="{{ url_for('static', filename='images/反应物/u3148.svg') }}"/>
          <div id="u4877_text" class="text ">
            <p><span>&nbsp;psi</span></p>
          </div>
        </label>
        <input id="u4877_input" type="radio" value="radio" name="压力"/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u4878" class="ax_default radio_button selected" selectiongroup="体积">
        <label id="u4878_input_label" for="u4878_input" style="position: absolute; left: 0px;">
          <img id="u4878_img" class="img " src="{{ url_for('static', filename='images/反应物/u3149_selected.svg') }}"/>
          <div id="u4878_text" class="text ">
            <p><span>&nbsp;mL</span></p>
          </div>
        </label>
        <input id="u4878_input" type="radio" value="radio" name="体积" checked/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u4879" class="ax_default radio_button" selectiongroup="体积">
        <label id="u4879_input_label" for="u4879_input" style="position: absolute; left: 0px;">
          <img id="u4879_img" class="img " src="{{ url_for('static', filename='images/反应物/u3150.svg') }}"/>
          <div id="u4879_text" class="text ">
            <p><span>&nbsp;L</span></p>
          </div>
        </label>
        <input id="u4879_input" type="radio" value="radio" name="体积"/>
      </div>

      <!-- Unnamed (Bracket) -->
      <div id="u4880" class="ax_default _流程图形状">
        <img id="u4880_img" class="img " src="{{ url_for('static', filename='images/单位/u778.svg') }}"/>
        <div id="u4880_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u4881" class="ax_default _三级标题">
        <div id="u4881_div" class=""></div>
        <div id="u4881_text" class="text ">
          <p><span>单位1</span></p>
        </div>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u4882" class="ax_default radio_button selected" selectiongroup="单位1">
        <label id="u4882_input_label" for="u4882_input" style="position: absolute; left: 0px;">
          <img id="u4882_img" class="img " src="{{ url_for('static', filename='images/反应物/u3153_selected.svg') }}"/>
          <div id="u4882_text" class="text ">
            <p><span>&nbsp;标准1</span></p>
          </div>
        </label>
        <input id="u4882_input" type="radio" value="radio" name="单位1" checked/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u4883" class="ax_default radio_button" selectiongroup="单位1">
        <label id="u4883_input_label" for="u4883_input" style="position: absolute; left: 0px;">
          <img id="u4883_img" class="img " src="{{ url_for('static', filename='images/反应物/u3154.svg') }}"/>
          <div id="u4883_text" class="text ">
            <p><span>&nbsp;标准2</span></p>
          </div>
        </label>
        <input id="u4883_input" type="radio" value="radio" name="单位1"/>
      </div>

      <!-- Unnamed (Bracket) -->
      <div id="u4884" class="ax_default _流程图形状">
        <img id="u4884_img" class="img " src="{{ url_for('static', filename='images/单位/u778.svg') }}"/>
        <div id="u4884_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u4885" class="ax_default _三级标题">
        <div id="u4885_div" class=""></div>
        <div id="u4885_text" class="text ">
          <p><span>单位2</span></p>
        </div>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u4886" class="ax_default radio_button selected" selectiongroup="单位2">
        <label id="u4886_input_label" for="u4886_input" style="position: absolute; left: 0px;">
          <img id="u4886_img" class="img " src="{{ url_for('static', filename='images/相图-成分添加-单位/u4886_selected.svg') }}"/>
          <div id="u4886_text" class="text ">
            <p><span>&nbsp;标准1</span></p>
          </div>
        </label>
        <input id="u4886_input" type="radio" value="radio" name="单位2" checked/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u4887" class="ax_default radio_button" selectiongroup="单位2">
        <label id="u4887_input_label" for="u4887_input" style="position: absolute; left: 0px;">
          <img id="u4887_img" class="img " src="{{ url_for('static', filename='images/相图-成分添加-单位/u4887.svg') }}"/>
          <div id="u4887_text" class="text ">
            <p><span>&nbsp;标准2</span></p>
          </div>
        </label>
        <input id="u4887_input" type="radio" value="radio" name="单位2"/>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
