<!DOCTYPE html>
<html>
  <head>
    <title>结果</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/结果_1/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/结果_1/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u2010" class="ax_default box_1">
        <div id="u2010_div" class=""></div>
        <div id="u2010_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2011" class="ax_default _段落">
        <div id="u2011_div" class=""></div>
        <div id="u2011_text" class="text ">
          <p><span>Edit</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2012" class="ax_default _二级标题">
        <div id="u2012_div" class=""></div>
        <div id="u2012_text" class="text ">
          <p><span>ViewData</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2013" class="ax_default _二级标题">
        <div id="u2013_div" class=""></div>
        <div id="u2013_text" class="text ">
          <p><span>Units</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2014" class="ax_default _二级标题">
        <div id="u2014_div" class=""></div>
        <div id="u2014_text" class="text ">
          <p><span>Tools</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2015" class="ax_default _二级标题">
        <div id="u2015_div" class=""></div>
        <div id="u2015_text" class="text ">
          <p><span>Help</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2016" class="ax_default _三级标题">
        <div id="u2016_div" class=""></div>
        <div id="u2016_text" class="text ">
          <p><span>View</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2017" class="ax_default _二级标题">
        <div id="u2017_div" class=""></div>
        <div id="u2017_text" class="text ">
          <p><span style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">File</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2018" class="ax_default box_1">
        <div id="u2018_div" class=""></div>
        <div id="u2018_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u2019" class="ax_default _形状">
        <img id="u2019_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1722.svg') }}"/>
        <div id="u2019_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2020" class="ax_default _段落">
        <div id="u2020_div" class=""></div>
        <div id="u2020_text" class="text ">
          <p><span>Best answer so far:</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u2021" class="ax_default text_field">
        <div id="u2021_div" class=""></div>
        <input id="u2021_input" type="text" value="" class="u2021_input"/>
      </div>

      <!-- Table Repeater (Repeater) -->
      <div id="u2022" class="ax_default" data-label="Table Repeater">
        <script id="u2022_script" type="axure-repeater-template" data-label="Table Repeater">

          <!-- Unnamed (Rectangle) -->
          <div id="u2023" class="ax_default box_1 u2023">
            <div id="u2023_div" class="u2023_div"></div>
            <div id="u2023_text" class="text u2023_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u2024" class="ax_default box_1 u2024">
            <div id="u2024_div" class="u2024_div"></div>
            <div id="u2024_text" class="text u2024_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u2025" class="ax_default box_1 u2025">
            <div id="u2025_div" class="u2025_div"></div>
            <div id="u2025_text" class="text u2025_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </script>
        <div id="u2022-1" class="preeval" style="width: 292px; height: 30px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u2023-1" class="ax_default box_1 u2023" style="width: 54px; height: 30px; left: 238px; top: 0px;visibility: inherit">
            <div id="u2023-1_div" class="u2023_div" style="width: 54px; height: 30px;visibility: inherit"></div>
            <div id="u2023-1_text" class="text u2023_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u2024-1" class="ax_default box_1 u2024" style="width: 120px; height: 30px; left: 119px; top: 0px;visibility: inherit">
            <div id="u2024-1_div" class="u2024_div" style="width: 120px; height: 30px;visibility: inherit"></div>
            <div id="u2024-1_text" class="text u2024_text" style="visibility: inherit">
              <p><span>0.494mol</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u2025-1" class="ax_default box_1 u2025" style="width: 120px; height: 30px; left: 0px; top: 0px;visibility: inherit">
            <div id="u2025-1_div" class="u2025_div" style="width: 120px; height: 30px;visibility: inherit"></div>
            <div id="u2025-1_text" class="text u2025_text" style="visibility: inherit">
              <p><span>SiO2</span></p>
            </div>
          </div>
        </div>
        <div id="u2022-2" class="preeval" style="width: 292px; height: 30px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u2023-2" class="ax_default box_1 u2023" style="width: 54px; height: 30px; left: 238px; top: 0px;visibility: inherit">
            <div id="u2023-2_div" class="u2023_div" style="width: 54px; height: 30px;visibility: inherit"></div>
            <div id="u2023-2_text" class="text u2023_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u2024-2" class="ax_default box_1 u2024" style="width: 120px; height: 30px; left: 119px; top: 0px;visibility: inherit">
            <div id="u2024-2_div" class="u2024_div" style="width: 120px; height: 30px;visibility: inherit"></div>
            <div id="u2024-2_text" class="text u2024_text" style="visibility: inherit">
              <p><span>6.000E-03mol</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u2025-2" class="ax_default box_1 u2025" style="width: 120px; height: 30px; left: 0px; top: 0px;visibility: inherit">
            <div id="u2025-2_div" class="u2025_div" style="width: 120px; height: 30px;visibility: inherit"></div>
            <div id="u2025-2_text" class="text u2025_text" style="visibility: inherit">
              <p><span>Al2O3</span></p>
            </div>
          </div>
        </div>
        <div id="u2022-3" class="preeval" style="width: 292px; height: 30px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u2023-3" class="ax_default box_1 u2023" style="width: 54px; height: 30px; left: 238px; top: 0px;visibility: inherit">
            <div id="u2023-3_div" class="u2023_div" style="width: 54px; height: 30px;visibility: inherit"></div>
            <div id="u2023-3_text" class="text u2023_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u2024-3" class="ax_default box_1 u2024" style="width: 120px; height: 30px; left: 119px; top: 0px;visibility: inherit">
            <div id="u2024-3_div" class="u2024_div" style="width: 120px; height: 30px;visibility: inherit"></div>
            <div id="u2024-3_text" class="text u2024_text" style="visibility: inherit">
              <p><span>0.491mol</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u2025-3" class="ax_default box_1 u2025" style="width: 120px; height: 30px; left: 0px; top: 0px;visibility: inherit">
            <div id="u2025-3_div" class="u2025_div" style="width: 120px; height: 30px;visibility: inherit"></div>
            <div id="u2025-3_text" class="text u2025_text" style="visibility: inherit">
              <p><span>CaO</span></p>
            </div>
          </div>
        </div>
        <div id="u2022-4" class="preeval" style="width: 292px; height: 30px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u2023-4" class="ax_default box_1 u2023" style="width: 54px; height: 30px; left: 238px; top: 0px;visibility: inherit">
            <div id="u2023-4_div" class="u2023_div" style="width: 54px; height: 30px;visibility: inherit"></div>
            <div id="u2023-4_text" class="text u2023_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u2024-4" class="ax_default box_1 u2024" style="width: 120px; height: 30px; left: 119px; top: 0px;visibility: inherit">
            <div id="u2024-4_div" class="u2024_div" style="width: 120px; height: 30px;visibility: inherit"></div>
            <div id="u2024-4_text" class="text u2024_text" style="visibility: inherit">
              <p><span>0.009mol</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u2025-4" class="ax_default box_1 u2025" style="width: 120px; height: 30px; left: 0px; top: 0px;visibility: inherit">
            <div id="u2025-4_div" class="u2025_div" style="width: 120px; height: 30px;visibility: inherit"></div>
            <div id="u2025-4_text" class="text u2025_text" style="visibility: inherit">
              <p><span>MgO</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2026" class="ax_default _段落">
        <div id="u2026_div" class=""></div>
        <div id="u2026_text" class="text ">
          <p><span>Last solution:</span></p>
        </div>
      </div>

      <!-- Table Repeater (Repeater) -->
      <div id="u2027" class="ax_default" data-label="Table Repeater">
        <script id="u2027_script" type="axure-repeater-template" data-label="Table Repeater">

          <!-- Unnamed (Rectangle) -->
          <div id="u2028" class="ax_default box_1 u2028">
            <div id="u2028_div" class="u2028_div"></div>
            <div id="u2028_text" class="text u2028_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u2029" class="ax_default box_1 u2029">
            <div id="u2029_div" class="u2029_div"></div>
            <div id="u2029_text" class="text u2029_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u2030" class="ax_default box_1 u2030">
            <div id="u2030_div" class="u2030_div"></div>
            <div id="u2030_text" class="text u2030_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </script>
        <div id="u2027-1" class="preeval" style="width: 292px; height: 30px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u2028-1" class="ax_default box_1 u2028" style="width: 54px; height: 30px; left: 238px; top: 0px;visibility: inherit">
            <div id="u2028-1_div" class="u2028_div" style="width: 54px; height: 30px;visibility: inherit"></div>
            <div id="u2028-1_text" class="text u2028_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u2029-1" class="ax_default box_1 u2029" style="width: 120px; height: 30px; left: 119px; top: 0px;visibility: inherit">
            <div id="u2029-1_div" class="u2029_div" style="width: 120px; height: 30px;visibility: inherit"></div>
            <div id="u2029-1_text" class="text u2029_text" style="visibility: inherit">
              <p><span>Value</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u2030-1" class="ax_default box_1 u2030" style="width: 120px; height: 30px; left: 0px; top: 0px;visibility: inherit">
            <div id="u2030-1_div" class="u2030_div" style="width: 120px; height: 30px;visibility: inherit"></div>
            <div id="u2030-1_text" class="text u2030_text" style="visibility: inherit">
              <p><span>Variable</span></p>
            </div>
          </div>
        </div>
        <div id="u2027-2" class="preeval" style="width: 292px; height: 30px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u2028-2" class="ax_default box_1 u2028" style="width: 54px; height: 30px; left: 238px; top: 0px;visibility: inherit">
            <div id="u2028-2_div" class="u2028_div" style="width: 54px; height: 30px;visibility: inherit"></div>
            <div id="u2028-2_text" class="text u2028_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u2029-2" class="ax_default box_1 u2029" style="width: 120px; height: 30px; left: 119px; top: 0px;visibility: inherit">
            <div id="u2029-2_div" class="u2029_div" style="width: 120px; height: 30px;visibility: inherit"></div>
            <div id="u2029-2_text" class="text u2029_text" style="visibility: inherit">
              <p><span>1800</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u2030-2" class="ax_default box_1 u2030" style="width: 120px; height: 30px; left: 0px; top: 0px;visibility: inherit">
            <div id="u2030-2_div" class="u2030_div" style="width: 120px; height: 30px;visibility: inherit"></div>
            <div id="u2030-2_text" class="text u2030_text" style="visibility: inherit">
              <p><span>Temperature</span></p>
            </div>
          </div>
        </div>
        <div id="u2027-3" class="preeval" style="width: 292px; height: 30px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u2028-3" class="ax_default box_1 u2028" style="width: 54px; height: 30px; left: 238px; top: 0px;visibility: inherit">
            <div id="u2028-3_div" class="u2028_div" style="width: 54px; height: 30px;visibility: inherit"></div>
            <div id="u2028-3_text" class="text u2028_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u2029-3" class="ax_default box_1 u2029" style="width: 120px; height: 30px; left: 119px; top: 0px;visibility: inherit">
            <div id="u2029-3_div" class="u2029_div" style="width: 120px; height: 30px;visibility: inherit"></div>
            <div id="u2029-3_text" class="text u2029_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u2030-3" class="ax_default box_1 u2030" style="width: 120px; height: 30px; left: 0px; top: 0px;visibility: inherit">
            <div id="u2030-3_div" class="u2030_div" style="width: 120px; height: 30px;visibility: inherit"></div>
            <div id="u2030-3_text" class="text u2030_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2031" class="ax_default _段落">
        <div id="u2031_div" class=""></div>
        <div id="u2031_text" class="text ">
          <p><span>Constraints:</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u2032" class="ax_default text_field">
        <div id="u2032_div" class=""></div>
        <input id="u2032_input" type="text" value="" class="u2032_input"/>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u2033" class="ax_default image">
        <img id="u2033_img" class="img " src="{{ url_for('static', filename='images/结果_1/u2033.png') }}"/>
        <div id="u2033_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u2034" class="ax_default" data-left="482" data-top="351" data-width="22" data-height="22" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u2035" class="ax_default _形状">
          <img id="u2035_img" class="img " src="{{ url_for('static', filename='images/结果_1/u2035.svg') }}"/>
          <div id="u2035_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u2036" class="ax_default _形状">
          <img id="u2036_img" class="img " src="{{ url_for('static', filename='images/结果_1/u2036.svg') }}"/>
          <div id="u2036_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u2037" class="ax_default _形状">
          <img id="u2037_img" class="img " src="{{ url_for('static', filename='images/结果_1/u2037.svg') }}"/>
          <div id="u2037_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u2038" class="ax_default" data-left="518" data-top="353" data-width="20" data-height="20" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u2039" class="ax_default _形状">
          <img id="u2039_img" class="img " src="{{ url_for('static', filename='images/结果_1/u2039.svg') }}"/>
          <div id="u2039_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u2040" class="ax_default _形状">
          <img id="u2040_img" class="img " src="{{ url_for('static', filename='images/结果_1/u2040.svg') }}"/>
          <div id="u2040_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u2041" class="ax_default _形状">
          <img id="u2041_img" class="img " src="{{ url_for('static', filename='images/结果_1/u2041.svg') }}"/>
          <div id="u2041_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u2042" class="ax_default _形状">
          <img id="u2042_img" class="img " src="{{ url_for('static', filename='images/结果_1/u2042.svg') }}"/>
          <div id="u2042_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u2043" class="ax_default _形状">
          <img id="u2043_img" class="img " src="{{ url_for('static', filename='images/结果_1/u2043.svg') }}"/>
          <div id="u2043_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u2044" class="ax_default _形状">
          <img id="u2044_img" class="img " src="{{ url_for('static', filename='images/结果_1/u2044.svg') }}"/>
          <div id="u2044_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u2045" class="ax_default" data-left="552" data-top="353" data-width="20" data-height="20" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u2046" class="ax_default _形状">
          <img id="u2046_img" class="img " src="{{ url_for('static', filename='images/结果_1/u2046.svg') }}"/>
          <div id="u2046_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u2047" class="ax_default _形状">
          <img id="u2047_img" class="img " src="{{ url_for('static', filename='images/结果_1/u2047.svg') }}"/>
          <div id="u2047_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u2048" class="ax_default _形状">
          <img id="u2048_img" class="img " src="{{ url_for('static', filename='images/结果_1/u2048.svg') }}"/>
          <div id="u2048_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2049" class="ax_default _段落">
        <div id="u2049_div" class=""></div>
        <div id="u2049_text" class="text ">
          <p><span>Status：</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u2050" class="ax_default text_field">
        <div id="u2050_div" class=""></div>
        <input id="u2050_input" type="text" value="done." class="u2050_input"/>
      </div>

      <!-- Unnamed (List Box) -->
      <div id="u2051" class="ax_default list_box">
        <div id="u2051_div" class=""></div>
        <select id="u2051_input" size="2" class="u2051_input">
        </select>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u2052" class="ax_default button">
        <img id="u2052_img" class="img " src="{{ url_for('static', filename='images/结果_1/u2052.svg') }}"/>
        <div id="u2052_text" class="text ">
          <p><span>Continue Run&gt;&gt;</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2053" class="ax_default button">
        <div id="u2053_div" class=""></div>
        <div id="u2053_text" class="text ">
          <p><span>Open in Equilib</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2054" class="ax_default button">
        <div id="u2054_div" class=""></div>
        <div id="u2054_text" class="text ">
          <p><span>Save Pareto points</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2055" class="ax_default button">
        <div id="u2055_div" class=""></div>
        <div id="u2055_text" class="text ">
          <p><span>Stop</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2056" class="ax_default box_1">
        <div id="u2056_div" class=""></div>
        <div id="u2056_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2057" class="ax_default _段落">
        <div id="u2057_div" class=""></div>
        <div id="u2057_text" class="text ">
          <p><span>Properties</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2058" class="ax_default _段落">
        <div id="u2058_div" class=""></div>
        <div id="u2058_text" class="text ">
          <p><span>Variables</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2059" class="ax_default _段落">
        <div id="u2059_div" class=""></div>
        <div id="u2059_text" class="text ">
          <p><span>Constraints</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2060" class="ax_default _段落">
        <div id="u2060_div" class=""></div>
        <div id="u2060_text" class="text ">
          <p><span>Results</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2061" class="ax_default _段落">
        <div id="u2061_div" class=""></div>
        <div id="u2061_text" class="text ">
          <p><span>Parameters</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2062" class="ax_default _段落">
        <div id="u2062_div" class=""></div>
        <div id="u2062_text" class="text ">
          <p><span>Number of Equilib calculations:</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u2063" class="ax_default text_field">
        <div id="u2063_div" class=""></div>
        <input id="u2063_input" type="text" value="" class="u2063_input"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2064" class="ax_default _段落">
        <div id="u2064_div" class=""></div>
        <div id="u2064_text" class="text ">
          <p><span>/150</span></p>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
