<!DOCTYPE html>
<html>
  <head>
    <title>解答文档</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/解答文档/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/解答文档/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u11899" class="ax_default _二级标题">
        <div id="u11899_div" class=""></div>
        <div id="u11899_text" class="text ">
          <p><span>Question1</span></p>
        </div>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u11900" class="ax_default line">
        <img id="u11900_img" class="img " src="{{ url_for('static', filename='images/应用示例-数据库文档/u11375.svg') }}"/>
        <div id="u11900_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11901" class="ax_default _三级标题">
        <div id="u11901_div" class=""></div>
        <div id="u11901_text" class="text ">
          <p><span>explain</span></p>
        </div>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u11902" class="ax_default line">
        <img id="u11902_img" class="img " src="{{ url_for('static', filename='images/应用示例-数据库文档/u11377.svg') }}"/>
        <div id="u11902_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11903" class="ax_default _段落">
        <div id="u11903_div" class=""></div>
        <div id="u11903_text" class="text ">
          <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11904" class="ax_default _三级标题">
        <div id="u11904_div" class=""></div>
        <div id="u11904_text" class="text ">
          <p><span>solution</span></p>
        </div>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u11905" class="ax_default line">
        <img id="u11905_img" class="img " src="{{ url_for('static', filename='images/应用示例-数据库文档/u11377.svg') }}"/>
        <div id="u11905_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11906" class="ax_default _二级标题">
        <div id="u11906_div" class=""></div>
        <div id="u11906_text" class="text ">
          <p><span>Question2</span></p>
        </div>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u11907" class="ax_default line">
        <img id="u11907_img" class="img " src="{{ url_for('static', filename='images/应用示例-数据库文档/u11375.svg') }}"/>
        <div id="u11907_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11908" class="ax_default _三级标题">
        <div id="u11908_div" class=""></div>
        <div id="u11908_text" class="text ">
          <p><span>explain</span></p>
        </div>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u11909" class="ax_default line">
        <img id="u11909_img" class="img " src="{{ url_for('static', filename='images/应用示例-数据库文档/u11377.svg') }}"/>
        <div id="u11909_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11910" class="ax_default _段落">
        <div id="u11910_div" class=""></div>
        <div id="u11910_text" class="text ">
          <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11911" class="ax_default _三级标题">
        <div id="u11911_div" class=""></div>
        <div id="u11911_text" class="text ">
          <p><span>solution</span></p>
        </div>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u11912" class="ax_default line">
        <img id="u11912_img" class="img " src="{{ url_for('static', filename='images/应用示例-数据库文档/u11377.svg') }}"/>
        <div id="u11912_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11913" class="ax_default _二级标题">
        <div id="u11913_div" class=""></div>
        <div id="u11913_text" class="text ">
          <p><span>Question3</span></p>
        </div>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u11914" class="ax_default line">
        <img id="u11914_img" class="img " src="{{ url_for('static', filename='images/应用示例-数据库文档/u11375.svg') }}"/>
        <div id="u11914_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11915" class="ax_default _三级标题">
        <div id="u11915_div" class=""></div>
        <div id="u11915_text" class="text ">
          <p><span>说明</span></p>
        </div>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u11916" class="ax_default line">
        <img id="u11916_img" class="img " src="{{ url_for('static', filename='images/应用示例-数据库文档/u11377.svg') }}"/>
        <div id="u11916_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11917" class="ax_default _段落">
        <div id="u11917_div" class=""></div>
        <div id="u11917_text" class="text ">
          <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11918" class="ax_default _三级标题">
        <div id="u11918_div" class=""></div>
        <div id="u11918_text" class="text ">
          <p><span>解决方法</span></p>
        </div>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u11919" class="ax_default line">
        <img id="u11919_img" class="img " src="{{ url_for('static', filename='images/应用示例-数据库文档/u11377.svg') }}"/>
        <div id="u11919_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11920" class="ax_default _段落">
        <div id="u11920_div" class=""></div>
        <div id="u11920_text" class="text ">
          <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11921" class="ax_default _段落">
        <div id="u11921_div" class=""></div>
        <div id="u11921_text" class="text ">
          <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11922" class="ax_default _段落">
        <div id="u11922_div" class=""></div>
        <div id="u11922_text" class="text ">
          <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</span></p>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
