<!DOCTYPE html>
<html>
<head>
    <title>计算</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/计算/styles.css') }}" type="text/css" rel="stylesheet"/>

    <script>
        document.oncontextmenu = function (event) {
            event = event || window.event;
            var targetElement = event.target || event.srcElement;
            if (!targetElement) return true;

            if (targetElement.tagName) {
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||
                    targetElement.tagName.toLowerCase() === "textarea") {
                    return true;
                }
            }
            return false;
        }
    </script>
    <script src
                    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/计算/data.js') }}"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () {
            return 'resources/images/transparent.gif';
        };
        $axure.utils.getOtherPath = function () {
            return 'resources/Other.html';
        };
        $axure.utils.getReloadPath = function () {
            return 'resources/reload.html';
        };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- Unnamed (Rectangle) -->
    <div id="u1746" class="ax_default box_1">
        <div id="u1746_div" class=""></div>
        <div id="u1746_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u1747" class="ax_default _段落">
        <div id="u1747_div" class=""></div>
        <div id="u1747_text" class="text ">
            <p><span>Edit</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u1748" class="ax_default _二级标题">
        <div id="u1748_div" class=""></div>
        <div id="u1748_text" class="text ">
            <p><span>ViewData</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u1749" class="ax_default _二级标题">
        <div id="u1749_div" class=""></div>
        <div id="u1749_text" class="text ">
            <p><span>Units</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u1750" class="ax_default _二级标题">
        <div id="u1750_div" class=""></div>
        <div id="u1750_text" class="text ">
            <p><span>Tools</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u1751" class="ax_default _二级标题">
        <div id="u1751_div" class=""></div>
        <div id="u1751_text" class="text ">
            <p><span>Help</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u1752" class="ax_default _三级标题">
        <div id="u1752_div" class=""></div>
        <div id="u1752_text" class="text ">
            <p><span>View</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u1753" class="ax_default _二级标题">
        <div id="u1753_div" class=""></div>
        <div id="u1753_text" class="text ">
            <p><span
                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">File</span>
            </p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u1754" class="ax_default box_1">
        <div id="u1754_div" class=""></div>
        <div id="u1754_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u1755" class="ax_default box_1">
        <div id="u1755_div" class=""></div>
        <div id="u1755_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u1756" class="ax_default" data-left="50" data-top="47" data-width="91" data-height="39" layer-opacity="1">

        <!-- Unnamed (SVG) -->
        <div id="u1757" class="ax_default image">
            <img id="u1757_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1689.svg') }}"/>
            <div id="u1757_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1758" class="ax_default _二级标题">
            <div id="u1758_div" class=""></div>
            <div id="u1758_text" class="text ">
                <p><span
                        style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">Calculate </span>
                </p>
            </div>
        </div>
    </div>

    <!-- Database (Droplist) -->
    <div id="u1759" class="ax_default droplist" data-label="Database">
        <div id="u1759_div" class=""></div>
        <select id="u1759_input" class="u1759_input">
            <option class="u1759_input_option" value="Melts">Melts</option>
            <option class="u1759_input_option" value="Glasses">Glasses</option>
        </select>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u1760" class="ax_default _四级标题">
        <div id="u1760_div" class=""></div>
        <div id="u1760_text" class="text ">
            <p><span
                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">Database:</span>
            </p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u1761" class="ax_default _四级标题">
        <div id="u1761_div" class=""></div>
        <div id="u1761_text" class="text ">
            <p><span
                    style="font-family:&quot;Arial Negreta&quot;, &quot;Arial Normal&quot;, &quot;Arial&quot;, sans-serif;font-weight:700;">OPT</span>
            </p>
        </div>
    </div>

    <!-- Unnamed (SVG) -->
    <div id="u1762" class="ax_default image">
        <img id="u1762_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1694.svg') }}"/>
        <div id="u1762_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u1763" class="ax_default _三级标题">
        <div id="u1763_div" class=""></div>
        <div id="u1763_text" class="text ">
            <p><span>&nbsp;amounts（mol)</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u1764" class="ax_default _三级标题">
        <div id="u1764_div" class=""></div>
        <div id="u1764_text" class="text ">
            <p><span>Species</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u1765" class="ax_default _三级标题">
        <div id="u1765_div" class=""></div>
        <div id="u1765_text" class="text ">
            <p><span>temperature（℃）</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u1766" class="ax_default _三级标题">
        <div id="u1766_div" class=""></div>
        <div id="u1766_text" class="text ">
            <p><span>Visc（PaS):</span></p>
        </div>
    </div>

    <!-- Unnamed (Dynamic Panel) -->
    <div id="u1767" class="ax_default">
        <div id="u1767_state0" class="panel_state" data-label="State 1" style="">
            <div id="u1767_state0_content" class="panel_state_content">

                <!-- Unnamed (Text Field) -->
                <div id="u1768" class="ax_default text_field">
                    <div id="u1768_div" class=""></div>
                    <input id="u1768_input" type="text" value="" class="u1768_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u1769" class="ax_default text_field">
                    <div id="u1769_div" class=""></div>
                    <input id="u1769_input" type="text" value="" class="u1769_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u1770" class="ax_default text_field">
                    <div id="u1770_div" class=""></div>
                    <input id="u1770_input" type="text" value="" class="u1770_input"/>
                </div>
            </div>
        </div>
        <div id="u1767_state1" class="panel_state" data-label="状态 1" style="visibility: hidden;">
            <div id="u1767_state1_content" class="panel_state_content">

                <!-- Unnamed (Text Field) -->
                <div id="u1771" class="ax_default text_field">
                    <div id="u1771_div" class=""></div>
                    <input id="u1771_input" type="text" value="" class="u1771_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u1772" class="ax_default text_field">
                    <div id="u1772_div" class=""></div>
                    <input id="u1772_input" type="text" value="" class="u1772_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u1773" class="ax_default text_field">
                    <div id="u1773_div" class=""></div>
                    <input id="u1773_input" type="text" value="" class="u1773_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u1774" class="ax_default text_field">
                    <div id="u1774_div" class=""></div>
                    <input id="u1774_input" type="text" value="" class="u1774_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u1775" class="ax_default text_field">
                    <div id="u1775_div" class=""></div>
                    <input id="u1775_input" type="text" value="" class="u1775_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u1776" class="ax_default text_field">
                    <div id="u1776_div" class=""></div>
                    <input id="u1776_input" type="text" value="" class="u1776_input"/>
                </div>
            </div>
        </div>
        <div id="u1767_state2" class="panel_state" data-label="状态 2" style="visibility: hidden;">
            <div id="u1767_state2_content" class="panel_state_content">

                <!-- Unnamed (Text Field) -->
                <div id="u1777" class="ax_default text_field">
                    <div id="u1777_div" class=""></div>
                    <input id="u1777_input" type="text" value="" class="u1777_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u1778" class="ax_default text_field">
                    <div id="u1778_div" class=""></div>
                    <input id="u1778_input" type="text" value="" class="u1778_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u1779" class="ax_default text_field">
                    <div id="u1779_div" class=""></div>
                    <input id="u1779_input" type="text" value="" class="u1779_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u1780" class="ax_default text_field">
                    <div id="u1780_div" class=""></div>
                    <input id="u1780_input" type="text" value="" class="u1780_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u1781" class="ax_default text_field">
                    <div id="u1781_div" class=""></div>
                    <input id="u1781_input" type="text" value="" class="u1781_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u1782" class="ax_default text_field">
                    <div id="u1782_div" class=""></div>
                    <input id="u1782_input" type="text" value="" class="u1782_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u1783" class="ax_default text_field">
                    <div id="u1783_div" class=""></div>
                    <input id="u1783_input" type="text" value="" class="u1783_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u1784" class="ax_default text_field">
                    <div id="u1784_div" class=""></div>
                    <input id="u1784_input" type="text" value="" class="u1784_input"/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u1785" class="ax_default text_field">
                    <div id="u1785_div" class=""></div>
                    <input id="u1785_input" type="text" value="" class="u1785_input"/>
                </div>
            </div>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u1786" class="ax_default box_1">
        <div id="u1786_div" class=""></div>
        <div id="u1786_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (SVG) -->
    <div id="u1787" class="ax_default image">
        <img id="u1787_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1719.svg') }}"/>
        <div id="u1787_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Hot Spot) -->
    <div id="u1788" class="ax_default">
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u1789" class="ax_default text_field">
        <div id="u1789_div" class=""></div>
        <input id="u1789_input" type="text" value="" class="u1789_input"/>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u1790" class="ax_default _形状">
        <img id="u1790_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1722.svg') }}"/>
        <div id="u1790_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u1791" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="159"
         data-top="160" data-width="477" data-height="359" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u1792" class="ax_default box_1">
            <div id="u1792_div" class=""></div>
            <div id="u1792_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u1793" class="ax_default text_field">
            <div id="u1793_div" class=""></div>
            <input id="u1793_input" type="text" value="" class="u1793_input"/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1794" class="ax_default _段落">
            <div id="u1794_div" class=""></div>
            <div id="u1794_text" class="text ">
                <p><span>Temperature(C):</span></p>
            </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u1795" class="ax_default text_field">
            <div id="u1795_div" class=""></div>
            <input id="u1795_input" type="text" value="" class="u1795_input"/>
        </div>

        <!-- Unnamed (Text Area) -->
        <div id="u1796" class="ax_default text_area">
            <div id="u1796_div" class=""></div>
            <textarea id="u1796_input" class="u1796_input"></textarea>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u1797" class="ax_default checkbox">
            <label id="u1797_input_label" for="u1797_input" style="position: absolute; left: 0px;">
                <img id="u1797_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1729.svg') }}"/>
                <div id="u1797_text" class="text ">
                    <p><span>SiO2</span></p>
                </div>
            </label>
            <input id="u1797_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u1798" class="ax_default checkbox">
            <label id="u1798_input_label" for="u1798_input" style="position: absolute; left: 0px;">
                <img id="u1798_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1730.svg') }}"/>
                <div id="u1798_text" class="text ">
                    <p><span>Al2O3</span></p>
                </div>
            </label>
            <input id="u1798_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u1799" class="ax_default checkbox">
            <label id="u1799_input_label" for="u1799_input" style="position: absolute; left: 0px;">
                <img id="u1799_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1731.svg') }}"/>
                <div id="u1799_text" class="text ">
                    <p><span>CaO</span></p>
                </div>
            </label>
            <input id="u1799_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u1800" class="ax_default checkbox">
            <label id="u1800_input_label" for="u1800_input" style="position: absolute; left: 0px;">
                <img id="u1800_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1732.svg') }}"/>
                <div id="u1800_text" class="text ">
                    <p><span>MgO</span></p>
                </div>
            </label>
            <input id="u1800_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u1801" class="ax_default checkbox">
            <label id="u1801_input_label" for="u1801_input" style="position: absolute; left: 0px;">
                <img id="u1801_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1733.svg') }}"/>
                <div id="u1801_text" class="text ">
                    <p><span>MnO</span></p>
                </div>
            </label>
            <input id="u1801_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u1802" class="ax_default checkbox">
            <label id="u1802_input_label" for="u1802_input" style="position: absolute; left: 0px;">
                <img id="u1802_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1734.svg') }}"/>
                <div id="u1802_text" class="text ">
                    <p><span>FeO</span></p>
                </div>
            </label>
            <input id="u1802_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u1803" class="ax_default checkbox">
            <label id="u1803_input_label" for="u1803_input" style="position: absolute; left: 0px;">
                <img id="u1803_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1735.svg') }}"/>
                <div id="u1803_text" class="text ">
                    <p><span>Fe2O3</span></p>
                </div>
            </label>
            <input id="u1803_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u1804" class="ax_default checkbox">
            <label id="u1804_input_label" for="u1804_input" style="position: absolute; left: 0px;">
                <img id="u1804_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1736.svg') }}"/>
                <div id="u1804_text" class="text ">
                    <p><span>NiO</span></p>
                </div>
            </label>
            <input id="u1804_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u1805" class="ax_default checkbox">
            <label id="u1805_input_label" for="u1805_input" style="position: absolute; left: 0px;">
                <img id="u1805_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1737.svg') }}"/>
                <div id="u1805_text" class="text ">
                    <p><span>PbO</span></p>
                </div>
            </label>
            <input id="u1805_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u1806" class="ax_default checkbox">
            <label id="u1806_input_label" for="u1806_input" style="position: absolute; left: 0px;">
                <img id="u1806_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1738.svg') }}"/>
                <div id="u1806_text" class="text ">
                    <p><span>ZnO</span></p>
                </div>
            </label>
            <input id="u1806_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u1807" class="ax_default checkbox">
            <label id="u1807_input_label" for="u1807_input" style="position: absolute; left: 0px;">
                <img id="u1807_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1739.svg') }}"/>
                <div id="u1807_text" class="text ">
                    <p><span>Na2O</span></p>
                </div>
            </label>
            <input id="u1807_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u1808" class="ax_default checkbox">
            <label id="u1808_input_label" for="u1808_input" style="position: absolute; left: 0px;">
                <img id="u1808_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1740.svg') }}"/>
                <div id="u1808_text" class="text ">
                    <p><span>K2O</span></p>
                </div>
            </label>
            <input id="u1808_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u1809" class="ax_default checkbox">
            <label id="u1809_input_label" for="u1809_input" style="position: absolute; left: 0px;">
                <img id="u1809_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1741.svg') }}"/>
                <div id="u1809_text" class="text ">
                    <p><span>B2O3</span></p>
                </div>
            </label>
            <input id="u1809_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u1810" class="ax_default checkbox">
            <label id="u1810_input_label" for="u1810_input" style="position: absolute; left: 0px;">
                <img id="u1810_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1742.svg') }}"/>
                <div id="u1810_text" class="text ">
                    <p><span>TiO2</span></p>
                </div>
            </label>
            <input id="u1810_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u1811" class="ax_default checkbox">
            <label id="u1811_input_label" for="u1811_input" style="position: absolute; left: 0px;">
                <img id="u1811_img" class="img " src="{{ url_for('static', filename='images/viscosity/u1743.svg') }}"/>
                <div id="u1811_text" class="text ">
                    <p><span>Ti2O3</span></p>
                </div>
            </label>
            <input id="u1811_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1812" class="ax_default button">
            <div id="u1812_div" class=""></div>
            <div id="u1812_text" class="text ">
                <p><span>OK</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1813" class="ax_default button">
            <div id="u1813_div" class=""></div>
            <div id="u1813_text" class="text ">
                <p><span>Cancel</span></p>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
</body>
</html>
