<!DOCTYPE html>
<html>
  <head>
    <title>页面 2</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/页面_2/styles.css') }}" type="text/css" rel="stylesheet"/>
      
    <script>  
        document.oncontextmenu = function (event) {  
            event = event || window.event;  
            var targetElement = event.target || event.srcElement;  
            if (!targetElement) return true;  

            if (targetElement.tagName) {  
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||  
                    targetElement.tagName.toLowerCase() === "textarea") {  
                    return true;  
                }  
            }  
            return false;  
        }  
    </script>
    <script src  
    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/页面_2/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- 两个标签页1-另存为 (Dynamic Panel) -->
      <div id="u18978" class="ax_default" data-label="两个标签页1-另存为">
        <div id="u18978_state0" class="panel_state" data-label="State 1" style="">
          <div id="u18978_state0_content" class="panel_state_content">

            <!-- 背景 (Dynamic Panel) -->
            <div id="u18979" class="ax_default" data-label="背景">
              <div id="u18979_state0" class="panel_state" data-label="1" style="">
                <div id="u18979_state0_content" class="panel_state_content">
                </div>
              </div>
              <div id="u18979_state1" class="panel_state" data-label="2" style="visibility: hidden;">
                <div id="u18979_state1_content" class="panel_state_content">
                </div>
              </div>
              <div id="u18979_state2" class="panel_state" data-label="3" style="visibility: hidden;">
                <div id="u18979_state2_content" class="panel_state_content">
                </div>
              </div>
              <div id="u18979_state3" class="panel_state" data-label="4" style="visibility: hidden;">
                <div id="u18979_state3_content" class="panel_state_content">
                </div>
              </div>
              <div id="u18979_state4" class="panel_state" data-label="5" style="visibility: hidden;">
                <div id="u18979_state4_content" class="panel_state_content">
                </div>
              </div>
              <div id="u18979_state5" class="panel_state" data-label="6" style="visibility: hidden;">
                <div id="u18979_state5_content" class="panel_state_content">
                </div>
              </div>
              <div id="u18979_state6" class="panel_state" data-label="7" style="visibility: hidden;">
                <div id="u18979_state6_content" class="panel_state_content">
                </div>
              </div>
              <div id="u18979_state7" class="panel_state" data-label="8" style="visibility: hidden;">
                <div id="u18979_state7_content" class="panel_state_content">
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u18980" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

              <!-- Unnamed (Shape) -->
              <div id="u18981" class="ax_default box_1">
                <img id="u18981_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
                <div id="u18981_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u18982" class="ax_default box_1">
                <img id="u18982_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
                <div id="u18982_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u18983" class="ax_default box_1 selected">
              <div id="u18983_div" class="selected"></div>
              <div id="u18983_text" class="text ">
                <p><span>Table Reaction</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u18984" class="ax_default box_1">
              <div id="u18984_div" class=""></div>
              <div id="u18984_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u18985" class="ax_default box_1">
              <div id="u18985_div" class=""></div>
              <div id="u18985_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Line) -->
            <div id="u18986" class="ax_default line">
              <img id="u18986_img" class="img " src="{{ url_for('static', filename='images/页面_1_1/u18104.svg') }}"/>
              <div id="u18986_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Line) -->
            <div id="u18987" class="ax_default line">
              <img id="u18987_img" class="img " src="{{ url_for('static', filename='images/页面_1_1/u18105.svg') }}"/>
              <div id="u18987_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- 工作区菜单-打开 (Group) -->
            <div id="u18988" class="ax_default" data-label="工作区菜单-打开" data-left="65" data-top="82" data-width="50" data-height="55" layer-opacity="1">

              <!-- Unnamed (Rectangle) -->
              <div id="u18989" class="ax_default box_1">
                <img id="u18989_img" class="img " src="{{ url_for('static', filename='images/页面_1_1/u18107.svg') }}"/>
                <div id="u18989_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Group) -->
              <div id="u18990" class="ax_default" data-left="76" data-top="88" data-width="31" data-height="22" layer-opacity="1">

                <!-- Unnamed (Rectangle) -->
                <div id="u18991" class="ax_default _形状">
                  <div id="u18991_div" class=""></div>
                  <div id="u18991_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>

                <!-- Unnamed (Trapezoid) -->
                <div id="u18992" class="ax_default _流程图形状">
                  <img id="u18992_img" class="img " src="{{ url_for('static', filename='images/页面_1_1/u18110.svg') }}"/>
                  <div id="u18992_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>

                <!-- Unnamed (Parallelogram) -->
                <div id="u18993" class="ax_default _流程图形状">
                  <img id="u18993_img" class="img " src="{{ url_for('static', filename='images/页面_1_1/u18111.svg') }}"/>
                  <div id="u18993_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u18994" class="ax_default _三级标题">
                <div id="u18994_div" class=""></div>
                <div id="u18994_text" class="text ">
                  <p><span>Open</span></p>
                </div>
              </div>
            </div>

            <!-- 工作区菜单-保存-更多 (Group) -->
            <div id="u18995" class="ax_default" data-label="工作区菜单-保存-更多" data-left="126" data-top="106" data-width="41" data-height="6" layer-opacity="1">

              <!-- Unnamed (Rectangle) -->
              <div id="u18996" class="ax_default box_1">
                <img id="u18996_img" class="img " src="{{ url_for('static', filename='images/页面_1_1/u18114.svg') }}"/>
                <div id="u18996_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u18997" class="ax_default box_1">
                <img id="u18997_img" class="img " src="{{ url_for('static', filename='images/页面_1_1/u18115.svg') }}"/>
                <div id="u18997_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>

            <!-- 工作区菜单-保存 (Group) -->
            <div id="u18998" class="ax_default" data-label="工作区菜单-保存" data-left="126" data-top="79" data-width="41" data-height="54" layer-opacity="1">

              <!-- Unnamed (Rectangle) -->
              <div id="u18999" class="ax_default box_1">
                <img id="u18999_img" class="img " src="{{ url_for('static', filename='images/页面_1_1/u18117.svg') }}"/>
                <div id="u18999_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u19000" class="ax_default _三级标题">
                <div id="u19000_div" class=""></div>
                <div id="u19000_text" class="text ">
                  <p><span>Save</span></p>
                </div>
              </div>

              <!-- Unnamed (Image) -->
              <div id="u19001" class="ax_default image">
                <img id="u19001_img" class="img " src="{{ url_for('static', filename='images/表格反应/u3478.png') }}"/>
                <div id="u19001_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u19002" class="ax_default" data-left="14" data-top="82" data-width="45" data-height="51" layer-opacity="1">

              <!-- Unnamed (Rectangle) -->
              <div id="u19003" class="ax_default box_1">
                <div id="u19003_div" class=""></div>
                <div id="u19003_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Stacked File) -->
              <div id="u19004" class="ax_default _流程图形状">
                <img id="u19004_img" class="img " src="{{ url_for('static', filename='images/页面_1_1/u18122.svg') }}"/>
                <div id="u19004_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u19005" class="ax_default _三级标题">
                <div id="u19005_div" class=""></div>
                <div id="u19005_text" class="text ">
                  <p><span>Copy</span></p>
                </div>
              </div>
            </div>

            <!-- 顶部菜单 (Dynamic Panel) -->
            <div id="u19006" class="ax_default" data-label="顶部菜单">
              <div id="u19006_state0" class="panel_state" data-label="State 1" style="">
                <div id="u19006_state0_content" class="panel_state_content">

                  <!-- Unnamed (Rectangle) -->
                  <div id="u19007" class="ax_default box_1">
                    <div id="u19007_div" class=""></div>
                    <div id="u19007_text" class="text " style="display:none; visibility: hidden">
                      <p></p>
                    </div>
                  </div>

                  <!-- 顶部菜单-单位 (Rectangle) -->
                  <div id="u19008" class="ax_default box_1" data-label="顶部菜单-单位">
                    <img id="u19008_img" class="img " src="{{ url_for('static', filename='images/反应物/顶部菜单-单位_u2744.svg') }}"/>
                    <div id="u19008_text" class="text ">
                      <p><span>Units</span></p>
                    </div>
                  </div>

                  <!-- 顶部菜单-数据搜索 (Rectangle) -->
                  <div id="u19009" class="ax_default box_1" data-label="顶部菜单-数据搜索">
                    <img id="u19009_img" class="img " src="{{ url_for('static', filename='images/反应物/顶部菜单-单位_u2744.svg') }}"/>
                    <div id="u19009_text" class="text ">
                      <p><span>Data Search</span></p>
                    </div>
                  </div>

                  <!-- 顶部菜单-帮助 (Rectangle) -->
                  <div id="u19010" class="ax_default box_1" data-label="顶部菜单-帮助">
                    <img id="u19010_img" class="img " src="{{ url_for('static', filename='images/反应物/顶部菜单-单位_u2744.svg') }}"/>
                    <div id="u19010_text" class="text ">
                      <p><span>Help</span></p>
                    </div>
                  </div>

                  <!-- 顶部菜单-帮助 (Rectangle) -->
                  <div id="u19011" class="ax_default box_1" data-label="顶部菜单-帮助">
                    <img id="u19011_img" class="img " src="{{ url_for('static', filename='images/反应物/顶部菜单-单位_u2744.svg') }}"/>
                    <div id="u19011_text" class="text ">
                      <p><span>File</span></p>
                    </div>
                  </div>

                  <!-- 顶部菜单-帮助 (Rectangle) -->
                  <div id="u19012" class="ax_default box_1" data-label="顶部菜单-帮助">
                    <img id="u19012_img" class="img " src="{{ url_for('static', filename='images/反应物/顶部菜单-单位_u2744.svg') }}"/>
                    <div id="u19012_text" class="text ">
                      <p><span>Edit</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u19013" class="ax_default _三级标题">
              <div id="u19013_div" class=""></div>
              <div id="u19013_text" class="text ">
                <p><span>Temperature (K), Pressure (atm), Energy (J), Mass (mol), Volume (L)</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u19014" class="ax_default _段落">
              <div id="u19014_div" class=""></div>
              <div id="u19014_text" class="text ">
                <p><span>Reactants</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u19015" class="ax_default box_1">
              <div id="u19015_div" class=""></div>
              <div id="u19015_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Table) -->
            <div id="u19016" class="ax_default">

              <!-- Unnamed (Table Cell) -->
              <div id="u19017" class="ax_default table_cell">
                <img id="u19017_img" class="img " src="{{ url_for('static', filename='images/页面_1_1/u18135.png') }}"/>
                <div id="u19017_text" class="text ">
                  <p><span>Delta H(J)</span></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u19018" class="ax_default table_cell">
                <img id="u19018_img" class="img " src="{{ url_for('static', filename='images/页面_1_1/u18135.png') }}"/>
                <div id="u19018_text" class="text ">
                  <p><span>Delta G(J)</span></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u19019" class="ax_default table_cell">
                <img id="u19019_img" class="img " src="{{ url_for('static', filename='images/页面_1_1/u18135.png') }}"/>
                <div id="u19019_text" class="text ">
                  <p><span>Delta Vol(L)</span></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u19020" class="ax_default table_cell">
                <img id="u19020_img" class="img " src="{{ url_for('static', filename='images/页面_1_1/u18135.png') }}"/>
                <div id="u19020_text" class="text ">
                  <p><span>Delta S(J/K)</span></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u19021" class="ax_default table_cell">
                <img id="u19021_img" class="img " src="{{ url_for('static', filename='images/页面_1_1/u18135.png') }}"/>
                <div id="u19021_text" class="text ">
                  <p><span>Delta Cp(J/K)</span></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u19022" class="ax_default table_cell">
                <img id="u19022_img" class="img " src="{{ url_for('static', filename='images/页面_1_1/u18135.png') }}"/>
                <div id="u19022_text" class="text ">
                  <p><span>Delta A(J)</span></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u19023" class="ax_default table_cell">
                <img id="u19023_img" class="img " src="{{ url_for('static', filename='images/页面_1_1/u18135.png') }}"/>
                <div id="u19023_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u19024" class="ax_default table_cell">
                <img id="u19024_img" class="img " src="{{ url_for('static', filename='images/页面_1_1/u18142.png') }}"/>
                <div id="u19024_text" class="text ">
                  <p><span>T</span></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u19025" class="ax_default table_cell">
                <img id="u19025_img" class="img " src="{{ url_for('static', filename='images/页面_1_1/u18135.png') }}"/>
                <div id="u19025_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u19026" class="ax_default table_cell">
                <img id="u19026_img" class="img " src="{{ url_for('static', filename='images/页面_1_1/u18135.png') }}"/>
                <div id="u19026_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u19027" class="ax_default table_cell">
                <img id="u19027_img" class="img " src="{{ url_for('static', filename='images/页面_1_1/u18135.png') }}"/>
                <div id="u19027_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u19028" class="ax_default table_cell">
                <img id="u19028_img" class="img " src="{{ url_for('static', filename='images/页面_1_1/u18135.png') }}"/>
                <div id="u19028_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u19029" class="ax_default table_cell">
                <img id="u19029_img" class="img " src="{{ url_for('static', filename='images/页面_1_1/u18135.png') }}"/>
                <div id="u19029_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u19030" class="ax_default table_cell">
                <img id="u19030_img" class="img " src="{{ url_for('static', filename='images/页面_1_1/u18135.png') }}"/>
                <div id="u19030_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u19031" class="ax_default table_cell">
                <img id="u19031_img" class="img " src="{{ url_for('static', filename='images/页面_1_1/u18135.png') }}"/>
                <div id="u19031_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u19032" class="ax_default table_cell">
                <img id="u19032_img" class="img " src="{{ url_for('static', filename='images/页面_1_1/u18142.png') }}"/>
                <div id="u19032_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u19033" class="ax_default table_cell">
                <img id="u19033_img" class="img " src="{{ url_for('static', filename='images/页面_1_1/u18151.png') }}"/>
                <div id="u19033_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u19034" class="ax_default table_cell">
                <img id="u19034_img" class="img " src="{{ url_for('static', filename='images/页面_1_1/u18151.png') }}"/>
                <div id="u19034_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u19035" class="ax_default table_cell">
                <img id="u19035_img" class="img " src="{{ url_for('static', filename='images/页面_1_1/u18151.png') }}"/>
                <div id="u19035_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u19036" class="ax_default table_cell">
                <img id="u19036_img" class="img " src="{{ url_for('static', filename='images/页面_1_1/u18151.png') }}"/>
                <div id="u19036_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u19037" class="ax_default table_cell">
                <img id="u19037_img" class="img " src="{{ url_for('static', filename='images/页面_1_1/u18151.png') }}"/>
                <div id="u19037_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u19038" class="ax_default table_cell">
                <img id="u19038_img" class="img " src="{{ url_for('static', filename='images/页面_1_1/u18151.png') }}"/>
                <div id="u19038_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u19039" class="ax_default table_cell">
                <img id="u19039_img" class="img " src="{{ url_for('static', filename='images/页面_1_1/u18151.png') }}"/>
                <div id="u19039_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u19040" class="ax_default table_cell">
                <img id="u19040_img" class="img " src="{{ url_for('static', filename='images/页面_1_1/u18158.png') }}"/>
                <div id="u19040_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
