<!DOCTYPE html>
<html>
<head>
    <title>页面 2</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/页面_2/styles.css') }}" type="text/css" rel="stylesheet"/>

    <script>
        document.oncontextmenu = function (event) {
            event = event || window.event;
            var targetElement = event.target || event.srcElement;
            if (!targetElement) return true;

            if (targetElement.tagName) {
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||
                    targetElement.tagName.toLowerCase() === "textarea") {
                    return true;
                }
            }
            return false;
        }
    </script>
    <script src
                    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/页面_2/data.js') }}"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () {
            return 'resources/images/transparent.gif';
        };
        $axure.utils.getOtherPath = function () {
            return 'resources/Other.html';
        };
        $axure.utils.getReloadPath = function () {
            return 'resources/reload.html';
        };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- 两个标签页1-另存为 (Dynamic Panel) -->
    <div id="u18178" class="ax_default" data-label="两个标签页1-另存为">
        <div id="u18178_state0" class="panel_state" data-label="State 1" style="">
            <div id="u18178_state0_content" class="panel_state_content">

                <!-- 背景 (Dynamic Panel) -->
                <div id="u18179" class="ax_default" data-label="背景">
                    <div id="u18179_state0" class="panel_state" data-label="1" style="">
                        <div id="u18179_state0_content" class="panel_state_content">
                        </div>
                    </div>
                    <div id="u18179_state1" class="panel_state" data-label="2" style="visibility: hidden;">
                        <div id="u18179_state1_content" class="panel_state_content">
                        </div>
                    </div>
                    <div id="u18179_state2" class="panel_state" data-label="3" style="visibility: hidden;">
                        <div id="u18179_state2_content" class="panel_state_content">
                        </div>
                    </div>
                    <div id="u18179_state3" class="panel_state" data-label="4" style="visibility: hidden;">
                        <div id="u18179_state3_content" class="panel_state_content">
                        </div>
                    </div>
                    <div id="u18179_state4" class="panel_state" data-label="5" style="visibility: hidden;">
                        <div id="u18179_state4_content" class="panel_state_content">
                        </div>
                    </div>
                    <div id="u18179_state5" class="panel_state" data-label="6" style="visibility: hidden;">
                        <div id="u18179_state5_content" class="panel_state_content">
                        </div>
                    </div>
                    <div id="u18179_state6" class="panel_state" data-label="7" style="visibility: hidden;">
                        <div id="u18179_state6_content" class="panel_state_content">
                        </div>
                    </div>
                    <div id="u18179_state7" class="panel_state" data-label="8" style="visibility: hidden;">
                        <div id="u18179_state7_content" class="panel_state_content">
                        </div>
                    </div>
                </div>

                <!-- Unnamed (Group) -->
                <div id="u18180" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33"
                     layer-opacity="1">

                    <!-- Unnamed (Shape) -->
                    <div id="u18181" class="ax_default box_1">
                        <img id="u18181_img" class="img "
                             src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
                        <div id="u18181_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Shape) -->
                    <div id="u18182" class="ax_default box_1">
                        <img id="u18182_img" class="img "
                             src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
                        <div id="u18182_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u18183" class="ax_default box_1 selected">
                    <div id="u18183_div" class="selected"></div>
                    <div id="u18183_text" class="text ">
                        <p><span>Table Reaction</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u18184" class="ax_default box_1">
                    <div id="u18184_div" class=""></div>
                    <div id="u18184_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u18185" class="ax_default box_1">
                    <div id="u18185_div" class=""></div>
                    <div id="u18185_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Line) -->
                <div id="u18186" class="ax_default line">
                    <img id="u18186_img" class="img "
                         src="{{ url_for('static', filename='images/页面_1_1/u17304.svg') }}"/>
                    <div id="u18186_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Line) -->
                <div id="u18187" class="ax_default line">
                    <img id="u18187_img" class="img "
                         src="{{ url_for('static', filename='images/页面_1_1/u17305.svg') }}"/>
                    <div id="u18187_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- 工作区菜单-打开 (Group) -->
                <div id="u18188" class="ax_default" data-label="工作区菜单-打开" data-left="65" data-top="82"
                     data-width="50" data-height="55" layer-opacity="1">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u18189" class="ax_default box_1">
                        <img id="u18189_img" class="img "
                             src="{{ url_for('static', filename='images/页面_1_1/u17307.svg') }}"/>
                        <div id="u18189_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Group) -->
                    <div id="u18190" class="ax_default" data-left="76" data-top="88" data-width="31" data-height="22"
                         layer-opacity="1">

                        <!-- Unnamed (Rectangle) -->
                        <div id="u18191" class="ax_default _形状">
                            <div id="u18191_div" class=""></div>
                            <div id="u18191_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>

                        <!-- Unnamed (Trapezoid) -->
                        <div id="u18192" class="ax_default _流程图形状">
                            <img id="u18192_img" class="img "
                                 src="{{ url_for('static', filename='images/页面_1_1/u17310.svg') }}"/>
                            <div id="u18192_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>

                        <!-- Unnamed (Parallelogram) -->
                        <div id="u18193" class="ax_default _流程图形状">
                            <img id="u18193_img" class="img "
                                 src="{{ url_for('static', filename='images/页面_1_1/u17311.svg') }}"/>
                            <div id="u18193_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u18194" class="ax_default _三级标题">
                        <div id="u18194_div" class=""></div>
                        <div id="u18194_text" class="text ">
                            <p><span>Open</span></p>
                        </div>
                    </div>
                </div>

                <!-- 工作区菜单-保存-更多 (Group) -->
                <div id="u18195" class="ax_default" data-label="工作区菜单-保存-更多" data-left="126" data-top="106"
                     data-width="41" data-height="6" layer-opacity="1">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u18196" class="ax_default box_1">
                        <img id="u18196_img" class="img "
                             src="{{ url_for('static', filename='images/页面_1_1/u17314.svg') }}"/>
                        <div id="u18196_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Shape) -->
                    <div id="u18197" class="ax_default box_1">
                        <img id="u18197_img" class="img "
                             src="{{ url_for('static', filename='images/页面_1_1/u17315.svg') }}"/>
                        <div id="u18197_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>

                <!-- 工作区菜单-保存 (Group) -->
                <div id="u18198" class="ax_default" data-label="工作区菜单-保存" data-left="126" data-top="79"
                     data-width="41" data-height="54" layer-opacity="1">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u18199" class="ax_default box_1">
                        <img id="u18199_img" class="img "
                             src="{{ url_for('static', filename='images/页面_1_1/u17317.svg') }}"/>
                        <div id="u18199_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u18200" class="ax_default _三级标题">
                        <div id="u18200_div" class=""></div>
                        <div id="u18200_text" class="text ">
                            <p><span>Save</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u18201" class="ax_default image">
                        <img id="u18201_img" class="img "
                             src="{{ url_for('static', filename='images/表格反应/u3753.png') }}"/>
                        <div id="u18201_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (Group) -->
                <div id="u18202" class="ax_default" data-left="14" data-top="82" data-width="45" data-height="51"
                     layer-opacity="1">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u18203" class="ax_default box_1">
                        <div id="u18203_div" class=""></div>
                        <div id="u18203_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Stacked File) -->
                    <div id="u18204" class="ax_default _流程图形状">
                        <img id="u18204_img" class="img "
                             src="{{ url_for('static', filename='images/页面_1_1/u17322.svg') }}"/>
                        <div id="u18204_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u18205" class="ax_default _三级标题">
                        <div id="u18205_div" class=""></div>
                        <div id="u18205_text" class="text ">
                            <p><span>Copy</span></p>
                        </div>
                    </div>
                </div>

                <!-- 顶部菜单 (Dynamic Panel) -->
                <div id="u18206" class="ax_default" data-label="顶部菜单">
                    <div id="u18206_state0" class="panel_state" data-label="State 1" style="">
                        <div id="u18206_state0_content" class="panel_state_content">

                            <!-- Unnamed (Rectangle) -->
                            <div id="u18207" class="ax_default box_1">
                                <div id="u18207_div" class=""></div>
                                <div id="u18207_text" class="text " style="display:none; visibility: hidden">
                                    <p></p>
                                </div>
                            </div>

                            <!-- 顶部菜单-单位 (Rectangle) -->
                            <div id="u18208" class="ax_default box_1" data-label="顶部菜单-单位">
                                <img id="u18208_img" class="img "
                                     src="{{ url_for('static', filename='images/反应物/顶部菜单-单位_u3019.svg') }}"/>
                                <div id="u18208_text" class="text ">
                                    <p><span>Units</span></p>
                                </div>
                            </div>

                            <!-- 顶部菜单-数据搜索 (Rectangle) -->
                            <div id="u18209" class="ax_default box_1" data-label="顶部菜单-数据搜索">
                                <img id="u18209_img" class="img "
                                     src="{{ url_for('static', filename='images/反应物/顶部菜单-单位_u3019.svg') }}"/>
                                <div id="u18209_text" class="text ">
                                    <p><span>Data Search</span></p>
                                </div>
                            </div>

                            <!-- 顶部菜单-帮助 (Rectangle) -->
                            <div id="u18210" class="ax_default box_1" data-label="顶部菜单-帮助">
                                <img id="u18210_img" class="img "
                                     src="{{ url_for('static', filename='images/反应物/顶部菜单-单位_u3019.svg') }}"/>
                                <div id="u18210_text" class="text ">
                                    <p><span>Help</span></p>
                                </div>
                            </div>

                            <!-- 顶部菜单-帮助 (Rectangle) -->
                            <div id="u18211" class="ax_default box_1" data-label="顶部菜单-帮助">
                                <img id="u18211_img" class="img "
                                     src="{{ url_for('static', filename='images/反应物/顶部菜单-单位_u3019.svg') }}"/>
                                <div id="u18211_text" class="text ">
                                    <p><span>File</span></p>
                                </div>
                            </div>

                            <!-- 顶部菜单-帮助 (Rectangle) -->
                            <div id="u18212" class="ax_default box_1" data-label="顶部菜单-帮助">
                                <img id="u18212_img" class="img "
                                     src="{{ url_for('static', filename='images/反应物/顶部菜单-单位_u3019.svg') }}"/>
                                <div id="u18212_text" class="text ">
                                    <p><span>Edit</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u18213" class="ax_default _三级标题">
                    <div id="u18213_div" class=""></div>
                    <div id="u18213_text" class="text ">
                        <p><span>Temperature (K), Pressure (atm), Energy (J), Mass (mol), Volume (L)</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u18214" class="ax_default _段落">
                    <div id="u18214_div" class=""></div>
                    <div id="u18214_text" class="text ">
                        <p><span>Reactants</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u18215" class="ax_default box_1">
                    <div id="u18215_div" class=""></div>
                    <div id="u18215_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Table) -->
                <div id="u18216" class="ax_default">

                    <!-- Unnamed (Table Cell) -->
                    <div id="u18217" class="ax_default table_cell">
                        <img id="u18217_img" class="img "
                             src="{{ url_for('static', filename='images/页面_1_1/u17335.png') }}"/>
                        <div id="u18217_text" class="text ">
                            <p><span>Delta H(J)</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u18218" class="ax_default table_cell">
                        <img id="u18218_img" class="img "
                             src="{{ url_for('static', filename='images/页面_1_1/u17335.png') }}"/>
                        <div id="u18218_text" class="text ">
                            <p><span>Delta G(J)</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u18219" class="ax_default table_cell">
                        <img id="u18219_img" class="img "
                             src="{{ url_for('static', filename='images/页面_1_1/u17335.png') }}"/>
                        <div id="u18219_text" class="text ">
                            <p><span>Delta Vol(L)</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u18220" class="ax_default table_cell">
                        <img id="u18220_img" class="img "
                             src="{{ url_for('static', filename='images/页面_1_1/u17335.png') }}"/>
                        <div id="u18220_text" class="text ">
                            <p><span>Delta S(J/K)</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u18221" class="ax_default table_cell">
                        <img id="u18221_img" class="img "
                             src="{{ url_for('static', filename='images/页面_1_1/u17335.png') }}"/>
                        <div id="u18221_text" class="text ">
                            <p><span>Delta Cp(J/K)</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u18222" class="ax_default table_cell">
                        <img id="u18222_img" class="img "
                             src="{{ url_for('static', filename='images/页面_1_1/u17335.png') }}"/>
                        <div id="u18222_text" class="text ">
                            <p><span>Delta A(J)</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u18223" class="ax_default table_cell">
                        <img id="u18223_img" class="img "
                             src="{{ url_for('static', filename='images/页面_1_1/u17335.png') }}"/>
                        <div id="u18223_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u18224" class="ax_default table_cell">
                        <img id="u18224_img" class="img "
                             src="{{ url_for('static', filename='images/页面_1_1/u17342.png') }}"/>
                        <div id="u18224_text" class="text ">
                            <p><span>T</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u18225" class="ax_default table_cell">
                        <img id="u18225_img" class="img "
                             src="{{ url_for('static', filename='images/页面_1_1/u17335.png') }}"/>
                        <div id="u18225_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u18226" class="ax_default table_cell">
                        <img id="u18226_img" class="img "
                             src="{{ url_for('static', filename='images/页面_1_1/u17335.png') }}"/>
                        <div id="u18226_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u18227" class="ax_default table_cell">
                        <img id="u18227_img" class="img "
                             src="{{ url_for('static', filename='images/页面_1_1/u17335.png') }}"/>
                        <div id="u18227_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u18228" class="ax_default table_cell">
                        <img id="u18228_img" class="img "
                             src="{{ url_for('static', filename='images/页面_1_1/u17335.png') }}"/>
                        <div id="u18228_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u18229" class="ax_default table_cell">
                        <img id="u18229_img" class="img "
                             src="{{ url_for('static', filename='images/页面_1_1/u17335.png') }}"/>
                        <div id="u18229_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u18230" class="ax_default table_cell">
                        <img id="u18230_img" class="img "
                             src="{{ url_for('static', filename='images/页面_1_1/u17335.png') }}"/>
                        <div id="u18230_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u18231" class="ax_default table_cell">
                        <img id="u18231_img" class="img "
                             src="{{ url_for('static', filename='images/页面_1_1/u17335.png') }}"/>
                        <div id="u18231_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u18232" class="ax_default table_cell">
                        <img id="u18232_img" class="img "
                             src="{{ url_for('static', filename='images/页面_1_1/u17342.png') }}"/>
                        <div id="u18232_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u18233" class="ax_default table_cell">
                        <img id="u18233_img" class="img "
                             src="{{ url_for('static', filename='images/页面_1_1/u17351.png') }}"/>
                        <div id="u18233_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u18234" class="ax_default table_cell">
                        <img id="u18234_img" class="img "
                             src="{{ url_for('static', filename='images/页面_1_1/u17351.png') }}"/>
                        <div id="u18234_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u18235" class="ax_default table_cell">
                        <img id="u18235_img" class="img "
                             src="{{ url_for('static', filename='images/页面_1_1/u17351.png') }}"/>
                        <div id="u18235_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u18236" class="ax_default table_cell">
                        <img id="u18236_img" class="img "
                             src="{{ url_for('static', filename='images/页面_1_1/u17351.png') }}"/>
                        <div id="u18236_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u18237" class="ax_default table_cell">
                        <img id="u18237_img" class="img "
                             src="{{ url_for('static', filename='images/页面_1_1/u17351.png') }}"/>
                        <div id="u18237_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u18238" class="ax_default table_cell">
                        <img id="u18238_img" class="img "
                             src="{{ url_for('static', filename='images/页面_1_1/u17351.png') }}"/>
                        <div id="u18238_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u18239" class="ax_default table_cell">
                        <img id="u18239_img" class="img "
                             src="{{ url_for('static', filename='images/页面_1_1/u17351.png') }}"/>
                        <div id="u18239_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u18240" class="ax_default table_cell">
                        <img id="u18240_img" class="img "
                             src="{{ url_for('static', filename='images/页面_1_1/u17358.png') }}"/>
                        <div id="u18240_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
</body>
</html>
