<!DOCTYPE html>
<html>
<head>
    <title>首页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/首页/styles.css') }}" type="text/css" rel="stylesheet"/>

    <script>
        document.oncontextmenu = function (event) {
            event = event || window.event;
            var targetElement = event.target || event.srcElement;
            if (!targetElement) return true;

            if (targetElement.tagName) {
                if (targetElement.tagName.toLowerCase() === "input" && targetElement.type.toLowerCase() === "text" ||
                    targetElement.tagName.toLowerCase() === "textarea") {
                    return true;
                }
            }
            return false;
        }
    </script>
    <script src
                    ="{{ url_for('static', filename='resources/scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/首页/data.js') }}"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () {
            return 'resources/images/transparent.gif';
        };
        $axure.utils.getOtherPath = function () {
            return 'resources/Other.html';
        };
        $axure.utils.getReloadPath = function () {
            return 'resources/reload.html';
        };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- 内部框架 (Inline Frame) -->
    <div id="u10422" class="ax_default" data-label="内部框架">
        <iframe id="u10422_input" data-label="内部框架" allowfullscreen ></iframe>
    </div>

    <!-- 左侧二级菜单 (Dynamic Panel) -->
    <div id="u10423" class="ax_default" data-label="左侧二级菜单">
        <div id="u10423_state0" class="panel_state" data-label="框架" style="">
            <div id="u10423_state0_content" class="panel_state_content">

                <!-- 二级菜单 (Dynamic Panel) -->
                <div id="u10424" class="ax_default" data-label="二级菜单">
                    <div id="u10424_state0" class="panel_state" data-label="Manipulate" style="">
                        <div id="u10424_state0_content" class="panel_state_content">

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10425" class="ax_default box_1 selected" selectiongroup="二级菜单">
                                <div id="u10425_div" class="selected"></div>
                                <div id="u10425_text" class="text ">
                                    <p><span>&#149; Results</span></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10426" class="ax_default box_1" selectiongroup="二级菜单">
                                <div id="u10426_div" class=""></div>
                                <div id="u10426_text" class="text ">
                                    <p><span>&#149; Mixture</span></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10427" class="ax_default box_1" selectiongroup="二级菜单">
                                <div id="u10427_div" class=""></div>
                                <div id="u10427_text" class="text ">
                                    <p><span>&#149; XML</span></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10428" class="ax_default box_1" selectiongroup="二级菜单">
                                <div id="u10428_div" class=""></div>
                                <div id="u10428_text" class="text ">
                                    <p><span>&#149; Figure</span></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10429" class="ax_default box_1" selectiongroup="二级菜单">
                                <div id="u10429_div" class=""></div>
                                <div id="u10429_text" class="text ">
                                    <p><span>&#149; Vis</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="u10424_state1" class="panel_state" data-label="Database" style="visibility: hidden;">
                        <div id="u10424_state1_content" class="panel_state_content">

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10430" class="ax_default box_1" selectiongroup="二级菜单">
                                <div id="u10430_div" class=""></div>
                                <div id="u10430_text" class="text ">
                                    <p><span>&#149; View Data</span></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10431" class="ax_default box_1" selectiongroup="二级菜单">
                                <div id="u10431_div" class=""></div>
                                <div id="u10431_text" class="text ">
                                    <p><span>&#149; Compound</span></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10432" class="ax_default box_1" selectiongroup="二级菜单">
                                <div id="u10432_div" class=""></div>
                                <div id="u10432_text" class="text ">
                                    <p><span>&#149; Solution</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="u10424_state2" class="panel_state" data-label="Calculate" style="visibility: hidden;">
                        <div id="u10424_state2_content" class="panel_state_content">

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10433" class="ax_default box_1" selectiongroup="二级菜单">
                                <div id="u10433_div" class=""></div>
                                <div id="u10433_text" class="text ">
                                    <p><span>&#149; Reaction</span></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10434" class="ax_default box_1" selectiongroup="二级菜单">
                                <div id="u10434_div" class=""></div>
                                <div id="u10434_text" class="text ">
                                    <p><span>&#149; Equilib</span></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10435" class="ax_default box_1" selectiongroup="二级菜单">
                                <div id="u10435_div" class=""></div>
                                <div id="u10435_text" class="text ">
                                    <p><span>&#149; Phase Diagram</span></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10436" class="ax_default box_1" selectiongroup="二级菜单">
                                <div id="u10436_div" class=""></div>
                                <div id="u10436_text" class="text ">
                                    <p><span>&#149; Predom</span></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10437" class="ax_default box_1" selectiongroup="二级菜单">
                                <div id="u10437_div" class=""></div>
                                <div id="u10437_text" class="text ">
                                    <p><span>&#149; EpH</span></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10438" class="ax_default box_1" selectiongroup="二级菜单">
                                <div id="u10438_div" class=""></div>
                                <div id="u10438_text" class="text ">
                                    <p><span>&#149; Optimize</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 左侧一级菜单 (Dynamic Panel) -->
    <div id="u10439" class="ax_default" data-label="左侧一级菜单">
        <div id="u10439_state0" class="panel_state" data-label="框架" style="">
            <div id="u10439_state0_content" class="panel_state_content">

                <!-- Unnamed (Rectangle) -->
                <div id="u10440" class="ax_default box_1" selectiongroup="一级分类">
                    <img id="u10440_img" class="img " src="{{ url_for('static', filename='images/模板_1/u19.svg') }}"/>
                    <div id="u10440_text" class="text ">
                        <p><span>Database</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u10441" class="ax_default box_1" selectiongroup="一级分类">
                    <img id="u10441_img" class="img " src="{{ url_for('static', filename='images/模板_1/u20.svg') }}"/>
                    <div id="u10441_text" class="text ">
                        <p><span>Calculate</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u10442" class="ax_default box_1 selected" selectiongroup="一级分类">
                    <img id="u10442_img" class="img " src="{{ url_for('static', filename='images/模板_1/u21.svg') }}"/>
                    <div id="u10442_text" class="text ">
                        <p><span>Manipulate</span></p>
                    </div>
                </div>

                <!-- 三角形 (Shape) -->
                <div id="u10443" class="ax_default box_1" data-label="三角形">
                    <img id="u10443_img" class="img "
                         src="{{ url_for('static', filename='images/模板_1/三角形_u22.svg') }}"/>
                    <div id="u10443_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- 化学 (Group) -->
                <div id="u10444" class="ax_default" data-label="化学" data-left="6" data-top="12" data-width="30"
                     data-height="28" layer-opacity="1">

                    <!-- Unnamed (Ellipse) -->
                    <div id="u10445" class="ax_default ellipse">
                        <img id="u10445_img" class="img "
                             src="{{ url_for('static', filename='images/模板_1/u24.svg') }}"/>
                        <div id="u10445_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Shape) -->
                    <div id="u10446" class="ax_default icon">
                        <img id="u10446_img" class="img "
                             src="{{ url_for('static', filename='images/模板_1/u25.svg') }}"/>
                        <div id="u10446_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>

                <!-- 数据库 (Group) -->
                <div id="u10447" class="ax_default" data-label="数据库" data-left="6" data-top="66" data-width="31"
                     data-height="29" layer-opacity="1">

                    <!-- Unnamed (Ellipse) -->
                    <div id="u10448" class="ax_default ellipse">
                        <img id="u10448_img" class="img "
                             src="{{ url_for('static', filename='images/模板_1/u27.svg') }}"/>
                        <div id="u10448_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Shape) -->
                    <div id="u10449" class="ax_default icon">
                        <img id="u10449_img" class="img "
                             src="{{ url_for('static', filename='images/模板_1/u28.svg') }}"/>
                        <div id="u10449_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>

                <!-- Least Square (Group) -->
                <div id="u10450" class="ax_default" data-label="Least Square" data-left="8" data-top="121"
                     data-width="29" data-height="27" layer-opacity="1">

                    <!-- Unnamed (Ellipse) -->
                    <div id="u10451" class="ax_default ellipse">
                        <img id="u10451_img" class="img "
                             src="{{ url_for('static', filename='images/模板_1/u30.svg') }}"/>
                        <div id="u10451_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Shape) -->
                    <div id="u10452" class="ax_default icon">
                        <img id="u10452_img" class="img "
                             src="{{ url_for('static', filename='images/模板_1/u31.svg') }}"/>
                        <div id="u10452_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 背景 (Dynamic Panel) -->
    <div id="u10453" class="ax_default" data-label="背景">
        <div id="u10453_state0" class="panel_state" data-label="1" style="">
            <div id="u10453_state0_content" class="panel_state_content">
            </div>
        </div>
        <div id="u10453_state1" class="panel_state" data-label="2" style="visibility: hidden;">
            <div id="u10453_state1_content" class="panel_state_content">
            </div>
        </div>
        <div id="u10453_state2" class="panel_state" data-label="3" style="visibility: hidden;">
            <div id="u10453_state2_content" class="panel_state_content">
            </div>
        </div>
        <div id="u10453_state3" class="panel_state" data-label="4" style="visibility: hidden;">
            <div id="u10453_state3_content" class="panel_state_content">
            </div>
        </div>
        <div id="u10453_state4" class="panel_state" data-label="5" style="visibility: hidden;">
            <div id="u10453_state4_content" class="panel_state_content">
            </div>
        </div>
        <div id="u10453_state5" class="panel_state" data-label="6" style="visibility: hidden;">
            <div id="u10453_state5_content" class="panel_state_content">
            </div>
        </div>
        <div id="u10453_state6" class="panel_state" data-label="7" style="visibility: hidden;">
            <div id="u10453_state6_content" class="panel_state_content">
            </div>
        </div>
        <div id="u10453_state7" class="panel_state" data-label="8" style="visibility: hidden;">
            <div id="u10453_state7_content" class="panel_state_content">
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u10454" class="ax_default" data-left="14" data-top="7" data-width="30" data-height="33" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u10455" class="ax_default box_1">
            <img id="u10455_img" class="img " src="{{ url_for('static', filename='images/模板_1/u34.svg') }}"/>
            <div id="u10455_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u10456" class="ax_default box_1">
            <img id="u10456_img" class="img " src="{{ url_for('static', filename='images/模板_1/u35.svg') }}"/>
            <div id="u10456_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u10457" class="ax_default box_1 selected">
        <div id="u10457_div" class="selected"></div>
        <div id="u10457_text" class="text ">
            <p><span>Home Page</span></p>
        </div>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u10458" class="ax_default box_1">
        <img id="u10458_img" class="img " src="{{ url_for('static', filename='images/模板_1/u37.svg') }}"/>
        <div id="u10458_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u10459" class="ax_default box_1" title="常用菜单">
        <img id="u10459_img" class="img " src="{{ url_for('static', filename='images/模板_1/u38.svg') }}"/>
        <div id="u10459_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u10460" class="ax_default box_1" title="更换皮肤">
        <img id="u10460_img" class="img " src="{{ url_for('static', filename='images/模板_1/u39.svg') }}"/>
        <div id="u10460_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u10461" class="ax_default box_1">
        <img id="u10461_img" class="img " src="{{ url_for('static', filename='images/模板_1/u40.svg') }}"/>
        <div id="u10461_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u10462" class="ax_default box_1" title="退出登录">
        <img id="u10462_img" class="img " src="{{ url_for('static', filename='images/模板_1/u41.svg') }}"/>
        <div id="u10462_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u10463" class="ax_default box_1" title="系统消息">
        <img id="u10463_img" class="img " src="{{ url_for('static', filename='images/模板_1/u38.svg') }}"/>
        <div id="u10463_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u10464" class="ax_default icon">
        <img id="u10464_img" class="img " src="{{ url_for('static', filename='images/模板_1/u43.svg') }}"/>
        <div id="u10464_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
</body>
</html>
